DROP VIEW [Revitem_vw]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shrikant S.
-- Create date: 
-- Description:	This View is used in Reversal gst.
-- Remark: 
-- =============================================
CREATE view [Revitem_vw]
as
select entry_ty,tran_cd,ac_id,date,item from epitem where (cgsrt_amt+sgsrt_amt+igsrt_amt)>0 		
union all
select entry_ty,tran_cd,ac_id,date,item from bpitem where (cgsrt_amt+sgsrt_amt+igsrt_amt)>0 
union all
select entry_ty,tran_cd,ac_id,date,item from cpitem where (cgsrt_amt+sgsrt_amt+igsrt_amt)>0 
union all
select entry_ty,tran_cd,ac_id,date,item from PTitem where (cgsrt_amt+sgsrt_amt+igsrt_amt)>0
GO
