DROP VIEW [SerTaxMain_vw]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shrikant S.
-- Create date: 
-- Description:	This View is used in Services Tax Reports.
-- Remark: 
-- =============================================
CREATE view [SerTaxMain_vw]
as
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt,inv_no,serty,tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no=space(1),net_amt,l_yn,serrule,u_arrears=space(1),u_chalno='',u_chaldt='',sertype,sabtper,sabtamt,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0,'' as ServTxSrNo from epmain		-->Bug23384
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt,inv_no,serty,tdspaytype,gro_amt,tot_deduc,tot_tax,bank_nm,cheq_no,net_amt,l_yn,serrule,u_arrears,u_chalno,u_chaldt,sertype,sabtper,sabtamt,Narr,inv_sr,sDocNo,sDocDt,cons_id=0, space(1) as ServTxSrNo from bpmain
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt,inv_no,serty,tdspaytype,gro_amt,tot_deduc,tot_tax,bank_nm,cheq_no,net_amt,l_yn,serrule,u_arrears=space(1),u_chalno='',u_chaldt='',sertype,sabtper,sabtamt,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, space(1) as ServTxSrNo from cpmain
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt=space(1),inv_no,serty,tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no=space(1),net_amt,l_yn,serrule,u_arrears=space(1),u_chalno='',u_chaldt='',sertype='',sabtper,sabtamt,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, space(1) as ServTxSrNo from sbmain
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt=space(1),inv_no,serty,tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no=space(1),net_amt,l_yn,serrule,u_arrears=space(1),u_chalno='',u_chaldt='',sertype='',sabtper,sabtamt,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, space(1) as ServTxSrNo from sdmain
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt,inv_no,serty,tdspaytype,gro_amt,tot_deduc,tot_tax,bank_nm,cheq_no,net_amt,l_yn,serrule,u_arrears=space(1),u_chalno='',u_chaldt='',sertype='',sabtper,sabtamt,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, space(1) as ServTxSrNo from brmain
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt='',inv_no,serty,tdspaytype,gro_amt,tot_deduc,tot_tax,bank_nm,cheq_no,net_amt,l_yn,serrule,u_arrears=space(1),u_chalno='',u_chaldt='',sertype='',sabtper,sabtamt,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, space(1) as ServTxSrNo from crmain
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt='',inv_no,serty=space(1),tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no,net_amt,l_yn,serrule=space(1),u_arrears,u_chalno='',u_chaldt='',sertype,sabtper=0,sabtamt=0,Narr,inv_sr,sDocNo='',sDocDt='',cons_id, ServTxSrNo from Jvmain	--Added By Shrikant S. on 11/09/2012 for Bug-5779
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt='',inv_no,serty=space(1),tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no,net_amt,l_yn,serrule=space(1),u_arrears='',u_chalno='',u_chaldt='',sertype='',sabtper=0,sabtamt=0,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, ServTxSrNo from IRmain
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt='',inv_no,serty=space(1),tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no,net_amt,l_yn,serrule=space(1),u_arrears='',u_chalno='',u_chaldt='',sertype='',sabtper=0,sabtamt=0,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, space(1) as ServTxSrNo from Obmain
union all
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt=Date,inv_no,serty=space(1),tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no,net_amt,l_yn,serrule=space(1),u_arrears='',u_chalno='',u_chaldt='',sertype='',sabtper=0,sabtamt=0,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, ServTxSrNo from Stmain
union all
--select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt=space(1),inv_no,serty,tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no=space(1),net_amt,l_yn,serrule,u_arrears=space(1),u_chalno='',u_chaldt='',sertype='',sabtper,sabtamt,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, space(1) as ServTxSrNo from P4main  --Commented by Priyanka B on 19032018 for Bug-31214
select entry_ty,tran_cd,ac_id,Pinvno,Pinvdt,date,u_cldt=space(1),inv_no,serty='',tdspaytype=0,gro_amt,tot_deduc,tot_tax,bank_nm=space(1),cheq_no=space(1),net_amt,l_yn,serrule='',u_arrears=space(1),u_chalno='',u_chaldt='',sertype='',sabtper=0.00,sabtamt=0.00,Narr,inv_sr,sDocNo='',sDocDt='',cons_id=0, space(1) as ServTxSrNo from Ptmain  --Modified by Priyanka B on 19032018 for Bug-31214
GO
