DROP VIEW [STKLVIEW]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [STKLVIEW] AS
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL
 FROM STITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL
 FROM SBITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM PTITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM ARITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM OBITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM BPITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM 
BRITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM CNITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM CPITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM IIITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM PCITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM POITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM SOITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM SQITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM SRITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM DCITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM CRITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM DNITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM EPITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM ESITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM IPITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM IRITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM JVITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM OPITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM PRITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM SSITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM EQITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' ' 
UNION 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL 
FROM TRITEM  WHERE (PMKEY='+'OR PMKEY='-') AND DC_NO=' '
GO
