DROP FUNCTION [funMonthDays]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Rupesh
-- Create date: 08/09/2012
-- Description:This Function is Used to calculate Month Days
-- Modify date:
-- Remark:
-- =============================================
CREATE Function [funMonthDays]
( @iMonth int,@iYear int)
Returns int
as 
Begin
	Declare @MonthDays int
	Select  @MonthDays= case when @iMonth in (1,3,5,7,8,10,12) then 31 else 30 end
	if ( @iMonth=2)
	begin
		if(isDate(rtrim(Cast(@iYear as varchar))+'/'+rtrim(Cast(@iMonth as varchar))+'/'+'29'))=1
		begin
			Set @MonthDays=29
		end
		else
		begin
			Set @MonthDays=28
		end
	
	end
	return @MonthDays
End
GO
