DROP PROCEDURE [AUTO_OP_SELECT_INV_NO_DETAIL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author      : Raghavendra Joshi
-- Create date : 04/01/2012
-- Description :	
-- =============================================

CREATE Procedure [AUTO_OP_SELECT_INV_NO_DETAIL]
(
@PrimaryId Int = 0
)
As
------EXEC [AUTO_OP_SELECT_INV_NO_DETAIL] 8
SELECT Top 1 
	a.PrimaryId
	,b.Inv_no as IP_Inv_no
	,c.Inv_no as OP_Inv_no
	,d.Inv_no as WK_Inv_no
	FROM Auto_op_head a
	LEFt Join IPMain b ON (a.Ip_Tran_cd = b.Tran_cd)
	LEFT Join OPMain c ON (a.op_Tran_cd = c.Tran_cd)
	LEFT Join Main d ON (a.Wk_Tran_cd = d.Tran_cd)
	WHERE a.PrimaryId = @PrimaryId
GO
