DROP PROCEDURE [NAVIGATE_DADOS_WIZARD_DATA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--*************************************************************--
-- Procedure Name : NAVIGATE_DADOS_WIZARD_DATA
-- Description	  : This procedure is used to retrieve the data from Dados Report table to Navigate
-- Created By/On/For: Sachin N. S. on 05/04/2014 for Bug-4524
--*************************************************************--
CREATE PROCEDURE [NAVIGATE_DADOS_WIZARD_DATA]
@POSITION VARCHAR(10), @REPID INT
AS
BEGIN
	DECLARE @RETROW VARCHAR(4)
	SELECT @RETROW = '1111'
	IF @POSITION='FIRST'
		BEGIN
			SELECT TOP 1 * FROM USREP ORDER BY REPID
			IF (SELECT COUNT(REPID) FROM USREP A WHERE (1) = (SELECT COUNT(REPID) FROM USREP B WHERE B.REPID>A.REPID)) > 0
				SELECT @RETROW = '0011'
		END
	IF @POSITION='PREVIOUS'
		BEGIN
			SELECT TOP 1 * FROM USREP WHERE REPID<@REPID ORDER BY REPID DESC
			IF (SELECT COUNT(REPID) FROM USREP A WHERE (1) = (SELECT COUNT(REPID) FROM USREP B WHERE B.REPID<A.REPID) AND A.REPID<@REPID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(REPID) FROM USREP A WHERE (1) <= (SELECT COUNT(REPID) FROM USREP B WHERE B.REPID>=A.REPID) AND A.REPID>=@REPID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END
	IF @POSITION='NEXT'
		BEGIN
			SELECT TOP 1 * FROM USREP WHERE REPID>@REPID ORDER BY REPID ASC
			IF (SELECT COUNT(REPID) FROM USREP A WHERE (1) <= (SELECT COUNT(REPID) FROM USREP B WHERE B.REPID<=A.REPID) AND A.REPID<=@REPID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(REPID) FROM USREP A WHERE (1) = (SELECT COUNT(REPID) FROM USREP B WHERE B.REPID>A.REPID) AND A.REPID>@REPID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END
	IF @POSITION='LAST'
		BEGIN
			SELECT TOP 1 * FROM USREP ORDER BY REPID DESC
			IF (SELECT COUNT(REPID) FROM USREP A WHERE (1) = (SELECT COUNT(REPID) FROM USREP B WHERE B.REPID<A.REPID)) > 0
				SELECT @RETROW = '1100'
		END
	IF @POSITION=''
		BEGIN
			SELECT TOP 1 * FROM USREP WHERE REPID=@REPID ORDER BY REPID 
			IF (SELECT COUNT(REPID) FROM USREP A WHERE (1) = (SELECT COUNT(REPID) FROM USREP B WHERE B.REPID<A.REPID) AND A.REPID<@REPID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(REPID) FROM USREP A WHERE (1) = (SELECT COUNT(REPID) FROM USREP B WHERE B.REPID>A.REPID) AND A.REPID>@REPID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END

	SELECT @RETROW
END
GO
