DROP PROCEDURE [NAVIGATE_DADOS_PARA_MAST_DATA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [NAVIGATE_DADOS_PARA_MAST_DATA]
@POSITION VARCHAR(10), @PARAMETERID INT
AS
BEGIN
	DECLARE @RETROW VARCHAR(4)
	SELECT @RETROW = '1111'
	IF @POSITION='FIRST'
		BEGIN
			SELECT TOP 1 A.*,REPQRY=ISNULL(B.REPQRY,'') FROM PARA_MASTER A LEFT JOIN USQRY B ON A.QUERYID=B.QRYID ORDER BY PARAMETERID
			IF (SELECT COUNT(PARAMETERID) FROM PARA_MASTER A WHERE (1) = (SELECT COUNT(PARAMETERID) FROM PARA_MASTER B WHERE B.PARAMETERID>A.PARAMETERID)) > 0
				SELECT @RETROW = '0011'
		END
	IF @POSITION='PREVIOUS'
		BEGIN
			SELECT TOP 1 A.*,REPQRY=ISNULL(B.REPQRY,'') FROM PARA_MASTER A LEFT JOIN USQRY B ON A.QUERYID=B.QRYID WHERE PARAMETERID<@PARAMETERID ORDER BY PARAMETERID DESC
			IF (SELECT COUNT(PARAMETERID) FROM PARA_MASTER A WHERE (1) = (SELECT COUNT(PARAMETERID) FROM PARA_MASTER B WHERE B.PARAMETERID<A.PARAMETERID) AND A.PARAMETERID<@PARAMETERID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(PARAMETERID) FROM PARA_MASTER A WHERE (1) <= (SELECT COUNT(PARAMETERID) FROM PARA_MASTER B WHERE B.PARAMETERID>=A.PARAMETERID) AND A.PARAMETERID>=@PARAMETERID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END
	IF @POSITION='NEXT'
		BEGIN
			SELECT TOP 1 A.*,REPQRY=ISNULL(B.REPQRY,'') FROM PARA_MASTER A LEFT JOIN USQRY B ON A.QUERYID=B.QRYID WHERE PARAMETERID>@PARAMETERID ORDER BY PARAMETERID ASC
			IF (SELECT COUNT(PARAMETERID) FROM PARA_MASTER A WHERE (1) <= (SELECT COUNT(PARAMETERID) FROM PARA_MASTER B WHERE B.PARAMETERID<=A.PARAMETERID) AND A.PARAMETERID<=@PARAMETERID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(PARAMETERID) FROM PARA_MASTER A WHERE (1) = (SELECT COUNT(PARAMETERID) FROM PARA_MASTER B WHERE B.PARAMETERID>A.PARAMETERID) AND A.PARAMETERID>@PARAMETERID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END
	IF @POSITION='LAST'
		BEGIN
			SELECT TOP 1 A.*,REPQRY=ISNULL(B.REPQRY,'') FROM PARA_MASTER A LEFT JOIN USQRY B ON A.QUERYID=B.QRYID ORDER BY PARAMETERID DESC
			IF (SELECT COUNT(PARAMETERID) FROM PARA_MASTER A WHERE (1) = (SELECT COUNT(PARAMETERID) FROM PARA_MASTER B WHERE B.PARAMETERID<A.PARAMETERID)) > 0
				SELECT @RETROW = '1100'
		END
	IF @POSITION=''
		BEGIN
			SELECT TOP 1 A.*,REPQRY=ISNULL(B.REPQRY,'') FROM PARA_MASTER A LEFT JOIN USQRY B ON A.QUERYID=B.QRYID WHERE PARAMETERID=@PARAMETERID ORDER BY PARAMETERID 
			IF (SELECT COUNT(PARAMETERID) FROM PARA_MASTER A WHERE (1) = (SELECT COUNT(PARAMETERID) FROM PARA_MASTER B WHERE B.PARAMETERID<A.PARAMETERID) AND A.PARAMETERID<@PARAMETERID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(PARAMETERID) FROM PARA_MASTER A WHERE (1) = (SELECT COUNT(PARAMETERID) FROM PARA_MASTER B WHERE B.PARAMETERID>A.PARAMETERID) AND A.PARAMETERID>@PARAMETERID) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END

	SELECT @RETROW
END
GO
