DROP PROCEDURE [proc_MultipleSelect]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [proc_MultipleSelect]
(@entry_ty varchar(50),@Tran_cd Numeric(10))
AS
begin

Declare @Entry_tbl Varchar(2),@SqlCmd NVarchar(max)
Select @Entry_tbl =Case when Bcode_nm<>'' then Bcode_nm else (Case When Ext_vou=1 then '' else Entry_ty End) End From Lcode Where Entry_ty=@entry_ty

Set @SqlCmd ='Select * From '+@Entry_tbl+'Main Where Entry_ty='''+@entry_ty+''' and Tran_cd ='+Convert(Varchar(20),@Tran_cd)
Set @SqlCmd =@SqlCmd +' '+'Select * From '+@Entry_tbl+'Item Where Entry_ty='''+@entry_ty+''' and Tran_cd ='+Convert(Varchar(20),@Tran_cd)
Set @SqlCmd =@SqlCmd +' '+'Select * From '+@Entry_tbl+'Acdet Where Entry_ty='''+@entry_ty+''' and Tran_cd ='+Convert(Varchar(20),@Tran_cd)
EXECUTE sp_executesql @SqlCmd 


--if(@entry_ty = 'ST')
--       begin 
--SELECT * FROM STMain where @Tran_cd=Tran_cd ;
--SELECT * FROM STITEM where @Tran_cd=Tran_cd ;
--SELECT * FROM STACDET where @Tran_cd=Tran_cd ;
--end
--if(@entry_ty = 'PT')
--begin
--SELECT * FROM PTMain where @Tran_cd=Tran_cd  ;
--SELECT * FROM PTITEM where @Tran_cd=Tran_cd ;
--SELECT * FROM PTACDET where @Tran_cd=Tran_cd  ;
--end
--if(@entry_ty = 'P1')
--begin
--SELECT * FROM PTMain where @Tran_cd=Tran_cd  ;
--SELECT * FROM PTITEM where @Tran_cd=Tran_cd ;
--SELECT * FROM PTACDET where @Tran_cd=Tran_cd  ;
--end
--if(@entry_ty = 'E1')
--begin
--SELECT * FROM EPMain where @Tran_cd=Tran_cd ;
--SELECT * FROM EPITEM where @Tran_cd=Tran_cd ;
--SELECT * FROM EPACDET where @Tran_cd=Tran_cd  ;
--end
--if(@entry_ty = 'S1')
--begin
--SELECT * FROM SBMain where @Tran_cd=Tran_cd  ;
--SELECT * FROM SBITEM where @Tran_cd=Tran_cd ;
--SELECT * FROM SBACDET where @Tran_cd=Tran_cd ;
--end
--if(@entry_ty = 'GC')
--begin
--SELECT * FROM CNMain where @Tran_cd=Tran_cd  ;
--SELECT * FROM CNITEM where @Tran_cd=Tran_cd ;
--SELECT * FROM CNACDET where @Tran_cd=Tran_cd ;
--end
--if(@entry_ty = 'C6')
--begin
--SELECT * FROM CNMain where @Tran_cd=Tran_cd  ;
--SELECT * FROM CNITEM where @Tran_cd=Tran_cd ;
--SELECT * FROM CNACDET where @Tran_cd=Tran_cd ;
--end
   
      
 --SET NOCOUNT ON;
 --     DECLARE @DynamicSQL nvarchar(4000)
 --     SET @DynamicSQL = N'SELECT * FROM ' + @Table_Name +'where Tran_cd='+@Tran_cd
 --     EXECUTE sp_executesql @DynamicSQL
      
END
GO
