DROP PROCEDURE [UPDATE_ACSERIAL_MALL_NEW]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [UPDATE_ACSERIAL_MALL_NEW]
as
DECLARE @TBLNM VARCHAR(30),@SQLCOMMAND NVARCHAR(1000),@SQLCOMMAND1 NVARCHAR(1000),@FETCH_STATUS_M INT ,@AC_ID INT,@TBLACDET VARCHAR(30)
DECLARE @TRAN_CD INT,@AC_NAME VARCHAR(100),@COUNT INT,@MTRAN_CD INT ,@ACSERIAL VARCHAR(5)
declare cur_tblnm cursor for
select [name] from sysobjects where [name] like '%MALL' and type='u' and id in (select id from syscolumns where [name]='acserial')
open  cur_tblnm
fetch next from cur_tblnm into @TBLNM
SET @FETCH_STATUS_M=@@FETCH_STATUS
WHILE (@FETCH_STATUS_M=0)
BEGIN
	SET @TBLACDET=SUBSTRING(@TBLNM,1,2)+'ACDET'	
	PRINT @TBLNM
	PRINT @TBLACDET		
	--SET @SQLCOMMAND1='UPDATE '+SUBSTRING(@TBLNM,1,2)+'MALL'+' SET ACSERIAL='+RTRIM(@TBLNM)+'.ACSERIAL'
	

	IF (EXISTS(SELECT [NAME] FROM SYSOBJECTS WHERE [NAME]=@TBLACDET AND [TYPE]='U') AND EXISTS(SELECT [NAME] FROM SYSOBJECTS WHERE [NAME]=@TBLNM AND [TYPE]='U') )
	BEGIN
		SET @SQLCOMMAND1='UPDATE A SET A.ACSERIAL=B.ACSERIAL FROM '+RTRIM(@TBLNM)+' A INNER JOIN '+SUBSTRING(@TBLNM,1,2)+'ACDET B ON (A.TRAN_CD=B.TRAN_CD AND A.AC_ID=B.AC_ID) WHERE isnull(A.ACSERIAL,space(1))=space(1)'
		PRINT RTRIM(@SQLCOMMAND1)
		EXECUTE SP_EXECUTESQL @SQLCOMMAND1
	END 	
	fetch next from cur_tblnm into @TBLNM
	SET @FETCH_STATUS_M=@@FETCH_STATUS
END
close cur_tblnm
deallocate cur_tblnm

--TO CROSS CHECK RUN FOLLOWING QUERY
--SELECT A.ENTRY_TY,B.ENTRY_TY,A.TRAN_CD,B.TRAN_CD,A.AC_ID,B.AC_ID,A.ACSERIAL,B.ACSERIAL FROM LAC_VW A INNER JOIN MAINALL_VW B ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.AC_ID=B.AC_ID) WHERE A.ACSERIAL<>B.ACSERIAL
--RESULT MUST BE ZERO ROWS
GO
