DROP PROCEDURE [USP_ENT_GET_RCMVALUE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [USP_ENT_GET_RCMVALUE]
@Date SmallDatetime,
@Entry_ty Varchar(2),
@Tran_cd Numeric(10,0),
@Type Varchar(10)
AS 

Select a.Entry_ty,a.Tran_cd,a.Party_nm ,a.Inv_no,a.Date,a.Pinvno,a.Pinvdt,a.ac_id,a.sac_id,a.cons_id,a.scons_id
		,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
		,a.Net_amt,totnet=Convert(Numeric(18,2),0),b.ccessrate,b.compcess,b.comrpcess
		Into #rcmval
		From Ptmain a Inner join Ptitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
				Where 1=2

Declare @lcType Varchar(10)
set @lcType=@Type

if @lcType=''
Begin 
	set @Type='GOODS'
end

if @Type='GOODS'
Begin
	Insert Into #rcmval
	Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date ,a.Pinvno,a.Pinvdt,a.ac_id,a.sac_id,a.cons_id,a.scons_id
		,b.It_code,it.hsncode,b.item,qty=b.qty-sum(ISNULL(c.qty,0)),b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt
		,cgsrt_amt=b.cgsrt_amt-sum(Isnull(c.cgsrt_amt,0)),b.sgsrt_amt-sum(Isnull(c.sgsrt_amt,0)),b.igsrt_amt-Sum(Isnull(c.igsrt_amt,0)),b.Itserial
		,a.Net_amt,totnet=0,b.ccessrate,b.compcess,b.comrpcess
		From Ptmain a Inner join Ptitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
			Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
			Left Join pritref ref on (ref.rentry_ty=a.Entry_ty and ref.itref_tran=a.tran_cd and ref.ritserial=b.itserial)
			Left Join pritem c on (ref.entry_ty=c.entry_ty and ref.tran_cd=c.Tran_cd and ref.itserial=c.itserial)
				Where sp.gstin='UNREGISTERED' and a.date <=@Date 
				Group by a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date ,a.Pinvno,a.Pinvdt,a.ac_id,a.sac_id,a.cons_id,a.scons_id
				,b.It_code,it.hsncode,b.item,b.Itserial,a.Net_amt,b.ccessrate,b.compcess,b.comrpcess,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt
				,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.qty
				Having (b.CGSRT_AMT -sum(Isnull(c.cgsrt_amt,0))+b.SGSRT_AMT -sum(Isnull(c.sgsrt_amt,0))+b.IGSRT_AMT-sum(Isnull(c.igsrt_amt,0)) ) >0 
				order by b.itserial --Added by Priyanka B on 07072017 for Self Invoice
	
	
	--Insert Into #rcmval
	--Select a.Entry_ty,a.Tran_cd,a.Party_nm ,a.Inv_no,a.Date ,a.Pinvno,a.Pinvdt,a.ac_id,a.sac_id,a.cons_id,a.scons_id
	--	,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
	--	,a.Net_amt,totnet=0
	--	From epmain a Inner join epitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
	--		Inner Join It_mast it On (b.it_code=it.It_code)
	--		Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
	--			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 AND a.Entry_ty IN ('EP') AND sp.gstin='UNREGISTERED' and a.date <=@Date 
				
	Insert Into #rcmval
	Select a.Entry_ty,a.Tran_cd,a.Party_nm ,a.Inv_no,a.Date,Pinvno=a.Inv_no,Pinvdt=a.Date,a.ac_id,a.sac_id,cons_id=0,scons_id=0
		,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
		,a.Net_amt,totnet=0,b.ccessrate,b.compcess,b.comrpcess
		From bpmain a Inner join bpitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
			Inner join shipto sp on (a.ac_id=sp.ac_id and a.sac_id=sp.shipto_id)
				Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='BP' 
				--AND a.AGAINSTGS='GOODS' 
				AND sp.gstin='UNREGISTERED'  and a.date <=@Date 
				order by b.itserial --Added by Priyanka B on 07072017 for Self Invoice
	
	Insert Into #rcmval
	Select a.Entry_ty,a.Tran_cd,a.Party_nm ,a.Inv_no,a.Date ,a.Pinvno,a.Pinvdt,a.ac_id,sac_id=0,cons_id=0,scons_id=0
		,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
		,a.Net_amt,totnet=0,b.ccessrate,b.compcess,b.comrpcess
		From cpmain a Inner join cpitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
			Inner join ac_mast sp on (a.ac_id=sp.ac_id )
				Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='CP' 
				--AND a.AGAINSTGS='GOODS'  
				AND sp.gstin='UNREGISTERED'  and a.date <=@Date 
				order by b.itserial --Added by Priyanka B on 07072017 for Self Invoice

Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
		,ref.Rentry_ty,ref.itref_tran,ref.ritserial,b.comrpcess,Qty=Convert(Numeric(18,4),0)
		Into #refnote
		From CNmain a Inner join CNitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
			Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
			Inner Join Othitref ref On(a.Entry_ty=ref.Entry_ty and a.Tran_cd=ref.Tran_cd and b.Itserial=ref.itserial) 
			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='GC' AND sp.gstin='UNREGISTERED'  
			--order by b.itserial --Added by Priyanka B on 07072017 for Self Invoice
	Union all
	Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date,-b.cgsrt_amt,-b.sgsrt_amt,-b.igsrt_amt,b.Itserial
		,ref.Rentry_ty,ref.itref_tran,ref.ritserial,-b.comrpcess,Qty=Convert(Numeric(18,4),0)
		From DNmain a Inner join DNitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
			Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
			Inner Join Othitref ref On(a.Entry_ty=ref.Entry_ty and a.Tran_cd=ref.Tran_cd and b.Itserial=ref.itserial) 
			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='GD' AND sp.gstin='UNREGISTERED'  
			order by b.itserial --Added by Priyanka B on 07072017 for Self Invoice
	
	Update 	#rcmval set cgsrt_amt=b.cgsrt_amt+a.cgsrt_amt,sgsrt_amt=b.sgsrt_amt+a.sgsrt_amt,igsrt_amt=b.igsrt_amt+a.igsrt_amt
		,comrpcess=b.comrpcess+a.comrpcess,qty=b.qty+a.qty
		from 
	(select Rentry_ty,itref_tran,ritserial,cgsrt_amt=sum(cgsrt_amt),sgsrt_amt=sum(sgsrt_amt),igsrt_amt=sum(igsrt_amt),comrpcess=sum(comrpcess),qty=sum(qty)
		from #refnote
		Group by Rentry_ty,itref_tran,ritserial	) a inner join #rcmval b on (a. Rentry_ty =b.Entry_ty and a.itref_tran= b.Tran_cd and a.ritserial=b.itserial)

	Delete from #rcmval where (cgsrt_amt+sgsrt_amt+igsrt_amt+comrpcess)<=0
	
	
	--Insert Into #rcmval
	--Select a.Entry_ty,a.Tran_cd,a.Party_nm ,a.Inv_no,a.Date,Pinvno=a.Inv_no,Pinvdt=a.Date ,a.ac_id,a.sac_id,a.cons_id,a.scons_id
	--	,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
	--	,a.Net_amt,totnet=0,b.ccessrate,b.compcess,b.comrpcess
	--	From CNmain a Inner join CNitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
	--		Inner Join It_mast it On (b.it_code=it.It_code)
	--		Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
	--			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='GC'   AND sp.gstin='UNREGISTERED' and a.date <=@Date 
				
	--Insert Into #rcmval
	--Select a.Entry_ty,a.Tran_cd,a.Party_nm ,a.Inv_no,a.Date ,Pinvno=a.Inv_no,Pinvdt=a.Date,a.ac_id,a.sac_id,a.cons_id,a.scons_id
	--	,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
	--	,a.Net_amt,totnet=0
	--	From DNmain a Inner join DNitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
	--		Inner Join It_mast it On (b.it_code=it.It_code)
	--		Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
	--			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='GD' AND sp.gstin='UNREGISTERED'  and a.date <=@Date 
									
End

if @lcType=''
Begin 
	set @Type='SERVICES'
end

if @Type='SERVICES'
Begin
	Insert Into #rcmval
	Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date,a.Pinvno,a.Pinvdt ,a.ac_id,a.sac_id,a.cons_id,a.scons_id 
		,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
		,a.Net_amt,totnet=0,ccessrate='',compcess=0,comrpcess=0
		From epmain a Inner join epitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
			Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
				Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 AND a.Entry_ty IN ('E1') AND sp.gstin='UNREGISTERED' and a.date <=@Date 
	
	--Insert Into #rcmval
	--Select a.Entry_ty,a.Tran_cd,a.Party_nm ,a.Inv_no,a.Date,Pinvno=a.Inv_no,Pinvdt=a.Date ,a.ac_id,a.sac_id,cons_id=0,scons_id=0 
	--	,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
	--	,a.Net_amt,totnet=0,b.ccessrate,b.compcess,b.comrpcess
	--	From Bpmain a Inner join Bpitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
	--		Inner Join It_mast it On (b.it_code=it.It_code)
	--		Inner join shipto sp on (a.ac_id=sp.ac_id and a.sac_id=sp.shipto_id)
	--			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty ='BP' AND a.AGAINSTGS='SERVICES'  AND sp.gstin='UNREGISTERED' and a.date <=@Date 
	
	--Insert Into #rcmval
	--Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date,Pinvno=a.Inv_no,Pinvdt=a.Date ,a.ac_id,sac_id=0,cons_id=0,scons_id=0
	--	,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
	--	,a.Net_amt,totnet=0,b.ccessrate,b.compcess,b.comrpcess
	--	From Cpmain a Inner join Cpitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
	--		Inner Join It_mast it On (b.it_code=it.It_code)
	--		Inner join ac_mast sp on (a.ac_id=sp.ac_id )
	--			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='CP' AND a.AGAINSTGS='SERVICES' AND sp.gstin='UNREGISTERED'  and a.date <=@Date 
					
	Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
		,ref.Rentry_ty,ref.itref_tran,ref.ritserial,b.comrpcess
		Into #refnote2
		From CNmain a Inner join CNitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
			Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
			Inner Join Othitref ref On(a.Entry_ty=ref.Entry_ty and a.Tran_cd=ref.Tran_cd and b.Itserial=ref.itserial) 
			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='C6' AND sp.gstin='UNREGISTERED'  
	Union all
	Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date,-b.cgsrt_amt,-b.sgsrt_amt,-b.igsrt_amt,b.Itserial
		,ref.Rentry_ty,ref.itref_tran,ref.ritserial,-b.comrpcess
		From DNmain a Inner join DNitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
			Inner Join It_mast it On (b.it_code=it.It_code)
			Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
			Inner Join Othitref ref On(a.Entry_ty=ref.Entry_ty and a.Tran_cd=ref.Tran_cd and b.Itserial=ref.itserial) 
			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='D6' AND sp.gstin='UNREGISTERED'  
	
	
	Update 	#rcmval set cgsrt_amt=b.cgsrt_amt+a.cgsrt_amt,sgsrt_amt=b.sgsrt_amt+a.sgsrt_amt,igsrt_amt=b.igsrt_amt+a.igsrt_amt,comrpcess=b.comrpcess+a.comrpcess
		from 
	(select Rentry_ty,itref_tran,ritserial,cgsrt_amt=sum(cgsrt_amt),sgsrt_amt=sum(sgsrt_amt),igsrt_amt=sum(igsrt_amt),comrpcess=sum(comrpcess)
		from #refnote2
		Group by Rentry_ty,itref_tran,ritserial	) a inner join #rcmval b on (a. Rentry_ty =b.Entry_ty and a.itref_tran= b.Tran_cd and a.ritserial=b.itserial)

	Delete from #rcmval where (cgsrt_amt+sgsrt_amt+igsrt_amt+comrpcess)<=0
			
							
	--Insert Into #rcmval
	--Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date,Pinvno=a.Inv_no,Pinvdt=a.Date ,a.ac_id,a.sac_id,a.cons_id,a.scons_id 
	--	,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
	--	,a.Net_amt,totnet=0,b.ccessrate,b.compcess,b.comrpcess
	--	From CNmain a Inner join CNitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
	--		Inner Join It_mast it On (b.it_code=it.It_code)
	--		Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
	--			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='C6' AND sp.gstin='UNREGISTERED'  and a.date <=@Date 
				
	--Insert Into #rcmval
	--Select a.Entry_ty,a.Tran_cd,a.Party_nm,a.Inv_no,a.Date,Pinvno=a.Inv_no,Pinvdt=a.Date,a.ac_id,a.sac_id,a.cons_id,a.scons_id 
	--	,b.It_code,it.hsncode,b.item,b.qty,b.Rate,b.u_asseamt,b.cgst_per,b.cgst_amt,b.sgst_per,b.sgst_amt,b.igst_per,b.igst_amt,b.cgsrt_amt,b.sgsrt_amt,b.igsrt_amt,b.Itserial
	--	,a.Net_amt,totnet=0
	--	From DNmain a Inner join DNitem b on (a.Entry_ty=b.Entry_ty and a.Tran_cd=b.Tran_cd)
	--		Inner Join It_mast it On (b.it_code=it.It_code)
	--		Inner join shipto sp on (a.cons_id=sp.ac_id and a.scons_id=sp.shipto_id)
	--			Where (b.CGSRT_AMT +b.SGSRT_AMT +b.IGSRT_AMT) >0 and a.Entry_ty='D6' AND sp.gstin='UNREGISTERED' and a.date <=@Date 
				
	
End


Delete from #rcmval Where Entry_ty+quotename(tran_cd)+Itserial in (Select  pEntry_ty+quotename(ptran_cd)+pItserial  from rcmdetail WHERE Not(Entry_ty=@Entry_ty and Tran_cd=@Tran_cd))

Update #rcmval set totnet=ISNULL(totnet,0)

select date,Entry_ty,Tran_cd,net_amt  Into #rcmvald2  from #rcmval group by date,Entry_ty,Tran_cd,net_amt


select date,dtotnet=sum(net_amt)  Into #rcmvald  from #rcmvald2 group by date


Update  #rcmval set totnet=a.dtotnet from 	#rcmvald a Inner join #rcmval b on (a.date=b.date)

Select CAST(0 as bit) as sel,a.*,b.Code_nm from #rcmval a Inner join Lcode b on (a.Entry_ty=b.Entry_ty) 
	Where Not (a.Entry_ty=@Entry_ty and a.Tran_cd =@Tran_cd )
GO
