DROP PROCEDURE [usp_rep_sales_projection_fg]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Author:
-- Create date:
-- Description:
-- Remark:EXECUTE usp_rep_sales_projection_fg 'SO','05/01/2012','05/30/2012'
--        EXECUTE usp_rep_sales_projection_fg 'SP','05/01/2012','05/30/2012'
-- =============================================
CREATE PROCEDURE [usp_rep_sales_projection_fg]  
@entry_ty AS varchar(10),@sdate AS DATETIME, @edate AS DATETIME
AS

IF @entry_ty='SP' 	
	BEGIN
		PRINT 'SP'
		SELECT c.item,SUM(c.qty) AS qty INTO #temp1 FROM item c
		LEFT JOIN main d ON c.entry_ty = d.entry_ty AND c.Tran_cd = d.Tran_cd
		WHERE d.SP_SPFRMDT>=@sdate AND d.SP_SPFRMDT<=@edate and c.entry_ty IN ('SP') GROUP BY c.item
	END
IF @entry_ty='SO' 	
	BEGIN
		PRINT 'SO'
		SELECT c.item,SUM(c.qty) AS qty into #temp11 FROM soitem c
		LEFT JOIN somain d ON c.entry_ty = d.entry_ty AND c.Tran_cd = d.Tran_cd
		WHERE d.Date >=@sdate AND d.Date <=@edate and c.entry_ty IN ('So') GROUP BY c.item
	END	


SELECT c.it_name,qty_inhand =SUM(CASE WHEN  A.PMKEY='+' THEN A.QTY ELSE -A.QTY END) into #temp2 FROM STKL_VW_ITEM A 
INNER JOIN STKL_VW_MAIN b ON (a.TRAN_CD=b.TRAN_CD AND a.ENTRY_TY=b.ENTRY_TY)
INNER JOIN IT_MAST c  ON (c.IT_CODE=a.IT_CODE)
INNER JOIN AC_MAST d ON (d.AC_ID=b.AC_ID)
INNER JOIN LCODE e ON (a.ENTRY_TY=e.ENTRY_TY)
GROUP BY c.it_name,c.RATEUNIT  ORDER BY c.it_name,c.RATEUNIT


CREATE TABLE #temp3(
it_name VARCHAR(50),
wipqty NUMERIC (15,2)
)

INSERT INTO #temp3
EXECUTE dbo.USP_ENT_WIP_STOCK 'OP','',''

IF @entry_ty='SP' 	
	BEGIN
		PRINT 'SP'
		SELECT c.item,SUM(c.qty) AS qty into #temp4 FROM soitem c
		LEFT JOIN somain d ON c.entry_ty = d.entry_ty AND c.Tran_cd = d.Tran_cd
		WHERE c.entry_ty IN ('SO') GROUP BY c.item
	END	
	
IF @entry_ty='SO' 	
	BEGIN
		PRINT 'SO'
		SELECT #temp11.item,#temp11.qty as 'Ordered Qty',#temp2.qty_inhand as 'Qty In Hand',#temp3.wipqty as 'WIP Qty',
		CASE WHEN #TEMP11.QTY-#TEMP2.QTY_INHAND<0 THEN 0 ELSE (#TEMP11.QTY-(#TEMP2.QTY_INHAND+#temp3.wipqty)) END as 'Required Qty'
		FROM #temp11 
		LEFT JOIN #temp2 ON #temp11.item=#temp2.it_name
		LEFT JOIN #temp3 ON #temp11.item=#temp3.it_name
	END	

IF @entry_ty='SP' 	
	BEGIN
		PRINT 'SP'
		SELECT #temp1.item,#temp1.qty as 'Projected Qty',#temp2.qty_inhand as 'Qty In Hand',#temp3.wipqty as 'WIP Qty',
		CASE WHEN #TEMP1.QTY-#TEMP2.QTY_INHAND<0 THEN 0 ELSE (#TEMP1.QTY-(#TEMP2.QTY_INHAND+#temp3.wipqty)) END as 'Required Qty',
		#temp4.qty as 'Ordered Qty'  FROM #temp1 
		LEFT JOIN #temp2 ON #temp1.item=#temp2.it_name
		LEFT JOIN #temp3 ON #temp1.item=#temp3.it_name
		LEFT JOIN #temp4 ON #temp1.item=#temp4.item
	END	


SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER off
GO
