DROP PROCEDURE [USP_Main_Standard_Fields]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [USP_Main_Standard_Fields]
	@ENTRY_TY VARCHAR(2)
	AS
	BEGIN
		DECLARE @SYSDATE SMALLDATETIME, @CURDATE VARCHAR(25),@AC_ID INT, @DOCNO VARCHAR(5), @CURDATE1 AS DATETIME
		SELECT @SYSDATE = GETDATE()
		SELECT @CURDATE1=CAST(DATEADD(dd, 0, DATEDIFF(dd, 0, @SYSDATE)) AS DATETIME)
		SELECT @CURDATE=RIGHT('0' + LTRIM(DAY(@SYSDATE)), 2) + '/' + 
				RIGHT('0' + LTRIM(MONTH(@SYSDATE)), 2) + '/' + 
				LTRIM(YEAR(@SYSDATE)) + ' ' +
				RIGHT('0' + LTRIM(DATEPART(HOUR, @SYSDATE)), 2) + ':' +
				RIGHT('0' + LTRIM(DATEPART(MINUTE, @SYSDATE)), 2) + ':' +
				RIGHT('0' + LTRIM(DATEPART(SECOND, @SYSDATE)), 2)	
		SELECT @DOCNO=SUBSTRING(LTRIM(RTRIM(STR(FLOOR(RAND() * POWER(CAST(10 as BIGINT), 10))))),1,5)
		SELECT @AC_ID=AC_ID FROM AC_MAST WHERE AC_NAME = 'CASH SALES'
		SELECT CURDATE=@CURDATE1, DOCNO=@DOCNO, AC_ID=@AC_ID, SYSDATE=@CURDATE
		
	END
GO
