set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



ALTER PROCEDURE [dbo].[USP_ENT_GEN_NO]
@WHAT AS VARCHAR(10) ,@U_NO VARCHAR(10) OUTPUT
AS
DECLARE @TU_NO VARCHAR(10)

IF @WHAT='U_RG23NO'
BEGIN
	SELECT  @TU_NO=MAX(CAST(U_RG23NO AS INT))  FROM STKL_VW_MAIN 
END
ELSE 
BEGIN
	IF @WHAT='U_RG23CNO'
	BEGIN
		SELECT  @TU_NO=MAX(CAST(U_RG23CNO AS INT))  FROM STKL_VW_MAIN 
	END
	ELSE
	IF @WHAT='U_PLASR'
	BEGIN
		SELECT  @TU_NO=MAX(CAST(U_PLASR AS INT))  FROM STKL_VW_MAIN
	END
	
END

SET @U_NO=CAST(@TU_NO+1 AS VARCHAR(10))


IF @WHAT='U_GINVNO'
BEGIN
	SELECT  @TU_NO=MAX(CAST(U_GINVNO AS INT))  FROM IIITEM
	SET @U_NO=CAST(@TU_NO+1 AS VARCHAR(10))
	SET @U_NO=REPLICATE('0',6-LEN(RTRIM(@U_NO)))+@U_NO
END


