IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_KL_FORMVAT10E')
BEGIN
 DROP PROCEDURE USP_REP_KL_FORMVAT10E
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================        
-- Author:		Hetal L. Patel
-- EXECUTE USP_REP_KL_FORMVAT10E'','','','04/01/2015','03/31/2016','','','','',0,0,'','','','','','','','','2015-2016',''
-- Create date: 16/05/2007        
-- Description: This Stored procedure is useful to generate KL VAT FORM 10E
-- Modify date: 16/05/2007        
-- Modified By: Suraj Kumawat           
-- Modify date: date on 04-03-2016  i have added this condition "and ST_TYPE in('Local','')" for data fetching.
-- Remark:        
-- =============================================        
CREATE PROCEDURE [dbo].[USP_REP_KL_FORMVAT10E]        
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME        
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)        
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)        
,@SAMT FLOAT,@EAMT FLOAT        
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)        
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)        
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)        
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)        
,@LYN VARCHAR(20)        
,@EXPARA  AS VARCHAR(60)= null        
AS        
BEGIN        
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)        
EXECUTE   USP_REP_FILTCON         
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND        
,@VSDATE=NULL        
,@VEDATE=@EDATE        
,@VSAC =@SAC,@VEAC =@EAC        
,@VSIT=@SIT,@VEIT=@EIT        
,@VSAMT=@SAMT,@VEAMT=@EAMT        
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT        
,@VSCATE =@SCATE,@VECATE =@ECATE        
,@VSWARE =@SWARE,@VEWARE  =@EWARE        
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR        
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL        
,@VDTFLD ='DATE'        
,@VLYN=NULL        
,@VEXPARA=@EXPARA        
,@VFCON =@FCON OUTPUT        
        
DECLARE @SQLCOMMAND NVARCHAR(4000)        
Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12
,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2),@ITEM as varchar(50)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2)  
DECLARE @AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)        
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)
SET @ITEM=CASE WHEN @ITEM IS NULL THEN '' ELSE @ITEM END
DECLARE @It_code Varchar(10)
SET @It_code=CASE WHEN @It_code IS NULL THEN '' ELSE @It_code END
SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME3,2,CHARINDEX('"',SUBSTRING(AC_NAME3,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"') AND AC_NAME3 NOT IN ('"PURCHASES"') AND ISNULL(AC_NAME1,'')<>'' AND ISNULL(AC_NAME3,'')<>''        
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1)  FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"') AND AC_NAME3 NOT IN ('"PURCHASES"') AND ISNULL(AC_NAME1,'')<>'' AND ISNULL(AC_NAME3,'')<>''  
        
--SELECT BHENT='ST',M.ENTRY_TY,M.TRAN_CD,M.DATE,M.GRO_AMT,M.TOT_DEDUC,M.TOT_TAX,M.TOT_EXAMT,M.TOT_ADD,M.TAX_NAME,PER=STM.LEVEL1,M.TAXAMT,M.TOT_NONTAX,M.TOT_FDISC,NET_AMT,STM.SET_APP,STM.ST_TYPE,STM.FORM_NM         
        
------------RUP        
--SELECT BHENT='PT',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM  
--,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM        
--INTO #FORMVAT10E_A        
--FROM PTACDET A         
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)        
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)        
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)        
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)        
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)        
        
SELECT PART=3,PARTSR='AAAAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=TAXAMT,AMT3=TAXAMT,AMT4=TAXAMT,ALPHASL='a)',Item=space(50) INTO #FORMVAT10E FROM STMAIN WHERE 1=2        
DECLARE @SL VarChar(3)
SET @SL = ''
Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo VATTBL Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
End

--SET @SQLCOMMAND='INSERT INTO #FORMVAT10E_A'         
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1'  
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM'    
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTACDET A '        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.entry_ty = '+'''PT'''        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'        
        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''ST'''+',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1'  
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STACDET A '        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.entry_ty = '+'''ST'''        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'        
        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''SR'''+',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD'  
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,U_IMPORM=SPACE(1)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRACDET A '        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.entry_ty = '+'''SR'''        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'        
        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PR'''+',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD'  
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,U_IMPORM=SPACE(1)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRACDET A '        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.entry_ty = '+'''PR'''        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)        
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'        
----PRINT @SQLCOMMAND        
--EXECUTE SP_EXECUTESQL @SQLCOMMAND        
        
    

SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
 SET @CHAR=65
 DECLARE  CUR_FORM221 CURSOR FOR 
 --select distinct level1 from stax_mas where ST_TYPE='LOCAL'--CHARINDEX('VAT',TAX_NAME)>0
 Select distinct PER,It_code FROM VATTBL where bhent = 'ST' AND ac_name not like '%Rece%' And S_tax <> '' 
  AND U_imporm <> 'Purchase Return'   and ST_TYPE in('Local','')  order by PER,it_code 
 OPEN CUR_FORM221
 FETCH NEXT FROM CUR_FORM221 INTO @PER,@It_code
 WHILE (@@FETCH_STATUS=0)
 BEGIN
	SELECT @AMTA1=SUM(GRO_AMT) FROM VATTBL where bhent = 'ST' AND (DATE BETWEEN @SDATE AND @EDATE) and ac_name not like '%Rece%' And S_tax <> '' AND PER=@PER AND It_code = @It_code and U_imporm <> 'Purchase Return'  and ST_TYPE in('Local','') 
	SELECT @AMTB1=SUM(TAXAMT)  FROM VATTBL where bhent = 'ST' AND (DATE BETWEEN @SDATE AND @EDATE) and ac_name not like '%Rece%' And S_tax <> '' AND PER=@PER AND It_code = @It_code and U_imporm <> 'Purchase Return'	 and ST_TYPE in('Local','') 
	SELECT @AMTC1=SUM(GRO_AMT) FROM (select GRO_AMT from VATTBL where bhent = 'ST' AND (DATE BETWEEN @SDATE AND @EDATE) and ac_name not like '%Rece%' And S_tax <> '' AND PER=@PER AND It_code = @It_code and U_imporm <> 'Purchase Return' and TAX_NAME in('EXEMPTED','')  and ST_TYPE in('Local','') ) b
	SELECT @AMTD1=SUM(TAXAMT)  FROM VATTBL where bhent = 'SR' AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '' AND PER=@PER AND It_code = @It_code
	SELECT @ITEM = it_name FROM (select distinct B.it_name FROM VATTBL A INNER JOIN IT_MAST B ON (A.It_code = B.It_code) WHERE A.bhent = 'ST' AND (A.DATE BETWEEN @SDATE AND @EDATE) and A.ac_name not like '%Rece%' And A.S_tax <> '' AND A.PER=@PER AND A.It_code = @It_code and A.U_imporm <> 'Purchase Return'  and ST_TYPE in('Local','') ) C
  --Sales Invoices
  SET @AMTA1=ISNULL(@AMTA1,0)
  SET @AMTB1=ISNULL(@AMTB1,0)
 
  --Return Invoices
  SET @AMTC1=ISNULL(@AMTC1,0)

  --Net Effect
  --Set @NetEFF = (@AMTA1-@AMTB1)-(@AMTC1-@AMTD1)
  Set @NetTAX = (@AMTA1)+(@AMTB1)
  Set @AMTD1 = (@AMTA1) - (@AMTB1)
  if @nettax <> 0
	  begin
		  SET @SL = LOWER(CHAR(@CHAR) + ')')
		  INSERT INTO #FORMVAT10E
		  (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,ALPHASL,ITEM) VALUES
		  (1,'1','A',@PER,@AMTA1,@AMTB1,@AMTC1,@AMTD1,@SL,@ITEM)
		--  (1,'6',CHAR(@CHAR),@PER,@AMTA1-@AMTB1,@AMTB1,0)
		  
		--  SET @AMTJ1=@AMTJ1+@AMTA1 --TOTAL TAXABLE AMOUNT
		--  SET @AMTK1=@AMTK1+@AMTB1 --TOTAL TAX
		  SET @AMTJ1=@AMTJ1+@NETEFF --TOTAL TAXABLE AMOUNT
		  SET @AMTK1=@AMTK1+@NETTAX --TOTAL TAX
		  SET @CHAR=@CHAR+1
	  end

  FETCH NEXT FROM CUR_FORM221 INTO @PER,@It_code
END

SELECT @AMTD1 = SUM(gro_amt) FROM VATTBL where BHENT = 'BP' AND AC_NAME like '%VAT%'
SELECT @AMTE1 = SUM(AMT2) FROM #FORMVAT10E
SET @AMTE1 = @AMTD1 - @AMTE1
INSERT INTO #FORMVAT10E(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,ALPHASL) VALUES (1,'2','A',0,@AMTD1,@AMTE1,0,0,'')
CLOSE CUR_FORM221
DEALLOCATE CUR_FORM221

--INSERT INTO #FORMVAT10E (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES  (1,'1','A',1,0,0,0)        
--INSERT INTO #FORMVAT10E (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES  (1,'1','B',4,0,0,0)        
--INSERT INTO #FORMVAT10E (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES  (1,'1','C',12.5,0,0,0)        
--INSERT INTO #FORMVAT10E (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES  (1,'1','D',0.0,0,0,0)        

--INSERT INTO #FORMVAT10E (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES  (1,'4','',0,0,0,0)        

        
SELECT * FROM #FORMVAT10E order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int),srno,rate,item
      
        
END        
--Print 'KL VAT FORM 10 E'