DROP PROCEDURE [USP_REP_IMPREG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [USP_REP_IMPREG] 
	@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
	,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
	,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
	,@SAMT FLOAT,@EAMT FLOAT
	,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
	,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
	,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
	,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
	,@LYN VARCHAR(20)
	,@EXPARA  AS VARCHAR(60)= null

AS
 

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE
	,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='PTMAIN',@VITFILE='PTITEM',@VACFILE='PTACDET'
	,@VDTFLD ='DATE'
	,@VLYN =NULL
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

IF @FCON IS NOT NULL OR @FCON <> ''
BEGIN
	SET @FCON = @FCON + 'AND PTMAIN.[RULE] = ''IMPORTED'''
END

DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)


SET @SQLCOMMAND='SELECT PTMAIN.ENTRY_TY,PTMAIN.DATE,PTMAIN.PARTY_NM,PTITEM.ITEM,PTITEM.QTY,IT_MAST.RATEUNIT,AC_MAST.ADD1,PTMAIN.ARENO,PTMAIN.PINVNO,PTMAIN.[RULE],ARITEM.INV_NO,ARITREF.RINV_NO, '
SET @SQLCOMMAND=@SQLCOMMAND+' PTMAIN.AREDATE,PTMAIN.PINVdt,SOITEM.DATE,AC_MAST.GSTIN,AC_MAST.CITY,PTITEM.U_ASSEAMT,ptitem.cgst_per,PTITEM.cgst_amt,ptitem.sgst_per,PTITEM.sgst_amt,ptitem.igst_per,PTITEM.igst_amt,PTITEM.ITEM_NO '
SET @SQLCOMMAND=@SQLCOMMAND+' ,ptitem.fccgst_amt,ptitem.fcsgst_amt,ptitem.fcigst_amt,PTITEM.BCDAMT FROM PTITEM'
SET @SQLCOMMAND=@SQLCOMMAND+' INNER JOIN PTMAIN ON(PTITEM.ENTRY_TY=PTMAIN.ENTRY_TY AND PTITEM.DATE=PTMAIN.DATE AND PTITEM.DOC_NO=PTMAIN.DOC_NO)'
SET @SQLCOMMAND=@SQLCOMMAND+' INNER JOIN IT_MAST ON (PTITEM.IT_CODE=IT_MAST.IT_CODE)'
SET @SQLCOMMAND=@SQLCOMMAND+' INNER JOIN AC_MAST ON (PTITEM.AC_ID=AC_MAST.AC_ID)'
SET @SQLCOMMAND=@SQLCOMMAND+' LEFT JOIN PTITREF ON (PTITEM.TRAN_CD=PTITREF.TRAN_CD AND  PTITEM.ITSERIAL=PTITREF.ITSERIAL)'
SET @SQLCOMMAND=@SQLCOMMAND+' LEFT JOIN ARITEM ON(PTITREF.ITREF_TRAN=ARITEM.TRAN_CD  AND PTITREF.ritserial=ARITEM.ITSERIAL)'
SET @SQLCOMMAND=@SQLCOMMAND+' LEFT JOIN ARMAIN ON(ARITEM.TRAN_CD=ARMAIN.TRAN_CD)'
SET @SQLCOMMAND=@SQLCOMMAND+' LEFT JOIN ARITREF ON(ARITEM.TRAN_CD=ARITREF.TRAN_CD AND ARITEM.ITSERIAL=ARITREF.ITSERIAL)'
SET @SQLCOMMAND=@SQLCOMMAND+' LEFT JOIN SOITEM SOITEM ON(ARITREF.ITREF_TRAN=SOITEM.TRAN_CD AND ARITREF.RITSERIAL=SOITEM.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=@SQLCOMMAND+' ORDER BY ptmain.date'


--SET @SQLCOMMAND='SELECT PTITEM.TRAN_CD,PTITEM.ENTRY_TY,PTITEM.INV_NO,PTITEM.DATE,IT_MAST.IT_NAME,PTITEM.QTY,PTITEM.ITEM_NO,PTITREF.RINV_NO,PTMAIN.U_AR3ANO,PTMAIN.U_AR3ADATE,PTMAIN.PINVNO,PTMAIN.PINVdt,PTITEM.U_EXPMARK,PTITEM.U_CIFAMT,PTITEM.U_ACAMT,PTITEM.U_EXAMT,PTITEM.U_ACAMT1,PTITEM.U_HACAMT1,PTITEM.U_CESSAMT,PTITEM.U_HCESSAMT,PTITEM.U_ADDDUTY,IT_MAST.P_UNIT,PTMAIN.[RULE],ARITREF.RINV_NO,PTITEM.U_ASSEAMT,PTITEM.EXAMT FROM PTITEM '
--SET @SQLCOMMAND=@SQLCOMMAND+'INNER JOIN PTMAIN ON(PTITEM.ENTRY_TY=PTMAIN.ENTRY_TY AND PTITEM.TRAN_CD=PTMAIN.TRAN_CD)'
--SET @SQLCOMMAND=@SQLCOMMAND+'INNER JOIN IT_MAST ON (PTITEM.ITEM=IT_MAST.IT_NAME) '
--SET @SQLCOMMAND=@SQLCOMMAND+'left JOIN PTITREF ON (PTITEM.ENTRY_TY=PTITREF.ENTRY_TY and PTITEM.DATE=PTITREF.DATE AND PTITEM.DOC_NO=PTITREF.DOC_NO AND PTITEM.ITSERIAL=PTITREF.ITEM_NO)'
--SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN ARITEM ON (ARITEM.ENTRY_TY=PTITREF.RENTRY_TY AND ARITEM.inv_sr=ptitref.rinv_sr AND ARITEM.INV_NO=PTITREF.RINV_NO AND ARITEM.ITSERIAL=PTITREF.RITEM_NO) '
--SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN ARITREF ON (ARitem.entry_ty=ARitref.entry_ty and ARITEM.DATE=ARITREF.DATE AND ARITEM.DOC_NO=ARITREF.DOC_NO AND ARITEM.ITSERIAL=ARITREF.ITEM_NO)'
----SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN SOITEM ON (SOITEM.ENTRY_TY=ARITREF.RENTRY_TY AND SOITEM.inv_sr=ARitref.rinv_sr AND SOITEM.INV_NO=ARITREF.RINV_NO AND SOITEM.ITSERIAL=ARITREF.RITEM_NO)'
--SET @SQLCOMMAND=@SQLCOMMAND+'ORDER BY PTITEM.DATE,PTITEM.ITEM'
PRINT @SQLCOMMANDEXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
