DROP PROCEDURE [USP_REP_COMP_ANA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Comparative Accounts Analysys Report.
-- Modify date: 03/09/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================

create PROCEDURE [USP_REP_COMP_ANA] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE=NULL,@VACFILE='LAC_VW'
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

--=(CASE WHEN LAC_VW.AMT_TY='DR' THEN LAC_VW.AMOUNT ELSE -LAC_VW.AMOUNT END)
SELECT M=12,Y=9999,LAC_VW.AC_ID,AC_MAST.AC_NAME,LAC_VW.AMOUNT INTO #COMPANA1 FROM LAC_VW INNER JOIN AC_MAST ON (AC_MAST.AC_ID=LAC_VW.AC_ID) WHERE 1=2 
SELECT LAC_VW.AC_ID,AC_MAST.AC_NAME,COL1=AMOUNT,COL2=AMOUNT,COL3=AMOUNT,COL4=AMOUNT,COL5=AMOUNT,COL6=AMOUNT,COL7=AMOUNT,COL8=AMOUNT,COL9=AMOUNT,COL10=AMOUNT,COL11=AMOUNT,COL12=AMOUNT,COL13=AMOUNT INTO #COMPANA FROM LAC_VW  INNER JOIN AC_MAST ON (AC_MAST.AC_ID=LAC_VW.AC_ID) WHERE 1=2

DECLARE @SQLCOMMAND NVARCHAR(4000),@ParmDefinition NVARCHAR(500)
DECLARE @SM INT,@SY INT,@TM INT ,@TY INT, @M1 INT,@Y1 INT,@M2 INT,@Y2 INT,@M3 INT,@Y3 INT,@M4 INT,@Y4 INT,@M5 INT,@Y5 INT,@M6 INT,@Y6 INT,@M7 INT,@Y7 INT,@M8 INT,@Y8 INT,@M9 INT,@Y9 INT,@M10 INT,@Y10 INT,@M11 INT,@Y11 INT,@M12 INT,@Y12 INT
DECLARE @H1 VARCHAR(20),@H2 VARCHAR(20),@H3 VARCHAR(20),@H4 VARCHAR(20),@H5 VARCHAR(20),@H6 VARCHAR(20),@H7 VARCHAR(20),@H8 VARCHAR(20),@H9 VARCHAR(20),@H10 VARCHAR(20),@H11 VARCHAR(20),@H12 VARCHAR(20),@H13 VARCHAR(20)
DECLARE @M INT ,@Y INT
SELECT @SM=month(@sdate),@SY=year(@sdate),@TM=month(@Edate),@TY=year(@edate),@M1=0,@Y1=0,@M2=0,@Y2=0,@M3=0,@Y3=0,@M4=0,@Y4=0,@M5=0,@Y5=0,@M6=0,@Y6=0,@M7=0,@Y7=0,@M8=0,@Y8=0,@M9=0,@Y9=0,@M10=0,@Y10=0,@M11=0,@Y11=0,@M12=0,@Y12=0
declare @c int
declare @ASVAL int
set @c=1
SET @ASVAL=0

SET @M=month(@sdate)
SET @Y=year(@sdate)
--SET @M1=MONTH(@SDATE)


WHILE (@C<=12 )
BEGIN
	
	IF @M>12
	BEGIN
		SET @M=1
		SET @Y=@Y+1
	END
	IF (@Y<@TY) OR (@Y=@TY AND @M<=@TM)
	BEGIN

		IF @C=1 BEGIN
			SET @M1=@M
			SET @Y1=@Y
			SET @H1=DATENAME(MONTH,DATEADD (MONTH ,0,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
			PRINT @H1
		END
		IF @C=2 BEGIN
			SET @M2=@M
			SET @Y2=@Y
			SET @H2=DATENAME(MONTH,DATEADD (MONTH ,1,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=3 BEGIN
			SET @M3=@M
			SET @Y3=@Y
			SET @H3=DATENAME(MONTH,DATEADD (MONTH ,2,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=4 BEGIN
			SET @M4=@M
			SET @Y4=@Y
			SET @H4=DATENAME(MONTH,DATEADD (MONTH ,3,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=5 BEGIN
			SET @M5=@M
			SET @Y5=@Y
			SET @H5=DATENAME(MONTH,DATEADD (MONTH ,4,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=6 BEGIN
			SET @M6=@M
			SET @Y6=@Y
			SET @H6=DATENAME(MONTH,DATEADD (MONTH ,5,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=7 BEGIN
			SET @M7=@M
			SET @Y7=@Y
			SET @H7=DATENAME(MONTH,DATEADD (MONTH ,6,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=8 BEGIN
			SET @M8=@M
			SET @Y8=@Y
			SET @H8=DATENAME(MONTH,DATEADD (MONTH ,7,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=9 BEGIN
			SET @M9=@M
			SET @Y9=@Y
			SET @H9=DATENAME(MONTH,DATEADD (MONTH ,8,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=10 BEGIN
			SET @M10=@M
			SET @Y10=@Y
			SET @H10=DATENAME(MONTH,DATEADD (MONTH ,9,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=11 BEGIN
			SET @M11=@M
			SET @Y11=@Y
			SET @H11=DATENAME(MONTH,DATEADD (MONTH ,10,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		IF @C=12 BEGIN
			SET @M12=@M
			SET @Y12=@Y
			SET @H12=DATENAME(MONTH,DATEADD (MONTH ,11,@Sdate ))+'-'+CAST(@Y AS VARCHAR)
		END	
		
	END
	
	
	--SET @SQLCOMMAND = 'SET @M'+LTRIM(RTRIM(CAST(@C AS VARCHAR(2))))+'='+LTRIM(RTRIM(CAST(@M AS VARCHAR(2))))
	--SET @SQLCOMMAND = '@M'+LTRIM(RTRIM(CAST(@C AS VARCHAR(2))))
	--SET @ParmDefinition = N' @M'+LTRIM(RTRIM(CAST(@C AS VARCHAR(2))))+' int'
	--print @ParmDefinition
	--EXEC SP_EXECUTESQL  @SQLCOMMAND,@ParmDefinition,@m
		
	
	PRINT @SQLCOMMAND

	SET @M=@M+1
	SET @C=@C+1
END



SET @SQLCOMMAND=' INSERT INTO #COMPANA1'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'(M,Y,AC_ID,AC_NAME,AMOUNT)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT  M=MONTH(LAC_VW.DATE),Y=YEAR(LAC_VW.DATE),LAC_VW.AC_ID,AC_MAST.AC_NAME,SUM(CASE WHEN LAC_VW.AMT_TY='+'''DR'''+' THEN LAC_VW.AMOUNT ELSE -LAC_VW.AMOUNT END)  FROM LAC_VW INNER JOIN AC_MAST ON (AC_MAST.AC_ID=LAC_VW.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN STKL_VW_MAIN ON (LAC_VW.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY AND LAC_VW.TRAN_CD=STKL_VW_MAIN.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'GROUP BY LAC_VW.AC_ID,AC_MAST.AC_NAME,MONTH(LAC_VW.DATE),YEAR(LAC_VW.DATE)'
print @SQLCOMMAND

--
EXEC SP_EXECUTESQL  @SQLCOMMAND

--SELECT * FROM #COMPANA1
 
INSERT INTO #COMPANA (AC_ID,AC_NAME,COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9,COL10,COL11,COL12,COL13)
SELECT DISTINCT AC_ID,AC_NAME,0,0,0,0,0,0,0,0,0,0,0,0,0 FROM #COMPANA1 


--SELECT * FROM #COMPANA1 ORDER BY AC_NAME,Y,M
SET @C=0

IF  @M1<>0 
BEGIN
	UPDATE A SET A.COL1=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M1 AND Y=@Y1 
	SET @C=2
END

IF  @M2<>0 
BEGIN
	UPDATE A SET A.COL2=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M2 AND Y=@Y2 
	SET @C=3
END
IF  @M3<>0 
BEGIN
	UPDATE A SET A.COL3=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M3 AND Y=@Y3 
	SET @C=4
END
IF  @M4<>0 
BEGIN
	UPDATE A SET A.COL4=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M4 AND Y=@Y4 
	SET @C=5
END
IF  @M5<>0 
BEGIN
	UPDATE A SET A.COL5=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M5 AND Y=@Y5 
	SET @C=6
END
print 'c='+cast(@c as varchar)
IF  @M6<>0 
BEGIN
	UPDATE A SET A.COL6=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M6 AND Y=@Y6 
	SET @C=7
END
print 'm7='+cast(@m7 as varchar)
print 'c='+cast(@c as varchar)
IF  @M7<>0 
BEGIN
	UPDATE A SET A.COL7=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M7 AND Y=@Y7 
	SET @C=8
END
IF  @M8<>0 
BEGIN
	UPDATE A SET A.COL8=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M8 AND Y=@Y8 
	SET @C=9
END

IF  @M9<>0 
BEGIN
	UPDATE A SET A.COL9=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M9 AND Y=@Y9 
	SET @C=10
END
IF  @M10<>0 
BEGIN
	UPDATE A SET A.COL10=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M10 AND Y=@Y10 
	SET @C=11
END
IF  @M12<>0 
BEGIN
	UPDATE A SET A.COL12=B.AMOUNT FROM #COMPANA1 B INNER JOIN #COMPANA A  ON (A.AC_ID=B.AC_ID)  WHERE M=@M12 AND Y=@Y12 
	SET @C=13
END

IF @C=1 BEGIN
	SET @H1='Balance'
END
IF @C=2 BEGIN
	SET @H2='Balance'
END
IF @C=3 BEGIN
	SET @H3='Balance'
END
IF @C=4 BEGIN
	SET @H4='Balance'
END
IF @C=5 BEGIN
	SET @H5='Balance'
END
IF @C=6 BEGIN
	SET @H6='Balance'
END
IF @C=7 BEGIN
	SET @H7='Balance'
END
IF @C=8 BEGIN
	SET @H8='Balance'
END
IF @C=9 BEGIN
	SET @H9='Balance'
END
IF @C=10 BEGIN
	SET @H10='Balance'
END
IF @C=11 BEGIN
	SET @H11='Balance'
END
IF @C=12 BEGIN
	SET @H12='Balance'
END
IF @C=13 BEGIN
	SET @H13='Balance'
END

				 --UPDATE A2 SET A2.AMOUNT=t1.amount  FROM (select ac_name ,amount=sum(amount) from a1 group by ac_name )  t1 INNER JOIN A2 ON (t1.AC_NAME=A2.AC_NAME) --GROUP BY A1.AC_NAME,A2.AC_NAME
SET @SQLCOMMAND='UPDATE A  SET A.COL'+CAST(@C AS VARCHAR(2))+'=T1.AMOUNT FROM (SELECT AC_ID,AMOUNT=SUM(AMOUNT) FROM #COMPANA1 GROUP BY AC_ID) T1 INNER JOIN #COMPANA A  ON (T1.AC_ID=A.AC_ID)'
PRINT @SQLCOMMAND
EXEC SP_EXECUTESQL  @SQLCOMMAND

SELECT *,H1=@H1,H2=@H2,H3=@H3,H4=@H4,H5=@H5,H6=@H6,H7=@H7,H8=@H8,H9=@H9,H10=@H10,H11=@H11,H12=@H12,H13=@H13 FROM #COMPANA ORDER BY AC_NAME
--select  @M1,@Y1,@H1,@M2,@Y2,@H2,@M3,@Y3,@H3,@M4,@Y4,@H4,@M5,@Y5,@H5,@M6,@Y6,@H6,@M7,@Y7,@H7,@M8,@Y8,@H8,@M9,@Y9,@H9,@M10,@Y10,@H10,@M11,@Y11,@H11,@M12,@Y12,@H12
GO
