DROP PROCEDURE [USP_REP_ABCANALYSIS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate INVENTORY STOCK VALUATION Report.
-- Modified date:
-- Modified by:
-- =============================================
CREATE PROCEDURE [USP_REP_ABCANALYSIS]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(100) --= null
AS
DECLARE @VALMETHOD AS VARCHAR(20)
DECLARE @FCON AS NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)

--SET @VALMETHOD=CASE WHEN (@EXPARA LIKE '%FIFO%') THEN 'FIFO' ELSE (CASE WHEN (@EXPARA LIKE '%LIFO%') THEN 'LIFO' ELSE 'AVG'  END) END

--print @VALMETHOD


EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=NULL--@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE='I',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=null
,@VFCON =@FCON OUTPUT

declare @ClassA int,@ClassB int,@ClassC int
declare @Basedon AS VARCHAR(60)

--print @EXPARA
SET @Basedon=substring(@expara,1,charindex(',',@expara)-1)
--print @VALMETHOD
set @EXPARA=LTRIM(substring(@expara,charindex(',',@expara)+1,len(@EXPARA)))
--Print @Expara
SET @VALMETHOD=substring(@expara,1,charindex(',',@expara)-1)
--print @VALMETHOD
set @EXPARA=LTRIM(substring(@expara,charindex(',',@expara)+1,len(@EXPARA)))
--print @EXPARA
SET @ClassA=substring(@expara,1,charindex(',',@expara)-1)
--print @ClassA
set @EXPARA=LTRIM(substring(@expara,charindex(',',@expara)+1,len(@EXPARA)))
--print @EXPARA
SET @ClassB=substring(@expara,1,charindex(',',@expara)-1)
--print @ClassB
set @EXPARA=LTRIM(substring(@expara,charindex(',',@expara)+1,len(@EXPARA)))
--print @EXPARA
SET @ClassC=@EXPARA
--print @ClassC


SELECT IT_CODE,IT_NAME=ITEM,OPBAL=QTY,OPAMT=GRO_AMT,RQTY=QTY,RAMT=GRO_AMT,IQTY=QTY,IAMT=GRO_AMT,CLBAL=QTY,CLAMT=GRO_AMT,RUNNINGTOT=GRO_AMT,PER=GRO_AMT,GRADE=PMKEY  INTO #STKVAL FROM STITEM WHERE 1=2


SELECT DISTINCT ENTRY_TY,(CASE WHEN EXT_VOU=1 THEN BCODE_NM ELSE ENTRY_TY END) AS BHENT,PMKEY=INV_STK  INTO #L FROM LCODE WHERE (V_ITEM<>0 ) AND INV_STK<>' '  ORDER BY BHENT

 
SELECT  DISTINCT A.ENTRY_TY,A.FLD_NM,A.ATT_FILE,A_S=(CASE WHEN (A.CODE='D' OR A.CODE='F') THEN '-' ELSE '+' END),A.STKVAL,A.WEFSTKFROM,A.WEFSTKTO,TAX_NAME=SPACE(20),L.BHENT
INTO #TAX
FROM DCMAST A INNER JOIN #L L ON (A.ENTRY_TY=L.ENTRY_TY) WHERE A.STKVAL<>0
UNION
SELECT DISTINCT ENTRY_TY,FLD_NM='TAXAMT   ',ATT_FILE=1,A_S='+',STKVAL,WEFSTKFROM,WEFSTKTO,TAX_NAME,BHENT=ENTRY_TY  
FROM STAX_MAS  
WHERE STKVAL<>0

SELECT M.DATE,TRAN_CD=0,M.INV_NO,M.ENTRY_TY,I.PMKEY,I.IT_CODE,I.QTY,I.RATE,I.GRO_AMT,IT.IT_NAME,IT.RATEPER,MGRO_AMT=M.GRO_AMT,M.NET_AMT,I.WARE_NM,FRATE=I.RATE,PMV=M.NET_AMT
,PMI=M.NET_AMT,TOTPMV=M.NET_AMT
,BHENT=SPACE(2),I.ITSERIAL,PMKEY1=3,DC_NO
INTO #STKVAL1
FROM STITEM I INNER JOIN 
STMAIN M ON(M.tran_cd=I.tran_cd) 
INNER JOIN IT_MAST IT ON(I.IT_CODE=IT.IT_CODE)
WHERE 1=2

DECLARE @ENTRY_TY AS VARCHAR(2),@TRAN_CD INT,@BHENT AS VARCHAR(2),@ITSERIAL VARCHAR(10),@DATE SMALLDATETIME,@QTY NUMERIC(15,3),@AQTY NUMERIC(15,3),@AQTY1 NUMERIC(15,3),@IBALQTY1 NUMERIC(15,3),@QTY1 NUMERIC(15,3),@PMKEY VARCHAR(1)
DECLARE @ENTRY_TY1 AS VARCHAR(2),@TRAN_CD1 INT,@ITSERIAL1 VARCHAR(10),@WARE_NM1 VARCHAR(100),@DATE1 SMALLDATETIME,@IT_CODE1 INT
DECLARE @RATE NUMERIC(12,2),@RATE1 NUMERIC(12,2),@FRATE NUMERIC(12,2),@LRATE NUMERIC(12,2),@IT_CODE INT,@MIT_CODE INT,@IT_NAME VARCHAR(100),@WARE_NM VARCHAR(100),@MWARE_NM VARCHAR(100)

DECLARE @SQLCOMMAND AS NVARCHAR(4000)


DECLARE  C1STKVAL CURSOR FOR 
SELECT  DISTINCT BHENT,PMKEY FROM #L
ORDER BY BHENT
OPEN C1STKVAL
FETCH NEXT FROM C1STKVAL INTO @BHENT,@PMKEY
WHILE @@FETCH_STATUS=0
BEGIN
	SET @SQLCOMMAND=' '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INSERT INTO #STKVAL1 ('
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'DATE,TRAN_CD,INV_NO,ENTRY_TY,PMKEY,IT_CODE,QTY,RATE,GRO_AMT,IT_NAME,RATEPER,MGRO_AMT,NET_AMT,WARE_NM,FRATE,PMV'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',PMI,TOTPMV'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',BHENT,I.ITSERIAL,PMKEY1,DC_NO'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+')'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT M.DATE,M.TRAN_CD,M.INV_NO,M.ENTRY_TY,I.PMKEY,I.IT_CODE,I.QTY,I.RATE,I.GRO_AMT,IT_MAST.IT_NAME,IT_MAST.RATEPER,MGRO_AMT=M.GRO_AMT,M.NET_AMT,I.WARE_NM,FRATE=0,PMV=0'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',PMI=0,TOTPMV=0'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',L.BHENT,I.ITSERIAL,PMKEY1=(CASE WHEN I.PMKEY='+CHAR(39)+'+'+CHAR(39)+' THEN 1 ELSE 0 END)'--,RTRAN_CD=(CASE WHEN ITR.TRAN_CD IS NULL THEN 0 ELSE ITR.TRAN_CD END) ,RENTRY_TY=ITR.ENTRY_TY,RBHENT=SPACE(2),RQTY=ITR.RQTY,RITSERIAL=ITR.ITSERIAL'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',DC_NO FROM '+@BHENT+'ITEM I INNER JOIN '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+@BHENT+'MAIN M ON(M.tran_cd=I.tran_cd) '	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST  ON(I.IT_CODE=IT_MAST.IT_CODE)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IT_MAST.IN_STKVAL=1'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN #L L ON (M.ENTRY_TY=L.ENTRY_TY)'

	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND I.PMKEY<>'+''' '''
	IF @PMKEY='-'
	BEGIN
		SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND M.DATE<='+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)
	END
	PRINT @SQLCOMMAND
	EXEC SP_EXECUTESQL  @SQLCOMMAND
		
	FETCH NEXT FROM C1STKVAL INTO @BHENT,@PMKEY
END
CLOSE C1STKVAL
DEALLOCATE C1STKVAL

SELECT *,ASSEAMT=QTY * RATE INTO #RECEIPT FROM #STKVAL1 WHERE PMKEY1=1 

DELETE FROM #STKVAL1 WHERE DATE>@EDATE
DELETE FROM #STKVAL1 WHERE ((PMKEY1=0 AND LEN(RTRIM(DC_NO))>0))


DECLARE @TENTRY_TY AS VARCHAR(2),@FLD_NM AS VARCHAR(20),@ATT_FILE AS INT,@A_S AS VARCHAR(1),@WEFSTKFROM AS SMALLDATETIME,@WEFSTKTO AS SMALLDATETIME,@TBHENT AS VARCHAR(2),@TAX_NAME AS VARCHAR(30)
DECLARE @PARMDEFINATION NVARCHAR(50),@AMT AS NUMERIC(12,2)
UPDATE #RECEIPT SET PMI=0

SELECT ENTRY_TY,TRAN_CD=0,ITSERIAL,AMT=GRO_AMT INTO #ITEM1 FROM STITEM  WHERE 1=2



DECLARE  C2STKVAL CURSOR FOR 
SELECT  DISTINCT ENTRY_TY,BHENT FROM #RECEIPT WHERE PMKEY='+'
OPEN C2STKVAL
FETCH NEXT FROM C2STKVAL INTO @ENTRY_TY,@BHENT
WHILE @@FETCH_STATUS=0
BEGIN
	

	DECLARE  C3STKVAL CURSOR FOR 
	SELECT FLD_NM,ATT_FILE,A_S,WEFSTKFROM,WEFSTKTO,BHENT,TAX_NAME FROM #TAX WHERE (ENTRY_TY=@ENTRY_TY) OR (BHENT='~~')
	OPEN C3STKVAL
	FETCH NEXT FROM  C3STKVAL INTO @FLD_NM,@ATT_FILE,@A_S,@WEFSTKFROM,@WEFSTKTO,@TBHENT,@TAX_NAME
	WHILE @@FETCH_STATUS=0
	BEGIN
		IF @ATT_FILE='0'
		BEGIN
		    DELETE FROM #ITEM1
			SET @SQLCOMMAND='INSERT INTO #ITEM1  (ENTRY_TY,TRAN_CD,ITSERIAL,AMT)'
			
			SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT A.ENTRY_TY,A.TRAN_CD,A.ITSERIAL,(CASE WHEN '+RTRIM(@FLD_NM)+' IS NULL THEN 0 ELSE '+RTRIM(@FLD_NM)+' END)  FROM '+@BHENT+'ITEM A INNER JOIN DCMAST B ON (A.ENTRY_TY=B.ENTRY_TY ) WHERE A.DATE BETWEEN '+CHAR(39)+CAST(@WEFSTKFROM AS VARCHAR)+CHAR(39)+ ' AND '+CHAR(39)+CAST(@WEFSTKTO AS VARCHAR)+CHAR(39) +' AND A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)+' AND B.FLD_NM='''+RTRIM(@FLD_NM)+''' AND B.STKVAL=1' --Added by Shrikant S. on 03 Apr, 2010 For TKT-863
			
			EXECUTE SP_EXECUTESQL @SQLCOMMAND	
			SET @SQLCOMMAND='UPDATE  A SET A.PMI=A.PMI '+@A_S+' B.AMT FROM #ITEM1 B INNER JOIN #RECEIPT A ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.ITSERIAL=B.ITSERIAL)  WHERE  A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)
			
			EXECUTE SP_EXECUTESQL @SQLCOMMAND
		END	
		ELSE
		BEGIN
			
			
			IF @TAX_NAME<>''  
			BEGIN
				DELETE FROM #ITEM1
				
				SET @SQLCOMMAND='INSERT INTO #ITEM1  (ENTRY_TY,TRAN_CD,ITSERIAL,AMT)'
				
				SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT A.ENTRY_TY,A.TRAN_CD,A.ITSERIAL,(CASE WHEN '+RTRIM(@FLD_NM)+' IS NULL THEN 0 ELSE '+RTRIM(@FLD_NM)+' END)  FROM '+@BHENT+'ITEM A INNER JOIN STAX_MAS B ON (A.ENTRY_TY=B.ENTRY_TY AND RTRIM(A.TAX_NAME)=RTRIM(B.TAX_NAME)) WHERE A.DATE BETWEEN '+CHAR(39)+CAST(@WEFSTKFROM AS VARCHAR)+CHAR(39)+ ' AND '+CHAR(39)+CAST(@WEFSTKTO AS VARCHAR)+CHAR(39)+' AND A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39) +' AND A.TAX_NAME='+CHAR(39) +@TAX_NAME+CHAR(39)+' and  A.taxamt<>0 AND B.STKVAL=1 ' --Changed by Shrikant S. on 06 Apr, 2010 for TKT-863
				EXECUTE SP_EXECUTESQL @SQLCOMMAND
				SET @SQLCOMMAND='UPDATE A SET A.PMI= B.AMT FROM #ITEM1 B INNER JOIN #RECEIPT A ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.ITSERIAL=B.ITSERIAL)  WHERE  A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)+' ' --Added by Shrikant S. on 06 Apr, 2010 for TKT-863
				EXECUTE SP_EXECUTESQL @SQLCOMMAND 

				
			END
			ELSE
			BEGIN
				DELETE FROM #ITEM1 
				SET @SQLCOMMAND='INSERT INTO #ITEM1  (ENTRY_TY,TRAN_CD,ITSERIAL,AMT)'
				
				SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT A.ENTRY_TY,A.TRAN_CD,ITSERIAL=0,(CASE WHEN '+RTRIM(@FLD_NM)+' IS NULL THEN 0 ELSE '+RTRIM(@FLD_NM)+' END)  FROM '+@BHENT+'MAIN A INNER JOIN DCMAST B ON (A.ENTRY_TY=B.ENTRY_TY) WHERE A.DATE BETWEEN '+CHAR(39)+CAST(@WEFSTKFROM AS VARCHAR)+CHAR(39)+ ' AND '+CHAR(39)+CAST(@WEFSTKTO AS VARCHAR)+CHAR(39)+' AND A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)+' AND B.FLD_NM='''+RTRIM(@FLD_NM)+''' AND B.STKVAL=1' --Added by Shrikant S. on 03 Apr, 2010 for TKT-863
				EXECUTE SP_EXECUTESQL @SQLCOMMAND	
								
--				SET @SQLCOMMAND='select  a=1,A.TOTPMV,A.TOTPMV, B.AMT FROM #ITEM1 B INNER JOIN #RECEIPT A ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD ) WHERE  A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)
				
				SET @SQLCOMMAND='UPDATE  A SET A.TOTPMV=A.TOTPMV '+@A_S+' B.AMT FROM #ITEM1 B INNER JOIN #RECEIPT A ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD ) WHERE  A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)
				EXECUTE SP_EXECUTESQL @SQLCOMMAND
							

			END	

	

		END
		FETCH NEXT FROM  C3STKVAL INTO @FLD_NM,@ATT_FILE,@A_S,@WEFSTKFROM,@WEFSTKTO,@TBHENT,@TAX_NAME
	END
	CLOSE C3STKVAL
	DEALLOCATE C3STKVAL
	FETCH NEXT FROM C2STKVAL INTO @ENTRY_TY,@BHENT
END
CLOSE C2STKVAL
DEALLOCATE C2STKVAL


UPDATE A SET ASSEAMT=B.ASSEAMT FROM #RECEIPT A INNER JOIN 
(SELECT ENTRY_TY,TRAN_CD,ASSEAMT=SUM(QTY * RATE) FROM #RECEIPT  GROUP BY ENTRY_TY,TRAN_CD) B 
ON A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD

UPDATE  #RECEIPT SET PMV=(TOTPMV*(QTY * RATE))/(CASE WHEN ASSEAMT=0 THEN 1 ELSE ASSEAMT END)  WHERE PMKEY='+'  


UPDATE  #RECEIPT SET FRATE=(((QTY*RATE)/RATEPER)+PMI+PMV)/(CASE WHEN qty=0 THEN 1 ELSE qty END)   WHERE PMKEY='+'

UPDATE  #RECEIPT SET FRATE=0 WHERE BHENT='SR'

SET @LRATE=0
SET @MIT_CODE=-1
SET @MWARE_NM=' '
SELECT * INTO #TRECEIPT FROM #RECEIPT

DECLARE  STKVALCRSOR1 CURSOR FOR SELECT IT_CODE,FRATE,ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM FROM #TRECEIPT 
ORDER BY IT_CODE,WARE_NM,DATE,(CASE WHEN ENTRY_TY='OS' THEN 'A' ELSE (CASE WHEN PMKEY='+' THEN (CASE WHEN ENTRY_TY='SR' THEN 'C' ELSE 'B' end) ELSE 'D' END) END),TRAN_CD,ITSERIAL
OPEN  STKVALCRSOR1
FETCH NEXT FROM STKVALCRSOR1 INTO @IT_CODE,@FRATE,@ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM
WHILE (@@FETCH_STATUS=0)
BEGIN
	IF (@MIT_CODE<>@IT_CODE) OR (@MWARE_NM<>@WARE_NM)
	BEGIN
		SET @LRATE=@FRATE
		SET @MIT_CODE=@IT_CODE
		SET @MWARE_NM=@WARE_NM
	END

	IF (@FRATE)>0
	BEGIN
		SET @LRATE=@FRATE
	END
	IF (@FRATE=0 AND @LRATE>0)
	BEGIN
		UPDATE #RECEIPT SET FRATE=@LRATE WHERE (ENTRY_TY=@ENTRY_TY AND TRAN_CD=@TRAN_CD AND ITSERIAL=@ITSERIAL)
	END

	FETCH NEXT FROM STKVALCRSOR1 INTO @IT_CODE,@FRATE,@ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM
END
CLOSE STKVALCRSOR1
DEALLOCATE STKVALCRSOR1

UPDATE A SET A.FRATE=C.FRATE
FROM #STKVAL1  A 
LEFT JOIN #RECEIPT C ON (C.ENTRY_TY=A.ENTRY_TY AND C.TRAN_CD=A.TRAN_CD AND C.ITSERIAL=A.ITSERIAL)



SELECT A.ENTRY_TY,A.DATE,A.TRAN_CD,A.ITSERIAL,A.RENTRY_TY,A.ITREF_TRAN,A.RITSERIAL INTO #ITR1 FROM STKL_VW_ITREF A INNER JOIN LCODE B ON (A.RENTRY_TY=B.ENTRY_TY) INNER JOIN LCODE C ON (A.ENTRY_TY=C.ENTRY_TY) where B.inv_stk<>' ' AND B.INV_STK=C.INV_STK --AND A.DATE<=@EDATE
UPDATE A SET A.FRATE=C.FRATE 
FROM #STKVAL1  A 
LEFT JOIN #ITR1 B ON (A.ENTRY_TY=B.RENTRY_TY AND A.TRAN_CD=B.ITREF_TRAN AND A.ITSERIAL=B.RITSERIAL)
LEFT JOIN #RECEIPT C ON (C.ENTRY_TY=B.ENTRY_TY AND C.TRAN_CD=B.TRAN_CD AND C.ITSERIAL=B.ITSERIAL)
WHERE (ISNULL(C.RATE,0)<>0 AND C.RATE<>0)



DELETE FROM #STKVAL1 WHERE LEN(DC_NO)>0  


DECLARE @CNT NUMERIC(18)
SET @CNT=0

PRINT '1'

IF (@VALMETHOD='FIFO' or @VALMETHOD='LIFO')
BEGIN 
	

	DECLARE @FETCH_STATUS BIT
	SELECT ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE=FRATE,AQTY=QTY,PMKEY,CNT=0,IT_NAME,AENTRY_TY=ENTRY_TY,ATRAN_CD=TRAN_CD,AITSERIAL=ITSERIAL,AWARE_NM=WARE_NM,ADATE=DATE INTO #STKVALFL FROM #STKVAL1 WHERE 1=2
	
	DECLARE STKVALCRSOR1 CURSOR FOR 
	SELECT ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,FRATE,PMKEY,IT_NAME FROM  #STKVAL1 ORDER BY IT_CODE,WARE_NM,DATE,(CASE WHEN ENTRY_TY='OS' THEN 'A' ELSE (CASE WHEN PMKEY='+' THEN 'B' ELSE 'C'END) END),TRAN_CD,ITSERIAL
	OPEN STKVALCRSOR1
	FETCH NEXT FROM STKVALCRSOR1 INTO @ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE,@PMKEY,@IT_NAME
	--                                        	
	WHILE (@@FETCH_STATUS=0)
	BEGIN
		
		SET @CNT=@CNT+1	
		IF (@PMKEY='+')
		BEGIN
			
			INSERT INTO #STKVALFL
				(ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE,AQTY,PMKEY,CNT,IT_NAME,AENTRY_TY,ATRAN_CD,AITSERIAL,AWARE_NM,ADATE)
			VALUES (@ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE,0,@PMKEY,@CNT,@IT_NAME,' ',0,' ',' ',@SDATE)
		END			
		IF (@PMKEY='-')
		BEGIN
			
			SET @IBALQTY1=@QTY
			
			IF  @VALMETHOD='FIFO'
			BEGIN
				DECLARE STKVALCRSOR2 CURSOR FOR 
				SELECT ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE,AQTY FROM #STKVALFL WHERE (WARE_NM=@WARE_NM AND IT_CODE=@IT_CODE) AND (PMKEY='+') AND ((QTY-AQTY)>0) ORDER BY IT_CODE ,WARE_NM,DATE,TRAN_CD,ITSERIAL
			END
			ELSE
			BEGIN
				DECLARE STKVALCRSOR2 CURSOR FOR 
				SELECT ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE,AQTY FROM #STKVALFL WHERE (WARE_NM=@WARE_NM AND IT_CODE=@IT_CODE) AND (PMKEY='+') AND ((QTY-AQTY)>0) ORDER BY DATE desc,TRAN_CD desc ,ITSERIAL DESC --IT_CODE,WARE_NM,
			END
			OPEN STKVALCRSOR2                                                          
			FETCH NEXT FROM STKVALCRSOR2 INTO @ENTRY_TY1,@TRAN_CD1,@ITSERIAL1,@WARE_NM1,@DATE1,@IT_CODE1,@QTY1,@RATE1,@AQTY1
			IF (@@FETCH_STATUS=0)
			BEGIN
				SET @FETCH_STATUS=0
			END
			WHILE (@FETCH_STATUS=0)
			BEGIN
				SET @CNT=@CNT+1
				print '--------'
				print @QTY1
				print @AQTY1
				print @IBALQTY1
				 IF ((@QTY1-@AQTY1-@IBALQTY1)>0)
				 BEGIN
					
					
					SET @AQTY=@IBALQTY1
					SET @IBALQTY1=0
				
					  	
					
					UPDATE #STKVALFL SET AQTY=AQTY+@AQTY WHERE (ENTRY_TY=@ENTRY_TY1 AND TRAN_CD=@TRAN_CD1 AND ITSERIAL=@ITSERIAL1 AND IT_CODE=@IT_CODE)


					INSERT INTO #STKVALFL
					    (ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE,AQTY,PMKEY,CNT,IT_NAME,AENTRY_TY,ATRAN_CD,AITSERIAL,AWARE_NM,ADATE)
					VALUES (@ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE1,@AQTY,@PMKEY,@CNT,@IT_NAME,@ENTRY_TY1,@TRAN_CD1,@ITSERIAL1,@WARE_NM1,@DATE1)
				 END
				 ELSE
				 BEGIN
					
					SET @IBALQTY1=@IBALQTY1-(@QTY1-@AQTY1)
					SET @AQTY=(@QTY1-@AQTY1)
					
					UPDATE #STKVALFL SET AQTY=QTY WHERE (ENTRY_TY=@ENTRY_TY1 AND TRAN_CD=@TRAN_CD1 AND ITSERIAL=@ITSERIAL1 AND IT_CODE=@IT_CODE)
					INSERT INTO #STKVALFL
					    (ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE,AQTY,PMKEY,CNT,IT_NAME,AENTRY_TY,ATRAN_CD,AITSERIAL,AWARE_NM,ADATE)
					VALUES (@ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE1,@AQTY,@PMKEY,@CNT,@IT_NAME,@ENTRY_TY1,@TRAN_CD1,@ITSERIAL1,@WARE_NM1,@DATE1)
				 END
				
				
				FETCH NEXT FROM STKVALCRSOR2 INTO @ENTRY_TY1,@TRAN_CD1,@ITSERIAL1,@WARE_NM1,@DATE1,@IT_CODE1,@QTY1,@RATE1,@AQTY1
				IF (@IBALQTY1=0 OR @@FETCH_STATUS<>0)
				BEGIN
					SET @FETCH_STATUS=-1	
				END
			END	
			CLOSE STKVALCRSOR2
			DEALLOCATE STKVALCRSOR2
			
			
			IF @IBALQTY1>0
			BEGIN
				SET @AQTY=@IBALQTY1
				 INSERT INTO #STKVALFL
					    (ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE,AQTY,PMKEY,CNT,IT_NAME,AENTRY_TY,ATRAN_CD,AITSERIAL,AWARE_NM,ADATE)
				 VALUES (@ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE,@AQTY,@PMKEY,@CNT,@IT_NAME,' ',0,' ',' ',@SDATE)				
			END
		END
		FETCH NEXT FROM STKVALCRSOR1 INTO @ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE,@PMKEY,@IT_NAME				
	END
	CLOSE STKVALCRSOR1
	DEALLOCATE STKVALCRSOR1
	
	INSERT INTO #STKVAL 
	(IT_CODE,IT_NAME,OPBAL,OPAMT,RQTY,RAMT,IQTY,IAMT,CLBAL,CLAMT)
	SELECT 
	IT_CODE,IT_NAME,
	OPBAL=SUM(CASE WHEN ENTRY_TY='OS' OR DATE<@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE -AQTY  END) ELSE 0  END)	    		
	,OPAMT=SUM(CASE WHEN ENTRY_TY='OS' OR DATE<@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY*RATE ELSE -(AQTY*RATE)  END) ELSE 0  END)
	,RQTY=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='+') THEN QTY ELSE 0 END)
	,RAMT=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='+') THEN QTY*RATE ELSE 0 END)
	,IQTY=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='-') THEN AQTY ELSE 0 END)
	,IAMT=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='-') THEN AQTY*RATE ELSE 0 END)
	,CLBAL=SUM((CASE WHEN PMKEY='+' THEN QTY ELSE -AQTY  END))
	,CLAMT=SUM(CASE WHEN PMKEY='+' THEN QTY*RATE ELSE -(AQTY*RATE)  END)
	FROM #STKVALFL 
	GROUP BY IT_CODE,IT_NAME ORDER BY CLAMT DESC

END

PRINT '2'

set @mit_code=-1
IF @VALMETHOD='AVG'
BEGIN
	declare @av_balqty numeric(17,3),@av_balamt numeric(17,2)

	SELECT ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE=FRATE,PMKEY,CNT=0,IT_NAME INTO #STKVALAVG FROM #STKVAL1 WHERE 1=2
	DECLARE STKVALCRSOR1 CURSOR FOR 
	SELECT ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,FRATE,PMKEY,IT_NAME FROM  #STKVAL1 ORDER BY IT_CODE,WARE_NM,DATE,(CASE WHEN ENTRY_TY='OS' THEN 'A' ELSE (CASE WHEN PMKEY='+' THEN 'B' ELSE 'C'END) END),TRAN_CD,ITSERIAL
	OPEN STKVALCRSOR1
	FETCH NEXT FROM STKVALCRSOR1 INTO @ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE,@PMKEY,@IT_NAME
	WHILE (@@FETCH_STATUS=0)
	BEGIN
		
	IF (@MIT_CODE<>@IT_CODE) OR (@MWARE_NM<>@WARE_NM)
	BEGIN
		SET @MIT_CODE=@IT_CODE
		SET @MWARE_NM=@WARE_NM
		set @av_balqty=0
		set @av_balamt=0
	END
	if @pmkey='+'
	begin
		
		set @av_balqty=@av_balqty+@qty
		set @av_balamt=@av_balamt+(@qty*@rate)
		
	end
	if @pmkey='-'
	begin
		if @av_balqty<>0
		begin
			
			set @rate=@av_balamt/@av_balqty
		end
		else
		begin
			set @rate=0
		end	
		set @av_balqty=@av_balqty-@qty
		set @av_balamt=@av_balamt-(@qty*@rate)
	end 
	INSERT INTO #STKVALAVG
		(ENTRY_TY,TRAN_CD,ITSERIAL,WARE_NM,DATE,IT_CODE,QTY,RATE,PMKEY,CNT,IT_NAME)
		VALUES (@ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE,@PMKEY,@CNT,@IT_NAME)


		
		FETCH NEXT FROM STKVALCRSOR1 INTO @ENTRY_TY,@TRAN_CD,@ITSERIAL,@WARE_NM,@DATE,@IT_CODE,@QTY,@RATE,@PMKEY,@IT_NAME
	END
	CLOSE STKVALCRSOR1
	DEALLOCATE STKVALCRSOR1
	
	INSERT INTO #STKVAL 

	(IT_CODE,IT_NAME,OPBAL,OPAMT,RQTY,RAMT,IQTY,IAMT,CLBAL,CLAMT
	)
	SELECT IT_CODE,IT_NAME
	,OPBAL=SUM(CASE WHEN ENTRY_TY='OS' OR DATE<@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END) ELSE 0 	END )	    		
	,OPAMT=SUM(CASE WHEN ENTRY_TY='OS' OR DATE<@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END)*RATE ELSE 0 END )
	,RQTY=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='+') THEN QTY ELSE 0 END)
	,RAMT=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='+') THEN QTY*RATE ELSE 0 END)
	,IQTY=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='-') THEN QTY ELSE 0 END)
	,IAMT=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='-') THEN QTY*RATE ELSE 0 END)
	,CLBAL=SUM((CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END) ) 
	,CLAMT=SUM((CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END)*RATE )
	 FROM  #STKVALAVG GROUP BY IT_CODE,IT_NAME ORDER BY CLAMT DESC
	
	
END	
--
--IF  CHARINDEX('ANS=NO', @EXPARA)<>0 
--BEGIN
--	print @EXPARA
--	delete from #STKVAL where clbal=0
--END
delete from #STKVAL where (CASE WHEN RTRIM(@Basedon) = 'CLOSING STOCK' THEN CLBAL ELSE IQTY end)<=0 or (CASE WHEN RTRIM(@Basedon) = 'CLOSING STOCK' THEN CLAMT ELSE IAMT end)<=0

SELECT *, RPTTYPE = @Basedon INTO #STKVALNEW FROM #STKVAL ORDER BY (CASE WHEN RTRIM(@Basedon) = 'CLOSING STOCK' THEN CLAMT ELSE IAMT end) desc 

--added for running total and per
DECLARE @RUNNINGTOT numeric(16,2) 
SET @RUNNINGTOT = 0
DECLARE @TOTAL numeric(16,2)
set @TOTAL=0

--select @TOTAL=sum(CLAMT) from  #STKVALNEW

SELECT @TOTAL = SUM(CASE WHEN RTRIM(@Basedon) = 'CLOSING STOCK' THEN CLAMT ELSE IAMT end) from #STKVALNEW

UPDATE #STKVALNEW SET @RUNNINGTOT = RUNNINGTOT = @RUNNINGTOT + (CASE WHEN RTRIM(@Basedon)='CLOSING STOCK' THEN CLAMT ELSE IAMT end)
--FROM #STKVAL

UPDATE #STKVALNEW
SET  PER=(RUNNINGTOT/@TOTAL*100)

--FROM #STKVAL
--DECLARE A str
--DECLARE B str
--DECLARE C str
UPDATE #STKVALNEW
SET GRADE= 
CASE 
WHEN PER<=@ClassA THEN 'A'
WHEN PER<=@ClassA+@ClassB and PER>@ClassA THEN 'B'
ELSE 'C'
END 

SELECT A.IT_CODE,A.IT_NAME,IT.RATEUNIT,IT.[GROUP],IT.TYPE,A.OPBAL,A.OPAMT,A.RQTY,A.RAMT,A.IQTY,A.IAMT,A.CLBAL,
	A.CLAMT,A.RUNNINGTOT,A.PER,A.GRADE ,A.RPTTYPE 
	FROM #STKVALNEW A INNER JOIN IT_MAST IT ON  (A.IT_CODE=IT.IT_CODE) order by A.RUNNINGTOT
GO
