IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ENT_GTA_INWARD_CREDIT]') AND type in (N'P', N'PC'))
Begin
DROP PROCEDURE [dbo].[USP_ENT_GTA_INWARD_CREDIT]
End
Go

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
/*
Modification By : Vasant
Modification On : 25-02-2013
Bug Details		: Bug-6092 ( Required "Service Tax REVERSE CHARGE MECHANISM" in our Default Products.)
Search for		: BUG6092

Modification By : Vasant
Modification On : 24-04-2013
Bug Details		: Bug-9462 (Issue in 'Credit Entry' for Reverse Service Tax Mechanism).
Search for		: BUG9462

Modification By : Vasant
Modification On : 17-02-2014
Bug Details		: Bug 21539 - No Service Tax Credit for Car and Cleaning Services.
Search for		: BUG21539

Modification By : Shrikant S. 
Modification On : 30/05/2016
Bug Details		: Bug-28132 - Krishi Kalyan Cess .

*/
-- =============================================

create Procedure [dbo].[USP_ENT_GTA_INWARD_CREDIT]
@Sdate SmallDateTime,
@Edate SmallDateTime,
@Type Int
AS
Set NoCount On
Declare @SqlCmd NVarchar(4000),@retStr Varchar(500)

IF @Type=0
Begin
	Select Top 1 Sel=convert(bit,0),Bpmain.u_chalno,Bpmain.u_chaldt,Bpmain.inv_no,Bpmain.date,Bpmain.party_nm 
	,Bpmain.Entry_ty,Bpmain.Tran_cd
	,Epmain.u_pinvno,Epmain.u_Pinvdt,Epmain.Entry_ty as MainEntry_ty,Epmain.Tran_cd as MainTran_cd,IFInv_no=Epmain.Inv_no,IFDate=Epmain.Date,paySerbAmt=isnull(Epmain.serbamt,0)	--BUG6092
	,paysercamt=isnull(Epmain.sercamt,0),payserhamt=isnull(Epmain.serhamt,0),againstRef=case when isnull(ref.rinv_no,'')='' then '' else (Case when ref.rentry_ty='J3' THEN 'Service Tax' else 'Excise' END) end ,rinv_no=isnull(ref.rinv_no,''),rdate=isnull(ref.rdate,0)
	,acalloc.serty,acalloc.sTaxable,acalloc.serAvail
	,SerbAmt=isnull(Epmain.serbamt,0)
	,sercamt=isnull(Epmain.serbamt,0)
	,serhamt=isnull(Epmain.serbamt,0)
	,payskkcamt=ISNULL(Epmain.skkcamt,0),skkcamt=ISNULL(Epmain.skkcamt,0)		--Added by Shrikant S. on 30/05/2016 for Bug-28132	
	from Bpmain
	left Join mainall_vw mall On (Bpmain.Entry_ty=mall.Entry_ty and Bpmain.tran_cd=mall.Tran_Cd)
	inner Join Epmain on (mall.Entry_all=Epmain.Entry_ty and mall.main_tran=epmain.tran_cd)
	left Join acdetalloc acalloc on (acalloc.Entry_ty=Epmain.Entry_ty and acalloc.tran_cd=Epmain.Tran_cd)
	left Join SertaxCrRef ref on (Bpmain.Entry_ty=Ref.Entry_ty and Bpmain.Tran_cd=Ref.tran_cd)
	Where Bpmain.Entry_ty='B2' and 1=2
End
If @Type=1
Begin
	--BUG9462
	Select Sel=convert(bit,Case When ref.rinv_no is not null then 0 else 1 end)
	,againstRef=case when isnull(ref.rinv_no,'')='' then '' else (Case when ref.rentry_ty='J3' THEN 'Service Tax' else 'Excise' END) end ,rinv_no=isnull(ref.rinv_no,''),rdate=isnull(ref.rdate,0)
	,Bpmain.u_chalno,Bpmain.u_chaldt,Bpmain.inv_no,Bpmain.date,Bpmain.Entry_ty,Bpmain.Tran_cd,BpMain.U_cldt	--BUG21539
	,SerAcMast.Ac_Name as Party_nm,SerTaxMain_vw.u_pinvno as u_pinvno,SerTaxMain_vw.u_Pinvdt as u_Pinvdt
	,SerTaxMain_vw.Entry_ty as MainEntry_ty,SerTaxMain_vw.Tran_cd as MainTran_cd,IfInv_no=SerTaxMain_vw.Inv_no,IfDate=SerTaxMain_vw.Date
	,paySerbAmt=SerTaxMain_vw.serbamt,paysercamt=SerTaxMain_vw.sercamt,payserhamt=SerTaxMain_vw.serhamt
	,serty=isnull(acalloc.serty,''),sTaxable=isnull(acalloc.sTaxable,0),serAvail=isnull(acalloc.serAvail,'')	
	,SerbAmt=case when ac_mast.ac_name in ('GTA Service Tax Payable','Service Tax Payable') then isnull(mall.new_all,0) else 0 end	
	,sercamt=case when ac_mast.ac_name in ('GTA Edu. Cess on Service Tax Payable','Edu. Cess on Service Tax Payable') then isnull(mall.new_all,0) else 0 end	
	,serhamt=case when ac_mast.ac_name in ('GTA S & H Cess on Service Tax Payable','S & H Cess on Service Tax Payable') then isnull(mall.new_all,0) else 0 end	
	,payskkcamt=SerTaxMain_vw.skkcamt					--Added by Shrikant S. on 30/05/2016 for Bug-28132	
	,skkcamt=case when ac_mast.ac_name in ('GTA Krishi Kalyan Cess Payable','Krishi Kalyan Cess Payable') then isnull(mall.new_all,0) else 0 end		--Added by Shrikant S. on 30/05/2016 for Bug-28132	
	Into #tmptbl from Bpmain
	left Join mainall_vw mall On (Bpmain.Entry_ty=mall.Entry_ty and Bpmain.tran_cd=mall.Tran_Cd)
	left Join ac_mast on (mall.ac_id=ac_mast.ac_id)
	left Join SerTaxMain_vw on (mall.Entry_all=SerTaxMain_vw.Entry_ty and mall.main_tran=SerTaxMain_vw.tran_cd)			
	left Join Ac_Mast SerAcMast on (SerTaxMain_vw.Ac_id=SerAcMast.Ac_id)					
	left Join acdetalloc acalloc on (acalloc.Entry_ty=SerTaxMain_vw.Entry_ty and acalloc.tran_cd=SerTaxMain_vw.Tran_cd)	
	left Join SertaxCrRef ref on ((Bpmain.Entry_ty=Ref.Entry_ty and Bpmain.Tran_cd=Ref.tran_cd)				
		And (mall.entry_all = ref.entry_all and mall.main_tran = ref.main_tran))							
	Where Bpmain.Entry_ty='B2' --and Bpmain.date Between @sdate and @edate
	Union all
	Select Sel=convert(bit,Case When ref.rinv_no is not null then 0 else 1 end)
	,againstRef=case when isnull(ref.rinv_no,'')='' then '' else (Case when ref.rentry_ty='J3' THEN 'Service Tax' else 'Excise' END) end ,rinv_no=isnull(ref.rinv_no,''),rdate=isnull(ref.rdate,0)
	,Bpmain.u_chalno,Bpmain.u_chaldt,Bpmain.inv_no,Bpmain.date,Bpmain.Entry_ty,Bpmain.Tran_cd,BpMain.U_cldt	--BUG21539
	,SerAcMast.Ac_Name as Party_nm,SerTaxMain_vw.u_pinvno as u_pinvno,SerTaxMain_vw.u_Pinvdt as u_Pinvdt
	,SerTaxMain_vw.Entry_ty as MainEntry_ty,SerTaxMain_vw.Tran_cd as MainTran_cd,IfInv_no=SerTaxMain_vw.Inv_no,IfDate=SerTaxMain_vw.Date
	,paySerbAmt=SerTaxMain_vw.serbamt,paysercamt=SerTaxMain_vw.sercamt,payserhamt=SerTaxMain_vw.serhamt
	,serty=isnull(acalloc.serty,''),sTaxable=isnull(acalloc.sTaxable,0),serAvail=isnull(acalloc.serAvail,'')	
	,paidSertax=case when ac_mast.ac_name in ('GTA Service Tax Payable','Service Tax Payable') then isnull(mall.new_all,0) else 0 end	
	,paidCess=case when ac_mast.ac_name in ('GTA Edu. Cess on Service Tax Payable','Edu. Cess on Service Tax Payable') then isnull(mall.new_all,0) else 0 end	
	,paidHcess=case when ac_mast.ac_name in ('GTA S & H Cess on Service Tax Payable','S & H Cess on Service Tax Payable') then isnull(mall.new_all,0) else 0 end	
	,payskkcamt=SerTaxMain_vw.skkcamt					--Added by Shrikant S. on 30/05/2016 for Bug-28132	
	,paidskkcamt=case when ac_mast.ac_name in ('GTA Krishi Kalyan Cess Payable','Krishi Kalyan Cess Payable') then isnull(mall.new_all,0) else 0 end		--Added by Shrikant S. on 30/05/2016 for Bug-28132	
	from Bpmain
	left Join mainall_vw mall On (Bpmain.Entry_ty=mall.Entry_all and Bpmain.tran_cd=mall.main_tran)
	left Join ac_mast on (mall.ac_id=ac_mast.ac_id)
	left Join SerTaxMain_vw on (mall.Entry_ty=SerTaxMain_vw.Entry_ty and mall.Tran_cd=SerTaxMain_vw.tran_cd)					
	left Join Ac_Mast SerAcMast on (SerTaxMain_vw.Ac_id=SerAcMast.Ac_id)					
	left Join acdetalloc acalloc on (acalloc.Entry_ty=SerTaxMain_vw.Entry_ty and acalloc.tran_cd=SerTaxMain_vw.Tran_cd)
	left Join SertaxCrRef ref on (Bpmain.Entry_ty=Ref.Entry_ty and Bpmain.Tran_cd=Ref.tran_cd)
	Where Bpmain.Entry_ty='B2' --and Bpmain.date Between @sdate and @edate
		
	Update #tmptbl Set u_pinvno = IfInv_no Where u_pinvno = ' '
	Update #tmptbl Set u_pinvdt = IfDate Where u_pinvdt = ' '
	--BUG9462	
	update #tmptbl set party_nm = '' from #tmptbl a,SerTax_Mast b where a.serty = b.name and a.u_cldt between b.sdate and b.edate and b.CreditAvail = 0	--BUG21539
	delete from #tmptbl where isnull(party_nm,' ') = ' ' 	--BUG6092

	Select  Sel,u_chalno,u_chaldt,inv_no,date,party_nm,Entry_ty,Tran_cd 
	,u_pinvno,u_Pinvdt,MainEntry_ty,MainTran_cd,ifInv_no,ifDate,paySerbAmt		--BUG6092
	,paysercamt,payserhamt,againstRef=rtrim(againstRef),rinv_no,rdate,serty,sTaxable,serAvail
	,serbamt=sum(serbamt),sercamt=sum(sercamt),serhamt=sum(serhamt)
	,payskkcamt,skkcamt=SUM(skkcamt)						--Added by Shrikant S. on 30/05/2016 for Bug-28132	
	From #tmptbl
	Group by Sel,u_chalno,u_chaldt,inv_no,date,party_nm,Entry_ty,Tran_cd ,u_pinvno,u_Pinvdt,MainEntry_ty,MainTran_cd,ifInv_no,ifdate,againstRef,rinv_no,rdate,serty,serAvail	--BUG6092
	,paySerbAmt,paysercamt,payserhamt,sTaxable
	,payskkcamt													--Added by Shrikant S. on 30/05/2016 for Bug-28132	
	
	Drop table #tmptbl
End
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

