DROP PROCEDURE [USP_REP_FORM26Q_ANNE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		RUEPESH PRAJAPATI.
-- CREATE DATE: 16/05/2007
-- DESCRIPTION:	THIS STORED PROCEDURE IS USEFUL TO GENERATE TDS FORM 26Q ANNEXURE REPORT.
-- MODIFY DATE: 16/05/2007
-- MODIFIED BY: 
-- MODIFY DATE: 
-- REMARK:
-- =============================================
CREATE PROCEDURE   [USP_REP_FORM26Q_ANNE]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS
SET QUOTED_IDENTIFIER OFF
DECLARE @FCON AS NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)

DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(2000),@FDATE VARCHAR(10)

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE='',@VACFILE='AC'
,@VDTFLD ='U_CLDT'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


SELECT DISTINCT SECTION,AC_NAME=RTRIM(SUBSTRING(TDSPOSTING,2,CHARINDEX('"',TDSPOSTING,2)-2)) 
INTO #TDSMASTER
FROM TDSMASTER WHERE ISNULL(SECTION,SPACE(1))<>SPACE(1)
UNION
SELECT DISTINCT SECTION,AC_NAME=RTRIM(SUBSTRING(SCPOSTING,2,CHARINDEX('"',SCPOSTING,2)-2)) 
FROM TDSMASTER WHERE ISNULL(SECTION,SPACE(1))<>SPACE(1)
UNION
SELECT DISTINCT SECTION,AC_NAME=RTRIM(SUBSTRING(ECPOSTING,2,CHARINDEX('"',ECPOSTING,2)-2)) 
FROM TDSMASTER WHERE ISNULL(SECTION,SPACE(1))<>SPACE(1)
UNION
SELECT DISTINCT SECTION,AC_NAME=RTRIM(SUBSTRING(HCPOSTING,2,CHARINDEX('"',HCPOSTING,2)-2)) 
FROM TDSMASTER WHERE ISNULL(SECTION,SPACE(1))<>SPACE(1)




SELECT M.DATE,ENTRY_ALL,MAIN_TRAN 
,AMOUNT=SUM(NEW_ALL)
,M.U_CHALNO,M.U_BSRCODE
,T.SECTION,M.TRAN_CD
INTO #MALL 
FROM BPMALL MALL
INNER JOIN BPMAIN M ON (M.TRAN_CD=MALL.TRAN_CD AND M.ENTRY_TY=MALL.ENTRY_TY)
INNER JOIN AC_MAST ON (AC_MAST.AC_ID=MALL.AC_ID)
LEFT JOIN #TDSMASTER T ON (T.AC_NAME=AC_MAST.AC_NAME)
WHERE 1=2
GROUP BY M.DATE,ENTRY_ALL,MAIN_TRAN,M.U_CHALNO,M.U_BSRCODE,T.SECTION ,M.TRAN_CD




SET @SQLCOMMAND='INSERT INTO #MALL SELECT M.DATE,ENTRY_ALL,MAIN_TRAN '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',AMOUNT=SUM(NEW_ALL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',M.U_CHALNO,M.U_BSRCODE,T.SECTION,M.TRAN_CD'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM BPMALL MALL'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN BPMAIN M ON (M.TRAN_CD=MALL.TRAN_CD AND M.ENTRY_TY=MALL.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST ON (AC_MAST.AC_ID=MALL.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN #TDSMASTER T ON (RTRIM(T.AC_NAME)=RTRIM(AC_MAST.AC_NAME))'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND ISNULL(T.SECTION,SPACE(1))<>SPACE(1) AND AC_MAST.TYP IN (''TDS'',''TDS-ECESS'',''TDS-HCESS'',''TDS-SUR'')'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'GROUP BY M.DATE,ENTRY_ALL,MAIN_TRAN,M.U_CHALNO,M.U_BSRCODE,T.SECTION,M.TRAN_CD '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'UNION ALL'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT M.DATE,ENTRY_ALL=MALL.ENTRY_TY,MAIN_TRAN=MALL.TRAN_CD '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',AMOUNT=SUM(NEW_ALL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',M.U_CHALNO,M.U_BSRCODE,T.SECTION,M.TRAN_CD'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM EPMALL MALL'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN BPMAIN M ON (M.TRAN_CD=MALL.MAIN_TRAN AND M.ENTRY_TY=MALL.ENTRY_ALL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST ON (AC_MAST.AC_ID=MALL.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN #TDSMASTER T ON (RTRIM(T.AC_NAME)=RTRIM(AC_MAST.AC_NAME))'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND ISNULL(T.SECTION,SPACE(1))<>SPACE(1) AND AC_MAST.TYP IN (''TDS'',''TDS-ECESS'',''TDS-HCESS'',''TDS-SUR'')'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'GROUP BY M.DATE,MALL.ENTRY_TY,MALL.TRAN_CD,M.U_CHALNO,M.U_BSRCODE,T.SECTION,M.TRAN_CD '
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND


SELECT 
PAYDT=MALL.DATE,M.NET_AMT
,TDSAMT=M.TDSAMT
,SCAMT=M.SCAMT
,ECAMT=M.ECAMT
,HCAMT=M.HCAMT
,DRAMT=ISNULL(MALL.AMOUNT,0)
,AC_MAST.I_TAX,PARTY_NM=AC_MAST.AC_NAME 
,M.DATE
,DED_RATE=(M.TDS_TP)+   ( (M.TDS_TP*M.SC_TP)/100 ) + ( (M.TDS_TP*M.EC_TP)/100  ) + ( (M.TDS_TP*M.HC_TP)/100 )
,MALL.U_CHALNO,MALL.U_BSRCODE,MALL.SECTION,BPTRAN_CD=MALL.TRAN_CD
,DED_CODE=(CASE WHEN DED_TYPE='COMPANY' THEN 1 ELSE 2 END)
INTO #TMP_ANNEXURE FROM EPMAIN M 
INNER JOIN AC_MAST ON (M.AC_ID=AC_MAST.AC_ID)
INNER JOIN #MALL MALL ON (MALL.ENTRY_ALL=M.ENTRY_TY AND M.TRAN_CD=MALL.MAIN_TRAN)
ORDER BY MALL.SECTION,MALL.TRAN_CD


SELECT SECTION,U_CHALNO,BPTRAN_CD,TOT_AMT=SUM(DRAMT) INTO #TMP_TOTAMT FROM #TMP_ANNEXURE
GROUP BY SECTION,U_CHALNO,BPTRAN_CD
SELECT  A.*,B.TOT_AMT FROM #TMP_ANNEXURE  A INNER JOIN #TMP_TOTAMT B ON (A.SECTION=B.SECTION AND A.U_CHALNO=B.U_CHALNO AND A.BPTRAN_CD=B.BPTRAN_CD)
GO
