set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author:		Hetal L Patel
-- Create date: 01/06/2009
-- Description:	This Stored procedure is useful to generate KA VAT Challan 152.
-- Modified By: Dinesh
-- Modify date: 15/06/2009
-- Remark: 
-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_KA_VAT_CHALL152] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='BPACDET',@VITFILE='',@VACFILE=''
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)
/*
SET @SQLCOMMAND='SELECT BPMAIN.U_TR6,BPMAIN.ENTRY_TY,BPMAIN.DATE,BPMAIN.DOC_NO,BPMAIN.TRAN_CD,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'BPMAIN.CHEQ_NO,BPMAIN.U_CHQDT,BPMAIN.BANK_NM,BPACDET.AMOUNT,BPACDET.U_CLDT,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AC_MAST.AC_NAME,BPMAIN.L_YN'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM BPACDET '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN  BPMAIN ON (BPMAIN.TRAN_CD=BPACDET.TRAN_CD AND BPMAIN.ENTRY_TY=BPACDET.ENTRY_TY)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (AC_MAST.AC_ID=BPACDET.AC_ID) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND BPMAIN.U_TR6<>'' '' AND AC_MAST.AC_NAME IN (''BALANCE WITH EXCISE PLA'',''BALANCE WITH EXCISE CESS'',''BALANCE WITH CESS SURCHARGE PLA'') '

--PRINT  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
*/
Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'BPMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		Set @MultiCo = 'YES'
		SET @SQLCOMMAND='SELECT BPMAIN.U_TR6,BPMAIN.ENTRY_TY,BPMAIN.DATE,BPMAIN.DOC_NO,BPMAIN.TRAN_CD,'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'BPMAIN.CHEQ_NO,BPMAIN.U_CHQDT,BPMAIN.BANK_NM,BPACDET.AMOUNT,BPACDET.U_CLDT,'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AC_MAST.AC_NAME,BPMAIN.L_YN,U_CHALNO=CASE WHEN BPMAIN.U_CHALNO='''' THEN BPMAIN.INV_NO ELSE BPMAIN.U_CHALNO END'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM BPACDET '
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN  BPMAIN ON (BPMAIN.TRAN_CD=BPACDET.TRAN_CD AND BPMAIN.ENTRY_TY=BPACDET.ENTRY_TY AND BPMAIN.DBNAME = BPACDET.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (AC_MAST.AC_ID=BPACDET.AC_ID And Ac_mast.dbname = Bpacdet.dbname) '
		SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.AC_NAME like ''%VAT%'''

--		PRINT  @SQLCOMMAND
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		Set @MultiCo = 'NO'
		SET @SQLCOMMAND='SELECT BPMAIN.U_TR6,BPMAIN.ENTRY_TY,BPMAIN.DATE,BPMAIN.DOC_NO,BPMAIN.TRAN_CD,'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'BPMAIN.CHEQ_NO,BPMAIN.U_CHQDT,BPMAIN.BANK_NM,BPACDET.AMOUNT,BPACDET.U_CLDT,'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AC_MAST.AC_NAME,BPMAIN.L_YN,U_CHALNO=CASE WHEN BPMAIN.U_CHALNO='''' THEN BPMAIN.INV_NO ELSE BPMAIN.U_CHALNO END'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM BPACDET '
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN  BPMAIN ON (BPMAIN.TRAN_CD=BPACDET.TRAN_CD AND BPMAIN.ENTRY_TY=BPACDET.ENTRY_TY)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (AC_MAST.AC_ID=BPACDET.AC_ID) '
		SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.AC_NAME like ''%VAT%'''

--		PRINT  @SQLCOMMAND
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End

set ANSI_NULLS OFF
set QUOTED_IDENTIFIER OFF

--Print 'KA VAT FORM 152'

