DROP PROCEDURE [Usp_GetSupp_Bills]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Usp_GetSupp_Bills]
@Ac_id int,
@sac_id int,
@cons_id int,
@scons_id int,
@Date SmallDateTime,
@Entry_ty Varchar(2),
@Tran_cd Numeric(10,0),
@Type Int 
as

Declare @Sqlcmd NVarchar(max),@ParmDefinition nvarchar(500),@FldList Varchar(max),@defSize Varchar(50),@perSize Varchar(50),@UpdateFlds Varchar(2000)
Declare @sEntry_ty Varchar(2),@Entry_tbl Varchar(2),@retval Numeric(10,0)


select @defSize='Convert('+Convert(Varchar(100),c.[Name])+'('+Convert(varchar(3),a.xprec)+','+convert(varchar(3),a.xscale)+'),0) as '  from SysColumns a inner Join SysObjects b on (b.id=a.id)
Inner Join SysTypes c on (a.xtype=c.xtype)
Where b.[Name]='PTITEM' and a.[Name]='CGST_AMT'

select @perSize='Convert('+Convert(Varchar(100),c.[Name])+'('+Convert(varchar(3),a.xprec)+','+convert(varchar(3),a.xscale)+'),0) as '  from SysColumns a inner Join SysObjects b on (b.id=a.id)
Inner Join SysTypes c on (a.xtype=c.xtype)
Where b.[Name]='PTITEM' and a.[Name]='CGST_PER'

set @retval=0

SELECT Entry_ty,Fld_nm,pert_name Into #fldListtbl FROM DcMast WHERE 1=2

IF @Type=1
Begin
	INSERT INTO #fldListtbl SELECT Entry_ty,Fld_nm,pert_name FROM DcMast Where 
		Entry_ty In ('E1','S1')  
			GROUP BY Entry_ty,FLD_NM,pert_name,Code ORDER BY Entry_ty,CODE DESC 
End			
Else
Begin
	INSERT INTO #fldListtbl SELECT Entry_ty,Fld_nm,pert_name FROM DcMast Where 
		Entry_ty In ('PT','ST','P1')  
		GROUP BY Entry_ty,FLD_NM,pert_name,Code ORDER BY Entry_ty,CODE DESC 
End


SELECT @FldList= STUFF(
                 (SELECT ','+@defSize + rtrim(Fld_nm)+case when pert_name <>'' then +','+@perSize+rtrim(pert_name) else '' end FROM #fldListtbl Group By Fld_nm,pert_name FOR XML PATH ('')), 1, 0, ''
               ) 

Declare @TBLNM Varchar(50),@TBLNAME1 Varchar(50),@TBLNAME2 Varchar(50),
	@TBLNAME3 Varchar(50),@TBLNAME4 Varchar(50),
	@SQLCOMMAND as NVARCHAR(4000)

Select @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
		+ (DATEPART(ss, GETDATE()) * 1000 )+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
		
Select @TBLNAME1 = '##TMP1'+@TBLNM,@TBLNAME2 = '##TMP2'+@TBLNM
Select @TBLNAME3 = '##TMP3'+@TBLNM,@TBLNAME4 = '##TMP4'+@TBLNM


set @Sqlcmd='Select CAST(0 as bit) as sel,b.Tran_Cd,b.Entry_ty,Date=b.pinvdt,inv_no=b.pinvno,a.Itserial,a.Ware_nm,a.rate,a.rate as newrate,a.qty,b.ac_id,b.sac_id,b.cons_id,b.scons_id '
set @Sqlcmd=@Sqlcmd+' '+',c.it_name,c.it_code,c.hsncode,d.Code_nm'+@FldList+' into '+@TBLNAME1+'	From PtItem a, PtMain b,It_mast c,Lcode d where 1=2'
EXECUTE sp_executesql @Sqlcmd

Declare Itemcursor cursor  for
Select Entry_ty,tbl_nm=(Case When bcode_nm<>'' then bcode_nm Else case when ext_vou=1 then '' else Entry_ty End End) From LCODE 
	where Entry_ty in (Select Entry_ty From #fldListtbl Group by Entry_ty)

Open Itemcursor
Fetch Next From Itemcursor Into @sEntry_ty,@Entry_tbl
While @@Fetch_Status=0
Begin
	print @sEntry_ty
	set @Sqlcmd='Select top 1 @retvalOUT=Ac_Id From '+@Entry_tbl+'Main where entry_ty='''+@sEntry_ty+''' and ac_id='+CONVERT(varchar(10),@Ac_id)
	SET @ParmDefinition = N'@retvalOUT int OUTPUT'
	EXEC sp_executesql @Sqlcmd, @ParmDefinition, @retvalOUT=@retval OUTPUT
	
	if isnull(@retval,0)>0
	Begin
								
        SELECT @FldList= STUFF(
                 (SELECT 
					case When c.fld_nm IS null then ','+@defSize+RTRIM(b.fld_nm) else ',a.'+c.fld_nm end
						+case when b.pert_name<>'' then (case when c.pert_name IS null then ','+@perSize+RTRIM(b.pert_name) else ',a.'+rtrim(c.pert_name) end) else '' end  
					FROM (Select Distinct Fld_nm,pert_name From #fldListtbl) b 
					Left Join (Select Fld_nm,Pert_name From Dcmast Where Entry_ty = @Entry_ty) c On (b.fld_nm=c.fld_nm)
					GROUP BY b.FLD_NM,c.Fld_nm,b.pert_name,c.pert_name
					FOR XML PATH ('')), 1, 0, ''
               ) 
		print @FldList
         
	  	set @Sqlcmd=' Select CAST(0 as bit) as sel,b.Tran_Cd,b.Entry_ty,Date=Case when b.Entry_ty in (''E1'',''PT'',''P1'') then b.pinvdt else b.date end,inv_no=Case when b.Entry_ty in (''E1'',''PT'',''P1'') then b.pinvno else b.inv_no end,a.Itserial,a.Ware_nm,'+case when @Type=1 then 'a.staxamt as Rate,a.staxamt' else 'a.rate,a.rate' end+' as newrate,a.qty,b.ac_id,b.sac_id,b.cons_id,b.scons_id '
		set @Sqlcmd=@Sqlcmd+' '+',c.it_name,c.it_code,c.hsncode,Code_nm=(Select Top 1 Code_nm From Lcode Where Entry_ty=b.Entry_ty)'+@FldList+' into '+@TBLNAME2+' From '+@Entry_tbl+'Item a, '+@Entry_tbl+'Main b, It_mast c '
		set @Sqlcmd=@Sqlcmd+' '+'Where a.entry_ty = b.entry_ty and a.tran_cd = b.tran_cd and a.it_code = c.it_code and b.ac_id = '+Convert(varchar(10),@Ac_id)
		set @Sqlcmd=@Sqlcmd+' '+'and b.Date <= '''+Convert(Varchar(50),@Date)+''' and b.Entry_ty='''+@sEntry_ty+''' '
		set @Sqlcmd=@Sqlcmd+' '+'and b.Sac_Id='+Convert(varchar(10),@sac_id)+' and b.cons_id='+Convert(varchar(10),@cons_id)+' and b.scons_id='+Convert(varchar(10),@scons_id)
		set @Sqlcmd=@Sqlcmd+' '+'and Not(b.Entry_ty='''+@Entry_ty+''' and b.Tran_cd='+CONVERT(Varchar(10),@Tran_cd)+' ) '
		EXECUTE sp_executesql @Sqlcmd

		print @Sqlcmd
		set @Sqlcmd='Delete from '+@TBLNAME2+' Where Entry_ty+Convert(Varchar(10),tran_cd)+Itserial in (Select rEntry_ty+Convert(Varchar(10),itref_tran)+RItserial from ulitref) ' 
		EXECUTE sp_executesql @Sqlcmd
		
		set @Sqlcmd='Insert Into '+@TBLNAME1+' Select * From '+@TBLNAME2
		EXECUTE sp_executesql @Sqlcmd
		
		set @Sqlcmd='Drop table '+@TBLNAME2
		EXECUTE sp_executesql @Sqlcmd
	End
	
	Fetch Next From Itemcursor Into @sEntry_ty,@Entry_tbl
End
Close Itemcursor
Deallocate Itemcursor

set @Sqlcmd='Select * From '+@TBLNAME1
EXECUTE sp_executesql @Sqlcmd
GO
