if exists (select [name] from sysobjects where [name]='USP_REP_ER1_OCT12' AND XTYPE='P')
BEGIN 
DROP PROCEDURE USP_REP_ER1_OCT12
END
GO
-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 16/05/2007
-- Description:	This is useful for Excise Er-1 report.
-- Modification Date/By/Reason: 15/06/2009 Rupesh Prajapati. Modified for Consignor Details.
-- Modification Date/By/Reason: 09/08/2009 Rupesh Prajapati. Modified for Removed As such in Part-3,8 details.
-- Modification Date/By/Reason: 21/09/2009 Rupesh Prajapati. Modified for Point No. 9 to delete the record for WHERE QM='9' AND ISSUE=0.
-- Modification Date/By/Reason: 03/12/2009 Ajay Jaiswal. Modified for Point No. 7.
-- Modification Date/By/Reason: 07/01/2010 Sachin N. S. Modified for PART 3 for Sales against Sales Return.
-- Modification Date/By/Reason: 08/01/2010 Sachin N. S. Modified For Opening Balance Of Table No 3 (Rectified Join)
-- Modification Date/By/Reason: 23/02/2010 Ajay Jaiswal. Changes done in PART 3 as it was related to TKT-342
-- Modification Date/By/Reason: 24/03/2010 Received from Deepa after changes done for E-filing.
-- Modification Date/By/Reason: 08/07/2010 Ajay Jaiswal for TKT-2913.
-- Modification Date/By/Reason: 09/07/2010 Birendra for TKT-2860.
-- Modification Date/By/Reason: 02/08/2010 Sachin S. for TKT-3312.
-- Modification Date/By/Reason: 10/08/2010 Birendra for TKT-4932.
-- Modification Date/By/Reason: 10/05/2011 Sandeep S. for TKT-7472.
-- Modification Date/By/Reason: 30/09/2011 Sachin N. S. for TKT-9711.
-- Modification Date/By/Reason: 07/12/2011 Sandeep for Bug-676
-- Modification Date/By/Reason: 19/07/2012 Satish Pal for Bug-5210
-- Modification Date/By/Reason: 31/10/2012 Satish Pal for Bug-7155
-- Modification Date/By/Reason: 03/01/2013 Sandeep for Bug-1724  
-- Modification Date/By/Reason: 07/03/2013 Vasant for Bug 7656 (Modification required in E.R.1 E-filing Report). - Comment = --Bug7656
---Vasant211212 Changes done for eFiling (Taxila)
-- Modification Date/By/Reason: 10/04/2013 Vasant for Bug 12279 (In input pdf file of ER1 for Description of Goods in one item there is no Type Of Clearance value). - Comment = --Bug12279
-- Modification Date/By/Reason: 06/08/2013 Vasant for BUG-18241 (Challan Details Need to Come in ER-1 Report). - Comment = --BUG18241
--New ER1
--Bug-20501
-- Modification Date/By/Reason: 13/12/2013 Vasant for BUG-21080 (The 'Type of Clarence' for the Rule 'Annexure [IV]' is coming wrong in ER-1). - Comment = --BUG21080
-- Modification Date/By/Reason: 24/02/2015 Shrikant S. for BUG-25417 
-- Remark: 
-- =============================================

CREATE PROCEDURE [dbo].[USP_REP_ER1_OCT12] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
,@tbl_nm Varchar(50)=''		-- Added by Shrikant S. on 24/02/2015 for BUG-25417 
AS
---Vasant211212
Declare @IseFiling Bit,@ER1_FifoAdj Bit	--Bug7656
Set @IseFiling = (case when @EXPARA like '%"eFilin1g = 1"%' then 1 else 0 end)
Select Top 1 @ER1_FifoAdj = ER1_FifoAdj from Manufact	--Bug7656
---Vasant211212
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE --null
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE='EX_VW_ACDET '
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


DECLARE  @ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@DOC_NO VARCHAR(10),@AC_ID INT,@IT_CODE NUMERIC(10),@ITSERIAL VARCHAR(5),@RULE VARCHAR(20),@IT_NAME VARCHAR(100),@CHAPNO VARCHAR(10),@RATEUNIT VARCHAR(20),@EIT_NAME VARCHAR(100),@ITGRID INT,@TRAN_CD INT,@CHAR1 NUMERIC(2),@INV_NO VARCHAR(10),@DEPT VARCHAR(20),@CATE VARCHAR(20),@INV_SR VARCHAR(20),@AC_NAME VARCHAR(100),@CNT_CER1_3_2 INT,@VTYPE VARCHAR(40),@PMKEY VARCHAR(1),@LEXMCLEARTY	VARCHAR(40)     --EXMCLEARTY
DECLARE @OPBAL NUMERIC(17,4),@RECEIPT NUMERIC(17,4),@ISSUE NUMERIC(17,4),@BALANCE NUMERIC(17,4),@LOPBAL NUMERIC(17,4),@LRECEIPT NUMERIC(17,4),@LISSUE NUMERIC(17,4),@LBALANCE NUMERIC(17,4),@QM CHAR(2),@CDATE SMALLDATETIME,@E_DUTY NUMERIC(12,3),@E_NAME VARCHAR(100),@E_PER NUMERIC(5,3),@SRNO CHAR(1),@PAC_ID INT,@PARTY_NM VARCHAR(100),@FDATE VARCHAR(10)	--BUG18241 @QM CHAR(2)
DECLARE @SRNO1 INT,@PER1 CHAR(20),@DUTY1 CHAR(20),@DESC1 CHAR(50),@EPER CHAR(20),@VVEAMT CHAR(20),@SHORTNM VARCHAR(40),@U_ARREARS VARCHAR(40),@CHEQ_NO VARCHAR(40),@CNT INT,@OBACID INT,@CRAC BIT ,@CURAC BIT
DECLARE @VCOND NVARCHAR(1000),@SQLCOMMAND NVARCHAR(4000)

SET @VCOND=@SPLCOND

SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT
SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING BALANCES '

SELECT 
	A.TRAN_CD,PAC_ID=A.AC_ID,A.INV_NO,A.DEPT,A.CATE,A.INV_SR, A.[RULE],
	B.ENTRY_TY,B.DOC_NO,B.DATE,B.IT_CODE,B.ITSERIAL,
	/*OPBAL=C.AMOUNT,RECEIPT=C.AMOUNT,ISSUE=C.AMOUNT,BALANCE=C.AMOUNT,LOPBAL=C.AMOUNT,LRECEIPT=C.AMOUNT,LISSUE =C.AMOUNT,LBALANCE =C.AMOUNT,E_DUTY=C.AMOUNT,CDATE =C.DATE,*/
	/*Changes done for 2 Decimal coming in PART 3 --> Ajay Jaiswal TKT-342*/
	OPBAL = B.QTY,RECEIPT = B.QTY,ISSUE = B.QTY,BALANCE = B.QTY,LOPBAL = B.QTY,LRECEIPT = B.QTY,LISSUE = B.QTY,LBALANCE = B.QTY,E_DUTY=C.AMOUNT,CDATE =C.DATE,
	D.ITGRID,D.CHAPNO,D.RATEUNIT,D.EIT_NAME,
	E_NAME=E.AC_NAME,PARTY_NM=E.AC_NAME,
	QM=cast('A' as varchar(2)),SRNO='A',E_PER=33.33,CRAC=0,CURAC=0,SHORTNM=E.AC_NAME,A.EXMCLEARTY	-- Changed By Sachin N. S. on 30/09/2011 for TKT-9711	--BUG18241
	--QM='A',SRNO='A',E_PER=33.33,CRAC=0,CURAC=0,SHORTNM=E.AC_NAME,A.EXMCLEARTY	-- Changed By Sachin N. S. on 30/09/2011 for TKT-9711	--BUG18241	
INTO #TBLER1
FROM STKL_VW_MAIN A	
LEFT JOIN  STKL_VW_ITEM B ON (A.TRAN_CD=B.TRAN_CD)
LEFT JOIN  EX_VW_ACDET C ON (A.TRAN_CD=C.TRAN_CD)
LEFT JOIN IT_MAST D ON (B.IT_CODE=D.IT_CODE)
LEFT JOIN AC_MAST E ON (A.AC_ID=E.AC_ID)
WHERE 1=2


SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.ITSERIAL,
	STKL_VW_MAIN.[RULE],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.RATEUNIT,IT_MAST.EIT_NAME,IT_MAST.ITGRID,STKL_VW_MAIN.TRAN_CD,PARTY_NM=AC_MAST.AC_NAME  
	,STKL_VW_ITEM.PMKEY, STKL_VW_MAIN.EXMCLEARTY	-- Changed By Sachin N. S. on 30/09/2011 for TKT-9711
INTO #TMPER1 
FROM STKL_VW_MAIN 
LEFT JOIN STKL_VW_ITEM ON (STKL_VW_MAIN.TRAN_CD=STKL_VW_ITEM.TRAN_CD) 
LEFT  JOIN EX_VW_ACDET  ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD) 
LEFT JOIN AC_MAST ON (STKL_VW_MAIN.AC_ID =AC_MAST.AC_ID)  
LEFT   JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE =IT_MAST.IT_CODE)   
WHERE 1=2

SET @SQLCOMMAND=' INSERT INTO #TMPER1 SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.ITSERIAL'
--- Start Changed for Part No. 3, displaying Sales against sales return 
---SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' ,[RULE]=(  case when STKL_VW_MAIN.entry_ty=''ST'' and STKL_VW_MAIN.u_imporm in (''Raw Material Sale'',''Branch Transfer'',''Purchase Return'') then ''Removed As Such'' else STKL_VW_MAIN.[RULE] end  )'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' ,[RULE]=(  case when STKL_VW_MAIN.entry_ty=''ST'' and (  STKL_VW_MAIN.u_imporm in (''Raw Material Sale'',''Branch Transfer'',''Purchase Return'')) then ''Removed As Such'' else (case when STKL_VW_MAIN.U_GCSSR=1 then ''U/R-16(2)'' else STKL_VW_MAIN.[RULE] end) end  )'
--- End Changed for Part No. 3, displaying Sales against sales return 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' ,IT_MAST.IT_NAME,IT_MAST.CHAPNO,RATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END),(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END),IT_MAST.ITGRID,STKL_VW_MAIN.TRAN_CD,PARTY_NM=AC_MAST.AC_NAME,STKL_VW_ITEM.PMKEY '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' ,STKL_VW_MAIN.EXMCLEARTY '	-- Changed By Sachin N. S. on 30/09/2011 for TKT-9711
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' FROM STKL_VW_MAIN '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' INNER JOIN STKL_VW_ITEM ON (STKL_VW_MAIN.TRAN_CD=STKL_VW_ITEM.TRAN_CD  AND STKL_VW_MAIN.ENTRY_TY=STKL_VW_ITEM.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' LEFT JOIN AC_MAST ON (STKL_VW_MAIN.AC_ID =AC_MAST.AC_ID) ' +  ' LEFT   JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE =IT_MAST.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'and STKL_VW_ITEM.entry_ty<>'+CHAR(39)+'OS'+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'and STKL_VW_ITEM.dc_no<>'+CHAR(39)+'DI'+CHAR(39)  --03/01/2013 Sandeep for Bug-1724  
PRINT @SQLCOMMAND
EXEC SP_EXECUTESQL  @SQLCOMMAND
--select * from #TMPER1
--(  case when STKL_VW_MAIN.entry_ty='ST' and STKL_VW_MAIN.u_imporm in ('Raw Material Sale','Branch Transfer','Purchase Return') then 'RAW MATERIAL' else cheq_no end  )

UPDATE #TMPER1 SET EXMCLEARTY = (Case when [Rule] in ('CT-1','CT-3','EOU EXPORT') then 'Export/Bond' else 'Home Clearance' end) WHERE EXMCLEARTY = ' ' And [Rule] != ' '	--Bug12279

SET @TRAN_CD=0
SET @PAC_ID=0
SET @INV_NO=' '
SET @DEPT=' '
SET @CATE=' '
SET @INV_SR=' '
SET @RULE=' '
SET @ENTRY_TY=' '
SET @DOC_NO=' '
SET @DATE=@SDATE
SET @ITSERIAL=' '
SET @OPBAL=0
SET @RECEIPT=0
SET @ISSUE=0
SET @BALANCE=0
SET @LOPBAL=0
SET @LRECEIPT=0
SET @LISSUE=0
SET @LBALANCE=0
SET @E_DUTY=0
SET @CDATE=@SDATE
SET @ITGRID=0
SET @CHAPNO=' '
SET @RATEUNIT=' '
SET @EIT_NAME=' '
SET @E_NAME= ' '
SET @QM=' '
SET @SRNO=' '
SET @E_PER=0
SET @SHORTNM=' '

---------------->PART- 3 START------------------>

DECLARE @MRULE VARCHAR(20),@MEIT_NAME VARCHAR(100),@MCHAPNO VARCHAR(10)
DECLARE  @CER1_3_1_ST NUMERIC(1),@CER1_3_2_ST NUMERIC(1)


DECLARE  CER1_3_1 CURSOR FOR 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,ITSERIAL,[RULE],IT_NAME,CHAPNO,RATEUNIT,EIT_NAME,ITGRID,TRAN_CD ,PARTY_NM,PMKEY,EXMCLEARTY	 --EXMCLEARTY
FROM  #TMPER1 where (Date between @sdate and @edate)
ORDER BY  CHAPNO,EIT_NAME,[RULE],[EXMCLEARTY],(CASE WHEN ENTRY_TY='ST' THEN 'A'  ELSE 'B' END ),DATE	-- Changed By Sachin N. S. on 30/09/2011 for TKT-9711


OPEN CER1_3_1 
FETCH NEXT FROM CER1_3_1 INTO 
@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@ITSERIAL,@RULE,@IT_NAME,@CHAPNO,@RATEUNIT,@EIT_NAME,@ITGRID,@TRAN_CD,@PARTY_NM,@PMKEY,@LEXMCLEARTY	 --EXMCLEARTY

--FOR 'OP'
SET @MCHAPNO=@CHAPNO
SET @MEIT_NAME=@EIT_NAME
SET @MRULE=@RULE
--FOR 'OP'
--(CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE)
--SET @E_NAME=CASE WHEN @E_NAME IS NULL THEN ' ' ELSE @E_NAME END
--SET @E_PER=CASE WHEN @E_PER IS NULL THEN 0 ELSE @E_PER END


WHILE @@FETCH_STATUS=0
BEGIN
	SET @CHAR1=0
	 --IF  @ENTRY_TY='OP '
	IF @ENTRY_TY not in ('ST')	
	 BEGIN
		SET @QM=3
		SET @SRNO='A'
		SET @E_DUTY=0
		--SET @E_NAME=' 1CENVAT'
		
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,EXMCLEARTY)	 --EXMCLEARTY	
		VALUES (
		@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
		@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,@QM,@SRNO,@E_PER,@SHORTNM,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@LEXMCLEARTY)	--EXMCLEARTY	
		
	END -- @ENTRY_TY='OP '
	
	SET @CNT_CER1_3_2=0		
	IF  @ENTRY_TY in ('ST')
	BEGIN
		DECLARE CER1_3_2  CURSOR FOR
		SELECT DISTINCT SRNO,PER,DUTY,[desc] FROM ER_EXCISE WHERE PER<>' '
		OPEN  CER1_3_2

		FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@desc1
		WHILE @@FETCH_STATUS=0
		BEGIN
			
			SET @DESC1=' '+CAST(@SRNO1 AS CHAR(1))+@DESC1
			
				SET @CHAR1=@CHAR1+1
				SET  @SQLCOMMAND=' DECLARE CER1_3_3  CURSOR FOR SELECT '+@PER1+','+@DUTY1+	'  FROM STITEM WHERE ( (CAST(TRAN_CD AS VARCHAR)='+CHAR(39)+CAST(@TRAN_CD AS VARCHAR)+CHAR(39)+')  AND CAST(DATE  AS NVARCHAR)='+CHAR(39)+CAST(@DATE  AS NVARCHAR)+CHAR(39)+' AND ITSERIAL=RTRIM('+CHAR(39)+@ITSERIAL+CHAR(39)+'))'
				
				EXECUTE SP_EXECUTESQL @SQLCOMMAND
				OPEN CER1_3_3
					FETCH NEXT FROM CER1_3_3 INTO @EPER,@VVEAMT
					CLOSE  CER1_3_3
					DEALLOCATE CER1_3_3

					
					SET @E_PER=@EPER
					

					IF @CNT_CER1_3_2=0
					BEGIN

						SET @QM=3
						SET @SRNO='A'
						SET @E_DUTY=0
						INSERT INTO #TBLER1 (
						TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
						E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
						OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,EXMCLEARTY)	--EXMCLEARTY)		
						VALUES (
						@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
						@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,@SHORTNM,
						@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@LEXMCLEARTY)	--EXMCLEARTY)		
						
						SET @CNT_CER1_3_2=@CNT_CER1_3_2+1
					END 	--IF CNT_CER1_3_2=0			
														
					SET @SRNO=CHAR(65+@CHAR1)
					SET @E_DUTY=@VVEAMT	
					
					--INSERT INTO #LST_EXC (ENTRY_TY,DATE,DOC_NO,PARTY_NM,ITEM_NO,[RULE],IT_NAME,CHAPNO,RATEUNIT,EIT_NAME,QM,SRNO,E_NAME,E_PER,E_DUTY,[GROUP],CDATE) VALUES (@CENTRY_TY,@CDATE,@CDOC_NO,@CPARTY_NM,@CITEM_NO,@CRULE,@CIT_NAME,@CCHAPNO,@CRATEUNIT,@CEIT_NAME,'3',CHAR(65+@CHAR1),@Cdesc1,@EPER,@VEAMT,@CGROUP,@CDATE)
					INSERT INTO #TBLER1 (
					TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
					E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
					OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,EXMCLEARTY)	--EXMCLEARTY)		
					VALUES (
					@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
					@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,@SHORTNM,
					@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@LEXMCLEARTY)	--EXMCLEARTY)		
			
	

			FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@desc1			
		END --FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@desc1
		CLOSE CER1_3_2
		DEALLOCATE CER1_3_2
	END --@ENTRY_TY='ST'


	FETCH NEXT FROM CER1_3_1 INTO 
	@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@ITSERIAL,@RULE,@IT_NAME,@CHAPNO,@RATEUNIT,@EIT_NAME,@ITGRID,@TRAN_CD,@PARTY_NM,@PMKEY,@LEXMCLEARTY	 --EXMCLEARTY
END--FETCH NEXT FROM CER1_3_1
CLOSE CER1_3_1
DEALLOCATE CER1_3_1

--SELECT TOP 1 E_NAME,E_PER,* FROM #TBLER1 WHERE ((CHAPNO='72111910') AND (EIT_NAME='Flat') AND ([RULE]='MODVATABLE') AND ENTRY_TY='ST' AND QM=3 AND SRNO='B') 
    
SELECT DISTINCT  CHAPNO,EIT_NAME,[RULE],[EXMCLEARTY] INTO #TMPER12 FROM #TBLER1 WHERE (ENTRY_TY<>'ST' AND QM=3)	-- Changed By Sachin N. S. on 30/09/2011 for TKT-9711
DECLARE CER1_3_4 CURSOR FOR SELECT  CHAPNO,EIT_NAME,[RULE] FROM #TMPER12
OPEN CER1_3_4
FETCH NEXT FROM CER1_3_4 INTO   @CHAPNO,@EIT_NAME,@RULE
WHILE @@FETCH_STATUS=0
BEGIN
	SET @E_NAME=''
	SET @E_PER=0
	SELECT TOP 1 @E_NAME=E_NAME,@E_PER=E_PER,@LEXMCLEARTY=EXMCLEARTY FROM #TBLER1 WHERE ((CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE) AND ENTRY_TY='ST' AND QM=3 AND SRNO='B') 	--EXMCLEARTY
	--SELECT TOP 1 @CHAPNO,@EIT_NAME,@RULE,E_NAME,E_PER FROM #TBLER1 WHERE ((CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE) AND ENTRY_TY='ST' AND QM=3 AND SRNO='B') and eit_name='EMULSIFIRE A-1'	
	SET @E_NAME=CASE WHEN @E_NAME IS NULL THEN ' ' ELSE @E_NAME END
	SET @E_PER=CASE WHEN @E_PER IS NULL THEN 0 ELSE @E_PER END

	--BUG21080
	--UPDATE #TBLER1 SET E_NAME=@E_NAME, E_PER =@E_PER,EXMCLEARTY=@LEXMCLEARTY  WHERE  ((CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE) AND ENTRY_TY<>'ST' AND QM=3) --EXMCLEARTY
	UPDATE #TBLER1 SET E_NAME=@E_NAME, E_PER =@E_PER WHERE ((CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE) AND ENTRY_TY<>'ST' AND QM=3) 
	--BUG21080
	FETCH NEXT FROM CER1_3_4 INTO   @CHAPNO,@EIT_NAME,@RULE
END --WHILE @@FETCH_STATUS=0
CLOSE CER1_3_4
DEALLOCATE CER1_3_4

-->Balance Quantity
DECLARE @SPL_CONDN VARCHAR(4000)
--SELECT @SPL_CONDN=SPL_CONDN FROM R_STATUS WHERE REP_NM='RG1_DC'
--SET @SPL_CONDN=SUBSTRING(@SPL_CONDN,2,LEN(RTRIM(@SPL_CONDN))-2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SELECT DISTINCT ENTRY_TY,BEH=(CASE WHEN EXT_VOU=1 THEN BCODE_NM ELSE ENTRY_TY END) INTO #LCODE FROM LCODE
--Bug7656
IF @ER1_FifoAdj = 0
Begin
--Bug7656
	SELECT IT_MAST.CHAPNO,IT_MAST.EIT_NAME
	,RATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>' ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END) 
	,OPBAL =SUM(CASE WHEN (L.BEH ='OS' OR STKL_VW_ITEM.DATE<'Mar  1 2008 12:00AM') THEN (CASE WHEN STKL_VW_ITEM.PMKEY='+' THEN STKL_VW_ITEM.QTY ELSE -STKL_VW_ITEM.QTY END) ELSE 0 END) 
	,BALANCE =SUM(CASE WHEN  STKL_VW_ITEM.PMKEY='+' THEN STKL_VW_ITEM.QTY ELSE -STKL_VW_ITEM.QTY END) 
	INTO #CHAP_BAL
	FROM STKL_VW_ITEM INNER JOIN STKL_VW_MAIN ON (STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY AND STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD) 
	INNER JOIN #LCODE L ON (STKL_VW_ITEM.ENTRY_TY=L.ENTRY_TY) 
	INNER JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE=IT_MAST.IT_CODE)   
	WHERE 1=2
	GROUP BY IT_MAST.CHAPNO,IT_MAST.EIT_NAME,(CASE WHEN IT_MAST.EXRATEUNIT<>' ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END)

	SET @SQLCOMMAND='INSERT INTO #CHAP_BAL SELECT IT_MAST.CHAPNO,(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END),RATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END) '	
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',OPBAL =SUM(CASE WHEN (L.BEH ='+'''OS'''+' OR STKL_VW_ITEM.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN (CASE WHEN STKL_VW_ITEM.PMKEY='+'''+'''+ ' THEN STKL_VW_ITEM.QTY ELSE -STKL_VW_ITEM.QTY END) ELSE 0 END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',BALANCE =SUM(CASE WHEN  STKL_VW_ITEM.PMKEY='+'''+'''+' THEN STKL_VW_ITEM.QTY ELSE -STKL_VW_ITEM.QTY END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM STKL_VW_ITEM'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN STKL_VW_MAIN ON (STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY AND STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN #LCODE L ON (STKL_VW_ITEM.ENTRY_TY=L.ENTRY_TY)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE=IT_MAST.IT_CODE)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND it_mast.type IN ('+'''Finished'''+','+'''Semi Finished'''+')'
	---Start * changes for excluding quantity from sales quantity of table no.3 in er1 if sales made as differencial invoice----
	/*SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_ITEM.DC_NO='''' '  Ajay Jaiswal - TKT-342  */ 
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_ITEM.DC_NO <> ''DI'' '
	---End * changes for excluding quantity from sales quantity of table no.3 in er1 if sales made as differencial invoice----
	---Start * changes for excluding quantity from sales Against Sales Return quantity of table no.3 in er1 if sales made as differencial invoice----
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_MAIN.U_GCSSR=0 '
	---End * changes for excluding quantity from sales Against Sales Return quantity of table no.3 in er1 if sales made as differencial invoice----
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'GROUP BY IT_MAST.CHAPNO,(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END),(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END)'
	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	delete from #CHAP_BAL where opbal+balance=0
	--Select  * from #CHAP_BAL
	UPDATE A SET A.OPBAL=B.OPBAL,A.BALANCE=B.BALANCE FROM #TBLER1 A INNER JOIN #CHAP_BAL B ON (RTRIM(A.CHAPNO)=RTRIM(B.CHAPNO)  AND A.RATEUNIT=B.RATEUNIT AND A.EIT_NAME=B.EIT_NAME) WHERE QM=3

	--SELECT 	* FROM #CHAP_BAL
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT='',CATE='',INV_SR='',[RULE]='',ENTRY_TY='OB',DOC_NO='',@SDATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM='',CRAC=0,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO,RATEUNIT,EIT_NAME,DESC1='',QM=3,SRNO='A',E_PER=0,SHORTNM='',
	OPBAL,RECEIPT=0,ISSUE=0,BALANCE,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	FROM #CHAP_BAL 
	WHERE RTRIM(CHAPNO)+RTRIM(RATEUNIT)+RTRIM(EIT_NAME) NOT IN (SELECT DISTINCT RTRIM(CHAPNO)+RTRIM(RATEUNIT)+RTRIM(EIT_NAME) FROM #TBLER1)
End	--Bug7656

--**--Start :Changes For Opening Balance Of Table No 3 (Rectified Join) ON 08/01/2010
--UPDATE A SET A.OPBAL=B.OPBAL,A.BALANCE=B.BALANCE FROM #TBLER1 A INNER JOIN #CHAP_BAL B ON (RTRIM(A.CHAPNO)=RTRIM(A.CHAPNO)  AND A.RATEUNIT=B.RATEUNIT AND A.EIT_NAME=B.EIT_NAME) WHERE QM=3
--Bug7656
IF @ER1_FifoAdj = 1
Begin

	SELECT COLNO=IDENTITY(int, 1, 1),IT_MAST.CHAPNO,IT_MAST.EIT_NAME,IT_MAST.IT_CODE,STKL_VW_MAIN.[RULE]		
	,RATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>' ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END) 
	,ROPBAL =SUM(STKL_VW_ITEM.QTY)
	,RECEIPT=SUM(STKL_VW_ITEM.QTY)
	,IOPBAL=SUM(STKL_VW_ITEM.QTY)
	,ISSUE=SUM(STKL_VW_ITEM.QTY)
	,NRECEIPT=SUM(STKL_VW_ITEM.QTY)
	,OTHRECEIPT=SUM(STKL_VW_ITEM.QTY)	
	,NISSUE=SUM(STKL_VW_ITEM.QTY)
	INTO #AdjCHAP_BAL
	FROM STKL_VW_ITEM INNER JOIN STKL_VW_MAIN ON (STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY AND STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD) 
	INNER JOIN #LCODE L ON (STKL_VW_ITEM.ENTRY_TY=L.ENTRY_TY) 
	INNER JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE=IT_MAST.IT_CODE)   
	WHERE 1=2
	GROUP BY IT_MAST.CHAPNO,IT_MAST.EIT_NAME,IT_MAST.IT_CODE,STKL_VW_MAIN.[RULE],(CASE WHEN IT_MAST.EXRATEUNIT<>' ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END)

	SET @SQLCOMMAND='INSERT INTO #AdjCHAP_BAL SELECT IT_MAST.CHAPNO,(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IT_MAST.IT_CODE,STKL_VW_MAIN.[RULE]'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END) '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',ROPBAL  =SUM(CASE WHEN (L.BEH ='+'''OS'''+' OR STKL_VW_ITEM.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN (CASE WHEN STKL_VW_ITEM.PMKEY='+'''+'''+ ' THEN STKL_VW_ITEM.QTY ELSE 0 END) ELSE 0 END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RECEIPT =SUM(CASE WHEN NOT (L.BEH ='+'''OS'''+' OR STKL_VW_ITEM.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN (CASE WHEN STKL_VW_ITEM.PMKEY='+'''+'''+ ' THEN STKL_VW_ITEM.QTY ELSE 0 END) ELSE 0 END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IOPBAL =SUM(CASE WHEN (L.BEH ='+'''OS'''+' OR STKL_VW_ITEM.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN (CASE WHEN STKL_VW_ITEM.PMKEY='+'''-'''+ ' THEN STKL_VW_ITEM.QTY ELSE 0 END) ELSE 0 END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',ISSUE =SUM(CASE WHEN NOT (L.BEH ='+'''OS'''+' OR STKL_VW_ITEM.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN (CASE WHEN STKL_VW_ITEM.PMKEY='+'''-'''+ ' THEN STKL_VW_ITEM.QTY ELSE 0 END) ELSE 0 END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',0,0,0'	
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM STKL_VW_ITEM'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN STKL_VW_MAIN ON (STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY AND STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN #LCODE L ON (STKL_VW_ITEM.ENTRY_TY=L.ENTRY_TY)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE=IT_MAST.IT_CODE)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND it_mast.type IN ('+'''Finished'''+','+'''Semi Finished'''+')'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_ITEM.DC_NO <> ''DI'' '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_MAIN.U_GCSSR=0 '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'GROUP BY IT_MAST.CHAPNO,(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IT_MAST.IT_CODE,STKL_VW_MAIN.[RULE]'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END)'
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	DECLARE @AdjCOLNO Int,@AdjFirstCOLNO Int,@AdjIT_CODE Int
	DECLARE @AdjROPBAL NUMERIC(17,4),@AdjRECEIPT NUMERIC(17,4),@AdjISSUE NUMERIC(17,4),@AdjQTY NUMERIC(17,4),@AdjBALANCE NUMERIC(17,4)
	DECLARE @AdjENTRY_TY CHAR(2),@AdjTRAN_CD INT,@AdjITSERIAL VARCHAR(5),@AdjRULE VARCHAR(20)

	---For Opening Receipt & Issues only
	Update #AdjCHAP_BAL 
		Set NRECEIPT = (Case when [RULE] = 'MODVATABLE' then ROPBAL else 0 end)
			,NISSUE  = (Case when [RULE] = 'MODVATABLE' then IOPBAL else (CASE WHEN ROPBAL > IOPBAL THEN 0 ELSE IOPBAL - ROPBAL end) end)
			,OTHRECEIPT = (Case when [RULE] = 'MODVATABLE' then 0 else RECEIPT end)	
	DECLARE  CUR_ER1_FifoAdj 
		CURSOR FOR SELECT IT_CODE FROM #AdjCHAP_BAL 
			GROUP BY IT_CODE
	OPEN CUR_ER1_FifoAdj
	FETCH NEXT FROM CUR_ER1_FifoAdj INTO @AdjIT_CODE
	WHILE @@FETCH_STATUS=0
	BEGIN
		Set @AdjBALANCE = 0
		Set @AdjFirstCOLNO = 0
		DECLARE  CUR_ER1_FifoAdj_A 
			CURSOR FOR SELECT COLNO,NRECEIPT,NISSUE FROM #AdjCHAP_BAL 
				WHERE It_code = @AdjIT_CODE
				ORDER BY CASE WHEN NRECEIPT > 0 THEN 'A' ELSE 'B' END,[RULE]
		OPEN CUR_ER1_FifoAdj_A 
		FETCH NEXT FROM CUR_ER1_FifoAdj_A INTO @AdjCOLNO,@AdjRECEIPT,@AdjISSUE
		WHILE @@FETCH_STATUS=0
		BEGIN
			Set @AdjFirstCOLNO = Case When @AdjFirstCOLNO = 0 and @AdjRECEIPT > 0 Then @AdjCOLNO else @AdjFirstCOLNO end
			Set @AdjBALANCE = @AdjBALANCE + @AdjRECEIPT
			if @AdjBALANCE > 0
			begin
				Set @AdjQTY = CASE WHEN @AdjBALANCE > @AdjISSUE THEN @AdjISSUE ELSE @AdjBALANCE END
				Set @AdjBALANCE = @AdjBALANCE - @AdjQTY
				Update #AdjCHAP_BAL Set ROPBAL = (Case when [RULE] = 'MODVATABLE' then 0 else ROPBAL end) + @AdjQTY Where ColNo = @AdjCOLNO
			end	
			FETCH NEXT FROM CUR_ER1_FifoAdj_A INTO @AdjCOLNO,@AdjRECEIPT,@AdjISSUE
		END
		CLOSE CUR_ER1_FifoAdj_A 
		DEALLOCATE CUR_ER1_FifoAdj_A 
		Update #AdjCHAP_BAL Set ROPBAL = ROPBAL + (case when @AdjBALANCE > 0 then @AdjBALANCE else 0 end) Where ColNo = @AdjFirstCOLNO and @AdjFirstCOLNO != 0
		FETCH NEXT FROM CUR_ER1_FifoAdj INTO @AdjIT_CODE
	END
	CLOSE CUR_ER1_FifoAdj
	DEALLOCATE CUR_ER1_FifoAdj


	---For Opening Receipt & Current Issues only
	Update #AdjCHAP_BAL 
		Set NRECEIPT = (Case when [RULE] = 'MODVATABLE' then ROPBAL else 0 end)
			,NISSUE  = (Case when [RULE] = 'MODVATABLE' then ISSUE else (CASE WHEN ROPBAL+RECEIPT > IOPBAL+ISSUE THEN 0 ELSE (IOPBAL+ISSUE) - (ROPBAL+RECEIPT) end) end)
	DECLARE  CUR_ER1_FifoAdj 
		CURSOR FOR SELECT IT_CODE FROM #AdjCHAP_BAL 
			GROUP BY IT_CODE
	OPEN CUR_ER1_FifoAdj
	FETCH NEXT FROM CUR_ER1_FifoAdj INTO @AdjIT_CODE
	WHILE @@FETCH_STATUS=0
	BEGIN
		Set @AdjBALANCE = 0
		Set @AdjFirstCOLNO = 0
		DECLARE  CUR_ER1_FifoAdj_A 
			CURSOR FOR SELECT COLNO,NRECEIPT,NISSUE FROM #AdjCHAP_BAL 
				WHERE It_code = @AdjIT_CODE
				ORDER BY CASE WHEN NRECEIPT > 0 THEN 'A' ELSE 'B' END,[RULE]
		OPEN CUR_ER1_FifoAdj_A 
		FETCH NEXT FROM CUR_ER1_FifoAdj_A INTO @AdjCOLNO,@AdjRECEIPT,@AdjISSUE
		WHILE @@FETCH_STATUS=0
		BEGIN
			Set @AdjFirstCOLNO = Case When @AdjFirstCOLNO = 0 and @AdjRECEIPT > 0 Then @AdjCOLNO else @AdjFirstCOLNO end
			Set @AdjBALANCE = @AdjBALANCE + @AdjRECEIPT
			if @AdjBALANCE > 0
			begin
				Set @AdjQTY = CASE WHEN @AdjBALANCE > @AdjISSUE THEN @AdjISSUE ELSE @AdjBALANCE END
				Set @AdjBALANCE = @AdjBALANCE - @AdjQTY
				Update #AdjCHAP_BAL Set ROPBAL = (Case when [RULE] = 'MODVATABLE' then 0 else ROPBAL end) + @AdjQTY Where ColNo = @AdjCOLNO
			end	
			FETCH NEXT FROM CUR_ER1_FifoAdj_A INTO @AdjCOLNO,@AdjRECEIPT,@AdjISSUE
		END
		CLOSE CUR_ER1_FifoAdj_A 
		DEALLOCATE CUR_ER1_FifoAdj_A 
		Update #AdjCHAP_BAL Set ROPBAL = ROPBAL + (case when @AdjBALANCE > 0 then @AdjBALANCE else 0 end) Where ColNo = @AdjFirstCOLNO and @AdjFirstCOLNO != 0
		FETCH NEXT FROM CUR_ER1_FifoAdj INTO @AdjIT_CODE
	END
	CLOSE CUR_ER1_FifoAdj
	DEALLOCATE CUR_ER1_FifoAdj

	---For Current Receipt & Current Issues only
	Update #AdjCHAP_BAL 
		Set NRECEIPT = (Case when [RULE] = 'MODVATABLE' then RECEIPT else 0 end)
			,NISSUE  = (Case when [RULE] = 'MODVATABLE' then (CASE WHEN ROPBAL > ISSUE THEN 0 ELSE ISSUE - ROPBAL END) else (CASE WHEN ROPBAL+RECEIPT > IOPBAL+ISSUE THEN 0 ELSE (IOPBAL+ISSUE) - (ROPBAL+RECEIPT) end) end)

	DECLARE  CUR_ER1_FifoAdj 
		CURSOR FOR SELECT IT_CODE FROM #AdjCHAP_BAL 
			GROUP BY IT_CODE
	OPEN CUR_ER1_FifoAdj
	FETCH NEXT FROM CUR_ER1_FifoAdj INTO @AdjIT_CODE
	WHILE @@FETCH_STATUS=0
	BEGIN
		Set @AdjBALANCE = 0
		Set @AdjFirstCOLNO = 0
		DECLARE  CUR_ER1_FifoAdj_A 
			CURSOR FOR SELECT COLNO,NRECEIPT,NISSUE FROM #AdjCHAP_BAL 
				WHERE It_code = @AdjIT_CODE
				ORDER BY CASE WHEN NRECEIPT > 0 THEN 'A' ELSE 'B' END,[RULE]
		OPEN CUR_ER1_FifoAdj_A 
		FETCH NEXT FROM CUR_ER1_FifoAdj_A INTO @AdjCOLNO,@AdjRECEIPT,@AdjISSUE
		WHILE @@FETCH_STATUS=0
		BEGIN
			Set @AdjFirstCOLNO = Case When @AdjFirstCOLNO = 0 and @AdjRECEIPT > 0 Then @AdjCOLNO else @AdjFirstCOLNO end
			Set @AdjBALANCE = @AdjBALANCE + @AdjRECEIPT
			if @AdjBALANCE > 0
			begin
				Set @AdjQTY = CASE WHEN @AdjBALANCE > @AdjISSUE THEN @AdjISSUE ELSE @AdjBALANCE END
				Set @AdjBALANCE = @AdjBALANCE - @AdjQTY
				Update #AdjCHAP_BAL Set RECEIPT = (Case when [RULE] = 'MODVATABLE' then 0 else RECEIPT end) + @AdjQTY Where ColNo = @AdjCOLNO
			end	
			FETCH NEXT FROM CUR_ER1_FifoAdj_A INTO @AdjCOLNO,@AdjRECEIPT,@AdjISSUE
		END
		CLOSE CUR_ER1_FifoAdj_A 
		DEALLOCATE CUR_ER1_FifoAdj_A 
		Update #AdjCHAP_BAL Set RECEIPT = RECEIPT + (case when @AdjBALANCE > 0 then @AdjBALANCE else 0 end) Where ColNo = @AdjFirstCOLNO and @AdjFirstCOLNO != 0
		FETCH NEXT FROM CUR_ER1_FifoAdj INTO @AdjIT_CODE
	END
	CLOSE CUR_ER1_FifoAdj
	DEALLOCATE CUR_ER1_FifoAdj

	delete from #AdjCHAP_BAL where ropbal=0 and receipt=0 and iopbal=0 and issue=0 
	
	select chapno,eit_name,rateunit,[rule],sum(ropbal) as ropbal,sum(receipt) as receipt,sum(iopbal) as iopbal,sum(issue) as issue into #AdjCHAP_sum from #AdjCHAP_BAL group by chapno,eit_name,rateunit,[rule]
	
	UPDATE A SET A.OPBAL=(B.ROPBAL-B.IOPBAL),A.BALANCE=(B.ROPBAL+B.RECEIPT)-(B.IOPBAL+B.ISSUE) FROM #TBLER1 A 
		INNER JOIN #AdjCHAP_SUM B ON (RTRIM(A.CHAPNO)=RTRIM(B.CHAPNO) AND A.RATEUNIT=B.RATEUNIT AND A.EIT_NAME=B.EIT_NAME AND A.[RULE]=B.[RULE]) WHERE QM=3
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT='',CATE='',INV_SR='',[RULE],ENTRY_TY='OB',DOC_NO='',@SDATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM='',CRAC=0,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO,RATEUNIT,EIT_NAME,DESC1='',QM=3,SRNO='A',E_PER=0,SHORTNM='',
	(ROPBAL-IOPBAL),RECEIPT=0,ISSUE=0,(ROPBAL+RECEIPT)-(IOPBAL+ISSUE),LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	FROM #AdjCHAP_SUM
	WHERE RTRIM(CHAPNO)+RTRIM(RATEUNIT)+RTRIM(EIT_NAME)+RTRIM([RULE]) 
		NOT IN (SELECT DISTINCT RTRIM(CHAPNO)+RTRIM(RATEUNIT)+RTRIM(EIT_NAME)+RTRIM([RULE]) FROM #TBLER1)
	
	delete from #AdjCHAP_BAL where not([Rule]!='MODVATABLE' and receipt!=0)
End
--Bug7656
--**--End	:Changes For Opening Balance Of Table No 3 (Rectified Join) ON 08/01/2010

	

-->Balance Quantity

--<---------------->PART- 3 END------------------<


---->INSERT BLENK RECORDSFOR PART 3,4,5,6,7,8,9---->

SET @TRAN_CD=0
SET @PAC_ID=0
SET @AC_ID=0
SET @INV_NO=' '
SET @DEPT=' '
SET @CATE=' '
SET @INV_SR=' '
SET @RULE=' '
SET @ENTRY_TY=' '
SET @DOC_NO=' '
SET @DATE=@SDATE
SET @ITSERIAL=' '
SET @OPBAL=0
SET @RECEIPT=0
SET @ISSUE=0
SET @BALANCE=0
SET @LOPBAL=0
SET @LRECEIPT=0
SET @LISSUE=0
SET @LBALANCE=0
SET @E_DUTY=0
SET @CDATE=@SDATE
SET @ITGRID=0
SET @CHAPNO=' '
SET @RATEUNIT=' '
SET @EIT_NAME=' '
SET @E_NAME= ' '
SET @QM=' '
SET @SRNO=' '
SET @E_PER=0
SET @IT_CODE=0
SET @PARTY_NM=' '
SET @E_NAME=' '
SET @DESC1=' '
SET @CRAC=0
SET @CURAC=0
SET @QM='4'
SET @SRNO='A'

IF NOT EXISTS (SELECT QM,SRNO FROM #TBLER1 WHERE QM='3' )
BEGIN
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'3','A',@E_PER,@SHORTNM,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
	
END

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
VALUES (
@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,
@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	

SET @QM='5'
SET @SRNO='A'

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
VALUES (
@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,@SHORTNM,
@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	



DECLARE @SRN AS INT
DECLARE  CER1_EX1 CURSOR FOR SELECT DISTINCT SRNO,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,CRAC,CURAC  FROM ER_EXCISE INNER JOIN AC_MAST ON (AC_MAST.AC_NAME=ER_EXCISE.AC_NAME)  WHERE CURAC=1 ORDER BY SRNO 
OPEN CER1_EX1
FETCH NEXT FROM CER1_EX1 INTO @SRNO1,@SHORTNM,@CRAC,@CURAC 
WHILE @@FETCH_STATUS=0
BEGIN
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'6','Z',@E_PER,@SHORTNM,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)
	FETCH NEXT FROM CER1_EX1 INTO @SRNO1,@SHORTNM,@CRAC,@CURAC 
END
CLOSE CER1_EX1
DEALLOCATE CER1_EX1

SELECT @SRNO1=0,@SHORTNM=' ',@CRAC=1,@CURAC=0
SET @CHAR1=65
WHILE (@CHAR1<=71)
BEGIN
	SET @SRNO=CHAR(@CHAR1)
	SET @CURAC=1
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'7',@SRNO,@E_PER,@SHORTNM,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)
	SET @CHAR1=@CHAR1+1
END


--DECLARE @SRN AS INT
DECLARE  CER1_EX1 CURSOR FOR SELECT DISTINCT SRNO,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,CRAC,CURAC  FROM ER_EXCISE INNER JOIN AC_MAST ON (AC_MAST.AC_NAME=ER_EXCISE.AC_NAME)  WHERE CRAC=1 ORDER BY SRNO 
OPEN CER1_EX1
FETCH NEXT FROM CER1_EX1 INTO @SRNO1,@SHORTNM,@CRAC,@CURAC 
WHILE @@FETCH_STATUS=0
BEGIN
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'7','Z',@E_PER,@SHORTNM,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)
	FETCH NEXT FROM CER1_EX1 INTO @SRNO1,@SHORTNM,@CRAC,@CURAC 
END
CLOSE CER1_EX1
DEALLOCATE CER1_EX1
SELECT @SRNO1=0,@SHORTNM=' ',@CRAC=1,@CURAC=0

SET @CHAR1=65
--WHILE (@CHAR1<=81)--commented by sandeep for BUG-676 on 07/12/2011

---WHILE (@CHAR1<=82) -- Changes by sandeep for Bug-676 on 07/12/2011 &&&COMMNETED BY SATISH PAL DT.31/10/2012 BUG-7089
WHILE (@CHAR1<=84) -- Changes BY SATISH PAL DT.31/10/2012 BUG-7155
BEGIN
	SET @SRNO=CHAR(@CHAR1)
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'8',@SRNO,@E_PER,@SHORTNM,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)
	SET @CHAR1=@CHAR1+1
END
SET @CHAR1=65
WHILE (@CHAR1<=69)
BEGIN
	SET @SRNO=CHAR(@CHAR1)
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'9',@SRNO,@E_PER,@SHORTNM,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)
	SET @CHAR1=@CHAR1+1
END


----<INSERT BLENK RECORDSFOR PART 4,5,7,8----<


----->COMMON TMP TABLE FOR PART-6,7,8,9
SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,CDATE=EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
ER_EXCISE.SRNO,SHORTNM=CAST(ER_EXCISE.SRNO AS CHAR(2))+ER_EXCISE.SHORTNM,CRAC,CURAC,
U_ARREARS,CHEQ_NO,A1.VEND_TYPE,STKL_VW_MAIN.[RULE],STKL_VW_MAIN.INV_NO
INTO #EX_VW_ACDET
FROM EX_VW_ACDET
INNER JOIN AC_MAST ON (EX_VW_ACDET.AC_ID=AC_MAST.AC_ID)
INNER JOIN ER_EXCISE ON (ER_EXCISE.AC_NAME=AC_MAST.AC_NAME) 
INNER JOIN STKL_VW_MAIN ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD AND STKL_VW_MAIN.ENTRY_TY=EX_VW_ACDET.ENTRY_TY)
INNER JOIN AC_MAST A1 ON (STKL_VW_MAIN.AC_ID=A1.AC_ID)
WHERE 1=2

IF @FDATE='U_CLDT'
BEGIN
	INSERT INTO #EX_VW_ACDET
	SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,CDATE=EX_VW_ACDET.U_CLDT,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
	ER_EXCISE.SRNO,SHORTNM=CAST(ER_EXCISE.SRNO AS CHAR(2))+ER_EXCISE.SHORTNM,CRAC,CURAC,
	U_ARREARS
	,CHEQ_NO=(  case when STKL_VW_MAIN.entry_ty='ST' and STKL_VW_MAIN.u_imporm in ('Raw Material Sale','Branch Transfer','Purchase Return') then 'RAW MATERIAL' else cheq_no end  )
	,VEND_TYPE=(CASE WHEN ISNULL(s.shipto_id,0)=0 then a1.[VEND_TYPE] else s.[VEND_TYPE] end)
	,STKL_VW_MAIN.[RULE],STKL_VW_MAIN.INV_NO
	FROM EX_VW_ACDET
	INNER JOIN AC_MAST ON (EX_VW_ACDET.AC_ID=AC_MAST.AC_ID)
	INNER JOIN ER_EXCISE ON (ER_EXCISE.AC_NAME=AC_MAST.AC_NAME) 
	INNER JOIN STKL_VW_MAIN ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD AND STKL_VW_MAIN.ENTRY_TY=EX_VW_ACDET.ENTRY_TY)
	INNER JOIN AC_MAST A1 ON (STKL_VW_MAIN.CONS_ID=A1.AC_ID)
	LEFT JOIN SHIPTO S ON  (STKL_VW_MAIN.SCONS_ID=S.SHIPTO_ID)
	WHERE ER_EXCISE.AC_NAME<>' '  AND EX_VW_ACDET.U_CLDT<=@EDATE
	AND YEAR(EX_VW_ACDET.U_CLDT) <> '1900'		-- Added By Sachin N. S. on 02/08/2010 for TKT-3312
	ORDER BY ER_EXCISE.SRNO	
END
ELSE
BEGIN
	INSERT INTO #EX_VW_ACDET
	SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,CDATE=EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
	ER_EXCISE.SRNO,SHORTNM=CAST(ER_EXCISE.SRNO AS CHAR(2))+ER_EXCISE.SHORTNM,CRAC,CURAC,
	U_ARREARS
	,CHEQ_NO=(  case when STKL_VW_MAIN.entry_ty='ST' and STKL_VW_MAIN.u_imporm in ('Raw Material Sale','Branch Transfer','Purchase Return') then 'RAW MATERIAL' else cheq_no end  )
	,VEND_TYPE=(CASE WHEN ISNULL(s.shipto_id,0)=0 then a1.[VEND_TYPE] else s.[VEND_TYPE] end)
	,STKL_VW_MAIN.[RULE],STKL_VW_MAIN.INV_NO
	FROM EX_VW_ACDET
	INNER JOIN AC_MAST ON (EX_VW_ACDET.AC_ID=AC_MAST.AC_ID)
	INNER JOIN ER_EXCISE ON (ER_EXCISE.AC_NAME=AC_MAST.AC_NAME) 
	INNER JOIN STKL_VW_MAIN ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD AND STKL_VW_MAIN.ENTRY_TY=EX_VW_ACDET.ENTRY_TY)
	INNER JOIN AC_MAST A1 ON (STKL_VW_MAIN.CONS_ID=A1.AC_ID)
	LEFT JOIN SHIPTO S ON  (STKL_VW_MAIN.SCONS_ID=S.SHIPTO_ID)
	WHERE ER_EXCISE.AC_NAME<>' '  AND EX_VW_ACDET.DATE<=@EDATE 
	ORDER BY ER_EXCISE.SRNO
END

--update #EX_VW_ACDET set cheq_no='RAW MATERIAL' where u_imporm in ('Raw Material Sale','Branch Transfer','Purchase Return')

--select * from #EX_VW_ACDET
---->Part-6
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=6,SRNO='A',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0
FROM #EX_VW_ACDET 
WHERE (AMT_TY='CR' AND (U_ARREARS=' ' OR U_ARREARS IS NULL) AND CDATE>=@SDATE) AND CHEQ_NO<>'SERVICE'


-->INSERT BLENK RECORD FOR PART 6
IF NOT EXISTS (SELECT TRAN_CD FROM #TBLER1 WHERE QM='6' AND SRNO='A')
BEGIN
	SET @QM='6'
	SET @SRNO='A'
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,@SHORTNM,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
END
--<--INSERT BLENK RECORD FOR PART 6

----<Part-6
---->Part-7

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=0,CURAC=1,
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='A',E_PER=0,SHORTNM,
OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET 
WHERE (CURAC=1 AND (ENTRY_TY='OB' OR (CDATE<@SDATE))) 
GROUP BY SHORTNM,SRNO

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=0,CURAC=1,
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='B',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=SUM(AMOUNT),ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CURAC=1 AND  (CDATE>=@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='DR') -- Changed to display TR6\GAR7 challan values -changes done on 09/03/2010
--WHERE (CURAC=1 AND  (CDATE>@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='DR' AND (U_ARREARS =	' ' AND  U_ARREARS IS NOT NULL))
GROUP BY SHORTNM,SRNO

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=0,CURAC=1,
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='C',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=SUM(AMOUNT),LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CURAC=1 AND  (CDATE>=@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='DR' AND (U_ARREARS<>' ' AND  U_ARREARS IS NOT NULL) and 1=2) --Changed to display only LUT values
--WHERE (CURAC=1 AND  (CDATE>@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='DR' AND (U_ARREARS<>' ' AND  U_ARREARS IS NOT NULL)) 
GROUP BY SHORTNM,SRNO

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='D',E_PER=0,SHORTNM,
OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE CURAC=1 AND ((CDATE>=@SDATE AND AMT_TY='DR') OR (ENTRY_TY='OB' OR (CDATE<@SDATE))) 
GROUP BY SHORTNM,SRNO

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='E',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=SUM(AMOUNT),BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CURAC=1 AND  (CDATE>=@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='CR' AND (U_ARREARS=' ' OR U_ARREARS IS NULL) ) 
GROUP BY SHORTNM,SRNO

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='F',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=SUM(AMOUNT),BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CURAC=1 AND  (CDATE>=@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='CR' AND (U_ARREARS<>' ' AND  U_ARREARS IS NOT NULL))
GROUP BY SHORTNM,SRNO

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='G',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=0,BALANCE=SUM(CASE WHEN AMT_TY='CR' THEN -AMOUNT ELSE AMOUNT END),LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CURAC=1 )
GROUP BY SHORTNM,SRNO

--SET @SRNO='A'--PLA OPENING BALANCE
--SELECT @OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) FROM #EX_VW_ACDET WHERE (CURAC=1 AND (ENTRY_TY='OB' OR (CDATE<@SDATE))) 
--SET @OPBAL= (CASE WHEN @OPBAL IS NULL THEN 0 ELSE @OPBAL END)
--UPDATE #TBLER1 SET OPBAL= @OPBAL WHERE SRNO='A' AND QM='7'

--SELECT @RECEIPT=SUM(AMOUNT) FROM #EX_VW_ACDET WHERE (CURAC=1 AND  (CDATE>@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='DR' AND (U_ARREARS=' ' OR U_ARREARS IS NULL) ) 
--SET @RECEIPT= (CASE WHEN @RECEIPT IS NULL THEN 0 ELSE @RECEIPT END)
--UPDATE #TBLER1 SET RECEIPT=@RECEIPT WHERE SRNO='B' AND QM='7'

--SELECT @LRECEIPT=SUM(AMOUNT) FROM #EX_VW_ACDET WHERE (CURAC=1 AND  (CDATE>@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='DR' AND (U_ARREARS<>' ' AND  U_ARREARS IS NOT NULL)) 
--SET @LRECEIPT= (CASE WHEN @LRECEIPT IS NULL THEN 0 ELSE @LRECEIPT END)
--UPDATE #TBLER1 SET LRECEIPT=@LRECEIPT WHERE SRNO='C' AND QM='7'

--UPDATE #TBLER1 SET RECEIPT=@OPBAL+@RECEIPT+@LRECEIPT WHERE SRNO='D' AND QM='7'

--SELECT @ISSUE=SUM(AMOUNT) FROM #EX_VW_ACDET WHERE (CURAC=1 AND  (CDATE>@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='CR' AND (U_ARREARS=' ' OR U_ARREARS IS NULL) ) 
--SET @ISSUE= (CASE WHEN @ISSUE IS NULL THEN 0 ELSE @ISSUE END)
--UPDATE #TBLER1 SET ISSUE=@ISSUE WHERE SRNO='E' AND QM='7'

--SELECT @LISSUE=SUM(AMOUNT) FROM #EX_VW_ACDET WHERE (CURAC=1 AND  (CDATE>@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='CR' AND (U_ARREARS<>' ' AND  U_ARREARS IS NOT NULL))
--SET @LISSUE= (CASE WHEN @LISSUE IS NULL THEN 0 ELSE @LISSUE END)
--UPDATE #TBLER1 SET LISSUE=@LISSUE WHERE SRNO='F' AND QM='7'

--UPDATE #TBLER1 SET OPBAL=@OPBAL+@RECEIPT+@LRECEIPT-@ISSUE-@LISSUE WHERE SRNO='G' AND QM='7'

SET @OPBAL=0
SET @RECEIPT=0
SET @ISSUE=0
SET @LRECEIPT=0
SET @LISSUE=0

----<Part-7
----<Part-8

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=8,SRNO='A',E_PER=0,SHORTNM,
OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET WHERE (CRAC=1 AND (ENTRY_TY='OB' OR (CDATE<@SDATE))) GROUP BY SHORTNM,SRNO

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='B',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='DR' AND (VEND_TYPE NOT IN('I STAGE DEALER','II STAGE DEALER','IMPORTER') or VEND_TYPE is null) AND AC_NAME LIKE '%RG23A%') AND (CDATE BETWEEN @SDATE AND @EDATE)

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='C',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='DR' AND VEND_TYPE  IN('I STAGE DEALER','II STAGE DEALER') AND AC_NAME LIKE '%RG23A%') AND (CDATE BETWEEN @SDATE AND @EDATE)

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='D',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='DR' AND VEND_TYPE  IN('IMPORTER') AND AC_NAME LIKE '%RG23A%') 

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='E',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='DR' AND (VEND_TYPE NOT IN('IMPORTER') or VEND_TYPE is null) AND AC_NAME LIKE '%RG23C%') 


INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='F',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='DR' AND VEND_TYPE IN('IMPORTER') AND AC_NAME LIKE '%RG23C%') 

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='G',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='DR' AND AC_NAME LIKE '%SERVICE%') 


SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
--E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=8,SRNO='J',E_PER=0,SHORTNM,--COMMNETD BY SATISH PAL DT.31/10/2012 BUG-7155
 E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=8,SRNO='K',E_PER=0,SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET WHERE (CRAC=1 and (AMT_TY='DR' OR (AMT_TY='CR' and CDATE<@SDATE))) GROUP BY SHORTNM,SRNO

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
--E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='K',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='L',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM, --Changes BY SATISH PAL DT.31/10/2012 BUG-7155
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1   AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='CR' AND (isnull(CHEQ_NO,'')='') AND (isnull(u_arrears,'')='') ) 

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
--E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='L',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='M',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='CR' and (ISNULL(CHEQ_NO,' ')
 not in ('UNDER RULE 6','SERVICE') AND ISNULL(CHEQ_NO,' ')<>' ') and ISNULL(U_ARREARS,' ')=' ' AND AC_NAME LIKE '%RG23A%') -- Add by sandeep IN WHERE CONDITON "AND AC_NAME LIKE '%RG23A%'"  BUG-676 on 08/12/2011 
-- Birendra : Commented and End of Condition '[ISNULL(U_ARREARS,' ')=' ']'
--WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='CR' and (ISNULL(CHEQ_NO,' ') not in ('UNDER RULE 6','SERVICE') AND ISNULL(CHEQ_NO,' ')<>' ')) 


-- Add by Sandeep for BUG-676 on 08/12/2011 
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
--E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='M',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='N',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='CR' and (ISNULL(CHEQ_NO,' ') 
not in ('UNDER RULE 6','SERVICE') AND ISNULL(CHEQ_NO,' ')<>' ') and ISNULL(U_ARREARS,' ')=' ' AND AC_NAME LIKE '%RG23C%')  
--select * from #EX_VW_ACDET  WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='CR' and (ISNULL(CHEQ_NO,' ') not in ('UNDER RULE 6','SERVICE') AND ISNULL(CHEQ_NO,' ')<>' ') and ISNULL(U_ARREARS,' ')=' ') 
-- Add by Sandeep for BUG-676 on 08/12/2011


INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
--E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='N',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='O',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='CR' AND (isnull(CHEQ_NO,' ')='UNDER RULE 6'))

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
--E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='O',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='P',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='CR' AND ISNULL(U_ARREARS,' ')<>' ')


INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT 
TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
--E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='P',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='Q',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
FROM #EX_VW_ACDET 
WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE)) AND AMT_TY='CR' AND (CHEQ_NO='SERVICE')) 

SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
--E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=8,SRNO='S',E_PER=0,SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=8,SRNO='T',E_PER=0,SHORTNM,--Changes BY SATISH PAL DT.31/10/2012 BUG-7155
OPBAL=0,RECEIPT=0,ISSUE=0,BALANCE=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET WHERE (CRAC=1 ) GROUP BY SHORTNM,SRNO


---->Part-8

---->Part-9
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='A',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS='OTHERS ARREARS OF DUTY') AND DATE>=@SDATE) 

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='B',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS='ARREARS OF DUTY UNDER RULE 8') AND DATE>=@SDATE) 

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='C',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS='OTHERS INTEREST PAYMENTS') AND DATE>=@SDATE) 

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='D',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS='INTEREST PAYMENT UNDER RULE 8') AND DATE>=@SDATE) 

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='E',E_PER=0,SHORTNM,
OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS IS NOT NULL) AND (U_ARREARS<>' ') AND U_ARREARS NOT IN ('OTHERS ARREARS OF DUTY','ARREARS OF DUTY UNDER RULE 8','OTHERS INTEREST PAYMENTS','INTEREST PAYMENT UNDER RULE 8') AND DATE>=@SDATE  ) 

----<Part-9

--BUG18241
-->Part 9A
INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL
,IT_CODE,PARTY_NM,CRAC,CURAC,E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT
,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM
,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD,AC_ID,INV_NO=' ',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO=' ',DATE,ITSERIAL=CAST(SRNO AS CHAR(2))
,IT_CODE=0,PARTY_NM=' ',CRAC=0,CURAC=1,E_DUTY=0,DATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' '
,EIT_NAME=' ',DESC1=' ',QM='9A',SRNO='A',E_PER=0,SHORTNM
,OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0
FROM #EX_VW_ACDET 
WHERE (CURAC=1 AND  (CDATE>=@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='DR')
--<Part 9A
--BUG18241



--IF  @CHEQ_NO LIKE '%MATERIAL%' -->L       
--@AC_NAME  LIKE '%SERVICE%' AND NOT (@CHEQ_NO IS NOT NULL OR @CHEQ_NO<>' ')-->'M'
--@SRNO='K'



--SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,CDATE=EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
--	ER_EXCISE.SRNO,SHORTNM=CAST(ER_EXCISE.SRNO AS CHAR(2))+ER_EXCISE.SHORTNM,CRAC,CURAC,
--	U_ARREARS,CHEQ_NO,A1.VEND_TYPE,STKL_VW_MAIN.[RULE]
----<Part-6
--SELECT * FROM #EX_VW_ACDET 
--SELECT * FROM #TBLER1

--select a.tran_cd,a.itserial,e.it_name,e.[group],c.qty into er1 FROM #TBLER1 A LEFT JOIN IT_MAST E ON (A.IT_CODE=E.IT_CODE)  LEFT JOIN STKL_VW_ITEM C ON ((A.TRAN_CD=C.TRAN_CD AND A.IT_CODE=C.IT_CODE) AND (A.ITSERIAL=C.ITSERIAL) AND (A.ENTRY_TY=C.ENTRY_TY)) where e.[group]='NAS I BEAM' and a.entry_ty='st' order by a.tran_cd

--select * from #TBLER1 order by qm,srno

DELETE   FROM #TBLER1 WHERE QM='9' AND ISSUE=0 AND QM+SRNO IN (SELECT QM+SRNO FROM #TBLER1 WHERE QM='9' AND ISSUE<>0)

Update #TBLER1 Set EXMCLEARTY = '' Where IsNull(EXMCLEARTY,'') = ''			--EXMCLEARTY

---added by satish pal for bug-5210 dt.19/07/2012--Start

Select B.Inv_sr,MinSeries=MIN(B.inv_no),MaxSeries=max(B.Inv_no) Into #series from #TBLER1 A
inner JOIN STKL_VW_MAIN B ON (A.TRAN_CD=B.TRAN_CD AND A.ENTRY_TY=B.ENTRY_TY) where b.entry_ty='ST'   Group By B.Inv_sr

--New ER1
-->Part 9B
Declare @MultiSeries Numeric
Set @MultiSeries = 0
Select @MultiSeries = COUNT(*) From #series

INSERT INTO #TBLER1 (
TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL
,IT_CODE,PARTY_NM,CRAC,CURAC,E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT
,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM
,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
SELECT TRAN_CD=0,AC_ID=0,INV_NO=' ',DEPT=' ',CATE=' ',INV_SR=Case when @MultiSeries > 1 Then INV_SR Else '' End
,[RULE]=' ',ENTRY_TY=' ',DOC_NO=' '
,DATE=' ',ITSERIAL='',IT_CODE=0,PARTY_NM=MinSeries,CRAC=0,CURAC=1,E_DUTY=0,DATE='',ITGRID=0,CHAPNO=' ',RATEUNIT=' '
,EIT_NAME=MaxSeries,E_NAME=' ',QM='9B',SRNO='A',E_PER=0,SHORTNM=''
,OPBAL=0,RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0
FROM #series
--<Part 9B
--New ER1

Declare @LocalSeries Varchar(4000), @LocalInvSeries Varchar(4000),@ExportInvSeries Varchar(4000)

Select @LocalSeries=isnull(substring((select ' , S. No. '+rtrim(MinSeries)+' to S.No.'+rtrim(MaxSeries)+case when rtrim(Inv_sr)<>'' then ' Of  '+rtrim(Inv_sr) else '' end from #series   for xml path ('')),3,4000),'')
Select @LocalInvSeries=isnull(substring((select rtrim(Inv_sr) from #series   for xml path ('')),0,4000),'')

Select B.Inv_no Into #Exportinv from #TBLER1 A
inner JOIN STKL_VW_MAIN B ON (A.TRAN_CD=B.TRAN_CD AND A.ENTRY_TY=B.ENTRY_TY) where b.entry_ty='ST' and B.[rule] in ('CT-1','LUT','REBATE','CT-3','EOU EXPORT')  Group By B.Inv_no order by B.Inv_no
select @ExportInvSeries=isnull(substring((select ','+rtrim(Inv_no) from #Exportinv for xml path ('')),2,4000),'')

---added by satish pal for bug-5210 dt.19/07/2012--End

---Vasant211212	Colno=IDENTITY(int, 1, 1)
--SELECT Colno=IDENTITY(int, 1, 1),A.TRAN_CD,A.PAC_ID, A.ENTRY_TY,A.DOC_NO,DATE=ISNULL(A.DATE,0),A.IT_CODE,A.PARTY_NM,A.[RULE], -- E-filing changes 25/02/2010	--Bug7656
SELECT A.TRAN_CD,A.PAC_ID, A.ENTRY_TY,A.DOC_NO,DATE=ISNULL(A.DATE,0),A.IT_CODE,A.PARTY_NM,A.[RULE], -- E-filing changes 25/02/2010	--Bug7656
A.E_DUTY,A.CDATE,A.ITGRID,A.CHAPNO,A.EIT_NAME,A.ITSERIAL,E_NAME=RTRIM(A.E_NAME),A.QM,A.SRNO,E_PER=ISNULL(A.E_PER,0),SHORTNM = ISNULL(A.SHORTNM,''), -- E-filing changes 25/02/2010
OPBAL=ISNULL(A.OPBAL,0),RECEIPT=ISNULL(A.RECEIPT,0),ISSUE=ISNULL(A.ISSUE,0),BALANCE=ISNULL(A.BALANCE,0),LOPBAL=ISNULL(A.LOPBAL,0) ,LRECEIPT=ISNULL(A.LRECEIPT,0),LISSUE=ISNULL(A.LISSUE,0),LBALANCE=ISNULL(A.LBALANCE,0),CURAC=ISNULL(A.CURAC,0),CRAC=ISNULL(A.CRAC,0), -- E-filing changes 25/02/2010
B.CHEQ_NO,U_ARREARS=ISNULL(B.U_ARREARS,''),B.INV_NO,U_CHALNO=ISNULL(B.U_CHALNO,''),U_CHALDT=ISNULL(B.U_CHALDT,0),
Inv_Sr=(Case when ISNULL(B.INV_SR,'')='' then A.INV_SR else B.INV_SR end),B.DEPT,B.CATE,B.U_INT, -- E-filing changes 25/02/2010
TR6=ISNULL(B.U_TR6,''),TR6DT=ISNULL(B.U_TR6DT,0),BSRCode=ISNULL(B.BSRCode,''),		--BUG18241	--Bug-20501
C.GRO_AMT,QTY=ISNULL(C.QTY,0), -- E-filing changes 25/02/2010
D.VEND_TYPE,
U_ASSEAMT=ISNULL(G.U_ASSEAMT,0), -- E-filing changes 25/02/2010
H.U_TR6,
U_CLDT=ISNULL(a.CDATE,0), -- E-filing changes 25/02/2010
RATEUNIT=ISNULL(A.RATEUNIT,0), -- E-filing changes 25/02/2010
u_choice=isnull(J.U_CHOICE,0),J.U_GCSSR -- E-filing changes 25/02/2010
,ORDM=(CASE WHEN E.TYPE IN ('Finished','Semi Finish') OR A.ENTRY_TY='OB' THEN 'A' ELSE 'B' END)
,E.TYPE
,C.PMKEY
,TarrifSrNo= ltrim(rtrim(isnull(J.TarrifSrNo,''))) --- Added by Ajay Jaiswal on 08/06/2010 for TKT-2913
,u_pfor=ltrim(rtrim(isnull(J.U_PFOR,''))) -- E-filing changes 25/02/2010
,E.IT_NAME
--FROM ER11 A 
,E.IT_DESC -- Added By Birendra on 9th July 2010 for TKT-2860
,A.EXMCLEARTY		-- Changed By Sachin N. S. on 30/09/2011 for TKT-9711	--EXMCLEARTY
,LSeries=@LocalSeries,LinvSeries=@LocalInvSeries,Exportinvno=@ExportInvSeries	---added by satish pal for bug-5210 dt.19/07/2012
--Into #TblFinalER1 ---Vasant211212	--Bug7656
Into #TblFinalER2 ---Vasant211212	--Bug7656
FROM #TBLER1 A 
LEFT JOIN STKL_VW_MAIN B ON (A.TRAN_CD=B.TRAN_CD AND A.ENTRY_TY=B.ENTRY_TY)
LEFT JOIN STKL_VW_ITEM C ON ((A.TRAN_CD=C.TRAN_CD AND A.IT_CODE=C.IT_CODE) AND (A.ITSERIAL=C.ITSERIAL) AND (A.ENTRY_TY=C.ENTRY_TY))
--LEFT JOIN EX_VW_ACDET I ON (A.TRAN_CD=I.TRAN_CD AND A.PAC_ID=I.AC_ID AND A.ENTRY_TY=I.ENTRY_TY) Commented by Sandeep S. for TKT-7472 on 10/05/2011
LEFT JOIN AC_MAST D ON (B.AC_ID=D.AC_ID)
LEFT JOIN IT_MAST E ON (A.IT_CODE=E.IT_CODE)
LEFT JOIN STITEM G  ON ((A.TRAN_CD=G.TRAN_CD AND A.IT_CODE=G.IT_CODE) AND (A.ITSERIAL=G.ITSERIAL) AND (A.ENTRY_TY=G.ENTRY_TY))
LEFT JOIN STMAIN J  ON (A.TRAN_CD=J.TRAN_CD AND A.ENTRY_TY=J.ENTRY_TY)
LEFT JOIN BPMAIN H ON (A.TRAN_CD=H.TRAN_CD AND A.ENTRY_TY=H.ENTRY_TY)

--Bug7656
/*
ORDER BY A.QM
,case when a.qm='3' then   (CASE WHEN E.TYPE IN ('Finished','Semi Finished') OR A.ENTRY_TY='OB' THEN 'A' ELSE 'B' END)   else 'a' end
,(case when a.qm='3' then A.ChapNo   ELSE 'A' END) /*Rup 25/02/2010*/
,(case when a.qm='3' then A.Eit_Name   ELSE 'A' END) /*Rup 25/02/2010*/
,(case when a.qm='3' then A.RateUnit   ELSE 'A' END) /*Rup 25/02/2010*/
,(case when a.qm='3' then (CASE WHEN A.[RULE]='MODVATABLE' THEN 'A' ELSE 'B' END) ELSE 'A' END) /*Rup 25/02/2010*/
/*,A.CHAPNO,A.EIT_NAME,A.RATEUNIT,(CASE WHEN A.[RULE]='MODVATABLE' THEN 'A' ELSE 'B' END)*/
,(case when a.qm='3' then A.[RULE]   ELSE 'A' END) /*Rup 25/02/2010*/
,(case when a.qm='3' then B.[EXMCLEARTY]   ELSE 'A' END) /*Changed By Sachin N. S. on 30/09/2011 for TKT-9711*/
,(case when a.qm='3' then rtrim(ltrim(isnull(j.u_Pfor,'')))   ELSE 'A' END) /*Rup 25/02/2010*/
/*,A.[RULE],isnull(j.u_Pfor,'')*/
,CASE WHEN (A.E_NAME=' ') THEN 'D' ELSE  (CASE WHEN (A.E_NAME=' 1CENVAT') THEN 'A' ELSE (CASE WHEN (A.E_NAME=' 2Education Cess on Excisable Goods') THEN 'B' ELSE 'C' END) END)  END
,STR(A.E_PER,5,2)
,A.SRNO
,CASE WHEN (A.QM='6') THEN SUBSTRING(A.SHORTNM,3,50) ELSE 'Z' END
,(CASE WHEN QM IN ('6','9') THEN ISNULL(B.U_CHALNO,'') ELSE 'A' END)
,CAST(LEFT(A.SHORTNM,2) AS INT)
*/
--Bug7656

--Bug7656
IF @ER1_FifoAdj = 1
Begin
	DECLARE CUR_ER1_FinalFifoAdj 
		CURSOR FOR SELECT IT_CODE,[RULE],Sum(RECEIPT-OTHRECEIPT) As RECEIPT FROM #AdjCHAP_BAL 
			GROUP BY IT_CODE,[RULE]
	OPEN CUR_ER1_FinalFifoAdj
	FETCH NEXT FROM CUR_ER1_FinalFifoAdj INTO @AdjIT_CODE,@AdjRULE,@AdjRECEIPT
	WHILE @@FETCH_STATUS=0
	BEGIN
		Set @AdjBALANCE = @AdjRECEIPT
		
		DECLARE  CUR_ER1_FinalFifoAdj_D 
			CURSOR FOR SELECT Entry_ty,Tran_cd,ItSerial,Qty FROM #TblFinalER2
				WHERE It_code = @AdjIT_CODE And [Rule]='MODVATABLE' And PMKEY = '+'
				Group BY Entry_ty,Tran_cd,ItSerial,Qty
		OPEN CUR_ER1_FinalFifoAdj_D 
		FETCH NEXT FROM CUR_ER1_FinalFifoAdj_D INTO @AdjENTRY_TY,@AdjTRAN_CD,@AdjITSERIAL,@AdjISSUE
		WHILE @@FETCH_STATUS=0
		BEGIN
			Set @AdjQTY = CASE WHEN @AdjBALANCE > @AdjISSUE THEN @AdjISSUE ELSE @AdjBALANCE END

			if @AdjBALANCE > 0
			begin
				Set @AdjQTY = CASE WHEN @AdjBALANCE > @AdjISSUE THEN @AdjISSUE ELSE @AdjBALANCE END
				Set @AdjBALANCE = @AdjBALANCE - @AdjQTY
				Set @AdjISSUE = @AdjISSUE - @AdjQTY
				Update #TblFinalER2 Set [RULE] = @AdjRULE,Qty = @AdjQTY Where Entry_ty = @AdjENTRY_TY And Tran_cd = @AdjTRAN_CD And ItSerial = @AdjITSERIAL And [RULE] = 'MODVATABLE'

				If @AdjISSUE > 0
				Begin
					Select * Into #TblFinalER2Tmp from #TblFinalER2 Where Entry_ty = @AdjENTRY_TY And Tran_cd = @AdjTRAN_CD And ItSerial = @AdjITSERIAL And [RULE] = @AdjRULE
					Update #TblFinalER2Tmp Set [RULE] = 'MODVATABLE',Qty = @AdjISSUE
					Insert into #TblFinalER2 Select * From #TblFinalER2Tmp
					Drop Table #TblFinalER2Tmp
				End

				Select Top 1 * Into #TblFinalER3Tmp from #TblFinalER2 Where It_code = @AdjIT_CODE and [Rule] = @AdjRULE and PMKEY = '-'
				Update A Set E_Name = b.E_Name, E_Per = b.E_Per, ExmClearTy = b.ExmClearTy
					,U_PFor = b.U_PFor, TarrifSrNo = b.TarrifSrNo
					,OpBal = b.OpBal, Balance = b.Balance
					From #TblFinalER2 A, #TblFinalER3Tmp B Where A.It_code = B.It_code
						And A.Entry_ty = @AdjENTRY_TY And A.Tran_cd = @AdjTRAN_CD And A.ItSerial = @AdjITSERIAL And A.[Rule] = @AdjRULE
				Drop Table #TblFinalER3Tmp

			end	
			
			FETCH NEXT FROM CUR_ER1_FinalFifoAdj_D INTO @AdjENTRY_TY,@AdjTRAN_CD,@AdjITSERIAL,@AdjISSUE
		END
		CLOSE CUR_ER1_FinalFifoAdj_D 
		DEALLOCATE CUR_ER1_FinalFifoAdj_D 

		FETCH NEXT FROM CUR_ER1_FinalFifoAdj INTO @AdjIT_CODE,@AdjRULE,@AdjRECEIPT
	END
	CLOSE CUR_ER1_FinalFifoAdj
	DEALLOCATE CUR_ER1_FinalFifoAdj
end

--Bug-20501
Select QM,SRNO,ShortNm,U_Chalno,TR6,TR6Dt,BSRCode into #TblFinalER2a from #TblFinalER2 
	Where QM in ('6','9','9A') and BSRCode <> '' 

Update #TblFinalER2 Set BSRCode = b.BSRCode from #TblFinalER2 a,#TblFinalER2a b 
	Where a.QM = '6' and a.BSRCode = ''
	and a.QM = b.QM and a.SRNO = b.SRNO and a.ShortNm = b.ShortNm and a.U_Chalno = b.U_Chalno

Update #TblFinalER2 Set BSRCode = b.BSRCode from #TblFinalER2 a,#TblFinalER2a b 
	Where a.QM = '9' and a.BSRCode = ''
	and a.QM = b.QM and a.SRNO = b.SRNO and a.U_Chalno = b.U_Chalno

Update #TblFinalER2 Set BSRCode = b.BSRCode from #TblFinalER2 a,#TblFinalER2a b 
	Where a.QM = '9A' and a.BSRCode = ''
	and a.QM = b.QM and a.TR6 = b.TR6 and a.TR6DT = b.TR6DT

Drop Table #TblFinalER2a
--Bug-20501

Select Colno=IDENTITY(int, 1, 1),* Into #TblFinalER1 From #TblFinalER2
	ORDER BY QM
	,case when qm='3' then  ORDM  else 'A' end
	,(case when qm='3' then ChapNo   ELSE 'A' END)
	,(case when qm='3' then Eit_Name   ELSE 'A' END)
	,(case when qm='3' then RateUnit   ELSE 'A' END)
	,(case when qm='3' then (CASE WHEN [RULE]='MODVATABLE' THEN 'A' ELSE 'B' END) ELSE 'A' END) 
	,(case when qm='3' then [RULE]   ELSE 'A' END) 
	,(case when qm='3' then [EXMCLEARTY]   ELSE 'A' END)
	,(case when qm='3' then rtrim(ltrim(isnull(u_Pfor,'')))   ELSE 'A' END) 
	,(case when qm='3' then rtrim(ltrim(isnull(TarrifSrNo,'')))   ELSE 'A' END) 	
	,CASE WHEN (E_NAME=' ') THEN 'D' ELSE  (CASE WHEN (E_NAME=' 1CENVAT') THEN 'A' ELSE (CASE WHEN (E_NAME=' 2Education Cess on Excisable Goods') THEN 'B' ELSE 'C' END) END)  END
	,STR(E_PER,5,2)
	,SRNO
	,CASE WHEN (QM='6') THEN SUBSTRING(SHORTNM,3,50) ELSE 'Z' END
	,(CASE WHEN QM IN ('6','9','9A') THEN ISNULL(BSRCode,'') ELSE 'A' END)	--Bug-20501
	,(CASE WHEN QM IN ('6','9') THEN ISNULL(U_CHALNO,'') ELSE 'A' END)
	,(CASE WHEN QM IN ('9A') THEN ISNULL(TR6,'')+CAST(ISNULL(TR6DT,0) AS NVARCHAR) ELSE 'A' END)	--BUG18241
	,CAST(LEFT(SHORTNM,2) AS INT)
Drop Table #TblFinalER2

IF @ER1_FifoAdj = 1
begin	
	Select Min(ColNo) as ColNo,QM,ChapNo,EIt_Name,[Rule] Into #TmpTblER1a From #TblFinalER1 Where Qm = '3' Group by QM,ChapNo,EIt_Name,[Rule]
	Update #TblFinalER1 Set OpBal = 0,Balance = 0 From #TblFinalER1 a,#TmpTblER1a b 
		where a.QM = b.QM and a.ChapNo = b.ChapNo and a.EIt_Name = b.EIt_Name and a.[Rule] = b.[Rule] And a.ColNo != b.ColNo
	DROP TABLE #TmpTblER1a
end	
else
begin
	Select Min(ColNo) as ColNo,QM,ChapNo,EIt_Name Into #TmpTblER1d From #TblFinalER1 Where Qm = '3' Group by QM,ChapNo,EIt_Name
	Update #TblFinalER1 Set OpBal = 0,Balance = 0 From #TblFinalER1 a,#TmpTblER1d b 
		where a.QM = b.QM and a.ChapNo = b.ChapNo and a.EIt_Name = b.EIt_Name And a.ColNo != b.ColNo
	DROP TABLE #TmpTblER1d
End
--Bug7656

---Vasant211212
If @IseFiling = 1
Begin
	Delete From eFile_ER1_Sec3
	Delete From eFile_ER1_Sec6
	Delete From eFile_ER1_Sec7
	Delete From eFile_ER1_Sec8
	Delete From eFile_ER1_Sec9
	Delete From eFile_ER1_Sec9A --BUG18241
	
	--Bug7656
	/*
	Select Min(ColNo) as ColNo,QM,ChapNo,EIt_Name Into #TmpTblER1 From #TblFinalER1 Where Qm = '3' Group by QM,ChapNo,EIt_Name
	Update #TblFinalER1 Set OpBal = 0,Balance = 0 From #TblFinalER1 a,#TmpTblER1 b 
		where a.QM = b.QM and a.ChapNo = b.ChapNo and a.EIt_Name = b.EIt_Name And a.ColNo != b.ColNo
	DROP TABLE #TmpTblER1
	*/
	--Bug7656
	

	Insert Into eFile_ER1_Sec3 (ChapNo,EIt_Name,RateUnit,OpBal,ProdQty,ClearQty,ClBal,AssessAmt,E_Name,Notify,TarrifSrNo,ExAmt,ClearType,E_Per)
	Select ChapNo,EIt_Name,RateUnit,
		OpBal=Sum(OpBal),
		ProdQty=Sum(Case When PmKey='+' And SrNo = 'A' then Qty else 0 end),
		ClearQty=Sum((Case When PmKey='-' And SrNo = 'A' And U_Choice = 0 then Qty else 0 end)),
		ClBal=Sum(Balance),
		AssessAmt=Sum(Case When Entry_ty in ('ST','PR') And SrNo = 'A' then U_Asseamt else 0 end),
		E_Name = SubString(E_Name,3,100),Notify=u_pfor,TarrifSrNo,
		ExAmt=Sum(Case When Entry_ty in ('ST','PR')then E_Duty else 0 end),
		ClearType=ExmClearTy,E_Per
		From #TblFinalER1 Where Qm = '3'
		Group by ChapNo,EIt_Name,RateUnit,U_Pfor,TarrifSrNo,E_Name,[Rule],ExmClearTy,E_Per

	Insert Into eFile_ER1_Sec6(SrNo,ShortNm,CrAcct,AcctCur,U_ChalNo,U_ChalDt,TotDutyPaid)
	Select SrNo,ShortNm = SubString(ShortNm,3,100),
		CrAcct=Sum(Case when CrAc=1 then Issue else 0 end),
		AcctCur=Sum(Case when CurAc=1 then Issue else 0 end),
		U_ChalNo,U_ChalDt,TotDutyPaid=Sum(Issue)
		From #TblFinalER1 Where Qm = '6' And SrNo != 'Z'
		Group by SrNo,ShortNm,U_ChalNo,U_ChalDt

	Insert Into eFile_ER1_Sec7(SrNo,ShortNm,Amt1,Amt2,Amt3,TotAmt,Bcd,SrDesc)
	Select SrNo,ShortNm = SubString(ShortNm,3,100),
		Amt1=Sum(Case when ItSerial='1' then OpBal + Receipt + Issue + Balance + LOpBal + LReceipt + LIssue + LBalance else 0 end),
		Amt2=Sum(Case when ItSerial='2' then OpBal + Receipt + Issue + Balance + LOpBal + LReceipt + LIssue + LBalance else 0 end),
		Amt3=Sum(Case when ItSerial='3' then OpBal + Receipt + Issue + Balance + LOpBal + LReceipt + LIssue + LBalance else 0 end),
		TotAmt = Sum(OpBal + Receipt + Issue + Balance + LOpBal + LReceipt + LIssue + LBalance),
		BCD='',SrDesc = ''
		From #TblFinalER1 Where Qm = '7' And SrNo != 'Z'
		Group by SrNo,ShortNm
	Update eFile_ER1_Sec7 Set BCD = a.BCD From ManuFact a,eFile_ER1_Sec7 b			
	Update eFile_ER1_Sec7 Set SrDesc =	case when srno = 'A' then 'OpBal' 
											else
										case when srno = 'B' then 'AddTR6' 
											else
										case when srno = 'C' then 'AddAdjustment' 
											else
										case when srno = 'D' then 'Total' 
											else
										case when srno = 'E' then 'LessPaymentduties' 
											else
										case when srno = 'F' then 'LessotherPayments' 
											else 'ClBal'
										end end end end end end

	Insert Into eFile_ER1_Sec8(SrNo,ShortNm,Amount,SrDesc)	
	Select SrNo,ShortNm = SubString(ShortNm,3,100),
		Amount = Sum(OpBal + Receipt + Issue + Balance + LOpBal + LReceipt + LIssue + LBalance),
		SrDesc = ''
		From #TblFinalER1 Where Qm = '8' And SrNo != 'Z'
		Group by SrNo,ShortNm
	Update eFile_ER1_Sec8 Set SrDesc =	case when srno = 'A' then 'OpBal'
											else    
										case when srno = 'B' then 'CreditTakenInputsManufacturers'
											else    
										case when srno = 'C' then 'CreditTakenInputsDealers'
											else    
										case when srno = 'D' then 'CreditTakenImportedGoods'
											else    
										case when srno = 'E' then 'CreditTakenCapitalGoodsDealers'
											else    
										case when srno = 'F' then 'CreditTakenImportedCapitalGoods'
											else    
										case when srno = 'G' then 'CreditTakenInputServices'
											else    
										case when srno = 'H' then 'CreditTakenInter-unitTransferLargeTaxpayer'
											else    
										case when srno = 'I' then 'CreditTakenUnderRule12BB'
											else    
										case when srno = 'J' then 'CreditTakenInter-unitTransferRule10A'
											else ''
										end end end end end end end end end end

										
	Update eFile_ER1_Sec8 Set SrDesc =	case when srno = 'K' then 'TotalCreditAvailable'
											else
										case when srno = 'L' then 'CreditUtilizedPaymentDutyOnGoods'
											else    
										case when srno = 'M' then 'CreditUtilizedInputsGoodsRemovedAsSuch'
											else    
										case when srno = 'N' then 'CreditUtilizedCapitalGoodsRemovedAsSuch'
											else    
										case when srno = 'O' then 'CreditUtilizedPaymentAmountRule6'
											else    
										case when srno = 'P' then 'CreditUtilizedOtherPayment'
											else    
										case when srno = 'Q' then 'CreditUtilizedPaymentOfTaxOnServices'
											else    
										case when srno = 'R' then 'CreditUtilizedInter-unitTransferLargeTaxpayer'
											else SrDesc
										end end end end end end end end

	Update eFile_ER1_Sec8 Set SrDesc =	case when srno = 'S' then 'CreditUtilizedInter-unitTransferRule10A'
											else
										case when srno = 'T' then  'ClBal'
											else SrDesc										
										end end
						
						
	Insert Into eFile_ER1_Sec9(SrNo,CrAcct,AcctCur,U_ChalNo,U_ChalDt,TotDutyPaid,BCD,RegnNo,SrDesc)		
	Select SrNo,
		CrAcct=Sum(Case when CrAc=1 then Issue else 0 end),
		AcctCur=Sum(Case when CurAc=1 then Issue else 0 end),
		U_ChalNo,U_ChalDt,TotDutyPaid=Sum(Issue),
		BCD='',RegnNo='',SrDesc = ''
		From #TblFinalER1 Where Qm = '9' And SrNo != 'Z'
		Group by SrNo,U_ChalNo,U_ChalDt
	Update eFile_ER1_Sec9 Set BCD = a.BCD, RegnNo = a.RegnNo From ManuFact a,eFile_ER1_Sec9 b		
	Update eFile_ER1_Sec9 Set SrDesc =	case when srno = 'A' then 'OtherArrears' 
											else
										case when srno = 'B' then 'ArrearsRule8' 
											else
										case when srno = 'C' then 'OtherInterest' 
											else
										case when srno = 'D' then 'InterestRule8' 
											else 'MiscPayments' 
										end end end end 
	--BUG18241
	Insert Into eFile_ER1_Sec9A(SrNo,ShortNm,U_ChalNo,U_ChalDt,Bcd,Amount)
	Select SrNo,ShortNm = SubString(ShortNm,3,100),Tr6,Tr6Dt,BCD='',Amount=Sum(Receipt)
		From #TblFinalER1 Where Qm = '9A' And SrNo = 'A'
		Group by SrNo,ShortNm,Tr6,Tr6Dt
	Update eFile_ER1_Sec9A Set BCD = a.BCD From ManuFact a,eFile_ER1_Sec9A b	
	--BUG18241

End	
Else
Begin
	--Select * From #TblFinalER1	--Commented by Shrikant S. on 24/02/2015 for Bug-25417
	
	--Commented by Shrikant S. on 25/03/2016 for Bug-27850		--Start
	----Added by Shrikant S. on 24/02/2015 for Bug-25417		--Start
	--alter table #TblFinalER1 drop column colno
	
	--if @tbl_nm<>''
	--	set @SQLCOMMAND='Select Colno=IDENTITY(int, 1, 1),* Into '+@tbl_nm+' From #TblFinalER1  '
	--else
	--	set @SQLCOMMAND='Select Colno=IDENTITY(int, 1, 1),* From #TblFinalER1  '
	--EXEC SP_EXECUTESQL  @SQLCOMMAND
	----Added by Shrikant S. on 24/02/2015 for Bug-25417		--End
	--Commented by Shrikant S. on 25/03/2016 for Bug-27850		--End
	
	--Added on 23/03/2016 Shrikant S. for Bug-27850		Start		
	if @tbl_nm<>''
	Begin
		set @SQLCOMMAND='Select * Into '+@tbl_nm+' From #TblFinalER1  '			
		EXEC SP_EXECUTESQL  @SQLCOMMAND				

		SELECT @SQLCOMMAND = 'CREATE CLUSTERED INDEX Ix_Colno_'+@tbl_nm+' ON '+@tbl_nm		
		SELECT @SQLCOMMAND = @SQLCOMMAND+' ( Colno ) '				
		EXECUTE SP_EXECUTESQL @SQLCOMMAND		
	End
	else
	Begin
		SELECT @SQLCOMMAND = 'CREATE CLUSTERED INDEX Ix_Colno_TblFinalER1 ON #TblFinalER1'		
		SELECT @SQLCOMMAND = @SQLCOMMAND+' ( Colno ) '				
		EXECUTE SP_EXECUTESQL @SQLCOMMAND		

		set @SQLCOMMAND='Select * From #TblFinalER1  '
		EXEC SP_EXECUTESQL  @SQLCOMMAND			
	End
	--Added on 23/03/2016 Shrikant S. for Bug-27850		End
End
Drop Table #TblFinalER1
---Vasant211212

DROP TABLE #TMPER1
DROP TABLE #TBLER1


