DROP PROCEDURE [USP_UPDT_DCMAST_MULTI_CURRENCY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [USP_UPDT_DCMAST_MULTI_CURRENCY]
	@ENTRY_TY VARCHAR(2)
AS
DECLARE @CENTRY_TY AS VARCHAR(2), @FLD_NM AS VARCHAR(10), @FCFLD_NM AS VARCHAR(10), @ATT_FILE AS BIT, @CODE AS VARCHAR(1), @FCFLD_NM1 VARCHAR(10)
DECLARE @CQUERY AS NVARCHAR(4000),@ENTRY_TY1 AS VARCHAR(2)

SELECT @ENTRY_TY1=CASE WHEN BCODE_NM<>'' THEN BCODE_NM ELSE ENTRY_TY END FROM LCODE WHERE ENTRY_TY=@ENTRY_TY 

DECLARE CUR_DCMAST CURSOR FOR 
	SELECT ENTRY_TY,FLD_NM,FCFLD_NM,ATT_FILE,CODE FROM DCMAST
	WHERE ENTRY_TY = @ENTRY_TY
	ORDER BY ATT_FILE
	OPEN CUR_DCMAST
	FETCH NEXT FROM CUR_DCMAST INTO @CENTRY_TY,@FLD_NM,@FCFLD_NM,@ATT_FILE,@CODE
	WHILE (@@FETCH_STATUS=0)
	BEGIN
		IF @FCFLD_NM = ''
		BEGIN
			SET @FCFLD_NM1 = REPLACE(LTRIM(RTRIM(@FLD_NM)),'U_','')
			IF (@ATT_FILE=0)
			BEGIN
				SET @FCFLD_NM = 'ITEM'
				SET @CQUERY = 'UPDATE DCMAST SET FCFLD_NM = ''FC'+@FCFLD_NM1+CHAR(39)+' WHERE ENTRY_TY = '+CHAR(39)+LTRIM(RTRIM(@CENTRY_TY))+CHAR(39)+' AND FLD_NM = '+CHAR(39)+LTRIM(RTRIM(@FLD_NM))+CHAR(39)+' AND ATT_FILE = '+CAST(@ATT_FILE AS VARCHAR(1))
				PRINT @CQUERY
				EXECUTE SP_EXECUTESQL @CQUERY
				IF NOT EXISTS(SELECT [NAME] FROM SYSCOLUMNS WHERE [NAME]='FC'+@FCFLD_NM1 AND ID=OBJECT_ID(@ENTRY_TY1+'ITEM') )
				BEGIN
					SET @CQUERY = 'ALTER TABLE '+@ENTRY_TY1+'ITEM ADD FC'+@FCFLD_NM1+' NUMERIC(18,2) '
					PRINT @CQUERY
					EXECUTE SP_EXECUTESQL @CQUERY
				END
				IF @CODE = 'E'
				BEGIN
					IF NOT EXISTS(SELECT [NAME] FROM SYSCOLUMNS WHERE [NAME]='FC'+@FCFLD_NM1 AND ID=OBJECT_ID(@ENTRY_TY1+'MAIN') )
					BEGIN
						SET @CQUERY = 'ALTER TABLE '+@ENTRY_TY1+'MAIN ADD FC'+@FCFLD_NM1+' NUMERIC(18,2) '
						PRINT @CQUERY
						EXECUTE SP_EXECUTESQL @CQUERY
					END
				END
			END	
			ELSE 
			BEGIN
				SET @CQUERY = 'UPDATE DCMAST SET FCFLD_NM = ''FC'+@FCFLD_NM1+CHAR(39)+' WHERE ENTRY_TY = '+CHAR(39)+LTRIM(RTRIM(@CENTRY_TY))+CHAR(39)+' AND FLD_NM = '+CHAR(39)+LTRIM(RTRIM(@FLD_NM))+CHAR(39)+' AND ATT_FILE = '+CAST(@ATT_FILE AS VARCHAR(1))
				PRINT @CQUERY
				EXECUTE SP_EXECUTESQL @CQUERY
				IF NOT EXISTS(SELECT [NAME] FROM SYSCOLUMNS WHERE [NAME]='FC'+@FCFLD_NM1 AND ID=OBJECT_ID(@ENTRY_TY1+'MAIN') )
				BEGIN
					SET @CQUERY = 'ALTER TABLE '+@ENTRY_TY1+'MAIN ADD FC'+@FCFLD_NM1+' NUMERIC(18,2) '
					PRINT @CQUERY
					EXECUTE SP_EXECUTESQL @CQUERY
				END
			END
		END
		FETCH NEXT FROM CUR_DCMAST INTO @CENTRY_TY,@FLD_NM,@FCFLD_NM,@ATT_FILE,@CODE
	END	
	CLOSE CUR_DCMAST
	DEALLOCATE CUR_DCMAST
GO
