DROP PROCEDURE [USP_REP_1_STKVAL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---<<    USP_REP_1_STKVAL This Stored useful to generate Stock Valuation Report   >>
CREATE     PROCEDURE [USP_REP_1_STKVAL]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60) --= null
AS

DECLARE @VALMETHOD AS VARCHAR(20)
DECLARE @FCON AS NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
SET @VALMETHOD=CASE WHEN (@EXPARA LIKE '%FIFO%') THEN 'FIFO' ELSE (CASE WHEN (@EXPARA LIKE '%LIFO%') THEN 'LIFO' ELSE 'AVG'  END) END

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE='I',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=null
,@VFCON =@FCON OUTPUT


SELECT IT_CODE,IT_NAME=ITEM,OPBAL=QTY,OPAMT=GRO_AMT,RQTY=QTY,RAMT=GRO_AMT,IQTY=QTY,IAMT=GRO_AMT,CLBAL=QTY,CLAMT=GRO_AMT INTO #STKVAL FROM STITEM WHERE 1=2

SELECT DISTINCT ENTRY_TY,(CASE WHEN EXT_VOU=1 THEN BCODE_NM ELSE ENTRY_TY END) AS BHENT  INTO #L FROM LCODE WHERE (V_ITEM<>0 ) AND INV_STK<>' '  ORDER BY BHENT
SELECT  DISTINCT A.ENTRY_TY,A.FLD_NM,A.ATT_FILE,A_S=(CASE WHEN (A.CODE='D' OR A.CODE='F') THEN '-' ELSE '+' END),A.STKVAL,A.WEFSTKFROM,A.WEFSTKTO,TAX_NAME=SPACE(20),L.BHENT
INTO #TAX
FROM DCMAST A INNER JOIN #L L ON (A.ENTRY_TY=L.ENTRY_TY) WHERE A.STKVAL<>0
UNION
SELECT DISTINCT ENTRY_TY=SPACE(2),FLD_NM='TAXAMT   ',ATT_FILE=1,A_S='+',STKVAL,WEFSTKFROM,WEFSTKTO,TAX_NAME,BHENT='~~' 
FROM STAX_MAS  
WHERE STKVAL<>0

SELECT M.DATE,TRAN_CD=0,M.INV_NO,M.ENTRY_TY,I.PMKEY,I.IT_CODE,I.QTY,I.RATE,I.GRO_AMT,IT.IT_NAME,IT.RATEPER,MGRO_AMT=M.GRO_AMT,M.NET_AMT,I.WARE_NM,FRATE=I.RATE,PMV=M.NET_AMT
,PMI=M.NET_AMT,TOTPMV=M.NET_AMT
,BHENT=SPACE(2),I.ITSERIAL--,RTRAN_CD=0,RENTRY_TY=SPACE(2),RBHENT=SPACE(2),RQTY=I.QTY,RITSERIAL=I.ITSERIAL
INTO #STKVAL1
FROM STITEM I INNER JOIN 
STMAIN M ON(M.tran_cd=I.tran_cd) 
INNER JOIN IT_MAST IT ON(I.IT_CODE=IT.IT_CODE)
WHERE 1=2
DECLARE @ENTRY_TY AS VARCHAR(2),@BHENT AS VARCHAR(2)
DECLARE @SQLCOMMAND AS NVARCHAR(4000)


DECLARE  C1STKVAL CURSOR FOR 
SELECT  DISTINCT BHENT FROM #L
ORDER BY BHENT
OPEN C1STKVAL
FETCH NEXT FROM C1STKVAL INTO @BHENT
WHILE @@FETCH_STATUS=0
BEGIN
	SET @SQLCOMMAND=' '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INSERT INTO #STKVAL1 ('
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'DATE,TRAN_CD,INV_NO,ENTRY_TY,PMKEY,IT_CODE,QTY,RATE,GRO_AMT,IT_NAME,RATEPER,MGRO_AMT,NET_AMT,WARE_NM,FRATE,PMV'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',PMI,TOTPMV'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',BHENT,I.ITSERIAL'--,RTRAN_CD,RENTRY_TY,RBHENT,RQTY,RITSERIAL'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+')'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT M.DATE,M.TRAN_CD,M.INV_NO,M.ENTRY_TY,I.PMKEY,I.IT_CODE,I.QTY,I.RATE,I.GRO_AMT,IT_MAST.IT_NAME,IT_MAST.RATEPER,MGRO_AMT=M.GRO_AMT,M.NET_AMT,I.WARE_NM,FRATE=0,PMV=0'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',PMI=0,TOTPMV=0'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',L.BHENT,I.ITSERIAL'--,RTRAN_CD=(CASE WHEN ITR.TRAN_CD IS NULL THEN 0 ELSE ITR.TRAN_CD END) ,RENTRY_TY=ITR.ENTRY_TY,RBHENT=SPACE(2),RQTY=ITR.RQTY,RITSERIAL=ITR.ITSERIAL'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM '+@BHENT+'ITEM I INNER JOIN '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+@BHENT+'MAIN M ON(M.tran_cd=I.tran_cd) '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST  ON(I.IT_CODE=IT_MAST.IT_CODE)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN #L L ON (M.ENTRY_TY=L.ENTRY_TY)'
--	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN STKL_VW_ITREF ITR ON (I.ENTRY_TY=ITR.RENTRY_TY AND I.TRAN_CD=ITR.ITREF_TRAN AND I.ITSERIAL=ITR.RITSERIAL)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND I.PMKEY<>'+''' '''
--	SET @SQLCOMMAND=REPLACE(RTRIM(@SQLCOMMAND),'($$)',LTRIM(RTRIM(@BHENT)))
	PRINT @SQLCOMMAND
	EXEC SP_EXECUTESQL  @SQLCOMMAND
		
	FETCH NEXT FROM C1STKVAL INTO @BHENT
END
CLOSE C1STKVAL
DEALLOCATE C1STKVAL





DECLARE @TENTRY_TY AS VARCHAR(2),@FLD_NM AS VARCHAR(20),@ATT_FILE AS INT,@A_S AS VARCHAR(1),@WEFSTKFROM AS SMALLDATETIME,@WEFSTKTO AS SMALLDATETIME,@TBHENT AS VARCHAR(2),@TAX_NAME AS VARCHAR(30)
DECLARE @PARMDEFINATION NVARCHAR(50),@AMT AS NUMERIC(12,2)
UPDATE #STKVAL1 SET PMI=0
SELECT ENTRY_TY,TRAN_CD=0,ITSERIAL,AMT=GRO_AMT INTO #ITEM1 FROM STITEM  WHERE 1=2
DECLARE  C2STKVAL CURSOR FOR 
SELECT  DISTINCT ENTRY_TY,BHENT FROM #STKVAL1 WHERE PMKEY='+'
OPEN C2STKVAL
FETCH NEXT FROM C2STKVAL INTO @ENTRY_TY,@BHENT
WHILE @@FETCH_STATUS=0
BEGIN
	DECLARE  C3STKVAL CURSOR FOR 
	SELECT FLD_NM,ATT_FILE,A_S,WEFSTKFROM,WEFSTKTO,BHENT,TAX_NAME FROM #TAX WHERE (ENTRY_TY=@ENTRY_TY) OR (BHENT='~~')
	OPEN C3STKVAL
	FETCH NEXT FROM  C3STKVAL INTO @FLD_NM,@ATT_FILE,@A_S,@WEFSTKFROM,@WEFSTKTO,@TBHENT,@TAX_NAME
	WHILE @@FETCH_STATUS=0
	BEGIN
		IF @ATT_FILE='0'
		BEGIN
		          	DELETE FROM #ITEM1
			SET @SQLCOMMAND='INSERT INTO #ITEM1  (ENTRY_TY,TRAN_CD,ITSERIAL,AMT)'
			SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT ENTRY_TY,TRAN_CD,ITSERIAL,(CASE WHEN '+RTRIM(@FLD_NM)+' IS NULL THEN 0 ELSE '+RTRIM(@FLD_NM)+' END)  FROM '+@BHENT+'ITEM WHERE DATE BETWEEN '+CHAR(39)+CAST(@WEFSTKFROM AS VARCHAR)+CHAR(39)+ ' AND '+CHAR(39)+CAST(@WEFSTKTO AS VARCHAR)+CHAR(39) +' AND ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)
			PRINT @SQLCOMMAND
			
			EXECUTE SP_EXECUTESQL @SQLCOMMAND	
			SET @SQLCOMMAND='UPDATE  A SET A.PMI=A.PMI '+@A_S+' B.AMT FROM #ITEM1 B INNER JOIN #STKVAL1 A ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.ITSERIAL=B.ITSERIAL)  WHERE  A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)
			PRINT @SQLCOMMAND
			EXECUTE SP_EXECUTESQL @SQLCOMMAND
		END	
		ELSE
		BEGIN
			
			IF @TBHENT='~~'  --SALES TAX
			BEGIN
					
				SET @SQLCOMMAND='INSERT INTO #ITEM1  (ENTRY_TY,TRAN_CD,ITSERIAL,AMT)'
				SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT ENTRY_TY,TRAN_CD,ITSERIAL=0,(CASE WHEN '+RTRIM(@FLD_NM)+' IS NULL THEN 0 ELSE '+RTRIM(@FLD_NM)+' END)  FROM '+@BHENT+'MAIN WHERE DATE BETWEEN '+CHAR(39)+CAST(@WEFSTKFROM AS VARCHAR)+CHAR(39)+ ' AND '+CHAR(39)+CAST(@WEFSTKTO AS VARCHAR)+CHAR(39)+' AND ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39) +' AND TAX_NAME='+CHAR(39) +@TAX_NAME+CHAR(39) 
			END
			ELSE
			BEGIN
				SET @SQLCOMMAND='INSERT INTO #ITEM1  (ENTRY_TY,TRAN_CD,ITSERIAL,AMT)'
				SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT ENTRY_TY,TRAN_CD,ITSERIAL=0,(CASE WHEN '+RTRIM(@FLD_NM)+' IS NULL THEN 0 ELSE '+RTRIM(@FLD_NM)+' END)  FROM '+@BHENT+'MAIN WHERE DATE BETWEEN '+CHAR(39)+CAST(@WEFSTKFROM AS VARCHAR)+CHAR(39)+ ' AND '+CHAR(39)+CAST(@WEFSTKTO AS VARCHAR)+CHAR(39)+' AND ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39) 
			END	
				PRINT @SQLCOMMAND
			
			EXECUTE SP_EXECUTESQL @SQLCOMMAND	
			SET @SQLCOMMAND='UPDATE  A SET A.TOTPMV=A.TOTPMV '+@A_S+' B.AMT FROM #ITEM1 B INNER JOIN #STKVAL1 A ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD ) WHERE  A.ENTRY_TY='+CHAR(39)+@ENTRY_TY+CHAR(39)
			PRINT @SQLCOMMAND
			EXECUTE SP_EXECUTESQL @SQLCOMMAND

		END
		FETCH NEXT FROM  C3STKVAL INTO @FLD_NM,@ATT_FILE,@A_S,@WEFSTKFROM,@WEFSTKTO,@TBHENT,@TAX_NAME
	END
	CLOSE C3STKVAL
	DEALLOCATE C3STKVAL
	FETCH NEXT FROM C2STKVAL INTO @ENTRY_TY,@BHENT
END
CLOSE C2STKVAL
DEALLOCATE C2STKVAL

UPDATE  #STKVAL1 SET PMV=(TOTPMV*GRO_AMT)/(CASE WHEN MGRO_AMT=0 THEN 1 ELSE MGRO_AMT END)  WHERE PMKEY='+'
UPDATE  #STKVAL1 SET FRATE=(((QTY*RATE)/RATEPER)+PMI+PMV)/(CASE WHEN qty=0 THEN 1 ELSE qty END)   WHERE PMKEY='+'

SELECT RENTRY_TY  AS ENTRY_TY,ITREF_TRAN AS TRAN_CD,RITSERIAL AS ITSERIAL,RQTY=SUM(RQTY) INTO #ITR FROM STKL_VW_ITREF GROUP BY RENTRY_TY ,ITREF_TRAN ,RITSERIAL ORDER BY RENTRY_TY ,ITREF_TRAN ,RITSERIAL


UPDATE  A SET A.QTY=A.QTY-( CASE WHEN B.RQTY IS NOT NULL THEN B.RQTY ELSE 0 END) FROM #ITR B INNER JOIN #STKVAL1 A ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.ITSERIAL=B.ITSERIAL)  
DELETE FROM #STKVAL1 WHERE QTY=0


--SET @VALMETHOD='AVG'
IF @VALMETHOD='AVG'
BEGIN
	SELECT IT_CODE,IT_NAME,SUM(QTY*(CASE WHEN FRATE IS NULL THEN 0 ELSE FRATE END))/SUM((CASE WHEN QTY>0 THEN  QTY ELSE 1 END)) AS AVGRATE INTO #STKVALAVG1 FROM #STKVAL1 WHERE PMKEY='+' AND FRATE>0  GROUP BY IT_CODE,IT_NAME  
	
	--INSERT SELECT IT_CODE,IT_NAME=ITEM,OPBAL=QTY,OPAMT=GRO_AMT,RQTY=QTY,RAMT=GRO_AMT,IQTY=QTY,IAMT=GRO_AMT,CLBAL=QTY,CLAMT=GRO_AMT
	--case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB'
	SELECT IT_CODE,IT_NAME
	,OPBAL=SUM(CASE WHEN ENTRY_TY='OS' OR DATE<@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END) ELSE 0 	END )	    		
	,RQTY=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='+') THEN QTY ELSE 0 END)
	,IQTY=SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='-') THEN QTY ELSE 0 END)
	,CLBAL=SUM(CASE WHEN ENTRY_TY='OS' OR DATE<@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END) ELSE 0  END ) 
		+SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='+') THEN QTY ELSE 0 END)
		-SUM(CASE WHEN (ENTRY_TY<>'OS' AND DATE>=@SDATE AND PMKEY='-') THEN QTY ELSE 0 END)	    
	INTO #STKVALAVG2 FROM  #STKVAL1 GROUP BY IT_CODE,IT_NAME ORDER BY IT_NAME
	
	INSERT INTO #STKVAL 
	(IT_CODE,IT_NAME,OPBAL,OPAMT,RQTY,RAMT,IQTY,IAMT,CLBAL,CLAMT
	)
	SELECT A.IT_CODE,A.IT_NAME
	,A.OPBAL,OPAMT=A.OPBAL*(CASE WHEN B.AVGRATE IS NOT NULL THEN B.AVGRATE  ELSE 0 END) 
	,A.RQTY,RAMT=A.RQTY*(CASE WHEN B.AVGRATE IS NOT NULL THEN B.AVGRATE  ELSE 0 END) 
	,A.IQTY,IAMT=A.IQTY*(CASE WHEN B.AVGRATE IS NOT NULL THEN B.AVGRATE  ELSE 0 END) 
	,A.CLBAL,CLAMT=A.CLBAL*(CASE WHEN B.AVGRATE IS NOT NULL THEN B.AVGRATE  ELSE 0 END) 
	FROM #STKVALAVG2 A LEFT JOIN  #STKVALAVG1 B ON (A.IT_CODE=B.IT_CODE)
	DELETE FROM #STKVAL WHERE CLBAL<0
END	
DECLARE @IBAL1 AS NUMERIC(12,2),@IBAL2 AS NUMERIC(12,2)
DECLARE @IT_NAME VARCHAR(100),@IT_CODE INT,@QTY NUMERIC(14,3),@FRATE NUMERIC(12,2),@DATE SMALLDATETIME,@TRAN_CD NUMERIC(10),@WARE_NM VARCHAR(100),@MWARE_NM VARCHAR(100),@MIT_CODE INT,@BALQTY NUMERIC(12,3)
--SET @VALMETHOD='FIFO' 
IF (@VALMETHOD='FIFO') OR (@VALMETHOD='LIFO')
BEGIN
	SELECT IT_NAME,IT_CODE,QTY,FRATE,DATE,TRAN_CD,BALQTY=QTY,BHENT INTO #STKVALF1 FROM #STKVAL1 WHERE 1=2
	
	IF @VALMETHOD='FIFO'	
	BEGIN
		DECLARE  C4STKVAL CURSOR FOR 
		SELECT IT_NAME,IT_CODE,QTY,FRATE,DATE,TRAN_CD,WARE_NM,BHENT FROM #STKVAL1 WHERE  PMKEY='+' ORDER BY IT_NAME,DATE,TRAN_CD 
	END
	ELSE --'LIFO'
	BEGIN
		--SELECT IT_NAME,IT_CODE,QTY,FRATE,DATE,TRAN_CD,WARE_NM FROM #STKVAL1 WHERE  PMKEY='+' ORDER BY IT_NAME+CAST(DATE AS VARCHAR)+STR(TRAN_CD)
		DECLARE  C4STKVAL CURSOR FOR 
		SELECT IT_NAME,IT_CODE,QTY,FRATE,DATE,TRAN_CD,WARE_NM,BHENT FROM #STKVAL1 WHERE  PMKEY='+' ORDER BY IT_NAME+CAST(DATE AS VARCHAR)+STR(TRAN_CD) DESC
	END
	OPEN C4STKVAL
	FETCH NEXT FROM  C4STKVAL INTO @IT_NAME,@IT_CODE,@QTY,@FRATE,@DATE,@TRAN_CD,@WARE_NM,@BHENT
	
	SET @MIT_CODE=@IT_CODE
	SET @MWARE_NM=@WARE_NM
	SET @IBAL1=0
	SET @IBAL2=0
	SELECT @IBAL1=(CASE WHEN (ENTRY_TY='OS' OR DATE<@SDATE) THEN QTY  ELSE 0 END),@IBAL2= (CASE WHEN NOT (ENTRY_TY='OS' OR DATE<@SDATE) THEN QTY  ELSE 0 END) FROM #STKVAL1 WHERE IT_CODE=@IT_CODE --AND WARE_NM=@WARE_NM  AND PMKEY='-'

	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @BALQTY=0
		IF NOT (@MIT_CODE=@IT_CODE AND @MWARE_NM=@WARE_NM)
		BEGIN
			SET @MIT_CODE=@IT_CODE
			SET @MWARE_NM=@WARE_NM	
			
			SET @IBAL1=0
			SET @IBAL2=0
			
			--SELECT *  FROM #STKVAL1 WHERE IT_CODE=@IT_CODE AND WARE_NM=@WARE_NM AND PMKEY='-'
			SELECT @IBAL1=SUM(CASE WHEN (ENTRY_TY='OS' OR DATE<@SDATE) THEN QTY  ELSE 0 END),@IBAL2= SUM(CASE WHEN NOT (ENTRY_TY='OS' OR DATE<@SDATE) THEN QTY  ELSE 0 END) FROM #STKVAL1 WHERE IT_CODE=@IT_CODE AND WARE_NM=@WARE_NM  AND PMKEY='-'
			SET @IBAL1=CASE WHEN @IBAL1 IS NOT NULL THEN @IBAL1 ELSE 0  END
			SET @IBAL2=CASE WHEN @IBAL2 IS NOT NULL THEN @IBAL2 ELSE 0  END
			PRINT 'CHANGE IT='+STR(@MIT_CODE)+' '+STR(@IT_CODE)
			PRINT 'WARE_NM='+@WARE_NM
			PRINT LTRIM(STR(@QTY))+' '+LTRIM(STR(@BALQTY))+' '+LTRIM(STR(@IBAL1))+' '+LTRIM(STR(@IBAL2))
		END
		
		IF (@ENTRY_TY='OS' OR @DATE<@SDATE)
		BEGIN
			SET @BALQTY=(CASE WHEN @QTY-@IBAL1>0 THEN @QTY-@IBAL1 ELSE 0 END)
			SET @IBAL1    =(CASE WHEN @QTY-@IBAL1>0 THEN 0 ELSE @IBAL1-@QTY END)
		END
		IF NOT (@ENTRY_TY='OS' OR @DATE<@SDATE)
		BEGIN
			SET @BALQTY=(CASE WHEN @QTY-@IBAL2>0 THEN @QTY-@IBAL2 ELSE 0 END)
			SET @IBAL2    =(CASE WHEN @QTY-@IBAL2>0 THEN 0 ELSE @IBAL2-@QTY END)
		END
		--IF @BALQTY>0
		--BEGIN
			INSERT INTO #STKVALF1( IT_NAME,IT_CODE,QTY,FRATE,DATE,TRAN_CD,BALQTY,BHENT)
			VALUES(@IT_NAME,@IT_CODE,@QTY,@FRATE,@DATE,@TRAN_CD,@BALQTY,@BHENT)
		--END
		
		FETCH NEXT FROM  C4STKVAL INTO @IT_NAME,@IT_CODE,@QTY,@FRATE,@DATE,@TRAN_CD,@WARE_NM,@BHENT		
		
	END
	
	CLOSE C4STKVAL
	DEALLOCATE C4STKVAL

	INSERT INTO #STKVAL 
	(IT_CODE,IT_NAME,OPBAL,OPAMT,RQTY,RAMT,IQTY,IAMT,CLBAL,CLAMT)
	SELECT IT_CODE,IT_NAME
	,OPBAL=SUM(CASE WHEN BHENT='OS' OR DATE<@SDATE THEN BALQTY ELSE 0  END)	    		
	,OPAMT=SUM(CASE WHEN BHENT='OS' OR DATE<@SDATE THEN BALQTY*FRATE ELSE 0  END)
	,RQTY=SUM(CASE WHEN (BHENT<>'OS' AND DATE>=@SDATE ) THEN QTY ELSE 0 END)
	,RAMT=SUM(CASE WHEN (BHENT<>'OS' AND DATE>=@SDATE ) THEN QTY*FRATE ELSE 0 END)
	,IQTY=SUM(CASE WHEN (BHENT<>'OS' AND DATE>=@SDATE ) THEN QTY-BALQTY ELSE 0 END)
	,IAMT=SUM(CASE WHEN (BHENT<>'OS' AND DATE>=@SDATE ) THEN (QTY-BALQTY)*FRATE ELSE 0 END)
	,CLBAL=SUM(BALQTY)
	,CLAMT=SUM(BALQTY*FRATE)
	FROM  #STKVALF1
	GROUP BY IT_CODE,IT_NAME
	--DELETE FROM #STKVAL WHERE CLBAL<0

END	
IF CHARINDEX('NO',@EXPARA,1)<>0
BEGIN
	DELETE FROM #STKVAL WHERE CLBAL<=0
END
ELSE
BEGIN
	DELETE FROM #STKVAL WHERE CLBAL<0
END	

SELECT A.IT_CODE,A.IT_NAME,IT.RATEUNIT,IT.[GROUP],IT.TYPE,A.OPBAL,A.OPAMT,A.RQTY,A.RAMT,A.IQTY,A.IAMT,A.CLBAL,A.CLAMT FROM #STKVAL A INNER JOIN IT_MAST IT ON  (A.IT_CODE=IT.IT_CODE)
GO
