DROP PROCEDURE [USP_REP_THRO_NEG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Priyanka Himane
-- Create date: 22/12/2011
-- Description:	This Stored procedure is useful to Generate data for Negotiable-LC Through, 
--				Negotiable-LC Through-BE1, Negotiable-LC Through-BE2 reports in Bank Document For Export Sales transaction.
-- =============================================

CREATE PROCEDURE [USP_REP_THRO_NEG]
@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)

	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		SET @TBLCON=RTRIM(@ENTRYCOND)
PRINT @ENT
PRINT @TRN

		SELECT MAIN.INV_SR,MAIN.TRAN_CD,MAIN.ENTRY_TY,MAIN.INV_NO,MAIN.DATE,MAIN.U_CINVOICE,MAIN.U_COMINV,
		MAIN.U_INVAMT,MAIN.U_PPONO,MAIN.U_PPODT,MAIN.U_INVCURR,MAIN.U_PPLIST,MAIN.U_THREE,MAIN.U_FOUR,MAIN.U_FIVE,MAIN.U_SIX
		,MAIN.U_SEVEN,MAIN.U_EIGHT,MAIN.U_NINE,MAIN.U_TEN,MAIN.U_ELEVEN,MAIN.U_TWELVE,MAIN.U_THIRTEEN,MAIN.U_FORTEEN,MAIN.U_FIFTEEN
		,MAIN.U_SNO,MAIN.U_PAYMENT1,MAIN.U_SONO,MAIN.U_SODT,MAIN.U_PAYTERMS,MAIN.U_LCNO,MAIN.U_LCDT,
		MAIN.U_DUEDY,MAIN.U_KINDA,MAIN.U_LCAUTNO,MAIN.U_BNAME,MAIN.U_BADD2,MAIN.U_BADD1,MAIN.U_BADD3
		,MAIN.U_EINVNO,MAIN.U_EINVDT,MAIN.U_LRNO,MAIN.U_LRDT,MAIN.U_BLNO AS U_EBLNO,MAIN.U_BLDT AS U_EBLDT,
		MAIN.U_BLNAME,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.MAILNAME,AC_MAST.CITY,AC_MAST.ZIP,AC_MAST.COUNTRY,
		AC_MAST1.MAILNAME MAILNAME11,MAIN.U_BANK,AC_MAST1.ADD1 AS ADD11,AC_MAST1.ADD2 AS ADD12,AC_MAST1.ADD3 AS ADD13,
		AC_MAST1.CITY AS CITY1,AC_MAST1.ZIP AS ZIP1,MAIN.U_ADVPAY,MAIN.U_CERORGNO,MAIN.U_INSCERNO,MAIN.U_INSCERDT,IT_MAST.EIT_NAME
		FROM MAIN
		INNER JOIN ITEM ON MAIN.TRAN_CD=ITEM.TRAN_CD 
		INNER JOIN IT_MAST ON IT_MAST.IT_CODE=ITEM.IT_CODE 
		Left JOIN AC_MAST ON (AC_MAST.AC_ID=MAIN.AC_ID) 
		LEFT JOIN AC_MAST AC_MAST1 ON (AC_MAST1.AC_NAME=MAIN.U_BANK)
		WHERE MAIN.ENTRY_TY= 'ED' AND MAIN.TRAN_CD=@TRN
		ORDER BY MAIN.INV_NO


--EXECUTE USP_REP_THRO_NEG 'MAIN.ENTRY_TY=''ED'' AND MAIN.TRAN_CD=49'
GO
