if exists(select [name] from sysobjects where [name]='usp_rep_annexure_A' and xtype='P')
drop procedure usp_rep_annexure_A
GO

Create PROCEDURE  [dbo].[usp_rep_annexure_A]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS
BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

PRINT @FCON

SELECT SRNO=1,B.EIT_name AS IT_NAME,B.CHAPNO AS CHAPNO,[RULE]=SPACE(20),SUM(CASE WHEN A.ENTRY_TY='OP' THEN A.QTY ELSE 0 END) AS PROD,
SUM(CASE WHEN A.ENTRY_TY='ST' THEN A.QTY ELSE 0 END ) AS CLEARED,SUM(CASE WHEN A.ENTRY_TY='ST' THEN ROUND(A.QTY*A.RATE,0) ELSE 0 END) AS VALUE	 ,
SUM(CASE WHEN A.ENTRY_TY='ST' THEN ROUND (A.EXAMT,0) ELSE 0 END) AS RG23A,SUM(CASE WHEN A.ENTRY_TY='ST' THEN ROUND (A.U_CESSAMT,0) ELSE 0 END) AS ECESS,
SUM(CASE WHEN A.ENTRY_TY='ST' THEN ROUND (A.U_HCESAMT,0) ELSE 0 END) AS HCESS,MFGR=0,TRADER=0,IMPO=0
INTO #TMPLTBL
FROM LITEM_VW A
INNER JOIN IT_MAST B ON (RTRIM(A.ITEM)=RTRIM(B.IT_NAME))
INNER JOIN LMAIN_VW C ON (A.ENTRY_TY=C.ENTRY_TY AND A.TRAN_CD=C.TRAN_CD)
WHERE (A.ENTRY_TY='ST' AND C.[RULE] NOT IN ('CT-3','CT-1','CAPTIVE USE') AND (A.DATE BETWEEN @SDATE AND @EDATE))
OR (A.ENTRY_TY='OP' AND B.[TYPE] IN ('FINISHED','SEMI FINISHED') AND C.[RULE]='MODVATABLE' AND (A.DATE BETWEEN @SDATE AND @EDATE))	
GROUP BY B.[GROUP],B.CHAPNO,B.EIT_name

UNION ALL
SELECT SRNO=2,RTRIM(A.AC_NAME) AS IT_NAME,
CASE WHEN A.AC_NAME LIKE '%EXCISE%' THEN 'CENVAT'
WHEN A.AC_NAME LIKE '%CESS SURCHARGE%' THEN 'EDUC.CESS'
WHEN A.AC_NAME LIKE '%CVD%' THEN 'ADL.CVD'
WHEN A.AC_NAME LIKE '%HCESS%' THEN 'S&H CESS' END  AS CHAPNO
,[RULE]=SPACE(20),PROD=0,CLEARED=0,VALUE=0,RG23A=0,ECESS=0,HCESS=0
,SUM(CASE WHEN C.VEND_TYPE='MANUFACTURER' THEN A.AMOUNT ELSE 0 END) AS MFGR,
SUM(CASE WHEN C.VEND_TYPE IN ('I STAGE DEALER','II STAGE DEALER') THEN A.AMOUNT ELSE 0 END) AS TRADER
,SUM(CASE WHEN C.VEND_TYPE='IMPORTER' THEN A.AMOUNT ELSE 0 END) AS IMPO
FROM LAC_VW A--,LMAIN_VW B,AC_MAST C
INNER JOIN LMAIN_VW B ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
INNER JOIN AC_MAST C ON (B.PARTY_NM=C.AC_NAME)
INNER JOIN AC_MAST D ON (A.AC_NAME=D.AC_NAME)
WHERE D.TYP='EXCISE' AND A.ENTRY_TY<>'OB' AND A.AMT_TY='DR' 
AND A.AC_NAME in ('BALANCE WITH EXCISE RG23A','BALANCE WITH CESS SURCHARGE RG23A','BALANCE WITH HCESS RG23A','BALANCE WITH CVD RG23A','BALANCE WITH EXCISE RG23C','BALANCE WITH CESS SURCHARGE RG23C','BALANCE WITH HCESS RG23C','BALANCE WITH CVD RG23C')--NOT LIKE '%PLA%' AND A.AC_NAME NOT LIKE '%SERVICE%'
AND (A.DATE BETWEEN @SDATE AND @EDATE)
GROUP BY A.AC_NAME,A.AMT_TY

UNION ALL

SELECT SRNO=3,RTRIM(B.EIT_name)+' - '+RTRIM(C.[RULE]) AS IT_NAME,B.CHAPNO AS CHAPNO,C.[RULE] AS [RULE],
SUM(CASE WHEN A.ENTRY_TY='OP' THEN A.QTY ELSE 0 END) AS PROD,
SUM(CASE WHEN A.ENTRY_TY='ST' THEN A.QTY ELSE 0 END ) AS CLEARED,
SUM(CASE WHEN A.ENTRY_TY='ST' THEN ROUND(A.GRO_AMT,0) ELSE 0 END) AS VALUE	 ,
SUM(CASE WHEN A.ENTRY_TY='ST' THEN ROUND (A.EXAMT,0) ELSE 0 END) AS RG23A,
SUM(CASE WHEN A.ENTRY_TY='ST' THEN ROUND (A.U_CESSAMT,0) ELSE 0 END) AS ECESS,
SUM(CASE WHEN A.ENTRY_TY='ST' THEN ROUND (A.U_HCESAMT,0) ELSE 0 END) AS HCESS,
MFGR=0,TRADER=0,IMPO=0
FROM LITEM_VW A
INNER JOIN IT_MAST B ON (RTRIM(A.ITEM)=RTRIM(B.IT_NAME))
INNER JOIN LMAIN_VW C ON (A.ENTRY_TY=C.ENTRY_TY AND A.TRAN_CD=C.TRAN_CD)
WHERE (A.ENTRY_TY='ST' AND C.[RULE] IN ('CT-3','CT-1','CT-2','CAPTIVE USE')) AND (A.DATE BETWEEN @SDATE AND @EDATE)
GROUP BY B.[GROUP],B.CHAPNO,C.[RULE],B.EIT_name

UNION ALL
SELECT SRNO=4,RTRIM(A.AC_NAME) AS IT_NAME,
CASE WHEN A.AC_NAME LIKE '%EXCISE%' THEN 'CENVAT'
WHEN A.AC_NAME LIKE '%CESS SURCHARGE%' THEN 'EDUC.CESS'
WHEN A.AC_NAME LIKE '%CVD%' THEN 'ADL.CVD'
WHEN A.AC_NAME LIKE '%HCESS%' THEN 'S&H CESS' END  AS CHAPNO
,[RULE]=SPACE(20),
SUM(CASE WHEN A.AMT_TY='DR' THEN A.AMOUNT ELSE 0 END) AS PROD,
SUM(CASE WHEN A.AMT_TY='CR' THEN A.AMOUNT ELSE 0 END) AS CLEARED,
VALUE=0,RG23A=0,ECESS=0,HCESS=0,
MFGR=0,TRADER=0,IMPO=0
FROM LAC_VW A
INNER JOIN AC_MAST C ON (A.AC_NAME=C.AC_NAME)
WHERE C.TYP='EXCISE' AND A.ENTRY_TY<>'OB' --AND A.AC_NAME NOT LIKE '%SERVICE%' --AND A.AC_NAME NOT IN (SELECT  D.AC_NAME FROM  LAC_VW D WHERE D.AMT_TY='DR' AND A.AC_NAME LIKE '%RG23C%')
AND A.AC_NAME in ('BALANCE WITH EXCISE RG23A','BALANCE WITH CESS SURCHARGE RG23A','BALANCE WITH HCESS RG23A','BALANCE WITH CVD RG23A','BALANCE WITH EXCISE RG23C','BALANCE WITH CESS SURCHARGE RG23C','BALANCE WITH HCESS RG23C','BALANCE WITH CVD RG23C','BALANCE WITH EXCISE PLA','BALANCE WITH CESS SURCHARGE PLA','BALANCE WITH HCESS PLA')--NOT LIKE '%PLA%' AND A.AC_NAME NOT LIKE '%SERVICE%'
AND (A.DATE BETWEEN @SDATE AND @EDATE)
GROUP BY A.AC_NAME,A.AMT_TY

DELETE FROM #TMPLTBL WHERE (SRNO=4 AND IT_NAME LIKE '%RG23C%' and prod<>0) --OR (SRNO=2 AND IT_NAME LIKE '%RG23C%')


SELECT SRNO,IT_NAME,CHAPNO,[RULE],SUM(PROD) AS PROD,SUM(CLEARED) AS CLEARED,SUM(VALUE) AS VALUE,
SUM(RG23A) AS RG23A,SUM(ECESS) AS ECESS,SUM(HCESS) AS HCESS,SUM(MFGR) AS MFGR,SUM(TRADER) AS TRADER,SUM(IMPO) AS IMPO
FROM #TMPLTBL
GROUP BY SRNO,IT_NAME,CHAPNO,[RULE]
END