DROP PROCEDURE [USP_REP_DatewiseSaleReg]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Vasant M. Shettigar		
-- Create date: 24/01/2014
-- Description:	Datewise Sales Register
-- Remark:
-- =============================================
Create PROCEDURE [USP_REP_DatewiseSaleReg]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@SQLCOMMAND AS NVARCHAR(4000)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STMAIN',@VITFILE='STITEM',@VACFILE=null
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SELECT STMAIN.ENTRY_TY,STMAIN.TRAN_CD,STMAIN.DATE,STMAIN.INV_NO,
AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.STATE,
IT_MAST.[GROUP],IsTaxItem=CAST(0 as bit),IsExciseItem=CAST(0 as bit),
STITEM.ITEM,STITEM.ITSERIAL,STITEM.QTY,STITEM.RATE,STITEM.U_ASSEAMT,
TOT_DEDUCI=STITEM.TOT_DEDUC,TOT_TAXI=STITEM.TOT_TAX,TOT_ADDI=STITEM.TOT_ADD,
TOT_NONTAXI=STITEM.TOT_NONTAX,TOT_FDISCI=STITEM.TOT_FDISC,TAXAMTI=STITEM.TAXAMT,
TAX_NAMEI=STITEM.TAX_NAME,TOT_EXAMTI=STITEM.TOT_EXAMT,GRO_AMTI=STITEM.GRO_AMT,
TOT_DEDUCH=STMAIN.TOT_DEDUC,TOT_TAXH=STMAIN.TOT_TAX,TOT_ADDH=STMAIN.TOT_ADD,
TOT_NONTAXH=STMAIN.TOT_NONTAX,ROUNDOFFH=STMAIN.ROUNDOFF,TOT_FDISCH=STMAIN.TOT_FDISC,
TAXAMTH=STMAIN.TAXAMT,TAX_NAMEH=STMAIN.TAX_NAME,
TOT_EXAMTH=STMAIN.TOT_EXAMT,NET_AMTH=STMAIN.NET_AMT,
STITEM.CGST_PER,STITEM.CGST_AMT,STITEM.SGST_PER,STITEM.SGST_AMT,STITEM.IGST_PER,STITEM.IGST_AMT
INTO #STMAIN FROM STMAIN
LEFT JOIN STITEM ON STMAIN.TRAN_CD=STITEM.TRAN_CD  
INNER JOIN AC_MAST ON STMAIN.AC_ID=AC_MAST.AC_ID    
INNER JOIN IT_MAST ON STITEM.IT_CODE=IT_MAST.IT_CODE 
Where 1=2 and STMAIN.entry_ty='ST'
--Modified BY Prajakta B. on 03-07-2017 
SET @SQLCOMMAND=' '
SET @SQLCOMMAND='INSERT INTO #STMAIN 
	SELECT STMAIN.ENTRY_TY,STMAIN.TRAN_CD,STMAIN.DATE,STMAIN.INV_NO,
	AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.STATE,
	IT_MAST.[GROUP],IsTaxItem=CAST(0 as bit),IsExciseItem=CAST(0 as bit),
	STITEM.ITEM,STITEM.ITSERIAL,STITEM.QTY,STITEM.RATE,STITEM.U_ASSEAMT,
	TOT_DEDUCI=STITEM.TOT_DEDUC,TOT_TAXI=STITEM.TOT_TAX,TOT_ADDI=STITEM.TOT_ADD,
	TOT_NONTAXI=STITEM.TOT_NONTAX,TOT_FDISCI=STITEM.TOT_FDISC,TAXAMTI=STITEM.TAXAMT,
	TAX_NAMEI=STITEM.TAX_NAME,TOT_EXAMTI=STITEM.TOT_EXAMT,GRO_AMTI=STITEM.GRO_AMT,
	TOT_DEDUCH=STMAIN.TOT_DEDUC,TOT_TAXH=STMAIN.TOT_TAX,TOT_ADDH=STMAIN.TOT_ADD,
	TOT_NONTAXH=STMAIN.TOT_NONTAX,ROUNDOFFH=STMAIN.ROUNDOFF,TOT_FDISCH=STMAIN.TOT_FDISC,
	TAXAMTH=STMAIN.TAXAMT,TAX_NAMEH=STMAIN.TAX_NAME,
	TOT_EXAMTH=STMAIN.TOT_EXAMT,NET_AMTH=STMAIN.NET_AMT,
	STITEM.CGST_PER,STITEM.CGST_AMT,STITEM.SGST_PER,STITEM.SGST_AMT,STITEM.IGST_PER,STITEM.IGST_AMT
	FROM STMAIN
	LEFT JOIN STITEM ON STMAIN.TRAN_CD=STITEM.TRAN_CD  
	INNER JOIN AC_MAST ON STMAIN.AC_ID=AC_MAST.AC_ID    
	INNER JOIN IT_MAST ON STITEM.IT_CODE=IT_MAST.IT_CODE '+@FCON
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND)+' and stmain.entry_ty=''ST'''

EXEC SP_EXECUTESQL  @SQLCOMMAND
 
Update #STMAIN Set MailName = Ac_Name Where IsNull(MailName,'') = ''

Update #STMAIN Set IsTaxItem = 1 
	From #STMAIN a,LCODE b 
	Where a.Entry_ty = b.Entry_ty and b.STAX_ITEM=1

Update #STMAIN Set IsExciseItem = 1 
	From #STMAIN a,Dcmast b 
	Where a.Entry_ty = b.Entry_ty and b.fld_nm = 'EXAMT' and b.att_file = 0

SELECT * FROM #STMAIN ORDER BY DATE,INV_NO,ISNULL(itserial,'')
DROP TABLE #STMAIN
GO
