
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Excise Datewise RG23C-I Register Report.
-- Modification Date/By/Reason: 15/06/2009 Rupesh Prajapati. Modified for Consignor Details.
-- Modification Date/By/Reason: 11/03/2010 Shrikant S. Modified for TKT-573
-- Remark:

--Modified Date  : 30/05/2012
--Modified By     :  Vasant
--Reason	           :  Bug 3236 (RG23C part1 SR. NO is not allocate proper way after Run RG NO renumbering Utility)
--Comment where Changes done : Bug3236

-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_RG23C_PD]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
SET QUOTED_IDENTIFIER OFF
DECLARE @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,STKL_VW_ITEM.IT_CODE,OPBAL=QTY,RECEIPT=QTY,ISSUE=QTY,BALANCE=QTY,LOPBAL=U_LQTY,LRECEIPT=U_LQTY,LISSUE=U_LQTY,LBALANCE=U_LQTY,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,LEVELCODE=0,RATEUNIT,shipto_id=AC_ID INTO #LSTEXC FROM  STKL_VW_ITEM INNER JOIN IT_MAST ON(IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) WHERE 1=2

DECLARE @ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@DOC_NO CHAR(5),@AC_ID INT,@IT_CODE NUMERIC(19,0),@QTY DECIMAL(17,5),@U_LQTY DECIMAL(17,5),@ITSERIAL CHAR(5),@PMKEY CHAR(1),@CHAPNO CHAR(10),@ITGRID INT,@TRAN_CD INT,@U_PAGENO CHAR(10)
DECLARE @OPBAL DECIMAL(17,5),@LOPBAL DECIMAL(17,5),@RECEIPT DECIMAL(17,5),@LRECEIPT DECIMAL(17,5),@ISSUE DECIMAL(17,5),@LISSUE DECIMAL(17,5),@BALANCE DECIMAL(17,5),@LBALANCE DECIMAL(17,5),@CURRDT SMALLDATETIME, @V1 NUMERIC(8),@RATEUNIT VARCHAR(10)
DECLARE @MIT_CODE NUMERIC(19,0),@MITGRID INT,@MCHAPNO CHAR(10),@OBACID INT,@TFCOND CHAR(1) ,@TFCOND1 CHAR(1),@MOPBAL DECIMAL(17,5),@MLOPBAL DECIMAL(17,5),@shipto_id INT

SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING STOCK'


SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.CHAPNO,IT_MAST.ITGRID,STKL_VW_ITEM.TRAN_CD,STKL_VW_ITEM.U_PAGENO,IT_MAST.RATEUNIT,s.shipto_id
INTO #LSTEXC1
FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD)
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) 
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_ITEM.AC_ID)
LEFT JOIN shipto s ON (S.shipto_id=STKL_VW_MAIN.SCONS_ID)
WHERE 1=2


DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)
SET @SQLCOMMAND='INSERT INTO #LSTEXC1 SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_MAIN.CONS_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.CHAPNO,IT_MAST.ITGRID,STKL_VW_ITEM.TRAN_CD,STKL_VW_ITEM.U_PAGENO,IT_MAST.RATEUNIT,s.shipto_id '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM STKL_VW_ITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_ITEM.AC_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN shipto s ON (S.shipto_id=STKL_VW_MAIN.SCONS_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @V1=0
SET @OPBAL=0
SET @RECEIPT=0
SET @ISSUE=0
SET @BALANCE=0

SET @LOPBAL=0
SET @LRECEIPT=0
SET @LISSUE=0
SET @LBALANCE=0
SET @CURRDT =@SDATE

--SELECT *  FROM #LSTEXC1 WHERE ((DATE<@SDATE OR @ENTRY_TY='OS') ) 

SELECT @MOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN QTY ELSE -QTY END),@MLOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN U_LQTY ELSE -U_LQTY END)  FROM #LSTEXC1 WHERE ((DATE<@SDATE OR ENTRY_TY='OS') ) 
SET @MOPBAL=CASE WHEN @MOPBAL IS NULL THEN 0 ELSE @MOPBAL END
SET @MLOPBAL=CASE WHEN @MLOPBAL IS NULL THEN 0 ELSE @MLOPBAL END
SET @BALANCE= @MOPBAL 
SET @LBALANCE=@MLOPBAL
SELECT TOP 1 @IT_CODE= IT_CODE FROM #LSTEXC1

IF ABS(@MOPBAL +@MLOPBAL)<>0
BEGIN
	INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,LEVELCODE,RATEUNIT,shipto_id) 
	VALUES 
	('OS',@SDATE,' ',@OBACID,@IT_CODE,@MOPBAL,0,0,@MOPBAL,@MLOPBAL,0,0,@MLOPBAL,' ','+',' ',0,0,' ',0,' ',@OBACID)
END


DECLARE RG23APD_CURSOR CURSOR FOR 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,#LSTEXC1.IT_CODE,QTY,U_LQTY,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,shipto_id
FROM #LSTEXC1  WHERE (ENTRY_TY<>'OS' AND DATE>=@SDATE)
ORDER BY DATE
,(case when isnumeric(u_pageno)=1 then cast(u_pageno as numeric) else 0 end)
,(CASE WHEN ENTRY_TY='OS' THEN 'A' ELSE (CASE WHEN PMKEY='+' THEN 'B' ELSE 'C' END) END)

SET @RATEUNIT=' '
OPEN  RG23APD_CURSOR

FETCH NEXT FROM RG23APD_CURSOR INTO 
@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@QTY,@U_LQTY,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD,@U_PAGENO,@shipto_id
WHILE @@FETCH_STATUS=0
BEGIN
	SET @OPBAL=@BALANCE
	SET @LOPBAL=@LBALANCE

	SET @RECEIPT=0
	SET @ISSUE=0
	
	SET @LRECEIPT=0
	SET @LISSUE=0
	
	IF @PMKEY='+'
	BEGIN
		SET @RECEIPT=@QTY
		SET @LRECEIPT=@U_LQTY
	END
	IF @PMKEY='-'
	BEGIN
		SET @ISSUE=@QTY
		SET @LISSUE=@U_LQTY
	END

	SET @BALANCE=@BALANCE+@RECEIPT-@ISSUE
	SET @LBALANCE=@LBALANCE+@LRECEIPT-@LISSUE
		
	INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,LEVELCODE,RATEUNIT,shipto_id) VALUES (@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL,@LRECEIPT,@LISSUE,@LBALANCE,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD,@U_PAGENO,0,@RATEUNIT,@shipto_id)

	FETCH NEXT FROM RG23APD_CURSOR INTO 
	@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@QTY,@U_LQTY,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD,@U_PAGENO,@shipto_id
END
CLOSE RG23APD_CURSOR
DEALLOCATE RG23APD_CURSOR

SELECT RATEUNIT,
OPBAL= SUM(CASE WHEN (DATE<@SDATE or ENTRY_TY='OS') THEN (CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END) ELSE 0 END),
RECEIPT= SUM(CASE WHEN (DATE>=@SDATE and ENTRY_TY<>'OS') THEN (CASE WHEN PMKEY='+' THEN QTY ELSE 0 END) ELSE 0 END),
ISSUE=SUM(CASE WHEN (DATE>=@SDATE and ENTRY_TY<>'OS') THEN (CASE WHEN PMKEY='-' THEN QTY ELSE 0 END) ELSE 0 END),
BALANCE=SUM(CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END),
LOPBAL= SUM(CASE WHEN (DATE<@SDATE or ENTRY_TY='OS') THEN (CASE WHEN PMKEY='+' THEN U_LQTY ELSE -U_LQTY END) ELSE 0 END),
LRECEIPT= SUM(CASE WHEN (DATE>=@SDATE and ENTRY_TY<>'OS') THEN (CASE WHEN PMKEY='+' THEN U_LQTY ELSE 0 END) ELSE 0 END),
LISSUE=SUM(CASE WHEN (DATE>=@SDATE and ENTRY_TY<>'OS') THEN (CASE WHEN PMKEY='-' THEN U_LQTY ELSE 0 END) ELSE 0 END),
LBALANCE=SUM(CASE WHEN PMKEY='+' THEN U_LQTY ELSE -U_LQTY END)
INTO #LSTEXC2
FROM #LSTEXC1 
GROUP BY RATEUNIT
HAVING (
SUM(CASE WHEN (DATE<@SDATE or ENTRY_TY='OS') THEN (CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END) ELSE 0 END) <>0
OR SUM(CASE WHEN (DATE>=@SDATE and ENTRY_TY<>'OS') THEN (CASE WHEN PMKEY='+' THEN QTY ELSE 0 END) ELSE 0 END) <>0
OR SUM(CASE WHEN (DATE>=@SDATE and ENTRY_TY<>'OS') THEN (CASE WHEN PMKEY='-' THEN QTY ELSE 0 END) ELSE 0 END) <>0
OR SUM(CASE WHEN PMKEY='+' THEN QTY ELSE -QTY END)<>0
OR SUM(CASE WHEN (DATE<@SDATE or ENTRY_TY='OS') THEN (CASE WHEN PMKEY='+' THEN U_LQTY ELSE -U_LQTY END) ELSE 0 END) <>0
OR SUM(CASE WHEN (DATE>=@SDATE and ENTRY_TY<>'OS') THEN (CASE WHEN PMKEY='+' THEN U_LQTY ELSE 0 END) ELSE 0 END) <>0
OR SUM(CASE WHEN (DATE>=@SDATE and ENTRY_TY<>'OS') THEN (CASE WHEN PMKEY='-' THEN U_LQTY ELSE 0 END) ELSE 0 END) <>0
OR SUM(CASE WHEN PMKEY='+' THEN U_LQTY ELSE -U_LQTY END)<>0
)


INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,LEVELCODE,RATEUNIT,shipto_id) 
SELECT ' ',@EDATE,' ',@OBACID,@IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,@LOPBAL,@LRECEIPT,@LISSUE,@LBALANCE,' ','+',' ',0,0,' ',1,RATEUNIT,@OBACID FROM #LSTEXC2 ORDER BY RATEUNIT

--Added by Shrikant S. On 11 Mar, 2010 for TKT-573 ------------Start
select itref.rentry_ty,itref.itref_tran,itref.ritserial,m.u_pinvno,m.u_pinvdt,m.U_INST,m.U_DTUSE
Into #tmpItref from ptitref itref
Left join ptitem it on (itref.entry_ty=it.entry_ty and itref.tran_cd=it.tran_cd and itref.itserial=it.itserial)
Left join ptmain m on (m.entry_ty=it.entry_ty and m.tran_cd=it.tran_cd)
Left join it_mast on (it_mast.it_code=it.it_code)
where itref.rdate between @SDate and @Edate
AND it_mast.it_name between @SIT and @EIT
--Added by Shrikant S. On 11 Mar, 2010 for TKT-573 ------------End

--Bug3236
Alter Table #LSTEXC Add RgNoPlace Int,NewPageNo VarChar(50)
Update #LSTEXC Set RgNoPlace = PatIndex('%[^0-9]%',U_PAGENO)
Update #LSTEXC Set NewPageNo = Case When RgNoPlace > 0 Then Left(U_PAGENO,RgNoPlace-1) Else U_PAGENO End
Update #LSTEXC Set NewPageNo = Replicate('0',50-Len(ltrim(rtrim(NewPageNo))))+ltrim(rtrim(NewPageNo))
--Bug3236


SELECT A.IT_CODE,C.IT_NAME,A.OPBAL, A.RECEIPT,A.ISSUE,A.BALANCE,A.LRECEIPT,A.LISSUE,A.LOPBAL,A.LBALANCE,A.ENTRY_TY,A.DATE,A.DOC_NO,A.TRAN_CD
,PARTY_NM=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.ac_name else s.location_id end)
,A.U_PAGENO,A.LEVELCODE
,B.INV_SR,B.INV_NO
--,B.U_PINVNO,B.U_PINVDT, --Commented by Shrikant S. On 11 Mar, 2010 for TKT-573 
,U_PINVNO=CASE WHEN ISNULL(T.U_PINVNO,'')<>'' THEN T.U_PINVNO ELSE B.U_PINVNO END --Changed by Shrikant S. on 11 Mar, 2010 for TKT-573 
,U_PINVDT= CASE WHEN ISNULL(T.U_PINVDT,0)<>0 THEN T.U_PINVDT ELSE B.U_PINVDT END, --Changed by Shrikant S. on 11 Mar, 2010 for TKT-573 
C.TYPE,C.[GROUP],C.CHAPNO,RATEUNIT=(CASE WHEN A.LEVELCODE =0 THEN C.RATEUNIT ELSE A.RATEUNIT END),ADD1=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.add1 else s.add1 end)
,ADD2=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.add2 else s.add2 end)
,ADD3=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.add3 else s.add3 end)
,CITY=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.city else s.city end)
,[RANGE]=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.[range] else s.[range] end)
,DIVISION=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.DIVISION else s.DIVISION end)
,COLL=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.COLL else s.COLL end)
,E.U_ASSEAMT,E.EXAMT,E.NARR,E.U_BASDUTY,E.U_CESSPER,E.U_CESSAMT,U_EXAMT=0,E.GRO_AMT
,U_CAMT=0,U_LEXAMT=0,U_CLRATE=0,U_CRATE=0,U_MCOSTAMT=0,U_MCOSTRT=0
--,F.U_INST,F.U_DTUSE --Commented by Shrikant S. On 11 Mar, 2010 for TKT-573 
,U_INST=CASE WHEN ISNULL(T.U_INST,0)<>0 THEN T.U_INST ELSE f.U_INST END --Added by Shrikant S. on 11 Mar, 2010 for TKT-573 
,U_DTUSE=CASE WHEN ISNULL(T.U_DTUSE,0)<>0 THEN T.U_DTUSE ELSE f.U_DTUSE END --Added by Shrikant S. on 11 Mar, 2010 for TKT-573 
FROM #LSTEXC A
LEFT JOIN STITEM E ON (A.TRAN_CD=E.TRAN_CD  AND A.ITSERIAL=E.ITSERIAL AND A.ENTRY_TY=E.ENTRY_TY)
LEFT JOIN STKL_VW_MAIN B ON (A.TRAN_CD=B.TRAN_CD AND A.ENTRY_TY=B.ENTRY_TY)
LEFT JOIN PTMAIN F ON (A.TRAN_CD=F.TRAN_CD AND A.ENTRY_TY=F.ENTRY_TY)
LEFT JOIN IT_MAST C ON (A.IT_CODE=C.IT_CODE)
LEFT JOIN AC_MAST D ON (A.AC_ID=D.AC_ID)
LEFT JOIN shipto s ON (S.shipto_id=A.shipto_id)
LEFT Join #tmpItref T on (A.ENTRY_TY=T.RENTRY_TY AND A.TRAN_CD=T.ITREF_TRAN AND A.ITSERIAL=T.RITSERIAL )  ----Added by Shrikant S. On 11 Mar, 2010 for TKT-573 
ORDER BY A.LEVELCODE,A.DATE,A.NewPageNo,A.U_PAGENO,(CASE WHEN A.ENTRY_TY='A ' THEN 'A' ELSE (CASE WHEN A.ENTRY_TY='OS' THEN 'B' ELSE CASE WHEN (A.ENTRY_TY IN ('PT','AR','OP','RL','LR','SR')) THEN 'C' ELSE 'D ' END END) END),A.DOC_NO --Changed by Shrikant S. On 11 Mar, 2010 for TKT-573	--Bug3236
--ORDER BY A.LEVELCODE,A.DATE,A.U_PAGENO,(CASE WHEN A.ENTRY_TY='A ' THEN 'A' ELSE (CASE WHEN A.ENTRY_TY='OS' THEN 'B' ELSE CASE WHEN (A.ENTRY_TY IN ('PT','AR','OP','RL','LR','SR')) THEN 'C' ELSE 'D ' END END) END),A.DOC_NO --Changed by Shrikant S. On 11 Mar, 2010 for TKT-573	--Bug3236
--ORDER BY A.LEVELCODE,A.DATE,A.U_PAGENO,(CASE WHEN A.ENTRY_TY='A ' THEN 'A' ELSE (CASE WHEN A.ENTRY_TY='OS' THEN 'B' ELSE CASE WHEN (A.ENTRY_TY IN ('PT','OP','RL','LR','SR')) THEN 'C' ELSE 'D ' END END) END),A.DOC_NO --Commented by Shrikant S. On 11 Mar, 2010 for TKT-573 

DROP TABLE #LSTEXC1
DROP TABLE #LSTEXC2
DROP TABLE #LSTEXC
SET QUOTED_IDENTIFIER ON
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

