DROP PROCEDURE [USP_REP_LCS_G1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Excise Duty Paid to Central Excise Report.
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================


CREATE     PROCEDURE [USP_REP_LCS_G1] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS



DECLARE @FDATE CHAR(10),@OBACID INT
SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT
SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING BALANCES '

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VMAINFILE=Null,@VITFILE=NULL,@VACFILE='EX_VW_ACDET '
,@VDTFLD =@FDATE
,@VLYN =NULL
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

IF  CHARINDEX('STKL_VW_MAIN.U_CLDT', @FCON)<>0
BEGIN
	SET @FCON=REPLACE(@FCON, 'STKL_VW_MAIN.U_CLDT','EX_VW_ACDET.U_CLDT')
END

DECLARE @SQLCOMMAND NVARCHAR(4000)

SET @SQLCOMMAND= 'SELECT AC_MAST.AC_NAME,EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.DATE,EX_VW_ACDET.U_RG23NO,EX_VW_ACDET.U_RG23CNO,EX_VW_ACDET.U_PLASR, AMOUNT, EX.SHORTNM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' FROM EX_VW_ACDET'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' INNER JOIN AC_MAST ON (AC_MAST.AC_ID=EX_VW_ACDET.AC_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  INNER JOIN  ER_EXCISE EX ON (EX.AC_NAME=AC_MAST.AC_NAME)   '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  AND EX_VW_ACDET.AMT_TY='+CHAR(39)+'CR'+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  ORDER BY EX_VW_ACDET.TRAN_CD ' 
PRINT @SQLCOMMAND
EXEC SP_EXECUTESQL  @SQLCOMMAND


  


  
/****** Object:  StoredProcedure [dbo].[USP_REP_LCS_GA]    Script Date: 06/13/2007 15:49:37 ******/
GO
