If Exists(Select [Name] From SysObjects Where xtype='P' and [Name]='USP_APPROVAL_BELONGS')
Begin
	Drop Procedure USP_APPROVAL_BELONGS
End
Go
Create Procedure [dbo].[USP_APPROVAL_BELONGS]
@userrole varchar(50),@userid varchar(50),@EntryCode varchar(2),@EntryId Numeric(10,0)
AS

DECLARE @bypasslevel bit,@SqlQuery nvarchar(max),@masttype varchar(5)

set @masttype=case when @EntryCode in ('AM','IM') then @EntryCode else '' end
set @bypasslevel=0			
Declare @TBLNM as VARCHAR(50),@TBLNAME1 as VARCHAR(50),@TBLNAME2 as VARCHAR(50)
Set @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
				+ (DATEPART(ss, GETDATE()) * 1000 )
				+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
Set @TBLNAME1 = '##TMP1'+@TBLNM
Set @TBLNAME2 = '##TMP2'+@TBLNM

IF @masttype = 'AM'
BEGIN

	set @SqlQuery ='select bypasslevel Into ##TmpTblBypasslevel from applevel_dtl a 
					inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel
					inner join ac_mast c on a.tran_cd = c.ac_id 
					where 
					--a.prelevelstatus = ''Approved'' and		--Commented by Shrikant S. on 28/03/2019 for Bug-32295
					b.active = 1 and b.entry_ty = ''AM'' 
					and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole +char(39)+ ' else ' +char(39)+@userid+char(39)+ ' end)
					and c.[group] in (''Sundry Creditors'',''Sundry Debtors'')
					and a.Entry_ty='''+@masttype+''' and a.Tran_cd='+CONVERT(varchar(10),@EntryId)
					--and a.initiator_id = (case when a.initiator_id = ''None'' then ''None'' else C.user_name end)
	--print @SqlQuery
	EXEC SP_EXECUTESQL  @SqlQuery	  
	
	--select * from ##TmpTblBypasslevel
	
	select Top 1  @bypasslevel=bypasslevel  from ##TmpTblBypasslevel		

	IF @bypasslevel=1
		BEGIN
			set @SqlQuery ='select a.Entry_ty,a.Tran_cd from applevel_dtl a
                           inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel
                           inner join ac_mast c on a.tran_cd = c.ac_id 
                           where a.prelevelstatus IN (''Approved'','''')  AND b.bypasslevel=1 and b.active = 1 and b.entry_ty = ''AM''
                           and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole +char(39)+ ' else ' +char(39)+@userid+char(39)+ ' end)
                           and c.[group] in (''Sundry Creditors'',''Sundry Debtors'')
                           and 1=(case when  b.bypasslevel = 1 and Not Exists(select levelstatus From applevel_dtl where tran_cd=a.Tran_cd and entry_ty=a.Entry_ty and applevel>a.applevel and levelstatus=''Approved'') then 2 else 1 end)		
                           And a.Entry_ty='''+@masttype+''' and a.Tran_cd='+CONVERT(varchar(10),@EntryId)
                           --and a.initiator_id = (case when a.initiator_id = ''None'' then ''None'' else c.user_name end)
                           
			print @SqlQuery
			EXEC SP_EXECUTESQL  @SqlQuery
		END	   	   
		ELSE
		BEGIN
			set @SqlQuery ='select a.Entry_ty,a.Tran_cd
                           from applevel_dtl a
                           inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel
                           inner join ac_mast c on a.tran_cd = c.ac_id 
                           where 
                           --a.prelevelstatus = (case when b.bypasslevel = 0 then ''Approved'' else '''' end)	and			--Commented by Shrikant S. on 28/03/2019 for Bug-32295
                           b.active = 1 and b.entry_ty = ''AM''
                           and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole +char(39)+ ' else ' +char(39)+@userid+char(39)+ ' end)
                           and c.[group] in (''Sundry Creditors'',''Sundry Debtors'')
                           and 1=(case when  b.bypasslevel = 1 and Not Exists(select levelstatus From applevel_dtl where tran_cd=a.Tran_cd and entry_ty=a.Entry_ty and applevel>a.applevel and levelstatus=''Approved'') then 2 else 1 end)		
                           and a.Entry_ty='''+@masttype+''' and a.Tran_cd='+CONVERT(varchar(10),@EntryId)
                           --and a.initiator_id = (case when a.initiator_id = ''None'' then ''None'' else c.user_name end)
                         --
            print @SqlQuery
			EXEC SP_EXECUTESQL  @SqlQuery
		END
		drop table ##TmpTblBypasslevel
END

IF @masttype = 'IM'
BEGIN
	set @SqlQuery ='select bypasslevel Into ##TmpTblBypasslevel from applevel_dtl a inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel 
	inner join it_mast c on a.tran_cd = c.it_code and a.initiator_id = (case when a.initiator_id = ''None'' then ''None'' else c.user_name end) 
	where			
	--a.prelevelstatus = ''Approved'' and 
	b.active = 1 and b.entry_ty = ''IM'' and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole +char(39)+ ' else ' +char(39)+@userid+char(39)+ ' end)'

	print @SqlQuery
	EXEC SP_EXECUTESQL  @SqlQuery	  
	
	
	select * from ##TmpTblBypasslevel
	
	select @bypasslevel=bypasslevel from ##TmpTblBypasslevel
	
	IF @bypasslevel=1
		BEGIN
			set @SqlQuery ='select a.Entry_ty,a.Tran_cd from applevel_dtl a
									  inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel
									  inner join it_mast c on a.tran_cd = c.it_code and a.initiator_id = (case when a.initiator_id = ''None'' then ''None'' else c.user_name end)
									  where a.prelevelstatus IN (''Approved'','''')  AND b.bypasslevel=1 and b.active = 1 and b.entry_ty = ''IM''
									  and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole +char(39)+ ' else ' +char(39)+@userid+char(39)+ ' end)
									  and 1=(case when  b.bypasslevel = 1 and Not Exists(select levelstatus From applevel_dtl where tran_cd=a.Tran_cd and entry_ty=a.Entry_ty and applevel>a.applevel and levelstatus=''Approved'') then 2 else 1 end)		--Added by Shrikant S. on 27/06/2018 for Bug-30904
									  and a.Entry_ty='''+@masttype+''' and a.Tran_cd='+CONVERT(varchar(10),@EntryId)
			
			   print @SqlQuery
			   EXEC SP_EXECUTESQL  @SqlQuery
		END
		ELSE
		BEGIN
		set @SqlQuery ='select a.Entry_ty,a.Tran_cd  from applevel_dtl a
									  inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel
									  inner join it_mast c on a.tran_cd = c.it_code and a.initiator_id = (case when a.initiator_id = ''None'' then ''None'' else c.user_name end)
									  where 
									  --a.prelevelstatus = (case when b.bypasslevel = 0 then ''Approved'' else '''' end)	and 
									  b.active = 1 and b.entry_ty = ''IM''
									  and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole +char(39)+ ' else ' +char(39)+@userid+char(39)+ ' end)
									  and 1=(case when  b.bypasslevel = 1 and Not Exists(select levelstatus From applevel_dtl where tran_cd=a.Tran_cd and entry_ty=a.Entry_ty and applevel>a.applevel and levelstatus=''Approved'') then 2 else 1 end)		--Added by Shrikant S. on 27/06/2018 for Bug-30904
									  and a.Entry_ty='''+@masttype+''' and a.Tran_cd='+CONVERT(varchar(10),@EntryId)
									  
										
			   print @SqlQuery
			   EXEC SP_EXECUTESQL  @SqlQuery
		END
		drop table ##TmpTblBypasslevel
END

IF @masttype = ''
BEGIN
	Declare @Tblname Varchar(25)
	select @Tblname =Case when bcode_nm<>'' then bcode_nm else (Case when ext_vou=1 then '' else Entry_ty end )+'Main' end From Lcode where Entry_ty=@Entrycode
	
	set @SqlQuery ='select bypasslevel Into ##TmpTblBypasslevel from applevel_dtl a 
	inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel 
	where a.prelevelstatus = ''Approved'' and b.active = 1 and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole+char(39)+'else' +char(39)+@userid+char(39)+' end)  AND bypasslevel<>0 AND a.Entry_ty='''+@Entrycode+''' and a.Tran_cd='+CONVERT(varchar(10),@EntryId)

	print @SqlQuery
	EXEC SP_EXECUTESQL  @SqlQuery	  

	---SELECT * FROM ##TmpTblBypasslevel

	select @bypasslevel=bypasslevel from ##TmpTblBypasslevel

	print @bypasslevel
	IF @bypasslevel = 1
		BEGIN
			set @SqlQuery ='select a.Entry_ty,a.Tran_cd from applevel_dtl a inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel
		   inner join '+ @Tblname+ ' c on a.entry_ty = c.entry_ty and a.tran_cd = c.tran_cd 
		   inner join ac_mast d on c.ac_id = d.ac_id
		   where a.prelevelstatus IN (''Approved'','''')  AND b.bypasslevel=1  and b.active = 1 
		   and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole+char(39)+'else' +char(39)+@userid+char(39)+'
		   end) 
		   and 1=(case when  b.bypasslevel = 1 and Not Exists(select levelstatus From applevel_dtl where tran_cd=a.Tran_cd and entry_ty=a.Entry_ty and applevel>a.applevel and levelstatus=''Approved'') then 2 else 1 end)		
		   and a.Entry_ty='''+@Entrycode+''' and a.Tran_cd='+CONVERT(varchar(10),@EntryId)
		   print @SqlQuery
		   EXEC SP_EXECUTESQL  @SqlQuery	   	   
		END
	ELSE
		BEGIN
			set @SqlQuery ='select a.Entry_ty,a.Tran_cd from applevel_dtl a inner join applevel_mstr b on a.entry_ty = b.entry_ty and a.initiator_id = b.initiator_id and a.applevel = b.applevel
		   inner join '+ @Tblname+ ' c on a.entry_ty = c.entry_ty and a.tran_cd = c.tran_cd 
		   inner join ac_mast d on c.ac_id = d.ac_id
		   where 
		   --a.prelevelstatus = (case when b.bypasslevel = 0 then ''Approved'' else '''' end)	and				--Commented by Shrikant S. on 28/03/2019 for Bug-32295
		   b.active = 1 and b.user_role = (case when b.type = ''Role'' then '+char(39)+@userrole +char(39)+ ' else ' +char(39)+@userid+char(39)+'
			end) 
			and 1=(case when  b.bypasslevel = 1 and Not Exists(select levelstatus From applevel_dtl where tran_cd=a.Tran_cd and entry_ty=a.Entry_ty and applevel>a.applevel and levelstatus=''Approved'') then 2 else 1 end)	
			and a.Entry_ty='''+@Entrycode+''' and a.Tran_cd='+CONVERT(varchar(10),@EntryId)
		   print @SqlQuery
		   EXEC SP_EXECUTESQL  @SqlQuery
		END
	drop table ##TmpTblBypasslevel
END






