DROP PROCEDURE [USP_REP_1_DNREG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [USP_REP_1_DNREG]  
@SDATE AS SMALLDATETIME,@EDATE AS SMALLDATETIME,@SAC AS VARCHAR(100),@EAC AS VARCHAR(100)
AS
DECLARE @AC_ID NUMERIC(9),@AC_GROUP_ID1 NUMERIC(9),@GNAME1 VARCHAR(60),@AC_GROUP_ID2 NUMERIC(9),@GNAME2 VARCHAR(60),@AC_GROUP_ID3 NUMERIC(9),@GNAME3 VARCHAR(60)
SELECT DISTINCT AC_ID=AC_GROUP_ID,AC_GROUP_ID1=AC_GROUP_ID,AC_GROUP_ID2=AC_GROUP_ID,AC_GROUP_ID3=AC_GROUP_ID,GNAME1=[GROUP],GNAME2=[GROUP],GNAME3=[GROUP] INTO #1JRTMP FROM AC_MAST WHERE 1=2


DECLARE  C1JRTMP CURSOR FOR 
SELECT  DISTINCT AC_ID FROM DNACDET
ORDER BY AC_ID
OPEN C1JRTMP
FETCH NEXT FROM C1JRTMP INTO @AC_ID
WHILE @@FETCH_STATUS=0
BEGIN
	SELECT @AC_GROUP_ID1=AC_GROUP_ID,@GNAME1=[GROUP] FROM AC_MAST WHERE AC_ID=@AC_ID
	SELECT @AC_GROUP_ID2=GAC_ID,@GNAME2=[GROUP] FROM AC_GROUP_MAST WHERE AC_GROUP_ID=@AC_GROUP_ID1
	SELECT @AC_GROUP_ID3=GAC_ID,@GNAME3=[GROUP] FROM AC_GROUP_MAST WHERE AC_GROUP_ID=@AC_GROUP_ID2
	INSERT INTO #1JRTMP ( AC_ID,AC_GROUP_ID1,AC_GROUP_ID2,AC_GROUP_ID3,GNAME1,GNAME2,GNAME3) VALUES (@AC_ID,@AC_GROUP_ID1,@AC_GROUP_ID2,@AC_GROUP_ID3,@GNAME1,@GNAME2,@GNAME3)
	FETCH NEXT FROM C1JRTMP INTO @AC_ID
END
CLOSE C1JRTMP
DEALLOCATE C1JRTMP

SELECT Month=datename(mm,M.date),Year=year(M.date), A.AC_NAME as [Account Name],M.Date,m.Inv_no as [Ref.No.],m.AGAINSTGS as [Against Transaction],T.gname1 as [Group Level1],T.gname2 as [Group Level2],T.gname3 as [Group Level3]
,M.net_amt as [Amount]
,M.Narr as [Narration] ,m.dept as [Department],m.cate as [Cate  ry],m.inv_sr as [Invoice Series],M.entry_ty as [Transaction Type],M.TRAN_cd,a.mailname,a.State,m.ac_id
FROM DNMAIN M 
INNER JOIN AC_MAST A ON (M.AC_ID=A.AC_ID) 
INNER JOIN #1JRTMP T ON (M.AC_ID=T.AC_ID)
WHERE (M.DATE BETWEEN @SDATE AND @EDATE) AND (A.AC_NAME BETWEEN @SAC AND @EAC)
ORDER BY M.DATE,M.TRAN_CD
GO
