DROP PROCEDURE [USP_REP_INSURANCE_PRE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Priyanka Himane
-- Create date: 17/11/2011
-- Description:	This Stored procedure is useful to Generate data for Pre-Shipment Insurance Declaration.
-- =============================================

CREATE PROCEDURE  [USP_REP_INSURANCE_PRE]
@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)

	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		SET @TBLCON=RTRIM(@ENTRYCOND)
	

		
		SELECT SOMAIN.ENTRY_TY,SOMAIN.TRAN_CD,SOMAIN.INV_SR,SOMAIN.INV_NO,SOMAIN.DATE
		,CONVERT(VARCHAR(2000),SOMAIN.NARR) AS NARR,SOMAIN.DUE_DT,SOMAIN.U_DELI,SOMAIN.GRO_AMT,
		CONVERT(VARCHAR(2000),SOMAIN.U_CONTNO) AS CONTNO,SOMAIN.U_RECEIPT,SOMAIN.U_VESSELNO,SOMAIN.U_LOADING,SOMAIN.U_PORT,SOMAIN.U_EMTVAL,
		SOMAIN.TAX_NAME,SOMAIN.TAXAMT,SOMAIN.NET_AMT,CONVERT(VARCHAR(2000),SOMAIN.U_PKGNO) AS NOPKG
,AC_MAST.COUNTRY,S_TAX='',AC_MAST.I_TAX,ECCNO='',AC_MAST.MAILNAME AS PARTY_NM 
		,AC_MAST1.ADD1 ADD11,AC_MAST1.ADD2 ADD22,AC_MAST1.ADD3 ADD33,AC_MAST1.CITY CITY1,AC_MAST1.ZIP ZIP1
		,AC_MAST1.COUNTRY COUNTRY1,AC_MAST1.CONTACT contact1,AC_MAST1.PHONE PHONE1,S_TAX1='',AC_MAST1.I_TAX I_TAX1,ECCNO1=''
		,AC_MAST1.MAILNAME AS CONSIGNEE,somain.u_gwt
INTO #TBL1
		FROM SOMAIN
		LEFT JOIN AC_MAST ON (AC_MAST.AC_ID=SOMAIN.AC_ID)
		LEFT JOIN AC_MAST AC_MAST1 ON (AC_MAST1.AC_ID=SOMAIN.CONS_ID)
		JOIN CURR_MAST ON (SOMAIN.FCID=CURR_MAST.CURRENCYID)
		--join country on SOMAIN.U_FDESTI=COUNTRY.CODE
--		LEFT JOIN AC_MAST AC_MAST2 ON RTRIM(LTRIM(AC_MAST2.AC_NAME))=RTRIM(LTRIM(SOMAIN.U_SREP))
--		LEFT JOIN AC_MAST AC_MAST3 ON RTRIM(LTRIM(AC_MAST3.AC_NAME))=RTRIM(LTRIM(SOMAIN.U_fisrep)) 
		WHERE  SOMAIN.ENTRY_TY=@ENT  AND SOMAIN.TRAN_CD=@TRN


Select so.entry_ty,so.tran_cd,so.item,SO.FCRATE,it.u_cname,it.it_alias,it.it_name,so.qty
INTO #TBL2 from soitem so inner join it_mast it on (so.item=it.it_name)
WHERE  SO.ENTRY_TY=@ENT  AND SO.TRAN_CD=@TRN
group by so.entry_ty,so.tran_cd,so.item,SO.FCRATE,it.u_CNAME,it.it_alias,it.it_name,so.qty
order by so.entry_ty,so.tran_cd,so.item,SO.FCRATE

SELECT A.*,B.*
FROM #TBL1 A INNER JOIN #TBL2 B ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)



--Execute USP_REP_INSURANCE_PRE 'somain.entry_ty =''S2'' and somain.tran_cd=42'
GO
