DROP PROCEDURE [USP_REP_LC_VOU_IRD]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: 
-- Create date: 29/11/2011
-- Description:	This Stored procedure is useful to Generate data for Reports in LC transactions.
-- =============================================

CREATE PROCEDURE     [USP_REP_LC_VOU_IRD]
@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)

	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		SET @TBLCON=RTRIM(@ENTRYCOND)
PRINT @ENT
PRINT @TRN

SELECT 
AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.PHONE,AC_MAST.FAX,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,
AC_MAST.COUNTRY,AC_MAST.ZIP,POMAIN.INV_NO,POMAIN.PINVNO,POMAIN.DATE,CONVERT(VARCHAR(254)  ,POMAIN.NARR) AS NARR,
'' AS U_BROKER,POMAIN.GRO_AMT AS V_GRO_AMT,EXAMT=0,U_CESSAMT=0,U_HCESAMT=0,POMAIN.TAX_NAME,
'' AS U_OCT,POMAIN.TAXAMT,POMAIN.TOT_DEDUC,POMAIN.TOT_ADD,POMAIN.TOT_TAX,POMAIN.TOT_NONTAX,POMAIN.NET_AMT,POMAIN.U_LCEXPIRY,
POMAIN.U_LCINVAMT,POMAIN.U_LCINV,POMAIN.U_LOGIS,   POMAIN.U_BLNO,    POMAIN.U_DUEON   ,POMAIN.U_LCPREDAY,
POMAIN.U_LCDRAFT,POMAIN.U_LCCREDIT,POMAIN.U_PSHIP, POMAIN.U_LSHIPDT, POMAIN.U_TRANSHIP,POMAIN.FCNET_AMT,POMAIN.U_SFROM,POMAIN.U_SHIPTO,
'' AS U_OTHTRM,'' AS U_PAYTERMS,'' AS U_FREINTC,POITEM.ITEM_NO,POITEM.FCRATE,CURR_MAST.CURRENCYCD,POMAIN.U_PRICETY,POMAIN.U_BBANK,POMAIN.U_NBANK,
POMAIN.U_PTERMS,POMAIN.U_LSTNDT,POMAIN.U_CORIGIN,CONVERT(VARCHAR(4000),
POMAIN.U_SPLINS) AS SPLINST,
POMAIN1.DATE AS PODT,POMAIN1.INV_NO AS U_INVNO,
POITEM.ITEM,CONVERT(VARCHAR(254),
POITEM.NARR) AS IT_NARR,POITEM.QTY,POITEM.RATE,POITEM.GRO_AMT,IT_MAST.RATEUNIT,
IT_DESC=(CASE WHEN ISNULL(IT_MAST.IT_ALIAS,'')='' THEN IT_MAST.IT_NAME ELSE IT_MAST.IT_ALIAS END),
MAILNAME=(CASE WHEN ISNULL(AC_MAST.MAILNAME,'')='' THEN AC_MAST.AC_NAME ELSE AC_MAST.MAILNAME END),POMAIN.U_BANK,
AC_MAST1.ADD1 AS ADD11 ,AC_MAST1.ADD2 AS ADD12 ,AC_MAST1.CITY AS CITY1 ,AC_MAST1.ZIP AS ZIP1 ,AC_MAST1.COUNTRY AS BCOUNTRY,
AC_MAST1.ADD3 AS ADD13 --ADDED BY PRIYANKA ON 15/12/2011
FROM POMAIN 
INNER JOIN OTHITREF ON POMAIN.TRAN_CD=OTHITREF.TRAN_CD AND POMAIN.ENTRY_TY = OTHITREF.ENTRY_TY 
INNER JOIN POMAIN POMAIN1 ON POMAIN1.TRAN_CD=OTHITREF.ITREF_TRAN
INNER JOIN POITEM ON POITEM.TRAN_CD=OTHITREF.TRAN_CD AND POITEM.ITSERIAL = OTHITREF.ITSERIAL
INNER JOIN IT_MAST ON IT_MAST.IT_CODE=POITEM.IT_CODE 
INNER JOIN AC_MAST ON POMAIN.AC_ID=AC_MAST.AC_ID 
INNER JOIN AC_MAST AC_MAST1 ON POMAIN.U_BANK=AC_MAST1.AC_NAME 
LEFT JOIN CURR_MAST ON (POMAIN.FCID=CURR_MAST.CURRENCYID)
WHERE POMAIN.ENTRY_TY='LC' AND POMAIN.TRAN_CD=@TRN
GO
