If Exists(Select [Name] from Sysobjects where xType='P' and Id=Object_Id(N'USP_REP_HR_FORMVATR02'))
Begin
	Drop Procedure USP_REP_HR_FORMVATR02
End
Go
set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GAURAV R. TANNA - For the Bug 26296
-- Create date: 28/05/2015
-- Description:	This Stored procedure is useful to generate HR VAT FORM R 02
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================
Create PROCEDURE [dbo].[USP_REP_HR_FORMVATR02]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

---Temporary Cursor
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=NET_AMT,AMT3=M.TAXAMT,AMT4=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
INTO #FormR02
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)

Begin ------Fetch Single Co. Data
	 Set @MultiCo = 'NO'
	 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
	  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
	 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
	 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
	 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
	 ,@MFCON = @MCON OUTPUT

	--SET @SQLCOMMAND='Select * from '+@MCON
	---EXECUTE SP_EXECUTESQL @SQLCOMMAND
	--SET @SQLCOMMAND='Insert InTo #Form_R02 Select * from '+@MCON
	--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	-----Drop Temp Table 
	--SET @SQLCOMMAND='Drop Table '+@MCON
	--EXECUTE SP_EXECUTESQL @SQLCOMMAND
End
-----


SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

--Part 2a b&c
SET @AMTA1=0
SELECT @AMTA1=SUM(VATONAMT) FROM vattbl WHERE BHENT in('ST') AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','A',0,@AmtA1,0,0,'')

--Part 2B Deductions
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','B',0,0,0,0,'')

--Part 2B (1)
SET @AMTA1=0
SELECT @AMTA1=SUM(VATONAMT) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) 
and St_type = 'Out of State' AND RFORM_NM NOT IN ('FORM C','C FORM','C','FORM-C','C-FORM','FORM - C','C - FORM','FORM F', 'F', 'F FORM', 'FORM-F', 'FORM - F')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BA',0,@AmtA1,0,0,'')

--Part 2B (2)
SET @AMTA1=0
SELECT @AMTA1=SUM(VATONAMT) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) 
and St_type = 'Out of State' AND RFORM_NM IN ('FORM C','C FORM','C','FORM-C','C-FORM','FORM - C','C - FORM')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BB',0,@AMTA1,0,0,'')

--Part 2B (3)
SET @AMTA1=0
SELECT @AMTA1=SUM(a.VATONAMT) FROM VATTBL a
Inner join stmain d on (a.bhent=d.entry_ty and a.tran_cd=d.tran_cd)
WHERE a.BHENT='ST' AND (a.DATE BETWEEN @SDATE AND @EDATE) 
and a.St_type = 'OUT OF COUNTRY' AND a.U_IMPORM='High Sea Sales' AND d.u_nt not in ('UNICEF','UNTAB','WHO','UN') 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BC',0,@AMTA1,0,0,'')

--Part 2B (4)
SET @AMTA1=0
SELECT @AMTA1=SUM(a.VATONAMT) FROM VATTBL a 
Inner join stmain d on (a.bhent=d.entry_ty and a.tran_cd=d.tran_cd)
WHERE a.BHENT='ST' AND (a.DATE BETWEEN @SDATE AND @EDATE) 
and a.St_type = 'OUT OF COUNTRY' AND a.U_IMPORM NOT IN ('High Sea Sales') AND d.u_nt not in ('UNICEF','UNTAB','WHO','UN') 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BD',0,@AMTA1,0,0,'')

--Part 2B (5)
SET @AMTA1=0
SELECT @AMTA1=SUM(a.VATONAMT) FROM VATTBL a
inner join IT_MAST it on (it.it_code = a.it_code)
WHERE a.BHENT='ST' AND (a.DATE BETWEEN @SDATE AND @EDATE) 
and (a.St_type IN ('LOCAL','') AND a.TAX_NAME='EXEMPTED')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BE',0,@AMTA1,0,0,'')

--Part 2B (6)
SELECT @AMTA1=SUM(A.VATONAMT) FROM VATTBL A 
Inner join stmain d on (a.bhent=d.entry_ty and a.tran_cd=d.tran_cd)
WHERE A.ST_TYPE='OUT OF COUNTRY' AND A.BHENT IN ('ST') AND d.u_nt in ('UNICEF','UNTAB','WHO','UN') 
AND (A.DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BF',0,@AMTA1,0,0,'')

--Part 2B (7) AGENTS - NO PROVISION
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BG',0,0,0,0,'')

--Part 2B (8)
SET @AMTA1=0
SELECT @AMTA1=SUM(VATONAMT) FROM VATTBL WHERE BHENT IN ('ST') AND (DATE BETWEEN @SDATE AND @EDATE) 
and St_type = 'Out of State' AND RFORM_NM IN ('F','FORM F', 'F FORM', 'FORM-F', 'FORM - F')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BH',0,@AMTA1,0,0,'')

--Part 2B (9) -- ONLY FOR TRADING (LS8)
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','BI',0,0,0,0,'')

--Part 2d
---Taxable at % xyz on Amt abc Tax Amt pqr
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTA2=0,@AMTB2=0,@AMTC2=0,@AMTD2=0,@AMTE2=0,@AMTF2=0,@AMTG2=0,@AMTH2=0,@AMTI2=0,@AMTJ2=0,@AMTK2=0,@AMTL2=0,@AMTM2=0,@AMTN2=0,@AMTO2=0 
SET @AMTA1 =0
SET @AMTB1 =0
SET @AMTC1 =0
SET @CHAR=65
DECLARE  CUR_FORMR02 CURSOR FOR 
select distinct level1 from stax_mas where ST_TYPE='LOCAL'--CHARINDEX('VAT',TAX_NAME)>0
OPEN CUR_FORMR02
FETCH NEXT FROM CUR_FORMR02 INTO @PER
WHILE (@@FETCH_STATUS=0)
BEGIN


	SELECT @AMTA1=SUM(a.VATONAMT),@AMTA2=SUM(a.TAXAMT)  from vattbl a
	where a.bhent in ('ST') AND a.st_type in ('LOCAL','') AND a.PER=@PER 
	And (a.Tax_Name <> 'Exempted') AND (A.DATE BETWEEN @SDATE AND @EDATE)
	
	SELECT @AMTB1=SUM(a.VATONAMT),@AMTB2=SUM(a.TAXAMT) from vattbl a
	where a.bhent in ('SR') AND a.PER=@PER
	And (A.DATE BETWEEN @SDATE AND @EDATE)
	
	SELECT @AMTC1=SUM(a.VATONAMT),@AMTC2=SUM(a.TAXAMT) from vattbl a
	inner join CNMAIN cn ON (cn.entry_ty = a.BHENT And cn.tran_cd = a.tran_cd)
	where a.bhent in ('CN') AND a.PER=@PER AND cn.U_GPRICE = 'Escalation'
	And (A.DATE BETWEEN @SDATE AND @EDATE)
	
	SELECT @AMTD1=SUM(a.VATONAMT),@AMTD2=SUM(a.TAXAMT) from vattbl a
	inner join DNMAIN dn ON (dn.entry_ty = a.BHENT And dn.tran_cd = a.tran_cd)
	where a.bhent in ('DN') AND a.PER=@PER AND dn.U_GPRICE = 'De Escalation'
	And (A.DATE BETWEEN @SDATE AND @EDATE)
	
	SET @AMTA1=ISNULL(@AMTA1,0)
	SET @AMTB1=ISNULL(@AMTB1,0)
	SET @AMTC1=ISNULL(@AMTC1,0)
	SET @AMTD1=ISNULL(@AMTD1,0)
	SET @AMTA2=ISNULL(@AMTA2,0)
	SET @AMTB2=ISNULL(@AMTB2,0)
	SET @AMTC2=ISNULL(@AMTC2,0)
	SET @AMTD2=ISNULL(@AMTD2,0)
	
	SET @AMTE1= (@AMTC1 - @AMTB1 - @AMTD1)
	
	SET @AMTE2= (@AMTC2 - @AMTB2 - @AMTD2)
	
	SET @AMTE1=ISNULL(@AMTE1,0)
	SET @AMTE2=ISNULL(@AMTE2,0)

	INSERT INTO #FORMR02
	(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,PARTY_NM) VALUES
    (1,'2D',CHAR(@CHAR),@PER,@AMTA1,@AMTE1,(@AMTA1-@AMTE1),	 (@AMTA2 - @AMTE2),'')

	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMR02 INTO @PER
END
CLOSE CUR_FORMR02
DEALLOCATE CUR_FORMR02

--INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2D','F',0,0,0,0)

/*
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2D','A',0,0,0,0)
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2D','B',0,0,0,0)
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2D','C',0,0,0,0)
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2D','D',0,0,0,0)
*/
---Part 3a	Purchases
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','A',0,0,0,0,'')

---Part 3a	(1)
SET @AMTA1=0
SELECT @AMTA1=SUM(A.VATONAMT) FROM VATTBL A WHERE A.BHENT in ('PT','EP') AND (A.DATE BETWEEN @SDATE AND @EDATE) 
and A.St_type = 'Out of State' AND A.u_imporm not IN ('Branch Transfer', 'Consignment Transfer')
AND A.RFORM_NM NOT IN ('FORM E1','FORM-E1','FORM - E1','E1 FORM','FORM E2','FORM-E2','FORM - E2','E2 FORM')
AND A.FORM_NM NOT IN ('FORM F', 'F FORM', 'FORM-F', 'FORM - F')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','B',0,@AMTA1,0,0,'')

---Part 3a	(2)
SET @AMTA1=0
SELECT @AMTA1=SUM(VATONAMT) FROM VATTBL A
INNER JOIN PTMAIN P ON (P.TRAN_CD = A.TRAN_CD AND P.ENTRY_TY = A.BHENT)
WHERE A.BHENT in ('P1') AND (P.VATMTYPE = 'Purchase in the Course of Export Out of India')
AND (A.DATE BETWEEN @SDATE AND @EDATE) 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','C',0,@AMTA1,0,0,'')

---Part 3a	(3)
SET @AMTA1=0
SELECT @AMTA1=SUM(A.VATONAMT) FROM VATTBL A WHERE A.BHENT in ('PT','EP') AND (A.DATE BETWEEN @SDATE AND @EDATE) 
and A.St_type = 'Out of State' 
AND (A.RFORM_NM IN ('FORM E1','FORM-E1','FORM - E1','E1 FORM','FORM E2','FORM-E2','FORM - E2','E2 FORM') or A.FORM_NM IN ('FORM C','C FORM', 'FORM-C', 'C-FORM'))
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','D',0,@AMTA1,0,0,'')

---Part 3a	(4)
SET @AMTA1=0
SELECT @AMTA1=SUM(VATONAMT) FROM VATTBL A
INNER JOIN PTMAIN P ON (P.TRAN_CD = A.TRAN_CD AND P.ENTRY_TY = A.BHENT)
WHERE A.BHENT in ('P1', 'PT') AND (P.VATMTYPE <> 'Purchase in the Course of Export Out of India')
AND (A.DATE BETWEEN @SDATE AND @EDATE) AND (A.ST_TYPE = 'OUT OF COUNTRY') 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','E',0,@AMTA1,0,0,'')

---Part 3a	(5)
SET @AMTA1=0
SELECT @AMTA1=SUM(A.VATONAMT) FROM VATTBL A WHERE A.BHENT in ('PT','EP') AND (A.DATE BETWEEN @SDATE AND @EDATE) 
and A.St_type = 'Out of State' AND A.FORM_NM IN ('FORM F', 'F FORM', 'FORM-F', 'FORM - F')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','F',0,@AMTA1,0,0,'')

---Part 3a	(6)
-- This is for only trading company... (database table LITEMALL not in excise mfg. database)
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','G',0,0,0,0,'')

---Part 3a	(7)(i)
SET @AMTA1=0
SELECT @AMTA1=SUM(a.VATONAMT)  from vattbl a
inner join IT_MAST it on (it.it_code = a.it_code)
where a.bhent in ('PT', 'EP') AND a.st_type in ('LOCAL','')
And (a.Tax_Name <> 'Exempted') AND (A.DATE BETWEEN @SDATE AND @EDATE)
AND it.U_shcode NOT IN ('Schedule A', 'Schedule C') 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','H',0,@AMTA1,0,0,'')

---Part 3a	(7)(ii)
SET @AMTA1=0
SELECT @AMTA1=SUM(a.VATONAMT)  from vattbl a
inner join IT_MAST it on (it.it_code = a.it_code)
where a.bhent in ('PT', 'EP') AND a.st_type in ('LOCAL','') 
And (a.Tax_Name <> 'Exempted') AND (A.DATE BETWEEN @SDATE AND @EDATE)
AND it.U_shcode IN ('Schedule A', 'Schedule C') 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','I',0,@AMTA1,0,0,'')

--Part 3b
---Taxable at % xyz on Amt abc Tax Amt pqr
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTA2=0,@AMTB2=0,@AMTC2=0,@AMTD2=0,@AMTE2=0,@AMTF2=0,@AMTG2=0,@AMTH2=0,@AMTI2=0,@AMTJ2=0,@AMTK2=0,@AMTL2=0,@AMTM2=0,@AMTN2=0,@AMTO2=0 
SET @CHAR=65
DECLARE  CUR_FORMR02 CURSOR FOR 
select distinct level1 from stax_mas where ST_TYPE='LOCAL'--CHARINDEX('VAT',TAX_NAME)>0
OPEN CUR_FORMR02
FETCH NEXT FROM CUR_FORMR02 INTO @PER
WHILE (@@FETCH_STATUS=0)
BEGIN
	SELECT @AMTA1=SUM(a.VATONAMT),@AMTA2=SUM(a.TAXAMT)  from vattbl a
	inner join IT_MAST it on (it.it_code = a.it_code)
	where a.bhent in ('PT', 'EP') AND a.st_type in ('LOCAL','')  AND a.PER=@PER
	And (a.Tax_Name <> 'Exempted') AND (A.DATE BETWEEN @SDATE AND @EDATE)
	AND it.U_shcode NOT IN ('Schedule A', 'Schedule C') 
	
	SELECT @AMTB1=SUM(a.VATONAMT),@AMTB2=SUM(a.TAXAMT) from vattbl a
	where a.bhent in ('PR') AND a.PER=@PER
	And (A.DATE BETWEEN @SDATE AND @EDATE)
	
	SELECT @AMTC1=SUM(a.VATONAMT),@AMTC2=SUM(a.TAXAMT) from vattbl a
	inner join CNMAIN cn ON (cn.entry_ty = a.BHENT And cn.tran_cd = a.tran_cd)
	where a.bhent in ('CN')  AND a.PER=@PER AND cn.U_GPRICE = 'Escalation'
	And (A.DATE BETWEEN @SDATE AND @EDATE)
	
	SELECT @AMTD1=SUM(a.VATONAMT),@AMTD2=SUM(a.TAXAMT) from vattbl a
	inner join DNMAIN dn ON (dn.entry_ty = a.BHENT And dn.tran_cd = a.tran_cd)
	where a.bhent in ('DN') AND a.PER=@PER AND dn.U_GPRICE = 'De Escalation'
	And (A.DATE BETWEEN @SDATE AND @EDATE)
	
	SET @AMTA1=ISNULL(@AMTA1,0)
	SET @AMTB1=ISNULL(@AMTB1,0)
	SET @AMTC1=ISNULL(@AMTC1,0)
	SET @AMTD1=ISNULL(@AMTD1,0)
	SET @AMTA2=ISNULL(@AMTA2,0)
	SET @AMTB2=ISNULL(@AMTB2,0)
	SET @AMTC2=ISNULL(@AMTC2,0)
	SET @AMTD2=ISNULL(@AMTD2,0)
	
	SET @AMTE1= (@AMTC1 - @AMTB1 - @AMTD1)
	
	SET @AMTE2= (@AMTC2 - @AMTB2 - @AMTD2)
	
	SET @AMTE1=ISNULL(@AMTE1,0)
	SET @AMTE2=ISNULL(@AMTE2,0)

	INSERT INTO #FORMR02
	(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,PARTY_NM) VALUES
    (1,'3B',CHAR(@CHAR),@PER,@AMTA1,@AMTE1,(@AMTA1-@AMTE1), (@AMTA2 - @AMTE2),'')

	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMR02 INTO @PER
END
CLOSE CUR_FORMR02
DEALLOCATE CUR_FORMR02

--Part 4&5
select @AmtA1=Sum(AMT4) from #FormR02 where PartSr = '2D'
select @AmtA2=Sum(AMT4) from #FormR02 where PartSr = '3B'
SET @AMTA1=ISNULL(@AMTA1,0)
SET @AMTA2=ISNULL(@AMTA2,0)
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','A',0,@AMTA1,@AMTA2,0,'')

INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','B',0,0,0,0,'')

select @AmtA1=Sum(Amt1),@AMTA2=Sum(Amt2) from #FormR02 where PartSr = '4'
SET @AMTA1=ISNULL(@AMTA1,0)
SET @AMTA2=ISNULL(@AMTA2,0)
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','C',0,@AMTA1,@AMTA2,0,'')

--Part 6
select @AmtA1=Amt1-Amt2 from #FormR02 where PartSr = '4' and srno = 'C'
SET @AMTA1=ISNULL(@AMTA1,0)
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','A',0,@AMTA1,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','B',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','C',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','D',0,0,0,0,'')

--Part 7
declare @CHALSR Numeric(6),@bank_nm varchar(100), @dep_mode varchar(200), @cheq_no varchar(30), @cheq_dt smalldatetime

set @bank_nm =''
set @dep_mode ='' 
set @cheq_no = ''
set @cheq_dt = ''
set @Amta1 = 0
set @Amtj1 = 0
set @CHALSR = 0

declare cr_BPPayable cursor FOR
select B.bank_nm, b.dep_mode, B.cheq_no, B.Date, b.net_amt from VATTBL A
Inner join Bpmain B on (A.Bhent = B.Entry_ty and A.Tran_cd = B.Tran_cd)
where BHENT = 'BP' And B.Party_nm like '%VAT Payable%' And B.Date Between @sdate and @edate

OPEN cr_BPPayable
FETCH NEXT FROM cr_BPPayable INTO @bank_nm, @dep_mode,@cheq_no,@cheq_dt,@AMTA1
 WHILE (@@FETCH_STATUS=0)
 BEGIN
	begin
		SET @CHALSR = @CHALSR +1
		INSERT INTO #FORMR02(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM,date,form_nm,Address) VALUES(1,'7','A',@CHALSR,@AMTA1,0,0,@Bank_nm,@cheq_dt,@cheq_no,@dep_mode)
		SET @AMTJ1 = @AMTJ1 + @AMTA1
	end
 FETCH NEXT FROM cr_BPPayable INTO @bank_nm, @dep_mode,@cheq_no,@cheq_dt,@AMTA1
END
CLOSE cr_BPPayable
DEALLOCATE cr_BPPayable


WHILE (@CHALSR < 6)
   BEGIN
		SET @CHALSR = @CHALSR +1
		INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'7','B',@CHALSR,0,0,0,'')
   END



--SET @CHALSR = @CHALSR +1
--INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'7','C',@CHALSR,@AMTJ1,0,0,'Total of rows (1) to ('+Convert(varchar(5),@CHALSR-1)+')')

--Part 8
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','A',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','B',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','C',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','D',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','E',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','F',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','G',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','H',0,0,0,0,'')

--Part 9
SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1 = Count(GRO_AMT), @AMTA2=SUM(GRO_AMT) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) 
and RFORM_NM IN ('FORM C','C FORM','C','FORM-C','C-FORM','FORM - C','C - FORM')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'9','A',0,@AMTA1,@AMTA2,0,'')

SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1 = Count(GRO_AMT), @AMTA2=SUM(GRO_AMT) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) 
and RFORM_NM IN ('FORM D','D FORM','D','FORM-D','D-FORM','FORM - D','D - FORM')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'9','B',0,@AMTA1,@AMTA2,0,'')

SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1 = Count(GRO_AMT), @AMTA2=SUM(GRO_AMT) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) 
and RFORM_NM IN ('Form E1', 'E-1', 'E-I')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'9','C',0,@AMTA1,@AMTA2,0,'')

SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1 = Count(GRO_AMT), @AMTA2=SUM(GRO_AMT) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) 
and RFORM_NM IN ('Form E2', 'E-2', 'E-II')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'9','D',0,@AMTA1,@AMTA2,0,'')

SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1 = Count(GRO_AMT), @AMTA2=SUM(GRO_AMT) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) 
and RFORM_NM IN ('FORM F','F FORM','F','FORM-F','F-FORM','FORM - F','F - FORM')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'9','E',0,@AMTA1,@AMTA2,0,'')

SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1 = Count(GRO_AMT), @AMTA2=SUM(GRO_AMT) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) 
and RFORM_NM IN ('FORM H','H FORM','H','FORM-H','H-FORM','FORM - H','H - FORM')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'9','F',0,@AMTA1,@AMTA2,0,'')

--Part 10
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','A',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','B',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','BA',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','BB',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','BC',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','BD',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','BE',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','BF',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','C',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','D',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','E',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','EA',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','EB',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','EC',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','ED',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','EE',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','EF',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','EG',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10A','EH',0,0,0,0,'')--Added By PrashanthReddy.G on 5th March 2012

---Part 10c
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10B','A',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10B','B',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10B','C',0,0,0,0,'')

--Part 11
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10C','A',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10C','B',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10C','C',0,0,0,0,'')
INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10C','D',0,0,0,0,'')
--INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10C','E',0,0,0,0,'')
--INSERT INTO #FORMR02 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10C','F',0,0,0,0,'')

Update #formR02 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), AMT4 = isnull(AMT4,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0)


SELECT * FROM #FORMR02 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)

END


