DROP PROCEDURE [USP_REP_AA_ANF4A]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- CREATED BY    : PRIYANKA HIMANE
-- CREATE DATE   : 09/01/2013
-- DESCRIPTION   : THIS STORED PROCEDURE IS USEFUL TO GENERATE DATA FOR AA ANF4A REPORT.
-- MODIFIED BY   :
-- MODIFIED DATE :
-- =============================================
CREATE PROCEDURE  [USP_REP_AA_ANF4A]
@APP_ID VARCHAR(50)
AS

CREATE TABLE #AA_ANF4A_REP (SRNO NUMERIC(3,1),SUB_ORDER VARCHAR(10)
,BIT_VAL1 BIT,BIT_VAL2 BIT,BIT_VAL3 BIT
,DATE_VAL1 SMALLDATETIME,DATE_VAL2 SMALLDATETIME,DATE_VAL3 SMALLDATETIME,DATE_VAL4 SMALLDATETIME
,NUM_VAL1 NUMERIC(14,2),NUM_VAL2 NUMERIC(14,2),NUM_VAL3 NUMERIC(14,2),NUM_VAL4 NUMERIC(14,2)
,NUM_VAL5 NUMERIC(14,2),NUM_VAL6 NUMERIC(14,2),NUM_VAL7 NUMERIC(14,2),NUM_VAL8 NUMERIC(14,2)
--/*Commented by Priyanka B on 29062017 for GST  Start
--,STR_VAL1 VARCHAR(100),STR_VAL2 VARCHAR(100),STR_VAL3 VARCHAR(100),STR_VAL4 VARCHAR(100)
--,STR_VAL5 VARCHAR(100),STR_VAL6 VARCHAR(100)
--Commented by Priyanka B on 29062017 for GST  End*/
--Modified by Priyanka B on 29062017 for GST  Start
,STR_VAL1 VARCHAR(2000),STR_VAL2 VARCHAR(2000),STR_VAL3 VARCHAR(2000),STR_VAL4 VARCHAR(2000)
,STR_VAL5 VARCHAR(2000),STR_VAL6 VARCHAR(2000)
--Modified by Priyanka B on 29062017 for GST  End
,TXT_VAL1 TEXT,TXT_VAL2 TEXT
)

-- (POINT NO.:1) APPLICANT DETAILS--START
-- (I)IEC_NO - IEC_NO WILL COME FROM MANU_FACT TABLE
-- (II)NAME - NAME WILL COME FROM CO_MAST TABLE
-- (III)ADDRESS - ADDRESS WILL COME FROM CO_MAST TABLE
-- BRANCH CODE,TELEPHONE,EMAIL ID
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,STR_VAL2,STR_VAL3)
SELECT 1,'I',BRANCHCODE,TELEPHONE,EMAIL
FROM AA_ANF4A_MAST
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=1 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 1,'I'
END
-- (POINT NO.:1) APPLICANT DETAILS--END

-- (POINT NO.:2) APPLICATION DETAILS--START
-- APPLICATION FOR,ECOM. REFERENCE NO.,SUBMISSION DATE,SUBMITTED TO,RLA FILE NO.,RLA FILE DATE
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,STR_VAL2,DATE_VAL1,STR_VAL3,STR_VAL4,DATE_VAL2)
SELECT 2,'I',APPFOR,ECOM_REF_NO,SUBM_DATE,SUBM_TO,RLA_FILE_NO,RLA_FILE_DATE
FROM AA_ANF4A_MAST
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=2 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 2,'I'
END
-- (POINT NO.:2) APPLICATION DETAILS--END

-- (POINT NO.:3) RCMC DETAILS--START
-- (I)RCMC NUMBER,DATE OF ISSUE,ISSUING AUTHORITY,VALID UPTO,PRODUCTS FOR WHICH REGISTERED
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,DATE_VAL1,STR_VAL2,DATE_VAL2,STR_VAL3)
SELECT 3,'I',LICEN_NO,RCMC_ISS_DT,RCMC_ISSU_AUTH,RCMC_UPTO_DT,RCMC_PROD_REG
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=3 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 3,'I'
END
-- (POINT NO.:3) RCMC DETAILS--END

-- (POINT NO.:4) TYPE OF EXPORTER (PLEASE TICK)--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,STR_VAL2)
SELECT 4,'I',TYPOFEXP,TYPOFEXP_SPFY
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=4 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 4,'I'
END
-- (POINT NO.:4) TYPE OF EXPORTER (PLEASE TICK)--END

-- (POINT NO.:5) NATURE OF CONCERN (PLEASE TICK)--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,STR_VAL2)
SELECT 5,'I',NAT_CON,NAT_CON_SPFY
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=5 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 5,'I'
END
-- (POINT NO.:5) NATURE OF CONCERN (PLEASE TICK)--END

-- (POINT NO.:6) INDUSTRIAL REGISTRATION DETAILS--START
-- (I)SSI/IEM/LOI OR IL REGISTRATION NUMBER,DATE OF ISSUE,ISSUING AUTHORITY,PRODUCTS FOR WHICH REGISTERED
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,DATE_VAL1,STR_VAL2,STR_VAL3)
SELECT 6,'I',INDREG_NO,INDREG_ISS_DT,INDREG_ISS_AUTH,INDREG_PROD_REG
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=6 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 6,'I'
END
-- (POINT NO.:6) INDUSTRIAL REGISTRATION DETAILS--END

-- (POINT NO.:7) EXCISE DETAILS (FOR THOSE REGISTERED WITH CENTRAL EXCISE AUTHORITY)--START
-- (I)EXCISE REGISTRATION NUMBER,DATE OF ISSUE/ISSUING AUTHORITY
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,STR_VAL2)
SELECT 7,'I',EXCREG_NO,EXCREG_ISS_AUTH
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=7 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 7,'I'
END
-- (POINT NO.:7) EXCISE DETAILS (FOR THOSE REGISTERED WITH CENTRAL EXCISE AUTHORITY)--END

-- (POINT NO.:8) STATUS HOUSE DETAILS--START
-- (I)EH/SEH/TH/STH/PTH,CERTIFICATE NUMBER,DATE OF ISSUE VALID UPTO,ISSUING AUTHORITY,VALID UPTO
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,STR_VAL2,DATE_VAL1,STR_VAL3,DATE_VAL2)
SELECT 8,'I',STATUS_HOUSE,STATUS_NO,STATUS_ISS_DT,STATUS_ISSU_AUTH,STATUS_UPTO_DT
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=8 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 8,'I'
END
-- (POINT NO.:8) STATUS HOUSE DETAILS--END

-- (POINT NO.:9) APPLICATION FEE DETAILS--START
-- (I)SR. NO.,PAYMODE,PAYMODE,DEMAND DRAFT/BANK RECEIPT/ELECTRONIC FUND TRANSFER NO,DATE OF ISSUE
-- ,NAME OF THE BANK ON WHICH DRAWN,BANK BRANCH ON WHICH DRAWN,AMOUNT (RS)
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,NUM_VAL1,STR_VAL1,STR_VAL2,DATE_VAL1,STR_VAL3,STR_VAL4,NUM_VAL2)
SELECT 9,'I',APP_SRNO,APP_PAYMODE,ELECT_FUNDTRAN_NO,APP_FEE_DT,APP_FEE_BANK,APP_FEE_BRANCH,APP_FEE_AMT
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=9 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 9,'I'
END
-- (POINT NO.:9) APPLICATION FEE DETAILS--END

-- PART B
-- (POINT NO.:10) TOTAL CIF VALUE OF IMPORTS APPLIED FOR--START
-- (I)IN RUPEES,IN CURRENCY OF IMPORTS,IN US $
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,NUM_VAL1,NUM_VAL2,NUM_VAL3)
SELECT 10,'I',TOTCIF_IMP_RS,TOTCIF_IMP_FC,TOTCIF_IMP_USD
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=10 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 10,'I'
END
-- (POINT NO.:10) TOTAL CIF VALUE OF IMPORTS APPLIED FOR--END

-- (POINT NO.:11) TOTAL FOB/FOR VALUE OF EXPORTS TO BE MADE (INCLUDING COMMISSION)--START
-- (I)IN RUPEES,IN CURRENCY OF IMPORTS,IN US $
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,NUM_VAL1,NUM_VAL2,NUM_VAL3)
SELECT 11,'I',TOTFOB_EXP_RS,TOTFOB_EXP_FC,TOTFOB_EXP_USD
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=11 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 11,'I'
END
-- (POINT NO.:11) TOTAL FOB/FOR VALUE OF EXPORTS TO BE MADE (INCLUDING COMMISSION)--END

-- (POINT NO.:12) VALUE ADDITION (IN %)--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,NUM_VAL1)
SELECT 12,'I',VA_PER
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=12 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 12,'I'
END
-- (POINT NO.:12) VALUE ADDITION (IN %)--END

-- (POINT NO.:13) PORT OF REGISTRATION AS PER PARAGRAPH 4.19 OF HBP V1 (FOR THE PURPOSE OF IMPORTS)--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1)
SELECT 13,'I',PORT_REG
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=13 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 13,'I'
END
-- (POINT NO.:13) PORT OF REGISTRATION AS PER PARAGRAPH 4.19 OF HBP V1 (FOR THE PURPOSE OF IMPORTS)--END

-- (POINT NO.:14)--START
-- (I)APPLICATION MADE FOR EXPORT PRODUCT GROUP,SERIAL NO. OF SION
-- ,WHETHER THE APPLICATION IS MADE UNDER PARA 4.7 OF HBP V1:YES/NO.IF "YES", WHETHER ADHOC NORMS FIXED:YES/NO
-- ,APPLICATION MADE UNDER PARA 4A.25 OF HBP V1 (FOR G & J SECTOR): YES/NO
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,STR_VAL2,BIT_VAL1,BIT_VAL2,BIT_VAL3)
SELECT 14,'I',SION_EXPPROD_GRP,SION_SERIAL_NO,ISAPP_4_7,ISADHOC_FIXED,ISAPP_4A_25
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=14 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 14,'I'
END
-- (POINT NO.:14)--END

-- (POINT NO.:15) DETAILS OF ITEMS TO BE EXPORTED /SUPPLIED UNDER THE AUTHORISATION--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,NUM_VAL1,STR_VAL2,STR_VAL3,STR_VAL4,NUM_VAL2,STR_VAL5,NUM_VAL4,STR_VAL6,NUM_VAL5)
SELECT 15,'I',POINT_NOS,SRNO,ITEMDESC,ITEMTECHCHAR,ITC_CODE,QTY,UOM,FOB_OR_CIF_RS,FCURRENCY,FOB_OR_CIF_CONVCURR
FROM AA_ANF4A_DETAIL A
INNER JOIN AA_ANF4A_MAST B ON (B.APP_ID=A.FK_PRIMARYID)
WHERE POINT_NOS='15'
AND B.APP_ID=@APP_ID
ORDER BY SRNO
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=15 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 15,'I'
END
-- (POINT NO.:15) DETAILS OF ITEMS TO BE EXPORTED /SUPPLIED UNDER THE AUTHORISATION--END

-- (POINT NO.:16) DETAILS OF ITEMS SOUGHT TO BE IMPORTED DUTY FREE UNDER THE AUTHORISATION--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,NUM_VAL1,STR_VAL2,STR_VAL3,STR_VAL4,NUM_VAL2,NUM_VAL3,STR_VAL6,NUM_VAL4,NUM_VAL5)
SELECT 16,'I',POINT_NOS,SRNO,ITEMDESC,ITEMTECHCHAR,ITC_CODE,QTY,FOB_OR_CIF_RS,FCURRENCY,FOB_OR_CIF_CONVCURR,TOT_EXEMP
FROM AA_ANF4A_DETAIL A
INNER JOIN AA_ANF4A_MAST B ON (B.APP_ID=A.FK_PRIMARYID)
WHERE POINT_NOS='16'
AND B.APP_ID=@APP_ID
ORDER BY SRNO
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=16 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 16,'I'
END
-- (POINT NO.:16) DETAILS OF ITEMS SOUGHT TO BE IMPORTED DUTY FREE UNDER THE AUTHORISATION--END

-- (POINT NO.:17) DETAILS OF OTHER MATERIALS TO BE USED IN THE EXPORT PRODUCT AND SOUGHT TO BE IMPORTED / PROCURED FROM SOURCES OTHER 
-- THAN THE AUTHORISATION ON WHICH DRAWBACK BENEFITS IS TO BE AVAILED (NOT TO BE FILLED IF DRAWBACK BENEFITS ARE NOT BEING CLAIMED)--START
-- (A)IMPORTED ITEM & (B)INDIGENOUSLY PROCURED ITEM
SELECT FK_PRIMARYID,IMP_SRNO = SRNO,IMP_ITDESC = ITEMDESC,IMP_ITEMTECHCHAR = ITEMTECHCHAR,IMP_QTY = QTY,IMP_FOB_OR_CIF_RS = FOB_OR_CIF_RS
INTO #TEMP1
FROM AA_ANF4A_DETAIL A
INNER JOIN AA_ANF4A_MAST B ON (B.APP_ID=A.FK_PRIMARYID)
WHERE POINT_NOS = '17_A' AND FK_PRIMARYID=@APP_ID

SELECT FK_PRIMARYID,IND_SRNO = SRNO,IND_ITDESC = ITEMDESC,IND_ITEMTECHCHAR = ITEMTECHCHAR,IND_QTY = QTY,IND_FOB_OR_CIF_RS = FOB_OR_CIF_RS
INTO #TEMP2
FROM AA_ANF4A_DETAIL A
INNER JOIN AA_ANF4A_MAST B ON (B.APP_ID=A.FK_PRIMARYID)
WHERE POINT_NOS = '17_B' AND FK_PRIMARYID=@APP_ID

DECLARE @CNT1 INT,@CNT2 INT
SELECT @CNT1 = COUNT(*) FROM #TEMP1
SELECT @CNT2 = COUNT(*) FROM #TEMP2
IF @CNT1 > @CNT2
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,NUM_VAL1,STR_VAL1,STR_VAL2,NUM_VAL2,NUM_VAL3,NUM_VAL4,STR_VAL3,STR_VAL4,NUM_VAL5,NUM_VAL6)
	SELECT 17,'AB',IMP_SRNO,IMP_ITDESC,IMP_ITEMTECHCHAR,IMP_QTY,IMP_FOB_OR_CIF_RS,IND_SRNO,IND_ITDESC,IND_ITEMTECHCHAR,IND_QTY,IND_FOB_OR_CIF_RS
	FROM #TEMP1 A
	LEFT JOIN #TEMP2 B ON (A.FK_PRIMARYID=B.FK_PRIMARYID AND A.IMP_SRNO=B.IND_SRNO)
	ORDER BY IMP_SRNO,IND_SRNO
END
IF @CNT2 > @CNT1
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,NUM_VAL1,STR_VAL1,STR_VAL2,NUM_VAL2,NUM_VAL3,NUM_VAL4,STR_VAL3,STR_VAL4,NUM_VAL5,NUM_VAL6)
	SELECT 17,'AB',IMP_SRNO,IMP_ITDESC,IMP_ITEMTECHCHAR,IMP_QTY,IMP_FOB_OR_CIF_RS,IND_SRNO,IND_ITDESC,IND_ITEMTECHCHAR,IND_QTY,IND_FOB_OR_CIF_RS
	FROM #TEMP2 A
	LEFT JOIN #TEMP1 B ON (A.FK_PRIMARYID=B.FK_PRIMARYID AND A.IND_SRNO=B.IMP_SRNO)
	ORDER BY IND_SRNO,IMP_SRNO
END
IF @CNT1 = @CNT2
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,NUM_VAL1,STR_VAL1,STR_VAL2,NUM_VAL2,NUM_VAL3,NUM_VAL4,STR_VAL3,STR_VAL4,NUM_VAL5,NUM_VAL6)
	SELECT 17,'AB',IMP_SRNO,IMP_ITDESC,IMP_ITEMTECHCHAR,IMP_QTY,IMP_FOB_OR_CIF_RS,IND_SRNO,IND_ITDESC,IND_ITEMTECHCHAR,IND_QTY,IND_FOB_OR_CIF_RS
	FROM #TEMP1 A
	INNER JOIN #TEMP2 B ON (A.FK_PRIMARYID=B.FK_PRIMARYID AND A.IMP_SRNO=B.IND_SRNO)
	ORDER BY IMP_SRNO,IND_SRNO
END
DROP TABLE #TEMP1
DROP TABLE #TEMP2

IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=17 AND SUB_ORDER='AB')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 17,'AB'
END
-- (POINT NO.:17) DETAILS OF OTHER MATERIALS TO BE USED IN THE EXPORT PRODUCT AND SOUGHT TO BE IMPORTED / PROCURED FROM SOURCES OTHER 
-- THAN THE AUTHORISATION ON WHICH DRAWBACK BENEFITS IS TO BE AVAILED (NOT TO BE FILLED IF DRAWBACK BENEFITS ARE NOT BEING CLAIMED)--END

-- (POINT NO.:18) DETAILS OF OUTSTANDING EXPORT OBLIGATION (E.O.) AGAINST ADVANCE AUTHORISATION(S) INCLUDING ADVANCE AUTHORISATION 
-- FOR ANNUAL REQUIREMENTS ISSUED ALREADY--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,NUM_VAL1,STR_VAL2,DATE_VAL1,NUM_VAL2,NUM_VAL3,NUM_VAL4,NUM_VAL5,DATE_VAL2)
SELECT 18,'I',POINT_NOS,SRNO,AUTH_NO,AUTH_DT,CIF_RS,FOB_RS,EO_FULFLD_QTY_PER,EO_FULFLD_VAL_PER,EO_EXPIRY_DT
FROM AA_ANF4A_DETAIL A
INNER JOIN AA_ANF4A_MAST B ON (B.APP_ID=A.FK_PRIMARYID)
WHERE POINT_NOS='18'
AND APP_ID=@APP_ID
ORDER BY SRNO
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=18 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 18,'I'
END
-- (POINT NO.:18) DETAILS OF OUTSTANDING EXPORT OBLIGATION (E.O.) AGAINST ADVANCE AUTHORISATION(S) INCLUDING ADVANCE AUTHORISATION 
-- FOR ANNUAL REQUIREMENTS ISSUED ALREADY--END

-- (POINT NO.:19) DETAILS OF EXPORTS / DEEMED SUPPLIES (INCLUDING INTERMEDIATE SUPPLIES) MADE IN THE PRECEDING 3 LICENSING YEARS--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,NUM_VAL1,STR_VAL2,NUM_VAL2,NUM_VAL3,NUM_VAL4)
SELECT 19,'I',POINT_NOS,SRNO,EXPORT_FINYR,EXPORT_FOB_CR,DEEMED_FOR_CR,EXPORT_TOTPERF_CR
FROM AA_ANF4A_DETAIL A
INNER JOIN AA_ANF4A_MAST B ON (B.APP_ID=A.FK_PRIMARYID)
WHERE POINT_NOS='19'
AND APP_ID=@APP_ID
ORDER BY SRNO
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=19 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 19,'I'
END
-- (POINT NO.:19) DETAILS OF EXPORTS / DEEMED SUPPLIES (INCLUDING INTERMEDIATE SUPPLIES) MADE IN THE PRECEDING 3 LICENSING YEARS--END

-- (POINT NO.:20) APPLICABLE IN CASE OF APPLICATIONS MADE FOR ADVANCE AUTHORISATION FOR ANNUAL REQUIREMENTS (AAL)--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,NUM_VAL1,NUM_VAL2)
SELECT 20,'I',ENTL_AAL_RS,CIF_VAL_AAL_RS
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=20 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 20,'I'
END
-- (POINT NO.:20) APPLICABLE IN CASE OF APPLICATIONS MADE FOR ADVANCE AUTHORISATION FOR ANNUAL REQUIREMENTS (AAL)--END

-- (POINT NO.:21) IN CASE OF EXPORTS MADE UNDER DEEMED EXPORTS CATEGORY (EXCEPT FOR SUPPLIES TO ADVANCE AUTHORISATION / EOU / EHTP /
-- STP / EPCG AUTHORISATION OR INTERMEDIATE SUPPLIES), PLEASE FURNISH--START
-- (I)NAME OF THE PROJECT AUTHORITY,ADDRESS OF THE PROJECT AUTHORITY,SUPPLY ORDER NO,DELIVERY PERIOD OF SUPPLY
-- ,CREDIT UNDER WHICH, PROJECT IS FINANCED,METHOD BY WHICH ORDER HAS BEEN PROCURED(ICB ETC)
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,STR_VAL2,STR_VAL3,STR_VAL4,STR_VAL5,STR_VAL6)
SELECT 21,'I',PROJ_AUTH_NAME,CAST(PROJ_AUTH_ADDR AS VARCHAR(MAX)),SUPP_ORD_NO,DEL_PER_SUPP,CRED_PROJ_FINAN,PROC_ORD_METH
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=21 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 21,'I'
END
-- (POINT NO.:21) IN CASE OF EXPORTS MADE UNDER DEEMED EXPORTS CATEGORY (EXCEPT FOR SUPPLIES TO ADVANCE AUTHORISATION / EOU / EHTP /
-- STP / EPCG AUTHORISATION OR INTERMEDIATE SUPPLIES), PLEASE FURNISH--END

-- (POINT NO.:22) IN CASE OF REQUEST FOR ISSUANCE OF ARO / INVALIDATION LETTER, PLEASE FURNISH--START
-- (I)ADVANCE AUTHORISATION NO.:
-- (II)DATE OF ISSUE OF ADVANCE AUTHORISATION:
-- (III)NAME(S) OF THE INDIGENOUS PRODUCER FROM WHERE ITEMS ARE TO BE PROCURED:
-- (IV)ADDRESS (S) OF THE INDIGENOUS PRODUCER FROM WHERE ITEMS ARE TO BE PROCURED:
-- (V)REGIONAL AUTHORITY OF THE INDIGENOUS PRODUCER:
-- (VI)ITEMS TO BE SUPPLIED BY THE INDIGENOUS PRODUCER:
-- (A)DESCRIPTION OF INDIVIDUAL ITEMS:
-- (B)QUANTITY OF INDIVIDUAL ITEMS TO BE PROCURED:
-- (C)VALUE OF INDIVIDUAL ITEMS TO BE PROCURED:
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,DATE_VAL1,STR_VAL2,TXT_VAL1,STR_VAL3,STR_VAL4,TXT_VAL2,NUM_VAL1,NUM_VAL2)
SELECT 22,'I',ADV_AUTH_NO,ADV_AUTH_DT,INDI_PROD_NAME,INDI_PROD_ADDR,INDI_REG_AUTH,INDI_ITEM_NAME,INDI_ITEM_DESC,INDI_ITEM_QTY
,INDI_ITEM_VALUE
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=22 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 22,'I'
END
-- (POINT NO.:22) IN CASE OF REQUEST FOR ISSUANCE OF ARO / INVALIDATION LETTER, PLEASE FURNISH--END

-- (POINT NO.:23) ADDRESS OF THE FACTORY / PREMISES / PROJECT SITE, WHERE THE ITEMS TO BE IMPORTED ARE PROPOSED TO BE USED:--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,TXT_VAL1)
SELECT 23,'I',FACT_ADD
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=23 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 23,'I'
END
-- (POINT NO.:23) ADDRESS OF THE FACTORY / PREMISES / PROJECT SITE, WHERE THE ITEMS TO BE IMPORTED ARE PROPOSED TO BE USED:--END

-- (POINT NO.:24) ADDRESS OF THE JURISDICTIONAL CENTRAL EXCISE AUTHORITY UNDER WHOSE JURISDICTION THE FACTORY / PREMISES / PROJECT SITE FALLS:--START
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,TXT_VAL1)
SELECT 24,'I',JURIS_ADD
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=24 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 24,'I'
END
-- (POINT NO.:24) ADDRESS OF THE JURISDICTIONAL CENTRAL EXCISE AUTHORITY UNDER WHOSE JURISDICTION THE FACTORY / PREMISES / PROJECT SITE FALLS:--END

-- (POINT NO.:25) IN CASE THE ITEM(S) TO BE IMPORTED, ARE TO BE USED BY THE SUPPORTING MANUFACTURER, PLEASE FURNISH:--START
-- (I)NAME OF THE SUPPORTING MANUFACTURER,ADDRESS OF THE SUPPORTING MANUFACTURER,SSI/LOI/IL REGN.NO.AND DATE,PRODUCTS ENDORSED ON SSI/IL/IEM
INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER,STR_VAL1,TXT_VAL1,STR_VAL2,DATE_VAL1,STR_VAL3)
SELECT 25,'I',SUPMFG_NM,SUPMFG_ADD,SUPMFG_REGNO,SUPMFG_REGDT,SUPMFG_PROD_END
FROM AA_ANF4A_MAST A
WHERE APP_ID=@APP_ID
IF NOT EXISTS(SELECT * FROM #AA_ANF4A_REP WHERE SRNO=25 AND SUB_ORDER='I')
BEGIN
	INSERT INTO #AA_ANF4A_REP(SRNO,SUB_ORDER)
	SELECT 25,'I'
END
-- (POINT NO.:25) IN CASE THE ITEM(S) TO BE IMPORTED, ARE TO BE USED BY THE SUPPORTING MANUFACTURER, PLEASE FURNISH:--END

SELECT * FROM #AA_ANF4A_REP
--WHERE SRNO LIKE 20.0
ORDER BY SRNO,SUB_ORDER
GO
