DROP PROCEDURE [USP_REP_A57F_3CV]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sandeep Shah
-- Create date: 06/04/2012
-- Description:	This Stored procedure is useful to generate Excise Annexure III for Labour Job Report.
-- Modify date: 
-- Remark:
-- =============================================


CREATE  PROCEDURE [USP_REP_A57F_3CV] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL 
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='IRMAIN',@VITFILE='IRITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


SELECT IRITEM.ENTRY_TY,IRITEM.DATE,IRITEM.DOC_NO,IRITEM.QTY,IRITEM.INV_SR,IRITEM.AC_ID,IRMAIN.INV_NO,RL_ITSER=IRITEM.ITSERIAL,RL_TRAN=IRMAIN.TRAN_CD 
,QTY_USED=IRITEM.QTY,WASTAGE=IRITEM.QTY,PROCWASTE=IRITEM.QTY,
--AC_MAST.RANGE,AC_MAST.DIVISION, 
AC_MAST.GSTIN,
IT_MAST.CHAPNO,IT_MAST.P_UNIT, IT_MAST.IT_NAME,
RL_ITCODE=IRITEM.IT_CODE ,RL_QTY=IRITEM.QTY,RL_DATE=IRITEM.DATE,
AC_MAST.AC_NAME,FITEM=IRITEM.ITEM ,FQTY=IRITEM.QTY,NARR=SUBSTRING(IRITEM.NARR,1,2000) ,IRITEM.GRO_AMT,IRITEM.TRAN_CD,IRITEM.ITSERIAL,IRITEM.IT_CODE,RL_NARR=SUBSTRING(IRITEM.NARR,1,2000)
INTO #TMPIRITEM FROM IRITEM 
INNER JOIN IRMAIN ON  (IRITEM.TRAN_CD=IRMAIN.TRAN_CD) 
INNER JOIN AC_MAST ON (IRMAIN.AC_ID=AC_MAST.AC_ID)
INNER JOIN IT_MAST ON (IRITEM.IT_CODE=IT_MAST.IT_CODE)
WHERE 1=2


DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(1000)
SET @SQLCOMMAND='INSERT INTO #TMPIRITEM SELECT IRITEM.ENTRY_TY,IRITEM.DATE,IRITEM.DOC_NO,IRITEM.QTY,IRITEM.INV_SR,IRITEM.AC_ID,IRITEM.INV_NO,RL_ITSER=ISNULL(IIITEM.ITSERIAL,''''),RL_TRAN=ISNULL(IIMAIN.TRAN_CD,0), ' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' QTY_USED=CASE WHEN IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IIRMDET.QTY_USED,0) ELSE 0 END,WASTAGE=CASE WHEN IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IIRMDET.WASTAGE,0) ELSE 0 END '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,PROCWASTE=CASE WHEN IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IIRMDET.PROCWASTE,0) ELSE 0 END,'	
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AC_MAST.RANGE,AC_MAST.DIVISION, '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AC_MAST.GSTIN, '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' IT_MAST.CHAPNO,IT_MAST.P_UNIT, IT_MAST.IT_NAME,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' RL_ITCODE=CASE WHEN IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN isnull(IIITEM.IT_CODE,0) else 0 END ,RL_QTY=CASE WHEN IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IIITEM.QTY,0) ELSE 0 END,RL_DATE=CASE WHEN IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IIITEM.DATE,0) ELSE 0 END,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ISNULL(AC_MAST.AC_NAME,''''),FITEM=CASE WHEN IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN RL_ITMAST.IT_NAME ELSE '''' END,FQTY=CASE WHEN IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IIITEM.QTY,0) ELSE 0 END,NARR=SUBSTRING(IRITEM.NARR,1,2000) ,IRITEM.GRO_AMT,IRITEM.TRAN_CD,IRITEM.ITSERIAL,IRITEM.IT_CODE,RL_NARR=SUBSTRING(IIITEM.NARR,1,2000)  '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM IRITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IRMAIN ON  (IRITEM.TRAN_CD=IRMAIN.TRAN_CD) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST ON (AC_MAST.AC_ID=IRITEM.AC_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST ON (IRITEM.IT_CODE=IT_MAST.IT_CODE) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IIRMDET ON (IRITEM.TRAN_CD=IIRMDET.LI_TRAN_CD AND IRITEM.ENTRY_TY=IIRMDET.LIENTRY_TY AND IRITEM.ITSERIAL=IIRMDET.LI_ITSER AND IIRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' )' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IIMAIN ON (IIRMDET.TRAN_CD=IIMAIN.TRAN_CD and IIRMDET.ENTRY_TY=IIMAIN.ENTRY_TY) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IIITEM ON (IIRMDET.TRAN_CD=IIITEM.TRAN_CD AND IIITEM.ENTRY_TY=IIRMDET.ENTRY_TY AND IIRMDET.ITSERIAL=IIITEM.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN AC_MAST RL_ACMAST ON (RL_ACMAST.AC_ID=IIITEM.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IT_MAST RL_ITMAST ON (RL_ITMAST.IT_CODE=IIITEM.IT_CODE)'

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)+' OR (IIMAIN.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''') ' 

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY IRITEM.DATE,IRMAIN.INV_NO,IRITEM.ITSERIAL '
print @SQLCOMMAND
EXEC SP_EXECUTESQL  @SQLCOMMAND



SELECT LIENTRY_TY,LI_TRAN_CD,LI_IT_CODE,QTY_USED=SUM(QTY_USED),WASTAGE=SUM(WASTAGE),PROCWASTE=SUM(PROCWASTE) INTO #TMP_IIRMDET FROM IIRMDET WHERE DATE<@SDATE	
GROUP BY LIENTRY_TY,LI_TRAN_CD,LI_IT_CODE


SELECT QTY,LIENTRY_TY,LI_TRAN_CD,LI_ITSER,QTY_USED=SUM(QTY_USED+WASTAGE+PROCWASTE)	
INTO #QTYUSED
FROM IIRMDET 
WHERE LI_DATE<@SDATE 
AND DATE<@SDATE 
GROUP BY LIENTRY_TY,LI_TRAN_CD,LI_ITSER,QTY

DELETE FROM #QTYUSED WHERE QTY<>QTY_USED

DELETE FROM #TMPIRITEM WHERE ENTRY_TY+RTRIM(CAST(TRAN_CD AS VARCHAR))+ITSERIAL IN (SELECT LIENTRY_TY+RTRIM(CAST(LI_TRAN_CD AS VARCHAR))+LI_ITSER FROM #QTYUSED)

SELECT A.ENTRY_TY,A.DATE,A.DOC_NO,QTY=A.QTY,A.INV_SR,A.AC_ID,A.INV_NO,A.QTY_USED,A.WASTAGE,A.PROCWASTE,A.GSTIN,A.CHAPNO,A.P_UNIT,A.IT_NAME,
		A.RL_ITCODE,A.RL_QTY,A.RL_DATE,A.AC_NAME,A.FITEM,A.FQTY,A.NARR,A.GRO_AMT,A.TRAN_CD,A.RL_TRAN,A.RL_ITSER,A.ITSERIAL,A.RL_NARR 
		iNTO #TMPRETURN FROM #TMPIRITEM A
		WHERE 1=2

IF @EXPARA='NO'
	BEGIN
		DELETE FROM #TMPIRITEM FROM #TMPIRITEM A
		INNER JOIN (SELECT LI_TRAN_CD,LIENTRY_TY,LI_IT_CODE,RL_DATE=MAX(DATE) FROM IIRMDET  GROUP BY LI_TRAN_CD,LIENTRY_TY,LI_IT_CODE HAVING MAX(DATE)<@SDATE) B
		ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		
		DELETE FROM #TMPIRITEM FROM #TMPIRITEM A
		INNER JOIN (SELECT DISTINCT TRAN_CD,IT_CODE,ENTRY_TY FROM #TMPIRITEM GROUP BY DATE,TRAN_CD,ENTRY_TY,IT_CODE HAVING NOT(MAX(RL_DATE) BETWEEN @SDATE AND @EDATE) AND NOT(DATE BETWEEN @SDATE AND @EDATE) )B 
		ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.IT_CODE=B.IT_CODE)
					
		
		INSERT INTO #TMPRETURN 
		SELECT A.ENTRY_TY,A.DATE,DOC_NO='',QTY=A.QTY,INV_SR='',A.AC_ID,A.INV_NO,QTY_USED=SUM(A.QTY_USED),WASTAGE=SUM(A.WASTAGE),PROCWASTE=SUM(A.PROCWASTE),A.GSTIN,A.CHAPNO,A.P_UNIT,A.IT_NAME,
		RL_ITCODE=0,RL_QTY=0,RL_DATE=0,A.AC_NAME,FITEM='',FQTY=0,NARR='',A.GRO_AMT,A.TRAN_CD,RL_TRAN=0,RL_ITSER='',A.ITSERIAL,RL_NARR=''
		FROM #TMPIRITEM A
		LEFT JOIN #TMP_IIRMDET B ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		WHERE A.RL_DATE <@SDATE 
		GROUP BY A.ENTRY_TY,A.DATE,A.AC_ID,A.INV_NO,A.GSTIN,A.CHAPNO,A.P_UNIT,A.IT_NAME,A.AC_NAME,A.TRAN_CD,A.QTY,B.QTY_USED,B.WASTAGE,A.GRO_AMT,A.ITSERIAL
		UNION ALL
		SELECT A.ENTRY_TY,A.DATE,A.DOC_NO,QTY=A.QTY,A.INV_SR,A.AC_ID,A.INV_NO,A.QTY_USED,A.WASTAGE,A.PROCWASTE,A.GSTIN,A.CHAPNO,A.P_UNIT,A.IT_NAME,
		A.RL_ITCODE,A.RL_QTY,A.RL_DATE,A.AC_NAME,A.FITEM,A.FQTY,A.NARR,A.GRO_AMT,A.TRAN_CD,A.RL_TRAN,A.RL_ITSER,A.ITSERIAL,A.RL_NARR 
		FROM #TMPIRITEM A
		LEFT JOIN #TMP_IIRMDET B ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		WHERE (A.RL_DATE BETWEEN @SDATE AND @EDATE) 
		--ORDER BY A.DATE,A.INV_NO,A.ITSERIAL,A.RL_TRAN,A.RL_ITSER,A.RL_DATE --Commented by suraj k on 25-02-2015 for bug-25365
		ORDER BY DATE,INV_NO,ITSERIAL,RL_TRAN,RL_ITSER,RL_DATE --added by suraj k on 25-02-2015 for bug-25365

	END 
ELSE
	BEGIN
		INSERT INTO #TMPRETURN 
		sELECT A.ENTRY_TY,A.DATE,DOC_NO='',QTY=A.QTY,INV_SR='',A.AC_ID,A.INV_NO,QTY_USED=SUM(A.QTY_USED),WASTAGE=SUM(A.WASTAGE),PROCWASTE=SUM(A.PROCWASTE),A.GSTIN,A.CHAPNO,A.P_UNIT,A.IT_NAME,
		RL_ITCODE=0,RL_QTY=0,RL_DATE=0,A.AC_NAME,FITEM='',FQTY=0,NARR='',A.GRO_AMT,A.TRAN_CD,RL_TRAN=0,RL_ITSER='',A.ITSERIAL,RL_NARR=''
		FROM #TMPIRITEM A
		LEFT JOIN #TMP_IIRMDET B ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		WHERE A.RL_DATE <@SDATE 
		GROUP BY A.ENTRY_TY,A.DATE,A.AC_ID,A.INV_NO,A.GSTIN,A.CHAPNO,A.P_UNIT,A.IT_NAME,A.AC_NAME,A.TRAN_CD,A.QTY,B.QTY_USED,B.WASTAGE,B.PROCWASTE,A.GRO_AMT,A.ITSERIAL
		UNION ALL
		SELECT A.ENTRY_TY,A.DATE,A.DOC_NO,QTY=A.QTY,A.INV_SR,A.AC_ID,A.INV_NO,A.QTY_USED,A.WASTAGE,A.PROCWASTE,A.GSTIN,A.CHAPNO,A.P_UNIT,A.IT_NAME,
		A.RL_ITCODE,A.RL_QTY,A.RL_DATE,A.AC_NAME,A.FITEM,A.FQTY,A.NARR,A.GRO_AMT,A.TRAN_CD,A.RL_TRAN,A.RL_ITSER,A.ITSERIAL ,A.RL_NARR 
		FROM #TMPIRITEM A
		LEFT JOIN #TMP_IIRMDET B ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		WHERE (A.RL_DATE BETWEEN @SDATE AND @EDATE) 
		--ORDER BY A.DATE,A.INV_NO,A.ITSERIAL,A.RL_TRAN,A.RL_ITSER,A.RL_DATE --commented by Suraj K. on date 25-02-2015 for bug-25365
		ORDER BY DATE,INV_NO,ITSERIAL,RL_TRAN,RL_ITSER,RL_DATE -- added by Suraj K. on on date 25-02-2015 for bug-25365
	END

SELECT A.*,IT_MAST.IDMARK FROM #TMPRETURN A
LEFT JOIN IT_MAST ON (A.RL_ITCODE=IT_MAST.IT_CODE)
DROP TABLE #TMPIRITEM
GO
