DROP PROCEDURE [USP_REP_MULTI_CO_DATA_Dados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Archana K.
-- Create date: 17 Apr, 2013
-- Description:	This Stored Procedure is useful to Fetch Multi Co. Data NEIO
-- =============================================

Create PROCEDURE [USP_REP_MULTI_CO_DATA_Dados]
  @SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME OUTPUT
 AS
 BEGIN
 
DECLARE @SQLCOMMAND NVARCHAR(4000)
Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

Declare @Balance Numeric(17,2),@TBLNM VARCHAR(50),@TBLNAME1 Varchar(50),
        @TBLNAME2 Varchar(50) ,@TBLNAME3 Varchar(50),@TBLNAME4 Varchar(50)
 
Select @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND((DATEPART(mm, GETDATE()) * 100000 )
		+ (DATEPART(ss, GETDATE()) * 1000 )+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No),
		@Balance = 0,@SQLCOMMAND = ''

Select @TBLNAME1 = '##TMP1'+@TBLNM,@TBLNAME2 = '##TMP2'+@TBLNM
Select @TBLNAME3 = '##TMP3'+@TBLNM,@TBLNAME4 = '##TMP4'+@TBLNM

----Check The Multi Co. States to be same
IF Exists(Select B.Co_Name,A.Sta_Dt,A.End_Dt,A.DbName,A.VatStates From Vudyog..Co_Mast A
		  Inner Join Com_Det B On(A.Co_Name = B.Co_Name and A.Sta_Dt = B.Sta_Dt and A.End_Dt = B.End_Dt)
		  Where A.VatStates = A.VatStates)

----

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''

 ----Temporary Cursor1
SET @SQLCOMMAND = ' SELECT BHENT=''PT'',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0)
   ,STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1
   ,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
   ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),M.TRAN_CD
   ,VATONAMT=99999999999.99,DBNAME=space(20),ItemType=space(1),It_Code=999999999999999999-999999999999999999,ItSerial=Space(5)
   INTO '+@TBLNAME1+'  FROM PTACDET A 
   INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
   INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
   INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
   INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
   WHERE 1=2'
EXECUTE sp_executesql @SQLCOMMAND

 ----Insert Data in Cursor2 from ST, PT, SR, PR
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.DBNAME,ItemType=Case when M.u_rg23no <>0 then '+'''I'''+' else '+'''C''' + ' end' && Comment By Hetal Patel DT 26/04/2010 TKT-1003/TKT-1072
---Same Changes are done in all sql commands below but not commented Hetal Dt 26/04/2010
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD AND A.DBNAME = M.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)' 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = A.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME AND A.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID AND M.DBNAME = AC1.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''ST'''+',M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD AND A.DBNAME = M.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = A.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME AND A.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID AND M.DBNAME = AC1.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''SR'''+',M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD AND A.DBNAME = M.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)' ---And A.Amount = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = A.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME AND A.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID AND M.DBNAME = AC1.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PR'''+',M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD AND A.DBNAME = M.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)' ---And A.Amount = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = A.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME AND A.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID AND M.DBNAME = AC1.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''EP'''+',M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=CASE WHEN D.U_VATONAMT <> 0 THEN D.U_VATONAMT ELSE D.GRO_AMT END,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM EPACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN EPMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD AND A.DBNAME = M.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN EPITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)' ---And A.Amount = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = A.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME AND A.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID AND M.DBNAME = AC1.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 ----Added By Hetal on Dt 31/07/09 To Get Export,Branch Transfer Records
--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC1.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD  AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'And (Rtrim(M.U_IMPORM) in ('+'''Branch Transfer'''+','+'''High Seas Purchases'''+','+'''Direct Imports'+''') or M.[Rule] = '+'''EOU EXPORT'''+'  or Ac.S_TAX = '+''' '')'

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''ST'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND (rtrim(M.U_Imporm) = '+'''Branch Transfer'''+' or M.[Rule] in ('+'''CT-1'''+','+'''CT-3'''+','+'''EOU EXPORT'+''')  or Ac.S_TAX = '+''' '')' + ' and STM.set_app=1'

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PR'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND (M.[Rule] in ('+'''CT-1'''+','+'''CT-3'''+','+'''EOU EXPORT'+''')  or Ac.S_TAX = '+''' '')'

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''SR'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND (M.[Rule] in ('+'''CT-1'''+','+'''CT-3'''+','+'''EOU EXPORT'+''') or Ac.S_TAX = '+''' '')' + 'And STM.Tax_name='+''' '''

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

----Changed to Get Bank Payment Record for VAT Payable-- S
-- SET @FCON = Replace(@FCON,'M.DATE','M.U_CLDT')--Commented by Archana K. on 27/02/14 for Bug-21922
----Changed to Get Bank Payment Record for VAT Payable-- E
--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''BP'''+',M.INV_NO,DATE=M.U_CLDT,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',TAX_NAME='''',SET_APP=0,AC.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM='''',PARTY_NM=M.BANK_NM,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=space(1),IT_CODE=999999999999999999-999999999999999999,ITSERIAL=SPACE(5)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM BPMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  And (M.Party_nm like''%VAT%'' OR M.Party_nm like ''%CST%'' OR M.Party_nm like ''%WCT%'')'

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

----Changed to Default Setting -- S
-- SET @FCON = Replace(@FCON,'M.U_CLDT','M.DATE')--Commented by Archana K. on 27/02/14 for Bug-21922
----Changed to default Setting -- D
----Insert Data in Cursor2 from PT,ST,SR,PR,EP where SET_APP of Stax_mas is Zero or Set off not available
----Dt 18*08*2009
----Added to include Tax Bills where setoff is not available&& Dt 18/08/2009
--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''ST'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),D.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME AND M.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''
 
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''SR'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PR'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''EP'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=CASE WHEN D.U_VATONAMT <> 0 THEN D.U_VATONAMT ELSE D.GRO_AMT END,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM EPMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN EPITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''
 ----
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 ---Added By Hetal To Get Records with Tax Name Blank
--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''ST'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,AC.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=Case when M.u_rg23no <>0 then '+'''I'''+' else '+'''C''' + ' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX'''

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''SR'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX'''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PR'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,AC.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''EP'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,AC.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM EPMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID AND M.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN EPITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And RTRIM(M.Tax_name) = ''NO-TAX'''
 ----
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
 ---
 ----Debit/Credit Note and sales entry where U_imporm is 'Purchase return' DT 09/10/2009 
--- SET @SQLCOMMAND='INSERT INTO #FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''DN'''+',M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM DNACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN DNMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD AND A.DBNAME = M.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN DNITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)' 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = A.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME AND A.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID AND M.DBNAME = AC1.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''CN'''+',M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM CNACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN CNMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD AND A.DBNAME = M.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN CNITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)' 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME AND D.DBNAME = STM.DBNAME) And STM.Entry_ty = A.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME AND A.DBNAME = AC.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID AND M.DBNAME = AC1.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''DN'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM DNMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN DNITEM D ON (D.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''CN'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*(D.Gro_amt-D.Tot_NonTax))/M.Gro_amt,2),M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM CNMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN CNITEM D ON (D.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_Ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''DN'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM DNMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN DNITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''CN'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM CNMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN CNITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX'''

---Opening Balance Dt 01/12/2009
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''OB'''+',M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,M.DBNAME,ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM OBMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN OBITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD AND M.DBNAME = D.DBNAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE AND M.DBNAME = IT.DBNAME)'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)--Commented by Archana K. on 270214 for Bug-21922
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And AC.Typ = ''INPUT VAT'' Or AC.Typ = ''OUTPUT VAT'''
---OpBal

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

----Added To Suppress Dulicate record coming to due link with ACDET Files S Dt 21/12/2009 Hetal Patel
 SET @SQLCOMMAND='UPDATE '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' Set Ac_name = '''''
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND= 'SELECT DISTINCT * INTO '+@TBLNAME2
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM '+@TBLNAME1
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND= 'UPDATE '+@TBLNAME2 +' SET AC_NAME = L.AC_NAME FROM '+ @TBLNAME2 +' A'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ 'INNER JOIN LAC_VW L ON (A.BHENT = L.ENTRY_TY AND A.TRAN_CD = L.TRAN_CD) '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ 'WHERE L.AC_NAME IN(SELECT AC_NAME FROM #VATAC_MAST)'
-- Print @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
----E Dt 21/12/2009 Hetal Patel


-- SET @MFCON= @TBLNAME2--Commented by Archana K. on 27/02/14 for Bug-21922


 -----SET @SQLCOMMAND='select * from '+@TBLNAME1
 -----EXECUTE SP_EXECUTESQL @SQLCOMMAND
 
-- Print @MFCON 
 END

set ANSI_NULLS OFF
--
--Print 'Multi Co Data Neio'
----Go
-------
--Print 'Main Single & Multi Co Data Stored Procedure Updation Completed (NEIO)'
----go
GO
