If Exists(Select [name] From SysObjects Where xtype='P' and [Name]='USP_REP_UA_FORMVAT3_ANNEXURE6_DADOS')
Begin
	Drop Procedure USP_REP_UA_FORMVAT3_ANNEXURE6_DADOS
End
Go
      
CREATE PROCEDURE [dbo].[USP_REP_UA_FORMVAT3_ANNEXURE6_DADOS]
@SDATE SMALLDATETIME,@EDATE SMALLDATETIME            
AS        
BEGIN           
--INTER-STATE SALES IN TRANSIT     
select A.PARTY_NM,AC.s_tax,A.inv_no,A.date,VATONAMT=round(SUM(ST.u_asseamt+ST.EXAMT+ST.U_CESSAMT+ST.U_HCESAMT+ST.tot_add+ST.TOT_DEDUC),2) FROM STMAIN A
INNER JOIN AC_MAST AC ON(AC.AC_ID=A.AC_ID)
inner join STITEM ST ON(ST.TRAN_CD=A.TRAN_CD)
INNER JOIN STAX_MAS STM ON(ST.TAX_NAME=STM.TAX_NAME AND STM.ENTRY_TY=ST.ENTRY_TY)
WHERE AC.S_TAX<>''  AND AC.ST_TYPE in ('OUT OF STATE','OUT OF COUNTRY') AND STM.RFORM_NM IN ('E1 FORM','FORM E1','E2 FORM','FORM E2') and (A.DATE BETWEEN @SDATE AND @EDATE)      
GROUP BY A.PARTY_NM,AC.s_tax,A.inv_no,A.date

END  
