If Exists(Select [name] From SysObjects Where xType='P' and [Name]='USP_REP_UA_FORMVAT3')
Begin
	Drop Procedure USP_REP_UA_FORMVAT3
End
Go
/*
EXECUTE USP_REP_UA_FORMVAT3'','','','04/01/2013','03/31/2015','','','','',0,0,'','','','','','','','','2013-2015',''
*/      

-- =============================================
-- Author     :	
-- Create date: 
-- Description:	This Stored procedure is useful to generate Uttarakhand Form VAT 3
-- Modify date: 10/06/2015
-- Modified By: GAURAV R. TANNA For the Bug-
-- Modified By: SUMIT  S. GAVATE Dated on - 11-02-2016 For the Bug - 26399
-- Remark:    : 
-- =============================================
CREATE PROCEDURE [dbo].[USP_REP_UA_FORMVAT3]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME        
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)        
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)        
,@SAMT FLOAT,@EAMT FLOAT        
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)        
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)        
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)        
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)        
,@LYN VARCHAR(20)        
,@EXPARA  AS VARCHAR(60)= null        
AS        
BEGIN        
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)        
EXECUTE   USP_REP_FILTCON         
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND        
,@VSDATE=NULL        
,@VEDATE=@EDATE        
,@VSAC =@SAC,@VEAC =@EAC        
,@VSIT=@SIT,@VEIT=@EIT        
,@VSAMT=@SAMT,@VEAMT=@EAMT        
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT        
,@VSCATE =@SCATE,@VECATE =@ECATE        
,@VSWARE =@SWARE,@VEWARE  =@EWARE        
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR        
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL        
,@VDTFLD ='DATE'        
,@VLYN=NULL        
,@VEXPARA=@EXPARA        
,@VFCON =@FCON OUTPUT        
        
DECLARE @SQLCOMMAND NVARCHAR(4000)        
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12
  
,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)        
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2)  
DECLARE @AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)        
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)        
        
---Temporary Cursor
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,
ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX,U_CHALNO=CAST('' AS VARCHAR(10)),
U_CHALDT=CAST('' AS DATETIME),U_MICRNO=CAST('' AS VARCHAR(20)) INTO #FORMVAT3 FROM STACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 
		 -- Put in remarks by Guarav Tanna for the Bug:   - Start
		 ----EXECUTE USP_REP_MULTI_CO_DATA
		 ---- @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ----,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ----,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ----,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ----,@MFCON = @MCON OUTPUT
		 -- Put in remarks by Guarav Tanna for the Bug:   - End
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
	End
	
--------------------------------------------------------------- A – “STATE TURNOVER” ---------------------------------------------------------- START
-- STATE - TAXABLE TURNOVER
-- 06- Taxable Sale 	to Regd. Dealers	Vat Goods            (Annex. 2)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX<>'' AND
tax_name like '%VAT%' AND BHENT in ('ST','SR','CN') AND VATTYPE='' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'1','A',0,@AMTA1,0,0,'')

-- 07- Taxable Sale	to Others Vat Goods
SET @AMTA1=0
SELECT @AMTA1=ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM  VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX='' 
and tax_name like '%VAT%' AND BHENT in ('ST','SR','CN') AND VATTYPE='' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'1','B',0,@AMTA1,0,0,'')

-- 08- Taxable Purchase  u/s 3(10)
SET @AMTA1=0
SELECT @AMTA1= ISNULL(Sum(CASE WHEN BHENT ='PT' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL A WHERE A.BHENT in ('PT','PR','DN')
AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.S_TAX not in ('') AND A.U_IMPORM in ('Under Section 3(10)','u/s 3(10)')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'1','C',0,@AMTA1,0,0,'')

-- 09- Taxable Sale Non Vat Goods                                             
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX<>''
AND tax_name like '%VAT%' AND BHENT in ('ST','SR','CN') AND VATTYPE='Non Vat' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'1','D',0,@AMTA1,0,0,'')

-- 10- NTO (State) (06+07+08+09)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='1' AND SRNO IN ('A','B','C','D')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'1','E',0,@AMTA1,0,0,'')

-- STATE - NON TAXABLE TURNOVER
-- 11- Non Taxable Sale Sch.-I	Vat Goods  
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN A.BHENT ='ST' THEN A.GRO_AMT ELSE -A.GRO_AMT END),0) FROM VATTBL A INNER JOIN IT_MAST I on (A.It_code = I.It_code)
WHERE A.ST_TYPE IN ('LOCAL','') AND A.BHENT IN ('ST','SR','CN') AND (DATE BETWEEN @SDATE AND @EDATE) AND A.tax_name not like '%VAT%' AND 
A.VATTYPE = 'Tax Free Sch - I goods'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'2','A',0,@AMTA1,0,0,'')
                                        
-- 12- Non Taxable Sale Otherwise Vat Goods
SET @AMTA1=0
SELECT @AMTA1= ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE IN ('LOCAL','') AND --S_TAX='' AND 
BHENT in ('ST','SR','CN') AND tax_name not like '%VAT%' AND VATTYPE=''  AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES(1,'2','B',0,@AMTA1,0,0,'')

-- 13- Non Taxable Sale Non Vat Goods
SET @AMTA1=0
SELECT @AMTA1= ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE IN ('LOCAL','') AND --S_TAX='' AND 
BHENT in ('ST','SR','CN') AND VATTYPE='Non Vat' AND tax_name not like '%VAT%' AND (DATE BETWEEN @SDATE AND @EDATE) 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES(1,'2','C',0,@AMTA1,0,0,'')

-- 14- TOTAL  (State Non Taxable Turnover) (11+12+13)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='2' AND SRNO IN('A','B','C')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES(1,'2','D',0,@AMTA1,0,0,'')

-- 15- GTO (State) (10+14)
SELECT @AMTA1=0,@AMTA2=0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE  (PARTSR='1' AND SRNO='E')
SELECT @AMTA2 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE  (PARTSR='2' AND SRNO='D')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'2','E',0,@AMTA1+@AMTA2,0,0,'')

---END--------------------------------------------------------- A – “STATE TURNOVER” --------------------------------------------------------------- END


---START------------------------------------------------------- B – “INTERSTATE TURNOVER” ---------------------------------------------------------- START
-- INTERSTATE - TAXABLE TURNOVER
-- 16- Taxable Sale to Regd. Dealers (  Annex. -3)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE='OUT OF STATE' AND
S_TAX<>'' AND tax_name like '%C.S.T.%'AND BHENT in ('ST','SR','CN') AND (DATE BETWEEN @SDATE AND @EDATE) 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'3','A',0,@AMTA1,0,0,'')

-- 17- Taxable Sale to Others
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE='OUT OF STATE' AND
S_TAX='' and tax_name like '%C.S.T.%'AND BHENT IN ('ST','SR','CN') AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'3','B',0,@AMTA1,0,0,'')

-- 18- NTO (Inter-State)(16+17)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(sum(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='3' AND SRNO IN ('A','B')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'3','C',0,@AMTA1,0,0,'')

-- INTERSTATE - NON TAXABLE TURNOVER
-- 19- Non Taxable Sale Sch.-I Goods
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN A.BHENT ='ST' THEN A.GRO_AMT ELSE -A.GRO_AMT END),0) FROM VATTBL A INNER JOIN IT_MAST I on (A.It_code = I.It_code)
WHERE A.ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND A.BHENT IN ('ST','SR','CN') AND (DATE BETWEEN @SDATE AND @EDATE)
AND A.VATTYPE = 'Tax Free Sch - I goods' AND A.U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer','Direct Exports')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','A',0,@AMTA1,0,0,'')

-- 20- Stock Transfer/Consignment Sale (Form-F)(Annex. -4)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND
U_IMPORM IN ('Branch Transfer','Consignment Transfer') AND RFORM_NM IN ('FORM F','F FORM', 'F', 'FORM-F', 'F-FORM') AND BHENT IN ('ST','SR','CN') 
AND (DATE BETWEEN @SDATE AND @EDATE) AND (VATTYPE = '') AND TAX_NAME NOT IN ('','EXEMPTED')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','B',0,@AMTA1,0,0,'')

-- 21- Export Deemed (Form - H) (Annex. -5)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN A.BHENT ='ST' THEN A.GRO_AMT ELSE -A.GRO_AMT END),0) FROM  VATTBL A INNER JOIN STMAIN ST ON(A.TRAN_CD=ST.TRAN_CD) 
WHERE A.ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND A.RFORM_NM IN ('FORM H','H FORM','H', 'FORM-H','H-FORM') 
AND A.BHENT IN ('ST','SR','CN') AND (A.DATE BETWEEN @SDATE AND @EDATE) AND (A.VATTYPE = '') AND A.TAX_NAME NOT IN ('','EXEMPTED')
AND A.U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer','Direct Exports')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','C',0,@AMTA1,0,0,'')

-- 22- Sale in transit (Form-E1, E2)(Annex. -6)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY')
AND RFORM_NM IN ('E-1','E-2','E - 1', 'E - 2','FORM E1','E1 FORM','FORM E2','E2 FORM') AND BHENT IN ('ST','SR','CN') 
AND (DATE BETWEEN @SDATE AND @EDATE) AND (VATTYPE = '') AND TAX_NAME NOT IN ('','EXEMPTED') AND
U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer','Direct Exports')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','D',0,@AMTA1,0,0,'')

-- 23- Sale to SEZ dealers (Form-I) (Annex. -7)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN A.BHENT ='ST' THEN A.GRO_AMT ELSE -A.GRO_AMT END),0) FROM VATTBL A INNER JOIN STMAIN ST ON(A.TRAN_CD=ST.TRAN_CD) 
WHERE A.ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY')  AND A.RFORM_NM IN ('FORM I','I FORM') AND A.BHENT IN ('ST','SR','CN')
AND (A.DATE BETWEEN @SDATE AND @EDATE) AND (A.VATTYPE = '') AND A.TAX_NAME NOT IN ('','EXEMPTED') AND
A.U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer','Direct Exports')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','E',0,@AMTA1,0,0,'')

-- 24- Sale to International body (Form-J)(Annex.-8)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN A.BHENT ='ST' THEN A.GRO_AMT ELSE -A.GRO_AMT END),0) FROM VATTBL A INNER JOIN STMAIN  ST ON (A.TRAN_CD=ST.TRAN_CD)
WHERE A.ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY')  AND A.RFORM_NM IN ('FORM J','J FORM') AND A.BHENT IN ('ST','SR','CN') 
AND (A.DATE BETWEEN @SDATE AND @EDATE)  AND (A.VATTYPE = '') AND A.TAX_NAME NOT IN ('','EXEMPTED') AND
A.U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer','Direct Exports')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','F',0,@AMTA1,0,0,'')

-- 25- Export Direct (Annex. -9)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN A.BHENT ='ST' THEN A.GRO_AMT ELSE -A.GRO_AMT END),0) FROM VATTBL A WHERE A.ST_TYPE IN ('OUT OF COUNTRY')
AND  A.BHENT IN ('ST','SR','CN') AND LTRIM(RTRIM(REPLACE(REPLACE(ISNULL(A.RFORM_NM,''),'-',''),'Form',''))) = 'H' AND 
A.U_IMPORM in ('Direct Exports') AND (A.DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','G',0,@AMTA1,0,0,'')

-- 26- Non Taxable Sale Otherwise (Annex. -10)
SET @AMTA1=0
SELECT @AMTA1 = ISNULL(Sum(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY')
AND RFORM_NM='' AND TAX_NAME IN ('','EXEMPTED') AND BHENT IN ('ST','SR','CN') AND (DATE BETWEEN @SDATE AND @EDATE)  AND (VATTYPE = '')
AND U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer','Direct Exports')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','H',0,@AMTA1,0,0,'')

-- 27- TOTAL (INTERSTATE - NON TAXABLE TURNOVER) (19+20+21+22+23+24+25+26
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='4' AND SRNO IN ('A','B','C','D','E','F','G','H')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','I',0,@AMTA1,0,0,'')

-- 28- GTO (Inter-State)(18+27)  
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='3' AND SRNO='C' -- 18
SELECT @AMTA2 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='4' AND SRNO='I' -- 27
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','J',0,@AMTA1+@AMTA2,0,0,'')

-- 29- GTO (State + Inter State)(15+28) 
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='2' AND SRNO='E' -- 15
SELECT @AMTA2 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='4' AND SRNO='J' -- 28
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','K',0,@AMTA1+@AMTA2,0,0,'')
--------------------------------------------------------------- B – “INTERSTATE TURNOVER” ---------------------------------------------------------- END

--------------------------------------------------------------- C -  “OUTPUT TAX” ---------------------------------------------------------- START
-- “OUTPUT TAX” - ON STATE SALE OF - VAT GOODS- 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) 
select 1,'5','',A.PER,ISNULL(SUM(A.VATONAMT),0),0,ISNULL(SUM(A.TAXAMT),0),MAX(IT.IT_NAME) from VATTBL A INNER JOIN IT_MAST IT ON(IT.IT_CODE=A.IT_CODE)
WHERE A.BHENT IN ('ST') AND A.TAX_NAME LIKE '%VAT%' AND A.VATTYPE='' AND A.ST_TYPE IN ('LOCAL','') AND (A.DATE BETWEEN @SDATE AND @EDATE) 
group by IT.IT_NAME,A.PER
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='5' -- TOTAL BASIC SALES ON WHICH TAX IS CHARGEABLE
SELECT @AMTA2 = ISNULL(SUM(AMT3),0) FROM #FORMVAT3 WHERE PARTSR='5' -- TOTAL OUTPUT TAX
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'5','TT',0,@AMTA1,0,@AMTA2,'Total(i+ii+iii..)')

-- “OUTPUT TAX” - ON STATE PURCHASE OF - GOODS TAXABLE U/S 3(10) : 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) 
select 1,'6','',A.PER,ISNULL(SUM(A.VATONAMT),0),0,ISNULL(SUM(A.TAXAMT),0),MAX(IT.IT_NAME) FROM VATTBL A
INNER JOIN IT_MAST IT ON(IT.IT_CODE=A.IT_CODE) WHERE A.BHENT in ('PT','PR','DN') AND A.St_Type IN ('Local','') AND (A.DATE BETWEEN @SDATE AND @EDATE) AND 
A.S_TAX not in ('') AND A.U_IMPORM in ('Under Section 3(10)','u/s 3(10)') group by IT.IT_NAME,A.PER
SELECT @AMTA1 = ISNULL(Sum(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='6' -- TOTAL BASIC SALES ON WHICH TAX IS CHARGEABLE
SELECT @AMTA2 = ISNULL(Sum(AMT3),0) FROM #FORMVAT3 WHERE PARTSR='6' -- TOTAL OUTPUT TAX
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'6','TT',0,@AMTA1,0,@AMTA2,'Total(i+ii+iii..)')

-- “OUTPUT TAX” - ON STATE SALE OF - NON VAT GOODS: 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) 
select 1,'7','',A.PER,ISNULL(SUM(A.VATONAMT),0),0,ISNULL(SUM(A.TAXAMT),0),MAX(IT.IT_NAME) from VATTBL A INNER JOIN IT_MAST IT ON(IT.IT_CODE=A.IT_CODE)
WHERE A.BHENT IN ('ST') AND A.TAX_NAME LIKE '%VAT%' AND A.VATTYPE='Non Vat' AND A.ST_TYPE IN ('LOCAL','')
AND (DATE BETWEEN @SDATE AND @EDATE) group by IT.IT_NAME,A.PER
SELECT @AMTA1 = ISNULL(Sum(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='7' -- TOTAL BASIC SALES ON WHICH TAX IS CHARGEABLE
SELECT @AMTA2 = ISNULL(Sum(AMT3),0) FROM #FORMVAT3 WHERE PARTSR='7' -- TOTAL OUTPUT TAX
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'7','TT',0,@AMTA1,0,@AMTA2,'Total(i+ii+iii..)')

-- 33 “OUTPUT TAX” (State) TOTAL     (30+31+32)
SELECT @AMTA1 = ISNULL(Sum(AMT1),0) FROM #FORMVAT3 WHERE PARTSR IN ('5','6','7') AND SRNO='TT'
SELECT @AMTA2 = ISNULL(Sum(AMT3),0) FROM #FORMVAT3 WHERE PARTSR IN ('5','6','7') AND SRNO='TT'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'8','TT',0,@AMTA1,0,@AMTA2,'')

-- “OUTPUT TAX” - ON INTERSTATE SALE OF START
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) 
select 1,'9','',A.PER,ISNULL(SUM(A.VATONAMT),0),0,ISNULL(SUM(A.TAXAMT),0),MAX(IT.IT_NAME) from VATTBL A
INNER JOIN IT_MAST IT ON(IT.IT_CODE=A.IT_CODE) WHERE A.BHENT IN ('ST') AND A.ST_TYPE IN ('OUT OF STATE') group by IT.IT_NAME,A.PER

-- 34 “OUTPUT TAX”  (Inter-State) TOTAL 
SELECT @AMTA1 = ISNULL(Sum(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='9' -- TOTAL BASIC SALES ON WHICH TAX IS CHARGEABLE
SELECT @AMTA2 = ISNULL(Sum(AMT3),0) FROM #FORMVAT3 WHERE PARTSR='9' -- TOTAL OUTPUT TAX
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'9','TT',0,@AMTA1,0,@AMTA2,'“OUTPUT TAX” (Inter-State) TOTAL(i+ii…..)')
-- “OUTPUT TAX” - ON INTERSTATE SALE OF END

-- 35 TOTAL “OUTPUT TAX”       (33+34)
SELECT @AMTA1 = ISNULL(Sum(AMT1),0) FROM #FORMVAT3 WHERE PARTSR IN ('8','9') AND SRNO='TT'
SELECT @AMTA2 = ISNULL(Sum(AMT3),0) FROM #FORMVAT3 WHERE PARTSR IN ('8','9') AND SRNO='TT'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'10','A',0,@AMTA1,0,@AMTA2,'Total')

--------------------------------------------------------------- C -  “OUTPUT TAX” ---------------------------------------------------------- END

--------------------------------------------------------------- D – “PURCHASES”  ---------------------------------------------------------- STRAT
-- STATE PURCHASE (NON CAPITAL GOODS)
-- 36- Purchase (from regd. dealers)-Taxable Vat Goods
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX<>'' AND ITEMTYPE='I' AND
BHENT IN ('PT') AND TAX_NAME LIKE '%VAT%' AND VATTYPE='' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'11','A',0,@AMTA1,0,0,'Total')

-- 37- Purchase Exempt Vat Goods
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0)  from VATTBL WHERE ST_TYPE IN ('LOCAL','') AND ITEMTYPE='I' AND BHENT in ('PT') AND
TAX_NAME IN ('EXEMPTED','') AND VATTYPE='' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'11','B',0,@AMTA1,0,0,'Total')

-- 38- Purchase (from unregd. dealers) Vat Goods
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0)  from VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX='' AND ITEMTYPE='I' AND BHENT In ('PT')
AND TAX_NAME NOT IN ('EXEMPTED','')  AND VATTYPE='' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'11','C',0,@AMTA1,0,0,'Total')

-- 39- Purchase Tax Paid (from regd. dealers)Non Vat Goods
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0)  from VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX<>'' AND ITEMTYPE='I' AND
BHENT IN ('PT') AND TAX_NAME LIKE '%VAT%' AND VATTYPE='Non Vat' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'11','D',0,@AMTA1,0,0,'Total')

-- 40- Purchase (from unregd.) Non Vat Goods
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0)  from VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX='' AND ITEMTYPE='I' AND
BHENT IN ('PT') AND TAX_NAME NOT IN ('EXEMPTED','') AND VATTYPE='Non Vat' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'11','E',0,@AMTA1,0,0,'Total')

-- 41- TOTAL STATE PURCHASE  (NON CAPITAL GOODS) (36+37+38+39+40)
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR ='11' AND SRNO IN ('A','B','C','D','E')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'11','F',0,@AMTA1,0,0,'Total')

-- STATE PURCHASE (CAPITAL GOODS)

-- 42- Purchase (from regd. dealers) Taxable Goods
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0)  from VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX<>'' AND ITEMTYPE='C' AND
BHENT IN ('PT') AND TAX_NAME LIKE '%VAT%' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'12','A',0,@AMTA1,0,0,'Total')

-- 43- Purchase (from unregd. dealers) Taxable Goods
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0)  from VATTBL WHERE ST_TYPE IN ('LOCAL','') AND S_TAX='' AND ITEMTYPE='C' AND
BHENT IN ('PT') AND TAX_NAME LIKE '%VAT%' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'12','B',0,@AMTA1,0,0,'Total')

-- 44- TOTAL STATE PURCHASE  (CAPITAL GOODS)(42+43)
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR ='12' AND SRNO IN ('A','B')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'12','C',0,@AMTA1,0,0,'Total')

-- 45- TOTAL (STATE PURCHASE)(41 +44)
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR IN ('11') AND SRNO='F'
SELECT @AMTA2 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR IN ('12') AND SRNO='C'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'12','D',0,@AMTA1+@AMTA2,0,0,'Total')

-- INTERSTATE PURCHASE / CONSIGNMENT-IN /STOCK TRANSFER-IN/”IMPORT” (from Outside Country)
-- 46- Intrastate Purchase (against Form C)
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN ('PT') AND (DATE BETWEEN @SDATE AND @EDATE)
AND  FORM_NM IN ('FORM C','C FORM', 'C', 'FORM-C','C-FORM') AND U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'13','A',0,@AMTA1,0,0,'Total')

-- 47- Intrastate Purchase (against Form H)
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN ('PT') AND (DATE BETWEEN @SDATE AND @EDATE)
AND FORM_NM IN ('FORM H','H FORM','H','FORM H','H FORM') AND U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'13','B',0,@AMTA1,0,0,'Total')

-- 48- Intrastate Purchase (against Form I/J)
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN ('PT') AND (DATE BETWEEN @SDATE AND @EDATE)
AND FORM_NM IN ('FORM I','I FORM','FORM J','J FORM','I','J') AND U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'13','C',0,@AMTA1,0,0,'Total')

-- 49- Intrastate Purchase (without Forms)
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND FORM_NM='' AND S_tax <> ' '
AND BHENT IN ('PT') AND U_IMPORM NOT IN ('Branch Transfer','Consignment Transfer') AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'13','D',0,@AMTA1,0,0,'Total')

-- 50-  Consignment-in/Stock Transfer (against Form F)
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND (DATE BETWEEN @SDATE AND @EDATE)
AND FORM_NM IN ('FORM F','F FORM','F','FORM-F','F-FORM') AND BHENT IN ('PT') AND U_IMPORM IN ('Branch Transfer','Consignment Transfer')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'13','E',0,@AMTA1,0,0,'Total')

-- 51 Consignment-in/Stock Transfer (without Form F) and “IMPORT”
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF COUNTRY') AND BHENT IN ('PT','P1') AND (DATE BETWEEN @SDATE AND @EDATE)
AND U_IMPORM IN ('Branch Transfer','Consignment Transfer') AND FORM_NM NOT IN ('FORM F','F FORM','F','FORM-F','F-FORM')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'13','F',0,@AMTA1,0,0,'Total')

-- 52-Purchase Return/ Consignment Return Annexure-11    
SELECT @AMTA1 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND BHENT='PR'
SELECT @AMTA2 = ISNULL(Sum(GRO_AMT),0) FROM VATTBL WHERE ST_TYPE IN ('OUT OF STATE','OUT OF COUNTRY') AND BHENT='ST'
AND U_IMPORM IN ('Purchase Return')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'13','G',0,@AMTA1 + @AMTA2,0,0,'Total')

--------------------------------------------------------------- D – “PURCHASES”  ---------------------------------------------------------- END
--------------------------------------------------------------- E - “INPUT TAX”  ---------------------------------------------------------- START
-- STATE PURCHASES (FROM REGD. DEALERS) ON WHICH I.T.C. CLAIMED NON CAPITAL VAT GOODS :
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM)
select 1,'14','',A.PER,ISNULL(SUM(A.VATONAMT),0),0,ISNULL(SUM(A.TAXAMT),0),'' from VATTBL A
LEFT OUTER JOIN IT_MAST IT ON(IT.IT_CODE=A.IT_CODE) WHERE A.BHENT='PT' AND A.TAX_NAME LIKE '%VAT%' AND A.ITEMTYPE='I' AND 
A.ST_TYPE in ('LOCAL','') AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.VATTYPE='' AND A.S_tax <> '' group by IT.IT_NAME,A.PER
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='14' -- TOTAL BASIC SALES ON WHICH TAX IS CHARGEABLE
SELECT @AMTA2 = ISNULL(SUM(AMT3),0) FROM #FORMVAT3 WHERE PARTSR='14' -- TOTAL INPUT TAX
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'14','TT',0,@AMTA1,0,@AMTA2,'')

-- FUEL :
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) 
select 1,'15','',A.PER,ISNULL(SUM(A.VATONAMT),0),0,ISNULL(SUM(A.TAXAMT),0),'' from VATTBL A INNER JOIN IT_MAST IT ON(IT.IT_CODE=A.IT_CODE)
WHERE A.BHENT='PT' AND A.TAX_NAME LIKE '%VAT%' AND A.ITEMTYPE='I' AND A.ST_TYPE IN ('LOCAL','') AND A.VatType LIKE '%Fuel%' AND A.S_Tax <> ''
AND (A.DATE BETWEEN @SDATE AND @EDATE) group by IT.IT_NAME,A.PER
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='15' -- TOTAL BASIC SALES ON WHICH TAX IS CHARGEABLE
SELECT @AMTA2 = ISNULL(SUM(AMT3),0) FROM #FORMVAT3 WHERE PARTSR='15' -- TOTAL INPUT TAX
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'15','TT',0,@AMTA1,0,@AMTA2,'')

-- CAPITAL GOODS :
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) 
select 1,'16','',A.PER,ISNULL(SUM(A.VATONAMT),0),0,ISNULL(SUM(A.TAXAMT),0),'' from VATTBL A INNER JOIN IT_MAST IT ON(IT.IT_CODE=A.IT_CODE)
WHERE A.BHENT='PT' AND A.TAX_NAME LIKE '%VAT%' AND A.ITEMTYPE='C' AND A.ST_TYPE IN ('LOCAL','') AND A.VATTYPE='' AND A.S_Tax <> ''
AND (A.DATE BETWEEN @SDATE AND @EDATE) group by IT.IT_NAME,A.PER
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='16' -- TOTAL BASIC SALES ON WHICH TAX IS CHARGEABLE
SELECT @AMTA2 = ISNULL(SUM(AMT3),0) FROM #FORMVAT3 WHERE PARTSR='16' -- TOTAL INPUT TAX
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'16','TT',0,@AMTA1,0,@AMTA2,'')

-- ITC -CLAIMED:
-- 56- ITC  On Non Capital Goods
SELECT @AMTA1 = ISNULL(AMT3,0) FROM #FORMVAT3 WHERE PARTSR='14' AND SRNO='TT' 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'17','A',4,@AMTA1,0,0,'AAAA')

-- 57- ITC  On Fuel
SELECT @AMTA1 = ISNULL(AMT3,0) FROM #FORMVAT3 WHERE PARTSR='15' AND SRNO='TT'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'17','B',4,@AMTA1,0,0,'AAAA')

-- 58- ITC  On Opening Stock
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'17','C',4,0,0,0,'AAAA')

-- 59- ITC  On Capital Goods 
SELECT @AMTA1 = ISNULL(AMT3,0) FROM #FORMVAT3 WHERE PARTSR='16' AND SRNO='TT'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'17','D',4,@AMTA1,0,0,'AAAA')

-- 60- TOTAL ITC (56+57+58+59)
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='17' AND SRNO IN ('A','B','C','D')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'17','E',4,@AMTA1,0,0,'AAAA')

-- 61- REVERSE TAX CREDIT DUE TO STOCK TRANSFER      (attach details & computation,Annex-12) 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'17','F',4,0,0,0,'AAAA')

-- 62- REVERSE TAX CREDIT DUE TO OTHER REASONS       (attach details ,Annex-13)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'17','G',4,0,0,0,'AAAA')

-- 63-ITC – CLAIMED (60– 61 – 62)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='17' AND SRNO IN ('E') 
SELECT @AMTA2 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='17' AND SRNO IN ('F') 
SELECT @AMTB1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='17' AND SRNO IN ('G')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'17','H',4,(@AMTA1-@AMTA2-@AMTB1),0,0,'AAAA')
--------------------------------------------------------------- E - “INPUT TAX”  ---------------------------------------------------------- END
--------------------------------------------------------------- F – “TAX ACCOUNT”  ---------------------------------------------------------- START
-- 64- TOTAL OUTPUT TAX (STATE )    =33
SELECT @AMTA1 = ISNULL(AMT3,0) FROM #FORMVAT3 WHERE PARTSR='8' AND SRNO='TT'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','A',4,@AMTA1,0,0,'AAAA')

-- 65- Tax Credit B / F	From Prev. Return
DECLARE @STARTDT SMALLDATETIME,@ENDDT SMALLDATETIME,@TMONTH INT,@TYEAR INT
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','B',4,0,0,0,'AAAA')

-- 66- INPUT TAX CREDIT (ITC) - CLAIMED	=63
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='17' AND SRNO IN ('H')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','C',4,@AMTA1,0,0,'AAAA')

-- 67- Tax Credit On Sale Return (attach details)(Annex. 14)
select @AMTA1 = ISNULL(SUM(A.TAXAMT),0) from VATTBL A WHERE A.BHENT='SR' AND A.TAX_NAME LIKE '%VAT%'
AND (DATE BETWEEN @SDATE AND @EDATE) --AND A.ST_TYPE='LOCAL'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','D',4,@AMTA1,0,0,'AAAA')

-- 68- Tax Credit For Other Reasons (attach details)(Annex. 15)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','E',4,0,0,0,'AAAA')

-- 69- TDS (attach details)(Annex. 16)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','F',4,0,0,0,'AAAA')

-- 70- TOTAL TAX CREDIT	(65+66+67+68+69)
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('B','C','D','E','F')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','G',4,@AMTA1,0,0,'AAAA')

-- 71- NET TAX PAYABLE (STATE) (64-70)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('A')
SELECT @AMTA2 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('G')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','H',4,(@AMTA1-@AMTA2),0,0,'AAAA')

-- 72- NET TAX IN EXCESS (70-64)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('G')
SELECT @AMTA2 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('A')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','I',4,(@AMTA1-@AMTA2),0,0,'AAAA')

-- 73- TOTAL OUTPUT TAX (INTERSTATE) =34
SELECT @AMTA1 = ISNULL(AMT3,0) FROM #FORMVAT3 WHERE PARTSR='9' AND SRNO IN ('TT')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','J',4,@AMTA1,0,0,'AAAA')

-- 74- NET CST PAYABLE  (73-72)   
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('J') -- 73
SELECT @AMTA2 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('I') -- 72
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','K',4,(@AMTA1-@AMTA2),0,0,'AAAA')

-- 75- REFUND  CLAIMS (72-73) 
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('I') -- 72
SELECT @AMTA2 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='18' AND SRNO IN ('J') -- 73
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','L',4,(@AMTA1-@AMTA2),0,0,'AAAA')

-- 76- TAX C/F (72-73)        
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'18','M',4,(@AMTA1-@AMTA2),0,0,'AAAA')
--------------------------------------------------------------- F – “TAX ACCOUNT”  ---------------------------------------------------------- END

--------------------------------------------------------------- G- “PAYMENT OF TAX & OTHER DUES”  ---------------------------------------------------------- START
-- 77-   Tax Deposited  (State) 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,PARTY_NM,U_CHALNO,U_CHALDT,ADDRESS,U_MICRNO,AMT1) 
select 1,'19','',0,'0040001020100(VAT)',A.U_CHALNO,A.U_CHALDT,B.AC_NAME,B.U_MICRNO,A.GRO_AMT FROM BPMAIN A
INNER JOIN AC_MAST B ON(A.BANK_NM=B.AC_NAME) WHERE A.DATE BETWEEN @SDATE AND @EDATE AND A.PARTY_NM='VAT PAYABLE' and A.U_NATURE=''

SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='19'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'19','TT',0,@AMTA1,0,0,'')

-- 78-   Tax Deposited  (CST )
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,PARTY_NM,U_CHALNO,U_CHALDT,ADDRESS,U_MICRNO,AMT1) 
select 1,'20','',0,'0040001010100(CST)',A.U_CHALNO,A.U_CHALDT,B.AC_NAME,B.U_MICRNO,A.GRO_AMT FROM BPMAIN A INNER JOIN AC_MAST B ON(A.BANK_NM=B.AC_NAME)
WHERE A.DATE BETWEEN @SDATE AND @EDATE AND A.PARTY_NM='CST PAYABLE' and A.U_NATURE in ('CST','')

SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='20'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'20','TT',0,@AMTA1,0,0,'')

-- 79-Late Fee Deposited
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,PARTY_NM,U_CHALNO,U_CHALDT,ADDRESS,U_MICRNO,AMT1) 
select 1,'21','',0,'0040008000100(L.Fee)',A.U_CHALNO,A.U_CHALDT,B.AC_NAME,B.U_MICRNO,A.GRO_AMT FROM BPMAIN A INNER JOIN AC_MAST B ON(A.BANK_NM=B.AC_NAME)
WHERE A.DATE BETWEEN @SDATE AND @EDATE AND A.PARTY_NM IN ('CST PAYABLE','VAT PAYABLE') AND A.U_NATURE='Late Fees'

SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='21'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'21','TT',0,@AMTA1,0,0,'')

-- 80-  INTEREST  & OTHER DUES DEPOSITED  
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,PARTY_NM,U_CHALNO,U_CHALDT,ADDRESS,U_MICRNO,AMT1) 
select 1,'22','',0,case when A.U_NATURE='INTEREST' then '0040008000100(Int.)' else '0040008000100' end,A.U_CHALNO,A.U_CHALDT,B.AC_NAME,B.U_MICRNO,
A.GRO_AMT FROM BPMAIN A INNER JOIN AC_MAST B ON(A.BANK_NM=B.AC_NAME) WHERE A.DATE BETWEEN @SDATE AND @EDATE AND
A.PARTY_NM IN ('CST PAYABLE','VAT PAYABLE') AND A.U_NATURE not in ('CST','Late Fees','')

SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR='22'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'22','TT',0,@amta1,0,0,'')

-- 81-  E Payment
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'22','EE',0,0,0,0,'')
                                                          
--------------------------------------------------------------- G- “PAYMENT OF TAX & OTHER DUES”  ---------------------------------------------------------- END

-- Declaration
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORMVAT3 WHERE PARTSR IN ('19','20','21','22') AND SRNO='TT'
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'23','A',0,@AMTA1,0,0,'')

--------------------------------------------------------------- “ACKNOWLEDGEMENT” ---------------------------------------------------------- START
DECLARE @PARTY_NM VARCHAR(50)
-- 01- Serial No Of Acknowledgement
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','A',0,0,0,0,'')

-- 02- Date Of  Acknowledgement
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','B',0,0,0,0,'')

-- 03- Office Code of Sector/ Range  =(02)
SELECT @PARTY_NM=(SELECT RCD FROM MANUFACT)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','C',0,0,0,0,@PARTY_NM)

-- 04- Period Of Return =(034
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','D',0,0,0,0,'')

-- 05- TIN Of The Dealer =(01)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','E',0,0,0,0,'')

-- 06- Name and address of the dealer =(05) 
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','F',0,0,0,0,'')

-- 07- Assessment Year =(04)
SELECT @PARTY_NM=YEAR(@EDATE)
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','G',0,0,0,0,@PARTY_NM)

-- 08- NTO (STATE) =(10)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='1' AND SRNO=('E')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','H',0,@AMTA1,0,0,'')

-- 09- NTO (INTER STATE) =(18)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='3' AND SRNO=('C')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','I',0,@AMTA1,0,0,'')

-- 10- GTO (STATE + INTER STATE) =(29)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='4' AND SRNO=('K')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','J',0,@AMTA1,0,0,'')

-- 11- OUTPUT TAX (STATE) =(33)
SELECT @AMTA1 = ISNULL(AMT3,0) FROM #FORMVAT3 WHERE PARTSR='8' AND SRNO=('TT')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','K',0,@AMTA1,0,0,'')

-- 12- OUTPUT TAX (INTER  STATE) =(34)
SELECT @AMTA1 = ISNULL(AMT3,0) FROM #FORMVAT3 WHERE PARTSR='9' AND SRNO=('TT')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','L',0,@AMTA1,0,0,'')

-- 13- ITC – CLAIMED =(63)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='17' AND SRNO=('H')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','M',0,@AMTA1,0,0,'')

-- 14- TAX DEPOSITED (STATE) =(77)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='19' AND SRNO=('TT')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','N',0,@AMTA1,0,0,'')

-- 15- TAX DEPOSITED (CST) =(78)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='20' AND SRNO=('TT')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','O',0,@AMTA1,0,0,'')

-- 16- LATE FEE DEPOSITED =(79)
SELECT @AMTA1 = ISNULL(AMT1,0) FROM #FORMVAT3 WHERE PARTSR='21' AND SRNO=('TT')
INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'24','P',0,@AMTA1,0,0,'')
--------------------------------------------------------------- “ACKNOWLEDGEMENT” ---------------------------------------------------------- END
SELECT * FROM #FORMVAT3 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)        

END  
----Print 'UA VAT FORM 03'      
