DROP PROCEDURE [USP_REP_STKRESRN_SRINV_SUM_TRACKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************--
-- Procedure Name :	USP_REP_STKRESRN_SRINV_SUM_TRACKER
-- Description	  : Procedure to get the Order details of the for which the stock have been reserved
-- Created By/On/For : Sachin N. S. on 02/04/2014 for Bug-22207
--****************************************************************************--
CREATE PROCEDURE [USP_REP_STKRESRN_SRINV_SUM_TRACKER]
@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SPARTY_NM AS VARCHAR(50),@EPARTY_NM AS VARCHAR(50)
,@SITEM AS VARCHAR(50),@EITEM AS VARCHAR(50)
AS
DECLARE @SQLCOMMAND NVARCHAR(4000)

SET @SQLCOMMAND='SELECT B.DATE,B.INV_SR,B.INV_NO,B.PARTY_NM,C.ITEM_NO,C.ITEM,C.QTY,A.ALLOCQTY,C.RE_QTY,C.QTY-A.ALLOCQTY AS BAL_QTY, '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'C.ENTRY_TY,C.TRAN_CD,C.ITSERIAL,A.ENTRY_TY + LTRIM(RTRIM(CAST(A.TRAN_CD AS VARCHAR)))+A.ITSERIAL AS PRIM_KEY '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM STKRESRVSUM A '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN SOMAIN B ON A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN SOITEM C ON A.ENTRY_TY=C.ENTRY_TY AND A.TRAN_CD=C.TRAN_CD AND A.ITSERIAL=C.ITSERIAL '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'WHERE (B.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' AND '+CHAR(39)+cast(@EDATE as varchar)+CHAR(39)+') '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND (B.PARTY_NM BETWEEN '+CHAR(39)+@SPARTY_NM+CHAR(39)+' AND '+CHAR(39)+@EPARTY_NM+CHAR(39)+') '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND (C.ITEM BETWEEN '+CHAR(39)+@SITEM+CHAR(39)+' AND '+CHAR(39)+@EITEM+CHAR(39)+') '

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
