IF EXISTS(SELECT XTYPE,NAME FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_UA_ANNEXURE_17C')
BEGIN
	DROP PROCEDURE USP_REP_UA_ANNEXURE_17C
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=============================================
  =============================================
  Author  :Surajmal Kumawat
  Created Date : 10-06-2015
  Modify by :
  Modify Date :
  =============================================
  =============================================
	EXECUTE USP_REP_UA_ANNEXURE_17C '','','','04/01/2013','03/31/2016','','','','',0,0,'','','','','','','','','2013-2016',''
*/      
CREATE PROCEDURE [dbo].[USP_REP_UA_ANNEXURE_17C]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME        
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)        
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)        
,@SAMT FLOAT,@EAMT FLOAT        
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)        
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)        
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)        
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)        
,@LYN VARCHAR(20)        
,@EXPARA  AS VARCHAR(60)= null        
AS        
BEGIN 
Declare @MCON as NVARCHAR(2000),@FCON as NVARCHAR(2000)
 EXECUTE USP_REP_SINGLE_CO_DATA_VAT 
  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
 ,@MFCON = @MCON OUTPUT

 SELECT  A.S_TAX, AC.ac_name,(ISNULL(AC.add1,'') +' '+ISNULL(AC.add2,'')+' '+ISNULL(AC.add3,'') ) AS ADDRESS,AC.state
 ,PT.U_PONO,PT.U_PODT,A.INV_NO,PT.U_PINVDT,BFINV_DATE=case when PT.U_PINVDT < @SDATE THEN A.Date ELSE CAST('1900/01/01' As Smalldatetime) END,IT.it_name ,PT.U_NT,A.VATONAMT,A.TAXAMT, (A.GRO_AMT -(A.VATONAMT+A.TAXAMT)) AS CHARGES ,A.GRO_AMT 
 FROM VATTBL A INNER JOIN AC_MAST AC 
 ON (A.AC_ID =AC.Ac_id ) INNER JOIN PTMAIN PT ON (PT.entry_ty =A.BHENT AND PT.Tran_cd =A.TRAN_CD )
 INNER JOIN IT_MAST IT ON (A.It_code =IT.It_code ) 
 WHERE (A.Date BETWEEN @SDATE AND @EDATE) AND A.BHENT ='PT' AND A.FORM_NM IN('C','C FORM','FORM C', 'FORM - C', 'C - FORM', 'FORM-C', 'C-FORM') ORDER BY A.INV_NO,A.Date 
END  
