DROP PROCEDURE [USP_REP_STK_LST_QC_DADOS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Amrendra
-- Create date: 08/11/2012
-- Description:	This is useful for Excise stock list report with QC Values for Dados.This is sub stored procedure.
-- Modify date: 
-- =============================================
CREATE PROCEDURE [USP_REP_STK_LST_QC_DADOS]
@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
AS
SET QUOTED_IDENTIFIER OFF
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)




DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(4000)

SELECT  STKL_VW_ITEM.ENTRY_TY,BEH='  ',STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.QcHoldQTY,STKL_VW_ITEM.QcAceptQTY,STKL_VW_ITEM.QcRejQTY,STKL_VW_ITEM.QcRturnQTY,STKL_VW_ITEM.QcWasteQTY,STKL_VW_ITEM.QcProcloss,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT 
INTO #TITEM FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD )
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)
INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)
WHERE 1=2

SET @SQLCOMMAND='INSERT INTO  #TITEM SELECT  IVW.ENTRY_TY
				,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END),IVW.DATE,IVW.DOC_NO
				,IVW.AC_ID,IVW.IT_CODE,IVW.QTY,IVW.QcHoldQTY,IVW.QcAceptQTY,IVW.QcRejQTY,IVW.QcRturnQTY
				,IVW.QcWasteQTY,IVW.QcProcloss,IVW.U_LQTY,IVW.ITSERIAL,IVW.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP]
				,IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  FROM STKL_VW_ITEM IVW'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_MAIN MVW ON (IVW.TRAN_CD=MVW.TRAN_CD AND IVW.ENTRY_TY=MVW.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=IVW.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=MVW.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN LCODE  ON (IVW.ENTRY_TY=LCODE.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN It_Advance_Setting ADV ON IVW.IT_CODE=ADV.IT_CODE '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' where IT_MAST.IT_NAME BETWEEN '+char(39)+@SIT+char(39)+' AND '+char(39)+@EIT+char(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' and IVW.DATE BETWEEN '+char(39)+CAST(@SDATE AS VARCHAR)+char(39)+' AND '+char(39)+CAST(@EDATE AS VARCHAR)+char(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND MVW.APGEN='+CHAR(39)+'YES'+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IVW.DC_NO='+CHAR(39)+' '+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND ADV.QCPROCESS=1'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
--select * from #TITEM
--Select DESCRIPTION = IT_NAME,RATEUNIT,OPBAL = QTY,RQTY_PT = QTY,RQTY_OP = QTY,RQTY_IR = QTY,RQTY_SR = QTY
--	,RQTY_AR = QTY,RQTY_OT = QTY,IQTY_ST = QTY,IQTY_DC = QTY,IQTY_IP = QTY,IQTY_II = QTY,IQTY_PR = QTY
--	,IQTY_OT = QTY,CLBAL = QTY	
--	,PT_QCHOLDQTY = QCHOLDQTY,PT_QCACEPTQTY = QCACEPTQTY,PT_QCREJQTY  = QCREJQTY,PT_QCRTURNQTY = QCRTURNQTY,PT_QCWASTEQTY = QCWASTEQTY,PT_QCPROCLOSS = QCPROCLOSS
--	,OP_QCHOLDQTY = QCHOLDQTY,OP_QCACEPTQTY  = QCACEPTQTY,OP_QCREJQTY  = QCREJQTY,OP_QCRTURNQTY = QCRTURNQTY,OP_QCWASTEQTY = QCWASTEQTY,OP_QCPROCLOSS = QCPROCLOSS
--	,IR_QCHOLDQTY = QCHOLDQTY,IR_QCACEPTQTY  = QCACEPTQTY,IR_QCREJQTY  = QCREJQTY,IR_QCRTURNQTY = QCRTURNQTY,IR_QCWASTEQTY = QCWASTEQTY,IR_QCPROCLOSS = QCPROCLOSS
--	,SR_QCHOLDQTY = QCHOLDQTY,SR_QCACEPTQTY  = QCACEPTQTY,SR_QCREJQTY  = QCREJQTY,SR_QCRTURNQTY = QCRTURNQTY,SR_QCWASTEQTY = QCWASTEQTY,SR_QCPROCLOSS = QCPROCLOSS
--	,AR_QCHOLDQTY = QCHOLDQTY,AR_QCACEPTQTY  = QCACEPTQTY,AR_QCREJQTY  = QCREJQTY,AR_QCRTURNQTY = QCRTURNQTY,AR_QCWASTEQTY = QCWASTEQTY,AR_QCPROCLOSS = QCPROCLOSS
--	,OT_QCHOLDQTY = QCHOLDQTY,OT_QCACEPTQTY  = QCACEPTQTY,OT_QCREJQTY  = QCREJQTY,OT_QCRTURNQTY = QCRTURNQTY,OT_QCWASTEQTY = QCWASTEQTY,OT_QCPROCLOSS = QCPROCLOSS
--into #TITEM2 from #TITEM where 1=2 

--Insert into #TITEM2 SELECT A.IT_NAME,A.RATEUNIT
					  SELECT A.IT_NAME,A.RATEUNIT
,OPBAL =SUM(CASE WHEN (A.BEH ='OS' OR A.DATE<CAST(@SDATE AS VARCHAR)) THEN (CASE WHEN A.PMKEY='+' THEN A.QTY ELSE -A.QTY END) ELSE 0 END)
,RQTY_PT = SUM(CASE WHEN A.BEH ='PT' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,RQTY_OP = SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,RQTY_IR = SUM(CASE WHEN A.BEH ='IR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,RQTY_SR = SUM(CASE WHEN A.BEH ='SR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,RQTY_AR=SUM(CASE WHEN A.BEH ='AR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,RQTY_OT=SUM(CASE WHEN A.BEH NOT IN ('OS','PT','OP','IR','SR','AR') AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)

,PT_QCHOLDQTY = SUM(CASE WHEN A.BEH ='PT' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCHOLDQTY ELSE 0 END)
,PT_QCACEPTQTY = SUM(CASE WHEN A.BEH ='PT' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCACEPTQTY ELSE 0 END)
,PT_QCREJQTY = SUM(CASE WHEN A.BEH ='PT' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCREJQTY ELSE 0 END)
,PT_QCRTURNQTY = SUM(CASE WHEN A.BEH ='PT' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCRTURNQTY ELSE 0 END)
,PT_QCWASTEQTY = SUM(CASE WHEN A.BEH ='PT' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCWASTEQTY ELSE 0 END)
,PT_QCPROCLOSS = SUM(CASE WHEN A.BEH ='PT' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCPROCLOSS ELSE 0 END)

,OP_QCHOLDQTY = SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCHOLDQTY ELSE 0 END)
,OP_QCACEPTQTY = SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCACEPTQTY ELSE 0 END)
,OP_QCREJQTY = SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCREJQTY ELSE 0 END)
,OP_QCRTURNQTY = SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCRTURNQTY ELSE 0 END)
,OP_QCWASTEQTY = SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCWASTEQTY ELSE 0 END)
,OP_QCPROCLOSS = SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCPROCLOSS ELSE 0 END)

,IR_QCHOLDQTY = SUM(CASE WHEN A.BEH ='IR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCHOLDQTY ELSE 0 END)
,IR_QCACEPTQTY = SUM(CASE WHEN A.BEH ='IR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCACEPTQTY ELSE 0 END)
,IR_QCREJQTY = SUM(CASE WHEN A.BEH ='IR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCREJQTY ELSE 0 END)
,IR_QCRTURNQTY = SUM(CASE WHEN A.BEH ='IR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCRTURNQTY ELSE 0 END)
,IR_QCWASTEQTY = SUM(CASE WHEN A.BEH ='IR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCWASTEQTY ELSE 0 END)
,IR_QCPROCLOSS = SUM(CASE WHEN A.BEH ='IR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCPROCLOSS ELSE 0 END)

,SR_QCHOLDQTY = SUM(CASE WHEN A.BEH ='SR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCHOLDQTY ELSE 0 END)
,SR_QCACEPTQTY = SUM(CASE WHEN A.BEH ='SR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCACEPTQTY ELSE 0 END)
,SR_QCREJQTY = SUM(CASE WHEN A.BEH ='SR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCREJQTY ELSE 0 END)
,SR_QCRTURNQTY = SUM(CASE WHEN A.BEH ='SR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCRTURNQTY ELSE 0 END)
,SR_QCWASTEQTY = SUM(CASE WHEN A.BEH ='SR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCWASTEQTY ELSE 0 END)
,SR_QCPROCLOSS = SUM(CASE WHEN A.BEH ='SR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCPROCLOSS ELSE 0 END)

,AR_QCHOLDQTY = SUM(CASE WHEN A.BEH ='AR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCHOLDQTY ELSE 0 END)
,AR_QCACEPTQTY = SUM(CASE WHEN A.BEH ='AR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCACEPTQTY ELSE 0 END)
,AR_QCREJQTY = SUM(CASE WHEN A.BEH ='AR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCREJQTY ELSE 0 END)
,AR_QCRTURNQTY = SUM(CASE WHEN A.BEH ='AR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCRTURNQTY ELSE 0 END)
,AR_QCWASTEQTY = SUM(CASE WHEN A.BEH ='AR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCWASTEQTY ELSE 0 END)
,AR_QCPROCLOSS = SUM(CASE WHEN A.BEH ='AR' AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCPROCLOSS ELSE 0 END)

,OT_QCHOLDQTY = SUM(CASE WHEN A.BEH NOT IN ('OS','PT','OP','IR','SR','AR') AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCHOLDQTY ELSE 0 END)
,OT_QCACEPTQTY = SUM(CASE WHEN A.BEH NOT IN ('OS','PT','OP','IR','SR','AR') AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCACEPTQTY ELSE 0 END)
,OT_QCREJQTY = SUM(CASE WHEN A.BEH NOT IN ('OS','PT','OP','IR','SR','AR') AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCREJQTY ELSE 0 END)
,OT_QCRTURNQTY = SUM(CASE WHEN A.BEH NOT IN ('OS','PT','OP','IR','SR','AR') AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCRTURNQTY ELSE 0 END)
,OT_QCWASTEQTY = SUM(CASE WHEN A.BEH NOT IN ('OS','PT','OP','IR','SR','AR') AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCWASTEQTY ELSE 0 END)
,OT_QCPROCLOSS = SUM(CASE WHEN A.BEH NOT IN ('OS','PT','OP','IR','SR','AR') AND A.PMKEY='+' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QCPROCLOSS ELSE 0 END)

,IQTY_ST  =SUM(CASE WHEN A.BEH ='ST' AND A.PMKEY='-' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,IQTY_DC  =SUM(CASE WHEN A.BEH ='DC' AND A.PMKEY='-' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END) --Added By Hetal TKT-616 Dt 10032010
,IQTY_IP  =SUM(CASE WHEN A.BEH ='IP' AND A.PMKEY='-' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,IQTY_II  =SUM(CASE WHEN A.BEH ='II' AND A.PMKEY='-' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,IQTY_PR  =SUM(CASE WHEN A.BEH ='PR' AND A.PMKEY='-' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END)
,IQTY_OT  =SUM(CASE WHEN A.BEH NOT IN ('ST','IP','II','PR','DC') AND A.PMKEY='-' AND A.DATE>=CAST(@SDATE AS VARCHAR) THEN A.QTY ELSE 0 END) --Added By Hetal TKT-616 Dt 10032010
,CLBAL    =SUM(CASE WHEN  A.PMKEY='+' THEN A.QTY ELSE -A.QTY END)
--FROM #TITEM A
into #TITEM2 FROM #TITEM A
 GROUP BY A.IT_NAME,A.RATEUNIT
 ORDER BY A.IT_NAME,A.RATEUNIT

PRINT @SQLCOMMAND+@VCOND
EXECUTE (@SQLCOMMAND+@VCOND)

Select IT_NAME 'Goods Name',RATEUNIT 'Rate Unit' ,OPBAL 'Opening Stock'
	,RQTY_PT+RQTY_AR Purchases,PT_QCHOLDQTY+AR_QCHOLDQTY 'QC Hold Qty(Purchases)'
	,PT_QCACEPTQTY+AR_QCACEPTQTY 'QC Passed Qty(Purchases)'
	,PT_QCREJQTY+AR_QCREJQTY 'QC Rejected Qty(Purchases)'
	,PT_QCRTURNQTY+AR_QCRTURNQTY 'Returned to Store Qty After Test(Purchases)'
	,PT_QCWASTEQTY+AR_QCWASTEQTY 'Waste Qty After Test(Purchases)'
	,PT_QCPROCLOSS+AR_QCPROCLOSS 'Process Loss Qty during Test(Purchases)'
	,RQTY_OP 'Output From Production'
	,OP_QCHOLDQTY 'QC Hold Qty(Output From Production)'
	,OP_QCACEPTQTY 'QC Passed Qty(Output From Production)'
	,OP_QCREJQTY 'QC Rejected Qty(Output From Production)'
	,OP_QCRTURNQTY 'Returned to Store Qty After Test(Output From Production)'
	,OP_QCWASTEQTY 'Waste Qty After Test(Output From Production)'
	,OP_QCPROCLOSS 'Process Loss Qty during Test(Output From Production)'
	,RQTY_IR 'Inter-Dept Receipt'
	,IR_QCHOLDQTY 'QC Hold Qty(Inter-Dept Receipt)'
	,IR_QCACEPTQTY 'QC Passed Qty(Inter-Dept Receipt)'
	,IR_QCREJQTY 'QC Rejected Qty(Inter-Dept Receipt)'
	,IR_QCRTURNQTY 'Returned to Store Qty After Test(Inter-Dept Receipt)'
	,IR_QCWASTEQTY 'Waste Qty After Test(Inter-Dept Receipt)'
	,IR_QCPROCLOSS 'Process Loss Qty during Test(Inter-Dept Receipt)'
	,RQTY_SR 'Sales Return'
	,SR_QCHOLDQTY 'QC Hold Qty(Sales Return)'
	,SR_QCACEPTQTY 'QC Passed Qty(Sales Return)'
	,SR_QCREJQTY 'QC Rejected Qty(Sales Return)'
	,SR_QCRTURNQTY 'Returned to Store Qty After Test(Sales Return)'
	,SR_QCWASTEQTY 'Waste Qty After Test(Sales Return)'
	,SR_QCPROCLOSS 'Process Loss Qty during Test(Sales Return)'	
	,IQTY_ST+IQTY_DC 'Sales'
	,IQTY_IP 'Input to Production',IQTY_II 'Inter-Dept Issue',IQTY_PR 'Purchase Return',CLBAL 'Closing Stock' 
from #TITEM2

DROP TABLE #TITEM
DROP TABLE #TITEM2
GO
