DROP PROCEDURE [USP_REP_ltpay_int3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Birendra Prasad
-- Create date: 17/08/2011
-- Description:	This Stored procedure is useful to INTEREST ON LATE PAYEMENT (WITH DEBIT NOTE) Report.
-- Modify date: 
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================

Create PROCEDURE [USP_REP_ltpay_int3]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000)
,@SDATE  SMALLDATETIME ,@EDATE  SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

--
--SELECT PTMAIN.TRAN_CD,PTMAIN.INV_SR,PTMAIN.DEPT,PTMAIN.U_PINVNO AS "BILL NO",PTMAIN.U_PINVDT AS "BILL DATE",PTMAIN.L_YN,
--PTMAIN.NET_AMT AS "BILL AMOUNT",PTMAIN.U_BROKER AS "BROKER",PTMAIN.U_BROK_AMT AS "BROKERAGE AMT",
--PTMAIN.PARTY_NM,PTMAIN.U_BRKPMT AS "BRKPMTON",qty=sum(PTITEM.QTY),it_mast.rateunit
--INTO #PEND_ALL FROM PTMAIN 
--left JOIN PTITEM 
--ON PTMAIN.TRAN_CD=PTITEM.TRAN_CD
--INNER JOIN IT_MAST 
--ON PTITEM.IT_CODE=IT_MAST.IT_CODE
--WHERE PTMAIN.DEPT='No Brokerage' AND PTMAIN.L_YN='2008-2009'
--GROUP BY PTMAIN.TRAN_CD,PTMAIN.INV_SR,PTMAIN.DEPT,PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,PTMAIN.L_YN,PTMAIN.NET_AMT,PTMAIN.U_BROKER,
--PTMAIN.U_BROK_AMT,PTMAIN.PARTY_NM,PTMAIN.U_BRKPMT,it_mast.rateunit
--ORDER BY PTMAIN.U_PINVDT
--
--
--
--
--SELECT * FROM #PEND_ALL 
--
--DROP TABLE #PEND_ALL

SELECT DI.DESCI,DI.INTPER AS U_INTPER,DI.INTAMT AS INT_AMOUNT,DI.LTDAYS,DI.BRDATE,DI.RECDAMT,
DI.SBILLAMT,DI.SBDATE,DI.SBILLNO,DI.SINVSR,DI.SDUEDT AS SBDUEDT,DM.INV_NO AS DNINV_NO,DM.DATE AS DNDATE,
DM.INV_SR,DM.L_YN,DM.CATE,DM.DUE_DT,DM.FORM_NM,DM.ENTRY_TY,DM.TRAN_CD,
CONVERT(VARCHAR(500),DM.NARR) AS DINARR,DM.NET_AMT,
DI.QTY,DI.RATE,DI.GRO_AMT,DI.ITEM_NO,AC.MAILNAME,AC.ADD1,AC.ADD2,AC.ADD3,
AC.CITY,AC.STATE,AC.COUNTRY,AC.ZIP,AC.I_TAX,S_TAX='',C_TAX='',IT.RATEUNIT,IT.IT_NAME 
INTO #INT3 FROM DNMAIN DM 
LEFT JOIN DNITEM DI ON DM.TRAN_CD = DI.TRAN_CD 
INNER JOIN AC_MAST AC  ON AC.AC_ID =DM.AC_ID 
INNER JOIN IT_MAST IT ON IT.IT_CODE=DI.IT_CODE 
WHERE DM.ENTRY_TY='D3' and DI.SBDATE between @sdate and @edate and ac.mailname between @sac and @eac
ORDER BY AC.MAILNAME,DI.SBDATE,DI.SBILLNO

SELECT * FROM #INT3

DROP TABLE #INT3
GO
