set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER     PROCEDURE [dbo].[USP_REP_FORM_ER3]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
AS
EXECUTE USP_REP_SPLCOND @SPLCOND=@SPLCOND OUTPUT

DECLARE  @ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@DOC_NO VARCHAR(10),@AC_ID INT,@IT_CODE NUMERIC(10),@ITSERIAL VARCHAR(5),@RULE VARCHAR(20),@IT_NAME VARCHAR(100),@CHAPNO VARCHAR(10),@RATEUNIT VARCHAR(10),@EIT_NAME VARCHAR(100),@ITGRID INT,@TRAN_CD INT,@CHAR1 NUMERIC(2),@INV_NO VARCHAR(10),@DEPT VARCHAR(20),@CATE VARCHAR(20),@INV_SR VARCHAR(20),@AC_NAME VARCHAR(100),@CNT_CER1_3_2 INT
DECLARE @OPBAL NUMERIC(17,5),@RECEIPT NUMERIC(17,5),@ISSUE NUMERIC(17,5),@BALANCE NUMERIC(17,5),@LOPBAL NUMERIC(17,5),@LRECEIPT NUMERIC(17,5),@LISSUE NUMERIC(17,5),@LBALANCE NUMERIC(17,5),@QM CHAR(1),@CDATE SMALLDATETIME,@E_DUTY NUMERIC(12,3),@E_NAME VARCHAR(100),@E_PER NUMERIC(5,3),@SRNO CHAR(1),@PAC_ID INT,@PARTY_NM VARCHAR(100),@FDATE VARCHAR(10)
DECLARE @SRNO1 INT,@PER1 CHAR(20),@DUTY1 CHAR(20),@DESC1 CHAR(50),@EPER CHAR(20),@EAMT CHAR(20),@SHORTNM1 VARCHAR(40),@U_ARREARS VARCHAR(40),@CHEQ_NO VARCHAR(40),@CNT INT,@OBACID INT
DECLARE @VCOND NVARCHAR(1000),@SQLCOMMAND NVARCHAR(4000)
DECLARE @SMONTH INT,@EMONTH INT,@SYEAR INT,@EYEAR INT,@SDATE1  SMALLDATETIME,@EDATE1 SMALLDATETIME,@RVAL INT

-- ((INLI(LITEM.ENTRY_TY,'S ','PR') OR INLI(LITEM.ENTRY_TY,'OP','IR')) AND ALLT(LMAIN.RULE)!='NON-MODVATABLE')
SET @VCOND=@SPLCOND
EXECUTE USP_REP_WH_COND @TMPAC =@TMPAC,@TMPIT =@TMPIT,@SPLCOND=@SPLCOND,@VCOND=@VCOND OUTPUT

--SET @VCOND='CHARINDEX(RTRIM(STKL_VW_MAIN.ENTRY_TY),'+CHAR(39)+'ST,PR,OP,IR'+CHAR(39)+',1) <>0 AND STKL_VW_MAIN.[RULE] NOT IN ('+CHAR(39)+'NON-MODVATABLE'+CHAR(39)+')'



----<CHECK MANUFACT.DBDATE TO CONCIDER DATE OR U_CLDT FIELD FOR ACCOUNTING >
SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT
----<CHECK AC_ID FOR OP BAL. >
SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING BALANCES '

----<CREATE  #TBLER1 TABLE TO STORE FINAL DATA >
SELECT 
A.TRAN_CD,PAC_ID=A.AC_ID,A.INV_NO,A.DEPT,A.CATE,A.INV_SR, A.[RULE],
B.ENTRY_TY,B.DOC_NO,B.DATE,B.IT_CODE,B.ITSERIAL,
OPBAL=C.AMOUNT,RECEIPT =C.AMOUNT,ISSUE =C.AMOUNT,BALANCE =C.AMOUNT,LOPBAL =C.AMOUNT,LRECEIPT =C.AMOUNT,LISSUE =C.AMOUNT,LBALANCE =C.AMOUNT,E_DUTY=C.AMOUNT,CDATE =C.DATE,
D.ITGRID,D.CHAPNO,D.RATEUNIT,D.EIT_NAME,
E_NAME=E.AC_NAME,PARTY_NM=E.AC_NAME,
QM='A',SRNO='A',E_PER=33.33
INTO #TBLER1
FROM STKL_VW_MAIN A
LEFT JOIN  STKL_VW_ITEM B ON (A.TRAN_CD=B.TRAN_CD)
LEFT JOIN  EX_VW_ACDET C ON (A.TRAN_CD=C.TRAN_CD)
LEFT JOIN IT_MAST D ON (B.IT_CODE=D.IT_CODE)
LEFT JOIN AC_MAST E ON (A.AC_ID=E.AC_ID)
WHERE 1=2


----<CREATE #TMPER1  TEMPORARY TABLE TO STORE DATA  >
SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.ITSERIAL,STKL_VW_MAIN.[RULE],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.RATEUNIT,IT_MAST.EIT_NAME,IT_MAST.ITGRID,STKL_VW_MAIN.TRAN_CD,PARTY_NM=AC_MAST.AC_NAME,CDATE=STKL_VW_ITEM.DATE  INTO #TMPER1 FROM STKL_VW_MAIN 
LEFT JOIN STKL_VW_ITEM ON (STKL_VW_MAIN.TRAN_CD=STKL_VW_ITEM.TRAN_CD) LEFT  JOIN EX_VW_ACDET  ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD) 
LEFT JOIN AC_MAST ON (STKL_VW_MAIN.AC_ID =AC_MAST.AC_ID)  LEFT   JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE =IT_MAST.IT_CODE)   WHERE 1=2

----<GENEARTE STRING TO INSERT INTO #TMPER1  WITH CUST0MISED WHERE CONDITION FOR QTY PART>
SET @SQLCOMMAND='  INSERT INTO #TMPER1 SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.ITSERIAL,STKL_VW_MAIN.[RULE],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.RATEUNIT,(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END),IT_MAST.ITGRID,STKL_VW_MAIN.TRAN_CD,PARTY_NM=AC_MAST.AC_NAME,STKL_VW_MAIN.DATE FROM STKL_VW_MAIN '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' INNER  JOIN STKL_VW_ITEM ON (STKL_VW_MAIN.TRAN_CD=STKL_VW_ITEM.TRAN_CD) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' LEFT   JOIN AC_MAST ON (STKL_VW_MAIN.AC_ID =AC_MAST.AC_ID) ' +  ' LEFT   JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE =IT_MAST.IT_CODE)  '


SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@VCOND)



IF CHARINDEX('WHERE',@SQLCOMMAND)=0
BEGIN
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  WHERE '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  (STKL_VW_ITEM.DATE BETWEEN '+CHAR(39)+CAST(@SDATE  AS VARCHAR)+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE  AS VARCHAR)+CHAR(39)+' ) ' 
END
ELSE
BEGIN
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  AND (STKL_VW_ITEM.DATE BETWEEN '+CHAR(39)+CAST(@SDATE  AS VARCHAR)+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE  AS VARCHAR)+CHAR(39)+' ) ' 
END
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' ORDER BY  '+ 'CASE WHEN STKL_VW_ITEM.ENTRY_TY='+CHAR(39)+'ST'+CHAR(39)+ ' THEN '+ CHAR(39)+'A'+CHAR(39)+'  ELSE ' +CHAR(39)+'B'+CHAR(39) +' END '
--PRINT @SQLCOMMAND

EXEC SP_EXECUTESQL  @SQLCOMMAND

---<SET VARIABLE FOR MNTH-YEAR FOR WHICH RECORDS WILL BE GENERATE>
SET @SMONTH=MONTH(@SDATE)
SET @EMONTH=MONTH(@EDATE)

SET @SYEAR=YEAR(@SDATE)
SET @EYEAR=YEAR(@EDATE)


IF @SMONTH=13 BEGIN
   SET @SMONTH=1
   SET @SYEAR=@SYEAR+1
END


----<RUN THE LOOP FOR EACH MONTH AND DATE OF YAER>
DECLARE @I INT
SET @I=0
WHILE NOT ((@SYEAR>@EYEAR) OR ((@SYEAR=@EYEAR) AND @SMONTH>@EMONTH))  BEGIN
	
	IF @SYEAR>@EYEAR BEGIN
	   BREAK
	END	
	IF (@SYEAR=@EYEAR)BEGIN
		IF @SMONTH>@EMONTH BEGIN
		   BREAK
		END
	END	
	EXEC USP_REP_CHKEDATE @SMONTH,@RVAL OUTPUT
	---<CALCULATE TEMPORARY @SDATE1,@EDATE1 TO FETCH MONTHWISE RECODS>
	SET @I=@I+1
	IF @I=1 BEGIN
		SET @SDATE1=CAST((CAST (@SYEAR AS VARCHAR)+'/'+CAST (@SMONTH AS VARCHAR(2))+'/'+CAST (DAY(@SDATE) AS VARCHAR(2))) AS SMALLDATETIME)
		SET @EDATE1=CAST((CAST (@SYEAR AS VARCHAR)+'/'+CAST (@SMONTH AS VARCHAR(2))+'/'+CAST (@RVAL AS VARCHAR(2))) AS SMALLDATETIME)
	END
		
	ELSE BEGIN
		SET @SDATE1=CAST((CAST (@SYEAR AS VARCHAR)+'/'+CAST (@SMONTH AS VARCHAR(2))+'/'+CAST (1 AS VARCHAR(2))) AS SMALLDATETIME)
		IF @SMONTH=MONTH(@EDATE) AND @SYEAR=YEAR(@EDATE) 
		BEGIN
			SET @EDATE1=@EDATE
		END
		ELSE
		BEGIN
			SET @EDATE1=CAST((CAST (@SYEAR AS VARCHAR)+'/'+CAST (@SMONTH AS VARCHAR(2))+'/'+CAST (@RVAL AS VARCHAR(2))) AS SMALLDATETIME)
		END
	END

	---------------->PART- 3 START------------------>
	---<INITIALIZE ENTRY VARIABLES>
	SET @TRAN_CD=0
	SET @PAC_ID=0
	SET @INV_NO=' '
	SET @DEPT=' '
	SET @CATE=' '
	SET @INV_SR=' '
	SET @RULE=' '
	SET @ENTRY_TY=' '
	SET @DOC_NO=' '
	SET @DATE=@SDATE
	SET @ITSERIAL=' '
	SET @OPBAL=0
	SET @RECEIPT=0
	SET @ISSUE=0
	SET @BALANCE=0
	SET @LOPBAL=0
	SET @LRECEIPT=0
	SET @LISSUE=0
	SET @LBALANCE=0
	SET @E_DUTY=0
	SET @CDATE=@SDATE
	SET @ITGRID=0
	SET @CHAPNO=' '
	SET @RATEUNIT=' '
	SET @EIT_NAME=' '
	SET @E_NAME= ' '
	SET @QM=' '
	SET @SRNO=' '
	SET @E_PER=0

	
	---<CREATE @CER1_3_1_ST CURSOR FOR 'OP' AND 'ST' AND WHERE (@DATE BETWEEN @SDATE1 AND @EDATE1)>
	DECLARE  @CER1_3_1_ST NUMERIC(1),@CER1_3_2_ST NUMERIC(1)
	DECLARE  CER1_3_1 CURSOR FOR 
	SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,ITSERIAL,[RULE],IT_NAME,CHAPNO,RATEUNIT,EIT_NAME,ITGRID,TRAN_CD ,PARTY_NM,CDATE
	FROM  #TMPER1 WHERE (@DATE BETWEEN @SDATE1 AND @EDATE1)
	ORDER BY  CHAPNO,EIT_NAME,[RULE],(CASE WHEN ENTRY_TY='ST' THEN 'A'  ELSE 'B' END ),DATE

	OPEN CER1_3_1 
	FETCH NEXT FROM CER1_3_1 INTO 
	@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@ITSERIAL,@RULE,@IT_NAME,@CHAPNO,@RATEUNIT,@EIT_NAME,@ITGRID,@TRAN_CD,@PARTY_NM,@CDATE
	
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @CHAR1=0
		 IF  @ENTRY_TY='OP '
		 BEGIN
			
			---<INSERT 'OP' ENTRY IN FINAL TABLE WITH QM=3,@SRNO='A'>
			SET @QM=3
			SET @SRNO='A'
			SET @E_DUTY=0
			--SET @E_NAME=' 1CENVAT'
			INSERT INTO #TBLER1 (
			TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
			E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
			OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
			VALUES (
			@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,
			@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,@QM,@SRNO,@E_PER,
			@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
		END -- @ENTRY_TY='OP '
		
		SET @CNT_CER1_3_2=0		
		IF  @ENTRY_TY='ST'
		BEGIN
			---<INSERT 'ST' ENTRY IN #TBLER1 FINAL TABLE WITH QM=3>
			---<CREATE @CER1_3_2_ST CURSOR FOR SALES FOR DIFFERENT DUTY DESCRIPTION-PERCENTAGWISE RECORDS INSERTION FOR ABOVE CURSOR @CER1_3_1_ST>	
			DECLARE CER1_3_2  CURSOR FOR
			SELECT DISTINCT SRNO,PER,DUTY,[desc] FROM EXCISE WHERE PER<>' '
			OPEN  CER1_3_2

			
			FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@DESC1
			
			WHILE @@FETCH_STATUS=0
			BEGIN
			
				SET @DESC1=' '+CAST(@SRNO1 AS CHAR(1))+@DESC1
				--PRINT @DESC1
					SET @CHAR1=@CHAR1+1
					SET  @SQLCOMMAND=' DECLARE CER1_3_3  CURSOR FOR SELECT '+@PER1+','+@DUTY1+	'  FROM STITEM WHERE ( (CAST(TRAN_CD AS VARCHAR)='+CHAR(39)+CAST(@TRAN_CD AS VARCHAR)+CHAR(39)+')  AND CAST(DATE  AS NVARCHAR)='+CHAR(39)+CAST(@DATE  AS NVARCHAR)+CHAR(39)+' AND ITSERIAL=RTRIM('+CHAR(39)+@ITSERIAL+CHAR(39)+')) '
					
					EXECUTE SP_EXECUTESQL @SQLCOMMAND
					OPEN CER1_3_3
						
						FETCH NEXT FROM CER1_3_3 INTO @EPER,@EAMT
						CLOSE  CER1_3_3
						DEALLOCATE CER1_3_3

						
						SET @E_PER=CASE WHEN @EPER IS NULL THEN ' ' ELSE @EPER END
					

						IF @CNT_CER1_3_2=0
						BEGIN
							SET @QM=3
							SET @SRNO='A'
							SET @E_DUTY=0
							
							INSERT INTO #TBLER1 (
							TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
							E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,							OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
							VALUES (
							@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,
							@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,
							@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
							
							SET @CNT_CER1_3_2=@CNT_CER1_3_2+1
						END 	--IF CNT_CER1_3_2=0			
															
						SET @SRNO=CHAR(65+@CHAR1)
						SET @E_DUTY=@EAMT	
					
						--INSERT INTO #LST_EXC (ENTRY_TY,DATE,DOC_NO,PARTY_NM,ITEM_NO,[RULE],IT_NAME,CHAPNO,RATEUNIT,EIT_NAME,QM,SRNO,E_NAME,E_PER,E_DUTY,[GROUP],CDATE) VALUES (@CENTRY_TY,@CDATE,@CDOC_NO,@CPARTY_NM,@CITEM_NO,@CRULE,@CIT_NAME,@CCHAPNO,@CRATEUNIT,@CEIT_NAME,'3',CHAR(65+@CHAR1),@Cdesc1,@EPER,@EAMT,@CGROUP,@CDATE)
						INSERT INTO #TBLER1 (
						TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
						E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
						OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
						VALUES (
						@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,
						@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,
						@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
		
	

				FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@desc1		
			END --FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@desc1
			CLOSE CER1_3_2
			DEALLOCATE CER1_3_2
		END --@ENTRY_TY='ST'


		FETCH NEXT FROM CER1_3_1 INTO 
		@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@ITSERIAL,@RULE,@IT_NAME,@CHAPNO,@RATEUNIT,@EIT_NAME,@ITGRID,@TRAN_CD,@PARTY_NM,@CDATE
	END--FETCH NEXT FROM CER1_3_1
	CLOSE CER1_3_1
	DEALLOCATE CER1_3_1
	
	---<UPDATE 'OP' ENTRY'S E_NAME & E_PER FIELD WITH 'ST' ENTRIES TO MOST REORDS  E_NAME & E_PER FIELD>
	--SELECT DISTINCT  CHAPNO,EIT_NAME,[RULE] INTO #TMPER12 FROM #TBLER1 WHERE (ENTRY_TY<>'ST' AND QM=3) AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
	--DECLARE CER1_3_4 CURSOR FOR SELECT  CHAPNO,EIT_NAME,[RULE] FROM #TMPER12
	DECLARE CER1_3_4 CURSOR FOR SELECT DISTINCT  CHAPNO,EIT_NAME,[RULE]  FROM #TBLER1 WHERE (ENTRY_TY<>'ST' AND QM=3) AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
	OPEN CER1_3_4
	FETCH NEXT FROM CER1_3_4 INTO   @CHAPNO,@EIT_NAME,@RULE
	WHILE @@FETCH_STATUS=0
	BEGIN
		SELECT TOP 1 @E_NAME=E_NAME,@E_PER=E_PER FROM #TBLER1 WHERE ((CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE) AND ENTRY_TY='ST' AND QM=3 AND SRNO='B')  AND  MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
		
		SET @E_NAME=CASE WHEN @E_NAME IS NULL THEN ' ' ELSE @E_NAME END
		SET @E_PER=CASE WHEN @E_PER IS NULL THEN 0 ELSE @E_PER END
		
	
		UPDATE #TBLER1 SET E_NAME=@E_NAME, E_PER =@E_PER  WHERE  ((CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE) AND ENTRY_TY<>'ST' AND QM=3)  AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
		FETCH NEXT FROM CER1_3_4 INTO   @CHAPNO,@EIT_NAME,@RULE
	END --WHILE @@FETCH_STATUS=0
	CLOSE CER1_3_4
	DEALLOCATE CER1_3_4
		
	
	--<----------------PART- 3 END------------------<
	-----------------START  OF PART-4 & PART AND  ( PART-6 FOR MATERIAL AS SUCH,(AREAS,INTEREST),OPBAL)
	
	---<INITIALIZE ALL FIELD VARIABLE VALUES>
	SET @TRAN_CD=0
	SET @PAC_ID=0
	SET @INV_NO=' '
	SET @DEPT=' '
	SET @CATE=' '
	SET @INV_SR=' '
	SET @RULE=' '
	SET @ENTRY_TY=' '
	SET @DOC_NO=' '
	--SET @DATE=@SDATE
	SET @ITSERIAL=' '
	SET @OPBAL=0
	SET @RECEIPT=0
	SET @ISSUE=0
	SET @BALANCE=0
	SET @LOPBAL=0
	SET @LRECEIPT=0
	SET @LISSUE=0
	SET @LBALANCE=0
	SET @E_DUTY=0
	--SET @CDATE=@SDATE
	SET @ITGRID=0
	SET @CHAPNO=' '
	SET @RATEUNIT=' '
	SET @EIT_NAME=' '
	SET @E_NAME= ' '
	SET @QM=' '
	SET @SRNO=' '
	SET @E_PER=0
	SET @IT_CODE=0
	
	
	--DECLARE @DBDATE  BIT
	--SELECT @DBDATE=DBDATE  FROM MANUFACT
		--DECLARE @AC CHAR(50)
		
	
	---<CREATE CURSOR CER1_4_1 FOR ACCOUNTS ENTRUIES AS PER DBDATE FIELD IN MANUFACT>
	IF @FDATE='U_CLDT'
	BEGIN
		
		DECLARE CER1_4_1  CURSOR FOR  
		SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
		EXCISE.SRNO,EXCISE.[NAME],EXCISE.PER,EXCISE.[DESC],EXCISE.SHORTNM,
		U_ARREARS,CHEQ_NO,CDATE=EX_VW_ACDET.U_CLDT   
		FROM EX_VW_ACDET
		INNER JOIN AC_MAST ON (EX_VW_ACDET.AC_ID=AC_MAST.AC_ID)
		INNER JOIN EXCISE ON (EXCISE.AC_ID=EX_VW_ACDET.AC_ID) 
		INNER JOIN STKL_VW_MAIN ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD)
		INNER JOIN AC_MAST A1 ON (STKL_VW_MAIN.AC_ID=A1.AC_ID)
		WHERE UPPER(AC_MAST.TYP)='EXCISE'  AND EX_VW_ACDET.U_CLDT<=@EDATE1 
		ORDER BY EXCISE.SRNO
	END
	ELSE
	BEGIN
		DECLARE CER1_4_1  CURSOR FOR  
		SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
		EXCISE.SRNO,EXCISE.[NAME],EXCISE.PER,EXCISE.[DESC],EXCISE.SHORTNM,
		U_ARREARS,CHEQ_NO,CDATE=EX_VW_ACDET.DATE
		FROM EX_VW_ACDET
		INNER JOIN AC_MAST ON (EX_VW_ACDET.AC_ID=AC_MAST.AC_ID)
		INNER JOIN EXCISE ON (EXCISE.AC_ID=EX_VW_ACDET.AC_ID) 
		INNER JOIN STKL_VW_MAIN ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD)
		INNER JOIN AC_MAST A1 ON (STKL_VW_MAIN.AC_ID=A1.AC_ID)
		WHERE UPPER(AC_MAST.TYP)='EXCISE'  AND EX_VW_ACDET.DATE<=@EDATE1 
		ORDER BY EXCISE.SRNO
	END
	
	PRINT 'A'
	PRINT @CDATE
	SET @RULE=' '
	
	DECLARE @AMOUNT NUMERIC(15,3),@AMT_TY CHAR(2),@U_CLDT SMALLDATETIME,@NAME VARCHAR(30) 
	
	OPEN CER1_4_1
	FETCH NEXT FROM CER1_4_1 INTO   
	@TRAN_CD,@ENTRY_TY,@DATE,@DOC_NO,@AMOUNT,@AMT_TY,@U_CLDT,@AC_ID,@AC_NAME,@PARTY_NM,@SRNO1,@NAME,@PER1,@DESC1,@SHORTNM1,@U_ARREARS,@CHEQ_NO,@CDATE

	
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET  @U_CLDT=CASE WHEN @U_CLDT IS NULL OR YEAR(@U_CLDT)<=1900 THEN @DATE ELSE @U_CLDT END
		SET  @CDATE=CASE WHEN @CDATE  IS NULL OR YEAR(@CDATE)<=1900 THEN @DATE ELSE @CDATE END
				
		SET @RECEIPT=0
		SET @ISSUE=0
		SET @LRECEIPT=0
		SET @LISSUE=0
		SET @OPBAL=0		
		SET @BALANCE=0		
		SET @LOPBAL=0		
		SET @LBALANCE=0		
			
		
	
		---<GENERATE    E_NAME=DESC1  FIELD LIKE  1CENVAT, 6Education Cess on Excisable   ods>
		SET @DESC1=@AC_NAME
		IF EXISTS(SELECT [NAME] FROM EXCISE WHERE CHARINDEX(RTRIM([NAME]),@AC_NAME,1)<>0)
		BEGIN
			SELECT @DESC1=' '+ CAST(@SRNO1 AS CHAR(1))+RTRIM([DESC]) FROM EXCISE WHERE CHARINDEX(RTRIM([NAME]),@AC_NAME,1)<>0
		END	--- EXISTS
		ELSE
		BEGIN
			SELECT  @DESC1= 
			CASE 
				 WHEN (CHARINDEX('SPECIAL EXCISE',@AC_NAME,1)<>0) OR (CHARINDEX('SED',@AC_NAME,1)<>0) THEN 'SED'
				WHEN (CHARINDEX('AED',@AC_NAME,1)<>0) THEN 'AED'
			 	WHEN (CHARINDEX('NCCD',@AC_NAME,1)<>0) THEN 'NCCD'	
				WHEN (CHARINDEX('TNTA',@AC_NAME,1)<>0) THEN 'TNTA'	
				WHEN (CHARINDEX('PLA',@AC_NAME,1)<>0) OR (CHARINDEX('RG23A',@AC_NAME,1)<>0) OR (CHARINDEX('RG23C',@AC_NAME,1)<>0) THEN 'CENVAT'
				WHEN (CHARINDEX('CESS',@AC_NAME,1)<>0) THEN 'CESS'	
				ELSE @AC_NAME
				END
					SET @DESC1=CAST(1 AS CHAR(1))+LTRIM(RTRIM(@DESC1))
					SET @DESC1=' '+LTRIM(RTRIM(@DESC1))		
	
			
		END  ---ELSE  EXISTS	
	
		---<SET CDTAE VALUE>
		--SET @CDATE=CASE WHEN @DBDATE=0 THEN @U_CLDT ELSE @DATE END
		
		---<SET @RECEPT,@ISSUE,@LRECEPT,@LISSUE VALUES WHERE LRECEPT,LISSUE ARE USED FOR  ARREARS RECEPT,ISSUE(e.g. INTEREST)>		
		IF  @AMT_TY='DR'          AND (@U_ARREARS=' ' OR @U_ARREARS IS NULL)
		BEGIN
			SET @RECEIPT=@AMOUNT
			SET @CHAR1=1	
		END
		IF  @AMT_TY='CR'          AND (@U_ARREARS=' ' OR @U_ARREARS IS NULL)
		BEGIN
			SET @ISSUE=@AMOUNT
			SET @CHAR1=1
		END	
		IF  @AMT_TY='DR'          AND (@U_ARREARS<>' ' AND  @U_ARREARS IS NOT NULL)
		BEGIN
			SET @LRECEIPT=@AMOUNT
			SET @CHAR1=1
		END
		IF  @AMT_TY='CR'          AND (@U_ARREARS<>' ' AND  @U_ARREARS IS NOT NULL)
		BEGIN
			SET @LISSUE=@AMOUNT
			SET @CHAR1=1
		END					
	
		---<INSERT/UPDATE OPBAL & TRANSACTION RECORDS INTO #TBLER1 FINAL TABLE>	
		IF (((@DATE<@SDATE1 AND @ENTRY_TY<>'OB') OR (@DATE<=@SDATE1 AND @ENTRY_TY='OB'))) 
		BEGIN
	
			IF @RECEIPT+@ISSUE<>0
				BEGIN
					IF EXISTS(SELECT PAC_ID FROM #TBLER1 WHERE PAC_ID=@AC_ID AND  OPBAL<>0  AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR)
					BEGIN
						SELECT @OPBAL= OPBAL  FROM #TBLER1  WHERE  PAC_ID=@AC_ID  AND QM='4'  AND  OPBAL<>0 AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
					
						IF @OPBAL+@RECEIPT-@ISSUE=0
						BEGIN
							DELETE FROM #TBLER1 WHERE PAC_ID=@AC_ID AND  OPBAL<>0  AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
						END
						ELSE
						BEGIN
							UPDATE #TBLER1 SET OPBAL=@OPBAL+@RECEIPT-@ISSUE  WHERE PAC_ID=@AC_ID AND  OPBAL<>0  AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
						END
					
					END --IF EXISTS(SELECT PAC_ID FROM #TBLER1 WHERE PAC_ID=@AC_ID AND  OPBAL<>0)
					ELSE
					BEGIN
					
						INSERT INTO #TBLER1 (
						TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
						E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
						OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
						VALUES (
						0,@AC_ID,' ',' ',' ',' ', ' ',' ',' ',@SDATE1,' ',0,@PARTY_NM,
						0,@SDATE1,0,' ',' ',' ',@DESC1,'4','A',0,
						@RECEIPT-@ISSUE,0,0,@BALANCE,@LRECEIPT-@LISSUE ,0,0,@LBALANCE)	
						--INSERT INTO #TBLER1 (ENTRY_TY,DATE,DOC_NO,PAC_ID,QM,SRNO,E_NAME,OPBAL) VALUES (' ',@SDATE,' ',@AC_ID,'4','A',@DESC1,@RECEIPT-@ISSUE)	
							
						INSERT INTO #TBLER1 (
						TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
						E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
						OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
						VALUES (
						0,@AC_ID,' ',' ',' ',' ', ' ',' ',' ',@SDATE1,' ',0,@PARTY_NM,
						0,@SDATE1,0,' ',' ',' ',@DESC1,'6','A',0,
						@RECEIPT-@ISSUE,0,0,@BALANCE,@LRECEIPT-@LISSUE ,0,0,@LBALANCE)						
	
	
						--INSERT INTO #TBLER1 (ENTRY_TY,DATE,DOC_NO,PAC_ID,QM,SRNO,E_NAME,OPBAL) VALUES (' ',@SDATE,' ',@AC_ID,'6','A',@DESC1,@RECEIPT-@ISSUE)	
		
					END --ELSE  EXISTS(SELECT PAC_ID FROM #TBLER1 WHERE PAC_ID=@AC_ID AND  OPBAL<>0)
				
					
				END --@RECEIPT+@ISSUE<>0
				IF @LRECEIPT+@LISSUE<>0
				BEGIN
					IF EXISTS(SELECT PAC_ID FROM #TBLER1 WHERE PAC_ID=@AC_ID AND  LOPBAL<>0  AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR)
					BEGIN
						SELECT @LOPBAL= LOPBAL  FROM #TBLER1  WHERE  PAC_ID=@AC_ID  AND QM='4'  AND  LOPBAL<>0 AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
					
						IF @LOPBAL+@LRECEIPT-@LISSUE=0
						BEGIN
							DELETE FROM #TBLER1 WHERE PAC_ID=@AC_ID AND  LOPBAL<>0  AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
						END
						ELSE
						BEGIN
							UPDATE #TBLER1 SET LOPBAL=@LOPBAL+@LRECEIPT-@LISSUE  WHERE PAC_ID=@AC_ID AND  LOPBAL<>0  AND MONTH(DATE)=@SMONTH AND YEAR(DATE)=@SYEAR
						END
					
					END --IF EXISTS(SELECT PAC_ID FROM #TBLER1 WHERE PAC_ID=@AC_ID AND  OPBAL<>0)
					ELSE
					BEGIN
						
						INSERT INTO #TBLER1 (
						TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
						E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
						OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
						VALUES (
						0,@AC_ID,' ',' ',' ',' ', ' ',' ',' ',@SDATE1,' ',0,@PARTY_NM,
						0,@SDATE1,0,' ',' ',' ',@DESC1,'4','A',0,
						@RECEIPT-@ISSUE,0,0,@BALANCE,@LRECEIPT-@LISSUE ,0,0,@LBALANCE)	
						--INSERT INTO #TBLER1 (ENTRY_TY,DATE,DOC_NO,PAC_ID,QM,SRNO,E_NAME,OPBAL) VALUES (' ',@SDATE,' ',@AC_ID,'4','A',@DESC1,@RECEIPT-@ISSUE)	
							
						INSERT INTO #TBLER1 (
						TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
						E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
						OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
						VALUES (
						0,@AC_ID,' ',' ',' ',' ', ' ',' ',' ',@SDATE1,' ',0,@PARTY_NM,
						0,@SDATE1,0,' ',' ',' ',@DESC1,'6','A',0,
						@RECEIPT-@ISSUE,0,0,@BALANCE,@LRECEIPT-@LISSUE ,0,0,@BALANCE)						

						--INSERT INTO #TBLER1 (ENTRY_TY,DATE,DOC_NO,PAC_ID,QM,SRNO,E_NAME,OPBAL) VALUES (' ',@SDATE,' ',@AC_ID,'6','A',@DESC1,@RECEIPT-@ISSUE)	
		
					END --ELSE  EXISTS(SELECT PAC_ID FROM #TBLER1 WHERE PAC_ID=@AC_ID AND  OPBAL<>0)
				END --LRECEIPT+LISSUE<>0
		END--IF ((@DATE<@SDATE AND @ENTRY_TY<>'OB') OR (@DATE<=@SDATE AND @ENTRY_TY='OB'))
		ELSE --IF ((@DATE<@SDATE AND @ENTRY_TY<>'OB') OR (@DATE<=@SDATE AND @ENTRY_TY='OB'))
		BEGIN
			
			IF @LRECEIPT+@LISSUE<>0
			BEGIN
				
				INSERT INTO #TBLER1 (
				TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
				E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
				OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)		
				VALUES (
				@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,
				@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@U_ARREARS,@DESC1,'6','C',@E_PER,
				@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
	
				--INSERT INTO #TBLER1 (ENTRY_TY,DATE,DOC_NO,PAC_ID,RECEIPT,ISSUE,LRECEIPT,LISSUE,QM,SRNO,E_NAME,EIT_NAME) VALUES (@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@RECEIPT,@ISSUE,@LRECEIPT,@LISSUE,'6','C',@DESC1,@U_ARREARS)	
			END	
			IF (@CHEQ_NO<>' ' AND @CHEQ_NO IS NOT NULL)
			BEGIN
	
				INSERT INTO #TBLER1 (
				TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
				E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
				OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
				VALUES (
				@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,
				@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,'6','B',@E_PER,
				@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
	
				--INSERT INTO #TBLER1 (ENTRY_TY,DATE,DOC_NO,PAC_ID,RECEIPT,ISSUE,LRECEIPT,LISSUE,QM,SRNO,E_NAME) VALUES (@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@RECEIPT,@ISSUE,@LRECEIPT,@LISSUE,'6','B',@DESC1)
			END				INSERT INTO #TBLER1 (
				TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
				E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
				OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
				VALUES (
				@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,
				@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,'4',CHAR(65+@CHAR1),@E_PER,
				@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
	
			---INSERT INTO #TBLER1 (ENTRY_TY,DATE,DOC_NO,PAC_ID,RECEIPT,ISSUE,LRECEIPT,LISSUE,QM,SRNO,E_NAME) VALUES (@ENTRY_TY,@DATE,@DOC_NO,@AC_NAME,@RECEIPT,@ISSUE,@LRECEIPT,@LISSUE,'4',CHAR(65+@CHAR1),@DESC1)
		END
		PRINT @TRAN_CD
	



		FETCH NEXT FROM CER1_4_1 INTO   
		@TRAN_CD,@ENTRY_TY,@DATE,@DOC_NO,@AMOUNT,@AMT_TY,@U_CLDT,@AC_ID,@AC_NAME,@PARTY_NM,@SRNO1,@NAME,@PER1,@DESC1,@SHORTNM1,@U_ARREARS,@CHEQ_NO,@CDATE

	END--WHILE @@FETCH_STATUS=0
	


	--IF (@DATE>=@SDATE  AND @ENTRY_TY<>'OB')



	CLOSE CER1_4_1
	DEALLOCATE CER1_4_1
	-----------------END  OF PART-4 START  OF PART-4 & PART AND  ( PART-6 FOR MATERIAL AS SUCH,(AREAS,INTEREST),OPBAL)

	-----------------START  OF PART-5
	--INSERT INTO #LST_EXC (QM,SRNO) VALUES ('5','A'),J
	
	SET @TRAN_CD=0
	SET @PAC_ID=0
	SET @INV_NO=' '
	SET @DEPT=' '
	SET @CATE=' '
	SET @INV_SR=' '
	SET @RULE=' '
	SET @ENTRY_TY=' '
	SET @DOC_NO=' '
	--SET @DATE=@SDATE1	
	SET @ITSERIAL=' '
	SET @OPBAL=0
	SET @RECEIPT=0
	SET @ISSUE=0
	SET @BALANCE=0
	SET @LOPBAL=0
	SET @LRECEIPT=0
	SET @LISSUE=0
	SET @LBALANCE=0
	SET @E_DUTY=0
	--SET @CDATE=@SDATE1
	SET @ITGRID=0
	SET @CHAPNO=' '
	SET @RATEUNIT=' '
	SET @EIT_NAME=' '
	SET @E_NAME= ' '
	SET @QM=' '
	SET @SRNO=' '
	SET @E_PER=0

	SET @QM=5
	SET @PAC_ID=0
	--SET @CDATE=@SDATE1
	SET @IT_CODE=0
	SET @PARTY_NM=' '
	SET @CHAR1=0
	SET @RULE=' '
	PRINT 'QM-5'
	WHILE @CHAR1<=11
	BEGIN
		PRINT @DATE
		SET @CHAR1=@CHAR1+1
		SET @SRNO=CHAR(64+@CHAR1)
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
		VALUES (
		@TRAN_CD,@PAC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@SDATE1,@ITSERIAL,@IT_CODE,@PARTY_NM,
		@E_DUTY,@SDATE1,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
	END
	-----------------END  OF PART-5

	-----------------START  OF PART-6 -FIXED RECORDS
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@SDATE1,@ITSERIAL,@IT_CODE,'ARREARS RULE 8',
	@E_DUTY,@SDATE1,@ITGRID,@CHAPNO,@RATEUNIT,'ARREARS RULE 8','ZCENVAT',6,'C',@E_PER,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@SDATE1,@ITSERIAL,@IT_CODE,'ARREARS OTHERS',
	@E_DUTY,@SDATE1,@ITGRID,@CHAPNO,@RATEUNIT,'ARREARS OTHERS','ZCENVAT',6,'C',@E_PER,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@SDATE1,@ITSERIAL,@IT_CODE,'INTEREST RULE 8',	@E_DUTY,@SDATE1,@ITGRID,@CHAPNO,@RATEUNIT,'INTEREST RULE 8','ZCENVAT',6,'C',@E_PER,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@SDATE1,@ITSERIAL,@IT_CODE,'INTEREST OTHERS',
	@E_DUTY,@SDATE1,@ITGRID,@CHAPNO,@RATEUNIT,'INTEREST OTHERS','ZCENVAT',6,'C',@E_PER,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	

	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE)	
	VALUES (
	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@SDATE1,@ITSERIAL,@IT_CODE,'MISC.',
	@E_DUTY,@SDATE1,@ITGRID,@CHAPNO,@RATEUNIT,'MISC.','ZCENVAT',6,'C',@E_PER,
	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE)	

	--INSERT INTO #LST_EXC (QM,SRNO,PARTY_NM,EIT_NAME,E_NAME) VALUES ('6','C','ARREARS RULE 8','ARREARS RULE 8','ZCENVAT')
	--INSERT INTO #LST_EXC (QM,SRNO,PARTY_NM,EIT_NAME,E_NAME) VALUES ('6','C','ARREARS OTHERS','ARREARS OTHERS','ZCENVAT')
	--INSERT INTO #LST_EXC (QM,SRNO,PARTY_NM,EIT_NAME,E_NAME) VALUES ('6','C','INTEREST RULE 8','INTEREST RULE 8','ZCENVAT')
	--INSERT INTO #LST_EXC (QM,SRNO,PARTY_NM,EIT_NAME,E_NAME) VALUES ('6','C','INTEREST RULE 8','INTEREST OTHERS','INTEREST OTHERS') 
	--INSERT INTO #LST_EXC (QM,SRNO,PARTY_NM,EIT_NAME,E_NAME) VALUES ('6','C','INTEREST RULE 8','MISC.','MISC.') 
	-----------------END  OF PART-6

	
	
	
	
	
	
	

	
	
	--PRINT STR(@SMONTH)+' '+STR(@SYEAR)
	SET @SMONTH=@SMONTH+1
	IF @SMONTH=13 BEGIN
		SET @SMONTH=1
		SET @SYEAR=@SYEAR+1
	END
END

SELECT A.TRAN_CD,A.PAC_ID, A.ENTRY_TY,A.DOC_NO,A.DATE,A.ITSERIAL,A.IT_CODE,A.PARTY_NM,A.[RULE],
A.E_DUTY,A.CDATE,A.ITGRID,A.CHAPNO,A.EIT_NAME,E_NAME=RTRIM(A.E_NAME),A.QM,A.SRNO,A.E_PER,
A.OPBAL,A.RECEIPT,A.ISSUE,A.BALANCE,A.LOPBAL ,A.LRECEIPT,A.LISSUE,A.LBALANCE,
B.CHEQ_NO,B.U_ARREARS,B.U_ARREARS,B.INV_NO,B.U_CHALNO,B.U_CHALDT,B.INV_SR,B.DEPT,B.CATE,B.U_INT,
C.GRO_AMT,C.QTY,
D.VEND_TYPE,
G.U_ASSEAMT,
H.U_TR6,
I.U_CLDT,
A.RATEUNIT
---RATEUNIT=CASE WHEN (F.E_UOM<>' ') THEN F.E_UOM ELSE E.RATEUNIT END 

FROM #TBLER1 A 
LEFT JOIN STKL_VW_MAIN B ON (A.TRAN_CD=B.TRAN_CD)
LEFT JOIN STKL_VW_ITEM C ON ((A.TRAN_CD=C.TRAN_CD AND A.IT_CODE=C.IT_CODE) AND (A.ITSERIAL=C.ITSERIAL))
LEFT JOIN EX_VW_ACDET I ON (A.TRAN_CD=I.TRAN_CD AND A.PAC_ID=I.AC_ID)
LEFT JOIN AC_MAST D ON (B.AC_ID=D.AC_ID)
LEFT JOIN IT_MAST E ON (A.IT_CODE=E.IT_CODE)
LEFT JOIN UOM F ON (E.RATEUNIT=F.U_UOM)
LEFT JOIN STITEM G  ON ((A.TRAN_CD=G.TRAN_CD AND A.IT_CODE=G.IT_CODE) AND (A.ITSERIAL=G.ITSERIAL))
LEFT JOIN BPMAIN H ON (A.TRAN_CD=H.TRAN_CD)
ORDER BY YEAR(A.CDATE),MONTH(A.CDATE),A.QM,A.CHAPNO,A.EIT_NAME,A.RATEUNIT,CASE WHEN (A.E_NAME=' ') THEN 'C' ELSE  (CASE WHEN (A.E_NAME=' 1CENVAT') THEN 'A' ELSE 'B' END)  END,A.E_NAME,A.PAC_ID,(CASE WHEN A.[RULE]='MODVATABLE' THEN 'A' ELSE 'B' END),A.[RULE],STR(A.E_PER,5,2),A.SRNO




