If Exists(Select [name] From SysObjects Where xtype='P' and [Name]='USP_REP_UA_FORMVAT3_ANNEXURE1')
Begin
	Drop Procedure USP_REP_UA_FORMVAT3_ANNEXURE1
End
GO

set ANSI_NULLS ON    
set QUOTED_IDENTIFIER ON
go
--EXECUTE USP_REP_UA_FORMVAT3_ANNEXURE1'','','','04/01/2013','03/31/2016','','','','',0,0,'','','','','','','','','2015-2016',''
-- =============================================        
-- Author   : Hetal L Patel
-- Create date: 16/05/2007        
-- Description: This Stored procedure is useful to generate Rajashtan Form VAT - 10 Report.        
-- Modify date: 16/05/2007        
-- Modified By: Sumit Gavate
-- Modify date: 15-03-2016
-- Remark:        
-- =============================================        
CREATE PROCEDURE [dbo].[USP_REP_UA_FORMVAT3_ANNEXURE1]        
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME        
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)        
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)        
,@SAMT FLOAT,@EAMT FLOAT        
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)        
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)        
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)        
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)        
,@LYN VARCHAR(20)        
,@EXPARA  AS VARCHAR(60)= null        
AS        
BEGIN        
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)        
EXECUTE   USP_REP_FILTCON         
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND        
,@VSDATE=NULL        
,@VEDATE=@EDATE        
,@VSAC =@SAC,@VEAC =@EAC        
,@VSIT=@SIT,@VEIT=@EIT        
,@VSAMT=@SAMT,@VEAMT=@EAMT        
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT        
,@VSCATE =@SCATE,@VECATE =@ECATE        
,@VSWARE =@SWARE,@VEWARE  =@EWARE        
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR        
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL        
,@VDTFLD ='DATE'        
,@VLYN=NULL        
,@VEXPARA=@EXPARA        
,@VFCON =@FCON OUTPUT        
        
DECLARE @SQLCOMMAND NVARCHAR(4000)        
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),
		@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),
		@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)        
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),
		@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2)  
DECLARE @AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)        
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2),@PER1 NUMERIC(12,2)

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

----Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #FORMVAT3_A
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #FORMVAT3_A add recno int identity

---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,AMT4=M.NET_AMT,AMT5=M.NET_AMT,AMT6=M.NET_AMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
STM.FORM_NM,AC1.S_TAX,ITEM=space(50),CODE=space(6),STM.TAX_NAME,MSRNO=4
INTO #FORMVAT3A
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORMVAT3_A Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo #FORMVAT3_A Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----

---
Set @Char = 65
Declare @ITCODE NUMERIC(9),@Code as varchar(06),@Item as varchar(50),@SaleType as VarChar(15),@TAXNAME as VARCHAR(50)

SELECT @item = space(50),@code = space(06),@saletype = space(15),@PER = 0.00,@PER1 = 0.00


Declare Cur_item cursor for
select distinct A.it_code,CASE WHEN CAST(I.IT_DESC AS VARCHAR(150)) <> '' THEN CAST(I.IT_DESC AS VARCHAR(150)) ELSE I.IT_NAME END As it_name,
PER=isnull(A.PER,0) from VATTBL A INNER JOIN IT_MAST I On (A.it_code = I.it_code) where A.BHENT = 'ST'
ORDER BY  it_name,PER
Open Cur_item
FETCH NEXT FROM Cur_Item INTO @ITCODE,@ITEM,@PER
 WHILE (@@FETCH_STATUS=0)
 BEGIN
	--Declare Cur_Temp cursor for
	--Select CASE WHEN CAST(I.IT_DESC AS VARCHAR(150)) <> '' THEN CAST(I.IT_DESC AS VARCHAR(150)) ELSE I.IT_NAME END As it_name,i.it_code,
	--TotalTurnOver = ISNULL(Sum(A.Gro_amt),0),CASE WHEN A.TAX_NAME IN('Exempted','') THEN '' ELSE A.TAX_NAME END as TAX_NAME,
	--Saletype = Case WHEN A.U_IMPORM like '%Consignment%' THEN 'Consignment'WHEN A.Tax_name = 'Exempted' THEN 'Exempted'
	--				WHEN A.St_type  = 'Out of Country' THEN 'Export' WHEN A.St_type  = 'Out of State'  THEN 'InterState' end,
	--TaxAmt = ISNULL(Sum(A.TaxAmt),0),PER = ISNULL(A.Per,0) from VATTBL A Inner Join It_mast I On(A.It_code = I.It_Code)
	--where BHENT = 'ST' And A.Date Between @sdate and @edate And I.It_code = @ITCODE And A.PER = @PER
	--Group by CASE WHEN CAST(I.IT_DESC AS VARCHAR(150)) <> '' THEN CAST(I.IT_DESC AS VARCHAR(150)) ELSE I.IT_NAME END,I.It_code,
	--A.st_type,A.U_Imporm,A.Per,A.gro_amt,A.TAX_NAME
	SELECT @AMTA1 = ISNULL(Sum(CASE WHEN BHENT='ST' THEN A.Gro_Amt ELSE -A.GRO_AMT END),0) FROM VATTBL A WHERE A.BHENT IN('ST','SR','CN')
	And A.Date Between @sdate and @edate AND A.It_code = @ITCODE And A.PER = @PER

	SELECT @AMTB1 = ISNULL(Sum(CASE WHEN BHENT='ST' THEN A.TaxAmt ELSE -A.TaxAmt END),0) FROM VATTBL A WHERE A.BHENT IN('ST','SR','CN')
	And A.Date Between @sdate and @edate AND A.It_code = @ITCODE And A.PER = @PER
	
	--SELECT @AMTC1 = ISNULL(SUM(A.Gro_Amt),0) FROM VATTBL A WHERE A.BHENT IN('SR','CN') And A.Date Between @sdate and @edate AND
	--A.It_code = @ITCODE And A.PER = @PER
	
	SELECT @AMTD1 = ISNULL(Sum(CASE WHEN BHENT='ST' THEN A.Gro_Amt ELSE -A.GRO_AMT END),0) FROM VATTBL A WHERE A.BHENT IN('ST','SR','CN')
	And A.Date Between @sdate and @edate AND A.It_code = @ITCODE And A.PER = @PER AND A.ST_TYPE = 'OUT OF STATE'
	AND A.U_IMPORM NOT IN('Consignment Transfer','Branch Transfer') AND A.Tax_name NOT LIKE '%Exempted%'

	SELECT @AMTE1 = ISNULL(Sum(CASE WHEN BHENT='ST' THEN A.Gro_Amt ELSE -A.GRO_AMT END),0) FROM VATTBL A WHERE A.BHENT IN('ST','SR','CN')
	And A.Date Between @sdate and @edate AND A.It_code = @ITCODE And A.PER = @PER AND A.ST_TYPE = 'OUT OF COUNTRY'
	AND A.U_IMPORM NOT IN('Consignment Transfer','Branch Transfer') AND A.Tax_name NOT LIKE '%Exempted%'

	SELECT @AMTF1 = ISNULL(Sum(CASE WHEN BHENT='ST' THEN A.Gro_Amt ELSE -A.GRO_AMT END),0) FROM VATTBL A WHERE A.BHENT IN('ST','SR','CN')
	And A.Date Between @sdate and @edate AND A.It_code = @ITCODE And A.PER = @PER AND A.U_IMPORM IN('Consignment Transfer','Branch Transfer')
	AND A.Tax_name NOT LIKE '%Exempted%'

	SELECT @AMTG1 = ISNULL(Sum(CASE WHEN BHENT='ST' THEN A.Gro_Amt ELSE -A.GRO_AMT END),0) FROM VATTBL A WHERE A.BHENT IN('ST','SR','CN')
	And A.Date Between @sdate and @edate AND A.It_code = @ITCODE And A.PER = @PER AND A.Tax_name LIKE '%Exempted%'

	INSERT INTO #FORMVAT3A (PART,PARTSR,SRNO,ITEM,CODE,RATE,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6,MSRNO,TAX_NAME,Party_nm)
	VALUES (1,'1','A',ISNULL(@ITEM,''),ISNULL(@ITCODE,''),@PER,@AMTA1,@AMTD1,@AMTE1,@AMTF1,@AMTG1,@AMTB1,1,'','')


	--open Cur_Temp
	--FETCH NEXT FROM Cur_Temp INTO @ITEM,@CODE,@AMTA1,@TAXNAME,@SALETYPE,@AMTB1,@PER1
	--WHILE (@@FETCH_STATUS=0)
	--BEGIN
	--INSERT INTO #FORMVAT3A (PART,PARTSR,SRNO,ITEM,CODE,RATE,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6,MSRNO,TAX_NAME,Party_nm)
	--VALUES (1,'1','A',ISNULL(@ITEM,''),ISNULL(@CODE,''),@PER1,@AMTA1 - @AMTC1,Case When @Saletype = 'InterState'	then @AMTA1 Else 0 End,
	--	   Case When @Saletype = 'Export'	then @AMTA1 Else 0 End,Case When @Saletype = 'Consignment'	then @AMTA1 Else 0 End,
	--	   Case When @Saletype = 'Exempted'	then @AMTA1 Else 0 End,@AMTB1,1,'','')
     
	--	FETCH NEXT FROM CUR_Temp INTO @ITEM,@CODE,@AMTA1,@TAXNAME,@SALETYPE,@AMTB1,@PER1
	--END
	--CLOSE CUR_Temp
	--DEALLOCATE CUR_Temp    
	
	--select @AMTA1 = ISNULL(Sum(AMT1),0) from #FORMVAT3A where Partsr = '1' And Item = @Item And RATE = @PER
	--select @AMTB1 = ISNULL(Sum(AMT2),0) from #FORMVAT3A where Partsr = '1' And Item = @Item And RATE = @PER
	--select @AMTC1 = ISNULL(Sum(AMT3),0) from #FORMVAT3A where Partsr = '1' And Item = @Item And RATE = @PER
	--select @AMTD1 = ISNULL(Sum(AMT4),0) from #FORMVAT3A where Partsr = '1' And Item = @Item And RATE = @PER
	--select @AMTE1 = ISNULL(Sum(AMT5),0) from #FORMVAT3A where Partsr = '1' And Item = @Item And RATE = @PER
	--select @AMTF1 = ISNULL(Sum(AMT6),0) from #FORMVAT3A where Partsr = '1' And Item = @Item And RATE = @PER
	
	--INSERT INTO #FORMVAT3A (PART,PARTSR,SRNO,ITEM,CODE,RATE,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6,MSRNO,TAX_NAME,Party_nm)
	--VALUES (1,'1',CHAR(@CHAR),@ITEM,@CODE,@PER,@AMTA1,@AMTB1,@AMTC1,@AMTD1,@AMTE1,@AMTF1,2,'','')

SET @CHAR=@CHAR+1
FETCH NEXT FROM CUR_ITEM INTO @ITCODE,@ITEM,@PER
END
CLOSE CUR_Item
DEALLOCATE CUR_Item


Insert into #FORMVAT3A(PART,PARTSR,SRNO,ITEM,CODE,RATE,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6,MSRNO,TAX_NAME,Party_nm)
Select PART,PARTSR,'A',ITEM,'',RATE,ISNULL(SUM(AMT1),0) AS AMT1,ISNULL(SUM(AMT2),0) AS AMT2,
ISNULL(SUM(AMT3),0) AS AMT3,ISNULL(SUM(AMT4),0) AS AMT4,ISNULL(SUM(AMT5),0) AS AMT5,ISNULL(SUM(AMT6),0) AS AMT6,2,'','' FROM #FORMVAT3A
WHERE Partsr = '1' AND Msrno = 1 GROUP BY PART,PARTSR,ITEM,RATE


Set @Item = 'Total '
set @code = space(06)
select @AMTA1 = ISNULL(Sum(AMT1),0) from #FORMVAT3A where Partsr = '1' and Msrno >1
select @AMTB1 = ISNULL(Sum(AMT2),0) from #FORMVAT3A where Partsr = '1' and Msrno >1
select @AMTC1 = ISNULL(Sum(AMT3),0) from #FORMVAT3A where Partsr = '1' and Msrno >1
select @AMTD1 = ISNULL(Sum(AMT4),0) from #FORMVAT3A where Partsr = '1' and Msrno >1
select @AMTE1 = ISNULL(Sum(AMT5),0) from #FORMVAT3A where Partsr = '1' and Msrno >1
select @AMTF1 = ISNULL(Sum(AMT6),0) from #FORMVAT3A where Partsr = '1' and Msrno >1
INSERT INTO #FORMVAT3A (PART,PARTSR,SRNO,ITEM,CODE,RATE,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6,MSRNO,TAX_NAME,Party_nm) 
VALUES (1,'2','Z',@ITEM,@CODE,0,@AMTA1,@AMTB1,@AMTC1,@AMTD1,@AMTE1,@AMTF1,3,'','')
---     
  
SELECT * FROM #FORMVAT3A where Msrno >1 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int),Item,Code,Rate

END        
--Print 'UA VAT FORM 3 ANNX A'

