If Exists(Select [name] From SysObjects Where xtype='P' and [Name]='USP_REP_UA_FORMVAT3_ANNEXURE1B')
Begin
	Drop Procedure USP_REP_UA_FORMVAT3_ANNEXURE1B
End
Go
            
create PROCEDURE [dbo].[USP_REP_UA_FORMVAT3_ANNEXURE1B]
@SDATE SMALLDATETIME,@EDATE SMALLDATETIME            
AS        
BEGIN                      
select A.PARTY_NM,A.date,AC.s_tax,A.inv_no,VATONAMT=round(A.u_asseamt+A.EXAMT+A.U_CESSAMT+A.U_HCESAMT+A.tot_add+A.TOT_DEDUC,2),PER=ST.LEVEL1,A.taxamt,IT.IT_NAME FROM PTITEM A
INNER JOIN IT_MAST IT ON(A.IT_CODE=IT.IT_CODE)
INNER JOIN AC_MAST AC ON(AC.AC_ID=A.AC_ID)
INNER JOIN STAX_MAS ST ON(ST.TAX_NAME=A.TAX_NAME AND ST.ENTRY_TY='PT')
WHERE AC.S_TAX<>'' AND A.TAX_NAME LIKE '%VAT%' AND IT.VATCAP=1  AND AC.ST_TYPE='LOCAL' AND IT.[TYPE]='Machinery/Stores'  AND (A.DATE BETWEEN @SDATE AND @EDATE)     
END  
