DROP PROCEDURE [USP_REP_POSSALEREGISTER_ITEMWISE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [USP_REP_POSSALEREGISTER_ITEMWISE]
@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SINV_SR AS VARCHAR(20),@EINV_SR AS VARCHAR(20)
,@SDEPT AS VARCHAR(20),@EDEPT AS VARCHAR(20)
,@SCATE AS VARCHAR(20),@ECATE AS VARCHAR(20)
,@SITEM AS VARCHAR(15),@EITEM AS VARCHAR(15)
AS
DECLARE @SQLCOMMAND NVARCHAR(4000)
SET @SQLCOMMAND='select DI.DATE,DI.INV_NO,DM.INV_SR,DI.ITSERIAL,DM.DEPT,DM.CATE,DI.ITEM,DI.QTY,DI.RATE,DI.U_ASSEAMT,DI.TAXPERCENT,DI.TAXAMT,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'DI.GRO_AMT,PS.PAYMODE'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'from DCMAIN DM'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN DCITEM DI ON (DM.ENTRY_TY=DI.ENTRY_TY AND DM.TRAN_CD=DI.TRAN_CD)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST IT on (DI.IT_CODE=IT.IT_CODE)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN PSPAYDETAIL PS ON (DM.INV_NO=PS.INV_NO)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'WHERE (DI.DATE BETWEEN '+CHAR(39)+cast(@SDATE as varchar)+CHAR(39)+' AND '+CHAR(39)+cast(@EDATE as varchar)+CHAR(39)+') AND (DM.INV_SR BETWEEN '''+@SINV_SR+''' AND '''+@EINV_SR+''') AND (DM.DEPT BETWEEN '''+@SDEPT+''' AND '''+@EDEPT+''')'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND (IT.IT_NAME BETWEEN '''+@SITEM+''' AND '''+@EITEM+''')'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
