IF EXISTS(SELECT NAME FROM SYSOBJECTS WHERE name = 'USP_REP_GET_GST_CREDIT_RECO' AND TYPE ='p' )
BEGIN
	DROP PROCEDURE [USP_REP_GET_GST_CREDIT_RECO]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [USP_REP_GET_GST_CREDIT_RECO]
@SDATE SMALLDATETIME,@EDATE SMALLDATETIME
As
/*		Creating Temporary  Table		*/
/* LineRule Column added by Suraj Kumawat date on 15-02-2018 for Bug-31248*/
Select 
e.GSTIN ,a.Party_nm ,a.Pinvno ,a.pinvdt ,d.HSNCODE ,b.u_asseamt as TaxableVal ,b.IGST_PER ,b.IGST_AMT ,b.CGST_PER ,b.CGST_AMT ,b.SGST_PER ,b.SGST_AMT 
,a.TranStatus ,b.LineRule
,a.entry_ty,a.tran_cd  --Added by Priyanka B on 08092018 for Bug-31756
Into #tmptbl
From Ptmain a
,Ptitem b , It_mast d ,Ac_mast e
Where 1=2

/*		Inserting Goods Bills			*/
Insert Into #tmptbl
Select 
f.GSTIN ,Party_nm ,Pinvno ,pinvdt ,d.HSNCODE ,d.TaxableVal ,d.IGST_PER ,d.IGST_AMT ,d.CGST_PER ,d.CGST_AMT ,d.SGST_PER ,d.SGST_AMT,a.TranStatus,d.LineRule  
,a.entry_ty,a.tran_cd  --Added by Priyanka B on 08092018 for Bug-31756
From Ptmain a
Cross apply
(
	Select SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,u_asseamt as TaxableVal 
		,c.HsnCode ,LineRule
		From PtItem b
		Cross Apply 
		(
			Select HsnCode From It_mast Where It_code=b.It_code
		) c
		Where Tran_cd=a.Tran_cd
		
) d

Cross Apply 
(
	Select Ac_Id,e.GSTIN From Ac_mast 
	Cross Apply 
	(
		Select Top 1 GSTIN From Shipto Where Shipto_id=(Case When a.Cons_id >0 Then a.Scons_id Else a.sAc_id end)
			and Ac_id=Ac_mast.Ac_id
			AND GSTIN<>'UNREGISTERED'
	) e
	Where ac_id=(Case When a.Cons_id >0 Then a.Cons_id Else a.Ac_id End)
) f
Where a.Entry_ty in ('PT','P1')  and Date <=@EDATE 
	

/*		Inserting Service Bill			*/
Insert Into #tmptbl
Select f.GSTIN ,Party_nm,Pinvno,pinvdt,d.HSNCODE,d.TaxableVal,d.IGST_PER ,d.IGST_AMT ,d.CGST_PER ,d.CGST_AMT ,d.SGST_PER ,d.SGST_AMT ,a.TranStatus,D.LineRule 
,a.entry_ty,a.tran_cd  --Added by Priyanka B on 08092018 for Bug-31756
From Epmain a
Cross apply
(
	Select SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,u_asseamt as TaxableVal
		,c.HsnCode,LineRule
		From EpItem b
		Cross Apply 
		(
			Select HsnCode From It_mast Where It_code=b.It_code
		) c
		Where Tran_cd=a.Tran_cd
		
) d

Cross Apply 
(
	Select Ac_Id,e.GSTIN From Ac_mast 
	Cross Apply 
	(
		Select Top 1 GSTIN From Shipto Where Shipto_id=(Case When a.Cons_id >0 Then a.Scons_id Else a.sAc_id end)
			and Ac_id=Ac_mast.Ac_id
			AND GSTIN<>'UNREGISTERED'
	) e
	Where ac_id=(Case When a.Cons_id >0 Then a.Cons_id Else a.Ac_id End)
) f
Where a.Entry_ty in ('E1')  and Date <=@EDATE 


/*		Inserting Debit Note Bills		*/
Insert Into #tmptbl
Select f.GSTIN ,Party_nm,Inv_no,Date,d.HSNCODE,d.TaxableVal,d.IGST_PER ,d.IGST_AMT ,d.CGST_PER ,d.CGST_AMT ,d.SGST_PER ,d.SGST_AMT ,a.TranStatus,d.LineRule 
,a.entry_ty,a.tran_cd  --Added by Priyanka B on 08092018 for Bug-31756
From Dnmain a
Cross apply
(
	Select SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,u_asseamt as TaxableVal
		,c.HsnCode,LineRule
		From DnItem b
		Cross Apply 
		(
			Select HsnCode From It_mast Where It_code=b.It_code
		) c
		Where Tran_cd=a.Tran_cd
		
) d

Cross Apply 
(
	Select Ac_Id,e.GSTIN From Ac_mast 
	Cross Apply 
	(
		Select Top 1 GSTIN From Shipto Where Shipto_id=(Case When a.Cons_id >0 Then a.Scons_id Else a.sAc_id end)
			and Ac_id=Ac_mast.Ac_id
			AND GSTIN<>'UNREGISTERED'
	) e
	Where ac_id=(Case When a.Cons_id >0 Then a.Cons_id Else a.Ac_id End)
) f
Where a.Entry_ty in ('GD','D6')  and Date <=@EDATE 
AND a.againstgs in('PURCHASES','SERVICE PURCHASE BILL')

/*		Inserting Credit Note Bills		*/
Insert Into #tmptbl
Select f.GSTIN ,Party_nm,Inv_no,Date,d.HSNCODE,d.TaxableVal,d.IGST_PER ,d.IGST_AMT ,d.CGST_PER ,d.CGST_AMT ,d.SGST_PER ,d.SGST_AMT ,a.TranStatus,d.LineRule 
,a.entry_ty,a.tran_cd  --Added by Priyanka B on 08092018 for Bug-31756
From Cnmain a
Cross apply
(
	Select SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,u_asseamt as TaxableVal
		,c.HsnCode,LineRule
		From CnItem b
		Cross Apply 
		(
			Select HsnCode From It_mast Where It_code=b.It_code
		) c
		Where Tran_cd=a.Tran_cd
		
) d

Cross Apply 
(
	Select Ac_Id,e.GSTIN From Ac_mast 
	Cross Apply 
	(
		Select Top 1 GSTIN From Shipto Where Shipto_id=(Case When a.Cons_id >0 Then a.Scons_id Else a.sAc_id end)
			and Ac_id=Ac_mast.Ac_id
			AND GSTIN<>'UNREGISTERED'
	) e
	Where ac_id=(Case When a.Cons_id >0 Then a.Cons_id Else a.Ac_id End)
) f
Where a.Entry_ty in ('GC','C6')  and Date <=@EDATE 
AND a.againstgs in('PURCHASES','SERVICE PURCHASE BILL')


/*		Inserting Goods Return			*/
Insert Into #tmptbl
Select 
f.GSTIN ,Party_nm ,inv_no,DATE,d.HSNCODE ,d.TaxableVal ,d.IGST_PER ,d.IGST_AMT ,d.CGST_PER ,d.CGST_AMT ,d.SGST_PER ,d.SGST_AMT,a.TranStatus,d.LineRule  
,a.entry_ty,a.tran_cd  --Added by Priyanka B on 08092018 for Bug-31756
From Prmain a
Cross apply
(
	Select SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,u_asseamt as TaxableVal
		,c.HsnCode,LineRule
		From PrItem b
		Cross Apply 
		(
			Select HsnCode From It_mast Where It_code=b.It_code
		) c
		Where Tran_cd=a.Tran_cd
		
) d

Cross Apply 
(
	Select Ac_Id,e.GSTIN From Ac_mast 
	Cross Apply 
	(
		Select Top 1 GSTIN From Shipto Where Shipto_id=(Case When a.Cons_id >0 Then a.Scons_id Else a.sAc_id end)
			and Ac_id=Ac_mast.Ac_id
			AND GSTIN<>'UNREGISTERED'
	) e
	Where ac_id=(Case When a.Cons_id >0 Then a.Cons_id Else a.Ac_id End)
) f
Where a.Entry_ty='PR' and Date <=@EDATE 


Delete from #tmptbl Where tranStatus =1

Select  GSTIN,Party_nm ,Pinvno ,pinvdt ,HSNCODE,TaxableVal ,IGST_PER,IGST_AMT,CGST_PER,CGST_AMT,SGST_PER,SGST_AMT,LineRule 
,entry_ty,tran_cd  --Added by Priyanka B on 08092018 for Bug-31756
from #tmptbl

--Select  
--GSTIN AS [Supplier's GSTIN]
--,Party_nm as [Supplier's Name]
--,Pinvno as [Bill/Trans. No.]
--,pinvdt as [Bill/Trans. Date]
--,HSNCODE as [HSN/SAC]
--,TaxableVal AS [Taxable Value(as per line item)]
--,IGST_PER as [IGST Rate],IGST_AMT as [IGST Amount]
--,CGST_PER as [CGST Rate],CGST_AMT as [CGST Amount]
--,SGST_PER as [SGST Rate],SGST_AMT as [SGST Amount]
--from #tmptbl

Drop Table #tmptbl
GO
