DROP PROCEDURE [USP_ENT_EMAILCLIENT_SELECT_SEARCH]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [USP_ENT_EMAILCLIENT_SELECT_SEARCH]
As
Begin
	Select * From eMailClient
End
GO
