IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_WB_CSTANNEXURE_C')
BEGIN
 DROP PROCEDURE USP_REP_WB_CSTANNEXURE_C
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXECUTE USP_REP_WB_CSTANNEXURE_C'','','','04/01/2011','03/31/2013','','','','',0,0,'','','','','','','','','2011-2013',''
*/
-- =============================================  
-- Author   :G.PRASHANTH REDDY
-- Create date: 13/06/2012
-- Description: This Stored procedure is useful to generate WB CST Form ANNEXURE-C
-- Modify date: 
-- Modified By: 
-- Modify date:   
-- Remark:  
-- =============================================  
CREATE PROCEDURE [dbo].[USP_REP_WB_CSTANNEXURE_C]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
--DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
--DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)
--SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
--INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
--Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)
----Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #FORM_LS2
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #FORM_LS2 add recno int identity

---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
STM.FORM_NM,AC1.S_TAX,Item=space(50),Qty=9999999999999999999.9999--,PINV_NO=space(20)
INTO #FORMLS2
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo  #FORM_LS2 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND

	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo #FORM_LS2 Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND

	End


-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----
---SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 


--SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
--SET @CHAR=65

Declare @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(10),
		@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@Form_Count Int,
		@FORM_NM as varchar(30),@S_TAX as varchar(30),@QTY as numeric(18,4),@PINV_NO AS VARCHAR(20)

--SELECT @TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@PINV_NO='',@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',@QTY=0

--Part LS -1 
--SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@PINV_NO='',@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',
	   @ITEM ='',@FORM_NM='',@S_TAX ='',@CHAR=65,@Form_Count = 0

Declare cur_formls2bb cursor for

--SELECT distinct A.PER,TAXONAMT=VATONAMT,A.TAXAMT,ITEMAMT=e.gro_amt,A.INV_NO,A.DATE,PARTY_NM=SAC.MAILNAME,ADDRESS=RTRIM (SAC.ADD1)+' '+RTRIM(SAC.ADD2)+'  '+RTRIM(SAC.ADD3),ITEM= SAC.State,H.FORM_NO,A.S_TAX,E.QTY
--FROM #FORM_LS2 A
--Inner Join VATITEM_VW e On(A.Bhent = e.Entry_ty And A.Tran_cd = e.Tran_cd and a.it_code=e.it_code and a.itserial=e.itserial)
--INNER JOIN VATMAIN_VW H ON A.BHENT=H.ENTRY_TY AND A.TRAN_CD=H.TRAN_cD 
--INNER JOIN AC_MAST SAC ON SAC.AC_ID =H.AC_ID 
--inner join stax_mas st on (st.tax_name=A.tax_name)  
--WHERE  A.ST_TYPE='OUT OF STATE' AND A.BHENT='ST'  AND SAC.C_TAX <> '' AND [RULE] IN ('REBATE','CT-3','CT-1','LUT') AND (A.DATE BETWEEN @SDATE AND @EDATE)
--ORDER BY A.INV_NO

--SELECT distinct   A.PER,TAXONAMT=sum (VATONAMT),sum(A.TAXAMT)as TAXAMT,ITEMAMT=sum(e.gro_amt),count(A.INV_NO) as INV_NO ,max(A.DATE) as DATE,PARTY_NM=SAC.MAILNAME,ADDRESS=RTRIM (SAC.ADD1)+' '+RTRIM(SAC.ADD2)+'  '+RTRIM(SAC.ADD3),ITEM= SAC.State,H.FORM_NO,A.S_TAX,E.QTY
--FROM #FORM_LS2 A
--Inner Join VATITEM_VW e On(A.Bhent = e.Entry_ty And A.Tran_cd = e.Tran_cd and a.it_code=e.it_code and a.itserial=e.itserial)
--INNER JOIN VATMAIN_VW H ON A.BHENT=H.ENTRY_TY AND A.TRAN_CD=H.TRAN_cD 
--INNER JOIN AC_MAST SAC ON SAC.AC_ID =H.AC_ID 
--inner join stax_mas st on (st.tax_name=A.tax_name)  
--WHERE A.ST_TYPE='OUT OF STATE' AND A.BHENT='ST' and   SAC.c_tax <> '' AND A.U_IMPORM='BRANCH TRANSFER' AND [RULE] IN ('REBATE','CT-3','CT-1','LUT') AND (A.DATE BETWEEN @SDATE AND @EDATE)
--group by SAC.MAILNAME,RTRIM (SAC.ADD1)+' '+RTRIM(SAC.ADD2)+'  '+RTRIM(SAC.ADD3),SAC.State,H.FORM_NO,A.S_TAX,E.QTY,A.PER

SELECT distinct TAXONAMT=SUM(VATONAMT),SUM(A.TAXAMT) as TAXAMT,ITEMAMT = SUM(e.gro_amt),COUNT(A.INV_NO) as INV_NO,
SAC.MAILNAME,A.ADDRESS,SAC.State,SAC.C_TAX FROM VATTBL A
Inner Join VATITEM_VW e On(A.Bhent = e.Entry_ty And A.Tran_cd = e.Tran_cd and a.it_code=e.it_code and a.itserial=e.itserial)
INNER JOIN VATMAIN_VW H ON A.BHENT=H.ENTRY_TY AND A.TRAN_CD=H.TRAN_cD INNER JOIN AC_MAST SAC ON SAC.AC_ID =H.AC_ID 
WHERE SAC.ST_TYPE='OUT OF STATE' AND A.BHENT='ST'  AND SAC.C_TAX <> '' 
AND [RULE] IN ('REBATE','CT-3','CT-1','LUT') AND (A.DATE BETWEEN @SDATE AND @EDATE)
AND LTRIM(RTRIM(REPLACE(REPLACE(A.RFORM_NM,'-',''),'FORM','')))='I'
GROUP BY SAC.MAILNAME,A.ADDRESS,SAC.State,SAC.C_TAX

OPEN CUR_FORMLS2bb
FETCH NEXT FROM CUR_FORMLS2bb INTO @TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@PARTY_NM,@ADDRESS,@ITEM,@S_TAX  
WHILE (@@FETCH_STATUS=0)
BEGIN
	SET @Form_Count=0
	Select @Form_Count = ISNULL(COUNT(RFORM_NM),0) FROM (Select A.RFORM_NM from VATTBL A INNER JOIN STMAIN B ON 
	(A.BHENT = B.entry_ty AND A.TRAN_CD = B.Tran_cd) WHERE AC_NAME = @PARTY_NM
	AND LTRIM(RTRIM(REPLACE(REPLACE(RFORM_NM,'-',''),'FORM','')))='I' AND ST_TYPE='OUT OF STATE' AND BHENT = 'ST' 
	AND S_TAX <> '' AND B.[rule] IN ('REBATE','CT-3','CT-1','LUT')) A
	

	SET @INV_NO=0
	Select @INV_NO = ISNULL(COUNT(INV_NO),0) FROM (Select Distinct A.INV_NO from VATTBL A INNER JOIN STMAIN B ON 
	(A.BHENT = B.entry_ty AND A.TRAN_CD = B.Tran_cd) WHERE AC_NAME = @PARTY_NM
	AND LTRIM(RTRIM(REPLACE(REPLACE(RFORM_NM,'-',''),'FORM','')))='I' AND ST_TYPE='OUT OF STATE' AND BHENT = 'ST' 
	AND S_TAX <> '' AND B.[rule] IN ('REBATE','CT-3','CT-1','LUT')) A

	INSERT INTO #FORMLS2 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,ITEM,FORM_NM,S_TAX,Qty)
    VALUES (1,'2',CHAR(@CHAR),0,ISNULL(@TAXONAMT,0),ISNULL(@Form_Count,0),ISNULL(@ITEMAMT,0),ISNULL(@INV_NO,''),'',ISNULL(@PARTY_NM,''),
    ISNULL(@ADDRESS,''),ISNULL(@ITEM,''),'',ISNULL(@S_TAX,''),0)
	
	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMLS2bb INTO @TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@PARTY_NM,@ADDRESS,@ITEM,@S_TAX  
END
CLOSE CUR_FORMLS2bb
DEALLOCATE CUR_FORMLS2bb

Update #formLS2 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),


SELECT * FROM #FORMLS2 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END
--Print 'HR VAT FORM LS 02'