IF EXISTS(SELECT NAME,XTYPE FROM SYSOBJECTS WHERE XTYPE ='P' AND NAME='USP_REP_HPVATFORMXV') 
BEGIN
	DROP PROCEDURE USP_REP_HPVATFORMXV
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
		EXECUTE USP_REP_HPVATFORMXV'','','','04/01/2014','03/31/2015','','','','',0,0,'','','','','','','','','2014-2015',''
*/

CREATE PROCEDURE [dbo].[USP_REP_HPVATFORMXV] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME  
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)  
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)  
,@SAMT FLOAT,@EAMT FLOAT	
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)  
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)  
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)  
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)  
,@LYN VARCHAR(20)  
,@EXPARA  AS VARCHAR(60)= null  
AS  
BEGIN  
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)  
EXECUTE   USP_REP_FILTCON   
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND  
,@VSDATE=NULL  
,@VEDATE=@EDATE  
,@VSAC =@SAC,@VEAC =@EAC  
,@VSIT=@SIT,@VEIT=@EIT  
,@VSAMT=@SAMT,@VEAMT=@EAMT  
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT  
,@VSCATE =@SCATE,@VECATE =@ECATE  
,@VSWARE =@SWARE,@VEWARE  =@EWARE  
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR  
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL  
,@VDTFLD ='DATE'  
,@VLYN=NULL  
,@VEXPARA=@EXPARA  
,@VFCON =@FCON OUTPUT  
  
DECLARE @SQLCOMMAND NVARCHAR(4000)  
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)  
DECLARE @AMTA3 NUMERIC(12,2),@AMTA11 NUMERIC(12,2),@AMTA111 NUMERIC(12,2),@AMTA22 NUMERIC(12,2),@AMTA33 NUMERIC(12,2),@AMTA222 NUMERIC(12,2),@AMTA333 NUMERIC(12,2) 
--DECLARE @AMTA4 NUMERIC(12,2) ,@AMTA44 NUMERIC(12,2) ,@AMTA444 NUMERIC(12,2),@AMTA5 NUMERIC(12,2) ,@AMTA55 NUMERIC(12,2) ,@AMTA555 NUMERIC(12,2)   
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)--, @S_Tax VARCHAR(20)
  
SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
SELECT ENTRY_TY,BCODE=(CASE WHEN EXT_VOU=1 THEN BCODE_NM ELSE ENTRY_TY END)  INTO #LCODE FROM LCODE 

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2),@NetCNDN as numeric (12,2)

----Temporary Cursor1
SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
INTO #HPVATFORM_XV
FROM PTACDET A
INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

alter table #HPVATFORM_XV add recno int identity

---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=9999999999.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,AMT4=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
INTO #HPVATFORMXV
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #HPVATFORM_XV Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 --EXECUTE USP_REP_SINGLE_CO_DATA /*Commented by Suraj K. on 13-01-2015 BY SURAJ FOR BUG-25055 */
		 /*added by Suraj K. on 13-01-2015 BY SURAJ FOR BUG-25055 start */
		  EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
		/*added by Suraj K. on 13-01-2015 BY SURAJ FOR BUG-25055 */
		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		-- BY SURAJ BUG-24201 START
		--SET @SQLCOMMAND='Insert InTo #HPVATFORM_XV Select * from '+@MCON
		--PRINT 'J1'
		--PRINT @SQLCOMMAND
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		/*added by Suraj K. on 13-01-2015 BY SURAJ FOR BUG-25055 end */
	End
-----

/*	2. Gross turnover, deduction from gross turnover taxable turnover of sales and computation of tax (See sections 2(ze), 6 and 9 of the Act) 

2A.(1) Sale Price received and receivable for goods sold during return period: */
SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='ST' AND ST_TYPE IN('LOCAL','','OUT OF COUNTRY','OUT OF STATE') AND U_IMPORM NOT IN('BRANCH TRANSFER','CONSIGNMENT TRANSFER')
AND (DATE BETWEEN @SDATE AND @EDATE)
--SELECT @AMTA2=ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='ST' AND ST_TYPE NOT IN('LOCAL','OUT OF STATE') AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #HPVATFORMXV (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'1','A',0,(@AMTA1+@AMTA2),0,0,'')

/* 2A.(2) Value of goods sent within or outside the State otherwise than by way of sale*/
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='ST' AND ST_TYPE IN('LOCAL','','OUT OF COUNTRY','OUT OF STATE') AND U_IMPORM IN('BRANCH TRANSFER','CONSIGNMENT TRANSFER')
INSERT INTO #HPVATFORMXV (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'1','B',0,@AMTA1,0,0,'')  
/* 2B.Gross turnover [(1)+(2)] */
SET @AMTA1=0
SELECT @AMTA1=isnull(SUM(AMT1),0)  FROM #HPVATFORMXV WHERE PARTSR = '1' and SRNO In ('A ','B')
INSERT INTO #HPVATFORMXV (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'1','C',0,@AMTA1,0,0,'') 

/*2C.Deductions from Gross Turnover [section 6(3)] */
/*2C.(1)Sales of Tax-free Goods under section9 */
SET @AMTA1=0
SELECT  @AMTA1=isnull(SUM(GRO_AMT),0) FROM VATTBL WHERE TAX_NAME IN('EXEMPTED') AND ( BHENT ='ST' )AND (DATE BETWEEN @SDATE AND @EDATE)
	
/*2C.(2)Sale in the course of Inter-State trade or Commerce */
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE  BHENT='ST' AND(DATE BETWEEN @SDATE AND @EDATE) AND ST_TYPE ='OUT OF STATE' 
AND U_IMPORM  NOT in('Branch Transfer','Consignment Transfer') AND TAX_NAME NOT IN('EXEMPTED') 
/*2C.(3)Sale in the course of import into India */
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE  BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
AND ST_TYPE='OUT OF COUNTRY' AND U_IMPORM ='High Sea Sales' AND TAX_NAME NOT IN('EXEMPTED') 
/*2C.(4)Sale in the course of export out of India */
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0)  FROM VATTBL WHERE (BHENT='ST') AND (DATE BETWEEN @SDATE AND @EDATE)
AND U_IMPORM NOT in ('Branch Transfer','Consignment Transfer','High Sea Sales') and ST_TYPE ='Out Of Country' AND TAX_NAME NOT IN('EXEMPTED')
/*2C.(5) Sales outside the State of goods purchased outside the State */
/* Pending for Branch location transfer option are not available in software.*/
SET @AMTA1=0
SET @AMTA2=0
/*2C.(6)Value of goods sent otherwise than by way of sale :- 
(i) in the course of inter-state trade or commerce */
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM  VATTBL WHERE (BHENT='ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND ST_TYPE='OUT OF STATE'
AND U_IMPORM  in('Branch Transfer','Consignment Transfer') AND TAX_NAME NOT IN('EXEMPTED')
/*2C.(6).(ii) in the course of export out of the territory of India*/

SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL  WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) AND ST_TYPE='OUT OF COUNTRY'
AND U_IMPORM IN('Branch Transfer','Consignment Transfer') AND TAX_NAME NOT IN('EXEMPTED')

/*2C.(6).(iii) to local agents (registered dealers) for sale*/
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL  WHERE (BHENT='ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND ST_TYPE in('LOCAL') --AND S_TAX <> ''
AND U_IMPORM  in('Branch Transfer','Consignment Transfer') AND TAX_NAME NOT IN('EXEMPTED')

/*2C.(7) Total of (1) to (6) */
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(AMT1),0) FROM #HPVATFORMXV WHERE PARTSR = '1' and SRNO In ('E','F','F1','G','H','I','I1','I2')
/*2D. Taxable turnover of sales [2B(b)-2C(7)(b)] */
SET @AMTA1=0
SET @AMTA2=0
SET @AMTA11=0
SET @AMTA22=0
SET @AMTA111=0
SELECT @AMTA1=ISNULL(SUM(AMT1),0),@AMTA11=ISNULL(SUM(AMT2),0) FROM #HPVATFORMXV WHERE PARTSR = '1' and SRNO In ('C')
SELECT @AMTA2=ISNULL(SUM(AMT1),0),@AMTA22=ISNULL(SUM(AMT2),0) FROM #HPVATFORMXV WHERE PARTSR = '1' and SRNO In ('E','F','F1','G','H','I','I1','I2')
SET @AMTA111=@AMTA1-@AMTA2
/* 2E  */
SET @AMTF1=0 
 SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
 SET @CHAR=65
 DECLARE  CUR_HPVATFORMXV CURSOR FOR 
 select distinct level1 from stax_mas --where level1 <> 0
 OPEN CUR_HPVATFORMXV
 FETCH NEXT FROM CUR_HPVATFORMXV INTO @PER
 WHILE (@@FETCH_STATUS=0)
 BEGIN
		begin
			/*(a) Break-up of 2D according to rate of tax */
			SELECT @AMTA1=ISNULL(SUM(GRO_AMT - TAXAMT),0),@AMTD1=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='ST'  AND ST_TYPE in('LOCAL','') 
			AND U_IMPORM  not in('Branch Transfer','Consignment Transfer') And TAX_NAME NOT IN('EXEMPTED')
			AND (DATE BETWEEN @SDATE AND @EDATE) AND PER=@PER
			
			/*(b) Effect of return of goods and (de-)/escalation[LS-2]			*/
			SELECT @AMTB1=ISNULL(SUM(GRO_AMT - TAXAMT),0),@AMTE1=ISNULL(SUM(TAXAMT),0) FROM VATTBL where BHENT='SR'  AND ST_TYPE in('LOCAL') AND U_IMPORM  not in('Branch Transfer','Consignment Transfer')
			AND (DATE BETWEEN @SDATE AND @EDATE) AND PER=@PER
			
			/*(c)Effect of purchases made from exempted  Unit (Less Purchase  Value : Tax on Value Addition Only )  */
			if @AMTA1 <> 0
				begin
					SELECT @AMTC1=ISNULL(SUM(GRO_AMT - TAXAMT),0),@AMTF1=ISNULL(SUM(TAXAMT),0) FROM VATTBL
					WHERE TAX_NAME ='EXEMPTED' AND BHENT ='PT'  AND U_IMPORM NOT IN('Consignment Transfer','Branch Transfer') AND ST_TYPE in('LOCAL')
					AND (DATE BETWEEN @SDATE AND @EDATE) AND PER=@PER
				end
		end	
  set @AMTF1 =isnull(@AMTF1,0)
  set @AMTB1 =isnull(@AMTB1,0)
  set @AMTC1 =isnull(@AMTC1,0)
  set @AMTD1 =isnull(@AMTD1,0)
  set @AMTE1 =isnull(@AMTE1,0)
  set @AMTF1 =isnull(@AMTF1,0)
  PRINT @AMTF1
	IF (@AMTA1 <> 0 OR @AMTB1 <> 0 OR @AMTC1 <> 0)
	  begin
     	  --INSERT INTO #HPVATFORMXV(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,amt4) VALUES (1,'2',CHAR(@CHAR),@PER,@AMTA1,@AMTB1,@AMTC1,'',CASE WHEN @AMTA1-(@AMTB1+@AMTC1) <> 0 THEN (((@AMTA1-(@AMTB1+@AMTC1))* @PER)/100) ELSE 0 END)
     	  INSERT INTO #HPVATFORMXV(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,amt4) VALUES (1,'2',CHAR(@CHAR),@PER,@AMTA1,@AMTB1,@AMTC1,'',(@AMTD1-(@AMTE1+@AMTF1)))
 		 SET @CHAR=@CHAR+1
	  end
      FETCH NEXT FROM CUR_HPVATFORMXV INTO @PER
 END
 CLOSE CUR_HPVATFORMXV
 DEALLOCATE CUR_HPVATFORMXV
 SET @AMTA1=0
IF NOT EXISTS(SELECT PART FROM #HPVATFORMXV WHERE  PART=1 AND PARTSR='2')
BEGIN
	INSERT INTO #HPVATFORMXV(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,amt4) VALUES (1,'2','',0,0,0,0,'',0)
END
---Total of Tax & Taxable Amount of Sales for the period
SELECT @AMTA1=ISNULL(SUM(AMT4),0),@AMTA2=ISNULL(SUM(AMT1),0) FROM #HPVATFORMXV WHERE  PART=1 AND PARTSR='2'
--(1,'2','Z',0,@AMTA2,0,0,'Total Tax Amount',@AMTA1)

/*3A.1(a) Purchased from registered dealers in the State on tax invoice) */
SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1=isnull(SUM(gro_amt),0)FROM VATTBL 
WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND S_TAX<>'' AND ST_TYPE in('LOCAL') and itemtype='I'
/*3A.(1(b) Aggregate price/value of capital goods eligible for input tax credit)*/
SET @AMTA1=0
SELECT @AMTA1=isnull(SUM(gro_amt),0) FROM VATTBL A
WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND A.S_TAX <> '' AND ST_TYPE in('LOCAL') and itemtype='C'

/*3A.(1(c)Aggregate price/value of goods purchased from Registered Exempted Unit)*/
SET @AMTA1=0
SELECT @AMTA1=isnull(SUM(gro_amt),0) FROM  VATTBL A INNER JOIN AC_MAST AC ON (a.AC_ID=AC.AC_ID)
WHERE (A.BHENT='PT') AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.S_TAX<>'' AND AC.U_EXEUNIT = 1

--3A.(2)Purchased from other dealers without Tax Invoice
SET @AMTA1=0
SELECT @AMTA1=isnull(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND S_TAX='' 
--(3a)(a)Purchased in the course of inter-State trade or commerce
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL
WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND ST_TYPE='OUT OF STATE'  and itemtype ='I' 
--(3A)(b)Capital Goods Purchased in the course of inter-State trade or commerce
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND ST_TYPE='OUT OF STATE'  and itemtype ='C'
--(3).(4)(a)Purchased in the course of import into India
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM  VATTBL 
WHERE (BHENT='PT') AND (DATE BETWEEN @SDATE AND @EDATE)
AND ST_TYPE='OUT OF COUNTRY' AND ITEMTYPE ='I' AND FORM_NM NOT IN('H FORM','FORM H')
--3A(4)(b)Capital Goods Purchased in the course of import into India
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL A 
WHERE (BHENT='PT') AND (DATE BETWEEN @SDATE AND @EDATE)
AND ST_TYPE='OUT OF COUNTRY' and itemtype ='C' AND FORM_NM NOT IN('H FORM','FORM H') 
--3A(5)Purchased in the course of export out of India
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL 
WHERE (BHENT='PT') AND (DATE BETWEEN @SDATE AND @EDATE) AND ST_TYPE='OUT OF COUNTRY'
AND FORM_NM IN('H FROM','FORM H')

--3A(6)Imported into the State
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL A INNER JOIN AC_MAST AC ON A.AC_ID =AC.Ac_id 
WHERE A.BHENT='PT' AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE IN('OUT OF COUNTRY')
AND A.FORM_NM NOT IN('H FORM','FORM H') AND A.U_IMPORM ='Import from Outside India' and AC.U_EXEUNIT <> 1 
--3A(7)Purchased outside the State for sales outside
SET @AMTA1=0

--3A(8) Received for sale from dealers registered in the State
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL 
WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
AND ST_TYPE='LOCAL'  AND S_TAX<>''
SET @AMTA1=ISNULL(@AMTA1,0)

--3A(9)Received for sale from the dealer outside the State
SET @AMTA1=0
SELECT @AMTA1=ISNULL(SUM(GRO_AMT),0) FROM VATTBL A
WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
and st_type='OUT OF STATE'
--3A (10) Total [(1) to (9)]
SET @AMTA1=0
SET @AMTA2=0
SELECT @AMTA1=SUM(AMT1),@AMTA2=SUM(AMT2) FROM #HPVATFORMXV WHERE PARTSR = '3' and SRNO In ('A ','A1','A2','B','C','C1','D','D1','E','F','G','H','I')
SET @AMTA1=isnull(@AMTA1,0)
SET @AMTA2=isnull(@AMTA2,0)
SET @Per=isnull(@Per,0)
/*3B 
	(a) Break-up of3A(1)(a) +3A(1)(b)according to rate oftax */ 

 SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
 SET @CHAR=65
 DECLARE  CUR_HPVATFORMXV CURSOR FOR 
 select distinct level1 from stax_mas --where ST_TYPE='LOCAL' --CHARINDEX('VAT',TAX_NAME)>0
 OPEN CUR_HPVATFORMXV
 FETCH NEXT FROM CUR_HPVATFORMXV INTO @PER
 WHILE (@@FETCH_STATUS=0)
 BEGIN
		begin
			SELECT @AMTA1=ISNULL(SUM(VATONAMT),0)FROM VATTBL WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND S_TAX<>'' AND ST_TYPE='LOCAL' AND PER=@PER
			SELECT @AMTB1=ISNULl(SUM(TAXAMT),0)  FROM VATTBL WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND S_TAX<>'' AND ST_TYPE='LOCAL' AND PER=@PER
			SELECT @AMTC1=ISNULL(SUM(VATONAMT),0)FROM VATTBL WHERE BHENT='PR' AND (DATE BETWEEN @SDATE AND @EDATE) AND S_TAX<>'' AND ST_TYPE='LOCAL' AND PER=@PER
			SELECT @AMTD1=ISNULL(SUM(TAXAMT),0) FROM VATTBL  WHERE (BHENT='PR') AND (DATE BETWEEN @SDATE AND @EDATE) AND S_TAX<>'' AND ST_TYPE='LOCAL' AND PER=@PER 
		end	
	Set @NetEFF = ( @AMTA1)    
  SET @NETTAX = (@AMTB1-@AMTD1)
  SET @NETCNDN = (@AMTC1) 
  if @NetEFF <> 0
	  begin
     	  INSERT INTO #HPVATFORMXV
		  (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES
		  (1,'3B',CHAR(@CHAR),@PER,@NETEFF,((@NETEFF - @NETCNDN)*@PER/100),@NETCNDN,'')
		  SET @AMTJ1=@AMTJ1+@NETEFF --TOTAL TAXABLE AMOUNT
		  SET @AMTK1 =@AMTK1+@NETTAX
		  SET @AMTL1=@AMTL1+((@NETEFF - @NETCNDN)*@PER/100)--TOTAL CNDN
		  SET @CHAR=@CHAR+1
	  end
  FETCH NEXT FROM CUR_HPVATFORMXV INTO @PER
 END
IF NOT EXISTS(SELECT PART FROM #HPVATFORMXV WHERE PART=1 AND PARTSR='3B')
BEGIN
	INSERT INTO #HPVATFORMXV (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) 
	VALUES (1,'3B','',0,0,0,0,'')
END 
/* Total of Tax & Taxable Amount of Sales for the period  */
 CLOSE CUR_HPVATFORMXV
 DEALLOCATE CUR_HPVATFORMXV
/* 4. Aggregate of tax levied on sale or purchases and 5. Computation of Input tax credit (See- section 11)*/
/* 4.1 Tax on Sales [2E(F)] and 5.1Opening Input Tax Credit on unsold stock[See Section 11(1)(i)]  */
SET @AMTA3=0
SELECT @AMTA3=isnull(AMT4,0) FROM #HPVATFORMXV WHERE PARTSR = '2' and SRNO In ('Z')
/*4.2Purchase Tax [11(4)(d)] AMT3 AND 5.2Opening Input Tax Credit on Capital Goods AMT2 */
/*4.3.Total tax [(1) + (2)] AMT3  */
SET @AMTA3=0
SELECT @AMTA3=ISNULL(SUM(AMT3),0) FROM #HPVATFORMXV WHERE PARTSR = '4' and SRNO In ('A','B')
/*5.3 Tax Paid on purchases made in the State[3B(e)] AMT2 */
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(AMT2),0) FROM #HPVATFORMXV WHERE PART=1 AND PARTSR='3B' AND SRNO='Z'
/*5.4 Total [5(1)+5(2)+5(3)]  */

SET @AMTA2 = 0
SELECT @AMTA2=ISNULL(SUM(AMT2),0) FROM #HPVATFORMXV WHERE PARTSR = '4' and SRNO In ('A','B','C') AND PART=1
/*5.5 Less Tax Paid, not part of input tax[10C(3)] */
SET @AMTA2 = 0
/*5.6 Claimable Input Tax [5(4)-5(5)] */
SET @AMTA2 = 0
SELECT  @AMTA2 = ISNULL(SUM(CASE WHEN SRNO='D' THEN AMT2 ELSE  -AMT2 END),0) FROM #HPVATFORMXV WHERE PART=1 AND PARTSR='4' AND SRNO IN('D','E')
/*5.7 Less Tax Paid but involved in unsold stock[See Section 11(1)(i)] */
/* 5.8 Less Tax Paid on capital goods, to be carried forward to future periods[See Section 11(6)] */
/* 5.9 Input Tax Credit [5(6)-5(7)-5(8)] */
SET @AMTA2 = 0
SELECT  @AMTA2 = ISNULL(SUM(CASE WHEN SRNO='F' THEN AMT2 ELSE  -AMT2 END),0) FROM #HPVATFORMXV WHERE PART=1 AND PARTSR='4' AND SRNO IN('F','G','H')
/* 5.10 Input Tax on Unsold Stock Carried Forward [5(7)] */
SET @AMTA2 = 0
SELECT  @AMTA2 = ISNULL(SUM(AMT2),0) FROM #HPVATFORMXV WHERE PART=1 AND PARTSR='4' AND SRNO='G'
/* 5.11 Input Tax on Capital Goods Carried Forward [5(8)] */ 
SET @AMTA2 = 0
SELECT  @AMTA2 = ISNULL(SUM(AMT2),0) FROM #HPVATFORMXV WHERE PART=1 AND PARTSR='4' AND SRNO='H'
 /* 6.Taxpayable or adjustable(See section 12)
 6.1 Gross Tax Payable [4(3)-5(3)] */
select @AmtA1=Amt3-Amt2 from #HPVATFORMXV where PartSr = '4' and srno = 'C'
SET @AMTA1=ISNULL(@AMTA1,0)
/* 6.2 Less: Excess paid brought forward from last return */
/* 6.3 Tax Payable[6(1)-6(2)] */
set @AmtA1=0
select @AmtA1 =ISNULL(SUM((case when srno='A' THEN AMT1 ELSE -AMT1 END)),0) from #HPVATFORMXV where PartSr = '5' and srno in('A','B') AND  PART=1
PRINT @AmtA1
SET @AMTA1=ISNULL(@AMTA1,0)
-- ADDED BY SURAJ FOR BUG-24201 START --6Tax payable or adjustable (See section 12)
/* 6.3.2 If Covered under any Deferment/Exemption Scheme(Yes/No)Yes/No */
/* 6.3.3 If Yes, Notification No. based on which such deferment/exemption is being claimed: */
/* 6.3.4 Entitlement Certificate Number;*/
/* 6.3.5Year of Availment: */
/* 6.3.6 %of amount of the total tax liability required to be paid as per the above entitlement certificate */
/* 6.3.7%of amount of the total tax liability required to be paid upfront as per the above entitlement certificate  */
/* 6.3.8% of amount of the total tax liability deferred as per the above entitlement certificate  */
/* 6.3.9% of amount of the total tax liability exempted as per the above entitlement certificate  */
/* 6.3.10 (a)Total amount of the total tax liability due for payment for the current period as per the above scheme*/
/* 6.3.11 (b)Total amount of the total tax liability due for payment in this return period out of the tax deferred earlier in revious period as per the above scheme*/
/* 6.3.12 Total amount of the total tax liability due for payment in this return period as per the above scheme(a+b) */
/* 6.3.13 (i) Opening balance of the total amount of total tax liability deferred till date as per the above scheme */
/* 6.3.17 (ii) Total tax liability paid out of the opening balance of the total amount of deferred tax in this return period  */
/* 6.3.15 (iii)Total amount of the total tax liability deferred for the current period */
/* 6.3.16 Total amount of the total tax liability deferred to future periods(i-ii+iii) */
/* 6.5Net Tax Payable [6(3)](For dealers not covered under any deferment/exemption scheme) */
/* 6.6 Net Tax Payable [6(4)](For dealers covered under deferment/exemption scheme) */
/* 6.7 Amount of Input Tax Credit adjusted under section 12(2)  */
/* 6.8  Amount of Input Tax Credit adjusted under section 12(3)  */
/* 6.9 Excess carry forward after (7) and/or (8) above  */
/*Part 7  7. Details of Tax deposited  */
Declare @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(10),@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(30),@S_TAX as varchar(30),@QTY as numeric(18,4)
SELECT @TAXONAMT=0,@TAXAMT =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',@QTY=0
SET @CHAR=65
SET @PER = 0
declare Cur_VatPay cursor  for
select Taxonamt = a.vatonamt,A.Gro_amt,A.taxamt,INV_NO=b.u_chalno,Date=b.U_CHALDT,b.BANK_nm,Address='',A.Form_nm,B.CHEQ_NO
from VATTBL A
Inner join Bpmain B on (A.Bhent = B.Entry_ty and A.Tran_cd = B.Tran_cd)
where BHENT = 'BP' And B.Date Between @sdate and @edate And B.Party_nm like 'VAT Payable'
open Cur_VatPay
FETCH NEXT FROM Cur_VatPay INTO @TAXONAMT,@ITEMAMT,@TAXAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX
	WHILE (@@FETCH_STATUS=0)
	BEGIN
	SET @PER=CASE WHEN @PER IS NULL THEN 0 ELSE @PER END
	SET @TAXONAMT=CASE WHEN @TAXONAMT IS NULL THEN 0 ELSE @TAXONAMT END
	SET @TAXAMT=CASE WHEN @TAXAMT IS NULL THEN 0 ELSE @TAXAMT END
	SET @ITEMAMT=CASE WHEN @ITEMAMT IS NULL THEN 0 ELSE @ITEMAMT END
	SET @QTY=CASE WHEN @QTY IS NULL THEN 0 ELSE @QTY END
	SET @PARTY_NM=CASE WHEN @PARTY_NM IS NULL THEN '' ELSE @PARTY_NM END
	SET @INV_NO=CASE WHEN @INV_NO IS NULL THEN '' ELSE @INV_NO END
	SET @DATE=CASE WHEN YEAR(@DATE)<=1900 THEN NULL ELSE @DATE END
	SET @ADDRESS=CASE WHEN @ADDRESS IS NULL THEN '' ELSE @ADDRESS END
	SET @ITEM=CASE WHEN @ITEM IS NULL THEN '' ELSE @ITEM END
	SET @S_TAX=CASE WHEN @S_TAX IS NULL THEN '' ELSE @S_TAX END
	SET @FORM_NM=CASE WHEN @FORM_NM IS NULL THEN '' ELSE @FORM_NM END
	print @DATE

	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_VatPay INTO @TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX--,@ITEM,@QTY
END
CLOSE CUR_VatPay
DEALLOCATE CUR_VatPay
IF NOT EXISTS(SELECT SRNO FROM #HPVATFORMXV WHERE PART=1 AND PARTSR='7')
BEGIN
	INSERT INTO #HPVATFORMXV (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX) VALUES (1,'7',CHAR(@CHAR),@PER,@TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX)
END
/*part-8 8.Account of forms printed under the Government authority/ required to be authenticated by the assessing authority. */

/*TYPE OF FORM ST-XXVI-A(Out) */
SET @AMTA1=0
SELECT @AMTA1 =ISNULL(SUM(gro_amt),0) FROM VATTBL WHERE (BHENT='PT') AND (DATE BETWEEN @SDATE AND @EDATE) AND FORM_NM IN('ST-XXVI-A (out)')
/*TYPE OF FORM VAT */
SET @AMTA1=0
SELECT @AMTA1 =ISNULL(SUM(gro_amt),0)  FROM VATTBL  WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND FORM_NM IN('VAT','FORM VAT','VAT FORM','VAT-')
/*TYPE OF FORM C */
SET @AMTA1=0
SELECT @AMTA1 =ISNULL(SUM(gro_amt),0) FROM VATTBL  WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND FORM_NM IN('C','FORM C','C FORM')
/*TYPE OF FORM E-I */
SET @AMTA1=0
SELECT @AMTA1 =ISNULL(SUM(gro_amt),0) FROM VATTBL  WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND FORM_NM IN('E-I','FORM E-I','E-II FROM')
/*TYPE OF FORM E-II */
SET @AMTA1=0
SELECT @AMTA1 =ISNULL(SUM(gro_amt),0) FROM VATTBL  WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND FORM_NM IN('FORM E-II','E-II FORM','E-II')
/*TYPE OF FORM F */
SET @AMTA1=0
SELECT @AMTA1 =ISNULL(SUM(gro_amt),0) FROM VATTBL WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND FORM_NM IN('F','F FROM','FORM F')
/*TYPE OF FORM H */
SET @AMTA1=0
SELECT @AMTA1 =ISNULL(SUM(GRO_AMT),0) FROM VATTBL  WHERE BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND FORM_NM IN('H','H FROM','FORM H')

/*part-9 Statutory declaration and certificates received from other dealers furnished with the returns.*/
-- 1.FOR STXXVI-A(Out) FORM 
SET @AMTA1=0
SET @AmtA2=0
SELECT @AMTA1 =COUNT(GRO_AMT),@AMTA2 =ISNULL(SUM(GRO_AMT),0) FROM VATTBL  WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) AND RFORM_NM IN('STXXVI-A (out)')

PRINT @AMTA1
PRINT @AmtA2
-- 5.FOR E-I FORM 
SET @AMTB1=0
SET @AmtB2=0
SELECT @AMTB1 =COUNT(GRO_AMT),@AMTB2 =ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) AND RFORM_NM IN('E-I','FORM E-I','E-II FORM')
--2
-- FOR VAT FORM 
SET @AMTA1=0
SET @AmtA2=0
SELECT @AMTA1 =COUNT(GRO_AMT),@AMTA2 =ISNULL(SUM(GRO_AMT),0) FROM ( SELECT DISTINCT A.TRAN_CD,A.GRO_AMT FROM VATTBL A INNER JOIN VATMAIN_VW M ON (A.BHENT=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_cD ) INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID) WHERE (A.BHENT='ST') AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.RFORM_NM IN('VAT','FORM VAT','VAT FORM','VAT-'))B
-- FOR E-II FORM
SET @AMTB1=0
SET @AmtB2=0
SELECT @AMTB1 =COUNT(GRO_AMT),@AMTB2 =ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) AND RFORM_NM IN('E-II','FORM E-II','E-II FORM')
--3
-- FOR C FORM 
SET @AMTA1=0
SET @AmtA2=0
SELECT @AMTA1 =COUNT(GRO_AMT),@AMTA2 =ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) AND RFORM_NM IN('FORM C','C FORM','C')
-- FOR F FORM 
SET @AMTB1=0
SET @AmtB2=0
SELECT @AMTB1 =COUNT(GRO_AMT),@AMTB2 =ISNULL(SUM(GRO_AMT),0) FROM VATTBL WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) AND RFORM_NM IN('FORM F','F FORM','F')
--4
-- FOR D FORM 
SET @AMTA1=0
SET @AmtA2=0
SELECT @AMTA1=COUNT(GRO_AMT),@AMTA2 =ISNULL(SUM(GRO_AMT),0) FROM VATTBL  WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) AND RFORM_NM IN('FORM D','D FORM','D')
-- FOR H FORM 
SET @AMTB1=0
SET @AmtB2=0
SELECT @AMTB1 =COUNT(GRO_AMT),@AMTB2 =ISNULL(SUM(GRO_AMT),0) FROM VATTBL  WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE) AND RFORM_NM IN('FORM H','H FORM','H')
/* part-10 Computation of tax paid in respective of goods purchased in the state from registered dealers on tax invoice but which shall not be form part of input tax credit (See Section 11) */
/*A. All goods except mentioned as purchased from registered dealers on tax invoice when. */
/*(1) used in telecommunications network,or in the generation and distribution of electricity or other form of power */
/* (2) the tax on their purchase was paid @4% or less or such goods are disposed of otherwise than by way of sale and*/
/*(3) used in manufacture or packing of goods declared a tax-free under section9(Except which 
such goods are sold in coures of export out of India)*/
/*(4) left in stock. whether in the form purchased or in manufactured or processed form.on the day 
of closure of business or cancellation of the registration certificate*/
/*(5) made in the circumstances specified in section 11(7)(c)*/
/*(6) covered by  section 11(7)(d) and (e)*/
/*(7) used for the purpose specified in section 11(7)(j)*/
/*(8) tax invoice is not available or not issued or orginal tax invoice issued does not show separate 
details of tax charged  */
/*(9)purchased from an industrial unit after paying concessional rate of tax*/
/*(10)covered by Schedule of Input Tax restricted Goods as provided u/s 11(8)*/
/*(11)other purchases, tax paid in respect of which not to form part of input tax credit */
/*(12)purchase of fuel and lubricants made in the circumstances specified in section 11(3)*/
/*(13)purchase of goods other than fuel and lubricants made in the circumstances specified in 
section 11(4)(a) and 11(4)(b)*/
/*B. Total [(1) to (11)]*/
/**/
--part-10B
/* chart header */
SET @PER = 0


/*part-11  11. Purchase tax (See Section 6(1)b and 8). */
/*Data should come from PT  having tax rate > 0 and according tax rate taxable values amount rate and tax values 
Added by Suraj K. on Date 29-12-2014
*/
SET @PER = 0
 DECLARE  CUR_PT_HPVATFORMXV CURSOR FOR 
 select distinct level1 from stax_mas where level1>0
 OPEN CUR_PT_HPVATFORMXV
 FETCH NEXT FROM CUR_PT_HPVATFORMXV INTO @PER
 WHILE (@@FETCH_STATUS=0)
 BEGIN
	IF (@PER > 0)
	BEGIN
		SET @AMTA1 = 0
		SET @AMTA2 = 0
		SELECT @AMTA1 =ISNULL(SUM(A.VATONAMT),0) FROM VATTBL A INNER JOIN IT_MAST IT ON (A.It_code=IT.IT_CODE) WHERE A.BHENT='PT' AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.PER=@PER AND IT.U_SHCODE='SCHEDULE C'
		IF @AMTA1 <> 0
		BEGIN
			PRINT @AMTA1
			SET @AMTA2=((@AMTA1 * @PER)/100)
			PRINT @AMTA2
		END
	END
	FETCH NEXT FROM CUR_PT_HPVATFORMXV INTO @PER
 END
CLOSE CUR_PT_HPVATFORMXV
DEALLOCATE CUR_PT_HPVATFORMXV
IF NOT EXISTS(SELECT SRNO FROM #HPVATFORMXV WHERE PART=1 AND PARTSR='12' AND SRNO='A')
	BEGIN
		INSERT INTO #HPVATFORMXV (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'12','A',0,0,0,0,'')
	END

SET @AMTA1 = 0
SET @AMTA2 = 0
SET @PER= 0
SELECT @AMTA1 =ISNULL(SUM(AMT1),0),@AMTA2 =ISNULL(SUM(AMT2),0) FROM  #HPVATFORMXV WHERE PART=1 AND PARTSR='12' AND SRNO IN('A','B')

/* part-12 Entry Tax */

---Updating Null Values with spaces or Zeros
Update #HPVATFORMXV set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), AMT4 = isnull(AMT4,0), INV_NO = isnull(INV_NO,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''), 
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,''),date=(case when year(date)<=1900 then Null else date end)
  
SELECT * FROM #HPVATFORMXV order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
DROP TABLE #HPVATFORMXV
end  
