DROP PROCEDURE [Usp_Rep_ISD_Bill_GST]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shrikant S.
-- Create date: 07/11/2016
-- Description:	This Stored procedure is useful to generate ISD Bill.
-- =============================================
Create Procedure [Usp_Rep_ISD_Bill_GST] 
@ENTRYCOND NVARCHAR(254)
as
begin
	--->Entry_Ty and Tran_Cd Separation
		declare @ent varchar(2),@trn int,@pos1 int,@pos2 int,@pos3 int--,@ENTRYCOND NVARCHAR(254)
		print @ENTRYCOND
		set @pos1=charindex('''',@ENTRYCOND,1)+1
		set @ent= substring(@ENTRYCOND,@pos1,2)
		set @pos2=charindex('=',@ENTRYCOND,charindex('''',@ENTRYCOND,@pos1))+1
		set @pos3=charindex('=',@ENTRYCOND,charindex('''',@ENTRYCOND,@pos2))+1
		set @trn= substring(@ENTRYCOND,@pos2,@pos2-@pos3)
	---<---Entry_Ty and Tran_Cd Separation

	SELECT M.DATE,M.INV_NO
	,m.inv_no,m.date,IT_MAST.serty,m.pinvno,m.pinvdt				
	,i.CGST_AMT,i.SGST_AMT,i.IGST_AMT
	,AC_MAST.AC_NAME,ac_mast.i_tax,ac_mast.add1,ac_mast.add2,ac_mast.add3,ac_mast.city,ac_mast.zip
	,m.entry_ty,m.tran_cd
	--,m1entry_ty=m1.entry_ty,m1tran_cd=m1.tran_cd
	,MailName = (CASE WHEN ISNULL(ac_mast.MailName,'')='' THEN ac_mast.ac_name ELSE ac_mast.mailname END)
	,AC_MAST.gstin
	FROM IBMAIN M
	INNER JOIN AC_MAST ON (M.AC_ID=AC_MAST.AC_ID)
	INNER JOIN IBITEM i on (M.TRAN_cD=I.TRAN_CD)
	INNER JOIN IT_MAST ON (i.It_code=IT_MAST.It_code)
	--inner join ISDAlloc i on (i.entry_ty=m.entry_ty and i.tran_cd=m.tran_cd)
	--inner join SerTaxMain_vw m1 on (i.aentry_ty=m1.entry_ty and i.atran_cd=m1.tran_cd)
	WHERE  m.ENTRY_TY= @ent  and m.tran_cd=@trn
end
GO
