If Exists(Select [name] From SysObjects Where xtype='P' and [Name]='USP_REP_GJFORM403')
Begin
	Drop Procedure USP_REP_GJFORM403
End
GO
-- =============================================
-- Author:		sandeep Shah
-- Create date: 07/01/2014
-- Description:	 Gujarat VAT Form - 403 - Specified & Non Specifined goods
-- Modified By:  Gaurav R. Tanna: Bug-24835 (Date: 01/12/2014) (Instead of View, used tables directly)
-- Modified By:  Gaurav R. Tanna: Bug-24835 (Date: 21/01/2015) (Check post name, driver's licence issuing state added as per online process)
-- Modified By:	 Suraj Kumawat Bug-27256 (Date on 26-11-2015)               
-- Remark: 
-- ============================================= 
CREATE Procedure [dbo].[USP_REP_GJFORM403]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)
--,@EXPARA  AS VARCHAR(60)= NULL

AS
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@edate
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='PTMAIN',@VITFILE='PTITEM',@VACFILE=' ' 
,@VDTFLD ='DATE'
,@VLYN=null 
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

Declare @sqlcommand nvarchar(4000)
set @sqlcommand = '
SELECT PTMAIN.INV_SR,PTMAIN.TRAN_CD,PTMAIN.ENTRY_TY,PTMAIN.INV_NO,PTMAIN.DATE,U_CHALNO=SPACE(1),U_CHALDT=PTMAIN.DATE,PTMAIN.U_LRNO, 
 PTMAIN.U_LRDT,PTMAIN.U_NT,PTMAIN.U_DELI,PTMAIN.U_VEHNO,PTMAIN.GRO_AMT GRO_AMT1,PTITEM.TAX_NAME,(PTITEM.TAXAMT + PTITEM.ADDLVAT1) As TAXAMT, 
 PTMAIN.NET_AMT,PTMAIN.U_TRANSADD AS TRANDT,PTMAIN.U_CHKPST,AC_MAST.ST_TYPE,PTMAIN.U_LICSTATE,STAX_MAS.level1 As TaxRate,
PTMAIN.U_TRANSNM AS U_TMODE,PTMAIN.U_DRVNAME,PTMAIN.U_DRVADD,PTMAIN.U_DRVLICEN, PTMAIN.U_INCHPRNM, PTMAIN.U_INCHPRAD ,PTITEM.QTY,PTITEM.RATE,PTITEM.U_ASSEAMT,
U_MRPRATE='''',PTMAIN.U_OWNERNM,IT_MAST.IT_NAME,IT_MAST.U_VATITM As EIT_NAME,  IT_MAST.HSNCODE AS CHAPNO,IDMARK='''',IT_MAST.RATEUNIT,
AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,  AC_MAST.ZIP, AC_MAST.Phone,AC_MAST.FAX ,AC_MAST.S_TAX,AC_MAST.C_TAX,AC_MAST.U_STAXDT,AC_MAST.U_CTAXDT,
AC_MAST.ECCNO ,AC_MAST1.AC_NAME AC_NAME1,AC_MAST1.ADD1 ADD11,AC_MAST1.ADD2 ADD22,AC_MAST1.ADD3 ADD33, 
 AC_MAST1.CITY CITY1,AC_MAST1.ZIP ZIP1, AC_MAST1.Phone Phone1,AC_MAST1.Fax Fax1,AC_MAST1.S_TAX S_TAX1,AC_MAST1.C_TAX C_TAX1,AC_MAST1.ECCNO ECCNO1,AC_MAST1.U_STAXDT U_STAXDT1,AC_MAST1.U_CTAXDT U_CTAXDT1,
PTITEM.ITSERIAL'
set @sqlcommand = @sqlcommand + ',PTMAIN.U_403srno,ac_mast.state' 
set @sqlcommand = @sqlcommand + ',CASE WHEN ISNULL(AC_MAST.MAILNAME,'''') = '''' THEN AC_MAST.AC_NAME ELSE AC_MAST.MAILNAME END AS MAILNAME
,CASE WHEN ISNULL(AC_MAST1.MAILNAME,'''') = '''' THEN AC_MAST1.AC_NAME ELSE AC_MAST1.MAILNAME END AS MAILNAME1
,CASE WHEN CAST(ISNULL(IT_MAST.IT_DESC,'''') AS VARCHAR(250)) = '''' THEN IT_MAST.IT_NAME ELSE cast(IT_MAST.IT_DESC as varchar(250)) END AS IT_DESC ' 
set @sqlcommand = @sqlcommand + ' ,ac_mast.district'  --- for bug-27256
set @sqlcommand = @sqlcommand + ' FROM PTMAIN as PTMAIN  INNER JOIN PTITEM as PTITEM ON (PTMAIN.TRAN_CD=PTITEM.TRAN_CD and PTMAIN.entry_ty=PTITEM.entry_ty)
INNER JOIN IT_MAST ON (PTITEM.IT_CODE=IT_MAST.IT_CODE) INNER JOIN AC_MAST ON(AC_MAST.AC_ID=PTMAIN.AC_ID)
LEFT OUTER JOIN STAX_MAS ON (STAX_MAS.TAX_NAME=PTITEM.TAX_NAME And STAX_MAS.Entry_ty = PTITEM.entry_ty)
LEFT JOIN AC_MAST AC_MAST1 ON (AC_MAST1.AC_ID=PTMAIN.CONS_ID)
'+RTRIM(@FCON)
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'and PTMAIN.entry_Ty IN (''PT'', ''EP'')'+' '+'and (isnull(AC_MAST.ST_TYPE,'''') IN (''OUT OF STATE'',''OUT OF COUNTRY'') )' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'and PTMAIN.entry_Ty IN (''PT'', ''EP'')'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'and AC_MAST.ST_TYPE NOT IN(''Local'','''') and PTMAIN.U_403srno <> ''''' -- for bug-27256
+@EXPARA+''
-- and (PTMAIN.DATE BETWEEN '''+convert(varchar(50),@sdate)+''' AND '''+convert(varchar(50),@edate)''
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY PTMAIN.INV_SR,CAST(PTMAIN.INV_NO  AS INT)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+@RuleCondition /*Rup 09/06/2010 TKT-1690*/
print @sqlcommand
--@EXPARA
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
--Execute sp_executesql 

Execute sp_executesql @sqlcommand

