DROP PROCEDURE [Usp_Ent_Gen_Script]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*:*****************************************************************************
*:       Program: Usp_Ent_Gen_Script
*:        System: UDYOG Software (I) Ltd.
*:    Programmer: Shrikant
*: Last modified: 09/03/2009
*: Last modified: 18/07/2011
*:			 AIM: Creating the new Fields of given table for Standard Table and Remove Null
**:******************************************************************************/
Create Procedure [Usp_Ent_Gen_Script]
@Oth_DB varchar(20),@Std_DB varchar(20),@tbl_nm varchar(20)
AS
set nocount on
Declare @Fld_nm varchar(50),@type varchar(20),@colstat int,@Length int ,@xscale int,@data_type varchar(30)
DECLARE @CNT INT,@Type2 Varchar(1)
Declare @SQLCOMMAND NVARCHAR(4000),@identity varchar(100),@QueryStr Varchar(2000) 
Create Table #SelectQueries(id int identity, Query Varchar(8000) COLLATE SQL_Latin1_General_CP1_CI_AS)
Create Table #Queries(id int identity, Query Varchar(8000) COLLATE SQL_Latin1_General_CP1_CI_AS)

PRINT 'A1'
--******************  Searching the fields which are in Current Database and which are not in Standard Database --Start 
Create Table #TMP_tbl3 (Fld_nm varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,data_type varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS,[type] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS,colstat bit) 
set @SQLCOMMAND='Insert Into #TMP_tbl3 Select Syscolumns.[Name],Systypes.[name] as data_type,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'[size]=(case Systypes.[name] when ''text'' then ''Text'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''tinyint'' then ''Tinyint'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''smallint'' then ''SmallInt'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''int'' then ''Int'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''bigint'' then ''bigint'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''smalldatetime'' then ''SmallDateTime'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''datetime'' then ''DateTime'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''bit'' then ''Bit'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''decimal'' then ''Decimal'' +'+'''('''+'+convert(varchar(5),Syscolumns.[xprec])+'+''','''+'+convert(varchar(5),Syscolumns.[xscale])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''numeric'' then ''Numeric'' +'+'''('''+'+convert(varchar(5),Syscolumns.[xprec])+'+''','''+'+convert(varchar(5),Syscolumns.[xscale])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''varchar'' then ''Varchar'' +'+'''('''+'+convert(varchar(5),Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''varbinary'' then ''varbinary'' +'+'''('''+'+convert(varchar(5),Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''char'' then ''Char''  +'+'''('''+'+convert(varchar(5),Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''timestamp'' then ''TimeStamp'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''nvarchar'' then ''NVarchar'' +'+'''('''+'+convert(varchar(5),Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''nchar'' then ''NChar'' +'+'''('''+'+convert(varchar(5),Syscolumns.[Length]) +'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Else '' '' End), Syscolumns.colstat From Sysobjects '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join Syscolumns on (Sysobjects.id=Syscolumns.id) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join Systypes on (Systypes.Xtype=Syscolumns.Xtype and Systypes.Xusertype=Syscolumns.Xusertype)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Where Sysobjects.Xtype=''U'' and Sysobjects.[name]='''+@tbl_nm+''''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'and Syscolumns.[Name] Not in (Select '+@Std_DB+'..'+'Syscolumns.[Name] From '+@Std_DB+'..'+'Sysobjects '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join '+@Std_DB+'..'+'Syscolumns on ('+@Std_DB+'..'+'Sysobjects.id='+@Std_DB+'..'+'Syscolumns.id) Where '+@Std_DB+'..'+'Sysobjects.xtype=''U'' and '+@Std_DB+'..'+'Sysobjects.Uid=1 AND '+@Std_DB+'..'+'Sysobjects.[name]='''+@tbl_nm+''')'
--PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

--******************  Searching the fields which are in Current Database and which are not in Standard Database --End 
PRINT 'A2'
--******************  Updating the fields which are in Current Database and which are not in Standard Database --Start 
SET @CNT=0
Declare Update_tbl cursor for
select [Fld_nm],data_type,[type],[colstat] from #TMP_tbl3

Open Update_tbl
Fetch Next from Update_tbl Into @Fld_nm,@data_type,@type,@colstat
	While @@Fetch_Status=0
	Begin
		set @identity=case when @colstat=1 then 'identity' else '' end
			if @colstat <>1
			Begin
				set @identity=' '
--				if @type in ('Numeric','Decimal','Int','Bit','DateTime')
--					Begin
--						set @identity=' Default 0 With Values '
--					End
--				Else
--					Begin
--						set @identity=' Default '''''''' With Values '
--					End
			End
			SET @SQLCOMMAND='Execute Add_Columns '''+@tbl_nm+''', ''['+@Fld_nm+'] '+@type+' '+@identity+''''
		
			if @Type<>'text'
			Begin
				if @colstat<>1
				Begin
					set @Type2=case when  upper(rtrim(@data_type)) in ('NUMERIC','DECIMAL','INT','BIT','BIGINT') then 'A' else 'B' end
					if @Type2='A'
					Begin
						SET @QueryStr='UPDATE '+@tbl_nm+' SET ['+@Fld_nm+'] = 0 WHERE ['+@Fld_nm+'] IS NULL '	
					End
					else
					Begin 
						if @Type<>'VARBINARY'
							SET @QueryStr='UPDATE '+@tbl_nm+' SET ['+@Fld_nm+'] = '' '' WHERE ['+@Fld_nm+'] IS NULL '		
						else
							SET @QueryStr='UPDATE '+@tbl_nm+' SET ['+@Fld_nm+'] = Null  WHERE ['+@Fld_nm+'] IS NULL '		
					End
					--PRINT @QueryStr
				End
			End
			Else
			Begin
				if @Type<>'VARBINARY'
					SET @QueryStr='UPDATE '+@tbl_nm+' SET ['+@Fld_nm+'] = '' ''  WHERE ['+@Fld_nm+'] IS NULL '	
				Else
					SET @QueryStr='UPDATE '+@tbl_nm+' SET ['+@Fld_nm+'] = NULL WHERE ['+@Fld_nm+'] IS NULL '		
				--PRINT @QueryStr
			End		
		print @SQLCOMMAND
		Insert Into #Queries (Query) Values (@QueryStr)

		Insert Into #SelectQueries (Query) Values (@SQLCOMMAND)
		SET @CNT=@CNT+1
		Fetch Next from Update_tbl Into @Fld_nm,@data_type,@type,@colstat
	End
	Close Update_tbl
	Deallocate Update_tbl
	
DROP TABLE #TMP_tbl3
--******************  Updating the fields which are in Current Database and which are not in Standard Database --End 
PRINT 'A3'

--******************  Searching the Standard Field From Current Database Which Matches With Standard Database -Start  
Create Table #TMP_tbl (Fld_nm varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,data_type varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS,[Length] int,[xscale] int,[type] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS,colstat bit) 

set @SQLCOMMAND='Insert Into #TMP_tbl Select Syscolumns.[Name],Systypes.[name] as data_type,case when Systypes.[name] in (''decimal'',''numeric'') then Syscolumns.[xprec] else Syscolumns.[Length] end,Syscolumns.[xscale],'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'[size]=(case Systypes.[name] when ''text'' then ''text'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''tinyint'' then ''tinyint'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''smallint'' then ''smallint'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''int'' then ''int'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''bigint'' then ''bigint'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''smalldatetime'' then ''smalldatetime'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''datetime'' then ''datetime'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''bit'' then ''bit'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''decimal'' then ''decimal'' +'+'''('''+'+convert(varchar(5),Syscolumns.[xprec])+'+''','''+'+convert(varchar(5),Syscolumns.[xscale])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''numeric'' then ''numeric'' +'+'''('''+'+convert(varchar(5),Syscolumns.[xprec])+'+''','''+'+convert(varchar(5),Syscolumns.[xscale])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''varchar'' then ''varchar'' +'+'''('''+'+convert(varchar(5),Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''varbinary'' then ''varbinary'' +'+'''('''+'+convert(varchar(5),Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''char'' then ''char''  +'+'''('''+'+convert(varchar(5),Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''timestamp'' then ''timestamp'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''nvarchar'' then ''nvarchar'' +'+'''('''+'+convert(varchar(5),Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''nchar'' then ''nchar'' +'+'''('''+'+convert(varchar(5),Syscolumns.[Length]) +'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Else '' '' End),Syscolumns.[colstat] From Sysobjects '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join Syscolumns on (Sysobjects.id=Syscolumns.id) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join Systypes on (Systypes.Xtype=Syscolumns.Xtype and Systypes.Xusertype=Syscolumns.Xusertype)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Where Sysobjects.Xtype=''U'' and Sysobjects.[name]='''+@tbl_nm+''''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'and Syscolumns.[Name] in (Select '+@Std_DB+'..'+'Syscolumns.[Name] From '+@Std_DB+'..'+'Sysobjects '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join '+@Std_DB+'..'+'Syscolumns on ('+@Std_DB+'..'+'Sysobjects.id='+@Std_DB+'..'+'Syscolumns.id) Where '+@Std_DB+'..'+'Sysobjects.xtype=''U'' AND '+@Std_DB+'..'+'Sysobjects.[name]='''+@tbl_nm+''') Order by Syscolumns.[name]'
--PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
--******************  Searching the Field From Current Database Which Matches With Standar Database -End

--Select * From #TMP_tbl
PRINT 'A4'

--******************  Searching the Field From Standar Database Which Matches With Current Database -Start  
Create Table #TMP_tbl2 (Fld_nm varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,data_type varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS,[Length] int,[xscale] int,[type] varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS,colstat bit) 
set @SQLCOMMAND='Insert Into #TMP_tbl2 Select '+@Std_DB+'..'+'Syscolumns.[Name],'+@Std_DB+'..'+'Systypes.[name] as data_type,case when '+@Std_DB+'..'+'Systypes.[name] in (''decimal'',''numeric'') then '+@Std_DB+'..'+'Syscolumns.[xprec] else '+@Std_DB+'..'+'Syscolumns.[Length] end,'+@Std_DB+'..'+'Syscolumns.[xscale],'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'[size]=(case '+@Std_DB+'..'+'Systypes.[name] when ''text'' then ''text'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''tinyint'' then ''tinyint'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''smallint'' then ''smallint'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''int'' then ''int'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''bigint'' then ''bigint'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''smalldatetime'' then ''smalldatetime'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''datetime'' then ''datetime'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''bit'' then ''bit'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''decimal'' then ''decimal'' +'+'''('''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[xprec])+'+''','''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[xscale])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''numeric'' then ''numeric'' +'+'''('''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[xprec])+'+''','''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[xscale])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''varchar'' then ''varchar'' +'+'''('''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''varbinary'' then ''varbinary'' +'+'''('''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''char'' then ''char''  +'+'''('''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''timestamp'' then ''timestamp'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''nvarchar'' then ''nvarchar'' +'+'''('''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[Length])+'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'when ''nchar'' then ''nchar'' +'+'''('''+'+convert(varchar(5),'+@Std_DB+'..'+'Syscolumns.[Length]) +'+''')'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Else '' '' End) ,'+@Std_DB+'..'+'Syscolumns.[colstat] From '+@Std_DB+'..'+'Sysobjects '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join '+@Std_DB+'..'+'Syscolumns on ('+@Std_DB+'..'+'Sysobjects.id='+@Std_DB+'..'+'Syscolumns.id) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join '+@Std_DB+'..'+'Systypes on ('+@Std_DB+'..'+'Systypes.Xtype='+@Std_DB+'..'+'Syscolumns.Xtype and '+@Std_DB+'..'+'Systypes.Xusertype='+@Std_DB+'..'+'Syscolumns.Xusertype)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Where '+@Std_DB+'..'+'Sysobjects.Xtype=''U'' and '+@Std_DB+'..'+'Sysobjects.[name]='''+@tbl_nm+''' And '+@Std_DB+'..'+'Syscolumns.[Name] In (Select Fld_nm From #TMP_tbl) and '+@Std_DB+'..'+'Sysobjects.uid=1'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'Order by '+@Std_DB+'..'+'Syscolumns.[Name]'
--print @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
--******************  Searching the Field From Current Database Which Matches With Standard Database -End

--select * from #TMP_tbl2
PRINT 'A5'
--******************  Updating the structure of the Standard Database which matches with Current Database Fields 
--						and Data types doesn't Match		--Start
Declare @Fld_nm1 varchar(20),@Length1 int ,@xscale1 int,@data_type1 varchar(30),@alt_fld Nvarchar(200),@error int
Declare Stdfld_cur Cursor 
for
Select a.Fld_nm,a.data_type,a.[length],a.[xscale],a.colstat from #TMP_tbl2 a inner join #TMP_tbl b on (a.Fld_nm=b.Fld_nm) Where (a.data_type<>b.data_type) or (a.data_type=b.data_type and a.Length<>b.Length) 
		and a.colstat<>1 
			and a.Fld_nm Not In ( SELECT distinct kcui.column_name FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tci
				INNER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE kcui on tci.constraint_name = kcui.constraint_name
				WHERE tci.CONSTRAINT_TYPE in ('PRIMARY KEY','FOREIGN KEY') ) 
					order by a.Fld_nm
Open Stdfld_cur
Fetch Next From Stdfld_cur Into @Fld_nm,@data_type,@length,@xscale,@colstat 
While @@Fetch_Status=0
Begin
	Declare Othfld_cur Cursor 
	for 
	Select a.Fld_nm,a.data_type,a.[length],a.[xscale] from #TMP_tbl a inner join #TMP_tbl2 b on (a.Fld_nm=b.Fld_nm) Where b.Fld_nm=@Fld_nm and ((a.data_type<>@data_type) or (a.data_type=@data_type and a.Length<>b.Length))
	Open Othfld_cur

	Fetch Next From Othfld_cur Into @Fld_nm1,@data_type1,@length1,@xscale1 
	While @@Fetch_Status=0
	Begin
--		print  @Fld_nm
--		print @data_type
		if (@data_type=@data_type1) or (@data_type1<>@data_type and @tbl_nm='TDSMASTER')
		Begin
		set @type =case @data_type1 when 'text' then 'Text'
		when 'tinyint' then 'TinyInt'
		when 'smallint' then 'SmallInt'
		when 'int' then 'Int'
		when 'bigint' then 'bigInt'
		when 'smalldatetime' then 'SmallDateTime'
		when 'datetime' then 'DateTime'
		when 'bit' then 'Bit'
		when 'decimal' then 'Decimal' +'('+convert(varchar(5),case when (@length >=@length1) then @length  else @length1 end )+','+convert(varchar(5),case when (@xScale >=@xScale1) then @xScale else @xScale1 end)+')' 		
		when 'numeric' then 'Numeric'+'('+convert(varchar(5),case when (@length >=@length1) then @length  else @length1 end )+','+convert(varchar(5),case when (@xScale >=@xScale1) then @xScale else @xScale1 end)+')' 		
		when 'char' then 'Char'+'('+convert(varchar(5),case when (@length >=@length1) then @length  else @length1 end )+')'
		when 'varchar' then 'Varchar'+'('+convert(varchar(5),case when (@length >=@length1) then @length  else @length1 end )+')'
		when 'varbinary' then 'varbinary'+'('+convert(varchar(5),case when (@length >=@length1) then @length  else @length1 end )+')'
		when 'nvarchar' then 'NVarchar'+'('+convert(varchar(5),case when (@length >=@length1) then @length  else @length1 end )+')'
		when 'nchar' then 'Nchar'+'('+convert(varchar(5),case when (@length >=@length1) then @length  else @length1 end )+')'
		when 'timestamp' then 'TimeStamp'
		else '' 
		end 
			set @SQLCOMMAND='Execute Alter_Columns '''+@tbl_nm+''',''['+@Fld_nm1+'] '+@type+''' '
		End
		Else
		Begin
			set @SQLCOMMAND='--Column Structure for the  column '+@Fld_nm+' is miss matched. Cannot convert '+@data_type1+' to '+@data_type
		End
		Insert Into #SelectQueries (Query) Values (@SQLCOMMAND)

		print @SQLCOMMAND
		
		Fetch Next From Othfld_cur Into @Fld_nm1,@data_type1,@length1,@xscale1 
	End
	Close Othfld_cur
	Deallocate Othfld_cur
	
Fetch Next From Stdfld_cur Into @Fld_nm,@data_type,@length,@xscale,@colstat 
End
Close Stdfld_cur
Deallocate Stdfld_cur
PRINT 'A6'
If Exists(Select Top 1 Query From  #Queries)
Begin
	Insert INto #SelectQueries (Query) values ('Go')
	Insert INto #SelectQueries (Query) Select Query From  #Queries
	Insert INto #SelectQueries (Query) values ('Go')
	PRINT 'A7'
end	
Select * From #SelectQueries

Drop Table #TMP_tbl
Drop Table #TMP_tbl2
Drop Table #SelectQueries
Drop Table #Queries
--******************  Updating the structure of the Standard Database which matches with Current Database Fields 
--						and Data types doesn't Match		--End
GO
