If Exists(Select [name] From SysObjects Where xType='P' and [name]='USP_REP_A57F_4')
Begin
	Drop Procedure USP_REP_A57F_4
End
/****** Object:  StoredProcedure [dbo].[USP_REP_A57F_4]    Script Date: 01/16/2018 12:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Rupesh Prajapati.
-- Create date:16/05/2007
-- Description:	This Stored procedure is useful to generate Excise Annexure IV for Labour Job Report.
-- Modified By: Shrikant S. on 13/04/2010 for TKT-968
-- Modified By: Ajay Jaiswal on 09/07/2010 for TKT-2863
-- Modified By: Birendra on 01/06/2012 for Bug-4384
-- Modified By: sandeep on 02/12/2013 for Bug-20923
-- Modified By: sandeep on 01/01/2014 for Bug-20807 (Procwaste column added)
-- Remark:
-- =============================================

Create  PROCEDURE [dbo].[USP_REP_A57F_4] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4),@tmpDate smalldatetime
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL --Changed by Shrikant S. on 13/04/2010 for TKT-968
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='IIMAIN',@VITFILE='IIITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=NULL --Changed by Shrikant S. on 13/04/2010 for TKT-968
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

PRINT @FCON
PRINT @EXPARA
DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(1000)

--->Added by Shrikant S. on 13/04/2010 for TKT-968 --Start
SELECT IIITEM.ENTRY_TY,IIITEM.DATE,IIITEM.DOC_NO,IIITEM.QTY,IIITEM.INV_SR,IIITEM.AC_ID,IIMAIN.INV_NO,LR_ITSER=IIITEM.ITSERIAL,LR_TRAN=IIMAIN.TRAN_CD 
,QTY_USED=IIITEM.QTY,WASTAGE=IIITEM.QTY,PROCWASTE=IIITEM.QTY, 
--AC_MAST.RANGE,AC_MAST.DIVISION, 
--->Added by Ajay Jaiswal on 09/07/2010 for TKT-2863 -- Start
It_Desc=(CASE WHEN ISNULL(it_mast.it_alias,'')='' THEN it_mast.it_name ELSE it_mast.it_alias END),
MailName=(CASE WHEN ISNULL(Ac_mast.MailName,'')='' THEN Ac_mast.ac_name ELSE Ac_mast.mailname END),
--->Added by Ajay Jaiswal on 09/07/2010 for TKT-2863 -- End
IT_MAST.CHAPNO,IT_MAST.P_UNIT, IT_MAST.IT_NAME,
LR_ITCODE=IIITEM.IT_CODE ,LR_QTY=IIITEM.QTY,LR_DATE=IIITEM.DATE,
AC_MAST.AC_NAME,
--FITEM=IIITEM.ITEM ,
--Birendra : Bug-4384 on 01/06/2012
FITEM=(CASE WHEN ISNULL(IT_MAST.IT_ALIAS,'')='' THEN IT_MAST.IT_NAME ELSE IT_MAST.IT_ALIAS END),
FQTY=IIITEM.QTY,NARR=SUBSTRING(IIITEM.NARR,1,2000) ,IIITEM.GRO_AMT,IIITEM.TRAN_CD,IIITEM.ITSERIAL,IIITEM.IT_CODE
INTO #TMPIIITEM FROM IIITEM 
INNER JOIN IIMAIN ON  (IIITEM.TRAN_CD=IIMAIN.TRAN_CD) 
INNER JOIN AC_MAST ON (IIMAIN.AC_ID=AC_MAST.AC_ID)
INNER JOIN IT_MAST ON (IIITEM.IT_CODE=IT_MAST.IT_CODE)
WHERE 1=2
--->Added by Shrikant S. on 13/04/2010 for TKT-968 --End

SET @SQLCOMMAND='INSERT INTO #TMPIIITEM SELECT IIITEM.ENTRY_TY,IIITEM.DATE,IIITEM.DOC_NO,IIITEM.QTY,IIITEM.INV_SR,IIITEM.AC_ID,IIMAIN.INV_NO,LR_ITSER=ISNULL(IRITEM.ITSERIAL,''''),LR_TRAN=ISNULL(IRMAIN.TRAN_CD,0), ' --Changed by Shrikant S. on 13/04/2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' QTY_USED=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IRRMDET.QTY_USED,0) ELSE 0 END,WASTAGE=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IRRMDET.WASTAGE,0) ELSE 0 END, ' --Changed by Shrikant S. on 13/04/2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' PROCWASTE=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IRRMDET.PROCWASTE,0) ELSE 0 END,'	--Added by sandeep on 01/01/2014 for bug-20807
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AC_MAST.RANGE,AC_MAST.DIVISION, '  --Commented by Prajakta for Bug-30966
--->Added by Ajay Jaiswal on 09/07/2010 for TKT-2863 -- Start
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' It_Desc=(CASE WHEN ISNULL(it_mast.it_alias,'''')='''' THEN it_mast.it_name ELSE it_mast.it_alias END),'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' MailName=(CASE WHEN ISNULL(Ac_mast.MailName,'''')='''' THEN Ac_mast.ac_name ELSE Ac_mast.mailname END),'
--->Added by Ajay Jaiswal on 09/07/2010 for TKT-2863 -- End
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' IT_MAST.CHAPNO,IT_MAST.P_UNIT, IT_MAST.IT_NAME,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LR_ITCODE=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN IRITEM.IT_CODE ELSE 0 END,LR_QTY=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IRITEM.QTY,0) ELSE 0 END ,LR_DATE=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IRITEM.DATE,0) ELSE 0 END,' --Changed by Shrikant S. on 13/04/2010 for TKT-968
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ISNULL(AC_MAST.AC_NAME,''''),FITEM=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN LR_ITMAST.it_alias ELSE '''' END,FQTY=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IRITEM.QTY,0) ELSE 0 END,NARR=SUBSTRING(IIITEM.NARR,1,2000) ,IIITEM.GRO_AMT,IIITEM.TRAN_CD,IIITEM.ITSERIAL,IIITEM.IT_CODE' --Changed by Ajay Jaiswal on 09/07/2010 for TKT-2863
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ISNULL(AC_MAST.AC_NAME,''''),FITEM=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN (CASE WHEN ISNULL(LR_ITMAST.it_alias,'''')='''' THEN LR_ITMAST.it_name ELSE LR_ITMAST.it_alias END) ELSE '''' END,FQTY=CASE WHEN IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' THEN ISNULL(IRITEM.QTY,0) ELSE 0 END,NARR=SUBSTRING(IIITEM.NARR,1,2000) ,IIITEM.GRO_AMT,IIITEM.TRAN_CD,IIITEM.ITSERIAL,IIITEM.IT_CODE' --Changed by Shrikant S. on 13/04/2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM IIITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IIMAIN ON  (IIITEM.TRAN_CD=IIMAIN.TRAN_CD) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST ON (AC_MAST.AC_ID=IIITEM.AC_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST ON (IIITEM.IT_CODE=IT_MAST.IT_CODE) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IRRMDET ON (IIITEM.TRAN_CD=IRRMDET.LI_TRAN_CD AND IIITEM.ENTRY_TY=IRRMDET.LIENTRY_TY AND IIITEM.ITSERIAL=IRRMDET.LI_ITSER AND IRRMDET.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''' )' --Changed by Shrikant S. on 13/04/2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IRMAIN ON (IRRMDET.TRAN_CD=IRMAIN.TRAN_CD and IRRMDET.ENTRY_TY=IRMAIN.ENTRY_TY) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IRITEM ON (IRRMDET.TRAN_CD=IRITEM.TRAN_CD AND IRITEM.ENTRY_TY=IRRMDET.ENTRY_TY AND IRRMDET.ITSERIAL=IRITEM.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN AC_MAST LR_ACMAST ON (LR_ACMAST.AC_ID=IRITEM.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IT_MAST LR_ITMAST ON (LR_ITMAST.IT_CODE=IRITEM.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)+' OR (IRMAIN.DATE <='''+CONVERT(VARCHAR(50),@EDATE)+''') '--or (IRMAIN.PARTY_NM BETWEEN @SAC and @EAC) ' --Changed by Shrikant S. on 13/04/2010 for TKT-968 --Chnage by sandeep for bug20923 2-Dec-13
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY IIITEM.DATE,IIMAIN.INV_NO,IIITEM.ITSERIAL,IRMAIN.DATE,IRMAIN.TRAN_CD,IRITEM.ITSERIAL '
print @SQLCOMMAND
EXEC SP_EXECUTESQL  @SQLCOMMAND

--select * from #TMPIIITEM

--Added by Shrikant S. on 13/04/2010 for TKT-968 --Start
SELECT LIENTRY_TY,LI_TRAN_CD,LI_IT_CODE,QTY_USED=SUM(QTY_USED),WASTAGE=SUM(WASTAGE),PROCWASTE=SUM(PROCWASTE) INTO #TMP_IRRMDET FROM IRRMDET WHERE DATE<@SDATE --Added by sandeep on 01/01/2014 for bug-20807
GROUP BY LIENTRY_TY,LI_TRAN_CD,LI_IT_CODE

--select * from #TMPIIITEM

SELECT QTY,LIENTRY_TY,LI_TRAN_CD,LI_ITSER,QTY_USED=SUM(QTY_USED+WASTAGE+PROCWASTE) --Changed by Shrikant S. on 17/08/2010 for TKT-3223,--chnaged by sandeep on 01/01/2014 for bug-20807  
INTO #QTYUSED
FROM IRRMDET 
WHERE LI_DATE<@SDATE 
AND DATE<@SDATE 
GROUP BY LIENTRY_TY,LI_TRAN_CD,LI_ITSER,QTY

DELETE FROM #QTYUSED WHERE QTY<>QTY_USED

DELETE FROM #TMPIIITEM WHERE ENTRY_TY+RTRIM(CAST(TRAN_CD AS VARCHAR))+ITSERIAL IN (SELECT LIENTRY_TY+RTRIM(CAST(LI_TRAN_CD AS VARCHAR))+LI_ITSER FROM #QTYUSED)

IF @EXPARA='NO'
	BEGIN
		DELETE FROM #TMPIIITEM FROM #TMPIIITEM A
		INNER JOIN (SELECT LI_TRAN_CD,LIENTRY_TY,LI_IT_CODE,LR_DATE=MAX(DATE) FROM IRRMDET  GROUP BY LI_TRAN_CD,LIENTRY_TY,LI_IT_CODE HAVING MAX(DATE)<@SDATE) B
		ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		
		DELETE FROM #TMPIIITEM FROM #TMPIIITEM A
		INNER JOIN (SELECT DISTINCT TRAN_CD,IT_CODE,ENTRY_TY FROM #TMPIIITEM GROUP BY DATE,TRAN_CD,ENTRY_TY,IT_CODE,MAILNAME HAVING NOT(MAX(LR_DATE) BETWEEN @SDATE AND @EDATE ) AND NOT(DATE BETWEEN @SDATE AND @EDATE) or NOT( MAILNAME BETWEEN @SAC AND @EAC) )B  --change by sandeep on 02/12/2013 for bug-20923
		ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.IT_CODE=B.IT_CODE)
					
		SELECT A.ENTRY_TY,A.DATE,DOC_NO='',QTY=A.QTY,INV_SR='',A.AC_ID,A.INV_NO,QTY_USED=SUM(A.QTY_USED),WASTAGE=SUM(A.WASTAGE),PROCWASTE=SUM(A.PROCWASTE)--,A.RANGE,A.DIVISION,--changed by sandeep on 01/01/2014 for bug-20807
		,A.It_Desc,A.Mailname, --Added by Ajay Jaiswal on 09/07/2010 for TKT-2863
		A.CHAPNO,A.P_UNIT,A.IT_NAME,
		-- LR_ITCODE=0,LR_QTY=0,LR_DATE=0,A.AC_NAME,FITEM='',FQTY=0,NARR='',A.GRO_AMT,A.TRAN_CD,LR_TRAN=0,LR_ITSER='',LR_DATE=0,A.ITSERIAL -- commented by suraj k on date 25-02-2015 for bug-25365
		LR_ITCODE=0,LR_QTY=0,LR_DATE=0,A.AC_NAME,FITEM='',FQTY=0,NARR='',A.GRO_AMT,A.TRAN_CD,LR_TRAN=0,LR_ITSER='',A.ITSERIAL -- added by suraj k on date 25-02-2015 for bug-25365
		FROM #TMPIIITEM A
		LEFT JOIN #TMP_IRRMDET B ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		WHERE A.LR_DATE <@SDATE 
		GROUP BY A.ENTRY_TY,A.DATE,A.AC_ID,A.INV_NO,--A.RANGE,A.DIVISION,
		A.It_Desc,A.Mailname, -- Added by Ajay Jaiswal on 09/07/2010 for TKT-2863
		A.CHAPNO,A.P_UNIT,A.IT_NAME,A.AC_NAME,A.TRAN_CD,A.QTY,B.QTY_USED,B.WASTAGE,A.GRO_AMT,A.ITSERIAL
		UNION ALL
		SELECT A.ENTRY_TY,A.DATE,A.DOC_NO,QTY=A.QTY,A.INV_SR,A.AC_ID,A.INV_NO,A.QTY_USED,A.WASTAGE,A.PROCWASTE,--A.RANGE,A.DIVISION, --change by sandeep on 01/01/2014 for bug-20807
		A.It_Desc,A.Mailname, -- Added by Ajay Jaiswal on 09/07/2010 for TKT-2863
		A.CHAPNO,A.P_UNIT,A.IT_NAME,
		--A.LR_ITCODE,A.LR_QTY,A.LR_DATE,A.AC_NAME,A.FITEM,A.FQTY,A.NARR,A.GRO_AMT,A.TRAN_CD,A.LR_TRAN,A.LR_ITSER,A.LR_DATE,A.ITSERIAL  --commented by suraj k on date 25-02-2015 for bug-25365
		A.LR_ITCODE,A.LR_QTY,A.LR_DATE,A.AC_NAME,A.FITEM,A.FQTY,A.NARR,A.GRO_AMT,A.TRAN_CD,A.LR_TRAN,A.LR_ITSER,A.ITSERIAL  --added by suraj k on date 25-02-2015 for bug-25365
		FROM #TMPIIITEM A
		LEFT JOIN #TMP_IRRMDET B ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		WHERE (A.LR_DATE BETWEEN @SDATE AND @EDATE)
		--Added by sandeep on 02/12/2013 for bug-20923		 
		or (A.MAILNAME BETWEEN @SAC AND @EAC) 
		--Added by sandeep on 02/12/2013 for bug-20923
		--ORDER BY A.DATE,A.INV_NO,A.ITSERIAL,A.LR_TRAN,A.LR_ITSER,A.LR_DATE --commented by suraj k on date 25-02-2015 for bug-25365
		ORDER BY DATE,INV_NO,ITSERIAL,LR_TRAN,LR_ITSER,LR_DATE --added by suraj k on date 25-02-2015 for bug-25365

	END 
ELSE
	BEGIN
		SELECT A.ENTRY_TY,A.DATE,DOC_NO='',QTY=A.QTY,INV_SR='',A.AC_ID,A.INV_NO,QTY_USED=SUM(A.QTY_USED),WASTAGE=SUM(A.WASTAGE),PROCWASTE=sum(A.PROCWASTE),--A.RANGE,A.DIVISION,--change by sandeep on 01/01/2014 for bug-20807
		A.It_Desc,A.Mailname, -- Added by Ajay Jaiswal on 09/07/2010 for TKT-2863
		A.CHAPNO,A.P_UNIT,A.IT_NAME,
		--LR_ITCODE=0,LR_QTY=0,LR_DATE=0,A.AC_NAME,FITEM='',FQTY=0,NARR='',A.GRO_AMT,A.TRAN_CD,LR_TRAN=0,LR_ITSER='',LR_DATE=0,A.ITSERIAL --commented by suraj k on date 25-02-2015 for bug-25365
		LR_ITCODE=0,LR_QTY=0,LR_DATE=0,A.AC_NAME,FITEM='',FQTY=0,NARR='',A.GRO_AMT,A.TRAN_CD,LR_TRAN=0,LR_ITSER='',A.ITSERIAL --added by suraj k on date 25-02-2015 for bug-25365
		FROM #TMPIIITEM A
		LEFT JOIN #TMP_IRRMDET B ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		WHERE A.LR_DATE <@SDATE 
		GROUP BY A.ENTRY_TY,A.DATE,A.AC_ID,A.INV_NO,--A.RANGE,A.DIVISION,
		A.It_Desc,A.Mailname, -- Added by Ajay Jaiswal on 09/07/2010 for TKT-2863
		A.CHAPNO,A.P_UNIT,A.IT_NAME,A.AC_NAME,A.TRAN_CD,A.QTY,B.QTY_USED,B.WASTAGE,A.GRO_AMT,A.ITSERIAL
		UNION ALL
		SELECT A.ENTRY_TY,A.DATE,A.DOC_NO,QTY=A.QTY,A.INV_SR,A.AC_ID,A.INV_NO,A.QTY_USED,A.WASTAGE,A.PROCWASTE,--A.RANGE,A.DIVISION,--change by sandeep on 01/01/2014 for bug-20807
		A.It_Desc,A.Mailname, -- Added by Ajay Jaiswal on 09/07/2010 for TKT-2863
		A.CHAPNO,A.P_UNIT,A.IT_NAME,
		--A.LR_ITCODE,A.LR_QTY,A.LR_DATE,A.AC_NAME,A.FITEM,A.FQTY,A.NARR,A.GRO_AMT,A.TRAN_CD,A.LR_TRAN,A.LR_ITSER,A.LR_DATE,A.ITSERIAL  --commented by suraj k on date 25-02-2015 for bug-25365
		A.LR_ITCODE,A.LR_QTY,A.LR_DATE,A.AC_NAME,A.FITEM,A.FQTY,A.NARR,A.GRO_AMT,A.TRAN_CD,A.LR_TRAN,A.LR_ITSER,A.ITSERIAL  --added by suraj k on date 25-02-2015 for bug-25365
		FROM #TMPIIITEM A
		LEFT JOIN #TMP_IRRMDET B ON (A.ENTRY_TY=B.LIENTRY_TY AND A.TRAN_CD=B.LI_TRAN_CD AND A.IT_CODE=B.LI_IT_CODE)
		WHERE (A.LR_DATE BETWEEN @SDATE AND @EDATE)
		--Added by sandeep on 02/12/2013 for bug-20923
		 or (A.MAILNAME BETWEEN @SAC AND @EAC)
		--Added by sandeep on 02/12/2013 for bug-20923
		--ORDER BY A.DATE,A.INV_NO,A.ITSERIAL,A.LR_TRAN,A.LR_ITSER,A.LR_DATE  --commented by suraj k on date 25-02-2015 for bug-25365
		ORDER BY DATE,INV_NO,ITSERIAL,LR_TRAN,LR_ITSER,LR_DATE
	END


DROP TABLE #TMPIIITEM
--Added by Shrikant S. on 13/04/2010 for TKT-968 -- End










