if exists(select xtype,name from sysobjects where xtype='P' and name ='USP_REP_DM_DVATFORM16')
begin
	drop procedure USP_REP_DM_DVATFORM16
end
go 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create PROCEDURE [dbo].[USP_REP_DM_DVATFORM16]
 @TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
 ,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
 ,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
 ,@SAMT FLOAT,@EAMT FLOAT
 ,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
 ,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
 ,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
 ,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
 ,@LYN VARCHAR(20)
 ,@EXPARA  AS VARCHAR(60)= null
 AS
 BEGIN
 
DECLARE @SQLCOMMAND NVARCHAR(4000),@Bank_nm varchar(100)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTA2 NUMERIC(12,2),@AMTA3 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2) ,@AMTK11 NUMERIC(12,2),@char varchar(50),@PER  NUMERIC(12,2)
DECLARE @AMTSL_OUT NUMERIC(18,2),@AMTSL_LOC NUMERIC(18,2),@BALANCE5 NUMERIC(18,2),@BALAMT62A  NUMERIC(18,2) ,@BALAMT62B  NUMERIC(18,2),@LSTTHREEMTHDATE DATETIME ,@BALAMT  NUMERIC(18,2),@BALAMT1  NUMERIC(18,2),@INVNO VARCHAR(250),@CHLN_NO VARCHAR(250),@CHLN_DATE DATETIME,@DATE DATETIME ,@AMTB2 NUMERIC(12,2),@AMTc2 NUMERIC(12,2),@AMTd2 NUMERIC(12,2)
SET @AMTK11 = 0 
---Temporary Cursor2
Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
INTO #DM_DVATFORM16
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
		SET @SQLCOMMAND='Insert InTo  #DM_DVATFORM16_1 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

	End

/* R4 Turnover of Sales of Goods Turnover(Rs.)  */
	/* R4.1 Goods Taxable @ 1%*/
SET @AMTA1=0
SET @BALAMT=0 
SET @BALAMT1=0 
SET @AMTA2=0
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0)  FROM VATTBL WHERE BHENT='ST'  AND (DATE BETWEEN @SDATE AND @EDATE) AND PER = 1 and TAX_NAME LIKE '%VAT%' 
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','A',0,@AMTA1,@AMTA2,0,'')
	/* R4.2 Goods Taxable @ 4%*/
SET @AMTA1 = 0
SET @AMTA2=0
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0)  FROM VATTBL WHERE BHENT='ST'  AND (DATE BETWEEN @SDATE AND @EDATE) AND PER = 4  and TAX_NAME LIKE '%VAT%'
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','B',0,@AMTA1,@AMTA2,0,'')
 /* R4.3 Goods Taxable @ 12.5%*/
SET @AMTA1 = 0
SET @AMTA2=0
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0)  FROM VATTBL WHERE BHENT='ST'  AND (DATE BETWEEN @SDATE AND @EDATE) AND PER = 12.5   and TAX_NAME LIKE '%VAT%'
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','C',0,@AMTA1,@AMTA2,0,'')
 /*R4.4 Goods Taxable @ 20%%*/
SET @AMTA1 = 0
SET @AMTA2=0
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0)  FROM VATTBL WHERE BHENT='ST'  AND (DATE BETWEEN @SDATE AND @EDATE) AND PER = 20  and TAX_NAME LIKE '%VAT%' 
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','D',0,@AMTA1,@AMTA2,0,'')
 /*R4.5 Works Contract*/
SET @AMTA1 = 0
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','E',0,@AMTA1,0,0,'')
 /*R4.5.1 Taxable @ 4%*/
SET @AMTA1 = 0
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','F',0,@AMTA1,0,0,'')
 /*R4.5.2 Taxable @ 12.5%*/
SET @AMTA1 = 0
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','G',0,@AMTA1,0,0,'')
 /*R4.5.3 TDS*/
SET @AMTA1 = 0
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','H',0,@AMTA1,0,0,'')
 /*R4.5.4 Sales Taxable @ Concessional Rates as per Notification*/
SET @AMTA1 = 0
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','I',0,@AMTA1,0,0,'')
 /*R4.6 Exempt sales(Items in Schedule -1)*/
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(A.VATONAMT),0),@AMTA2 =ISNULL(SUM(A.TAXAMT),0)  FROM VATTBL A 
INNER JOIN IT_MAST B ON ( A.It_code =B.It_code ) 
WHERE A.BHENT ='ST' AND A.TAX_NAME ='EXEMPTED' and b.U_SHCODE ='Schedule-1' and ( a.Date between @SDATE and @EDATE )
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','J',0,@AMTA1,@AMTA2,0,'')
 /*R4.7 Goods Manufactured, Processed and Assembled by eligible unit*/
SET @AMTA1 = 0
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','K',0,@AMTA1,0,0,'')
 /*R4.8 Any other sale*/
SET @AMTA1 = 0
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','L',0,@AMTA1,0,0,'')
 /*R4.9 Turnover/Output tax before adjustments Sub Total (A)*/
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA1 = @BALAMT
SET @AMTA2 = @BALAMT1
SET @BALAMT = 0
SET @BALAMT1 = 0
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','M',0,@AMTA1,@AMTA2,0,'')
 /*R4.10 Adjustment to Turnover/Output tax (complete schedule 1 and	enter Total s1.2 here) (B)*/
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','N',0,@AMTA1,0,0,'')
 /*R4.11 Turnover/Total Output tax (A+B)*/
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA1 = @BALAMT
SET @AMTA2 = @BALAMT1
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','O',0,@AMTA1,@AMTA2,0,'')
 /*R4.12 Amount of Labour Job Work done for other Persons*/
SET @AMTA1 = 0
SET  @BALAMT = 0 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (4,'1','P',0,@AMTA1,0,0,'')
--R5 Turnover of Purchases of Goods
--R5.1 Purchases Eligible for input Tax Credit
--Capital Goods
--R5.1.1 Taxable @ 4%
SET @BALAMT = 0
SET @BALAMT1 = 0
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT' AND PER = 4 AND itemtype ='C' AND S_TAX <>''
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','A',0,@AMTA1,@AMTA2,0,'')
--R5.1.2 Taxable @ 12.5%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT' AND PER = 12.5 AND itemtype ='C'  AND S_TAX <>''
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','B',0,@AMTA1,@AMTA2,0,'')
--R5.2 Other Goods
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','C',0,0,0,0,'')
--R5.2.1 Taxable @ 1%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT' AND PER = 1 AND itemtype ='I' AND S_TAX <> ''
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','D',0,@AMTA1,@AMTA2,0,'')
--R5.1.1 Taxable @ 4%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT' AND PER = 4 AND itemtype ='I'  AND S_TAX <> ''
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','E',0,@AMTA1,@AMTA2,0,'')
--R5.2.3 Taxable @ 12.5%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT' AND PER = 12.5 AND itemtype ='I'  AND S_TAX <> ''
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','F',0,@AMTA1,@AMTA2,0,'')
--R5.2.5 Purchase Taxable @ Concessional Rates As Per Notification
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','G',0,0,0,0,'')
--R5.2.6 Any other Purchase
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','H',0,0,0,0,'')
--R2.5.7 Amount of Labour Job Work done from other persons
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','I',0,0,0,0,'')
--R5.3 Purchases not Eligible for Input Tax Credit
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','J',0,0,0,0,'')
--Capital Goods 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','K',0,0,0,0,'')
--R5.3.1 Purchases from Eligible units
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT' AND U_IMPORM IN('Branch Transfer','Import from Outside India') AND itemtype ='C' AND S_TAX =''
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','L',0,@AMTA1,@AMTA2,0,'')
--R5.3.2 Purchases from Unregistered Dealer
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT'  AND itemtype ='C'  AND S_TAX = '' AND U_IMPORM NOT IN('Branch Transfer','Import from Outside India')
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','M',0,@AMTA1,@AMTA2,0,'')
--R5.3.3 Others (To Specify)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','N',0,0,0,0,'')
--R5.4 Others Goods
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','O',0,0,0,0,'')
--R5.4.1 Purchases form Eligible units
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT' AND U_IMPORM IN('Branch Transfer','Import Purchase') AND itemtype ='I' AND S_TAX =''
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','P',0,@AMTA1,@AMTA2,0,'')
--R5.4.2 Purchases from Unregistered Dealer
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='PT'  AND itemtype ='I'  AND S_TAX = '' AND U_IMPORM NOT IN('Branch Transfer','Import Purchase')
SET @BALAMT = @BALAMT + @AMTA1
SET @BALAMT1 = @BALAMT1 + @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','Q',0,@AMTA1,@AMTA2,0,'')
--R5.4.3 Exempt Goods (Schedule-I)
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 =ISNULL(SUM(A.VATONAMT),0),@AMTA2 =ISNULL(SUM(A.TAXAMT),0)  FROM VATTBL A 
INNER JOIN IT_MAST B ON ( A.It_code =B.It_code ) 
WHERE A.BHENT ='PT' AND A.TAX_NAME ='EXEMPTED' and b.U_SHCODE ='Schedule-1' and ( a.Date between @SDATE and @EDATE )
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','R',0,@AMTA1,@AMTA2,0,'')
--R5.4.4 Others (To Specify)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','S',0,0,0,0,'')
--R5.5 Purchases of Non Creditable Goods
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','T',0,0,0,0,'')
--R5.6 Turnover/Tax credit before adjustments Sub Total (A)
SET @AMTA1 = 0
SET @AMTA2  = 0
SET @AMTA1 = @BALAMT 
SET @AMTA2  = @BALAMT1
SET @BALAMT = 0
SET @BALAMT1 = 0
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','U',0,@AMTA1,@AMTA2,0,'')
--R5.7 Adjustments to Turnover/tax credits(complete schedule 1 and enter Total s2.2 here) (B)
SET @AMTA1 = 0
SET @AMTA2  = 0
SET @BALAMT = @BALAMT +  @AMTA1
SET @BALAMT1 = @BALAMT1 +  @AMTA2
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','V',0,0,0,0,'')
--R5.8 Total Turnover/Tax Credit (A+B)
SET @AMTA1 = 0
SET @AMTA2  = 0
SET @AMTA1 = @BALAMT 
SET @AMTA2  = @BALAMT1
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','W',0,@AMTA1,@AMTA2,0,'')
--BLANK RECORDS 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','X',0,0,0,0,'')
--R6.1 Net Tax (R4.10)-(R5.8)
--INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (5,'1','Z',0,0,0,0,'')
----R6.1 Net Tax (R4.10)-(R5.8)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (6,'1','A',0,0,0,0,'')
--R6.2(i) Add: Interest
SET @BALAMT = 0
SET @AMTA1= 0 
SELECT @AMTA1= ISNULL(SUM(net_amt),0) FROM BPMAIN WHERE party_nm ='VAT PAYABLE' AND U_NATURE ='INTEREST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @BALAMT =@BALAMT + @AMTA1
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (6,'1','B',0,@AMTA1,0,0,'')
--R6.2(ii) Add: Penalty
SET @AMTA1= 0 
SELECT @AMTA1= ISNULL(SUM(net_amt),0) FROM BPMAIN WHERE party_nm ='VAT PAYABLE' AND U_NATURE ='Penalty' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @BALAMT =@BALAMT + @AMTA1
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (6,'1','C',0,@AMTA1,0,0,'')
--R6.2(iii) Add: Other Government Dues
SET @AMTA1= 0 
SELECT @AMTA1= ISNULL(SUM(net_amt),0) FROM BPMAIN WHERE party_nm ='VAT PAYABLE' AND U_NATURE ='Other payments on account of' AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (6,'1','D',0,@AMTA1,0,0,'')
--R6.3 Less : Tax deducted at source (attached TDS certificate in Original)
SET @AMTA1 = 0
SET @BALAMT =@BALAMT - @AMTA1
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (6,'1','E',0,0,0,0,'')
--R7 Balance (R6.1+R6.2)-R6.3
SET @AMTA1= 0 
SET  @AMTA1 = @BALAMT 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (6,'1','F',0,@BALAMT,0,0,'')
--BANK PAYMENT DETAILS --Payment Details (If Balance in R7 is Positive)
--Balance brought forward from Point R7
select @AMTA1 = 0,@DATE ='',@CHLN_NO ='' ,@bank_nm =''
Declare cur_bank_pay_detail CURSOR  for select gro_amt,date,u_chalno,bank_nm from BPMAIN where party_nm ='VAT PAYABLE' AND(DATE BETWEEN @SDATE AND @EDATE )
OPEN cur_bank_pay_detail
FETCH  cur_bank_pay_detail INTO @AMTA1,@DATE,@CHLN_NO,@bank_nm
WHILE(@@FETCH_STATUS =0)
BEGIN
	INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM,DATE,INV_NO) VALUES (7,'1','A',0,@AMTA1,0,0,@bank_nm,@DATE,@CHLN_NO)
	FETCH  cur_bank_pay_detail INTO @AMTA1,@DATE,@CHLN_NO,@bank_nm	
END
CLOSE cur_bank_pay_detail
DEALLOCATE cur_bank_pay_detail
if not exists(select top 1 PART from #DM_DVATFORM16 where part=7 and partsr='1' AND SRNO='A' )
BEGIN
	INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM,DATE,INV_NO) VALUES (7,'1','A',0,0,0,0,'','','')
END
SET @AMTA1 = 0
select @AMTA1 =ISNULL(SUM(AMT1),0) from #DM_DVATFORM16 where part=7 and partsr='1' AND SRNO='A' 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (7,'1','B',0,@AMTA1,0,0,'Total')
--9

INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (9,'1','A',0,0,0,0,'')
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (9,'1','B',0,0,0,0,'')
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (9,'1','C',0,0,0,0,'')
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (9,'1','D',0,0,0,0,'')
--10 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','A',0,0,0,0,'')
--R10.2 Against C Forms by eligible units
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN ( BHENT ='PT' AND FORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN ( BHENT ='ST' AND RFORM_NM IN('C FORM','FORM C'))  THEN  GRO_AMT ELSE 0 END),0)
 FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND ( RFORM_NM IN('C FORM','FORM C') OR FORM_NM IN('C FORM','FORM C'))
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','B',0,@AMTA1,@AMTA2,0,'')
---R10.3 Against I Forms
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN ( BHENT ='PT' AND FORM_NM IN('I FORM','FORM I')) THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN ( BHENT ='ST' AND RFORM_NM IN('I FORM','FORM I')) THEN  GRO_AMT ELSE 0 END),0)
 FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND (RFORM_NM IN('I FORM','FORM I')  OR FORM_NM IN('I FORM','FORM I'))
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','C',0,@AMTA1,@AMTA2,0,'')
---R10.4 Against H Forms
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN ( BHENT ='PT' AND FORM_NM IN('H FORM','FORM H'))  THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN ( BHENT ='ST' AND RFORM_NM IN('H FORM','FORM H'))  THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND (RFORM_NM IN('H FORM','FORM H') OR FORM_NM IN('H FORM','FORM H'))
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','D',0,@AMTA1,@AMTA2,0,'')
--- R10.5 Sale of Goods in course of Export out of India (As defined in Section 5(1) of the Act)
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN ( BHENT ='PT' AND U_IMPORM IN('Import from Outside India'))  THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN ( BHENT ='ST' AND U_IMPORM IN('Export Out of India'))  THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND U_IMPORM IN('Export Out of India','Import from Outside India')
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','E',0,@AMTA1,@AMTA2,0,'')
--R10.6 Sale of Goods in course of Import into India (As defined in Section 5(2) of the Act) (High Seas Sale/Purchases)
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN ( BHENT ='PT' AND U_IMPORM IN('High Seas Purchases'))  THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN ( BHENT ='ST' AND U_IMPORM IN('High Sea Sales'))  THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND U_IMPORM IN('High Seas Purchases','High Sea Sales')
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','F',0,@AMTA1,@AMTA2,0,'')
--R10.7 Sale of Goods exempt u/s 6(2) of CST Act
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','G',0,0,0,0,'')
--R10.8 Sale of Excepted Goods specified in schedule-I of Daman and Diu Value Added Tax Regulation,2005

INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','H',0,0,0,0,'')
---R10.9 Against any other Forms
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','I',0,0,0,0,'')
 ---R10.10.1 Taxable Turnover Against C Forms @ 2%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN ( BHENT ='PT' AND FORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN ( BHENT ='ST' AND RFORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY')  AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND PER = 2 AND ( RFORM_NM IN('C FORM','FORM C') OR FORM_NM IN('C FORM','FORM C'))
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','J',0,@AMTA1,@AMTA2,0,'')
--R10.10.2 Taxable Turnover Against C Forms @ 1%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN (BHENT ='PT' AND FORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN (BHENT ='ST' AND RFORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY')  AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND PER = 1 AND (RFORM_NM IN('C FORM','FORM C') OR FORM_NM IN('C FORM','FORM C'))
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','K',0,@AMTA1,@AMTA2,0,'')
--R10.10.3 Taxable Turnover Against C Forms @ 0%
SET @AMTA2 = 0
SET @AMTA1 = 0
SELECT @AMTA1 =ISNULL(SUM(CASE WHEN ( BHENT ='PT' AND FORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA2=ISNULL(SUM(CASE WHEN ( BHENT ='ST'  AND RFORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY')  AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND PER = 0 AND ( RFORM_NM IN('C FORM','FORM C') OR FORM_NM IN('C FORM','FORM C'))
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','L',0,@AMTA1,@AMTA2,0,'')
--R10.10.4 Taxable Turnover Against C Forms @ Other Rate(s)
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN ( BHENT ='PT' AND FORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN ( BHENT ='ST' AND RFORM_NM IN('C FORM','FORM C')) THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY') AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND PER NOT IN(0,1,2) AND (RFORM_NM IN('C FORM','FORM C') OR FORM_NM IN('C FORM','FORM C'))
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','M',0,@AMTA1,@AMTA2,0,'')
--R10.11 Taxable Turnover
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','N',0,0,0,0,'')
--R10.11.1 @1%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN BHENT ='PT' THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN BHENT ='ST' THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY')  AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE)  AND TAX_NAME LIKE'%C.S.T.%' AND PER =1
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','O',0,@AMTA1,@AMTA2,0,'')
--R10.11.2 @4%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN BHENT ='PT' THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN BHENT ='ST' THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY')  AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE)  AND TAX_NAME LIKE'%C.S.T.%' AND PER =4
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','P',0,@AMTA1,@AMTA2,0,'')
--R10.11.3 @12.5%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN BHENT ='PT' THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN BHENT ='ST' THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY')  AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE)  AND TAX_NAME LIKE'%C.S.T.%' AND PER =12.5
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','Q',0,@AMTA1,@AMTA2,0,'')
--R10.11.4 @20%
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN BHENT ='PT' THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN BHENT ='ST' THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY')  AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE)  AND TAX_NAME LIKE'%C.S.T.%' AND PER =20
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','R',0,0,0,0,'')
--R10.11.5 Other Rates (To Specify) ( Rate: %)
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA2 =ISNULL(SUM(CASE WHEN BHENT ='PT' THEN  GRO_AMT ELSE 0 END),0),
	   @AMTA1=ISNULL(SUM(CASE WHEN BHENT ='ST' THEN  GRO_AMT ELSE 0 END),0)
FROM VATTBL WHERE ST_TYPE IN('OUT OF STATE','OUT OF COUNTRY')  AND BHENT IN('PT','ST') AND (DATE BETWEEN @SDATE AND @EDATE)  AND TAX_NAME LIKE'%C.S.T.%' AND PER NOT IN(20,12.5,4,1)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','S',0,0,0,0,'')
--R10.12 Sale of Declared Goods as defined in section 14 of the CST Act
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','T',0,0,0,0,'')
--R10.13 Capital goods
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','U',0,0,0,0,'')
--R10.14 Unregistered Dealer
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','V',0,0,0,0,'')
--R10.15 Total
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0),@AMTA2 =ISNULL(SUM(AMT2),0) FROM #DM_DVATFORM16 WHERE PART=10
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (10,'1','W',0,@AMTA1,@AMTA2,0,'')
---VERIFY ---
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (11,'1','',0,0,0,0,'')

---S1.1 Adjustment to Output Tax
---1.Sales Cancelled[Section 8(1)(a)]
	SET @AMTA1=0 
	SET @AMTA2=0 
	SET @AMTA3=0 
	SELECT @AMTA1=ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA2=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A 
	inner JOIN   CNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id) 
	where  ac.typ ='Input VAT' and c.amt_ty='DR' AND  BHENT IN ('CN') AND A.U_IMPORM IN('Sales Cancelled') AND (A.Date BETWEEN @SDATE AND @EDATE)
	---OUT VAT ---
	SELECT @AMTA1= @AMTA1 + ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA3=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A 
	inner JOIN   DNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id) 
	where  ac.typ ='Output VAT' and c.amt_ty='CR' AND  BHENT IN ('DN') AND A.U_IMPORM IN('Sales Cancelled') AND (A.Date BETWEEN @SDATE AND @EDATE)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','A',0,@AMTA1,@AMTA2,@AMTA3,'')
----2.Nature of Sale Changed[Section 8(1)(b)]
	SET @AMTA1=0 
	SET @AMTA2=0 
	SET @AMTA3=0 
	SELECT @AMTA1=ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA2=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A 
	inner JOIN   CNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id) 
	where  ac.typ ='Input VAT' and c.amt_ty='DR' AND  BHENT IN ('CN') AND A.U_IMPORM IN('Change in Nature of Sale') AND (A.Date BETWEEN @SDATE AND @EDATE)
	---OUT VAT ---
	SELECT @AMTA1= @AMTA1 + ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA3=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A 
	inner JOIN   DNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id) 
	where  ac.typ ='Output VAT' and c.amt_ty='CR' AND  BHENT IN ('DN') AND A.U_IMPORM IN('Change in Nature of Sale') AND (A.Date BETWEEN @SDATE AND @EDATE)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','B',0,@AMTA1,@AMTA2,@AMTA3,'')
----3.Change in agreed consideration[Section 8(1)(c)]
	SET @AMTA1=0 
	SET @AMTA2=0 
	SET @AMTA3=0 
	SELECT @AMTA1=ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA2=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A 
	inner JOIN   CNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id) 
	where  ac.typ ='Input VAT' and c.amt_ty='DR' AND  BHENT IN ('CN') AND A.U_IMPORM IN('Change in agreed consideration') AND (A.Date BETWEEN @SDATE AND @EDATE)
	---OUT VAT ---
	SELECT @AMTA1= @AMTA1 + ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA3=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A 
	inner JOIN   DNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id) 
	where  ac.typ ='Output VAT' and c.amt_ty='CR' AND  BHENT IN ('DN') AND A.U_IMPORM IN('Change in agreed consideration') AND (A.Date BETWEEN @SDATE AND @EDATE)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','C',0,@AMTA1 ,@AMTA2,@AMTA3,'')
----4.Goods sold returned[Section 8(1)(d)]
	SET @AMTA1=0 
	SET @AMTA2=0 
	SET @AMTA3=0 
	SELECT @AMTA1=ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA2=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A where BHENT ='PR' AND (DATE BETWEEN @SDATE AND @EDATE)
	---OUT VAT ---
	SELECT @AMTA1=ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA3=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A where BHENT ='SR' AND (DATE BETWEEN @SDATE AND @EDATE)
  INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','D',0,@AMTA1,@AMTA2,@AMTA3,'')
----5.Bad debts written off[Section 8(1)(e) and Rule 7A]
	SET @AMTA1=0 
	SET @AMTA2=0 
	SET @AMTA3=0 
	SELECT @AMTA3=ISNULL(SUM(C.amount),0)
	,@AMTA1=ISNULL(SUM(v.net_amt),0)
	FROM  VATTBL A 
	inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Bad Debts Written Off'
	inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id)
	inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty) 
	where C.entry_ty='J4' AND  ac.typ ='Output VAT'  and c.amt_ty='DR' 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','E',0,@AMTA1,@AMTA2,@AMTA3,'')
----6.Bad debts recovered[Rule 7A(3)]
	SET @AMTA1=0 
	SET @AMTA2=0 
	SET @AMTA3=0 
	SELECT @AMTA2=ISNULL(SUM(C.amount),0)
	,@AMTA1=ISNULL(SUM(v.net_amt),0)
	FROM  VATTBL A 
	inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Bad Debts Recovered'
	inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
	inner join ac_mast ac on (c.ac_id=ac.ac_id)
	inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
	where C.entry_ty='J4' AND   ac.typ ='Output VAT'  and c.amt_ty='CR' 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','F',0,@AMTA1,@AMTA2,@AMTA3,'')
----7.Tax payable on goods held on the date ' of cancellation of registration[Section 23]
	SET @AMTA1=0 
	SET @AMTA2=0 
	SET @AMTA3=0 
	SELECT @AMTA2=ISNULl(SUM(C.amount),0),
	@AMTA1=ISNULL(SUM(v.net_amt),0)
	FROM  VATTBL A 
	inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Tax Payable on Goods Held on the Date of Cancellation of Registration'
	inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id)
	inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
	where C.entry_ty='J4' AND   ac.typ ='Output VAT'  and c.amt_ty='CR'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','G',0,@AMTA1,@AMTA2,@AMTA3,'')
----Other Adjustments (Sales)  
	SET @AMTA1=0 
	SET @AMTA2=0 
	SET @AMTA3=0 
	SELECT @AMTA1=ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA2=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A 
	inner JOIN   CNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id) 
	where  ac.typ ='Input VAT' and c.amt_ty='DR' AND  BHENT IN ('CN') AND A.U_IMPORM IN('Other Adjustments (Sales)') AND (A.Date BETWEEN @SDATE AND @EDATE)
	---OUT VAT ---
	SELECT @AMTA1= @AMTA1 + ISNULL(SUM(A.GRO_AMT),0)
	,@AMTA3=ISNULL(SUM(A.TAXAMT),0)
	FROM  VATTBL A 
	inner JOIN   DNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
	inner join ac_mast ac on (c.ac_id=ac.ac_id) 
	where  ac.typ ='Output VAT' and c.amt_ty='CR' AND  BHENT IN ('DN') AND A.U_IMPORM IN('Other Adjustments (Sales)') AND (A.Date BETWEEN @SDATE AND @EDATE)
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','H',0,@AMTA1,@AMTA2,@AMTA3,'')
	---TOTAL
SET @AMTA1=0 
SET @AMTA2=0 
SET @AMTA3=0 
SELECT @AMTA1=ISNULL(SUM(AMT1),0),@AMTA2=ISNULL(SUM(AMT2),0),@AMTA3=ISNULL(SUM(AMT3),0) FROM #DM_DVATFORM16 WHERE PART=12
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','I',0,@AMTA1,@AMTA2,@AMTA3,'')
---S1.2 Total net Increase/(decrease)in Output Tax (A-B)
SET @AMTA1=0 
SET @AMTA2=0 
SET @AMTA3=0 
SELECT @AMTA1= ISNULL(SUM(AMT1),0),@AMTA2=ISNULL(SUM(AMT2),0)-ISNULL(SUM(AMT3),0) FROM #DM_DVATFORM16 WHERE PART=12 AND SRNO ='I'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (12,'1','J',0,0,@AMTA2,@AMTA3,'')
---update total in part 4 s1.
UPDATE #DM_DVATFORM16 SET AMT1 =@AMTA1 ,AMT2 =@AMTA2  WHERE PART=4 AND SRNO='N'
---total amt update 4.
SET @AMTA1=0 
SET @AMTA2=0 
SELECT @AMTA1= ISNULL(SUM(AMT1),0),@AMTA2=ISNULL(SUM(AMT2),0) FROM #DM_DVATFORM16 WHERE PART=4 AND SRNO in('M','N')
UPDATE #DM_DVATFORM16 SET AMT1 =@AMTA1 ,AMT2 =@AMTA2  WHERE PART=4 AND SRNO='O'

--S2.1 Adjustment to Tax Credits
--Tax credit carried forward from previous tax period
SET @AMTA1=0 
SET @AMTA2=0 
 INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','A',0,@AMTA1,@AMTA2,0,'')
 
--Receipt of debit notes from the seller[Section 10(1)]
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA3=ISNULL(SUM(TAXAMT),0),
@AMTA1=ISNULL(SUM(net_amt),0)
FROM (SELECT DISTINCT A.TAXAMT,A.net_amt  FROM  VATTBL A 
inner join CNMAIN v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD)
where   A.BHENT IN ('DN') AND v.U_GPRICE IN('Receipt of Debit Notes from the seller','Receipt of Debit Notes from seller'))C
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','B',0,@AMTA1,@AMTA2,@AMTA3,'')
--Receipt of credit notes from the seller[Section 10(1)]
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA2=ISNULL(SUM(TAXAMT),0), @AMTA1=ISNULL(SUM(net_amt),0)
 FROM (SELECT DISTINCT A.TAXAMT,A.net_amt  FROM  VATTBL A 
inner join CNMAIN v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD)
where   A.BHENT IN ('CN') AND A.U_IMPORM IN('Receipt of Credit notes from seller','Receipt of Credit Notes from the seller'))C

INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','C',0,@AMTA1,@AMTA2,@AMTA3,'')
--Goods purchased returned or rejected[Section 10(1)]
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA3=ISNULL(SUM(a.TAXAMT),0), @AMTA1=ISNULL(SUM(a.NET_AMT),0) FROM  VATTBL A where a.bhent='PR' 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','D',0,@AMTA1,@AMTA2,@AMTA3,'')
--Change in use of goods, for purposes other than for which credit is allowed[Section 10(2)(a)]
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA3=ISNULL(SUM(C.amount),0)
,@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Change in use of goods for purposes other than for which credit is allowed'
inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where C.entry_ty='J4' AND   ac.typ ='Input VAT'  and c.amt_ty='CR' 
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','E',0,@AMTA1,@AMTA2,@AMTA3,'')
--Change in use of goods, for purposes for which credit is allowed [Section 10(2)(b)]
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA2=ISNULL(SUM(C.amount),0)
,@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Change in use of goods for purposes other than for which credit is allowed'
inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where C.entry_ty='J4' AND   ac.typ ='Input VAT'  and c.amt_ty='CR'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','F',0,@AMTA1,@AMTA2,@AMTA3,'')
--Tax credit disallowed in respect of stock transfer out of Daman and Diu[Section 10(3)]
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA3=ISNULL(SUM(C.amount),0),
@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Tax credit disallowed in respect of stock transfer out of Delhi'
inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where C.entry_ty='J4' AND   ac.typ ='Input VAT'  and c.amt_ty='CR'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','G',0,@AMTA1,@AMTA2,@AMTA3,'')
--Tax credit for Transitional stock held on 1st April, 2005 (Section 14)
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA2=ISNULL(SUM(C.amount),0)
,@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Tax Credit for Transitional Stock Held on 1st April'
inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where C.entry_ty='J4' AND   ac.typ ='Input VAT'  and c.amt_ty='CR'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','H',0,@AMTA1,@AMTA2,@AMTA3,'')
--Tax credit for purchase of second-hand goods(Section 15)
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA2=ISNULL(SUM(C.amount),0)
,@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Tax Credit for Purchase of Second–Hand Goods' 
inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where V.ENTRY_TY='J4' AND  RTRIM(ac.typ) ='Input VAT'  and c.amt_ty='CR'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','I',0,@AMTA1,@AMTA2,@AMTA3,'')
--Tax credit for goods held on the date of withdrawal from Composition Scheme [Section 16(2)]
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA2=ISNULL(SUM(C.amount),0)
,@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Tax Credit on Goods Held on Date of Withdrawal from Composition Scheme' 
inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where V.ENTRY_TY='J4' AND  RTRIM(ac.typ) ='Input VAT'  and c.amt_ty='CR'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','J',0,@AMTA1,@AMTA2,@AMTA3,'')
--Tax credit for trading stock and raw materials held at the time of registration(Section 20)
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA2=ISNULL(SUM(C.amount),0)
,@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ=' Tax Credit for Trading Stock and Raw Materials Held at the Time of Registration' 
inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)  --Added by Priyanka on 27022014 
where V.ENTRY_TY='J4' AND  RTRIM(ac.typ) ='Input VAT'  and c.amt_ty='DR'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','K',0,@AMTA1 ,@AMTA2,@AMTA3,'')
--Tax credit disallowed for goods lost or destroyed (Rule 7)
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA3=ISNULL(SUM(C.amount),0)
,@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD) and VAT_ADJ='Tax Credit for Goods Lost Or Destroyed' 
inner JOIN   JVACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where V.ENTRY_TY='J4' AND  RTRIM(ac.typ) ='Input VAT'  and c.amt_ty='CR'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','L',0,@AMTA1,@AMTA2,@AMTA3,'')
--Balance tax credit on capital goods[Section 9(9)(a)]
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','M',0,@AMTA1 ,@AMTA2,@AMTA3,'')
--other adjustments, if any(specify)
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA2=ISNULL(SUM(C.amount),0)
,@AMTA1=ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD)
inner JOIN   CNACDET C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD) 
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where ac.typ ='Input VAT'  and c.amt_ty IN('DR') AND  BHENT IN ('CN') AND v.U_GPRICE IN('Other Adjustments (Purchases)')

SELECT @AMTA3=ISNULL(SUM(C.amount),0) 
,@AMTA1=@AMTA1 + ISNULL(SUM(v.net_amt),0)
FROM  VATTBL A 
inner join VATMAIN_VW v on (A.BHENT = v.ENTRY_TY AND A.TRAN_CD = v.TRAN_CD)
inner JOIN  lac_vw C on (A.BHENT = C.ENTRY_TY AND A.TRAN_CD = C.TRAN_CD)
inner join ac_mast ac on (c.ac_id=ac.ac_id)
inner join stax_mas st on (a.tax_name=st.tax_name and a.bhent=st.entry_ty)
where   ac.typ ='Input VAT'  and c.amt_ty IN('CR') AND  BHENT IN ('DN') AND v.U_GPRICE IN('Other Adjustments (Purchases)')
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','N',0,@AMTA1,@AMTA2,@AMTA3,'')
---Total
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA1 =ISNULL(SUM(AMT1),0),@AMTA2 =ISNULL(SUM(AMT2),0),@AMTA3 =ISNULL(SUM(AMT3),0) FROM #DM_DVATFORM16 WHERE PART=13
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','O',0,@AMTA1,@AMTA2,@AMTA3,'')
---S2.2 Total net Increase/(decrease)in Tax Credits (C-D)
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTA3 = 0
SELECT @AMTA1 =ISNULL(SUM(AMT1),0),@AMTA2=ISNULL(SUM(AMT2),0)-ISNULL(SUM(AMT3),0) FROM #DM_DVATFORM16 WHERE PART='13' AND SRNO='O'
INSERT INTO #DM_DVATFORM16 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (13,'1','P',0,@AMTA1,@AMTA2,@AMTA3,'')
--V updating in section 5 v row 
UPDATE  #DM_DVATFORM16  SET AMT1=@AMTA1,AMT2=@AMTA2 WHERE PART = 5 AND SRNO ='V'
--TOTAL OF (U TO V) SECTION 5,
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1=ISNULL(SUM(AMT1),0),@AMTA2=ISNULL(SUM(AMT2),0)  FROM #DM_DVATFORM16  WHERE PART = 5 AND SRNO IN('U','V')
UPDATE  #DM_DVATFORM16  SET AMT1=@AMTA1,AMT2=@AMTA2 WHERE PART = 5 AND SRNO ='W'
---updating value R6.1 Net Tax (R4.10)-(R5.8)  start
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @AMTA1 = ISNULL(AMT2,0) FROM #DM_DVATFORM16 WHERE PART=4 AND PARTSR='1' AND SRNO='N'
SELECT @AMTA2 = ISNULL(AMT2,0) FROM #DM_DVATFORM16 WHERE PART=5 AND PARTSR='1' AND SRNO='W'
update #DM_DVATFORM16 set AMT1=(@AMTA1-@AMTA2) WHERE PART=6 and PARTSR='1' AND SRNO='A'
---updating value R6.1 Net Tax (R4.10)-(R5.8)  end
--Updating Null Records
Update #DM_DVATFORM16 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),
 SELECT * FROM #DM_DVATFORM16 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END
