IF EXISTS(SELECT XTYPE,NAME FROM SYSOBJECTS WHERE XTYPE='P' AND name='USP_REP_RJ_FORMVAT10A')
BEGIN
	DROP PROCEDURE USP_REP_RJ_FORMVAT10A
END
GO 
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
/* 
	EXECUTE USP_REP_RJ_FORMVAT10A'','','','04/01/2015','03/31/2016','','','','',0,0,'','','','','','','','','2015-2016',''
*/
 CREATE PROCEDURE [dbo].[USP_REP_RJ_FORMVAT10A]
 @TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
 ,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
 ,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
 ,@SAMT FLOAT,@EAMT FLOAT
 ,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
 ,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
 ,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
 ,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
 ,@LYN VARCHAR(20)
 ,@EXPARA  AS VARCHAR(60)= null
 AS
 BEGIN
 Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
 EXECUTE   USP_REP_FILTCON 
 @VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
 ,@VSDATE=NULL
 ,@VEDATE=@EDATE
 ,@VSAC =@SAC,@VEAC =@EAC
 ,@VSIT=@SIT,@VEIT=@EIT
 ,@VSAMT=@SAMT,@VEAMT=@EAMT
 ,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
 ,@VSCATE =@SCATE,@VECATE =@ECATE
 ,@VSWARE =@SWARE,@VEWARE  =@EWARE
 ,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
 ,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
 ,@VDTFLD ='DATE'
 ,@VLYN=NULL
 ,@VEXPARA=@EXPARA
 ,@VFCON =@FCON OUTPUT
 
 DECLARE @SQLCOMMAND NVARCHAR(4000)
 DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTA2 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2) ,@AMTK11 NUMERIC(12,2),@char varchar(50),@PER  NUMERIC(12,2)
 DECLARE @AMTSL_OUT NUMERIC(18,2),@AMTSL_LOC NUMERIC(18,2),@BALANCE5 NUMERIC(18,2),@BALAMT62A  NUMERIC(18,2) ,@BALAMT62B  NUMERIC(18,2),@LSTTHREEMTHDATE DATETIME ,@BALAMT  NUMERIC(18,2),@INVNO VARCHAR(250),@CHLN_NO VARCHAR(250),@CHLN_DATE DATETIME ,@AMTB2 NUMERIC(12,2),@AMTc2 NUMERIC(12,2),@AMTd2 NUMERIC(12,2),@Bank_nm varchar(250)
 SET @AMTK11 = 0

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)
---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=NET_AMT,AMT3=NET_AMT,AMT4=NET_AMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX 
,stINV_nO =SPACE(50),stdate =m.date ,ITEM =SPACE(250) 
INTO #FORM221
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2
Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
 ,@MFCON = @MCON OUTPUT
 set @BALAMT = 0
--1.10 Particulars of (operating) Bank Accounts
INSERT INTO #FORM221 (PART,PARTSR,SRNO,PARTY_NM,FORM_NM,s_tax,INV_NO,RATE) select 1 AS PART,'1' AS PARTSR,'A'  AS SRNO,ac_name AS BANK_NM,s_tax AS BRANCH,c_tax AS ACNO,U_IFSCCODE,0 AS RATE from AC_MAST  WHERE TYP='BANK' ORDER BY BANK_NM 
if not exists(select top 1 srno from #FORM221 where PART=1 and PARTSR ='1' and SRNO='A')
BEGIN
	INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'1','A',0,0,0,0,'')
END

 --1.12 Details of surveys conducted (other than R.C. enquiry), if any:
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','A',0,0,0,0,'')
--2. Trading account
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','A',0,0,0,0,'')
--A. Opening Stock  ---A. Sales
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','A',0,0,0,0,'')
--(i) Exempted goods   --(i) Sales under CST Act
set @AMTA2  = 0
select @AMTA2 = isnull(SUM(vatonamt),0) from VATTBL where  BHENT ='ST' AND ST_TYPE ='OUT OF STATE' and S_TAX <> '' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','B',0,0,@AMTA2,0,'')
--(ii) MRP goods goods --(ii) Sales under RVAT Act
set @AMTA2  = 0
select @AMTA2 = isnull(SUM(vatonamt),0) from VATTBL where  BHENT ='ST' AND ST_TYPE IN('LOCAL','') and S_TAX <> '' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','C',0,0,@AMTA2,0,'')
--(iii) First point taxable goods --(iii) Sales Return
set @AMTA2  = 0
select @AMTA2 = isnull(SUM(vatonamt),0) from VATTBL where  BHENT ='SR' AND ST_TYPE IN('OUT OF STATE','LOCAL','') and S_TAX <> '' and ( Date between @SDATE and @EDATE)
set @BALAMT = @AMTA2
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','D',0,0,@AMTA2,0,'')
--(iv) Goods taxable @1%  --Net Sales
set @AMTA2  = 0
select @AMTA2 = isnull(SUM(CASE WHEN SRNO IN('B','C') THEN AMT2 ELSE - AMT2 END),0) from #FORM221 where  PART=1 AND PARTSR='4' AND SRNO IN('B','C','D')
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','E',0,0,@AMTA2 ,0,'')
--(v) Goods taxable @5%  --B. Closing stock
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','F',0,0,0,0,'')
--(vi) Goods taxable @14% --(i) Exempted goods
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','G',0,0,0,0,'')
--(vii) Goods taxable @ --%  --(ii) MRP goods
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','H',0,0,0,0,'')
--(viii) Goods taxable@ --%  --(iii) First point taxable goods
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','I',0,0,0,0,'')
--(ix) Work in progress Total of opening stock  --(iv) Goods taxable @1%
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','J',0,0,0,0,'')
--B.Purchases made within state  --(vi) Goods taxable @14%
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','K',0,0,0,0,'')
--(i) Exempted goods  --(vii) Goods taxable @--%
set @AMTA1 = 0
select @AMTA1 = ISNULL(SUM(vatonamt),0) from VATTBL where BHENT ='PT' AND  ST_TYPE IN('LOCAL','') AND TAX_NAME ='EXEMPTED' and S_TAX <> '' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','L',0,@AMTA1,0,0,'')
--(ii) MRP goods  --(viii) Goods taxable @ --% 
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','M',0,0,0,0,'')
--(iii) First point taxable goods --(ix) Work in progress Total of closing  stock
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','N',0,0,0,0,'')
--(iv) Goods taxable @1% --C. Gross loss
set @AMTA1 = 0
select @AMTA1 = SUM(vatonamt) from VATTBL where  BHENT ='PT' AND  ST_TYPE IN('LOCAL','') AND per=1 and S_TAX <> '' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','O',0,@AMTA1,0,0,'')
--(v) Goods taxable @5%
set @AMTA1 = 0
select @AMTA1 = isnull(SUM(vatonamt),0) from VATTBL where  BHENT ='PT' AND ST_TYPE IN('LOCAL','') AND per=5 and S_TAX <> '' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','P',0,@AMTA1,0,0,'')
--(vi) Goods taxable @14%
set @AMTA1 = 0
select @AMTA1 = isnull(SUM(vatonamt),0) from VATTBL where  BHENT ='PT' AND ST_TYPE IN('LOCAL','') AND per=14 and S_TAX <> '' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','Q',0,@AMTA1,0,0,'')

--(vii) Goods taxable @ --%
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,PARTY_NM)select 1 AS PART,'4' AS PARTSR,'R' AS SRNO,PER AS RATE,ISNULL(SUM(vatonamt),0) AS AMT1,'' AS PARTY_NM  from VATTBL where  BHENT ='PT' AND ST_TYPE IN('LOCAL','') AND per NOT IN(14,1,5) and S_TAX <> '' and ( Date between @SDATE and @EDATE) GROUP BY PER  ORDER BY PER
IF NOT EXISTS(SELECT TOP 1 SRNO FROM #FORM221 WHERE PART=1 AND PARTSR='4' AND SRNO ='R')
BEGIN
	INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,PARTY_NM)VALUES (1 ,'4' ,'R',0,0,'')
END
--(viii) Goods taxable@ --%
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','S',0,0,0,0,'')
--(ix) Work in progress
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','T',0,0,0,0,'')
--C. Purchases made from outside the state
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','U',0,0,0,0,'')
--(i) Exempted goods
set @AMTA1 = 0
select @AMTA1 = ISNULL(SUM(vatonamt),0) from VATTBL where  BHENT ='PT' AND TAX_NAME ='EXEMPTED' and S_TAX <> '' AND ST_TYPE ='OUT OF STATE' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','V',0,@AMTA1,0,0,'')
--(ii) MRP goods
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','W',0,0,0,0,'')
--(iii) First point taxable goods
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','X',0,0,0,0,'')
--(iv) Goods taxable @1%
set @AMTA1 = 0
select @AMTA1 = ISNULL(SUM(vatonamt),0) from VATTBL where  BHENT ='PT' AND PER =1 and S_TAX <> '' AND ST_TYPE ='OUT OF STATE' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','Y',0,@AMTA1,0,0,'')
--(v) Goods taxable @5%
set @AMTA1 = 0
select @AMTA1 = ISNULL(SUM(vatonamt),0) from VATTBL where  BHENT ='PT' AND PER =5 and S_TAX <> '' AND ST_TYPE ='OUT OF STATE' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','Z',0,@AMTA1,0,0,'')
--(vi) Goods taxable @14%
set @AMTA1 = 0
select @AMTA1 = ISNULL(SUM(vatonamt),0) from VATTBL where  BHENT ='PT' AND  PER =14 and S_TAX <> '' AND ST_TYPE ='OUT OF STATE' and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZA',0,@AMTA1,0,0,'')
--(vii) Goods taxable @ --%
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,PARTY_NM)select 1 AS PART,'4' AS PARTSR,'ZB' AS SRNO,PER AS RATE,ISNULL(SUM(vatonamt),0) AS AMT1,'' AS PARTY_NM  from VATTBL where  BHENT ='PT' AND ST_TYPE ='OUT OF STATE' AND per NOT IN(14,1,5) and S_TAX <> '' and ( Date between @SDATE and @EDATE) GROUP BY PER  ORDER BY PER
IF NOT EXISTS(SELECT TOP 1 SRNO FROM #FORM221 WHERE PART=1 AND PARTSR='4' AND SRNO ='ZB')
BEGIN
	INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,PARTY_NM)VALUES (1 ,'4' ,'ZB',0,0,'')
END
--(viii) Goods taxable @ --%
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZC',0,0,0,0,'')
--(ix) Work in progress
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZD',0,0,0,0,'')
--Total purchases
SET @AMTA1 =0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORM221 WHERE PART = 1 AND PARTSR = '4'
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZE',0,@AMTA1,0,0,'')
--Less: Purchase Discount, if any
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZF',0,0,0,0,'')
--Less: Purchase Return,if any.
set @AMTA1 = 0
select @AMTA1 = ISNULL(SUM(vatonamt),0) from VATTBL where  BHENT ='PR' AND  PER =5 and S_TAX <> '' AND ST_TYPE IN('OUT OF STATE','local','') and ( Date between @SDATE and @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZG',0,@AMTA1,0,0,'')

--Net Purchases
set @BALAMT62A = 0
SET @AMTA1 =0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN SRNO ='ZE' THEN AMT1 ELSE -AMT1 END ),0) FROM #FORM221 WHERE PART = 1 AND PARTSR = '4' and srno in('ZE','ZG')
set @BALAMT62A = @AMTA1
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZH',0,@AMTA1,0,0,'')
--D. Expenses
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZI',0,0,0,0,'')
--(i) Direct expenses
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZJ',0,0,0,0,'')
--(ii) Manufacturing expenses
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZK',0,0,0,0,'')
--others
SET @AMTA1 =0
select @AMTA1 = ISNULL(SUM(vatonamt),0) from VATTBL where  BHENT ='EP' and S_TAX <> '' AND ST_TYPE in('OUT OF STATE','Local','') and ( Date between @SDATE and @EDATE)
set @BALAMT62A  = @BALAMT62A + @AMTA1
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZL',0,@AMTA1,0,0,'')
--(iii) E. Gross profit
SET @AMTA1 =0
SET @AMTA1 = @BALAMT - @BALAMT62A
PRINT 'SURAJ '
PRINT @AMTA1
if @AMTA1 < 0
	begin
		PRINT 'SURAJ '
	   PRINT @AMTA1

		update #FORM221 set amt2 = ABS(@AMTA1)  where part=1 and partsr = '4' and srno ='O'
	end
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZM',0,(case when @AMTA1 > 0 then @AMTA1 else 0 end),0,0,'')
--Total
SET @AMTA1 =0
SET @AMTA2 =0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0) FROM #FORM221 WHERE PART = 1 AND PARTSR = '4' AND SRNO IN('ZM','ZL','ZH')
SELECT @AMTA2 = ISNULL(SUM(AMT2),0) FROM #FORM221 WHERE PART = 1 AND PARTSR = '4' AND SRNO IN('E','O')
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','ZN',0,@AMTA1,@AMTA2,0,'')
---3. Statement of goods received for sale on consignment/ stock transfer/depot transfer from outside the state

INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'5','A',0,0,0,0,'')
-- 4 Details of raw material and finished goods (in case of manufacturer)
--Opening balance
SET @AMTA1= 0
SET @AMTA2 = 0
SET @AMTB1 = 0 
SET @AMTB2 = 0
SELECT @AMTA1 = isnull(sum(QTY),0),@AMTA2=isnull(sum(gro_amt),0) FROM OSITEM WHERE It_code in(select It_code from IT_MAST where type ='Raw Material') AND (DATE BETWEEN @SDATE AND @EDATE)
SELECT @AMTB1 = isnull(sum(QTY),0),@AMTB2=isnull(sum(gro_amt),0) FROM OSITEM WHERE It_code in(select It_code from IT_MAST where type ='Finished') AND (DATE BETWEEN @SDATE AND @EDATE)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,PARTY_NM) VALUES (1,'6','A',0,@AMTA1,@AMTA2,@AMTB1,@AMTB2,'')
--Purchase during the year  ---Manufactured during the  year
SET @AMTA1= 0
SET @AMTA2 = 0
SELECT @AMTA1=ISNULL(SUM(A.QTY),0),@AMTA2=ISNULL(SUM(B.VATONAMT),0)  FROM VATTBL B INNER JOIN PTITEM A ON(B.TRAN_CD =A.Tran_cd AND B.BHENT =A.entry_ty AND B.ItSerial =A.itserial) WHERE B.BHENT IN('PT','EP','P1') AND (B.DATE BETWEEN @SDATE AND @EDATE) AND B.It_code in(select It_code from IT_MAST where type ='Raw Material')
SET @AMTB1= 0
SET @AMTB2= 0
SELECT @AMTB1=ISNULL(SUM(QTY),0),@AMTB2=ISNULL(SUM(gro_amt ),0)  FROM oPITEM  where entry_ty = 'OP' AND (DATE BETWEEN @SDATE AND @EDATE) AND It_code in(select It_code from IT_MAST where type ='Finished')
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,PARTY_NM) VALUES (1,'6','B',0,@AMTA1,@AMTA2,@AMTB1,@AMTB2,'')
--Total
SET @AMTA1= 0
SET @AMTA2 = 0
SET @AMTB1= 0
SET @AMTB2= 0

SELECT @AMTA1=SUM(AMT1),@AMTA2=SUM(AMT2),@AMTB1=SUM(AMT3),@AMTB2=SUM(AMT4) FROM #FORM221 WHERE PART=1 AND PARTSR='6' AND SRNO IN('A','B')
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,PARTY_NM) VALUES (1,'6','C',0,@AMTA1,@AMTA2,@AMTB1,@AMTB2,'')
--Consumed in manufacturing - Sold during the year
SET @AMTA1= 0
SET @AMTA2 = 0
SELECT @AMTA1=ISNULL(SUM(QTY),0),@AMTA2=ISNULL(SUM(gro_amt ),0)  FROM IPITEM  where entry_ty = 'IP' AND (DATE BETWEEN @SDATE AND @EDATE) AND It_code in(select It_code from IT_MAST where type ='Raw Material')
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @AMTB1=ISNULL(SUM(A.QTY),0),@AMTB2=ISNULL(SUM(B.VATONAMT),0)  FROM VATTBL B INNER JOIN STITEM A ON(B.TRAN_CD =A.Tran_cd AND B.BHENT =A.entry_ty AND B.ItSerial =A.itserial) WHERE B.BHENT IN('ST') AND (B.DATE BETWEEN @SDATE AND @EDATE) AND B.It_code in(select It_code from IT_MAST where type ='Finished')

INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,PARTY_NM) VALUES (1,'6','D',0,@AMTA1,@AMTA2,@AMTB1,@AMTB2,'')
--Under process
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','E',0,0,0,0,'')
--Disposed otherwise (please specified details)
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','F',0,0,0,0,'')
--Wastage in process
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','G',0,0,0,0,'')
--Balance
SET @AMTA1= 0
SET @AMTA2 = 0
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @AMTA1=ISNULL(SUM(CASE WHEN SRNO ='C' THEN +AMT1 ELSE -AMT1 END),0),@AMTA2=ISNULL(SUM(CASE WHEN SRNO ='C' THEN +AMT2 ELSE -AMT2 END),0)
,@AMTB1=ISNULL(SUM(CASE WHEN SRNO ='C' THEN +AMT3 ELSE -AMT3 END),0),@AMTB2=ISNULL(SUM(CASE WHEN SRNO ='C' THEN +AMT4 ELSE -AMT4 END),0) FROM #FORM221 WHERE PART=1 AND PARTSR='6' AND SRNO IN('C','D')
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,PARTY_NM) VALUES (1,'6','H',0,@AMTA1,@AMTA2,@AMTB1,@AMTB2,'')
--Part C
--5. Other information
--5.1 Whether all declarations for all sales claimed at concessional rates as required under the RVAT Act and Rules received, if not, give details:
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'7','A',0,0,0,0,'')

--5.2 Whether all declarations in Form VAT 36A for sales of goods 
--received from principal required under the RVAT Act and Rules
--received, if not, give details:
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'8','A',0,0,0,0,'')
--5.3 Whether all declarations for all sales claimed at concessional rates
--as required under the CST Act and Rules received, if not, give details
INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,PARTY_NM,S_TAX) SELECT 1 AS PART
                          ,'9' AS PARTSR,'A' AS SRNO,0 AS RATE ,VATONAMT ,AC_NAME,RFORM_NM FROM VATTBL WHERE LTRIM(REPLACE(RFORM_NM,'FORM','')) IN('C', 'F', 'EI', 'EII','H', 'I', 'J','E-II','E-2','E2','E-I','E-1','E1') AND BHENT ='ST' AND (DATE BETWEEN @SDATE AND @EDATE) GROUP BY AC_NAME,RFORM_NM,VATONAMT 
if not exists(select top 1 srno from #FORM221 where PART=1 and PARTSR ='9' and SRNO='A')
BEGIN
	INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'9','A',0,0,0,0,'')
END


--Part D
--6. Sales return register
INSERT INTO #FORM221 (PART,PARTSR,SRNO,STINV_NO,STDATE,PARTY_NM,ITEM,RATE,AMT1,AMT2,INV_NO,DATE,AMT3,AMT4)
            SELECT    1 as PART,'10' as PARTSR,'A' as SRNO, ST.inv_no as stinvno, ST.date as stdate,A.AC_NAME ,C.IT_NAME,0 AS RATE,st.VATONAMT as stVATONAMT,st.TAXAMT as sttaxamt
            , A.INV_NO,A.DATE,A.VATONAMT,A.TAXAMT FROM VATTBL A
INNER JOIN IT_MAST C ON (A.It_code =C.It_code )
LEFT JOIN SRITREF SRF ON (SRF.Tran_cd = A.TRAN_CD AND SRF.entry_ty = A.BHENT AND SRF.Itserial = A.ItSerial)
LEFT JOIN vattbl ST ON (SRF.Itref_tran = ST.Tran_cd AND SRF.rentry_ty = ST.bhent AND SRF.Ritserial = ST.itserial)
WHERE A.BHENT ='SR'  and (A.DATE BETWEEN @SDATE AND @EDATE)
if not exists(select top 1 srno from #FORM221 where PART=1 and PARTSR ='10' and SRNO='A')
BEGIN
	INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10','A',0,0,0,0,'')
END
--INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'10','A',0,0,0,0,'')

Update #form221 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')
 SELECT * FROM #FORM221 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)

  END
