
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Excise (Item Wise - Date Wise) &  (Item Wise) RG23a-I Register Report.
-- Modification Date/By/Reason: 15/06/2009 Rupesh Prajapati. Modified for Consignor Details.
-- Modification Date/By/Reason: 27/07/2009 Rupesh Prajapati. Modified for Chapterwise-Itemwise Order in Final Query.
-- Modification Date/By/Reason: 26/09/2009 Rupesh Prajapati. Modified for Opening Balance entry on Date>@sdate like Date='06/04/09' and @sDate=01/04/2009.
-- Modification Date/By/Reason: 11/03/2010 Shrikant S. Modified for TKT-573
-- Modification Date/By/Reason: 05/07/2010 Birendra Modified for TKT-2830
-- Modification Date/By/Reason: 10/08/2010 Sachin N. S. Modified for TKT-3574
-- Remark:

--Modified Date  : 30/05/2012
--Modified By     :  Vasant
--Reason	           :  Bug 3236 (RG23C part1 SR. NO is not allocate proper way after Run RG NO renumbering Utility)
--Comment where Changes done : Bug3236

-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_RG23A_P1] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@DOC_NO CHAR(5),@AC_ID INT,@IT_CODE NUMERIC(10),@QTY DECIMAL(17,4),@U_LQTY DECIMAL(17,4),@ITSERIAL CHAR(5),@PMKEY CHAR(1),@CHAPNO CHAR(10),@ITGRID INT,@TRAN_CD INT,@U_PAGENO CHAR(10)
DECLARE @OPBAL DECIMAL(17,4),@LOPBAL DECIMAL(17,4),@RECEIPT DECIMAL(17,4),@LRECEIPT DECIMAL(17,4),@ISSUE DECIMAL(17,4),@LISSUE DECIMAL(17,4),@BALANCE DECIMAL(17,4),@LBALANCE DECIMAL(17,4),@CURRDT SMALLDATETIME, @V1 NUMERIC(8)
DECLARE @MIT_CODE NUMERIC(10),@MITGRID INT,@MCHAPNO CHAR(10),@OBACID INT,@TFCOND CHAR(1) ,@TFCOND1 CHAR(1),@MOPBAL DECIMAL(17,4),@MLOPBAL DECIMAL(17,4),@shipto_id INT,@Cons_id int
DECLARE @U_PINVNO VARCHAR(200),@U_PINVDT VARCHAR(200)	-- Added By Sachin N. S. on 10/08/2010 for TKT-3574

SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING STOCK'

--SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,STKL_VW_ITEM.IT_CODE,OPBAL=QTY,RECEIPT=QTY,ISSUE=QTY,BALANCE=QTY,LOPBAL=U_LQTY,LRECEIPT=U_LQTY,LISSUE=U_LQTY,LBALANCE=U_LQTY,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,shipto_id=AC_ID,Cons_Id=AC_ID INTO #LSTEXC FROM  STKL_VW_ITEM INNER JOIN IT_MAST ON(IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) WHERE 1=2
SELECT	ENTRY_TY,DATE,DOC_NO,AC_ID,STKL_VW_ITEM.IT_CODE,OPBAL=QTY,RECEIPT=QTY,ISSUE=QTY,BALANCE=QTY,LOPBAL=U_LQTY,
		LRECEIPT=U_LQTY,LISSUE=U_LQTY,LBALANCE=U_LQTY,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,shipto_id=AC_ID,
		Cons_Id=AC_ID, SPACE(200) AS U_PINVNO, SPACE(200) AS U_PINVDT	-- Added By Sachin N. S. on 10/08/2010 for TKT-3574  
	INTO #LSTEXC FROM  STKL_VW_ITEM INNER JOIN IT_MAST ON(IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) WHERE 1=2

SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.CHAPNO,IT_MAST.ITGRID,STKL_VW_ITEM.TRAN_CD,STKL_VW_ITEM.U_PAGENO,s.shipto_id,Cons_Id=ac_mast.ac_id
INTO #LSTEXC1
FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD)
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) 
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_ITEM.AC_ID) 
LEFT JOIN shipto s ON (S.shipto_id=STKL_VW_MAIN.SCONS_ID)
WHERE  1=2

DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)
SET @SQLCOMMAND='INSERT INTO #LSTEXC1 SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_MAIN.CONS_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.CHAPNO,IT_MAST.ITGRID,STKL_VW_ITEM.TRAN_CD,STKL_VW_ITEM.U_PAGENO,s.shipto_id,STKL_VW_MAIN.Cons_Id'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM STKL_VW_ITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.CONS_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN shipto s ON (S.shipto_id=STKL_VW_MAIN.SCONS_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
print @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
--SELECT * FROM #LSTEXC1
SET @V1=0
SET @OPBAL=0
SET @RECEIPT=0
SET @ISSUE=0
SET @BALANCE=0

SET @LOPBAL=0
SET @LRECEIPT=0
SET @LISSUE=0
SET @LBALANCE=0
SET @CURRDT =@SDATE

SELECT IT_CODE
INTO #LSTEXC2
FROM #LSTEXC1 
GROUP BY IT_CODE
HAVING (
SUM(CASE WHEN DATE<@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE 0 END) ELSE 0 END) -SUM(CASE WHEN DATE<@SDATE THEN (CASE WHEN PMKEY='-' THEN QTY ELSE 0 END) ELSE 0 END) <>0OR  SUM(CASE WHEN DATE>=@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE 0 END) ELSE 0 END)<>0
OR SUM(CASE WHEN DATE>=@SDATE THEN (CASE WHEN PMKEY='-' THEN QTY ELSE 0 END) ELSE 0 END)<>0
)



DECLARE RG23AP1_CURSOR CURSOR FOR 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,#LSTEXC1.IT_CODE,QTY,U_LQTY,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,shipto_id,Cons_id
FROM #LSTEXC1 
INNER JOIN #LSTEXC2 ON #LSTEXC2.IT_CODE=#LSTEXC1.IT_CODE
ORDER BY #LSTEXC1.IT_CODE,DATE
,(case when isnumeric(u_pageno)=1 then cast(u_pageno as numeric) else 0 end)
,(CASE WHEN ENTRY_TY='OS' THEN 'A' ELSE (CASE WHEN PMKEY='+' THEN 'B' ELSE 'C' END) END)
SET @MIT_CODE=-1
OPEN  RG23AP1_CURSOR
FETCH NEXT FROM RG23AP1_CURSOR INTO 
	@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@QTY,@U_LQTY,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD,@U_PAGENO,@shipto_id,@Cons_id
WHILE @@FETCH_STATUS=0
BEGIN
			
	IF @MIT_CODE=@IT_CODE
	BEGIN
		
		SET @V1=@V1+1
	END
	ELSE	
	BEGIN 
		SET @V1=0
		SET @MIT_CODE=@IT_CODE
		SET @CURRDT =@SDATE
		SET @V1=0
		SET @MOPBAL=0
		SET @MLOPBAL=0
		
		
		SELECT @MOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN QTY ELSE -QTY END),@MLOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN U_LQTY ELSE -U_LQTY END)  FROM #LSTEXC1 WHERE ((DATE<@SDATE AND ENTRY_TY<>'OS') OR (ENTRY_TY='OS')) AND IT_CODE=@MIT_CODE /*Rup 26Sep09*/
		SET @BALANCE=CASE WHEN @MOPBAL IS NOT NULL  THEN @MOPBAL ELSE 0 END
		SET @LBALANCE=CASE WHEN @MLOPBAL IS NOT NULL  THEN @MLOPBAL ELSE 0 END

		SET @OPBAL=@BALANCE
		SET @LOPBAL=@LBALANCE
		
		IF @OPBAL+@LOPBAL<>0
		BEGIN	
			INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,shipto_id,Cons_id) VALUES ('OS',@SDATE,' ',@OBACID,@IT_CODE,@OPBAL,0,0,@BALANCE,@LOPBAL,0,0,@LBALANCE,' ','+',@CHAPNO,@ITGRID,0,' ',@OBACID,@OBACID)
			SET @CURRDT=@CURRDT+1
		END		
		
	END
	
	
		
	SET @RECEIPT=0
	SET @ISSUE=0
	
	SET @LRECEIPT=0
	SET @LISSUE=0
	
	IF @PMKEY='+'
	BEGIN
		SET @RECEIPT=@QTY
		SET @LRECEIPT=@U_LQTY
	END
	IF @PMKEY='-'
	BEGIN
		SET @ISSUE=@QTY
		SET @LISSUE=@U_LQTY
	END

	IF (@DATE>=@SDATE  AND @ENTRY_TY<>'OS')
	BEGIN
		SET @V1=0
		SET @BALANCE=@BALANCE+@RECEIPT-@ISSUE
		SET @LBALANCE=@LBALANCE+@LRECEIPT-@LISSUE
		
		INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,shipto_id,Cons_id) VALUES (@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL,@LRECEIPT,@LISSUE,@LBALANCE,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD,@U_PAGENO,@shipto_id,@Cons_id)
		SET @OPBAL=@BALANCE
		SET @LOPBAL=@LBALANCE
	END
	FETCH NEXT FROM RG23AP1_CURSOR INTO 
	@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@QTY,@U_LQTY,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD,@U_PAGENO,@shipto_id,@Cons_id
END

CLOSE RG23AP1_CURSOR
DEALLOCATE RG23AP1_CURSOR
IF @V1>0
BEGIN
	SET @V1=0
	SET @MIT_CODE=@IT_CODE
	SET @CURRDT =@SDATE
	SET @V1=0
	SET @MOPBAL=0
	SET @MLOPBAL=0
		
	
	SELECT @MOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN QTY ELSE -QTY END),@MLOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN U_LQTY ELSE -U_LQTY END)  FROM #LSTEXC1 WHERE ((DATE<@SDATE AND ENTRY_TY<>'OS') OR (@ENTRY_TY='OS')) AND IT_CODE=@MIT_CODE /*Rup 26Sep09*/
	SET @BALANCE=CASE WHEN @MOPBAL IS NOT NULL  THEN @MOPBAL ELSE 0 END
	SET @LBALANCE=CASE WHEN @MLOPBAL IS NOT NULL  THEN @MLOPBAL ELSE 0 END
	SET @OPBAL=@BALANCE
	SET @LOPBAL=@LBALANCE
	
	IF @OPBAL+@LOPBAL<>0
	BEGIN	
		INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,CHAPNO,ITGRID,TRAN_CD,U_PAGENO,shipto_id,Cons_id) VALUES ('OS',@SDATE,' ',@OBACID,@MIT_CODE,@OPBAL,0,0,@BALANCE,@LOPBAL,0,0,@LBALANCE,' ','+',@MCHAPNO,@MITGRID,0,' ',@OBACID,@OBACID)
		SET @CURRDT=@CURRDT+1
	END				


END



-- Added By Sachin N. S. on 10/08/2010 for TKT-3574 -- Start
DECLARE RG23AP1_CURSOR CURSOR FOR 
select DISTINCT itref.rentry_ty,itref.itref_tran,itref.ritserial,LTRIM(RTRIM(m.u_pinvno)),LTRIM(RTRIM(m.u_pinvdt))
from #LSTEXC A
INNER JOIN ptitref itref ON (A.ENTRY_TY=itref.RENTRY_TY AND A.TRAN_CD=itref.ITREF_TRAN AND A.ITSERIAL=itref.RITSERIAL )
Left join ptitem it on (itref.entry_ty=it.entry_ty and itref.tran_cd=it.tran_cd and itref.itserial=it.itserial)
Left join ptmain m on (m.entry_ty=it.entry_ty and m.tran_cd=it.tran_cd)
ORDER BY itref.rentry_ty,itref.itref_tran,itref.ritserial

SET @MIT_CODE=-1
OPEN  RG23AP1_CURSOR
FETCH NEXT FROM RG23AP1_CURSOR INTO 
	@ENTRY_TY,@TRAN_CD,@ITSERIAL,@U_PINVNO,@U_PINVDT
WHILE @@FETCH_STATUS=0
BEGIN
	
	PRINT @U_PINVNO
	PRINT @U_PINVDT

	UPDATE #LSTEXC SET U_PINVNO = ISNULL(U_PINVNO,'')+(CASE WHEN ISNULL(U_PINVNO,'')='' THEN '' ELSE ',' END)+ISNULL(@U_PINVNO,''), 
			U_PINVDT = ISNULL(U_PINVDT,'')+(CASE WHEN ISNULL(U_PINVDT,'')='' THEN '' ELSE ',' END)+ISNULL(@U_PINVDT,'')
		WHERE ENTRY_TY = @ENTRY_TY AND TRAN_CD = @TRAN_CD AND ITSERIAL = @ITSERIAL 

	FETCH NEXT FROM RG23AP1_CURSOR INTO 
	@ENTRY_TY,@TRAN_CD,@ITSERIAL,@U_PINVNO,@U_PINVDT
END
CLOSE RG23AP1_CURSOR
DEALLOCATE RG23AP1_CURSOR
-- Added By Sachin N. S. on 10/08/2010 for TKT-3574 -- End


----Added by Shrikant S. On 11 Mar, 2010 for TKT-573 ------------Start
--select itref.rentry_ty,itref.itref_tran,itref.ritserial,m.u_pinvno,m.u_pinvdt
--Into #tmpItref from ptitref itref
--Left join stkl_vw_item it on (itref.entry_ty=it.entry_ty and itref.tran_cd=it.tran_cd and itref.itserial=it.itserial)
--Left join stkl_vw_main m on (m.entry_ty=it.entry_ty and m.tran_cd=it.tran_cd)
--Left join it_mast on (it_mast.it_code=it.it_code)
--where itref.rdate between @SDate and @Edate
--AND it_mast.it_name between @SIT and @EIT
----Added by Shrikant S. On 11 Mar, 2010 for TKT-573 ------------End

--Bug3236
Alter Table #LSTEXC Add RgNoPlace Int,NewPageNo VarChar(50)
Update #LSTEXC Set RgNoPlace = PatIndex('%[^0-9]%',U_PAGENO)
Update #LSTEXC Set NewPageNo = Case When RgNoPlace > 0 Then Left(U_PAGENO,RgNoPlace-1) Else U_PAGENO End
Update #LSTEXC Set NewPageNo = Replicate('0',50-Len(ltrim(rtrim(NewPageNo))))+ltrim(rtrim(NewPageNo))
--Bug3236


SELECT A.IT_CODE,C.IT_NAME,A.OPBAL, A.RECEIPT,A.ISSUE,A.BALANCE,A.LRECEIPT,A.LISSUE,A.LOPBAL,A.LBALANCE,A.ENTRY_TY,A.DATE,A.TRAN_CD,A.DOC_NO
,A.U_PAGENO
,PARTY_NM=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.ac_name else s.location_id end),a.shipto_id
,B.INV_SR,B.INV_NO
--,B.U_PINVNO,B.U_PINVDT, --Commented by Shrikant S. On 11 Mar, 2010 for TKT-573 
--,U_PINVNO=CASE WHEN ISNULL(T.U_PINVNO,'')<>'' THEN T.U_PINVNO ELSE B.U_PINVNO END --Changed by Shrikant S. on 11 Mar, 2010 for TKT-573 
--,U_PINVDT= CASE WHEN ISNULL(T.U_PINVDT,0)<>0 THEN T.U_PINVDT ELSE B.U_PINVDT END, --Changed by Shrikant S. on 11 Mar, 2010 for TKT-573 
,U_PINVNO=CASE WHEN ISNULL(A.U_PINVNO,'')<>'' THEN A.U_PINVNO ELSE CAST(B.U_PINVNO AS VARCHAR(200)) END --Changed by Sachin N. S. on 10/08/2010 for TKT-3574
,U_PINVDT= CASE WHEN ISNULL(A.U_PINVDT,'')<>'' THEN A.U_PINVDT ELSE CAST(B.U_PINVDT AS VARCHAR(200)) END, --Changed by Sachin N. S. on 10/08/2010 for TKT-3574
C.TYPE,C.[GROUP],C.CHAPNO,C.RATEUNIT,ADD1=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.add1 else s.add1 end)
,ADD2=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.add2 else s.add2 end)
,ADD3=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.add3 else s.add3 end)
,CITY=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.city else s.city end)
,[RANGE]=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.[range] else s.[range] end)
,DIVISION=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.DIVISION else s.DIVISION end)
,COLL=(CASE WHEN ISNULL(a.shipto_id,0)=0 then d.COLL else s.COLL end)
,E.U_ASSEAMT,E.EXAMT,E.NARR,E.U_BASDUTY,E.U_CESSPER,E.U_CESSAMT,U_EXAMT=0,E.GRO_AMT
,U_CAMT=0,U_LEXAMT=0,U_CLRATE=0,U_CRATE=0,U_MCOSTAMT=0,U_MCOSTRT=0
--It_desc field added by Birendra On 05 july 2010 for TKT - 2830
,a.shipto_id,IT_DESC=CASE WHEN Isnull(C.It_alias,'')='' THEN c.it_name ELSE c.it_alias END
,dd.MailName
FROM #LSTEXC A
LEFT JOIN STITEM E ON (A.TRAN_CD=E.TRAN_CD  AND A.ITSERIAL=E.ITSERIAL AND A.ENTRY_TY=E.ENTRY_TY)
LEFT JOIN STKL_VW_MAIN B ON (A.TRAN_CD=B.TRAN_CD AND A.ENTRY_TY=B.ENTRY_TY)
LEFT JOIN IT_MAST C ON (A.IT_CODE=C.IT_CODE)
LEFT JOIN AC_MAST D ON (A.AC_ID=D.AC_ID)
LEFT JOIN AC_MAST Dd ON (A.Cons_ID=Dd.AC_ID)
LEFT JOIN shipto s ON (S.shipto_id=A.shipto_id)
--LEFT Join #tmpItref T on (A.ENTRY_TY=T.RENTRY_TY AND A.TRAN_CD=T.ITREF_TRAN AND A.ITSERIAL=T.RITSERIAL )  ----Added by Shrikant S. On 11 Mar, 2010 for TKT-573	-- Commented By Sachin N. S. on 10/08/2010 for TKT-3574
/*ORDER BY C.IT_NAME,A.DATE 27/07/2009*/
ORDER BY C.CHAPNO,C.IT_NAME,A.DATE 
,A.NewPageNo,A.U_PAGENO		--Bug3236
--,(case when isnumeric(A.u_pageno)=1 then cast(A.u_pageno as numeric) else 0 end)	--Bug3236
,(CASE WHEN A.ENTRY_TY='A ' THEN 'A' ELSE (CASE WHEN A.ENTRY_TY='OS' THEN 'B' ELSE CASE WHEN (A.ENTRY_TY IN ('PT','AR','OP','RL','LR','SR')) THEN 'C' ELSE 'D ' END END) END) --Changed by Shrikant S. On 11 Mar, 2010 for TKT-573 
--,(CASE WHEN A.ENTRY_TY='A ' THEN 'A' ELSE (CASE WHEN A.ENTRY_TY='OS' THEN 'B' ELSE CASE WHEN (A.ENTRY_TY IN ('PT','OP','RL','LR','SR')) THEN 'C' ELSE 'D ' END END) END) --Commented by Shrikant S. On 11 Mar, 2010 for TKT-573 


DROP TABLE #LSTEXC1
DROP TABLE #LSTEXC2
DROP TABLE #LSTEXC
  
--------------------------------------------------------
--Rg23a-I (Groupwise)
set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

