If exists(Select * from sysobjects where [name]='USP_REP_DL_VATFORM56' and xtype='P')
Begin
	Drop Procedure USP_REP_DL_VATFORM56
End
go
 -- =============================================
 -- Author:	Suraj Kumawat
 -- Create date: 17/05/2016
-- EXECUTE USP_REP_DL_VATFORM56'','','','04/01/2010','03/31/2016','','','','',0,0,'','','','','','','','','2015-2016',''
-- Description: This Stored procedure is useful to generate DL VAT FORM 56
-- Modify date: 
-- Modify date:
-- =============================================
 create PROCEDURE [dbo].[USP_REP_DL_VATFORM56]
 @TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
 ,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
 ,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
 ,@SAMT FLOAT,@EAMT FLOAT
 ,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
 ,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
 ,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
 ,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
 ,@LYN VARCHAR(20)
 ,@EXPARA  AS VARCHAR(60)= null
 AS
BEGIN
 Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2),@balamt1 DECIMAL(14,2),@balamt2 DECIMAL(14,2)
 EXECUTE   USP_REP_FILTCON 
 @VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
 ,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
 ,@VSAC =@SAC,@VEAC =@EAC
 ,@VSIT=@SIT,@VEIT=@EIT
 ,@VSAMT=@SAMT,@VEAMT=@EAMT
 ,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
 ,@VSCATE =@SCATE,@VECATE =@ECATE
 ,@VSWARE =@SWARE,@VEWARE  =@EWARE
 ,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
 ,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
 ,@VDTFLD ='DATE'
 ,@VLYN=NULL
 ,@VEXPARA=@EXPARA
 ,@VFCON =@FCON OUTPUT
  DECLARE @SQLCOMMAND NVARCHAR(4000)
 DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTA2 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2),@AMTA3 NUMERIC(12,2),@AMTA4 NUMERIC(12,2)
 DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)
 ---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
,AC1.CITY,CAST('' AS VARCHAR(100)) AS RAOSNO,CAST('' AS SMALLDATETIME) AS RAODT
INTO #DLVATFORM_56
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
Set @MultiCo = 'NO'
EXECUTE USP_REP_SINGLE_CO_DATA_VAT
@TMPAC, @TMPIT, @SPLCOND, @SDATE,@EDATE
,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
,@MFCON = @MCON OUTPUT

----7. Turnover  
 select DISTINCT GRO_AMT,TAXAMT,TRAN_CD,ItSerial,BHENT ,TAX_NAME,ST_TYPE,RFORM_NM,FORM_NM,S_Tax into #Tbl_taxvatcst from vattbl where BHENT IN ('CN','DN','PT','ST','SR','PR') and ( DATE BETWEEN @SDATE AND @EDATE )
set @AMTA1 = 0
set @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN BHENT ='ST' THEN +GRO_AMT ELSE -GRO_AMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('ST','SR','CN') AND TAX_NAME LIKE '%VAT%' AND ST_TYPE IN('','LOCAL')
SELECT @AMTA2 = ISNULL(SUM(CASE WHEN BHENT ='ST' THEN +GRO_AMT ELSE -GRO_AMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('ST','SR','CN') AND ( TAX_NAME LIKE '%C.S.T.%' OR TAX_NAME LIKE '%C.S.T%' OR TAX_NAME LIKE '%C .S . T%' OR TAX_NAME LIKE '%CST%') AND ST_TYPE ='OUT OF STATE'

INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','A',0,round(@AMTA1,0),round(@AMTA2,0),(round(@AMTA1,0)+round(@AMTA2,0)),'','','')
----8. Exemptions /deductions claimed
set @AMTA1 = 0
set @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN BHENT ='ST' THEN +GRO_AMT ELSE -GRO_AMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('ST','SR','CN') AND ST_TYPE IN('','LOCAL') AND TAX_NAME LIKE '%EXEMPTED%'
SELECT @AMTA2 = ISNULL(SUM(CASE WHEN BHENT ='ST' THEN +GRO_AMT ELSE -GRO_AMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('ST','SR','CN') AND  ST_TYPE ='OUT OF STATE' AND TAX_NAME LIKE '%EXEMPTED%'
INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
			VALUES(1,'1','B',0,round(@AMTA1,0),round(@AMTA2,0),(round(@AMTA1,0)+round(@AMTA2,0)),'','','')

---9. Taxable Turnover
set @AMTA1 = 0
set @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN SRNO = 'A'  THEN +AMT1 ELSE -AMT1 END ),0)  FROM #DLVATFORM_56 WHERE SRNO IN('A','B')
SELECT @AMTA2 = ISNULL(SUM(CASE WHEN SRNO = 'A'  THEN +AMT2 ELSE -AMT2 END ),0)  FROM #DLVATFORM_56 WHERE SRNO IN('A','B')

INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','C',0,@AMTA1,@AMTA2,@AMTA1+@AMTA2,'','','')
---10. Gross Output Tax
set @AMTA1 = 0
set @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN BHENT ='ST' THEN +TAXAMT ELSE -TAXAMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('ST','SR','CN')  AND TAX_NAME LIKE '%VAT%' AND ST_TYPE IN('LOCAL','')
SELECT @AMTA2 = ISNULL(SUM(CASE WHEN BHENT ='ST' THEN +TAXAMT ELSE -TAXAMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('ST','SR','CN')  AND (TAX_NAME LIKE '%C.S.T%' OR TAX_NAME LIKE '%CST%') AND ST_TYPE ='OUT OF STATE'
INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
		VALUES(1,'1','D',0,round((@AMTA1),0),round((@AMTA2),0),(round((@AMTA1),0)+ round((@AMTA2),0)),'','','')
---11. Adjustment to Output Tax
SET @AMTA1 = 0
SELECT @AMTA1 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR') 
WHERE A.VAT_ADJ ='Adjustment to Output Tax' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
AND A.party_nm ='VAT PAYABLE'
SET @AMTA2 = 0
SELECT @AMTA2 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR')
WHERE A.VAT_ADJ ='Adjustment to Output Tax' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
AND A.party_nm ='CST PAYABLE'

INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','E',0,round(@AMTA1,0),round(@AMTA2,0),(round(@AMTA1,0)+round(@AMTA2,0)),'','','')
---12. Gross Input Tax
set @AMTA1 = 0
set @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN BHENT ='PT' THEN +TAXAMT ELSE -TAXAMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('PT','PR','DN')  AND TAX_NAME LIKE '%VAT%' AND ST_TYPE IN('LOCAL','') and s_tax <> ''
SELECT @AMTA2 = ISNULL(SUM(CASE WHEN BHENT ='PT' THEN +TAXAMT ELSE -TAXAMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('PT','PR','DN')  AND (TAX_NAME LIKE '%C.S.T%' OR TAX_NAME LIKE '%CST%') AND ST_TYPE ='OUT OF STATE'
INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','F',0,round(@AMTA1,0),round(@AMTA2,0),round(@AMTA1,0)+round(@AMTA2,0),'','','')
---13. Adjustment to Input Tax
SET @AMTA1 = 0
SELECT @AMTA1 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR') 
WHERE A.VAT_ADJ ='Adjustment to Input Tax' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
AND A.party_nm ='VAT PAYABLE'
SET @AMTA2 = 0
SELECT @AMTA2 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR')
WHERE A.VAT_ADJ ='Adjustment to Input Tax' AND ( A.DATE BETWEEN @SDATE AND @EDATE )
AND A.party_nm ='CST PAYABLE'
INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','G',0,round(@AMTA1,0),round(@AMTA2,0),round(@AMTA1,0)+round(@AMTA2,0),'','','')
---14. Tax payable
set @AMTA1 = 0
set @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN SRNO = 'F'  THEN -AMT1 ELSE +AMT1 END ),0)  FROM #DLVATFORM_56 WHERE SRNO IN('E','F','G') 
SELECT @AMTA2 = ISNULL(SUM(CASE WHEN SRNO = 'D'  THEN +AMT2 ELSE -AMT2 END ),0)  FROM #DLVATFORM_56 WHERE SRNO IN('D','G')
INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','H',0,round(@AMTA1,0),round(@AMTA2,0),round(@AMTA1,0)+round(@AMTA2,0),'','','')
---15. Tax Deposited
set @AMTA1 = 0
SELECT @AMTA1 = ISNULL(SUM(NET_AMT),0) FROM BPMAIN WHERE entry_ty ='BP' AND U_NATURE ='VAT' AND ( DATE BETWEEN @SDATE AND @EDATE ) AND party_nm ='VAT PAYABLE'
set @AMTA2 = 0
SELECT @AMTA2 = ISNULL(SUM(NET_AMT),0) FROM BPMAIN WHERE entry_ty ='BP' AND U_NATURE ='CST' AND ( DATE BETWEEN @SDATE AND @EDATE ) AND party_nm ='CST PAYABLE'

INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','I',0,round(@AMTA1,0),round(@AMTA2,0),(round(@AMTA1,0)+round(@AMTA2,0)),'','','')
---16. TDS Claimed
---VAT
set @AMTA1 = 0
SELECT @AMTA1 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR') 
WHERE A.VAT_ADJ ='TDS Claim' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
AND A.party_nm ='VAT PAYABLE'
--CST
set @AMTA2 = 0
--SELECT @AMTA2 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR') 
--WHERE A.VAT_ADJ ='TDS Claim' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
--AND A.party_nm ='CST PAYABLE'

INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','J',0,round(@AMTA1,0),round(@AMTA2,0),round(@AMTA1,0)+round(@AMTA2,0),'','','')
---17. Amount carried forward
---VAT
set @AMTA1 = 0
SELECT @AMTA1 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR') 
WHERE A.VAT_ADJ ='Amount carried forward' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
AND A.party_nm ='VAT PAYABLE'
--CST
set @AMTA2 = 0
SELECT @AMTA2 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR') 
WHERE A.VAT_ADJ ='Amount carried forward' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
AND A.party_nm ='CST PAYABLE'

INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','K',0,round(@AMTA1,0),round(@AMTA2,0),round(@AMTA1,0)+round(@AMTA2,0),'','','')
---18. Refund Claimed
---VAT
set @AMTA1 = 0
SELECT @AMTA1 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR') 
WHERE A.VAT_ADJ ='Refund Claim' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
AND A.party_nm ='VAT PAYABLE'
--CST
set @AMTA2 = 0
SELECT @AMTA2 = ISNULL(SUM(B.AMOUNT),0) FROM JVMAIN A LEFT OUTER JOIN JVACDET B ON (A.Tran_cd =B.Tran_cd AND B.amt_ty ='DR') 
WHERE A.VAT_ADJ ='Refund Claim' AND ( A.DATE BETWEEN @SDATE AND @EDATE ) 
AND A.party_nm ='CST PAYABLE'

INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','L',0,round(@AMTA1,0),round(@AMTA2,0),round(@AMTA1,0)+round(@AMTA2,0),'','','')
----19. Purchases against declaration forms
set @AMTA1 = 0
set @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN BHENT ='PT' THEN GRO_AMT ELSE -GRO_AMT END),0) FROM #Tbl_taxvatcst WHERE BHENT IN('PT','PR','DN')  AND ST_TYPE IN('','LOCAL' ) AND  FORM_NM <> ''
SELECT @AMTA2 = ISNULL(SUM(CASE WHEN BHENT ='PT' THEN GRO_AMT ELSE -GRO_AMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('PT','PR','DN') AND ST_TYPE ='OUT OF STATE' AND FORM_NM <> ''

INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','M',0,round(@AMTA1,0),round(@AMTA2,0),round(@AMTA1,0)+round(@AMTA2,0),'','','')
---20. Sales against declaration forms
set @AMTA1 = 0
set @AMTA2 = 0
SELECT @AMTA1 = ISNULL(SUM(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('ST','SR','CN') AND ST_TYPE IN('LOCAL','')  AND RFORM_NM <> ''
SELECT @AMTA2 = ISNULL(SUM(CASE WHEN BHENT ='ST' THEN GRO_AMT ELSE -GRO_AMT END),0)  FROM #Tbl_taxvatcst WHERE BHENT IN('ST','SR','CN') AND ST_TYPE ='OUT OF STATE'   AND RFORM_NM <> ''
INSERT INTO #DLVATFORM_56 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm,RAOSNO,RAODT)
				VALUES(1,'1','N',0,round(@AMTA1,0),round(@AMTA2,0),round(@AMTA1,0)+round(@AMTA2,0),'','','')
				
SELECT pART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = cast(isnull(AMT1,0) as integer), AMT2 = cast(isnull(AMT2,0)  as integer), 
					 AMT3 = cast(isnull(AMT3,0)  as integer), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'') 
					 ,CITY=isnull(CITY,''),RAOSNO=isnull(RAOSNO,''),RAODT =isnull(RAODT,'')
 from #DLVATFORM_56 order by PART,case IsNumeric(partsr) 
          WHEN 1 THEN Replicate('000', 2-Len(partsr)) + partsr +'0'
          ELSE case when len(partsr)=3 then '00' else '000' end +partsr
         END,srno
         
 END

set ANSI_NULLS OFF



