DROP PROCEDURE [USP_GET_SALES_INVOICES]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [USP_GET_SALES_INVOICES]
@Date SmallDateTime
AS
SELECT inv_no,Date,lcode.Code_nm FROM STMAIN INNER JOIN LCODE ON STMAIN.entry_ty=LCODE.Entry_ty WHERE STMAIN.ENTRY_TY='ST' and Date<=@Date
UNION ALL
SELECT inv_no,Date,lcode.Code_nm FROM SBMAIN INNER JOIN LCODE ON SBMAIN.entry_ty=LCODE.Entry_ty WHERE SBMAIN.ENTRY_TY='S1' and Date<=@Date
GO
