IF EXISTS (SELECT XTYPE, NAME FROM SYSOBJECTS WHERE XTYPE = 'P' AND NAME = 'USP_REP_HR_VAT_CHAL')
BEGIN
	DROP PROCEDURE USP_REP_HR_VAT_CHAL
END
GO
set ANSI_NULLS ON
GO
set QUOTED_IDENTIFIER ON
go

/*
EXECUTE USP_REP_HR_VAT_CHAL'','','','04/01/2010','03/31/2011','','','','',0,0,'','','','','','','','','2010-2011',''
*/
-- =============================================
-- Author:		Hetal L Patel
-- Create date: 01/06/2009
-- Description:	This Stored procedure is useful to generate HR VAT CHALLAN
-- Modified By: Dinesh
-- Modify date: 19/06/2009
-- Modified By: Gaurav R. Tanna, Bug-26300
-- Modify date: 03/06/2015

-- Remark: 
-- =============================================
create PROCEDURE [dbo].[USP_REP_HR_VAT_CHAL] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

/*
DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)

SET @SQLCOMMAND='SELECT BPMAIN.U_TR6,BPMAIN.ENTRY_TY,BPMAIN.DATE,BPMAIN.DOC_NO,BPMAIN.TRAN_CD,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'BPMAIN.CHEQ_NO,BPMAIN.U_CHQDT,BPMAIN.BANK_NM,BPACDET.AMOUNT,BPACDET.U_CLDT,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AC_MAST.AC_NAME,BPMAIN.L_YN'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM BPACDET '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN  BPMAIN ON (BPMAIN.TRAN_CD=BPACDET.TRAN_CD AND BPMAIN.ENTRY_TY=BPACDET.ENTRY_TY)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (AC_MAST.AC_ID=BPACDET.AC_ID) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.AC_NAME IN (''BALANCE WITH EXCISE PLA'',''BALANCE WITH EXCISE CESS'',''BALANCE WITH CESS SURCHARGE PLA'') '

--PRINT  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
*/
DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'BPMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		Set @MultiCo = 'YES'
--		SET @SQLCOMMAND='SELECT BPMAIN.U_TR6,BPMAIN.ENTRY_TY,BPMAIN.DATE,BPMAIN.DOC_NO,BPMAIN.TRAN_CD,'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'BPMAIN.CHEQ_NO,BPMAIN.U_CHQDT,BPMAIN.BANK_NM,BPACDET.AMOUNT,BPACDET.U_CLDT,'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AC_MAST.AC_NAME,BPMAIN.L_YN'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM BPACDET '
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN  BPMAIN ON (BPMAIN.TRAN_CD=BPACDET.TRAN_CD AND BPMAIN.ENTRY_TY=BPACDET.ENTRY_TY AND BPMAIN.DBNAME=BPACDET.DBNAME)'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (AC_MAST.AC_ID=BPACDET.AC_ID AND AC_MAST.DBNAME=BPACDET.DBNAME)'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.AC_NAME LIKE ''%VAT%'''


----		PRINT  @SQLCOMMAND
--		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		Set @MultiCo = 'NO'
		EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		 @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		,@MFCON = @MCON OUTPUT
		
		
		select A.TRAN_CD,A.AC_NAME, A.DATE, A.NET_AMT, B.U_CHALNO, B.BANK_NM FROM VATTBL A 
		INNER JOIN BPMAIN B ON (B.ENTRY_TY = A.BHENT AND B.TRAN_CD = A.TRAN_CD)
		WHERE A.BHENT = 'BP' AND (A.DATE between @SDATE and @EDATE) 

--		PRINT  @SQLCOMMAND
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
--Print 'HR VAT CHALLAN'

