DROP PROCEDURE [USP_REP_OpOrReg]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [USP_REP_OpOrReg]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
As

SELECT a.DATE,a.ENTRY_TY,a.DOC_NO,a.PARTY_NM,a.INV_NO,b.EFFECTDT,b.ITEM,b.RATE,b.QTY,b.GRO_AMT,b.ITEM_NO,i.RATEUNIT
FROM SOMAIN a
INNER JOIN SOITEM b ON (a.TRAN_CD=b.TRAN_CD)
INNER JOIN IT_MAST i ON (i.IT_CODE=b.IT_CODE) 
WHERE (a.DATE BETWEEN @sdate AND @edate) and a.ENTRY_TY='OO'
ORDER BY a.DATE,a.INV_NO
GO
