If Exists(Select [Name] from Sysobjects where xType='P' and Id=Object_Id(N'USP_REP_TN_VAT_ANNEX_II'))
Begin
	Drop Procedure USP_REP_TN_VAT_ANNEX_II
End
Go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO




/*
EXECUTE USP_REP_TN_VAT_ANNEX_II'','','','04/01/2011','03/31/2012','','','','',0,0,'','','','','','','','','2011-2012',''
*/


-- =============================================
-- Author:		Hetal L Patel
-- Create date: 01/06/2009	
-- Description:	This Stored procedure is useful to generate TN VAT FORM 01 ANNX II
-- Modify date: 08/06/2009
-- Modified By: Dinesh & Hetal
-- Modified By: Birendra on 24 july 2010 for TKT-3126
-- Modified By: ADDED INVOICE NO AND DATE BY PRASHANTHREDDY.G ON 1ST MARCH 2012 FOR BUG-2615
-- Modify date: 19/05/2015 Bug-26173 by GAURAV R.TANNA
-- Remark:
-- =============================================
CREATE Procedure [dbo].[USP_REP_TN_VAT_ANNEX_II]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS
Declare @FCON as NVARCHAR(2000),@fld_list NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='i'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @TAXABLE_AMT NUMERIC(14,2),@taxamt numeric(14,2)
set @FCON=rtrim(@FCON)
select m.entry_ty,part=1,srno1=3, it_desc=m.cate,acm.ac_name,acm.s_tax,commodity_code=space(100)-- ADDED BY PRASHANTHREDDY.G ON 1ST MARCH 2012 FOR BUG-2615
,taxable_amt=i.gro_amt+i.U_CESSAMT+i.U_HCESAMT+i.EXAMT+i.U_CVDAMT 
,taxamt=i.taxamt
,st.tax_name,st.level1,st.st_type ,m.u_imporm
,ACM.MAILNAME -- ADDED BY BIRENDRA ON 24 JULY 2010 FOR TKT-3126
into #tn_vat_Annexure
from ptitem i  
inner join ptmain m on (m.entry_ty=i.entry_ty and m.tran_cd=i.tran_cd) 
inner join ac_mast acm on (i.ac_id=acm.ac_id) 
inner join it_mast itm on (i.it_code=itm.it_code) 
inner join stax_mas st on (st.tax_name=i.tax_name)
where 1=2
declare @sqlcommand nvarchar(4000)

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		Set @MultiCo = 'YES'

		
	End
Else
	Begin	------Fetch Records from Single Co. Data
		Set @MultiCo = 'NO'

		-->Sales
		execute usp_rep_Taxable_Amount_Itemwise 'ST','i',@fld_list =@fld_list OUTPUT
		set @fld_list=rtrim(@fld_list)
		set @sqlcommand='insert into #tn_vat_Annexure select m.entry_ty,part=2,srno1=1'
		set @sqlcommand=@sqlcommand+' '+',it_desc=case when itm.vatcap=1 then ''Capital Goods'' else '''' end,acm.ac_name,acm.s_tax,itm.hsncode'
		set @sqlcommand=@sqlcommand+' '+',taxable_amt=sum(i.gro_amt'+@fld_list+')'
		set @sqlcommand=@sqlcommand+' '+',taxamt=isnull(sum(i.taxamt),0)'
		set @sqlcommand=@sqlcommand+' '+',tax_name = isnull(st.tax_name,''''),level1=ISNULL(st.level1,0.00),st_type=Isnull(st.st_type,'''') ,u_imporm=IsNull(m.u_imporm,'''')'
		SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+',ACM.MAILNAME' --ADDED BY BIRENDRA ON 24 JULY 2010 FOR TKT-3126
		set @sqlcommand=@sqlcommand+' '+'from stitem i '
		set @sqlcommand=@sqlcommand+' '+'inner join stmain m on (m.entry_ty=i.entry_ty and m.tran_cd=i.tran_cd)'
		set @sqlcommand=@sqlcommand+' '+'inner join ac_mast acm on (i.ac_id=acm.ac_id)'
		set @sqlcommand=@sqlcommand+' '+'inner join it_mast itm on (i.it_code=itm.it_code)'
		set @sqlcommand=@sqlcommand+' '+'left outer join stax_mas st on (st.tax_name=i.tax_name) And St.Entry_ty = I.Entry_Ty'
		set @sqlcommand=@sqlcommand+' '+rtrim(@fcon)
		--set @sqlcommand=@sqlcommand+' '+'and isnull(m.tax_name,'''')<>'''''
		set @sqlcommand=@sqlcommand+' '+'group by m.entry_ty,acm.ac_name,acm.mailname,acm.s_tax,itm.hsncode,st.tax_name,st.level1,st.st_type,m.u_imporm,itm.vatcap'
		set @sqlcommand=@sqlcommand+' '+'order by m.entry_ty,acm.ac_name,acm.mailname,acm.s_tax,itm.hsncode,st.tax_name,st.level1,st.st_type,m.u_imporm,itm.vatcap'
--		print @sqlcommand
		execute sp_executesql @sqlcommand
		--<--Sales
		-->Sales Return
		execute usp_rep_Taxable_Amount_Itemwise 'SR','i',@fld_list =@fld_list OUTPUT
		set @fld_list=rtrim(@fld_list)
		set @sqlcommand='insert into #tn_vat_Annexure select m.entry_ty,part=2,srno1=2'
		set @sqlcommand=@sqlcommand+' '+',it_desc=case when itm.vatcap=1 then ''Capital Goods'' else '''' end,acm.ac_name,acm.s_tax,itm.hsncode'
		set @sqlcommand=@sqlcommand+' '+',taxable_amt=sum(i.gro_amt'+@fld_list+')'
		set @sqlcommand=@sqlcommand+' '+',taxamt=isnull(sum(i.taxamt),0)'
		set @sqlcommand=@sqlcommand+' '+',tax_name = isnull(st.tax_name,''''),level1=ISNULL(st.level1,0.00),st_type=Isnull(st.st_type,'''') ,u_imporm=''SALES RETURN'''
		SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+',ACM.MAILNAME' --ADDED BY BIRENDRA ON 24 JULY 2010 FOR TKT-3126
		set @sqlcommand=@sqlcommand+' '+'from sritem i '
		set @sqlcommand=@sqlcommand+' '+'inner join srmain m on (m.entry_ty=i.entry_ty and m.tran_cd=i.tran_cd)'
		set @sqlcommand=@sqlcommand+' '+'inner join ac_mast acm on (i.ac_id=acm.ac_id)'
		set @sqlcommand=@sqlcommand+' '+'inner join it_mast itm on (i.it_code=itm.it_code)'
		set @sqlcommand=@sqlcommand+' '+'left outer join stax_mas st on (st.tax_name=i.tax_name) And St.Entry_ty = I.Entry_Ty'
		set @sqlcommand=@sqlcommand+' '+rtrim(@fcon)
		--set @sqlcommand=@sqlcommand+' '+'and isnull(m.tax_name,'''')<>'''''
		set @sqlcommand=@sqlcommand+' '+'group by m.entry_ty,acm.ac_name,acm.mailname,acm.s_tax,itm.hsncode,st.tax_name,st.level1,st.st_type,itm.vatcap'
		set @sqlcommand=@sqlcommand+' '+'order by m.entry_ty,acm.ac_name,acm.mailname,acm.s_tax,itm.hsncode,st.tax_name,st.level1,st.st_type,itm.vatcap'
--		print @sqlcommand
		execute sp_executesql @sqlcommand
		--<--Sales Return
	End

select  * from #tn_vat_Annexure order by part,srno1,LEVEL1,IT_DESC,COMMODITY_CODE
--Print 'TN VAT FORM 01 II'






