DROP PROCEDURE [Usp_Rep_IMPORT_DOC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Ajay Jaiswal		
-- Create date: 29/11/2011
-- Description:	This Stored procedure is useful to Generate data for IMAB, IMCB, IMCD, IMUB Reports.
-- Modified By: Priyanka Himane
-- Modified date: 08/12/2011
-- =============================================

Create PROCEDURE    [Usp_Rep_IMPORT_DOC]
@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)

	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		SET @TBLCON=RTRIM(@ENTRYCOND)
PRINT @ENT
PRINT @TRN

SELECT 
AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.PHONE,AC_MAST.FAX,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,AC_MAST.COUNTRY,AC_MAST.ZIP,
POMAIN.INV_NO,POMAIN.PINVNO,POMAIN.DATE,POMAIN.TRAN_CD,POMAIN.U_QTY,POMAIN.U_RATE,
'' AS U_BROKER,POMAIN.GRO_AMT AS V_GRO_AMT,EXAMT=0,U_CESSAMT=0,U_HCESAMT=0,POMAIN.TAX_NAME,
'' AS U_OCT,POMAIN.TAXAMT,POMAIN.TOT_DEDUC,POMAIN.TOT_ADD,POMAIN.TOT_TAX,POMAIN.TOT_NONTAX,POMAIN.NET_AMT,
POMAIN.U_LCINVAMT,POMAIN.U_LCINV,POMAIN.U_LCINVDT,POMAIN.U_LOGIS,POMAIN.U_BLNO,POMAIN.u_BLDT,POMAIN.U_DAYS,
POMAIN.U_DUEON,POMAIN.U_INVNO,POMAIN.U_PODT,
PO1.u_corren,--added by Priyanka on 08/12/2011
POMAIN.U_PSHIP, POMAIN.U_LSHIPDT, POMAIN.U_TRANSHIP,pomain.U_IMCDDT,pomain.U_IMCDNO,POMAIN.u_terms,
'' AS U_OTHTRM,'' AS U_PAYTERMS,'' AS U_FREINTC,pomain.U_PAYON,pomain.U_LCNO,pomain.U_LCDT,POMAIN.U_CORIGIN,POMAIN.u_mode,
MAILNAME=(CASE WHEN ISNULL(AC_MAST.MAILNAME,'')='' THEN AC_MAST.AC_NAME ELSE AC_MAST.MAILNAME END),POMAIN.U_BANK,POMAIN.U_UOM,
AC_MAST1.ADD1 AS ADD11 ,AC_MAST1.ADD2 AS ADD12 ,AC_MAST1.CITY AS CITY1 ,AC_MAST1.ZIP AS ZIP1 ,AC_MAST1.COUNTRY AS BCOUNTRY
FROM POMAIN 
INNER JOIN AC_MAST ON (POMAIN.AC_ID=AC_MAST.AC_ID)
INNER JOIN AC_MAST AC_MAST1 ON (POMAIN.U_BANK=AC_MAST1.AC_NAME)
left join POMAIN PO1 on (pomain.u_ptran_cd=po1.tran_cd)--added by Priyanka on 08/12/2011
WHERE POMAIN.ENTRY_TY='LB' and POMAIN.tran_cd=@TRN
GO
