set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER Procedure [dbo].[USP_Crystal_Balancesheet]
( @Balshettype Char(1))
As 
Declare @Balance Numeric(17,2),@Level Int,@OpDrcr CHAR(2),@CLDrcr CHAR(2)
DECLARE @OrderLevel VarChar(50),@TotalRecLine Char(1),@Tblvar Varchar(20)

Select @Balance = 0
Select @Level = 0
Select @TotalRecLine = 'N'

select @Tblvar = OBJECT_ID('Tempdb..#Curprint')
If @Tblvar <> '' And @Tblvar Is Not Null
Begin
	Drop Table #Curprint 
End

IF @Balshettype = 'H'
Begin
	SElect @TotalRecLine as TotalRecLine,@OrderLevel as LORDERLEVEL,@Level as LLevel,
	Space(1) as LMAINFLG,a.ac_Name as LAC_NAME,a.ac_Name as LGroup,@Balance as LCLBAL,
	Space(2) as LCLDRCR,@OrderLevel as RORDERLEVEL,@Level as RLevel,Space(1) as RMAINFLG,
	a.ac_Name as RAC_NAME,a.ac_Name as RGroup,@Balance as RCLBAL,Space(2) as RCLDRCR 
	Into #Curprint From ac_Group_Mast a Where 1 = 2
End

