IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_WBVATFORM15')
BEGIN
 DROP PROCEDURE USP_REP_WBVATFORM15
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:  Hetal L. Patel
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate West Bengal VAT Form-15 Report.
-- Modify date: 16/05/2007
-- Modified By: Sumit Gavate for Bug - 27038 (Majaor changes done)
-- Modify date: 28/12/2015
-- Remark:
-- =============================================
CREATE PROCEDURE [dbo].[USP_REP_WBVATFORM15]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
BEGIN
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
-- Modifyed by Sumit Start on - 22/08/2015
DECLARE @AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2)

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 
--Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)
----Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #WBVATFORM_15
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #WBVATFORM_15 add recno int identity
-- Modifyed by Sumit End on - 22/08/2015
---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,AMT4=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
INTO #WBVATFORM15
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #WBVATFORM_15 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo #WBVATFORM_15 Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='sELECT * FROM '+@MCON
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----
--1) Purchase of goods exempt from tax - From registered dealers A(Rs.)
SELECT @AMTA1 = 0,@AMTB1 = 0 ,@AMTC1 = 0
SELECT @AMTA1 = ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('PT','EP') AND (DATE BETWEEN @SDATE AND @EDATE) 
AND TAX_NAME in ('EXEMPTED','') AND S_TAX <> '' and St_Type in('LOCAL','')
-- 1) Purchase of goods exempt from tax - From other than registered dealers
SELECT @AMTB1=ISNULL(SUM(VATONAMT),0),@AMTC1 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT In('PT','EP') AND (DATE BETWEEN @SDATE AND @EDATE) 
AND TAX_NAME in ('EXEMPTED','') AND S_TAX = '' and St_Type in('LOCAL','')
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'1','A',0,@AMTA1,@AMTB1,@AMTC1,'')

--2) Purchase of of taxable good See note 1
SELECT @AMTA1 = 0,@AMTB1 = 0 ,@AMTC1 = 0
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('PT','EP') AND (DATE BETWEEN @SDATE AND @EDATE) 
AND TAX_NAME not in ('EXEMPTED','') AND S_TAX <> '' and St_Type in('LOCAL','') and Tax_name like '%VAT%'
-- 2) Purchase of goods exempt from tax - From other than registered dealers
SELECT @AMTB1=ISNULL(SUM(VATONAMT),0),@AMTC1 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT In('PT','EP') AND (DATE BETWEEN @SDATE AND @EDATE) 
AND TAX_NAME not in ('EXEMPTED','') AND S_TAX = '' and St_Type in('LOCAL','') and Tax_name like '%VAT%'
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'1','B',0,@AMTA1,@AMTB1,@AMTC1,'')

--3) Total
SELECT @AMTA1 = 0,@AMTB1 = 0 ,@AMTC1 = 0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0),@AMTB1 = ISNULL(SUM(AMT2),0),@AMTC1 = ISNULL(SUM(AMT3),0) from #WBVATFORM15 WHERE PARTSR = '1'
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'1','C',0,@AMTA1,@AMTB1,@AMTC1,'')

--4) Aggregate of sales price(excluding VAT)
SELECT @AMTA1 = 0,@AMTB1 = 0 ,@AMTC1 = 0
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE) and St_Type in('LOCAL','')
SET @AMTC1 = @AMTA1
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','A',0,@AMTA1,0,0,'')

--5) Sale price of goods on which tax has been paid on MRP u/s 14(4) at the time of purchase or on an earlier occasion [Sec 2(55)(a)]
SELECT @AMTA1 = 0,@AMTD1 = 0
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%VAT%'
AND St_Type in('LOCAL','')
SET @AMTD1 = @AMTA1
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','B',0,@AMTA1,0,0,'')

--6) Sales *return /rejection within six months from the date of sale[Sec. 2(55) 9b]
SELECT @AMTA1 = 0,@AMTE1 = 0
--SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('SR') AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%VAT%'
SELECT @AMTA1 = ISNULL(SUM(A.VATONAMT),0) from VATTBL A INNER JOIN SRITREF SRI on (A.BHENT = SRI.entry_ty AND A.TRAN_CD = SRI.Tran_cd
AND A.It_code = SRI.It_Code AND A.ItSerial = SRI.Itserial) WHERE A.BHENT In('SR') AND SRI.date BETWEEN SRI.RDate AND DateAdd(month,6,SRI.RDate)
AND A.Tax_name like '%VAT%' AND (SRI.date BETWEEN @SDATE AND @EDATE) AND SRI.rentry_ty = 'ST' and A.St_Type in('LOCAL','')
SET @AMTE1 = @AMTA1
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','C',0,@AMTA1,0,0,'')

--7) Turnover of sales (4-5-6)
SELECT @AMTA1 = 0,@AMTB1 = 0
SELECT @AMTA1 = (@AMTC1 - @AMTD1) - @AMTE1
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','D',0,@AMTA1,0,0,'')
SET @AMTB1 = @AMTA1

--8) Taxable under section 16(3) @ 0.25 per centum on 07 [For resellers only]
SELECT @AMTA1 = 0,@AMTC1 = 0
set @AMTA1 = (@AMTB1 * 0.25) / 100
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','E',0,@AMTA1,0,0,'')
SET @AMTC1 = @AMTA1

--9) Deduction u/s 16(1)
SELECT @AMTA1 = 0,@AMTD1 = 0
SELECT @AMTA1 = ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE) AND U_IMPORM = 'Under Section 16(1)'
AND St_Type in('LOCAL','')
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','F',0,@AMTA1,0,0,'')
SET @AMTD1 = @AMTA1

--9) (a) Sales of tax free goods u/s 21
SELECT @AMTA1 = 0,@AMTE1 = 0
SELECT @AMTA1 = ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('ST') AND St_Type in('LOCAL','') AND 
(DATE BETWEEN @SDATE AND @EDATE) AND U_IMPORM = 'Sales of tax free goods u/s 21'
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','G',0,@AMTA1,0,0,'')
SET @AMTE1 = @AMTA1

--9) (b) Sales with in the meaning of * section 3/section 5 of the C.S.T Act,1956
SELECT @AMTA1 = 0,@AMTF1 = 0
SELECT @AMTA1 = ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('ST') AND St_Type in('LOCAL','') AND 
(DATE BETWEEN @SDATE AND @EDATE) AND U_IMPORM = 'Sales of u/s 3 or u/s 5'
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','H',0,@AMTA1,0,0,'')
SET @AMTF1 = @AMTA1

--9) (c) Sales which are zero-rated u/s 21A(1)
SELECT @AMTA1 = 0,@AMTG1 = 0
SELECT @AMTA1 = ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('ST') AND St_Type in('LOCAL','') AND 
(DATE BETWEEN @SDATE AND @EDATE) AND U_IMPORM = 'Sales of zero or u/s 21A(1)'
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','I',0,@AMTA1,0,0,'')
SET @AMTG1 = @AMTA1

--9) (d) #Other sales u/s 16(1)(c) read with rule
SELECT @AMTA1 = 0,@AMTH1 = 0
SELECT @AMTA1 = ISNULL(SUM(VATONAMT),0) from VATTBL WHERE BHENT In('ST') AND St_Type in('LOCAL','') AND 
(DATE BETWEEN @SDATE AND @EDATE) AND U_IMPORM = 'Other sales u/s 16(1)(c)'
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','J',0,@AMTA1,0,0,'')
SET @AMTH1 = @AMTA1

--10) Turnover of sales after deduction (07-09)
SELECT @AMTA1 = 0
SET @AMTA1 = @AMTB1
SET @AMTA1 = (@AMTA1 - @AMTD1)
SET @AMTA1 = (@AMTA1 - @AMTE1) - @AMTF1
SET @AMTA1 = (@AMTA1 - @AMTG1) - @AMTH1
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','K',0,@AMTA1,0,0,'')

--11) Tax payable *u/s 16(3A) @ four per centum on u/s 16(3B) @ two per centum on 10
--   (excluding that part of the turnover of sales on which tax is payable at any other rate)
SELECT @AMTA1 = 0
SELECT @AMTA1 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT = 'ST' AND St_Type in('LOCAL','') AND U_IMPORM in ('u/s 16(3A)','u/s 16(3B)') 
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','L',0,@AMTA1,0,0,'')

-- 12) Tax payable at any other rate, if any [applicable rate.......................] See note 2
SELECT @AMTA1 = 0
SELECT @AMTA1 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT = 'ST' AND St_Type in('LOCAL','') AND PER > 0 and U_IMPORM in ('u/s 18(4)','Under Section 18(4)')
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','M',0,@AMTA1,0,0,'')

--13) Contractual transder price (excluding VAT) See note 3
SELECT @AMTA1=0,@AMTA2=0
--SELECT @AMTA1 = ISNULL(SUM(A.VATONAMT),0),@AMTA2 = ISNULL(SUM(A.TAXAMT),0) FROM VATTBL A 
--WHERE A.BHENT = 'ST' AND (A.DATE BETWEEN @SDATE AND @EDATE) AND rtrim(ltrim(A.U_IMPORM)) in ('Branch Transfer','Consignment Transfer')
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','N',0,@AMTA1,@AMTA2,0,'')

--14) Number of tax invoices raised for works contact during the period
SELECT @AMTA1 = 0
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','O',0,@AMTA1,0,0,'')

--15) Tax payable under section 18(4) @ two per centum on 13
SELECT @AMTA1 = 0
--SELECT @AMTA1 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT = 'ST' AND U_IMPORM in ('u/s 18(4)') 
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'2','P',0,@AMTA1,0,0,'')
---Part 2 ( Section C [3] )
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','A',0,0,0,0,'')
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','B',0,0,0,0,'')
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'3','C',0,0,0,0,'')

--part 3 ( Section D [10(a)] )
--16 ) (a) Output tax Month-wise break-up of (3c+*+11+12+15)
DECLARE @AMTA3 NUMERIC(12,2),@AMTA4 NUMERIC(12,2),@AMTA5 NUMERIC(12,2),
		@AMTA6 NUMERIC(12,2),@AMTA7 NUMERIC(12,2),@AMTA8 NUMERIC(12,2), @AMTA9 NUMERIC(12,2)
SELECT @AMTA6 = 0,@AMTA7 = 0,@AMTA8 = 0,@AMTA9 = 0
DECLARE @Count1 INT,@Month INT,@Year INT
SELECT @Count1 = 0,@Month = 0,@Year = 0
WHILE (@Count1 < 3)
BEGIN
	SELECT @AMTA1 = 0 ,@AMTA2 = 0,@AMTA3 = 0,@AMTA4 = 0,@AMTA5 = 0
	SET @Month = (CASE WHEN (MONTH(@SDATE) + @Count1) = 13 THEN 1 WHEN MONTH(@SDATE) + @Count1 = 14 THEN 2 WHEN MONTH(@SDATE) + @Count1 = 15 THEN 3 ELSE MONTH(@SDATE) + @Count1 END) 
	SET @Year  = (CASE WHEN (MONTH(@SDATE) + @Count1) > 12 THEN YEAR(@SDATE) + 1 ELSE YEAR(@SDATE) END)
	
	SELECT @AMTA1 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT In('PT','EP') AND (DATE BETWEEN @SDATE AND @EDATE) 
	AND TAX_NAME in ('EXEMPTED','') AND S_TAX = '' and St_Type in('LOCAL','') AND MONTH(DATE) = @Month AND YEAR(DATE) = @Year

	SELECT @AMTA2 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT In('PT','EP') AND (DATE BETWEEN @SDATE AND @EDATE) 
	AND TAX_NAME not in ('EXEMPTED','') AND S_TAX = '' and St_Type in('LOCAL','') AND MONTH(DATE) = @Month AND YEAR(DATE) = @Year

	SELECT @AMTA3 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT = 'ST' AND U_IMPORM in ('u/s 16(3A)','u/s 16(3B)') AND St_Type in('LOCAL','')
	AND MONTH(DATE) = @Month AND YEAR(DATE) = @Year

	SELECT @AMTA4 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT = 'ST' AND PER > 0 and U_IMPORM in ('u/s 18(4)','Under Section 18(4)')
	AND St_Type in('LOCAL','') AND MONTH(DATE) = @Month AND YEAR(DATE) = @Year

	SELECT @AMTA5 = 0
	--SELECT @AMTA5 = ISNULL(SUM(TAXAMT),0) from VATTBL WHERE BHENT = 'ST' AND U_IMPORM in ('u/s 18(4)')
	--AND MONTH(DATE) = @Month AND YEAR(DATE) = @Year

	SET @AMTA1 = @AMTA1 + @AMTA2 + @AMTA3 + @AMTA4 + @AMTA5
	
	SET @AMTA6 = (CASE WHEN @Count1 = 0 THEN ISNULL(@AMTA1,0) ELSE @AMTA6 END)
	SET @AMTA7 = (CASE WHEN @Count1 = 1 THEN ISNULL(@AMTA1,0) ELSE @AMTA7 END)
	SET @AMTA8 = (CASE WHEN @Count1 = 2 THEN ISNULL(@AMTA1,0) ELSE @AMTA8 END)
	SET @Count1 = @Count1 + 1
 END
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','AA',0,@AMTA6,@AMTA7,@AMTA8,'')

--16 ) (b) Amount charger in *short /excess, if any
SELECT @AMTA1=0,@AMTA2=0,@AMTA3=0
DECLARE @Month0 INT,@Year0 INT,@Month1 INT,@Year1 INT,@Month2 INT,@Year2 INT
SELECT @Month0 = 0,@Year0 = 0,@Month1 = 0,@Year1 = 0,@Month2 = 0,@Year2 = 0
SET @Month0 = MONTH(@SDATE)
SET @Year0 = YEAR(@SDATE)
SET @Month1 = (CASE WHEN (MONTH(@SDATE) + 1) = 13 THEN 1 ELSE MONTH(@SDATE) + 1 END)
SET @Year1  = (CASE WHEN (MONTH(@SDATE) + 1) > 12 THEN YEAR(@SDATE) + 1 ELSE YEAR(@SDATE) END)
SET @Month2 = (CASE WHEN (MONTH(@SDATE) + 2) = 14 THEN 2 ELSE MONTH(@SDATE) + 2 END)
SET @Year2  = (CASE WHEN (MONTH(@SDATE) + 2) > 12 THEN YEAR(@SDATE) + 1 ELSE YEAR(@SDATE) END)

SELECT @AMTA1 = ISNULL(SUM(TAXAMT),0) FROM VATTBL
WHERE BHENT IN ('DN','CN') AND U_IMPORM IN('Escalation','De Escalation') AND St_Type in('LOCAL','') AND (MONTH(DATE)= @Month0) AND YEAR(DATE) = @Year0

SELECT @AMTA2 = ISNULL(SUM(TAXAMT),0) FROM VATTBL
WHERE BHENT IN ('DN','CN') AND U_IMPORM IN('Escalation','De Escalation') AND St_Type in('LOCAL','') AND (MONTH(DATE)= @Month1) AND YEAR(DATE) = @Year1

SELECT @AMTA3 = ISNULL(SUM(TAXAMT),0) FROM VATTBL
WHERE BHENT IN ('DN','CN') AND U_IMPORM IN('Escalation','De Escalation') AND St_Type in('LOCAL','') AND (MONTH(DATE)= @Month2) AND YEAR(DATE) = @Year2
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','AB',0,@AMTA1,@AMTA2,@AMTA3,'')

--16 ) (c) Total output tax [16(a) +16(b)]
SELECT @AMTA1 = 0,@AMTA2 = 0,@AMTA3 = 0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0),@AMTA2 = ISNULL(SUM(AMT2),0),@AMTA3 = ISNULL(SUM(AMT3),0) 
FROM #WBVATFORM15 WHERE PART = 1 AND PARTSR = '4'
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'4','AC',0,@AMTA1,@AMTA2,@AMTA3,'')

--17) (a) Tax deducted at source
SELECT @AMTA1 = ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname FROM VATTBL A 
INNER JOIN BPMAIN C ON A.TRAN_cD=C.TRAN_cD and A.BHENT = C.entry_ty WHERE A.St_Type in('LOCAL','') AND (A.BHENT='B3') AND C.PARTY_NM  LIKE  'TDS%'
AND  (MONTH(C.DATE)= @Month0 AND YEAR(C.DATE) = @Year0))B

SELECT @AMTA2 = ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname FROM VATTBL A 
INNER JOIN BPMAIN C ON A.TRAN_cD=C.TRAN_cD and A.BHENT = C.entry_ty WHERE A.St_Type in('LOCAL','') AND (A.BHENT='B3') AND C.PARTY_NM  LIKE  'TDS%'
AND  (MONTH(C.DATE)= @Month1 AND YEAR(C.DATE) = @Year1))B

SELECT @AMTA3 = ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname FROM VATTBL A 
INNER JOIN BPMAIN C ON A.TRAN_cD=C.TRAN_cD and A.BHENT = C.entry_ty WHERE A.St_Type in('LOCAL','') AND (A.BHENT='B3') AND C.PARTY_NM  LIKE  'TDS%'
AND  (MONTH(C.DATE)= @Month2 AND YEAR(C.DATE) = @Year2))B
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','BA',0,@AMTA1,@AMTA2,@AMTA3,'')

--17) (b) Tax paid, in the appropriate Govt. Treasury, other than 17(a)
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.PARTY_NM  NOT LIKE  '%TDS%'
AND (C.PARTY_NM LIKE '%VAT%') AND  (MONTH(a.DATE)= @Month0 AND YEAR(a.DATE) = @Year0))B 

SELECT @AMTA2=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.PARTY_NM  NOT LIKE  '%TDS%'
AND (C.PARTY_NM LIKE '%VAT%') AND MONTH(a.DATE)= @Month1 AND YEAR(a.DATE) = @Year1) B 

SELECT @AMTA3=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.PARTY_NM NOT LIKE  '%TDS%'
AND (C.PARTY_NM LIKE '%VAT%') AND MONTH(a.DATE)= @Month2 AND YEAR(a.DATE) = @Year2) B 
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','BB',0,@AMTA1,@AMTA2,@AMTA3,'')

--17) (c) Tax paid in excess in earlier period , now adjusted [rules 40(2A)]
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname e FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.U_NATURE ='Tax Paid in Excess'   
AND (C.PARTY_NM LIKE '%VAT%') AND (MONTH(a.DATE)= @Month0 AND YEAR(a.DATE) = @Year0))B 

SELECT @AMTA2=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.U_NATURE ='Tax Paid in Excess' 
AND (C.PARTY_NM LIKE '%VAT%') AND MONTH(a.DATE)= @Month1 AND YEAR(a.DATE) = @Year1) B 

SELECT @AMTA3=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.U_NATURE='Tax Paid in Excess'  
AND (C.PARTY_NM LIKE '%VAT%') AND MONTH(a.DATE)= @Month2 AND YEAR(a.DATE) = @Year2) B 
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','BC',0,@AMTA1,@AMTA2,@AMTA3,'')

--18) Actual tax payable [16(c)-17(a)-17(b)-17(c)] Negative amount will be excess amount
SELECT @AMTA1=0,@AMTA2=0,@AMTA3=0,@AMTA4=0,@AMTA5=0,@AMTA6=0,@AMTA7=0,@AMTA8=0,@AMTA9=0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0),@AMTA2 = ISNULL(SUM(AMT2),0),@AMTA3 = ISNULL(SUM(AMT3),0) 
FROM #WBVATFORM15 WHERE PARTSR = '4' and SRNO In ('AC')
SELECT @AMTA4 = ISNULL(SUM(AMT1),0),@AMTA5 = ISNULL(SUM(AMT2),0),@AMTA6 = ISNULL(SUM(AMT3),0) 
FROM #WBVATFORM15 WHERE PARTSR = '4' and SRNO In ('BA','BB','BC')
SET @AMTA7 = ISNULL(@AMTA1-@AMTA4,0)
SET @AMTA8 = ISNULL(@AMTA2-@AMTA5,0)
SET @AMTA9 = ISNULL(@AMTA3-@AMTA6,0)
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','C',0,@AMTA7,@AMTA8,@AMTA9,'')

--19) (a) Interest payable , if any , u/s 33
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname e FROM VATTBL A 
INNER JOIN JVMAIN C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='J4') AND C.VAT_ADJ ='Interest Payable Under Column 33'   
AND  (MONTH(a.DATE)=@Month0 AND YEAR(a.DATE) = @Year0))B 

SELECT @AMTA2=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN JVMAIN C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='J4') AND C.VAT_ADJ ='Interest Payable Under Column 33' 
AND MONTH(a.DATE)= @Month1 AND YEAR(a.DATE) = @Year1) B 

SELECT @AMTA3=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN JVMAIN C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='J4') AND C.VAT_ADJ='Interest Payable Under Column 33'
AND MONTH(a.DATE)= @Month2 AND YEAR(a.DATE) = @Year2) B 
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','DA',0,@AMTA1,@AMTA2,@AMTA3,'')

--19) (b) Interest paid in appropriate Govt. treasury
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname e FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.U_NATURE ='INTEREST' AND C.PARTY_NM  NOT LIKE  '%TDS%'
AND (C.PARTY_NM LIKE '%VAT%') AND (MONTH(a.DATE)=@Month0 AND YEAR(a.DATE) = @Year0))B 

SELECT @AMTA2=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.U_NATURE ='INTEREST' AND C.PARTY_NM  NOT LIKE  '%TDS%'
AND (C.PARTY_NM LIKE '%VAT%') AND MONTH(a.DATE)= @Month1 AND YEAR(a.DATE) = @Year1) B 

SELECT @AMTA3=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname  FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.U_NATURE ='INTEREST' AND C.PARTY_NM  NOT LIKE  '%TDS%'
AND (C.PARTY_NM LIKE '%VAT%') AND  MONTH(a.DATE)= @Month2 AND YEAR(a.DATE) = @Year2) B 
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','DB',0,@AMTA1,@AMTA2,@AMTA3,'')  

--19) (c)Interest * payable/paid in excess [*19(a)-19 (b) / 19(b)-19(a) ]
SELECT @AMTA1=0,@AMTA2=0,@AMTA3=0,@AMTA4=0,@AMTA5=0,@AMTA6=0,@AMTA7=0,@AMTA8=0,@AMTA9=0
SELECT @AMTA1 = ISNULL(SUM(AMT1),0),@AMTA2 = ISNULL(SUM(AMT2),0),@AMTA3 = ISNULL(SUM(AMT3),0) 
FROM #WBVATFORM15 WHERE PARTSR = '4' and SRNO In ('DA')
SELECT @AMTA4 = ISNULL(SUM(AMT1),0),@AMTA5 = ISNULL(SUM(AMT2),0),@AMTA6 = ISNULL(SUM(AMT3),0) 
FROM #WBVATFORM15 WHERE PARTSR = '4' and SRNO In ('DB')
SET @AMTA7 = ISNULL((@AMTA1-@AMTA4)/nullif ((@AMTA4-@AMTA1),0),0)
SET @AMTA8 = ISNULL((@AMTA2-@AMTA5)/nullif((@AMTA5-@AMTA2),0),0)
SET @AMTA9 = ISNULL((@AMTA3-@AMTA6)/nullif((@AMTA6-@AMTA3),0),0)
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'4','DC',0,@AMTA7,@AMTA8,@AMTA9,'') 

--20) Late Fees Payable
SET @AMTA1 = 0
SELECT @AMTA1=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname e FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='J4') AND C.VAT_ADJ ='Late Fees Payable')B

--20) Late Fees Paid
SET @AMTA2 = 0
SELECT @AMTA2=ISNULL(SUM(VATONAMT),0) FROM (select distinct A.tran_cd,A.bhent,A.VATONAMT,dbname e FROM VATTBL A 
INNER JOIN VATMAIN_VW C ON A.TRAN_cD=C.TRAN_cD WHERE A.St_Type in('LOCAL','') AND (A.BHENT='BP') AND C.U_NATURE ='Late Fees')B
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','A',0,@AMTA1,@AMTA2,0,'')
--part 4 ( Section D [10(b)] )
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'5','A',0,0,0,0,'')
--SELECT @AMTA1=ROUND(SUM(TAXAMT),0) from VATTBL WHERE BHENT In('PT') AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%VAT%' AND S_TAX<>''
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'5','B',0,@AMTA1,0,0,'')
--SET @AMTA1=0
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'5','C',0,0,0,0,'')

----part 5 ( Section E )
--SELECT @AMTA1=ROUND(SUM(TAXAMT),0) from VATTBL WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%VAT%'
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','A',0,@AMTA1,0,0,'')
--SET @AMTA1=0

--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','B',0,0,0,0,'')

--SELECT @AMTA1=ROUND(SUM(NET_AMT),0) from VATTBL WHERE BHENT In('BP') AND (DATE BETWEEN @SDATE AND @EDATE) and AC_name like '%VAT%'
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','C',0,@AMTA1,0,0,'')
--SET @AMTA1=0

--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','D',0,0,0,0,'')

--SELECT @AMTA1=ROUND(SUM(TAXAMT),0) from VATTBL WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%VAT%'
--SELECT @AMTB1=ROUND(SUM(NET_AMT),0) from VATTBL WHERE BHENT In('BP') AND (DATE BETWEEN @SDATE AND @EDATE) and AC_name like '%VAT%'
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--SET @AMTB1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTB1 END
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','E',0,@AMTA1-@AMTB1,0,0,'')
--part 6 ( 36 Payment Details)
--INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES (1,'6','A',0,0,0,0,'')

Declare @TAXONAMT as numeric(12,2),@TAXONAMT1 as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(10),@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(30),@S_TAX as varchar(30),@QTY as numeric(18,4)
SELECT @TAXONAMT=0,@TAXONAMT1=0,@TAXAMT =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',@QTY=0
declare @CHAR int
SET @CHAR=65
SET @PER = 0
declare Cur_VatPay cursor  for
select A.Vatonamt,A.Gro_amt,A.taxamt,A.INV_NO,B.Date,B.Bank_nm as PARTY_NM,Address=AC.S_Tax,
Form_nm = substring(datename(month,B.date),1,3)+' '+CAST(year(B.Date) AS VARCHAR(10)),S_Tax = B.U_Nature
from VATTBL A
Inner join Bpmain B on (A.Bhent = B.Entry_ty and A.Tran_cd = B.Tran_cd)
INNER JOIN AC_MAST AC ON (AC.ac_name=B.Bank_nm)
where A.St_Type in('LOCAL','') AND A.BHENT = 'BP' And B.Date Between @sdate and @edate and B.Party_nm like '%VAT%'
open Cur_VatPay
FETCH NEXT FROM Cur_VatPay INTO @TAXONAMT,@ITEMAMT,@TAXAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX
	WHILE (@@FETCH_STATUS=0)
	BEGIN
	SET @TAXONAMT1 = @TAXONAMT
	SET @TAXONAMT = CASE WHEN @S_TAX LIKE '%LATE FEES%' THEN ISNULL(@TAXONAMT,0) ELSE 0 END
	SET @ITEMAMT  = CASE WHEN @S_TAX LIKE '%Interest%'  THEN ISNULL(@ITEMAMT,0)  ELSE 0 END
	SET @TAXAMT   = CASE WHEN @TAXAMT = @TAXONAMT1 THEN 0 ELSE @TAXAMT END
	SET @TAXAMT   = CASE WHEN @TAXAMT = 0 THEN CASE WHEN @S_TAX NOT IN ('LATE FEES','Interest') THEN ISNULL(@TAXONAMT1,0) ELSE 0 END  ELSE @TAXAMT END
	
	INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX) 
	VALUES (1,'7',CHAR(@CHAR),ISNULL(@PER,0),ISNULL(@TAXONAMT,0),ISNULL(@TAXAMT,0),ISNULL(@ITEMAMT,0),ISNULL(@TAXONAMT1,0),ISNULL(@INV_NO,''),
			ISNULL(@DATE,''),ISNULL(@PARTY_NM,''),ISNULL(@ADDRESS,''),ISNULL(@FORM_NM,''),ISNULL(@S_TAX,''))

	SET @CHAR=@CHAR+1
	FETCH NEXT FROM Cur_VatPay INTO @TAXONAMT,@ITEMAMT,@TAXAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX--,@ITEM,@QTY
END
CLOSE Cur_VatPay
DEALLOCATE Cur_VatPay

IF NOT EXISTS(SELECT DISTINCT PARTSR FROM #WBVATFORM15 WHERE PARTSR = '7')
BEGIN
	INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX) 
	VALUES (1,'7','A',0,0,0,0,0,'','','','','','')	
END

SET @CHAR=65
SET @PER = 0
set @TAXONAMT = 0
declare @Count int
set @Count = 1

SELECT @CHAR=65,@PER = 0
declare Cur_VatPay cursor  for
select distinct  top 3 taxamt=a.taxamt,TAXONAMT=0,a.per,gro_amt=0,inv_no=0,date='',c.it_name,address='',form_nm='',s_tax=''
FROM VATTBL A 
INNER JOIN IT_MAST C ON (c.IT_CODE=A.IT_CODE)
WHERE A.St_Type in('LOCAL','') AND (A.BHENT='ST') and  a.per <>0 AND a.taxamt > 0 And (a.Date Between @sdate and @edate)
AND A.Tax_name LIKE '%VAT%'
group by c.it_name,a.taxamt,a.per
order by  a.taxamt desc
open Cur_VatPay
FETCH NEXT FROM Cur_VatPay INTO @TAXONAMT,@TAXAMT,@PER,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX
 WHILE (@@FETCH_STATUS=0)
 BEGIN
	INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX)
	VALUES (1,'8',CHAR(@CHAR),ISNULL(@PER,0),ISNULL(@TAXAMT,0),ISNULL(@TAXONAMT,0),ISNULL(@ITEMAMT,0),ISNULL(@INV_NO,''),
			ISNULL(@DATE,''),ISNULL(@PARTY_NM,''),ISNULL(@ADDRESS,''),ISNULL(@FORM_NM,''),ISNULL(@S_TAX,''))

 SET @CHAR=@CHAR+1
 FETCH NEXT FROM CUR_VatPay INTO @TAXONAMT,@TAXAMT,@PER,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX
END
CLOSE CUR_VatPay
DEALLOCATE CUR_VatPay

DECLARE @CNT NUMERIC (4,0)
SET @CNT = 0
SELECT @CNT=COUNT(PARTSR) FROM #WBVATFORM15 WHERE PARTSR = '8'
IF @CNT = 0
 BEGIN
  	INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,PARTY_NM) VALUES  (1,'8','A',0,0,0,0,'') 
 END

--declare CUR_VatPay1 cursor  for

--select distinct  top 3 PER=a.per,TAXONAMT=0,taxamt=sum(a.taxamt),gro_amt=0,inv_no=0,date='',
--c.eit_name,address='',form_nm='',s_tax='' FROM VATTBL A 
--INNER JOIN IT_MAST C ON (c.IT_CODE=A.IT_CODE)
--WHERE (A.BHENT='ST')And (a.Date Between @sdate and @edate) and  a.per <>0 and c.eit_name<>'' AND a.taxamt > 0
--group by c.eit_name,a.per
--order by  a.per desc
--open CUR_VatPay1
--FETCH NEXT FROM Cur_VatPay1 INTO @PER,@TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX
-- WHILE (@@FETCH_STATUS=0)
-- BEGIN	
--	INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX)
--	VALUES (1,'8',CHAR(@CHAR),ISNULL(@PER,0),ISNULL(@TAXONAMT,0),ISNULL(@TAXAMT,0),ISNULL(@ITEMAMT,0),
--	ISNULL(@INV_NO,''),ISNULL(@DATE,''),ISNULL(@PARTY_NM,''),ISNULL(@ADDRESS,''),ISNULL(@FORM_NM,''),ISNULL(@S_TAX,''))
-- SET @CHAR=@CHAR+1
-- FETCH NEXT FROM CUR_VatPay1 INTO @PER,@TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX
--END
--CLOSE CUR_VatPay1
--DEALLOCATE CUR_VatPay1
----Sumit Change Start for 21 and 22 record if not Exits
--DECLARE @CNT NUMERIC (4,0)
--SET @CNT = 0

--SELECT @CNT=COUNT(PARTSR) FROM #WBVATFORM15 WHERE PARTSR = '8'
--IF @CNT = 0
-- BEGIN
--  	INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX)
--	VALUES (1,'8','',0,0,0,0,'','','','','','')
-- END
 
INSERT INTO #WBVATFORM15 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX)
VALUES (1,'9','',0,0,0,0,'','','','','','')


Update #WBVATFORM15 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0),AMT4 = isnull(AMT4,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),


SELECT * FROM #WBVATFORM15 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
--SELECT * FROM #FORMVAT200C_1 --order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)

END
----Print 'WB VAT FORM 15'
--Go
-------
--Print 'WB STORED PROCEDURE UPDATION COMPLETED'
--GO