If Exists(Select [name] From SysObjects Where xType='P' and [Name]='Usp_Rep_ServiceTax_Available_Accrual')
Begin
	Drop Procedure Usp_Rep_ServiceTax_Available_Accrual
End
Go



-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 30/05/2011
-- Description:	This Stored procedure is useful to generate Accrual Basis Service Tax Available Report.
-- Modification Date/By/Reason: 25/08/2011 Rup. TKT-8658 GTA.
-- Remark:
/*
Modification By : Vasant
Modification On : 25-02-2013
Bug Details		: Bug-6092 ( Required "Service Tax REVERSE CHARGE MECHANISM" in our Default Products.)
Search for		: BUG6092
*/
-- Modification Date/By/Reason: Pankaj B. on 07-01-2015 for Bug-24957(Functionality not available for Credit Note / Debit Note under Service Tax Module)
--Modification By : Ruchit (Bug-26746)
--Modification On : 28-08-2015 for BUG-26746

-- Modification Date/By/Reason: Shrikant S. on 01-06-2016 for Bug-28132(Krishi Kalyan Cess)
-- =============================================

create procedure [dbo].[Usp_Rep_ServiceTax_Available_Accrual]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Begin
	Declare @FCON as NVARCHAR(2000),@SQLCOMMAND as NVARCHAR(4000)
	
	select m.entry_ty,m.tran_cd,m.date,m.inv_no,acl.serty,rdate=m.date 
	,a.ac_name,a.add1,a.add2,a.add3,a.SREGN,m.net_amt ,taxable_amt=sTaxable,SerBAmt=acl.SerBAmt,SerCAmt=acl.SerCAmt,SerHAmt=acl.SerHAmt 
	,acl.skkcamt			--added by Shrikant S. on 23/05/2016 for Bug-28132
	into #serpay
	from AcdetAlloc acl inner join SerTaxMain_vw m on (acl.entry_ty=m.entry_ty and acl.tran_cd=m.tran_cd) 
	inner join ac_mast a on (m.ac_id=a.ac_id)   
	WHERE 1=2

	
	EXECUTE USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='m',@VITFILE=Null,@VACFILE='AC'
	,@VDTFLD ='DATE'
	,@VLYN=Null
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT
	
	select ColId = IDENTITY(INT,1,1),m.date,m.entry_ty,m.tran_cd,acl.Serty		--BUG6092					
	,Amount=sum(acl.Amount),sTaxable=sum(acl.sTaxable),SerBAmt=sum(acl.SerBAmt),SerCAmt=sum(acl.SerCAmt),SerHAmt=sum(acl.SerHAmt)	
	,oSerBAmt=sum(acl.SerRBAmt),oSerCAmt=sum(acl.SerRCAmt),oSerHAmt=sum(acl.SerRHAmt)	--BUG6092
	,skkCamt=SUM(acl.skkcamt),oskkcamt=SUM(acl.skkrcamt)		--Added by Shrikant S. on 23/05/2016 for Bug-28132
	into #acl1
	from acdetalloc acl 
	inner join SerTaxMain_vw m on (acl.entry_ty=m.entry_ty and acl.tran_cd=m.tran_cd)
--	where  m.date<@Edate and acl.SerTy<>'OTHERS' and acl.SerAvail='SERVICES' Commented for Bug-BUG26746
	where  m.date<=@Edate and acl.SerTy<>'OTHERS' and acl.SerAvail='SERVICES'	--Added for Bug-26746
	group by m.date,m.entry_ty,m.tran_cd,acl.Serty
	
	--update #acl1 set oSerBAmt=0,oSerCAmt=0,oSerHAmt=0	--BUG6092			-- Commented by Shrikant S. on 23/05/2016 for Bug-28132
	update #acl1 set oSerBAmt=0,oSerCAmt=0,oSerHAmt=0,oskkcamt=0	-- Added by Shrikant S. on 23/05/2016 for Bug-28132
	--select 'a',* from #acl1	
	
	select m.entry_ty,m.tran_cd,isd.Serty
	,Amount=sum(isd.Amount),sTaxable=sum(isd.sTaxable),SerBAmt=sum(isd.SerBAmt),SerCAmt=sum(isd.SerCAmt),SerHAmt=sum(isd.SerHAmt)
	,skkcamt=sum(isd.skkcamt)				-- Added by Shrikant S. on 23/05/2016 for Bug-28132
	into #isd1
	from isdallocation isd 
	inner join SerTaxMain_vw m on (isd.entry_ty=m.entry_ty and isd.tran_cd=m.tran_cd)
	where m.date<@Edate 
	group by m.entry_ty,m.tran_cd,isd.Serty
	
	--select 'b',* from #isd1

	--BUG6092
	select m.entry_ty,m.tran_cd,isd.Serty
	,SerRBAmt=sum(isnull(isd.SerRBAmt,0)),SerRCAmt=sum(isnull(isd.SerRCAmt,0)),SerRHAmt=sum(isnull(isd.SerRHAmt,0))
	,skkrcamt=SUM(ISNULL(isd.skkrcamt,0))				-- Added by Shrikant S. on 23/05/2016 for Bug-28132
	into #isd2
	from isdallocation isd 
	inner join SerTaxMain_vw m on (isd.aentry_ty=m.entry_ty and isd.atran_cd=m.tran_cd)
	where m.date<@Edate 
	group by m.entry_ty,m.tran_cd,isd.Serty

	update #acl1 set oSerBAmt=isnull(i.SerRBAmt,0),oSerCAmt=isnull(i.SerRCAmt,0),oSerHAmt=isnull(i.SerRHAmt,0)
		,oskkcamt=ISNULL(i.skkrcamt,0)					-- Added by Shrikant S. on 23/05/2016 for Bug-28132
		from #acl1 a,#isd2 i where (a.entry_ty=i.entry_ty   and a.tran_cd=i.tran_cd and a.serty=i.serty)
	--BUG6092
	

	select a.colid,a.entry_ty,a.tran_cd,a.serty	--BUG6092
	,Amount=a.Amount-isnull(i.amount,0),sTaxable=a.sTaxable-isnull(i.sTaxable,0),SerBAmt=a.SerBAmt-isnull(i.SerBAmt,0),SerCAmt=a.SerCAmt-isnull(i.SerCAmt,0),SerHAmt=a.SerHAmt-isnull(i.SerHAmt,0)
	,a.date,a.oSerBAmt,a.oSerCAmt,a.oSerHAmt		--BUG6092
	,skkcamt=a.skkcamt-isnull(i.skkcamt,0),a.oskkcamt			-- Added by Shrikant S. on 23/05/2016 for Bug-28132	
	into #acl
	from #acl1 a 
	left join #isd1 i on (a.entry_ty=i.entry_ty   and a.tran_cd=i.tran_cd and a.serty=i.serty)
	where a.entry_ty not in ('S1')	--BUG6092
	--where a.sTaxable-isnull(i.sTaxable,0)>0.5 and a.entry_ty not in ('S1')	--BUG6092
	
	--select 'c',* from #acl
	
	insert into #acl (colid,entry_ty,tran_cd,serty,Amount,sTaxable,SerBAmt,SerCAmt,SerHAmt,date,skkcamt)	--BUG6092	-- Changed by Shrikant S. on 23/05/2016 for Bug-28132
	select 0,ac.entry_ty,ac.tran_cd,ac.Serty	--BUG6092
	,Amount=0,sTaxable=(case when jm.entry_ty in ('J3') then jm.sTaxable else 0 end)
	,SerBAmt=sum(case when a.typ='Service Tax Available' then ac.amount else 0 end)
	,SerCAmt=sum(case when a.typ='Service Tax Available-Ecess' then ac.amount else 0 end)
	,SerHAmt=sum(case when a.typ='Service Tax Available-Hcess' then ac.amount else 0 end)
	,(case when (m.entry_ty in ('J3')) then ac.u_cldt else m.date end)
	,skkCamt=sum(case when a.typ='Krishi Kalyan Cess Available' then ac.amount else 0 end)			-- Added by Shrikant S. on 23/05/2016 for Bug-28132	
	from SerTaxAcDet_vw ac 
	inner join SerTaxMain_vw m on (m.entry_ty=ac.entry_ty and m.tran_cd=ac.tran_cd)
	inner join ac_mast a on (ac.ac_id=a.ac_id) 
	left join JvMain jm on (jm.entry_ty=ac.entry_ty and jm.tran_cd=ac.tran_cd)
	where ( (case when (m.entry_ty in ('J3')) then ac.u_cldt else m.date end)  BETWEEN @sdate  AND @edate )
	--AND ac.amt_ty='Dr' and a.typ in ('Service Tax Available' ,'Service Tax Available-Ecess','Service Tax Available-Hcess')		-- Commented by Shrikant S. on 23/05/2016 for Bug-28132	
	AND ac.amt_ty='Dr' and a.typ in ('Service Tax Available' ,'Service Tax Available-Ecess','Service Tax Available-Hcess','Krishi Kalyan Cess Available')			-- Added by Shrikant S. on 23/05/2016 for Bug-28132	
	 and ac.entry_ty not in ('E1','BP','CP')
	group by ac.entry_ty,ac.tran_cd,ac.Serty,(case when (m.entry_ty in ('J3')) then ac.u_cldt else m.date end),jm.entry_ty,jm.sTaxable

	insert into #acl (colid,entry_ty,tran_cd,serty,Amount,sTaxable,SerBAmt,SerCAmt,SerHAmt,date,skkcamt)	--BUG6092			-- Changed by Shrikant S. on 23/05/2016 for Bug-28132
	select 0,isd.entry_ty,isd.tran_cd,isd.Serty							--BUG6092
	,Amount=sum(isd.Amount),sTaxable=sum(isd.sTaxable),SerBAmt=sum(isd.SerBAmt),SerCAmt=sum(isd.SerCAmt),SerHAmt=sum(isd.SerHAmt)
	,m.date
	,skkcamt=sum(isd.skkcamt)			-- Added by Shrikant S. on 23/05/2016 for Bug-28132
	from isdallocation isd  
	inner join SerTaxMain_vw m on (m.Entry_ty=isd.Entry_ty and m.Tran_cd=isd.Tran_cd)
	where aEntry_ty+(cast(aTran_cd as Varchar))+isd.Serty in (select  distinct m.Entry_ty+cast(m.Tran_cd as varchar)+a.Serty from acdetalloc a inner join SerTaxMain_vw  m on (m.entry_ty=a.entry_ty and m.tran_cd=a.tran_cd)
	where m.SerRule='IMPORT') and (m.date between @sdate and @edate) 
	group by  m.date,isd.entry_ty,isd.tran_cd,isd.Serty


	--BUG6092
	delete from #acl where entry_ty+cast(tran_cd as varchar(10)) in (select rentry_ty+cast(rtran_cd as varchar(10)) from SertaxCrRef)

	select a.typ,ac.entry_ty,ac.tran_cd,ac.Serty,sum(b.new_all) as new_all 
		into #ac2 from SerTaxAcDet_vw ac
		Inner Join Ac_Mast a on ac.ac_id = a.ac_id
		Inner Join BpMall b On ac.entry_ty = b.entry_all and ac.tran_cd = b.main_tran and ac.acserial = b.acseri_all
		--where a.typ in ('GTA Service Tax Payable','GTA Service Tax Payable-Ecess','GTA Service Tax Payable-Hcess','Service Tax Payable','Service Tax Payable-Ecess','Service Tax Payable-Hcess')		--Commented by Shrikant S. on 23/05/2016 for bug-28132
		where a.typ in ('GTA Service Tax Payable','GTA Service Tax Payable-Ecess','GTA Service Tax Payable-Hcess','Service Tax Payable','Service Tax Payable-Ecess','Service Tax Payable-Hcess','Krishi Kalyan Cess Payable')		--Added by Shrikant S. on 23/05/2016 for bug-28132
		and b.entry_ty+cast(b.tran_cd as varchar(10)) in (select entry_ty+cast(tran_cd as varchar(10)) from SertaxCrRef where rdate <= @edate)	
		group by a.typ,ac.entry_ty,ac.tran_cd,ac.Serty	


	Declare @GTAType as Int,@GTAAccount as Varchar(100),@GTAFld_nm as Varchar(10)
	Set @GTAType = 1
	--WHILE @GTAType <= 6			--Commented by Shrikant S. on 23/05/2016 for Bug-28132
	WHILE @GTAType <= 8				--Added by Shrikant S. on 23/05/2016 for Bug-28132	
	BEGIN
		Set @GTAAccount =
		Case when @GTAType = 1
			then 'GTA Service Tax Payable' else
		Case when @GTAType = 2 
			then 'Service Tax Payable' else
		Case when @GTAType = 3
			then 'GTA Service Tax Payable-Ecess' else
		Case when @GTAType = 4
			then 'Service Tax Payable-Ecess' else
		Case when @GTAType = 5
			then 'GTA Service Tax Payable-Hcess' else
		Case when @GTAType = 6
			then 'Service Tax Payable-Hcess' else
		Case when @GTAType = 7
			then 'GTA Krishi Kalyan Cess Payable' else 
		Case when @GTAType = 8
			then 'Krishi Kalyan Cess Payable' 
		end		
		end	
		end
		end
		end
		end
		end
		end

		Set @GTAFld_nm =
		Case when @GTAType = 1 or @GTAType = 2
			then 'serbamt' else
		Case when @GTAType = 3 or @GTAType = 4
			then 'sercamt' else
		Case when @GTAType = 5 or @GTAType = 6
			then 'serhamt' else
		Case when @GTAType = 7 or @GTAType = 8
			then 'skkcamt'
		end	
		end
		end
		end
		
		set @sqlcommand = 'update #acl set '+@GTAFld_nm+' = a.'+@GTAFld_nm+' + b.new_all 
			from #acl a,#ac2 b
			where a.entry_ty = b.entry_ty and a.tran_cd = b.tran_cd and a.serty = b.serty
			and b.typ in ('''+@GTAAccount+''')'
		EXECUTE SP_EXECUTESQL @SQLCOMMAND

		Set @GTAType = @GTAType + 1
	END 


	Select a.*,
		rcolid=c.colid,rstaxable = c.staxable,rserbamt = c.serbamt,rsercamt = c.sercamt,rserhamt = c.serhamt
		,rskkcamt=c.skkcamt			--Added by Shrikant S. on 23/05/2016 for Bug-28132		
		into #ac3 from #acl a,mainall_vw b,#acl c 
		where a.entry_ty = b.entry_all and a.tran_cd = b.main_tran
		and b.entry_ty = c.entry_ty and b.tran_cd = c.tran_cd
		and a.serty = c.serty
		and a.entry_ty in ('E1','IF','OF')

	/*
	update #acl set serbamt = a.serbamt + b.rserbamt
		,sercamt = a.sercamt + b.rsercamt	
		,serhamt = a.serhamt + b.rserhamt 
		from #acl a,#ac3 b where a.ColId = b.ColId
		and b.ColId
		in (select ColId from #ac3 group by ColId having count(ColId) = 1)	
		and b.rColId
		in (select rColId from #ac3 group by rColId having count(rColId) = 1)	

	delete from #ac3 
		where ColId
		in (select ColId from #ac3 group by ColId having count(ColId) = 1)	
		and rColId
		in (select rColId from #ac3 group by rColId having count(rColId) = 1)	
	*/

	Declare @RColId as Int,@RSerBamt as Float,@RSerCamt as Float,@RSerHamt as Float
	Declare @IColId as Int,@ISerBamt as Float,@ISerCamt as Float,@ISerHamt as Float
	Declare @SerBamt as Float,@SerCamt as Float,@SerHamt as Float
	Declare @skkCamt as Float,@RskkCamt as Float,@Iskkcamt as Float			--Added by Shrikant S. on 23/05/2016 for bug-28132

	DECLARE ReceiptCur CURSOR FOR 
		Select ColId,SerBamt,SerCamt,SerHamt,skkcamt From #acl
		where ColId
		in (select rColId from #ac3)	
	OPEN ReceiptCur
	--FETCH NEXT FROM ReceiptCur INTO @RColId,@RSerBamt,@RSerCamt,@RSerHamt				--Commented by Shrikant S. on 23/05/2016 for bug-28132
	FETCH NEXT FROM ReceiptCur INTO @RColId,@RSerBamt,@RSerCamt,@RSerHamt,@RskkCamt				--Added by Shrikant S. on 23/05/2016 for bug-28132
	WHILE @@FETCH_STATUS=0
	BEGIN
		DECLARE IssueCur CURSOR FOR 
			--Select ColId,oSerBamt,oSerCamt,oSerHamt From #acl						--Commented by Shrikant S. on 23/05/2016 for bug-28132
			Select ColId,oSerBamt,oSerCamt,oSerHamt,oskkcamt From #acl				--Added by Shrikant S. on 23/05/2016 for bug-28132
			Where ColId
			in (select ColId from #ac3
			where rColId = @rColId)
		OPEN IssueCur
		--FETCH NEXT FROM IssueCur INTO @IColId,@ISerBamt,@ISerCamt,@ISerHamt						--Commented by Shrikant S. on 23/05/2016 for bug-28132
		FETCH NEXT FROM IssueCur INTO @IColId,@ISerBamt,@ISerCamt,@ISerHamt,@Iskkcamt				--Added by Shrikant S. on 23/05/2016 for bug-28132
		WHILE @@FETCH_STATUS=0
		BEGIN
			if @RSerBamt > 0
			begin

				Set @SerBamt = case when @RSerBamt > @ISerBamt then @ISerBamt else @RSerBamt end
				Set @SerCamt = case when @RSerCamt > @ISerCamt then @ISerCamt else @RSerCamt end
				Set @SerHamt = case when @RSerHamt > @ISerHamt then @ISerHamt else @RSerHamt end
				Set @skkcamt = case when @RskkCamt > @Iskkcamt then @Iskkcamt else @RskkCamt end

				--Commented by Shrikant S. on 23/05/2016 for Bug-28132		--Start
				--Update #acl set SerBamt = SerBamt+@SerBamt,SerCamt = SerCamt+@SerCamt,SerHamt = SerHamt+@SerHamt where ColId = @IColId
				--Update #acl set oSerBamt = oSerBamt+@SerBamt,oSerCamt = oSerCamt+@SerCamt,oSerHamt = oSerHamt+@SerHamt where ColId = @IColId
				--Update #acl set SerBamt = SerBamt-@SerBamt,SerCamt = SerCamt-@SerCamt,SerHamt = SerHamt-@SerHamt where ColId = @RColId
				--Commented by Shrikant S. on 23/05/2016 for Bug-28132		--End
				
				--Added by Shrikant S. on 23/05/2016 for Bug-28132		--Start
				Update #acl set SerBamt = SerBamt+@SerBamt,SerCamt = SerCamt+@SerCamt,SerHamt = SerHamt+@SerHamt,skkcamt=skkcamt+@skkcamt where ColId = @IColId
				Update #acl set oSerBamt = oSerBamt+@SerBamt,oSerCamt = oSerCamt+@SerCamt,oSerHamt = oSerHamt+@SerHamt,oskkcamt=oskkcamt+@skkcamt where ColId = @IColId
				Update #acl set SerBamt = SerBamt-@SerBamt,SerCamt = SerCamt-@SerCamt,SerHamt = SerHamt-@SerHamt,skkcamt=skkcamt-@skkCamt where ColId = @RColId
				--Added by Shrikant S. on 23/05/2016 for Bug-28132		--End

				Set @RSerBamt = @RSerBamt - @SerBamt
				Set @RSerCamt = @RSerCamt - @SerCamt
				Set @RSerHamt = @RSerHamt - @SerHamt
				Set @RskkCamt=@RskkCamt -@skkCamt														--Added by Shrikant S. on 23/05/2016 for bug-28132
			end			
			--FETCH NEXT FROM IssueCur INTO @IColId,@ISerBamt,@ISerCamt,@ISerHamt						--Commented by Shrikant S. on 23/05/2016 for bug-28132
			FETCH NEXT FROM IssueCur INTO @IColId,@ISerBamt,@ISerCamt,@ISerHamt,@Iskkcamt				--Added by Shrikant S. on 23/05/2016 for bug-28132
		END
		CLOSE IssueCur
		DEALLOCATE IssueCur

		--FETCH NEXT FROM ReceiptCur INTO  @RColId,@RSerBamt,@RSerCamt,@RSerHamt						--Commented by Shrikant S. on 23/05/2016 for bug-28132
		FETCH NEXT FROM ReceiptCur INTO  @RColId,@RSerBamt,@RSerCamt,@RSerHamt,@RskkCamt				--Added by Shrikant S. on 23/05/2016 for bug-28132
	END
	CLOSE ReceiptCur
	DEALLOCATE ReceiptCur

	--BUG6092

	--select 'd',* from #acl

	print @fcon	
	set @sqlcommand='select part=1,m.entry_ty,m.tran_cd,(case when isnull(m.u_pinvdt,'' '') = '' '' then m.date else m.u_pinvdt end) as date,(case when isnull(m.u_pinvno,'' '') = '' '' then m.inv_no else m.u_pinvno end) as inv_no,acl.serty,rdate=m.date,m.SerRule'		--BUG6092
	set @sqlcommand=rtrim(@sqlcommand)+' '+',ac_name=(case when acl.entry_ty in (''E1'',''BP'',''CP'') then a.ac_name  else (case when isnull(m.cons_id,0)<>0 then aa.ac_name else l.Code_nm end) end) '
	set @sqlcommand=rtrim(@sqlcommand)+' '+',add1=case when isnull(m.cons_id,0)<>0 then aa.add1 else a.add1 end'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',add2=case when isnull(m.cons_id,0)<>0 then aa.add2 else a.add2 end'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',add3=case when isnull(m.cons_id,0)<>0 then aa.add3 else a.add3 end'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',a.SREGN'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',net_amt=(case when m.entry_ty in (''J3'') then 0 else net_amt end)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',acl.Serty,acl.Amount,sTaxable=(acl.SerBAmt+acl.SerCAmt+acl.SerHAmt),acl.SerBAmt,acl.SerCAmt,acl.SerHAmt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',acl.skkcamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'from #acl acl'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join SerTaxMain_vw m on (acl.entry_ty=m.entry_ty and acl.tran_cd=m.tran_cd)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join ac_mast a on (m.ac_id=a.ac_id)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join lcode l on (l.entry_ty=m.entry_ty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'left join ac_mast aa on (m.cons_id=aa.ac_id)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and acl.entry_ty in (''E1'',''BP'',''CP'',''JV'',''J3'') and m.SerRule not in (''IMPORT'')'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and acl.sTaxable > 0 and acl.SerBAmt > 0	'	--BUG6092
	--set @sqlcommand=rtrim(@sqlcommand)+' '+' Order by m.date,m.Entry_ty,M.Inv_No,acl.Serty'--Bug-24957 
	--Bug-24957 Strat
	--sum(case when a.typ=''Service Tax Available''  then (case when jvi.amt_ty=''CR'' then jvi.amount when jvi.amt_ty=''DR'' then  -jvi.amount end) else 0  end),sum(case when a.typ=''Service Tax Available-Ecess''  then (case when jvi.amt_ty=''CR'' then jvi.amount when jvi.amt_ty=''DR'' then  -jvi.amount end) else 0 end),sum(case when a.typ=''Service Tax Available-Hcess''  then (case when jvi.amt_ty=''CR'' then jvi.amount when jvi.amt_ty=''DR'' then  -jvi.amount end) else 0 end) from jvacdet jvi'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' union all'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' select part=2,jvi.entry_ty,jvi.tran_cd,jvi.date,jvi.inv_no,case when jvi.entry_ty=''J3'' then jvm.serty else jvm.sertyi end,'''',jvi.amt_ty,jvm.party_nm,ac.add1,ac.add2,ac.add3,ac.sregn,jvm.net_amt,jvi.serty,jvm.net_amt,jvm.net_amt,sum(case when a.typ=''Service Tax Available''  then jvi.amount  else 0  end),sum(case when a.typ=''Service Tax Available-Ecess'' then jvi.amount else 0 end),sum(case when a.typ=''Service Tax Available-Hcess''   then jvi.amount else 0 end),sum(case when a.typ=''Krishi Kalyan Cess Available''   then jvi.amount else 0 end) from jvacdet jvi'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' inner join jvmain jvm on (jvi.tran_cd=jvm.tran_cd) '
	set @sqlcommand=rtrim(@sqlcommand)+' '+' inner join ac_mast a on (jvi.ac_id=a.ac_id) '
	set @sqlcommand=rtrim(@sqlcommand)+' '+' inner join ac_mast ac on (jvm.ac_id=ac.ac_id) '
	set @sqlcommand=rtrim(@sqlcommand)+' '+' where a.typ in (''Service Tax Available'',''Service Tax Available-Ecess'',''Service Tax Available-Hcess'',''Krishi Kalyan Cess Available'')  AND (JVI.DATE BETWEEN '''+CAST(@SDATE AS VARCHAR)+''' AND '''+CAST(@EDATE AS VARCHAR)+''')'		--Changed by Shrikant S. on 01/06/2016 for Bug-28132
	set @sqlcommand=rtrim(@sqlcommand)+' '+' group by jvi.entry_ty,jvi.tran_cd,jvi.date,jvi.inv_no,jvm.sertyi,jvi.serty,jvm.party_nm,jvm.net_amt,jvi.amt_ty,ac.add1,ac.add2,ac.add3,ac.sregn,jvm.serty '
	--Bug-24957 End
	print  @sqlcommand
	EXECUTE SP_EXECUTESQL @SQLCOMMAND


end
