DROP PROCEDURE [usp_Ent_GST_Calculate_Adjustment]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [usp_Ent_GST_Calculate_Adjustment]
@Entry_ty Varchar(2),@Tran_cd Numeric(10),@sDate Smalldatetime,@eDate Smalldatetime
as
Begin
Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000),@FINYR VARCHAR(50)
print @sDate
	Declare @OPENTRIES as VARCHAR(50),@OPENTRY_TY as VARCHAR(50)
	Declare @TBLNM as VARCHAR(50),@TBLNAME1 as VARCHAR(50),@TBLNAME2 as VARCHAR(50),@TBLNAME3 as VARCHAR(50)
	Set @OPENTRY_TY = '''OB'''
	Set @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
					+ (DATEPART(ss, GETDATE()) * 1000 )
					+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
	Set @TBLNAME1 = '##TMP1'+@TBLNM
	Set @TBLNAME2 = '##TMP2'+@TBLNM
	Set @TBLNAME3 = '##TMP3'+@TBLNM 
	
	--Fetching Ledger entries
	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'

	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,MVW.AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	INTO '+@TBLNAME1+' FROM LAC_VW AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN VW_GST_MAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''CGST Provisional'',''SGST Provisional'',''IGST Provisional'',''IGST ITC'',''CGST ITC'',''SGST ITC'',''COMP CESS PAYABLE'',''CCess Provisional'',''CCess ITC'')  '
	SET @SQLCOMMAND =@SQLCOMMAND+'  AND (CASE WHEN YEAR(MVW.U_CLDT)>2000 THEN MVW.U_CLDT ELSE MVW.DATE END) <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)

	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	--SET @SQLCOMMAND = 'select ''Before @TBLNAME1'',*  FROM '+@TBLNAME1 --+ ' where amt_ty= ''cr '''
	--EXECUTE SP_EXECUTESQL @SQLCOMMAND	
		
	--Deleting RCM/Self Invoice
		
	--SET @SQLCOMMAND = 'delete FROM '+@TBLNAME1+' Where entry_ty in (''E1'',''BP'',''CP'',''UB'')  AND AC_NAME LIKE ''%Payable%'' ' --- Commented by Suraj Kumawat for autoupdater 13.0.5 
	--SET @SQLCOMMAND = 'delete FROM '+@TBLNAME1+' Where entry_ty in (''PT'',''P1'',''E1'',''BP'',''CP'',''UB'')  AND AC_NAME LIKE ''%Payable%'' '		--- added by Suraj Kumawat for autoupdater 13.0.5   --Commented by Priyanka B on 09052018 for UERP Installer 1.0.0
	SET @SQLCOMMAND = 'delete FROM '+@TBLNAME1+' Where entry_ty in (''PT'',''P1'',''E1'',''BP'',''CP'',''UB'',''GC'',''GD'')  AND AC_NAME LIKE ''%Payable%'' '		--- added by Suraj Kumawat for autoupdater 13.0.5   --Modified by Priyanka B on 09052018 for UERP Installer 1.0.0
	EXECUTE SP_EXECUTESQL @SQLCOMMAND						
	
	--Commented by Priyanka B on 14062018 for Bug-31572 Start
	/*
	--Added by Priyanka B on 29052018 for Bug-31572 Start
	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT ENTRY_TY,TRAN_CD,ICGST_AMT=SUM(ICGST_AMT),ISGST_AMT=SUM(ISGST_AMT),IIGST_AMT=SUM(IIGST_AMT),ICESS_AMT=SUM(ICESS_AMT)'
	SET @SQLCOMMAND =@SQLCOMMAND+' INTO ##EPAYMENT FROM EPAYMENT GROUP BY ENTRY_TY,TRAN_CD'
	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND =@SQLCOMMAND+' UPDATE A SET A.AMOUNT=(CASE 
		WHEN (AC_NAME LIKE ''%CENTRAL%'' AND (ICGST_AMT > 0)) THEN (AMOUNT-ICGST_AMT)
		WHEN (AC_NAME LIKE ''%STATE%'' AND (ISGST_AMT > 0)) THEN (AMOUNT-ISGST_AMT)
		WHEN (AC_NAME LIKE ''%INTEGRATED%'' AND (IIGST_AMT > 0)) THEN (AMOUNT-IIGST_AMT)
		WHEN (AC_NAME LIKE ''%COMPENSATION%'' AND (ICESS_AMT > 0)) THEN (AMOUNT-ICESS_AMT)
		ELSE AMOUNT END)'
	SET @SQLCOMMAND =@SQLCOMMAND+' FROM '+@TBLNAME1+' A INNER JOIN ##EPAYMENT B ON (A.TRAN_CD = B.TRAN_CD AND A.ENTRY_TY = B.ENTRY_TY)'
	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	--Added by Priyanka B on 29052018 for Bug-31572 End
	*/
	--Commented by Priyanka B on 14062018 for Bug-31572 End

	--SET @SQLCOMMAND = 'select ''After @TBLNAME1'',*  FROM '+@TBLNAME1 --+ ' where AC_NAME LIKE ''%Payable%'' '
	--EXECUTE SP_EXECUTESQL @SQLCOMMAND
--	return
	
	SET @SQLCOMMAND = ' SELECT *  Into '+@TBLNAME2+' From '+@TBLNAME1+' Where 1=2 ' 
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
--Added by Shrikant S. on 09/12/2017 for Auto updater 13.0.5		--Start	

	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE
	--,AVW.AMOUNT  --Commented by Priyanka B on 13062018 for Bug-31577
	,AMOUNT=(SELECT NEW_ALL FROM  MAINALL_VW WHERE (AVW.ENTRY_TY +QUOTENAME(AVW.TRAN_CD)+AVW.ACSERIAL) =(ENTRY_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL))  --Added by Priyanka B on 13062018 for Bug-31577
	,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,'''' AS AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM PTACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN PTMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')
				AND MVW.ENTRY_TY IN (''PT'',''P1'') and (AVW.entry_ty +QUOTENAME(AVW.Tran_cd)+AVW.ACSERIAL) 
				in (select (entry_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL) from  Mainall_vw 
				where  DATE_all <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Modified by Priyanka B on 04052018 for UERP Installer 1.0.0
				--where  DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Commented by Priyanka B on 04052018 for UERP Installer 1.0.0
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  
	PRINT 'SSs'
	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND	
	
--Added by Shrikant S. on 09/12/2017 for Auto updater 13.0.5		--End
	
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,'''' AS AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM EPACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN EPMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')  
				AND MVW.ENTRY_TY=''E1'' and (AVW.entry_ty +QUOTENAME(AVW.Tran_cd)+AVW.ACSERIAL) 
				in (select (entry_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL) from  Mainall_vw 
				where  DATE_all <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Modified by Priyanka B on 12052018 for UERP Installer 1.0.0
				--where  DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Commented by Priyanka B on 12052018 for UERP Installer 1.0.0
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  
	PRINT 'SS'
	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,'''' AS AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM STACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN STMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')  
				AND MVW.ENTRY_TY=''UB'' and (AVW.entry_ty +QUOTENAME(AVW.Tran_cd)+AVW.ACSERIAL) 
				in (select (entry_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL) from  Mainall_vw 
				where  DATE_all <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Modified by Priyanka B on 12052018 for UERP Installer 1.0.0
				--where  DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Commented by Priyanka B on 12052018 for UERP Installer 1.0.0
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
		
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,MVW.AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM CNACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN CNMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')  
				AND MVW.ENTRY_TY=''C6'' AND MVW.AGAINSTGS=''SERVICE PURCHASE BILL'' and (AVW.entry_ty +QUOTENAME(AVW.Tran_cd)+AVW.ACSERIAL) 
				 in (select (entry_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL) from  Mainall_vw 
				 where  DATE_all <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6   --Modified by Priyanka B on 12052018 for UERP Installer 1.0.0
				--where  DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Commented by Priyanka B on 12052018 for UERP Installer 1.0.0
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  

	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND	
	
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,MVW.AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM DNACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN DNMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')  
				AND MVW.ENTRY_TY=''D6'' AND MVW.AGAINSTGS=''SERVICE PURCHASE BILL'' and (AVW.entry_ty +QUOTENAME(AVW.Tran_cd)+AVW.ACSERIAL) 
				 in (select (entry_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL) from  Mainall_vw 
				 where  DATE_all <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Modified by Priyanka B on 12052018 for UERP Installer 1.0.0
				--where  DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Commented by Priyanka B on 12052018 for UERP Installer 1.0.0
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  

	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND	
	
	
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,'''' AS AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM BPACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN BPMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')  
				AND MVW.ENTRY_TY in (''BP'',''GB'') and (AVW.entry_ty +QUOTENAME(AVW.Tran_cd)+AVW.ACSERIAL) 
				 in (select (entry_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL) from  Mainall_vw --Commented by Priyanka B on 30052018 for Bug-31571
				 --in (select (entry_TY +QUOTENAME(TRAN_CD)+ACSERIAL) from  Mainall_vw   --Modified by Priyanka B on 30052018 for Bug-31571
				 where  DATE_all <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6   --Modified by Priyanka B on 12052018 for UERP Installer 1.0.0
				--where  DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Commented by Priyanka B on 12052018 for UERP Installer 1.0.0
	--SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  --Commented by Priyanka B on 30052018 for Bug-31571
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.U_CLDT <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  --Modified by Priyanka B on 30052018 for Bug-31571
	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND	

	
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,'''' AS AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM CPACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN CPMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')  
				AND MVW.ENTRY_TY=''CP'' and (AVW.entry_ty +QUOTENAME(AVW.Tran_cd)+AVW.ACSERIAL) 
				 in (select (entry_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL) from  Mainall_vw
				 where  DATE_all <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Modified by Priyanka B on 12052018 for UERP Installer 1.0.0
				--where  DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'  --Added by Priyanka B on 04042018 for AU 13.0.6  --Commented by Priyanka B on 12052018 for UERP Installer 1.0.0
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  

	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	--Added by Priyanka B on 09052018 for UERP Installer 1.0.0 Start
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,MVW.AGAINSTGS'  --Added by Priyanka B on 28052018 for Bug-31569
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM CNACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN CNMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')
				AND MVW.ENTRY_TY IN (''GC'') and (AVW.entry_ty +QUOTENAME(AVW.Tran_cd)+AVW.ACSERIAL) 
				in (select (entry_ALL +QUOTENAME(MAIN_TRAN)+ACSERI_ALL) from  Mainall_vw 
				where  DATE_all <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  
	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND	
	--Added by Priyanka B on 09052018 for UERP Installer 1.0.0 End
	
	--Added by Priyanka B on 30052018 for Bug-31577 Start
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND+' AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,MVW.AGAINSTGS'
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM DNACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN DNMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	--SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')  --Commented by Priyanka B on 13072019 for Bug-32704
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'',''Input CGST'',''Input SGST'',''Input IGST'',''Input COMP CESS'')  --Modified by Priyanka B on 13072019 for Bug-32704
				AND MVW.ENTRY_TY IN (''GD'')'
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)
	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME2
	SET @SQLCOMMAND =@SQLCOMMAND+' SELECT MVW.TRAN_CD,MVW.ENTRY_TY,MVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,'
	SET @SQLCOMMAND =@SQLCOMMAND+' MVW.INV_NO,LCODE.IOTRANS,MVW.U_CLDT ,' 
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.AC_ID,AC_MAST.AC_NAME,'
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'
	SET @SQLCOMMAND =@SQLCOMMAND++	'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO,LCODE.SERIAL,LCODE.CODE_NM ,AC_TYPE_MAST.TYP ' 
	SET @SQLCOMMAND =@SQLCOMMAND+' ,MVW.AGAINSTGS'
	SET @SQLCOMMAND =@SQLCOMMAND+'	FROM CNACDET AVW (NOLOCK) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN CNMAIN MVW (NOLOCK) '  
	SET @SQLCOMMAND =@SQLCOMMAND+'	ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	INNER JOIN AC_TYPE_MAST ON (AC_MAST.TYP=AC_TYPE_MAST.TYP) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	LEFT JOIN AC_MAST ACM ON (ACM.AC_ID=MVW.AC_ID) '
	SET @SQLCOMMAND =@SQLCOMMAND+'	WHERE  '
	SET @SQLCOMMAND =@SQLCOMMAND+'	AC_TYPE_MAST.TYP IN (''CGST Payable'',''SGST Payable'',''IGST Payable'',''COMP CESS PAYABLE'')
				AND MVW.ENTRY_TY IN (''GC'') AND MVW.AGAINSTGS=''SALES'' '
	SET @SQLCOMMAND =@SQLCOMMAND+'   AND  MVW.DATE <= '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)  
	PRINT @SQLCOMMAND	
	EXECUTE SP_EXECUTESQL @SQLCOMMAND	
	--Added by Priyanka B on 30052018 for Bug-31577 End
	
	--SET @SQLCOMMAND = ' SELECT *  From '+@TBLNAME2 
	--EXECUTE SP_EXECUTESQL @SQLCOMMAND	
	--return
	
	SET @SQLCOMMAND = ' INSERT INTO '+@TBLNAME1+' SELECT *  From '+@TBLNAME2 
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	/*--Commented by Priyanka B on 13072019 for Bug-32704 Start						
	SET @SQLCOMMAND = 'SELECT 
	/*--Commented by Priyanka B on 02062018 for Bug-31577 Start
						CGST_Payable=Isnull(Sum( Case When TVW.TYP =''CGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''CGST Payable''  AND TVW.Amt_Ty=''DR'' Then -TVW.AMOUNT Else 0 end),0)
						,SGST_Payable=isnull(Sum(Case When TVW.TYP=''SGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''SGST Payable''  AND TVW.Amt_Ty=''DR'' Then -TVW.AMOUNT Else 0 end),0)
						,IGST_Payable=isnull(Sum(Case When TVW.TYP=''IGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''IGST Payable''  AND TVW.Amt_Ty=''DR'' Then -TVW.AMOUNT Else 0 end),0)
						,CCESS_Payable=isnull(Sum(Case When TVW.TYP=''COMP CESS PAYABLE'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''COMP CESS PAYABLE''  AND TVW.Amt_Ty=''DR'' Then -TVW.AMOUNT Else 0 end),0)
	*/--Commented by Priyanka B on 02062018 for Bug-31577 End
	
	--Modified by Priyanka B on 02062018 for Bug-31577 Start
						CGST_Payable=Isnull(Sum( Case When TVW.TYP =''CGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''CGST Payable''  AND TVW.Amt_Ty=''DR'' and TVW.AGAINSTGS NOT IN (''PURCHASES'') Then -TVW.AMOUNT Else 0 end),0)
						,SGST_Payable=isnull(Sum(Case When TVW.TYP=''SGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''SGST Payable''  AND TVW.Amt_Ty=''DR''  and TVW.AGAINSTGS NOT IN (''PURCHASES'') Then -TVW.AMOUNT Else 0 end),0)
						,IGST_Payable=isnull(Sum(Case When TVW.TYP=''IGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''IGST Payable''  AND TVW.Amt_Ty=''DR''  and TVW.AGAINSTGS NOT IN (''PURCHASES'') Then -TVW.AMOUNT Else 0 end),0)
						,CCESS_Payable=isnull(Sum(Case When TVW.TYP=''COMP CESS PAYABLE'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''COMP CESS PAYABLE''  AND TVW.Amt_Ty=''DR''  and TVW.AGAINSTGS NOT IN (''PURCHASES'') Then -TVW.AMOUNT Else 0 end),0)
	--Modified by Priyanka B on 02062018 for Bug-31577 End
		
					    ,CGST_ITC=Isnull(Sum(Case When TVW.TYP IN(''CGST ITC'',''CGST Provisional'') and TVW.Amt_Ty =''DR'' Then TVW.AMOUNT When TVW.TYP IN(''CGST ITC'',''CGST Provisional'')  AND TVW.Amt_Ty=''CR'' Then -TVW.AMOUNT Else 0 end),0) 
						,SGST_ITC=Isnull(Sum(Case When TVW.TYP IN(''SGST ITC'',''SGST Provisional'') and TVW.Amt_Ty =''DR'' Then TVW.AMOUNT When TVW.TYP IN(''SGST ITC'',''SGST Provisional'')  AND TVW.Amt_Ty=''CR'' Then -TVW.AMOUNT Else 0 end),0) 
						,IGST_ITC=Isnull(Sum(Case When TVW.TYP IN(''IGST Provisional'',''IGST ITC'') and TVW.Amt_Ty =''DR'' Then TVW.AMOUNT When TVW.TYP IN(''IGST Provisional'',''IGST ITC'') AND TVW.Amt_Ty=''CR'' Then - TVW.AMOUNT Else 0 end),0)  
						,CCESS_ITC=Isnull(Sum(Case When TVW.TYP IN(''CCess Provisional'',''CCess ITC'') and TVW.Amt_Ty =''DR'' Then TVW.AMOUNT When TVW.TYP IN(''CCess Provisional'',''CCess ITC'') AND TVW.Amt_Ty=''CR'' Then - TVW.AMOUNT Else 0 end),0) 
						
						,CGST_CGST=CAST(0 as Decimal(12,2))
						,CGST_IGST=CAST(0 as Decimal(12,2))
						,SGST_SGST=CAST(0 as Decimal(12,2))
						,SGST_IGST=CAST(0 as Decimal(12,2))
						,IGST_IGST=CAST(0 as Decimal(12,2))
						,IGST_CGST=CAST(0 as Decimal(12,2))
						,IGST_SGST=CAST(0 as Decimal(12,2))
						,CCESS_CCESS=CAST(0 as Decimal(12,2))
        FROM '+@TBLNAME1+' TVW  '	
		 --Commented by Priyanka B on 13072019 for Bug-32704 End
		 */
	
	--Modified by Priyanka B on 13072019 for Bug-32704 Start
	SET @SQLCOMMAND = 'SELECT 
	/*--Commented by Priyanka B on 02062018 for Bug-31577 Start
						CGST_Payable=Isnull(Sum( Case When TVW.TYP =''CGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''CGST Payable''  AND TVW.Amt_Ty=''DR'' Then -TVW.AMOUNT Else 0 end),0)
						,SGST_Payable=isnull(Sum(Case When TVW.TYP=''SGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''SGST Payable''  AND TVW.Amt_Ty=''DR'' Then -TVW.AMOUNT Else 0 end),0)
						,IGST_Payable=isnull(Sum(Case When TVW.TYP=''IGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''IGST Payable''  AND TVW.Amt_Ty=''DR'' Then -TVW.AMOUNT Else 0 end),0)
						,CCESS_Payable=isnull(Sum(Case When TVW.TYP=''COMP CESS PAYABLE'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''COMP CESS PAYABLE''  AND TVW.Amt_Ty=''DR'' Then -TVW.AMOUNT Else 0 end),0)
	*/--Commented by Priyanka B on 02062018 for Bug-31577 End
	
	--Modified by Priyanka B on 02062018 for Bug-31577 Start
						CGST_Payable=Isnull(Sum( Case When TVW.TYP =''CGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''CGST Payable''  AND TVW.Amt_Ty=''DR'' and TVW.AGAINSTGS NOT IN (''PURCHASES'') Then -TVW.AMOUNT Else 0 end),0)
						,SGST_Payable=isnull(Sum(Case When TVW.TYP=''SGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''SGST Payable''  AND TVW.Amt_Ty=''DR''  and TVW.AGAINSTGS NOT IN (''PURCHASES'') Then -TVW.AMOUNT Else 0 end),0)
						,IGST_Payable=isnull(Sum(Case When TVW.TYP=''IGST Payable'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''IGST Payable''  AND TVW.Amt_Ty=''DR''  and TVW.AGAINSTGS NOT IN (''PURCHASES'') Then -TVW.AMOUNT Else 0 end),0)
						,CCESS_Payable=isnull(Sum(Case When TVW.TYP=''COMP CESS PAYABLE'' and TVW.Amt_Ty =''CR'' Then TVW.AMOUNT When TVW.TYP=''COMP CESS PAYABLE''  AND TVW.Amt_Ty=''DR''  and TVW.AGAINSTGS NOT IN (''PURCHASES'') Then -TVW.AMOUNT Else 0 end),0)
	--Modified by Priyanka B on 02062018 for Bug-31577 End

					    ,CGST_ITC=Isnull(Sum(Case When TVW.TYP IN(''CGST ITC'',''CGST Provisional'',''Input CGST'') and TVW.Amt_Ty =''DR'' Then TVW.AMOUNT When TVW.TYP IN(''CGST ITC'',''CGST Provisional'',''Input CGST'')  AND TVW.Amt_Ty=''CR'' Then -TVW.AMOUNT Else 0 end),0) 
						,SGST_ITC=Isnull(Sum(Case When TVW.TYP IN(''SGST ITC'',''SGST Provisional'',''Input SGST'') and TVW.Amt_Ty =''DR'' Then TVW.AMOUNT When TVW.TYP IN(''SGST ITC'',''SGST Provisional'',''Input SGST'')  AND TVW.Amt_Ty=''CR'' Then -TVW.AMOUNT Else 0 end),0) 
						,IGST_ITC=Isnull(Sum(Case When TVW.TYP IN(''IGST Provisional'',''IGST ITC'',''Input IGST'') and TVW.Amt_Ty =''DR'' Then TVW.AMOUNT When TVW.TYP IN(''IGST Provisional'',''IGST ITC'',''Input IGST'') AND TVW.Amt_Ty=''CR'' Then - TVW.AMOUNT Else 0 end),0)  
						,CCESS_ITC=Isnull(Sum(Case When TVW.TYP IN(''CCess Provisional'',''CCess ITC'',''Input COMP CESS'') and TVW.Amt_Ty =''DR'' Then TVW.AMOUNT When TVW.TYP IN(''CCess Provisional'',''CCess ITC'',''Input COMP CESS'') AND TVW.Amt_Ty=''CR'' Then - TVW.AMOUNT Else 0 end),0) 
						
						,CGST_CGST=CAST(0 as Decimal(12,2))
						,CGST_IGST=CAST(0 as Decimal(12,2))
						,SGST_SGST=CAST(0 as Decimal(12,2))
						,SGST_IGST=CAST(0 as Decimal(12,2))
						,IGST_IGST=CAST(0 as Decimal(12,2))
						,IGST_CGST=CAST(0 as Decimal(12,2))
						,IGST_SGST=CAST(0 as Decimal(12,2))
						,CCESS_CCESS=CAST(0 as Decimal(12,2))
      
	     FROM '+@TBLNAME1+' TVW  '	
		 --Modified by Priyanka B on 13072019 for Bug-32704 End
	     --- Added by Suraj Kumawat for cCESS start
		 PRINT @SQLCOMMAND	
	     EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME1
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	--Commented by Priyanka B on 14062018 for Bug-31572 Start
	/*
	--Added by Priyanka B on 29052018 for Bug-31572 Start
	SET @SQLCOMMAND = 'DROP TABLE ##EPAYMENT'
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	--Added by Priyanka B on 29052018 for Bug-31572 End	
	*/
	--Commented by Priyanka B on 14062018 for Bug-31572 End
	
End



