if exists(select xtype,name from sysobjects where xtype='P' and name='USP_REP_OR_ANNEX_V')
begin
	drop procedure USP_REP_OR_ANNEX_V
end
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
--DROP TABLE ##VATORI_DN
 --DROP TABLE ##VATORI_CN
-- EXECUTE USP_REP_OR_ANNEX_V'','','','04/01/2015','03/31/2016','','','','',0,0,'','','','','','','','','2015-2016',''
-- Author:		Hetal L. Patel
-- Create date: 08/07/2009
-- Description:	This Stored procedure is useful to generate OR VAT FORM 200 Annx V
-- Modified By: suraj kumawat  Modify date: 20/07/2015
 /*
	Needed to updates latest sp USP_REP_SINGLE_CO_DATA_VAT with following queries some 
	changes did into USP_REP_SINGLE_CO_DATA_VAT for debit or credit note u_gprice replace on u_imporm field.
	execute Add_Columns 'PRMAIN', 'U_IMPORM Varchar(150) default space(1) with values'
	execute Add_Columns 'SRMAIN', 'U_IMPORM Varchar(150) default space(1) with values'
	Alter table vattbl ALTER COLUMN U_IMPORM vARCHAR(150)
 */
-- Remark:
-- =============================================
CREATE PROCEDURE [dbo].[USP_REP_OR_ANNEX_V]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)
Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2),@INV_NO VARCHAR(50),@DATE DATETIME ,@DNINV_NO VARCHAR(50),@DNDATE DATETIME


---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
STM.FORM_NM,AC1.S_TAX,AMT4=Net_AMT,AMT5=NET_AMT,AMT6=NET_AMT
,DNINV_NO=M.INV_NO,DNDATE=M.DATE
INTO #FORMANNEX5
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
--Those records will come from debit or credit not having field value U_IMPORM  LIKE purchase
SELECT VATID =IDENTITY(int,1,1),BHENT,INV_NO,DATE,ISNULL(SUM(VATONAMT),0)VATONAMT,ISNULL(SUM(TAXAMT),0)TAXAMT INTO #VATORI_CN FROM VATTBL WHERE BHENT='CN' 
AND TRAN_CD NOT IN(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT) 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE)  GROUP BY VATTBL.INV_NO,VATTBL.DATE,VATTBL.BHENT

SELECT VATID =IDENTITY(int,1,1),BHENT,INV_NO,DATE,ISNULL(SUM(VATONAMT),0)VATONAMT,ISNULL(SUM(TAXAMT),0)TAXAMT INTO #VATORI_DN 
FROM VATTBL WHERE BHENT='DN' AND TRAN_CD NOT IN(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT) 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) GROUP BY VATTBL.INV_NO,VATTBL.DATE,VATTBL.BHENT
Insert InTo #FORMANNEX5(PART,PARTSR,SRNO,RATE,INV_NO,DATE, AMT1  ,AMT2,DNINV_NO,DNDATE,AMT3 ,AMT4,PARTY_NM)
               SELECT 1 AS PART,'1' AS PARTSR,'A' AS SRNO,0 AS RATE,ISNULL(a3.INV_NO,''),a3.DATE,ISNULL(a3.VATONAMT,0),ISNULL(a3.TAXAMT,0)
               ,ISNULL(a4.INV_NO,'') AS DNINV_NO,a4.DATE AS DNDATE,ISNULL(a4.VATONAMT,0) AS DNVATONAMT,ISNULL(a4.TAXAMT,0) AS DNTAXAMT,'' AS PARTY_NM
FROM #VATORI_CN a3
full OUTER JOIN #VATORI_DN a4  ON a3.VATID = a4.VATID
DROP TABLE #VATORI_CN
DROP TABLE #VATORI_DN
IF NOT EXISTS(SELECT TOP 1 SRNO FROM #FORMANNEX5 WHERE PART=1 AND PARTSR='1' AND SRNO = 'A')
BEGIN
	Insert InTo #FORMANNEX5 (PART,PARTSR,SRNO,RATE, AMT1  ,AMT2  ,AMT3  ,AMT4 ,PARTY_NM)
    Values  (1   ,'1'   ,'A',0   ,0,0,0,0,'')
END

--1% --those records will come debit/credit note  purchase records selected from pick. 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='CN' AND TRAN_CD IN(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT and rentry_ty ='PT') 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =1  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT  and rentry_ty ='PT')
 AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 1  GROUP BY VATTBL.INV_NO,VATTBL.DATE

Insert InTo #FORMANNEX5 (PART,PARTSR,SRNO,RATE, AMT1  ,AMT2  ,AMT3  ,AMT4 ,PARTY_NM,INV_NO,DATE,DNINV_NO,DNDATE)
                Values  (1   ,'2'   ,'A',0   ,@AMTA1,@AMTA2,@AMTB1,@AMTB2,'1%',@INV_NO,@DATE,@DNINV_NO,@DNDATE)
--2% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT AND entry_ty  =VATTBL.BHENT  and rentry_ty ='PT') 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =2  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT AND entry_ty  =VATTBL.BHENT  and rentry_ty ='PT') 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 2  GROUP BY VATTBL.INV_NO,VATTBL.DATE
Insert InTo #FORMANNEX5 (PART,PARTSR,SRNO,RATE, AMT1  ,AMT2  ,AMT3  ,AMT4 ,PARTY_NM,INV_NO,DATE,DNINV_NO,DNDATE)
                Values  (1   ,'2'   ,'A',0   ,@AMTA1,@AMTA2,@AMTB1,@AMTB2,'2%',@INV_NO,@DATE,@DNINV_NO,@DNDATE)
--5% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT AND entry_ty  =VATTBL.BHENT  and rentry_ty ='PT') 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =5  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='DN' 
AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='PT' ) 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE ) 
AND PER= 5  GROUP BY VATTBL.INV_NO,VATTBL.DATE
Insert InTo #FORMANNEX5 (PART,PARTSR,SRNO,RATE, AMT1  ,AMT2  ,AMT3  ,AMT4 ,PARTY_NM,INV_NO,DATE,DNINV_NO,DNDATE)
                Values  (1   ,'2'   ,'A',0   ,@AMTA1,@AMTA2,@AMTB1,@AMTB2,'5%',@INV_NO,@DATE,@DNINV_NO,@DNDATE)
--10% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO=INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='CN' 
AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='PT') 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) 
AND PER =10  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='PT')
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) 
AND PER= 10  GROUP BY VATTBL.INV_NO,VATTBL.DATE

--13.5% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE 
BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='PT') 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) 
AND PER =13.50  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD  IN(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='PT') 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE)
AND PER= 13.50  GROUP BY VATTBL.INV_NO,VATTBL.DATE

--25% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL
 WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='PT') 
 AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) 
 AND PER =25  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL
 WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='PT') 
 AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) 
 AND PER= 25  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--50% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL WHERE BHENT='CN' 
AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='PT')
 AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) 
 AND PER =50  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT and rentry_ty ='PT') 
AND VATTBL.U_IMPORM LIKE '%PURCHASE%' AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) 
AND PER= 50  GROUP BY VATTBL.INV_NO,VATTBL.DATE

----Total of 1 to 7
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @AMTA1=ISNULL(SUM(AMT1),0),@AMTA2=ISNULL(SUM(AMT2),0),@AMTB1=ISNULL(SUM(AMT3),0),@AMTB2=ISNULL(SUM(AMT4),0) FROM #FORMANNEX5 where PART = 1 and PARTSR='2'


--Those records will come from debit or credit not having field value U_IMPORM  LIKE sale /sold
SELECT VATID =IDENTITY(int,1,1),BHENT,INV_NO,DATE,ISNULL(SUM(VATONAMT),0)VATONAMT,ISNULL(SUM(TAXAMT),0)TAXAMT INTO #VATORI_CNSL 
FROM VATTBL WHERE BHENT='CN' AND TRAN_CD NOT IN(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST') 
AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%')  AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE)  GROUP BY VATTBL.INV_NO,VATTBL.DATE,VATTBL.BHENT
SELECT VATID =IDENTITY(int,1,1),BHENT,INV_NO,DATE,ISNULL(SUM(VATONAMT),0)VATONAMT,ISNULL(SUM(TAXAMT),0)TAXAMT INTO #VATORI_DNSL FROM VATTBL
 WHERE BHENT='DN' AND TRAN_CD NOT IN(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST') 
 AND  ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%')  AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) GROUP BY VATTBL.INV_NO,VATTBL.DATE,VATTBL.BHENT
Insert InTo #FORMANNEX5(PART,PARTSR,SRNO,RATE,INV_NO,DATE, AMT1  ,AMT2,DNINV_NO,DNDATE,AMT3 ,AMT4,PARTY_NM)
               SELECT 1 AS PART,'3' AS PARTSR,'A' AS SRNO,0 AS RATE,ISNULL(a3.INV_NO,''),a3.DATE,ISNULL(a3.VATONAMT,0),ISNULL(a3.TAXAMT,0)
               ,ISNULL(a4.INV_NO,'') AS DNINV_NO,a4.DATE AS DNDATE,ISNULL(a4.VATONAMT,0) AS DNVATONAMT,ISNULL(a4.TAXAMT,0) AS DNTAXAMT,'' AS PARTY_NM
FROM #VATORI_CNSL a3
full OUTER JOIN #VATORI_DNSL a4  ON a3.VATID = a4.VATID
DROP TABLE #VATORI_CNSL
DROP TABLE #VATORI_DNSL
IF NOT EXISTS(SELECT TOP 1 SRNO FROM #FORMANNEX5 WHERE PART=1 AND PARTSR='3' AND SRNO = 'A')
BEGIN
	Insert InTo #FORMANNEX5 (PART,PARTSR,SRNO,RATE, AMT1  ,AMT2  ,AMT3  ,AMT4 ,PARTY_NM)
    Values  (1   ,'3'   ,'A',0   ,0,0,0,0,'')
END


--Insert InTo #FORMANNEX5 (PART,PARTSR,SRNO,RATE,AMT1  ,AMT2  ,AMT3  ,AMT4  ,AMT5  ,AMT6  ,PARTY_NM)
--                Values  (1   ,'3'   ,'A',0   ,0,0,0,0,0,0,'')

--1% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='CN' AND TRAN_CD IN(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  
=VATTBL.BHENT   and rentry_ty ='ST') AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%')  
AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =1  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   
and rentry_ty ='ST') AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') AND 
(VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 1  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--2% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   
and rentry_ty ='ST') AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%' ) 
AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =2  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty =VATTBL.BHENT  and rentry_ty ='ST') 
AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') 
AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 2  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--5% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST') 
AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =5  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL
 WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT  and rentry_ty ='ST') 
 AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 5  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--10% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL
WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST')
 AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =10  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST') 
AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') AND
 (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 10  GROUP BY VATTBL.INV_NO,VATTBL.DATE

--13.5% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL
WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST') 
AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') 
AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =13.50  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL
WHERE BHENT='DN' AND TRAN_CD  IN(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST') 
AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') 
AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 13.50  GROUP BY VATTBL.INV_NO,VATTBL.DATE

--25% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST') 
AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =25  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM 
VATTBL WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST')
 AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 25  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--50% 
--this code for Credit note
SET @INV_NO =''
SET @DATE = NULL
SET @AMTA1 = 0
SET @AMTA2 = 0
SELECT @INV_NO =INV_NO,@DATE=DATE,@AMTA1=ISNULL(SUM(VATONAMT),0),@AMTA2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='CN' AND TRAN_CD in(SELECT TRAN_CD FROM CNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST') 
AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') 
AND (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER =50  GROUP BY VATTBL.INV_NO,VATTBL.DATE
--this code for Debit note
SET @DNINV_NO =''
SET @DNDATE = NULL
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @DNINV_NO=INV_NO,@DNDATE=DATE,@AMTB1=ISNULL(SUM(VATONAMT),0),@AMTB2=ISNULL(SUM(TAXAMT),0) FROM VATTBL 
WHERE BHENT='DN' AND TRAN_CD in(SELECT TRAN_CD FROM DNITREF WHERE Tran_cd =VATTBL.TRAN_CD  AND entry_ty  =VATTBL.BHENT   and rentry_ty ='ST')
 AND ( VATTBL.U_IMPORM LIKE '%sale%' or VATTBL.U_IMPORM LIKE '%sold%') AND
  (VATTBL.DATE BETWEEN @SDATE AND @EDATE) AND PER= 50  GROUP BY VATTBL.INV_NO,VATTBL.DATE

----Total of 1 to 7
SET @AMTA1 = 0
SET @AMTA2 = 0
SET @AMTB1 = 0
SET @AMTB2 = 0
SELECT @AMTA1=ISNULL(SUM(AMT1),0),@AMTA2=ISNULL(SUM(AMT2),0),@AMTB1=ISNULL(SUM(AMT3),0)
,@AMTB2=ISNULL(SUM(AMT4),0) FROM #FORMANNEX5 where PART = 1 and PARTSR='4'

--Insert InTo #FORMANNEX5 (PART,PARTSR,SRNO,RATE,AMT1  ,AMT2  ,AMT3  ,AMT4  ,AMT5  ,AMT6  ,PARTY_NM)
--                Values  (1   ,'4'   ,'A',0   ,0,0,0,0,0,0,'')
--Insert InTo #FORMANNEX5 (PART,PARTSR,SRNO,RATE,AMT1  ,AMT2  ,AMT3  ,AMT4  ,AMT5  ,AMT6  ,PARTY_NM)
--                Values  (1   ,'5'   ,'A',0   ,0,0,0,0,0,0,'')
Update #FORMANNEX5 Set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
						RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
						AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
						PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
						FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')
Select * From #FORMANNEX5 Order By cast(substring(partsr,1,Case When (isnumeric(substring(partsr,1,2))=1) Then 2 Else 1 End) As Int)
END
----Print 'OR VAT FORM 200 ANNEXURE V'
--Go
-------
--Print 'OR STORED PROCEDURE UPDATION COMPLETED'
--GO