if exists (select [name] from sysobjects where [name]='USP_REP_WB_ANNEXURE_E' AND XTYPE='P')
BEGIN 
DROP PROCEDURE USP_REP_WB_ANNEXURE_E
END

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




/*
EXECUTE USP_REP_WB_ANNEXURE_E'','','','04/01/2011','03/31/2012','','','','',0,0,'','','','','','','','','2011-2012',''
*/
-- =============================================
-- Author:		Sandeep S.
-- Create date: 18/07/2011
-- Description:	This Stored procedure is useful to generate WB VAT FOR ANNEXURE E
-- Modify date: 
-- Modified By: 
-- Modify date: 
-- Remark:    : 
-- =============================================


create   PROCEDURE [dbo].[USP_REP_WB_ANNEXURE_E]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTA3 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2),@ITEMTYPE VARCHAR(1)
DECLARE @AMTA11 NUMERIC(12,2),@AMTA22 NUMERIC(12,2),@AMTA33 NUMERIC(12,2)
SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

----Temporary Cursor1
SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,NETAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemTYPE=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
INTO #FORM_WBANN_E
FROM PTACDET A 
INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

alter table #FORM_WBANN_E add recno int identity

---Temporary Cursor2
--SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
--M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
--STM.FORM_NM,AC1.S_TAX,Item=space(50),Qty=9999999999999999999.9999,ITEMTYPE=SPACE(1)

SELECT PART=3,PARTSR='AAA',SRNO='AAA'/*,RATE=99.99,*/,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
PARTY_NM=AC1.AC_NAME,ITEM=SPACE(50),AC1.S_TAX,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3)
,M.INV_NO,M.DATE,QTY=999999999.9999,DDOCNO=SPACE(50)


INTO #FORMWBANN_E
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_WB7 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_WBANN_E Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

--Part -1
--SELECT  * FROM #FORM_WBANN_E a where bhent='PT'--  AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE='LOCAL' 



SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0
       ,@AMTA11=0,@AMTA22=0,@AMTA33=0

SET @CHAR=65

Declare @NETAMT AS NUMERIC (12,2) , @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(20),@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(30),@S_TAX as varchar(30),@QTY as numeric(18,4),@ITEM_TYPE AS VARCHAR(1),@COMMODITY AS VARCHAR(50),@DDOCNO AS VARCHAR(50)

SELECT @NETAMT=0,@TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',@QTY=0,@ITEMTYPE='',@COMMODITY='',@DDOCNO=''

--part-I : Statement of goods despatched outside West Bengal,
--         otherwise than by way of sale during the period:

Declare cur_FORMWBANN_Eaa cursor for
SELECT NETAMT=SUM(B.GRO_AMT),TAXAMT=SUM(A.TAXAMT),ITEMAMT=SUM(A.VATONAMT),B.PARTY_NM,ITEM=IT.IT_NAME+' '+CONVERT(VARCHAR(256),IT.IT_DESC)
,A.S_TAX,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),A.INV_NO,A.DATE,QTY=SUM(B.QTY),DDOCNO=S.U_LRNO
FROM #FORM_WBANN_E A
INNER Join LITEM_VW B On(A.BHENT = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD AND A.IT_CODE=B.IT_CODE ) --AND A.ITSERIAL=B.ITSERIAL)
INNER JOIN IT_MAST IT ON (B.IT_CODE=IT.IT_CODE)
INNER JOIN LMAIN_vW P ON (B.TRAN_cD=P.TRAN_cD AND B.ENTRY_tY=P.ENTRY_tY)
INNER JOIN STMAIN S ON (S.TRAN_cD=P.TRAN_cD AND S.ENTRY_tY=P.ENTRY_tY)
INNER JOIN AC_MAST AC1 ON (AC1.AC_ID=P.AC_ID)  
WHERE  A.BHENT IN ('ST')  AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE='OUT OF STATE'  and  A.U_IMPORM='Branch Transfer'  
GROUP BY A.BHENT,A.S_TAX,B.PARTY_NM,AC1.ADD1,AC1.ADD2,AC1.ADD3,A.INV_NO,A.DATE,IT.IT_NAME,CONVERT(VARCHAR(256),IT.IT_DESC),S.U_LRNO	
ORDER BY A.INV_NO
OPEN CUR_FORMWBANN_Eaa
FETCH NEXT FROM CUR_FORMWBANN_Eaa INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEM,@S_TAX,@ADDRESS,@INV_NO,@DATE,@QTY,@DDOCNO
WHILE (@@FETCH_STATUS=0)
BEGIN

	SET @NETAMT=CASE WHEN @NETAMT IS NULL THEN 0 ELSE @NETAMT END
	SET @TAXAMT=CASE WHEN @TAXAMT IS NULL THEN 0 ELSE @TAXAMT END
	SET @ITEMAMT=CASE WHEN @ITEMAMT IS NULL THEN 0 ELSE @ITEMAMT END
	SET @PARTY_NM=CASE WHEN @PARTY_NM IS NULL THEN '' ELSE @PARTY_NM END
	SET @ITEM=CASE WHEN @ITEM IS NULL THEN '' ELSE @ITEM END
	SET @S_TAX=CASE WHEN @S_TAX IS NULL THEN '' ELSE @S_TAX END
	SET @ADDRESS=CASE WHEN @ADDRESS IS NULL THEN '' ELSE @ADDRESS END
	SET @INV_NO=CASE WHEN @INV_NO IS NULL THEN '' ELSE @INV_NO END
	SET @DATE=CASE WHEN @DATE IS NULL THEN '' ELSE @DATE END
    SET @QTY=CASE WHEN @QTY IS NULL THEN 0 ELSE @QTY END
	SET @DDOCNO=CASE WHEN @DDOCNO IS NULL THEN '' ELSE @DDOCNO END

	INSERT INTO #FORMWBANN_E (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,PARTY_NM,ITEM,S_TAX,ADDRESS,INV_NO,DATE,QTY,DDOCNO) VALUES (1,'1',CHAR(@CHAR),@NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEM,@S_TAX,@ADDRESS,@INV_NO,@DATE,@QTY,@DDOCNO )

	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMWBANN_Eaa INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEM,@S_TAX,@ADDRESS,@INV_NO,@DATE,@QTY,@DDOCNO
END
CLOSE CUR_FORMWBANN_Eaa
DEALLOCATE CUR_FORMWBANN_Eaa

SELECT @AMTA1=SUM(AMT1),@AMTA2=SUM(AMT2),@AMTB1=ISNULL(SUM(QTY),0) FROM #FORMWBANN_E WHERE  PARTSR='1'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
INSERT INTO #FORMWBANN_E  (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,party_nm,QTY) VALUES (1,'1','X',@AMTA1,@AMTA2,0,'Total',@AMTB1)



--SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0
--       ,@AMTA11=0,@AMTA22=0,@AMTA33=0
--
--SET @CHAR=65
--
--
--SELECT @NETAMT=0,@TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',@QTY=0,@ITEMTYPE='',@COMMODITY='',@DDOCNO=''
--
--part-ii : Statement of goods despatched Local West Bengal,
--         otherwise than by way of sale during the period:

Declare cur_FORMWBANN_Ebb cursor for
SELECT NETAMT=SUM(B.GRO_AMT),TAXAMT=SUM(A.TAXAMT),ITEMAMT=SUM(A.VATONAMT),B.PARTY_NM,ITEM=IT.IT_NAME+' '+CONVERT(VARCHAR(256),IT.IT_DESC)
,A.S_TAX,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),A.INV_NO,A.DATE,QTY=SUM(B.QTY),DDOCNO=S.U_LRNO
FROM #FORM_WBANN_E A
INNER Join LITEM_VW B On(A.BHENT = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD AND A.IT_CODE=B.IT_CODE ) --AND A.ITSERIAL=B.ITSERIAL)
INNER JOIN IT_MAST IT ON (B.IT_CODE=IT.IT_CODE)
INNER JOIN LMAIN_vW P ON (B.TRAN_cD=P.TRAN_cD AND B.ENTRY_tY=P.ENTRY_tY)
INNER JOIN STMAIN S ON (S.TRAN_cD=P.TRAN_cD AND S.ENTRY_tY=P.ENTRY_tY)
INNER JOIN AC_MAST AC1 ON (AC1.AC_ID=P.AC_ID)  
WHERE  A.BHENT IN ('ST')  AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE='LOCAL'  and  A.U_IMPORM='Branch Transfer'  
GROUP BY A.BHENT,A.S_TAX,B.PARTY_NM,AC1.ADD1,AC1.ADD2,AC1.ADD3,A.INV_NO,A.DATE,IT.IT_NAME,CONVERT(VARCHAR(256),IT.IT_DESC),S.U_LRNO	
ORDER BY A.INV_NO
OPEN CUR_FORMWBANN_Ebb
FETCH NEXT FROM CUR_FORMWBANN_Ebb INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEM,@S_TAX,@ADDRESS,@INV_NO,@DATE,@QTY,@DDOCNO
WHILE (@@FETCH_STATUS=0)
BEGIN

	SET @NETAMT=CASE WHEN @NETAMT IS NULL THEN 0 ELSE @NETAMT END
	SET @TAXAMT=CASE WHEN @TAXAMT IS NULL THEN 0 ELSE @TAXAMT END
	SET @ITEMAMT=CASE WHEN @ITEMAMT IS NULL THEN 0 ELSE @ITEMAMT END
	SET @PARTY_NM=CASE WHEN @PARTY_NM IS NULL THEN '' ELSE @PARTY_NM END
	SET @ITEM=CASE WHEN @ITEM IS NULL THEN '' ELSE @ITEM END
	SET @S_TAX=CASE WHEN @S_TAX IS NULL THEN '' ELSE @S_TAX END
	SET @ADDRESS=CASE WHEN @ADDRESS IS NULL THEN '' ELSE @ADDRESS END
	SET @INV_NO=CASE WHEN @INV_NO IS NULL THEN '' ELSE @INV_NO END
	SET @DATE=CASE WHEN @DATE IS NULL THEN '' ELSE @DATE END
    SET @QTY=CASE WHEN @QTY IS NULL THEN 0 ELSE @QTY END
	SET @DDOCNO=CASE WHEN @DDOCNO IS NULL THEN '' ELSE @DDOCNO END

	INSERT INTO #FORMWBANN_E (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,PARTY_NM,ITEM,S_TAX,ADDRESS,INV_NO,DATE,QTY,DDOCNO) VALUES (1,'2',CHAR(@CHAR),@NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEM,@S_TAX,@ADDRESS,@INV_NO,@DATE,@QTY,@DDOCNO )

	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMWBANN_Ebb INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEM,@S_TAX,@ADDRESS,@INV_NO,@DATE,@QTY,@DDOCNO
END
CLOSE CUR_FORMWBANN_Ebb
DEALLOCATE CUR_FORMWBANN_Ebb


SELECT @AMTA1=SUM(AMT1),@AMTA2=SUM(AMT2),@AMTB1=ISNULL(SUM(QTY),0) FROM #FORMWBANN_E WHERE  PARTSR='2'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
--


Update #FORMWBANN_E set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,'')--,RATE = isnull(RATE,0),
		             ,AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), PARTY_NM = isnull(Party_nm,''),ITEM = isnull(ITEM,''),S_TAX = isnull(S_TAX,''),ADDRESS = ISNULL(ADDRESS,''),INV_NO = ISNULL(INV_NO,'')
					 ,Date = isnull(date,''), Qty = isnull(Qty,0) --FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),


SELECT * FROM #FORMWBANN_E order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END



