IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_JH_FORM205')
BEGIN
 DROP PROCEDURE USP_REP_JH_FORM205
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:  Hetal L Patel
-- Create date: 27/10/2009
-- Description:	This Stored procedure is useful to generate JH VAT FORM 205
-- Modify date: 
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================
CREATE PROCEDURE [dbo].[USP_REP_JH_FORM205]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2)

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME3,2,CHARINDEX('"',SUBSTRING(AC_NAME3,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"') AND AC_NAME3 NOT IN ('"PURCHASES"') AND ISNULL(AC_NAME1,'')<>'' AND ISNULL(AC_NAME3,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1)  FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"') AND AC_NAME3 NOT IN ('"PURCHASES"') AND ISNULL(AC_NAME1,'')<>'' AND ISNULL(AC_NAME3,'')<>''

----SELECT BHENT='ST',M.ENTRY_TY,M.TRAN_CD,M.DATE,M.GRO_AMT,M.TOT_DEDUC,M.TOT_TAX,M.TOT_EXAMT,M.TOT_ADD,M.TAX_NAME,PER=STM.LEVEL1,M.TAXAMT,M.TOT_NONTAX,M.TOT_FDISC,NET_AMT,STM.SET_APP,STM.ST_TYPE,STM.FORM_NM 
--
--------------RUP
--SELECT BHENT='PT',A.INV_NO,A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),D.ITEM,ITEMAMT=D.Gro_amt,D.Qty
--INTO #JH_JVAT_205
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)
--
--SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
--M.INV_NO,M.DATE,M.PARTY_NM,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),D.ITEM,STM.FORM_NM,AC1.S_TAX,D.Qty
--INTO #JH_JVAT205
--FROM PTACDET A 
--INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2
--
--SET @SQLCOMMAND='INSERT INTO #JH_JVAT_205' 
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',A.INV_NO,A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,D.GRO_AMT,TAXONAMT=D.GRO_AMT+D.TOT_DEDUC+D.TOT_TAX+D.TOT_EXAMT+D.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=D.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),D.ITEM,ITEMAMT=D.Gro_amt,D.Qty'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTACDET A '
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And Stm.Entry_ty = '+'''PT'''
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+  RTRIM(@FCON)
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'
--
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''ST'''+',A.INV_NO,A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,D.GRO_AMT,TAXONAMT=D.GRO_AMT+D.TOT_DEDUC+D.TOT_TAX+D.TOT_EXAMT+D.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=D.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),D.ITEM,ITEMAMT=D.Gro_amt,D.Qty'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STACDET A '
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And Stm.Entry_ty = '+'''ST'''
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+  RTRIM(@FCON)
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'
--
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''SR'''+',A.INV_NO,A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,D.GRO_AMT,TAXONAMT=D.GRO_AMT+D.TOT_DEDUC+D.TOT_TAX+D.TOT_EXAMT+D.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=D.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,U_IMPORM=SPACE(1)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),D.ITEM,ITEMAMT=D.Gro_amt,D.Qty'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRACDET A '
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And Stm.Entry_ty = '+'''SR'''
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+  RTRIM(@FCON)
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'
--
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PR'''+',A.INV_NO,A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,D.GRO_AMT,TAXONAMT=D.GRO_AMT+D.TOT_DEDUC+D.TOT_TAX+D.TOT_EXAMT+D.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=D.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,U_IMPORM=SPACE(1)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),D.ITEM,ITEMAMT=D.Gro_amt,D.Qty'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRACDET A '
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And Stm.Entry_ty = '+'''PR'''
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+  RTRIM(@FCON)
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'
--
------PRINT @SQLCOMMAND
--EXECUTE SP_EXECUTESQL @SQLCOMMAND

--Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

----Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #DLVAT_CH
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #DLVAT_CH add recno int identity

---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,AMT4=TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
STM.FORM_NM,AC1.S_TAX,QTY = 99999999.99,ITEM=space(40)
INTO #DLVATCH
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #DLVAT_CH Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo #DLVAT_CH Select * FROM #VATTBL'
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--Drop Temp Table 
		--SET @SQLCOMMAND='SELECT * FROM '+@MCON
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
--Part 1 ( Section A )

SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0

---For All Part(Amount Field Calculation Script - Start
Select @AMTA1 = A1.Amt1,@AMTD1 = D.Amt4,@AMTE1 = E.Amt5,@AMTF1 = F.Amt6,@AMTG1 = G.Amt7,@AMTH1 = H.Amt8,@AMTI1 = I.Amt9,@AMTJ1 = J.Amt10
FROM (Select Amt1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = '') as A1,(SELECT Amt4=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = 'INTEREST') as D,(SELECT Amt5=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = 'Penalty') as E,(SELECT Amt6=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = 'Composition Money') as F,(SELECT Amt7=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = 'CST') as G,(SELECT Amt8=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = 'Entry Tax') as H,(SELECT Amt9=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE in ('Appeal Fee','Revision Fee')) as I,(SELECT Amt10=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE Not in ('','INTEREST','Penalty','Composition Money','CST','Entry Tax','Appeal Fee','Revision Fee')) as J
---For All Part(Amount Field Calculation Script - End

--SELECT @AMTA1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
--FROM VATTBL A
--Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
--Where B.U_NATURE = ''
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,Item,QTY) VALUES (1,'1','A',0,@AMTA1,0,0,0,0,0,0,0,0,'',0)

SELECT @AMTB1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = 'Admitted'
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','B',0,@AMTB1,0,0,0,0,0,0,0,0,'',0)

SELECT @AMTC1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE like '%Assessed%'
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','C',0,@AMTC1,0,0,0,0,0,0,0,0,'',0)

--SELECT @AMTD1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
--FROM VATTBL A
--Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
--Where B.U_NATURE = 'INTEREST'
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','D',0,@AMTD1,0,0,0,0,0,0,0,0,'',0)

--SELECT @AMTE1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
--FROM VATTBL A
--Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
--Where B.U_NATURE = 'Penalty'
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','E',0,@AMTE1,0,0,0,0,0,0,0,0,'',0)

--SELECT @AMTF1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
--FROM VATTBL A
--Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
--Where B.U_NATURE = 'Composition Money'
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','F',0,@AMTF1,0,0,0,0,0,0,0,0,'',0)

--SELECT @AMTG1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
--FROM VATTBL A
--Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
--Where B.U_NATURE = 'CST'
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','G',0,@AMTG1,0,0,0,0,0,0,0,0,'',0)

--SELECT @AMTH1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
--FROM VATTBL A
--Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
--Where B.U_NATURE = 'Entry Tax'
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','H',0,@AMTH1,0,0,0,0,0,0,0,0,'',0)

--SELECT @AMTI1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
--FROM VATTBL A
--Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
--Where B.U_NATURE in ('Appeal Fee','Revision Fee')
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','I',0,@AMTI1,0,0,0,0,0,0,0,0,'',0)

--SELECT @AMTJ1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
--FROM VATTBL A
--Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
--Where B.U_NATURE Not in ('','INTEREST','Penalty','Composition Money','CST','Entry Tax','Appeal Fee','Revision Fee')
INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,item,Qty) VALUES (1,'1','J',0,@AMTJ1,0,0,0,0,0,0,0,0,'',0)


INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,Form_Nm,ITEM,Qty,S_TAX) 
SELECT 1,'2','A',0,SUM(B.GRO_AMt) - SUM(B.TAXAMT), SUM(B.TAXAMT) as tax_amt,SUM(B.GRO_AMt),
A.INV_NO, A.DATE,A.AC_NAME,'','',B.item,SUM(B.QTY) AS QTY,A.S_tax
 FROM (Select Distinct BHENT,TRan_Cd,AC_NAME,S_tax,Date,inv_no,VATONAMT,TAXAMT from VATTBL where BHENT = 'J4')
 A INNER JOIN JVITEM B on (A.BHENT = B.Entry_ty AND A.TRAN_CD = B.Tran_cd) 
 INNER JOIN JVMAIN J on (A.BHENT = J.entry_ty AND A.TRAN_CD = J.Tran_cd) WHERE A.BHENT = 'J4'  and J.VAT_ADJ = 'Refund Claim'
 AND A.inv_no in (Select Distinct A.INV_NO from JVITREF B inner JOIN VATTBL A on (A.BHENT = B.Entry_ty AND A.TRAN_CD = B.Tran_cd))
GROUP by  A.AC_NAME,A.S_tax,A.INV_NO,A.Date,B.Item  ORDER BY A.INV_NO


DECLARE @CNT NUMERIC (4,0)
SET @CNT = 0

SELECT @CNT=COUNT(PARTSR) FROM #DLVATCH WHERE PARTSR = '2'
IF @CNT = 0
 BEGIN
  	INSERT INTO #DLVATCH (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,FORM_NM,S_TAX,Item,QTY)
	VALUES (1,'2','A',0,0,0,0,'','','','','','','',0)
 END


SELECT * FROM #DLVATCH order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END
--Print 'JH VAT FORM 205'
--GO
-------
--Print 'JH STORED PROCEDURE UPDATION COMPLETED'
--GO