set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 20/05/2009
-- Description:	This is useful for Excise Er-3 report.
-- Modification Date/By/Reason: 15/06/2009 Rupesh Prajapati. Modified for Consignor Details.
-- Modification Date/By/Reason: 10/08/2009 Rupesh Prajapati. Modified for Removed As such in Part-3,8 details.
-- Remark:For Notification
---Modification Date/By/Reason: 24/03/2010 Hetal L Patel 
-- Remark:		Changes done for E-filing
-- Modification Date/By/Reason: 24/03/2010 Ajay Jaiswal for TKT-2913.
-- Modification Date/By/Reason: 02/08/2010 Sachin S. for TKT-3312.
-- =============================================




ALTER    PROCEDURE [dbo].[USP_REP_ER3] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE --null
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE='EX_VW_ACDET '
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


DECLARE  @ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@DOC_NO VARCHAR(10),@AC_ID INT,@IT_CODE NUMERIC(10),@ITSERIAL VARCHAR(5),@RULE VARCHAR(20),@IT_NAME VARCHAR(100),@CHAPNO VARCHAR(10),@RATEUNIT VARCHAR(20),@EIT_NAME VARCHAR(100),@ITGRID INT,@TRAN_CD INT,@CHAR1 NUMERIC(2),@INV_NO VARCHAR(10),@DEPT VARCHAR(20),@CATE VARCHAR(20),@INV_SR VARCHAR(20),@AC_NAME VARCHAR(100),@CNT_CER1_3_2 INT,@VTYPE VARCHAR(40),@PMKEY VARCHAR(1)
DECLARE @OPBAL NUMERIC(17,4),@RECEIPT NUMERIC(17,4),@ISSUE NUMERIC(17,4),@BALANCE NUMERIC(17,4),@LOPBAL NUMERIC(17,4),@LRECEIPT NUMERIC(17,4),@LISSUE NUMERIC(17,4),@LBALANCE NUMERIC(17,4),@QM CHAR(1),@CDATE SMALLDATETIME,@E_DUTY NUMERIC(12,3),@E_NAME VARCHAR(100),@E_PER NUMERIC(5,3),@SRNO CHAR(1),@PAC_ID INT,@PARTY_NM VARCHAR(100),@FDATE VARCHAR(10)
DECLARE @SRNO1 INT,@PER1 CHAR(20),@DUTY1 CHAR(20),@DESC1 CHAR(50),@EPER CHAR(20),@VVEAMT CHAR(20),@SHORTNM VARCHAR(40),@U_ARREARS VARCHAR(40),@CHEQ_NO VARCHAR(40),@CNT INT,@OBACID INT,@CRAC BIT ,@CURAC BIT
DECLARE @VCOND NVARCHAR(1000),@SQLCOMMAND NVARCHAR(4000)
DECLARE @SMONTH INT,@EMONTH INT,@SYEAR INT,@EYEAR INT,@SDATE1  SMALLDATETIME,@EDATE1 SMALLDATETIME,@RVAL INT

SET @VCOND=@SPLCOND

SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT
SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING BALANCES '

SELECT DISTINCT ENTRY_TY,BEH=(CASE WHEN EXT_VOU=1 THEN BCODE_NM ELSE ENTRY_TY END) INTO #LCODE FROM LCODE


SELECT IT_MAST.CHAPNO,IT_MAST.EIT_NAME
,RATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>' ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END) 
,OPBAL =SUM(CASE WHEN (L.BEH ='OS' OR STKL_VW_ITEM.DATE<'Mar  1 2008 12:00AM') THEN (CASE WHEN STKL_VW_ITEM.PMKEY='+' THEN STKL_VW_ITEM.QTY ELSE -STKL_VW_ITEM.QTY END) ELSE 0 END) 
,BALANCE =SUM(CASE WHEN  STKL_VW_ITEM.PMKEY='+' THEN STKL_VW_ITEM.QTY ELSE -STKL_VW_ITEM.QTY END) 
,sdate1=STKL_VW_ITEM.date,edate1=STKL_VW_ITEM.date
INTO #CHAP_BAL 
FROM STKL_VW_ITEM INNER JOIN STKL_VW_MAIN ON (STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY AND STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD) 
INNER JOIN #LCODE L ON (STKL_VW_ITEM.ENTRY_TY=L.ENTRY_TY) 
INNER JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE=IT_MAST.IT_CODE)   
WHERE 1=2
GROUP BY IT_MAST.CHAPNO,IT_MAST.EIT_NAME,(CASE WHEN IT_MAST.EXRATEUNIT<>' ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END),STKL_VW_ITEM.date

SELECT 
A.TRAN_CD,PAC_ID=A.AC_ID,A.INV_NO,A.DEPT,A.CATE,A.INV_SR, A.[RULE],
B.ENTRY_TY,B.DOC_NO,B.DATE,B.IT_CODE,B.ITSERIAL,
/*OPBAL=C.AMOUNT,RECEIPT =C.AMOUNT,ISSUE =C.AMOUNT,BALANCE =C.AMOUNT,LOPBAL =C.AMOUNT,LRECEIPT =C.AMOUNT,LISSUE =C.AMOUNT,LBALANCE =C.AMOUNT,E_DUTY=C.AMOUNT,CDATE =C.DATE,*/
/*Changes done for 2 Decimal coming in PART 3 --> Ajay Jaiswal TKT-342 Hetal Dt 240310*/ 
OPBAL = B.QTY,RECEIPT = B.QTY,ISSUE = B.QTY,BALANCE = B.QTY,LOPBAL = B.QTY,LRECEIPT = B.QTY,LISSUE = B.QTY,LBALANCE = B.QTY,E_DUTY=C.AMOUNT,CDATE =C.DATE,  --Added Hetal 240310
D.ITGRID,D.CHAPNO,D.RATEUNIT,D.EIT_NAME,
E_NAME=E.AC_NAME,PARTY_NM=E.AC_NAME,
QM='A',SRNO='A',E_PER=33.33,CRAC=0,CURAC=0,SHORTNM=E.AC_NAME
,sdate1=a.date,edate1=b.date
INTO #TBLER1
FROM STKL_VW_MAIN A
LEFT JOIN  STKL_VW_ITEM B ON (A.TRAN_CD=B.TRAN_CD)
LEFT JOIN  EX_VW_ACDET C ON (A.TRAN_CD=C.TRAN_CD)
LEFT JOIN IT_MAST D ON (B.IT_CODE=D.IT_CODE)
LEFT JOIN AC_MAST E ON (A.AC_ID=E.AC_ID)
WHERE 1=2

SELECT DISTINCT  CHAPNO,EIT_NAME,[RULE] 
INTO #TMPER12 
FROM #TBLER1 WHERE 1=2


SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.ITSERIAL,STKL_VW_MAIN.[RULE],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.RATEUNIT,IT_MAST.EIT_NAME,IT_MAST.ITGRID,STKL_VW_MAIN.TRAN_CD,PARTY_NM=AC_MAST.AC_NAME  
,STKL_VW_ITEM.PMKEY
INTO #TMPER1 
FROM STKL_VW_MAIN 
LEFT JOIN STKL_VW_ITEM ON (STKL_VW_MAIN.TRAN_CD=STKL_VW_ITEM.TRAN_CD) 
LEFT  JOIN EX_VW_ACDET  ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD) 
LEFT JOIN AC_MAST ON (STKL_VW_MAIN.AC_ID =AC_MAST.AC_ID)  
LEFT   JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE =IT_MAST.IT_CODE)   
WHERE 1=2

SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,CDATE=EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
ER_EXCISE.SRNO,SHORTNM=CAST(ER_EXCISE.SRNO AS CHAR(2))+ER_EXCISE.SHORTNM,CRAC,CURAC,
U_ARREARS,CHEQ_NO,A1.VEND_TYPE,STKL_VW_MAIN.[RULE],STKL_VW_MAIN.INV_NO
INTO #EX_VW_ACDET
FROM EX_VW_ACDET
INNER JOIN AC_MAST ON (EX_VW_ACDET.AC_ID=AC_MAST.AC_ID)
INNER JOIN ER_EXCISE ON (ER_EXCISE.AC_NAME=AC_MAST.AC_NAME) 
INNER JOIN STKL_VW_MAIN ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD AND STKL_VW_MAIN.ENTRY_TY=EX_VW_ACDET.ENTRY_TY)
INNER JOIN AC_MAST A1 ON (STKL_VW_MAIN.AC_ID=A1.AC_ID)
WHERE 1=2


SET @SQLCOMMAND=' INSERT INTO #TMPER1 SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.ITSERIAL'
--Start Hetal Patel Dt 240310
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' ,[RULE]=(  case when STKL_VW_MAIN.entry_ty=''ST'' and STKL_VW_MAIN.u_imporm in (''Raw Material Sale'',''Branch Transfer'',''Purchase Return'') then ''Removed As Such'' else STKL_VW_MAIN.[RULE] end  )'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' ,[RULE]=(  case when STKL_VW_MAIN.entry_ty=''ST'' and (  STKL_VW_MAIN.u_imporm in (''Raw Material Sale'',''Branch Transfer'',''Purchase Return'')) then ''Removed As Such'' else (case when STKL_VW_MAIN.U_GCSSR=1 then ''U/R-16(2)'' else STKL_VW_MAIN.[RULE] end) end  )'
--End Hetal Patel Dt 240310
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' ,IT_MAST.IT_NAME,IT_MAST.CHAPNO,RATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END),(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END),IT_MAST.ITGRID,STKL_VW_MAIN.TRAN_CD,PARTY_NM=AC_MAST.AC_NAME,STKL_VW_ITEM.PMKEY FROM STKL_VW_MAIN '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' INNER JOIN STKL_VW_ITEM ON (STKL_VW_MAIN.TRAN_CD=STKL_VW_ITEM.TRAN_CD  AND STKL_VW_MAIN.ENTRY_TY=STKL_VW_ITEM.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' LEFT JOIN AC_MAST ON (STKL_VW_MAIN.AC_ID =AC_MAST.AC_ID) ' +  ' LEFT   JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE =IT_MAST.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'and STKL_VW_ITEM.entry_ty<>'+CHAR(39)+'OS'+CHAR(39)
PRINT @SQLCOMMAND
EXEC SP_EXECUTESQL  @SQLCOMMAND
SET @TRAN_CD=0
SET @PAC_ID=0
SET @INV_NO=' '
SET @DEPT=' '
SET @CATE=' '
SET @INV_SR=' '
SET @RULE=' '
SET @ENTRY_TY=' '
SET @DOC_NO=' '
SET @DATE=@SDATE
SET @ITSERIAL=' '
SET @OPBAL=0
SET @RECEIPT=0
SET @ISSUE=0
SET @BALANCE=0
SET @LOPBAL=0
SET @LRECEIPT=0
SET @LISSUE=0
SET @LBALANCE=0
SET @E_DUTY=0
SET @CDATE=@SDATE
SET @ITGRID=0
SET @CHAPNO=' '
SET @RATEUNIT=' '
SET @EIT_NAME=' '
SET @E_NAME= ' '
SET @QM=' '
SET @SRNO=' '
SET @E_PER=0
SET @SHORTNM=' '

---<SET VARIABLE FOR MNTH-YEAR FOR WHICH RECORDS WILL BE GENERATE>
SET @SMONTH=MONTH(@SDATE)
SET @EMONTH=MONTH(@EDATE)

SET @SYEAR=YEAR(@SDATE)
SET @EYEAR=YEAR(@EDATE)


IF @SMONTH=13 BEGIN
   SET @SMONTH=1
   SET @SYEAR=@SYEAR+1
END

----<RUN THE LOOP FOR EACH MONTH AND DATE OF YAER>
DECLARE @I INT
SET @I=0
WHILE NOT ((@SYEAR>@EYEAR) OR ((@SYEAR=@EYEAR) AND @SMONTH>@EMONTH))  BEGIN
--	
	IF @SYEAR>@EYEAR BEGIN
	   BREAK
	END	
	IF (@SYEAR=@EYEAR)BEGIN
		IF @SMONTH>@EMONTH BEGIN
		   BREAK
		END
	END	
	EXEC USP_REP_CHKEDATE @SMONTH,@SYEAR,@RVAL OUTPUT
	---<CALCULATE TEMPORARY @SDATE1,@EDATE1 TO FETCH MONTHWISE RECODS>
	SET @I=@I+1
	IF @I=1 BEGIN
		SET @SDATE1=CAST((CAST (@SYEAR AS VARCHAR)+'/'+CAST (@SMONTH AS VARCHAR(2))+'/'+CAST (DAY(@SDATE) AS VARCHAR(2))) AS SMALLDATETIME)
		SET @EDATE1=CAST((CAST (@SYEAR AS VARCHAR)+'/'+CAST (@SMONTH AS VARCHAR(2))+'/'+CAST (@RVAL AS VARCHAR(2))) AS SMALLDATETIME)
	END
		
	ELSE
	 BEGIN
		SET @SDATE1=CAST((CAST (@SYEAR AS VARCHAR)+'/'+CAST (@SMONTH AS VARCHAR(2))+'/'+CAST (1 AS VARCHAR(2))) AS SMALLDATETIME)
		IF @SMONTH=MONTH(@EDATE) AND @SYEAR=YEAR(@EDATE) 
		BEGIN
			SET @EDATE1=@EDATE
		END
		ELSE
		BEGIN
			SET @EDATE1=CAST((CAST (@SYEAR AS VARCHAR)+'/'+CAST (@SMONTH AS VARCHAR(2))+'/'+CAST (@RVAL AS VARCHAR(2))) AS SMALLDATETIME)
		END
	END
	print 'R1'
	print @SDATE1
	print @EDATE1

	---------------->PART- 3 START------------------>
--
	DECLARE @MRULE VARCHAR(20),@MEIT_NAME VARCHAR(100),@MCHAPNO VARCHAR(10)
	DECLARE  @CER1_3_1_ST NUMERIC(1),@CER1_3_2_ST NUMERIC(1)

	--SELECT 'a',ENTRY_TY,DATE,[RULE],IT_NAME,CHAPNO,RATEUNIT,EIT_NAME,TRAN_CD,PARTY_NM,PMKEY
	--FROM  #TMPER1 where (Date between @sdate1 and @edate1)
	--ORDER BY  CHAPNO,EIT_NAME,[RULE],(CASE WHEN ENTRY_TY='ST' THEN 'A'  ELSE 'B' END ),DATE

	DECLARE  CER1_3_1 CURSOR FOR 
	SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,ITSERIAL,[RULE],IT_NAME,CHAPNO,RATEUNIT,EIT_NAME,ITGRID,TRAN_CD ,PARTY_NM,PMKEY
	FROM  #TMPER1 where (Date between @sdate1 and @edate1)
	ORDER BY  CHAPNO,EIT_NAME,[RULE],(CASE WHEN ENTRY_TY='ST' THEN 'A'  ELSE 'B' END ),DATE
	OPEN CER1_3_1 
	FETCH NEXT FROM CER1_3_1 INTO 
	@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@ITSERIAL,@RULE,@IT_NAME,@CHAPNO,@RATEUNIT,@EIT_NAME,@ITGRID,@TRAN_CD,@PARTY_NM,@PMKEY
--
--	--FOR 'OP'
	SET @MCHAPNO=@CHAPNO
	SET @MEIT_NAME=@EIT_NAME
	SET @MRULE=@RULE
	WHILE @@FETCH_STATUS=0
	BEGIN
		
		SET @CHAR1=0
		--IF  @ENTRY_TY='OP '
		IF @ENTRY_TY not in ('ST')	
		BEGIN
			SET @QM=3
			SET @SRNO='A'
			SET @E_DUTY=0
			--SET @E_NAME=' 1CENVAT'
			
			INSERT INTO #TBLER1 (
			TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
			E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
			OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
			VALUES (
			@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
			@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,@QM,@SRNO,@E_PER,@SHORTNM,
			@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)	
		
		END -- @ENTRY_TY not in ('ST')	
		
		SET @CNT_CER1_3_2=0		
		IF  @ENTRY_TY in ('ST')
		BEGIN
			DECLARE CER1_3_2  CURSOR FOR
			SELECT DISTINCT SRNO,PER,DUTY,[desc] FROM ER_EXCISE WHERE PER<>' '
			OPEN  CER1_3_2

			FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@desc1
			WHILE @@FETCH_STATUS=0
			BEGIN
				SET @DESC1=' '+CAST(@SRNO1 AS CHAR(1))+@DESC1
				SET @CHAR1=@CHAR1+1

				--SET  @SQLCOMMAND=' DECLARE CER1_3_3  CURSOR FOR SELECT '+@PER1+','+@DUTY1+	'  FROM STITEM WHERE ( (CAST(TRAN_CD AS VARCHAR)='+CHAR(39)+CAST(@TRAN_CD AS VARCHAR)+CHAR(39)+')  AND CAST(DATE  AS NVARCHAR)='+CHAR(39)+CAST(@DATE  AS NVARCHAR)+CHAR(39)+' AND ITSERIAL=RTRIM('+CHAR(39)+@ITSERIAL+CHAR(39)+'))'
				SET  @SQLCOMMAND=' DECLARE CER1_3_3  CURSOR FOR SELECT '+@PER1+','+@DUTY1+	'  FROM STITEM WHERE (  ( TRAN_CD='+CAST(@TRAN_CD AS VARCHAR)+')  AND CAST(DATE  AS NVARCHAR)='+CHAR(39)+CAST(@DATE  AS NVARCHAR)+CHAR(39)+' AND ITSERIAL=RTRIM('+CHAR(39)+@ITSERIAL+CHAR(39)+')  )' --HP CLF
				print @SQLCOMMAND
				EXECUTE SP_EXECUTESQL @SQLCOMMAND
				OPEN CER1_3_3
					FETCH NEXT FROM CER1_3_3 INTO @EPER,@VVEAMT
					CLOSE  CER1_3_3
					DEALLOCATE CER1_3_3

					
					SET @E_PER=@EPER
					

					IF @CNT_CER1_3_2=0
					BEGIN

						SET @QM=3
						SET @SRNO='A'
						SET @E_DUTY=0
						INSERT INTO #TBLER1 (
						TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
						E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
						OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
						VALUES (
						@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
						@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,@SHORTNM,
						@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)	
						
						SET @CNT_CER1_3_2=@CNT_CER1_3_2+1
					END 	--IF CNT_CER1_3_2=0			
														
					SET @SRNO=CHAR(65+@CHAR1)
					SET @E_DUTY=@VVEAMT	
					
					--INSERT INTO #LST_EXC (ENTRY_TY,DATE,DOC_NO,PARTY_NM,ITEM_NO,[RULE],IT_NAME,CHAPNO,RATEUNIT,EIT_NAME,QM,SRNO,E_NAME,E_PER,E_DUTY,[GROUP],CDATE) VALUES (@CENTRY_TY,@CDATE,@CDOC_NO,@CPARTY_NM,@CITEM_NO,@CRULE,@CIT_NAME,@CCHAPNO,@CRATEUNIT,@CEIT_NAME,'3',CHAR(65+@CHAR1),@Cdesc1,@EPER,@VEAMT,@CGROUP,@CDATE)
					INSERT INTO #TBLER1 (
					TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
					E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
					OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
					VALUES (
					@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
					@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,@SHORTNM,
					@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)	
			
	

				FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@desc1			
			END --FETCH NEXT FROM CER1_3_2 INTO @SRNO1,@PER1,@DUTY1,@desc1
			CLOSE CER1_3_2
			DEALLOCATE CER1_3_2
		END --@ENTRY_TY='ST'


		FETCH NEXT FROM CER1_3_1 INTO 
		@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@ITSERIAL,@RULE,@IT_NAME,@CHAPNO,@RATEUNIT,@EIT_NAME,@ITGRID,@TRAN_CD,@PARTY_NM,@PMKEY
	END--FETCH NEXT FROM CER1_3_1
	CLOSE CER1_3_1
	DEALLOCATE CER1_3_1
--        
	delete from #TMPER12
	insert INTO #TMPER12 SELECT DISTINCT  CHAPNO,EIT_NAME,[RULE]  FROM #TBLER1 WHERE (ENTRY_TY<>'ST' AND QM=3 and sdate1=@sdate1 and edate1=@edate1 )
	DECLARE CER1_3_4 CURSOR FOR SELECT  CHAPNO,EIT_NAME,[RULE] FROM #TMPER12
	OPEN CER1_3_4
	FETCH NEXT FROM CER1_3_4 INTO   @CHAPNO,@EIT_NAME,@RULE
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @E_NAME=''
		SET @E_PER=0
		SELECT TOP 1 @E_NAME=E_NAME,@E_PER=E_PER FROM #TBLER1 WHERE ((CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE) AND ENTRY_TY='ST' AND QM=3 AND SRNO='B' and sdate1=@sdate1 and edate1=@edate1) 
		
		SET @E_NAME=CASE WHEN @E_NAME IS NULL THEN ' ' ELSE @E_NAME END
		SET @E_PER=CASE WHEN @E_PER IS NULL THEN 0 ELSE @E_PER END
		

		UPDATE #TBLER1 SET E_NAME=@E_NAME, E_PER =@E_PER  WHERE  ((CHAPNO=@CHAPNO) AND (EIT_NAME=@EIT_NAME) AND ([RULE]=@RULE) AND ENTRY_TY<>'ST' AND QM=3) and (sdate1=@sdate1 and edate1=@edate1)
		FETCH NEXT FROM CER1_3_4 INTO   @CHAPNO,@EIT_NAME,@RULE
	END --WHILE @@FETCH_STATUS=0
	CLOSE CER1_3_4
	DEALLOCATE CER1_3_4

	-->Balance Quantity
	DECLARE @SPL_CONDN VARCHAR(4000)
	--SELECT @SPL_CONDN=SPL_CONDN FROM R_STATUS WHERE REP_NM='RG1_DC'
	--SET @SPL_CONDN=SUBSTRING(@SPL_CONDN,2,LEN(RTRIM(@SPL_CONDN))-2)
	EXECUTE   USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=NULL
	,@VEDATE=@EDATE1
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE=' '
	,@VDTFLD ='DATE'
	,@VLYN=NULL
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT
	
	
	delete from #CHAP_BAL
	SET @SQLCOMMAND='INSERT INTO #CHAP_BAL SELECT IT_MAST.CHAPNO,(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END),RATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END) '
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',OPBAL =SUM(CASE WHEN (L.BEH ='+'''OS'''+' OR STKL_VW_ITEM.DATE<'+CHAR(39)+CAST(@SDATE1 AS VARCHAR)+CHAR(39)+') THEN (CASE WHEN STKL_VW_ITEM.PMKEY='+'''+'''+ ' THEN STKL_VW_ITEM.QTY ELSE -STKL_VW_ITEM.QTY END) ELSE 0 END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',BALANCE =SUM(CASE WHEN  STKL_VW_ITEM.PMKEY='+'''+'''+' THEN STKL_VW_ITEM.QTY ELSE -STKL_VW_ITEM.QTY END)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+','+char(39)+cast(@sdate1 as varchar)+char(39)+','+char(39)+cast(@edate1 as varchar)+char(39)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM STKL_VW_ITEM'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN STKL_VW_MAIN ON (STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY AND STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN #LCODE L ON (STKL_VW_ITEM.ENTRY_TY=L.ENTRY_TY)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST ON (STKL_VW_ITEM.IT_CODE=IT_MAST.IT_CODE)'
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND it_mast.type IN ('+'''Finished'''+','+'''Semi Finished'''+')'
	--Start Added By Hetal Patel Dt 240310
    --changes for excluding quantity from sales quantity of table no.3 in er1 if sales made as differencial invoice----
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_ITEM.DC_NO <> ''DI'' '
	--changes for excluding quantity from sales Against Sales Return quantity of table no.3 in er1 if sales made as differencial invoice----
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_MAIN.U_GCSSR=0 '
	--End Added By Hetal Patel Dt 240310
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'GROUP BY IT_MAST.CHAPNO,(CASE WHEN IT_MAST.EIT_NAME<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EIT_NAME ELSE IT_MAST.IT_NAME END),(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END)'
	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	--select 'a',@sdate1,@edate1,* from #TBLER1 where qm=3
	--select 'b', * from #CHAP_BAL

	delete from #CHAP_BAL where opbal+balance=0
	UPDATE A SET A.OPBAL=B.OPBAL,A.BALANCE=B.BALANCE FROM #TBLER1 A INNER JOIN #CHAP_BAL B ON (RTRIM(A.CHAPNO)=RTRIM(A.CHAPNO)  AND A.RATEUNIT=B.RATEUNIT AND A.EIT_NAME=B.EIT_NAME) WHERE QM=3 and a.sdate1=b.sdate1 and a.edate1=b.edate1
	

	--SELECT 	* FROM #CHAP_BAL
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT='',CATE='',INV_SR='',[RULE]='',ENTRY_TY='OB',DOC_NO='',@SDATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM='',CRAC=0,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO,RATEUNIT,EIT_NAME,DESC1='',QM=3,SRNO='A',E_PER=0,SHORTNM='',
	OPBAL,RECEIPT=0,ISSUE=0,BALANCE,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 ,@sdate1,@edate1
	FROM #CHAP_BAL 
	WHERE RTRIM(CHAPNO)+rtrim(EIT_NAME)+RTRIM(RATEUNIT)+rtrim( cast(sdate1 as varchar) )+rtrim( cast(edate1 as varchar) ) NOT IN (SELECT DISTINCT RTRIM(CHAPNO)+rtrim(EIT_NAME)+RTRIM(RATEUNIT)+rtrim( cast(sdate1 as varchar) )+rtrim( cast(edate1 as varchar) ) FROM #TBLER1)

	-->Balance Quantity
--	
	--<---------------->PART- 3 END------------------<
--
	---->INSERT BLENK RECORDSFOR PART 3,4,5,6,7,8,9---->
		
	SET @TRAN_CD=0
	SET @PAC_ID=0
	SET @AC_ID=0
	SET @INV_NO=' '
	SET @DEPT=' '
	SET @CATE=' '
	SET @INV_SR=' '
	SET @RULE=' '
	SET @ENTRY_TY=' '
	SET @DOC_NO=' '
	SET @DATE=@SDATE
	SET @ITSERIAL=' '
	SET @OPBAL=0
	SET @RECEIPT=0
	SET @ISSUE=0
	SET @BALANCE=0
	SET @LOPBAL=0
	SET @LRECEIPT=0
	SET @LISSUE=0
	SET @LBALANCE=0
	SET @E_DUTY=0
	SET @CDATE=@SDATE
	SET @ITGRID=0
	SET @CHAPNO=' '
	SET @RATEUNIT=' '
	SET @EIT_NAME=' '
	SET @E_NAME= ' '
	SET @QM=' '
	SET @SRNO=' '
	SET @E_PER=0
	SET @IT_CODE=0
	SET @PARTY_NM=' '
	SET @E_NAME=' '
	SET @DESC1=' '
	SET @CRAC=0
	SET @CURAC=0
	SET @QM='4'
	SET @SRNO='A'
	
	IF NOT EXISTS (   SELECT QM,SRNO FROM #TBLER1 WHERE QM='3' and (sdate1=@sdate1 and edate1=@edate1)     )
	BEGIN
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
		VALUES (
		@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
		@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'3','A',@E_PER,@SHORTNM,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)	
		
	END
--HP Why Below code comment in ER3	
--	SET @QM='4'
--	INSERT INTO #TBLER1 (
--	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
--	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,
--	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
--	VALUES (
--	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
--	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,
--	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)	
--	
--	SET @QM='5'
--	SET @SRNO='A'
--	
--	INSERT INTO #TBLER1 (
--	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
--	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
--	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
--	VALUES (
--	@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
--	@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,@SHORTNM,
--	@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)	
	
	
	
	DECLARE @SRN AS INT
	DECLARE  CER1_EX1 CURSOR FOR SELECT DISTINCT SRNO,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,CRAC,CURAC  FROM ER_EXCISE INNER JOIN AC_MAST ON (AC_MAST.AC_NAME=ER_EXCISE.AC_NAME)  WHERE CURAC=1 ORDER BY SRNO 
	OPEN CER1_EX1
	FETCH NEXT FROM CER1_EX1 INTO @SRNO1,@SHORTNM,@CRAC,@CURAC 
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
		VALUES (
		@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
		@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'6','Z',@E_PER,@SHORTNM,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)
		FETCH NEXT FROM CER1_EX1 INTO @SRNO1,@SHORTNM,@CRAC,@CURAC 
	END
	CLOSE CER1_EX1
	DEALLOCATE CER1_EX1
	
	SELECT @SRNO1=0,@SHORTNM=' ',@CRAC=1,@CURAC=0
	SET @CHAR1=65
	WHILE (@CHAR1<=71)
	BEGIN
		SET @SRNO=CHAR(@CHAR1)
		SET @CURAC=1
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
		VALUES (
		@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
		@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'7',@SRNO,@E_PER,@SHORTNM,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)
		SET @CHAR1=@CHAR1+1
	END


	--DECLARE @SRN AS INT
	DECLARE  CER1_EX1 CURSOR FOR SELECT DISTINCT SRNO,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,CRAC,CURAC  FROM ER_EXCISE INNER JOIN AC_MAST ON (AC_MAST.AC_NAME=ER_EXCISE.AC_NAME)  WHERE CRAC=1 ORDER BY SRNO 
	OPEN CER1_EX1
	FETCH NEXT FROM CER1_EX1 INTO @SRNO1,@SHORTNM,@CRAC,@CURAC 
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
		VALUES (
		@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
		@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'7','Z',@E_PER,@SHORTNM,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)
		FETCH NEXT FROM CER1_EX1 INTO @SRNO1,@SHORTNM,@CRAC,@CURAC 
	END
	CLOSE CER1_EX1
	DEALLOCATE CER1_EX1
	SELECT @SRNO1=0,@SHORTNM=' ',@CRAC=1,@CURAC=0
	
	SET @CHAR1=65
	WHILE (@CHAR1<=81)
	BEGIN
		SET @SRNO=CHAR(@CHAR1)
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
		VALUES (
		@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
		@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'8',@SRNO,@E_PER,@SHORTNM,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)
		SET @CHAR1=@CHAR1+1
	END
	
	SET @CHAR1=65
	WHILE (@CHAR1<=69)
	BEGIN
		SET @SRNO=CHAR(@CHAR1)
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
		VALUES (
		@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,@CRAC,@CURAC,
		@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@E_NAME,'9',@SRNO,@E_PER,@SHORTNM,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)
		SET @CHAR1=@CHAR1+1
	END

	----<INSERT BLENK RECORDSFOR PART 4,5,7,8----<
	----->COMMON TMP TABLE FOR PART-6,7,8,9
	delete from #EX_VW_ACDET
	IF @FDATE='U_CLDT'
	BEGIN
		INSERT INTO #EX_VW_ACDET
		SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,CDATE=EX_VW_ACDET.U_CLDT,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
		ER_EXCISE.SRNO,SHORTNM=CAST(ER_EXCISE.SRNO AS CHAR(2))+ER_EXCISE.SHORTNM,CRAC,CURAC,
		U_ARREARS
		,CHEQ_NO=(  case when STKL_VW_MAIN.entry_ty='ST' and STKL_VW_MAIN.u_imporm in ('Raw Material Sale','Branch Transfer','Purchase Return') then 'RAW MATERIAL' else cheq_no end  )
		,VEND_TYPE=(CASE WHEN ISNULL(s.shipto_id,0)=0 then a1.[VEND_TYPE] else s.[VEND_TYPE] end)
		,STKL_VW_MAIN.[RULE],STKL_VW_MAIN.INV_NO
		FROM EX_VW_ACDET
		INNER JOIN AC_MAST ON (EX_VW_ACDET.AC_ID=AC_MAST.AC_ID)
		INNER JOIN ER_EXCISE ON (ER_EXCISE.AC_NAME=AC_MAST.AC_NAME) 
		INNER JOIN STKL_VW_MAIN ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD AND STKL_VW_MAIN.ENTRY_TY=EX_VW_ACDET.ENTRY_TY)
		INNER JOIN AC_MAST A1 ON (STKL_VW_MAIN.CONS_ID=A1.AC_ID)
		LEFT JOIN SHIPTO S ON  (STKL_VW_MAIN.SCONS_ID=S.SHIPTO_ID)
		WHERE ER_EXCISE.AC_NAME<>' '  AND EX_VW_ACDET.U_CLDT<=@EDATE1
		AND YEAR(EX_VW_ACDET.U_CLDT) <> '1900'		-- Added By Sachin N. S. on 02/08/2010 for TKT-3312
		ORDER BY ER_EXCISE.SRNO	
	END
	ELSE
	BEGIN
		INSERT INTO #EX_VW_ACDET
		SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,CDATE=EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
		ER_EXCISE.SRNO,SHORTNM=CAST(ER_EXCISE.SRNO AS CHAR(2))+ER_EXCISE.SHORTNM,CRAC,CURAC,
		U_ARREARS
		,CHEQ_NO=(  case when STKL_VW_MAIN.entry_ty='ST' and STKL_VW_MAIN.u_imporm in ('Raw Material Sale','Branch Transfer','Purchase Return') then 'RAW MATERIAL' else cheq_no end  )
		,VEND_TYPE=(CASE WHEN ISNULL(s.shipto_id,0)=0 then a1.[VEND_TYPE] else s.[VEND_TYPE] end)
		,STKL_VW_MAIN.[RULE],STKL_VW_MAIN.INV_NO
		FROM EX_VW_ACDET
		INNER JOIN AC_MAST ON (EX_VW_ACDET.AC_ID=AC_MAST.AC_ID)
		INNER JOIN ER_EXCISE ON (ER_EXCISE.AC_NAME=AC_MAST.AC_NAME) 
		INNER JOIN STKL_VW_MAIN ON (STKL_VW_MAIN.TRAN_CD=EX_VW_ACDET.TRAN_CD AND STKL_VW_MAIN.ENTRY_TY=EX_VW_ACDET.ENTRY_TY)
		INNER JOIN AC_MAST A1 ON (STKL_VW_MAIN.CONS_ID=A1.AC_ID)
		LEFT JOIN SHIPTO S ON  (STKL_VW_MAIN.SCONS_ID=S.SHIPTO_ID)
		WHERE ER_EXCISE.AC_NAME<>' '  AND EX_VW_ACDET.DATE<=@EDATE1 
		ORDER BY ER_EXCISE.SRNO
	END
	--select 'a',* from #EX_VW_ACDET
	--<---COMMON TMP TABLE FOR PART-6,7,8,9
	---->Part-6
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=6,SRNO='A',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (AMT_TY='CR' AND (U_ARREARS=' ' OR U_ARREARS IS NULL) AND CDATE>=@SDATE1) AND CHEQ_NO<>'SERVICE'


	-->INSERT BLENK RECORD FOR PART 6
	IF NOT EXISTS (SELECT TRAN_CD FROM #TBLER1 WHERE QM='6' AND SRNO='A' and  (date between @sdate1 and @edate1) )
	BEGIN
		SET @QM='6'
		SET @SRNO='A'
		INSERT INTO #TBLER1 (
		TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
		E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
		OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
		VALUES (
		@TRAN_CD,@AC_ID,@INV_NO,@DEPT,@CATE,@INV_SR, @RULE,@ENTRY_TY,@DOC_NO,@DATE,@ITSERIAL,@IT_CODE,@PARTY_NM,0,0,
		@E_DUTY,@CDATE,@ITGRID,@CHAPNO,@RATEUNIT,@EIT_NAME,@DESC1,@QM,@SRNO,@E_PER,@SHORTNM,
		@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL ,@LRECEIPT,@LISSUE,@LBALANCE,@sdate1,@edate1)	
	END
	--<--INSERT BLENK RECORD FOR PART 6
	----<Part-6
--	---->Part-7
	
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=0,CURAC=1,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='A',E_PER=0,SHORTNM,
	OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0
	,@sdate1,@edate1 
	FROM #EX_VW_ACDET 
	WHERE (CURAC=1 AND (ENTRY_TY='OB' OR (CDATE<@SDATE1))) 
	GROUP BY SHORTNM,SRNO
	
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=0,CURAC=1,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='B',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=SUM(AMOUNT),ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 ,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CURAC=1 AND  (CDATE>@SDATE1 AND ENTRY_TY<>'OB') AND AMT_TY='DR')---Changed By Hetal Patel Dt 240310
	--WHERE (CURAC=1 AND  (CDATE>@SDATE1 AND ENTRY_TY<>'OB') AND AMT_TY='DR' AND (U_ARREARS=' ' OR U_ARREARS IS NULL) ) --Comment By Hetal Patel Dt 240310
	GROUP BY SHORTNM,SRNO
--	
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=0,CURAC=1,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='C',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=SUM(AMOUNT),LISSUE=0,LBALANCE=0 ,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CURAC=1 AND  (CDATE>=@SDATE AND ENTRY_TY<>'OB') AND AMT_TY='DR' AND (U_ARREARS<>' ' AND  U_ARREARS IS NOT NULL) and 1=2) --Added By Hetal Patel Dt 240310 Changed to display only LUT values
	---WHERE (CURAC=1 AND  (CDATE>@SDATE1 AND ENTRY_TY<>'OB') AND AMT_TY='DR' AND (U_ARREARS<>' ' AND  U_ARREARS IS NOT NULL)) --Comment By Hetal Patel Dt 240310
	GROUP BY SHORTNM,SRNO

	

	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='D',E_PER=0,SHORTNM,
	OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE CURAC=1 AND ((CDATE>=@SDATE1 AND AMT_TY='DR') OR (ENTRY_TY='OB' OR (CDATE<@SDATE1))) 
	GROUP BY SHORTNM,SRNO
--
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='E',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=SUM(AMOUNT),BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CURAC=1 AND  (CDATE>@SDATE1 AND ENTRY_TY<>'OB') AND AMT_TY='CR' AND (U_ARREARS=' ' OR U_ARREARS IS NULL) ) 
	GROUP BY SHORTNM,SRNO
--
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='F',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=SUM(AMOUNT),BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CURAC=1 AND  (CDATE>@SDATE1 AND ENTRY_TY<>'OB') AND AMT_TY='CR' AND (U_ARREARS<>' ' AND  U_ARREARS IS NOT NULL))
	GROUP BY SHORTNM,SRNO
--	
	SET	@ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=7,SRNO='G',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=0,BALANCE=SUM(CASE WHEN AMT_TY='CR' THEN -AMOUNT ELSE AMOUNT END),LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CURAC=1 )
	GROUP BY SHORTNM,SRNO
	
--	
	SET @OPBAL=0
	SET @RECEIPT=0
	SET @ISSUE=0
	SET @LRECEIPT=0
	SET @LISSUE=0
	
	----<Part-7
--	----<Part-8
--	
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=8,SRNO='A',E_PER=0,SHORTNM,
	OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET WHERE (CRAC=1 AND (ENTRY_TY='OB' OR (CDATE<@SDATE1))) GROUP BY SHORTNM,SRNO

	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='B',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='DR' AND (VEND_TYPE NOT IN('I STAGE DEALER','II STAGE DEALER','IMPORTER') or VEND_TYPE is null) AND AC_NAME LIKE '%RG23A%') AND (CDATE BETWEEN @SDATE1 AND @EDATE1)
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='C',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='DR' AND VEND_TYPE  IN('I STAGE DEALER','II STAGE DEALER') AND AC_NAME LIKE '%RG23A%') AND (CDATE BETWEEN @SDATE1 AND @EDATE1)

	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='D',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='DR' AND VEND_TYPE  IN('IMPORTER') AND AC_NAME LIKE '%RG23A%') 
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='E',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='DR' AND (VEND_TYPE NOT IN('IMPORTER') or VEND_TYPE is null) AND AC_NAME LIKE '%RG23C%') 
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='F',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='DR' AND VEND_TYPE IN('IMPORTER') AND AC_NAME LIKE '%RG23C%') 
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='G',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=AMOUNT,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='DR' AND AC_NAME LIKE '%SERVICE%') 
	
	
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=8,SRNO='J',E_PER=0,SHORTNM,
	OPBAL=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),RECEIPT=0,ISSUE=0,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET WHERE (CRAC=1 and (AMT_TY='DR' OR (AMT_TY='CR' and CDATE<@SDATE1))) GROUP BY SHORTNM,SRNO

	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='K',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1   AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='CR' AND (isnull(CHEQ_NO,'')='') AND (isnull(u_arrears,'')='') ) 
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='L',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='CR' and (isnull(CHEQ_NO,' ')<>'UNDER RULE 6' and isnull(CHEQ_NO,' ')<>' ')) 

	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='M',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='CR' AND (isnull(CHEQ_NO,' ')='UNDER RULE 6'))
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='N',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='CR' AND ISNULL(U_ARREARS,' ')<>' ')


	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT 
	TRAN_CD,AC_ID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY,DOC_NO,DATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',E_NAME=' ',QM=8,SRNO='O',E_PER=0,SHORTNM=CAST(SRNO AS CHAR(2))+SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET 
	WHERE (CRAC=1 AND NOT (ENTRY_TY='OB' OR (CDATE<@SDATE1)) AND AMT_TY='CR' AND (CHEQ_NO='SERVICE')) 
	
	SET @ITSERIAL=CAST(@SRNO1 AS CHAR(2))
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD=0,AC_ID=@OBACID,INV_NO='',DEPT=' ',CATE=' ',INV_SR=' ',[RULE]=' ',ENTRY_TY='OB',DOC_NO=' ',@SDATE,ITSERIAL=CAST(SRNO AS CHAR(2)),IT_CODE=0,PARTY_NM=' ',CRAC=1,CURAC=0,
	E_DUTY=0,CDATE=@SDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=8,SRNO='Q',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=0,BALANCE=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END),LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0 
	,@sdate1,@edate1
	FROM #EX_VW_ACDET WHERE (CRAC=1 ) GROUP BY SHORTNM,SRNO
	
	---<-Part-8
--	
	---->Part-9
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='A',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0,@sdate1,@edate1 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS='OTHERS ARREARS OF DUTY') AND DATE>=@SDATE1) 
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='B',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0,@sdate1,@edate1 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS='ARREARS OF DUTY UNDER RULE 8') AND DATE>=@SDATE1) 

	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='C',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0,@sdate1,@edate1 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS='OTHERS INTEREST PAYMENTS') AND DATE>=@SDATE1) 

	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='D',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0,@sdate1,@edate1 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS='INTEREST PAYMENT UNDER RULE 8') AND DATE>=@SDATE1) 
	
	INSERT INTO #TBLER1 (
	TRAN_CD,PAC_ID,INV_NO,DEPT,CATE,INV_SR, [RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL,IT_CODE,PARTY_NM,CRAC,CURAC,
	E_DUTY,CDATE,ITGRID,CHAPNO,RATEUNIT,EIT_NAME,E_NAME,QM,SRNO,E_PER,SHORTNM,
	OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL ,LRECEIPT,LISSUE,LBALANCE,sdate1,edate1)	
	SELECT TRAN_CD,AC_ID,INV_NO,DEPT=' ',CATE=' ',INV_SR=' ',[RULE],ENTRY_TY,DOC_NO,DATE,ITSERIAL=' ',IT_CODE=0,PARTY_NM,CRAC,CURAC,
	E_DUTY=0,CDATE,ITGRID=0,CHAPNO=' ',RATEUNIT=' ',EIT_NAME=' ',DESC1=' ',QM=9,SRNO='E',E_PER=0,SHORTNM,
	OPBAL=0,RECEIPT=0,ISSUE=AMOUNT,BALANCE=0,LOPBAL=0,LRECEIPT=0,LISSUE=0,LBALANCE=0,@sdate1,@edate1 FROM #EX_VW_ACDET WHERE (AMT_TY='CR' AND (U_ARREARS IS NOT NULL) AND (U_ARREARS<>' ') AND U_ARREARS NOT IN ('OTHERS ARREARS OF DUTY','ARREARS OF DUTY UNDER RULE 8','OTHERS INTEREST PAYMENTS','INTEREST PAYMENT UNDER RULE 8') AND DATE>=@SDATE1  ) 
	
	----<Part-9
	
	--PRINT STR(@SMONTH)+' '+STR(@SYEAR)
	SET @SMONTH=@SMONTH+1
	IF @SMONTH=13 BEGIN
		SET @SMONTH=1
		SET @SYEAR=@SYEAR+1
	END
END


--IF  @CHEQ_NO LIKE '%MATERIAL%' -->L       
--@AC_NAME  LIKE '%SERVICE%' AND NOT (@CHEQ_NO IS NOT NULL OR @CHEQ_NO<>' ')-->'M'
--@SRNO='K'



--SELECT  EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,CDATE=EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.AC_ID,AC_MAST.AC_NAME,PARTY_NM=AC_MAST.AC_NAME,
--	ER_EXCISE.SRNO,SHORTNM=CAST(ER_EXCISE.SRNO AS CHAR(2))+ER_EXCISE.SHORTNM,CRAC,CURAC,
--	U_ARREARS,CHEQ_NO,A1.VEND_TYPE,STKL_VW_MAIN.[RULE]
----<Part-6
--SELECT * FROM #EX_VW_ACDET 
--SELECT * FROM #TBLER1

--select a.tran_cd,a.itserial,e.it_name,e.[group],c.qty into er1 FROM #TBLER1 A LEFT JOIN IT_MAST E ON (A.IT_CODE=E.IT_CODE)  LEFT JOIN STKL_VW_ITEM C ON ((A.TRAN_CD=C.TRAN_CD AND A.IT_CODE=C.IT_CODE) AND (A.ITSERIAL=C.ITSERIAL) AND (A.ENTRY_TY=C.ENTRY_TY)) where e.[group]='NAS I BEAM' and a.entry_ty='st' order by a.tran_cd

--select * from #TBLER1 order by qm,srno
delete from #TBLER1 where qm=7 and SRNO='C'
delete from #TBLER1 where qm=8 and SRNO in ('H','I','P')


SELECT A.TRAN_CD,A.PAC_ID, A.ENTRY_TY,A.DOC_NO,Date=isnull(A.DATE,0),A.IT_CODE,A.PARTY_NM,A.[RULE], --Change Hetal Patel Dt 240310 E-Filing
A.E_DUTY,A.CDATE,A.ITGRID,A.CHAPNO,A.EIT_NAME,A.ITSERIAL,E_NAME=RTRIM(A.E_NAME),A.QM,A.SRNO,E_Per=Isnull(A.E_PER,0),Shortnm=isnull(A.SHORTNM,''), --Change Hetal Patel Dt 240310 E-Filing
OPBAL=isnull(A.OPBAL,0),Receipt=isnull(A.RECEIPT,0),Issue=isnull(A.ISSUE,0),Balance=isnull(A.BALANCE,0),Lopbal=isnull(A.LOPBAL,0) ,Lreceipt=isnull(A.LRECEIPT,0),Lissue=isnull(A.LISSUE,0),LBalance=isnull(A.LBALANCE,0),Curac=isnull(A.CURAC,0),Crac=isnull(A.CRAC,0), --Change Hetal Patel Dt 240310 E-Filing
B.CHEQ_NO,U_arrears=isnull(B.U_ARREARS,''),B.INV_NO,U_CHALNO=ISNULL(B.U_CHALNO,''),U_ChalDt=isnull(B.U_CHALDT,0),B.INV_SR,B.DEPT,B.CATE,B.U_INT, --Change Hetal Patel Dt 240310 E-Filing
C.GRO_AMT,Qty=isnull(C.QTY,0), --Change Hetal Patel Dt 240310 E-Filing
D.VEND_TYPE,
U_Asseamt=isnull(G.U_ASSEAMT,0), --Change Hetal Patel Dt 240310 E-Filing
H.U_TR6,
U_Cldt=isnull(I.U_CLDT,0), --Change Hetal Patel Dt 240310 E-Filing
RateUnit=isnull(A.RATEUNIT,0), --Change Hetal Patel Dt 240310 E-Filing
u_choice=isnull(J.U_CHOICE,0),J.U_GCSSR --Change Hetal Patel Dt 240310 E-Filing
,ORDM=(CASE WHEN E.TYPE IN ('Finished','Semi Finish') OR A.ENTRY_TY='OB' THEN 'A' ELSE 'B' END)
,E.TYPE
,C.PMKEY
,TarrifSrNo= ltrim(rtrim(isnull(J.TarrifSrNo,''))) --- Added by Ajay Jaiswal on 08/06/2010 for TKT-2913
,u_pfor=ltrim(rtrim(isnull(J.U_PFOR,''))) --Change Hetal Patel Dt 240310 E-Filing
,a.sdate1,a.edate1
--FROM ER11 A 
FROM #TBLER1 A 
LEFT JOIN STKL_VW_MAIN B ON (A.TRAN_CD=B.TRAN_CD AND A.ENTRY_TY=B.ENTRY_TY)
LEFT JOIN STKL_VW_ITEM C ON ((A.TRAN_CD=C.TRAN_CD AND A.IT_CODE=C.IT_CODE) AND (A.ITSERIAL=C.ITSERIAL) AND (A.ENTRY_TY=C.ENTRY_TY))
LEFT JOIN EX_VW_ACDET I ON (A.TRAN_CD=I.TRAN_CD AND A.PAC_ID=I.AC_ID AND A.ENTRY_TY=I.ENTRY_TY)
LEFT JOIN AC_MAST D ON (B.AC_ID=D.AC_ID)
LEFT JOIN IT_MAST E ON (A.IT_CODE=E.IT_CODE)
LEFT JOIN STITEM G  ON ((A.TRAN_CD=G.TRAN_CD AND A.IT_CODE=G.IT_CODE) AND (A.ITSERIAL=G.ITSERIAL) AND (A.ENTRY_TY=G.ENTRY_TY))
LEFT JOIN STMAIN J  ON (A.TRAN_CD=J.TRAN_CD AND A.ENTRY_TY=J.ENTRY_TY)
LEFT JOIN BPMAIN H ON (A.TRAN_CD=H.TRAN_CD AND A.ENTRY_TY=H.ENTRY_TY)
--where qm='5'
ORDER BY sdate1,A.QM
,case when a.qm='3' then   (CASE WHEN E.TYPE IN ('Finished','Semi Finished') OR A.ENTRY_TY='OB' THEN 'A' ELSE 'B' END)   else 'a' end
,(case when a.qm='3' then A.ChapNo   ELSE 'A' END) --Change Hetal Patel Dt 240310
,(case when a.qm='3' then A.Eit_Name   ELSE 'A' END) --Change Hetal Patel Dt 240310
,(case when a.qm='3' then A.RateUnit   ELSE 'A' END) --Change Hetal Patel Dt 240310
,(case when a.qm='3' then (CASE WHEN A.[RULE]='MODVATABLE' THEN 'A' ELSE 'B' END) ELSE 'A' END) --Change Hetal Patel Dt 240310
,(case when a.qm='3' then A.[RULE]   ELSE 'A' END) --Change Hetal Patel Dt 240310
,(case when a.qm='3' then rtrim(ltrim(isnull(j.u_Pfor,'')))   ELSE 'A' END) --Change Hetal Patel Dt 240310
,CASE WHEN (A.E_NAME=' ') THEN 'D' ELSE  (CASE WHEN (A.E_NAME=' 1CENVAT') THEN 'A' ELSE (CASE WHEN (A.E_NAME=' 2Education Cess on Excisable Goods') THEN 'B' ELSE 'C' END) END)  END
,STR(A.E_PER,5,2)
,A.SRNO
,CASE WHEN (A.QM='6') THEN SUBSTRING(A.SHORTNM,3,50) ELSE 'Z' END
,(CASE WHEN QM IN ('6','9') THEN ISNULL(B.U_CHALNO,'') ELSE 'A' END)
,CAST(LEFT(A.SHORTNM,2) AS INT)


DROP TABLE #TMPER1
DROP TABLE #TBLER1

