DROP PROCEDURE [USP_REP_LC_VOU_ILC]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Priyanka Himane
-- Create date: 16/12/2011
-- Description:	This Stored procedure is useful to Generate data for ILC Application Form Report in LC transaction.
-- =============================================

CREATE PROCEDURE     [USP_REP_LC_VOU_ILC]
@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)

	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		SET @TBLCON=RTRIM(@ENTRYCOND)
PRINT @ENT
PRINT @TRN

SELECT 
AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,AC_MAST.COUNTRY,AC_MAST.ZIP,POMAIN.DATE,
POMAIN.NET_AMT,POMAIN.U_LSHIPDT, POMAIN.FCNET_AMT,POMAIN.U_SFROM,POMAIN.U_SHIPTO,
POMAIN.U_BBANK,POMAIN1.INV_NO AS U_INVNO,POITEM.QTY,
IT_DESC=(CASE WHEN ISNULL(IT_MAST.IT_ALIAS,'')='' THEN IT_MAST.IT_NAME ELSE IT_MAST.IT_ALIAS END),
MAILNAME=(CASE WHEN ISNULL(AC_MAST.MAILNAME,'')='' THEN AC_MAST.AC_NAME ELSE AC_MAST.MAILNAME END),
POMAIN.U_BANK,AC_MAST1.ADD1 AS ADD11 ,AC_MAST1.ADD2 AS ADD12 ,AC_MAST1.CITY AS CITY1 ,AC_MAST1.ZIP AS ZIP1 ,
AC_MAST1.COUNTRY AS BCOUNTRY,AC_MAST1.ADD3 AS ADD13,AC_MAST1.CONTACT AS CONTACT1,POMAIN.U_INVDAYS,POMAIN.U_INVAMT,
POMAIN.U_BKILCNO
FROM POMAIN 
INNER JOIN OTHITREF ON POMAIN.TRAN_CD=OTHITREF.TRAN_CD AND POMAIN.ENTRY_TY = OTHITREF.ENTRY_TY 
LEFT JOIN POMAIN POMAIN1 ON POMAIN1.TRAN_CD=OTHITREF.ITREF_TRAN
LEFT JOIN POITEM ON POITEM.TRAN_CD=POMAIN.TRAN_CD AND POITEM.ITSERIAL = OTHITREF.ITSERIAL
LEFT JOIN IT_MAST ON IT_MAST.IT_CODE=POITEM.IT_CODE 
LEFT JOIN AC_MAST ON POMAIN.AC_ID=AC_MAST.AC_ID 
LEFT JOIN AC_MAST AC_MAST1 ON POMAIN.U_BANK=AC_MAST1.AC_NAME 
LEFT JOIN CURR_MAST ON (POMAIN.FCID=CURR_MAST.CURRENCYID)
WHERE POMAIN.ENTRY_TY='LC' AND POMAIN.TRAN_CD=@TRN
GO
