IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_WB_ANNEXURE_F')
BEGIN
 DROP PROCEDURE USP_REP_WB_ANNEXURE_F
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXECUTE USP_REP_WB_ANNEXURE_F'','','','04/01/2013','03/31/2016','','','','',0,0,'','','','','','','','','2015-2016',''
*/

-- =============================================
-- Author:		Sandeep S.
-- Create date: 18/07/2011
-- Description:	This Stored procedure is useful to generate WB VAT FOR ANNEXURE F
-- Modify date: 
-- Modified By: Sumit Gavate
-- Modify date: 25-05-2016
-- Remark:    : Changes had been done as per latest formate issued by west benagl state.
-- =============================================

CREATE PROCEDURE [dbo].[USP_REP_WB_ANNEXURE_F]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTA3 NUMERIC(12,2),@AMTA4 NUMERIC(12,2),@AMTA5 NUMERIC(12,2),@AMTA6 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @AMTA7 NUMERIC(12,2),@AMTA8 NUMERIC(12,2),@AMTA9 NUMERIC(12,2),@AMTA10 NUMERIC(12,2),@AMTP2 NUMERIC(12,2),@AMTQ2 NUMERIC(12,2),
		@AMTA12 NUMERIC(12,2),@AMTA13 NUMERIC(12,2),@AMTA14 NUMERIC(12,2),@AMTAA1 NUMERIC(12,2),@AMTAB1 NUMERIC(12,2),@AMTAC1 NUMERIC(12,2),
		@AMTAD1 NUMERIC(12,2),@AMTAE1 NUMERIC(12,2),@AMTAF1 NUMERIC(12,2),@AMTAG1 NUMERIC(12,2),
		@AMTAH1 NUMERIC(12,2),@AMTAI1 NUMERIC(12,2),@AMTAJ1 NUMERIC(12,2),@AMTAK1 NUMERIC(12,2),@AMTAL1 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2),@ITEMTYPE VARCHAR(1)
DECLARE @AMTA11 NUMERIC(12,2),@AMTA22 NUMERIC(12,2),@AMTA33 NUMERIC(12,2),@AMTA44 NUMERIC(12,2),@AMTA55 NUMERIC(12,2)
SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

--Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

----Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,NETAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemTYPE=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #FORM_WBANN_F
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #FORM_WBANN_F add recno int identity

---Temporary Cursor2
--SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
--M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
--STM.FORM_NM,AC1.S_TAX,Item=space(50),Qty=9999999999999999999.9999,ITEMTYPE=SPACE(1)

SELECT PART=3,PARTSR='AAA',SRNO='AAA'/*,RATE=99.99,*/,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,AMT4=M.TAXAMT,AMT5=M.TAXAMT,AMT6=M.TAXAMT
--PARTY_NM=AC1.AC_NAME,ITEM=SPACE(50),AC1.S_TAX,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3)
--,M.INV_NO,M.DATE,QTY=999999999.9999,DDOCNO=SPACE(50)
INTO #FORMWBANN_F
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_WB7 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo #FORM_WBANN_F Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
-----
--SELECT * from #FORM_WBANN_F -- where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
--1
DECLARE @Count INT,@Month INT,@Year INT
SELECT @CHAR = 65,@Count = 0,@AMTB1 = 0 ,@AMTC1 = 0,@AMTD1 = 0,@AMTE1 = 0,@AMTF1 = 0,@AMTG1 = 0
WHILE (@Count < 3)
BEGIN
	SELECT @AMTA1 = 0 ,@AMTA2 = 0,@AMTA3 = 0 ,@AMTA4 = 0,@AMTA5 = 0 ,@AMTA6 = 0,@AMTA7 = 0 ,@AMTA8 = 0,@AMTA9 = 0 ,@AMTA10 = 0,
		   @AMTA11 = 0 ,@AMTA12 = 0,@AMTA13 = 0 ,@AMTA14 = 0
	SET @Month = (CASE WHEN (MONTH(@SDATE) + @Count) = 13 THEN 1 WHEN MONTH(@SDATE) + @Count = 14 THEN 2 WHEN MONTH(@SDATE) + @Count = 15 THEN 3 ELSE MONTH(@SDATE) + @Count END) 
	SET @Year  = (CASE WHEN (MONTH(@SDATE) + @Count) > 12 THEN YEAR(@SDATE) + 1 ELSE YEAR(@SDATE) END)
	
	--1 Stock Transfer to agent of branch or H.O. outside the state
	SELECT @AMTA1 = ISNULL(SUM(A.VATONAMT),0),@AMTA2 = ISNULL(SUM(A.TAXAMT),0) FROM 
	(SELECT DISTINCT Date,INV_no,BHENT,Tran_cd,VATONAMT,TAXAMT,st_type from VATTBL) A INNER JOIN JVMAIN B 
	ON (A.BHENT = B.Entry_ty AND A.tran_Cd=b.tran_cd ) WHERE B.VAT_ADJ ='Reverse Credit on Stock Transfers' AND A.BHENT='J4'
	AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND A.st_type = 'OUT OF STATE' AND A.DATE BETWEEN @SDATE AND @EDATE

	SET @AMTB1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA1,0) ELSE @AMTB1 END)
	SET @AMTC1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA2,0) ELSE @AMTC1 END)

	SET @AMTD1 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA1,0) ELSE @AMTD1 END)
	SET @AMTE1 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA2,0) ELSE @AMTE1 END)

	SET @AMTF1 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA1,0) ELSE @AMTF1 END)
	SET @AMTG1 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA2,0) ELSE @AMTG1 END)

	--2 Goods used for manufacturing goods as specified in Shedual A for the purpose other then export.
	--SELECT @AMTA3 = ISNULL(SUM(A.VATONAMT),0),@AMTA4 = ISNULL(SUM(A.TAXAMT),0) FROM 
	--(SELECT DISTINCT Date,INV_no,BHENT,Tran_cd,VATONAMT,TAXAMT,st_type from VATTBL) A INNER JOIN JVMAIN B 
	--ON (A.BHENT = B.Entry_ty AND A.tran_Cd=b.tran_cd) LEFT OUTER JOIN JVITEM J on (A.BHENT = J.Entry_ty AND A.tran_Cd=J.tran_cd)
	--LEFT OUTER JOIN IT_MAST I on (J.IT_CODE=I.IT_CODE) WHERE B.VAT_ADJ ='Reverse Credit on Manufacturing Goods' AND A.BHENT='J4'
	--AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND LTRIM(RTRIM(REPLACE(REPLACE(I.U_SHCODE,'-',''),'Schedule',''))) IN ('I','A','FIRST')

	--Select @AMTA3 = ISNULL(SUM(IP.Gro_amt),0),@AMTA4 = ISNULL(SUM(IP.TAXAMT),0) FROM othitref A
	--Inner join PTITEM B on (A.rentry_ty=b.entry_ty and A.itref_tran = b.tran_cd and A.ritserial= b.itserial and A.it_code =  b.it_code)
	--INNER JOIN IPITEM IP ON (A.entry_ty = IP.entry_ty AND A.Date = IP.Date AND A.Tran_cd = IP.Tran_cd AND
	--A.itserial = IP.itserial and A.it_code = IP.it_code) INNER JOIN IT_Mast I on (A.it_code = I.It_code) WHERE 
	--LTRIM(RTRIM(REPLACE(REPLACE(I.U_SHCODE,'-',''),'Schedule',''))) IN ('I','A','FIRST') AND IP.entry_ty = 'IP'
	--AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND A.DATE BETWEEN @SDATE AND @EDATE

	SELECT @AMTA3 = ISNULL(SUM(Gro_amt),0),@AMTA4 = ISNULL(SUM(Tax_amt),0) FROM (Select ISNULL(IP.Gro_amt,0) as Gro_amt,
	ROUND(ISNULL(IP.Gro_amt * S.level1 / 100,0),2) as Tax_amt FROM othitref A
	Inner join PTITEM B on (A.rentry_ty=b.entry_ty and A.itref_tran = b.tran_cd and A.ritserial= b.itserial and A.it_code =  b.it_code)
	LEFT OUTER JOIN STAX_MAS S ON (B.Tax_name = S.tax_name AND b.entry_ty = s.entry_ty)
	INNER JOIN IPITEM IP ON (A.entry_ty = IP.entry_ty AND A.Date = IP.Date AND A.Tran_cd = IP.Tran_cd AND
	A.itserial = IP.itserial and A.it_code = IP.it_code) INNER JOIN IT_Mast I on (A.it_code = I.It_code)
	INNER JOIN AC_MAST AC On (B.Ac_Id = Ac.Ac_Id) WHERE Ac.st_type = 'LOCAL' AND 
	LTRIM(RTRIM(REPLACE(REPLACE(I.U_SHCODE,'-',''),'Schedule',''))) IN ('I','A','FIRST') AND IP.entry_ty = 'IP'
	AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND A.DATE BETWEEN @SDATE AND @EDATE) A

	SET @AMTH1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA3,0) ELSE @AMTH1 END)
	SET @AMTI1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA4,0) ELSE @AMTI1 END)

	SET @AMTJ1 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA3,0) ELSE @AMTJ1 END)
	SET @AMTK1 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA4,0) ELSE @AMTK1 END)

	SET @AMTL1 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA3,0) ELSE @AMTL1 END)
	SET @AMTM1 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA4,0) ELSE @AMTM1 END)

	--3 Goods lost or damaged
	SELECT @AMTA5 = ISNULL(SUM(A.VATONAMT),0),@AMTA6 = ISNULL(SUM(A.TAXAMT),0) FROM 
	(SELECT DISTINCT Date,INV_no,BHENT,Tran_cd,VATONAMT,TAXAMT  from VATTBL) A INNER JOIN JVMAIN B 
	ON (A.BHENT = B.Entry_ty AND A.tran_Cd=b.tran_cd ) WHERE B.VAT_ADJ ='Reverse Credit on Goods Damaged/Lost' AND A.BHENT='J4'
	AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND A.DATE BETWEEN @SDATE AND @EDATE

	SET @AMTN1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA5,0) ELSE @AMTN1 END)
	SET @AMTO1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA6,0) ELSE @AMTO1 END)

	SET @AMTB2 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA5,0) ELSE @AMTB2 END)
	SET @AMTC2 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA6,0) ELSE @AMTC2 END)

	SET @AMTD2 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA5,0) ELSE @AMTD2 END)
	SET @AMTE2 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA6,0) ELSE @AMTE2 END)

	--4 Goods returned to supplier
	SELECT @AMTA7 = ISNULL(SUM(A.VATONAMT),0),@AMTA8 = ISNULL(SUM(A.TAXAMT),0) FROM 
	(SELECT DISTINCT Date,INV_no,BHENT,Tran_cd,VATONAMT,TAXAMT  from VATTBL) A INNER JOIN JVMAIN B 
	ON (A.BHENT = B.Entry_ty AND A.tran_Cd=b.tran_cd ) WHERE B.VAT_ADJ ='Reverse Credit on Returned to Supplier' AND A.BHENT='J4'
	AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND A.DATE BETWEEN @SDATE AND @EDATE

	SET @AMTF2 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA7,0) ELSE @AMTF2 END)
	SET @AMTG2 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA8,0) ELSE @AMTG2 END)

	SET @AMTH2 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA7,0) ELSE @AMTH2 END)
	SET @AMTI2 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA8,0) ELSE @AMTI2 END)

	SET @AMTJ2 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA7,0) ELSE @AMTJ2 END)
	SET @AMTK2 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA8,0) ELSE @AMTK2 END)

	--5 Goods distributed as Samples
	SELECT @AMTA9 = ISNULL(SUM(A.VATONAMT),0),@AMTA10 = ISNULL(SUM(A.TAXAMT),0) FROM 
	(SELECT DISTINCT Date,INV_no,BHENT,Tran_cd,VATONAMT,TAXAMT  from VATTBL) A INNER JOIN JVMAIN B 
	ON (A.BHENT = B.Entry_ty AND A.tran_Cd=b.tran_cd ) WHERE B.VAT_ADJ ='Reverse Credit on Distributed as Samples' AND A.BHENT='J4'
	AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND A.DATE BETWEEN @SDATE AND @EDATE

	SET @AMTL2 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA9,0) ELSE @AMTL2 END)
	SET @AMTM2 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA10,0) ELSE @AMTM2 END)

	SET @AMTN2 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA9,0) ELSE @AMTN2 END)
	SET @AMTO2 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA10,0) ELSE @AMTO2 END)

	SET @AMTP2 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA9,0) ELSE @AMTP2 END)
	SET @AMTQ2 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA10,0) ELSE @AMTQ2 END)

	--6 Goods given away free of cost to the customers
	SELECT @AMTA11 = ISNULL(SUM(A.VATONAMT),0),@AMTA12 = ISNULL(SUM(A.TAXAMT),0) FROM 
	(SELECT DISTINCT Date,INV_no,BHENT,Tran_cd,VATONAMT,TAXAMT  from VATTBL) A INNER JOIN JVMAIN B 
	ON (A.BHENT = B.Entry_ty AND A.tran_Cd=b.tran_cd ) WHERE B.VAT_ADJ ='Reverse Credit on Free of cost to the Customers' AND A.BHENT='J4'
	AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND A.DATE BETWEEN @SDATE AND @EDATE

	SET @AMTAA1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA11,0) ELSE @AMTAA1 END)
	SET @AMTAB1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA12,0) ELSE @AMTAB1 END)

	SET @AMTAC1 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA11,0) ELSE @AMTAC1 END)
	SET @AMTAD1 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA12,0) ELSE @AMTAD1 END)

	SET @AMTAE1 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA11,0) ELSE @AMTAE1 END)
	SET @AMTAF1 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA12,0) ELSE @AMTAF1 END)

	--7 Others
	SELECT @AMTA13 = ISNULL(SUM(A.VATONAMT),0),@AMTA14 = ISNULL(SUM(A.TAXAMT),0) FROM 
	(SELECT DISTINCT Date,INV_no,BHENT,Tran_cd,VATONAMT,TAXAMT  from VATTBL) A INNER JOIN JVMAIN B 
	ON (A.BHENT = B.Entry_ty AND A.tran_Cd=b.tran_cd ) WHERE B.VAT_ADJ ='Reverse Credit on Others' AND A.BHENT='J4'
	AND MONTH(A.DATE) = @Month AND YEAR(A.DATE) = @Year AND A.DATE BETWEEN @SDATE AND @EDATE

	SET @AMTAG1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA13,0) ELSE @AMTAG1 END)
	SET @AMTAH1 = (CASE WHEN @Count = 0 THEN ISNULL(@AMTA14,0) ELSE @AMTAH1 END)

	SET @AMTAI1 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA13,0) ELSE @AMTAI1 END)
	SET @AMTAJ1 = (CASE WHEN @Count = 1 THEN ISNULL(@AMTA14,0) ELSE @AMTAJ1 END)

	SET @AMTAK1 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA13,0) ELSE @AMTAK1 END)
	SET @AMTAL1 = (CASE WHEN @Count = 2 THEN ISNULL(@AMTA14,0) ELSE @AMTAL1 END)

	SET @Count = @Count + 1
END
INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6) VALUES  (1,'1','A',@AMTB1,@AMTC1,@AMTD1,@AMTE1,@AMTF1,@AMTG1)
INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6) VALUES  (1,'1','B',@AMTH1,@AMTI1,@AMTJ1,@AMTK1,@AMTL1,@AMTM1)
INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6) VALUES  (1,'1','C',@AMTN1,@AMTO1,@AMTB2,@AMTC2,@AMTD2,@AMTE2)
INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6) VALUES  (1,'1','D',@AMTF2,@AMTG2,@AMTH2,@AMTI2,@AMTJ2,@AMTK2)
INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6) VALUES  (1,'1','E',@AMTL2,@AMTM2,@AMTN2,@AMTO2,@AMTP2,@AMTQ2)
INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6) VALUES  (1,'1','F',@AMTAA1,@AMTAB1,@AMTAC1,@AMTAD1,@AMTAE1,@AMTAF1)
INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6) VALUES  (1,'1','G',@AMTAG1,@AMTAH1,@AMTAI1,@AMTAJ1,@AMTAK1,@AMTAL1)

--Total
select @AMTB1 = 0,@AMTC1 = 0,@AMTD1 = 0,@AMTE1 = 0,@AMTF1 = 0,@AMTG1 = 0
select @AMTB1 = ISNULL(SUM(AMT1),0),@AMTC1 = ISNULL(SUM(AMT2),0),@AMTD1 = ISNULL(SUM(AMT3),0),@AMTE1 = ISNULL(SUM(AMT4),0)
	  ,@AMTF1 = ISNULL(SUM(AMT5),0),@AMTG1 = ISNULL(SUM(AMT6),0) FROM #FORMWBANN_F
INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5,AMT6) VALUES  (1,'1','H',@AMTB1,@AMTC1,@AMTD1,@AMTE1,@AMTF1,@AMTG1)

---2. Input tax credit reversed in earlier periods

--SET @AMTA1=0
--SET @AMTA2=0
--SET @AMTA3=0
--SET @AMTA4=0
--SET @AMTA5=0

--SELECT @AMTA1=SUM(a.NET_AMT) FROM  VATTBL  A INNER JOIN JVMAIN B ON A.tran_Cd=b.tran_cd  WHERE b.VAT_ADJ ='Reverse Credit on Stock Transfers' and a.date < @sdate  --and A.DATE <'' +CHAR(39)+CAST(@SDATE  AS VARCHAR)+CHAR(39)
--SELECT @AMTA2=SUM(a.NET_AMT) FROM  VATTBL  A INNER JOIN JVMAIN B ON A.tran_Cd=b.tran_cd  WHERE b.VAT_ADJ ='Reverse Credit on Exempt Sales' AND a.date < @sdate-- ( a.DATE BETWEEN @SDATE AND @EDATE) and BHENT='JV' 
--SELECT @AMTA3=SUM(A.NET_AMT) FROM VATTBL A INNER JOIN JVMAIN B ON A.tran_Cd=b.tran_cd WHERE VAT_ADJ ='Reverse Credit on Goods Damaged/Lost'  and a.date < @sdate-- AND  ( A.DATE BETWEEN @SDATE AND @EDATE)  and BHENT='JV' 
--SELECT @AMTA4=SUM(A.NET_AMT) FROM VATTBL A INNER JOIN JVMAIN B ON A.tran_Cd=b.tran_cd WHERE VAT_ADJ ='Reverse Credit on Others'  and a.date < @sdate-- AND  ( A.DATE BETWEEN @SDATE AND @EDATE)  and BHENT='JV' 
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
--SET @AMTA3=CASE WHEN @AMTA3 IS NULL THEN 0 ELSE @AMTA3 END
--SET @AMTA4=CASE WHEN @AMTA4 IS NULL THEN 0 ELSE @AMTA4 END

--SET @AMTA5=@AMTA1+@AMTA2+@AMTA3+@AMTA4
--INSERT INTO #FORMWBANN_F  (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5) VALUES  (1,'1','B',0,0,0,0,0)  

--- Total ( 1+2)
--SET @AMTA1=0
--SET @AMTA2=0
--SET @AMTA3=0
--SET @AMTA4=0
--SET @AMTA5=0
--SELECT @AMTA1=SUM(AMT1),@AMTA2=SUM(AMT2),@AMTA3=SUM(AMT3),@AMTA4=SUM(AMT4),@AMTA5=SUM(AMT5) FROM #FORMWBANN_F WHERE  PARTSR='1'
--SELECT @AMTA11=SUM(AMT1),@AMTA22=SUM(AMT2),@AMTA33=SUM(AMT3),@AMTA44=SUM(AMT4),@AMTA55=SUM(AMT5) FROM #FORMWBANN_F WHERE  PARTSR='2'
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
--SET @AMTA22=CASE WHEN @AMTA22 IS NULL THEN 0 ELSE @AMTA22 END
--SET @AMTA3=CASE WHEN @AMTA3 IS NULL THEN 0 ELSE @AMTA3 END
--SET @AMTA3=CASE WHEN @AMTA33 IS NULL THEN 0 ELSE @AMTA33 END
--SET @AMTA4=CASE WHEN @AMTA4 IS NULL THEN 0 ELSE @AMTA4 END
--SET @AMTA44=CASE WHEN @AMTA44 IS NULL THEN 0 ELSE @AMTA44 END
--SET @AMTA5=CASE WHEN @AMTA5 IS NULL THEN 0 ELSE @AMTA5 END
--SET @AMTA55=CASE WHEN @AMTA55 IS NULL THEN 0 ELSE @AMTA55 END
--SET @AMTA5=@AMTA1+@AMTA11+@AMTA2+@AMTA22+@AMTA3+@AMTA33+@AMTA4+@AMTA44

--INSERT INTO #FORMWBANN_F (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,AMT5) VALUES  (1,'1','C',@AMTA1+@AMTA11,@AMTA2+@AMTA22,@AMTA3+@AMTA33,@AMTA4+@AMTA44,@AMTA5)  

--3. Reverse credit for the tax period.( 1-2)
--SET @AMTA1=0
--SET @AMTA2=0
--SET @AMTA3=0
--SET @AMTA4=0
--SET @AMTA5=0
--SELECT @AMTA1=SUM(AMT1),@AMTA2=SUM(AMT2),@AMTA3=SUM(AMT3),@AMTA4=SUM(AMT4),@AMTA5=SUM(AMT5) FROM #FORMWBANN_F WHERE  PARTSR='1'
--SELECT @AMTA11=SUM(AMT1),@AMTA22=SUM(AMT2),@AMTA33=SUM(AMT3),@AMTA44=SUM(AMT4),@AMTA55=SUM(AMT5) FROM #FORMWBANN_F WHERE  PARTSR='2'
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
--SET @AMTA22=CASE WHEN @AMTA22 IS NULL THEN 0 ELSE @AMTA22 END
--SET @AMTA3=CASE WHEN @AMTA3 IS NULL THEN 0 ELSE @AMTA3 END
--SET @AMTA3=CASE WHEN @AMTA33 IS NULL THEN 0 ELSE @AMTA33 END
--SET @AMTA4=CASE WHEN @AMTA4 IS NULL THEN 0 ELSE @AMTA4 END
--SET @AMTA44=CASE WHEN @AMTA44 IS NULL THEN 0 ELSE @AMTA44 END
--SET @AMTA5=CASE WHEN @AMTA5 IS NULL THEN 0 ELSE @AMTA5 END
--SET @AMTA55=CASE WHEN @AMTA55 IS NULL THEN 0 ELSE @AMTA55 END
--SET @AMTA5=@AMTA1-@AMTA11+@AMTA2-@AMTA22+@AMTA3-@AMTA33+@AMTA4-@AMTA44

Update #FORMWBANN_F set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,'')--,RATE = isnull(RATE,0),
		             ,AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), AMT4 = isnull(AMT4,0),AMT5 = isnull(AMT5,0),AMT6 = ISNULL(AMT6,0)  
          
SELECT * FROM #FORMWBANN_F order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END






