set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

 -- =============================================
 -- Author:  Hetal L. Patel
 -- Create date: 16/05/2007
 -- Description: This Stored procedure is useful to generate RJ VAT FORM 12
 -- Modify date: 16/05/2007 
 -- Modified By: Madhavi Penumalli
 -- Modify date: 23/11/2009 
 -- =============================================
 -- Re-Modified By: Rakesh Varma
 -- Re-Modify date: 09/Feb/2010 
 -- =============================================
ALTER PROCEDURE [dbo].[USP_REP_RJ_FORM_12]
 @TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),
 @SDATE  SMALLDATETIME,@EDATE SMALLDATETIME,
 @SAC AS VARCHAR(60),@EAC AS VARCHAR(60),
 @SIT AS VARCHAR(60),@EIT AS VARCHAR(60),
 @SAMT FLOAT,@EAMT FLOAT,
 @SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60),
 @SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60),
 @SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60),
 @SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60),
 @LYN VARCHAR(20),
 @EXPARA  AS VARCHAR(60)= null
 AS
 BEGIN
 Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
 EXECUTE USP_REP_FILTCON 
 @VTMPAC=@TMPAC,@VTMPIT=@TMPIT,@VSPLCOND=@SPLCOND,
 @VSDATE=@SDATE,@VEDATE=@EDATE,
 @VSAC =@SAC,@VEAC =@EAC,
 @VSIT=@SIT,@VEIT=@EIT,
 @VSAMT=@SAMT,@VEAMT=@EAMT,
 @VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
 @VSCATE=@SCATE,@VECATE=@ECATE,
 @VSWARE=@SWARE,@VEWARE =@EWARE,
 @VSINV_SR=@SINV_SR,@VEINV_SR=@SINV_SR,
 @VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL,
 @VDTFLD ='DATE',@VLYN=NULL,
 @VEXPARA=@EXPARA,@VFCON =@FCON OUTPUT
 
 DECLARE @SQLCOMMAND NVARCHAR(4000)

 DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),
         @AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),
         @AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),
         @AMTO1 NUMERIC(12,2)

 DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),
         @AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),
         @AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)

 --DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)
 
 SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) 
 INTO #VATAC_MAST
 FROM STAX_MAS
 WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''

 INSERT INTO #VATAC_MAST 
 SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) 
 FROM STAX_MAS
 WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>'' 

 Declare @NetEff as numeric (12,2),@NetTax as numeric (12,2)

----------------------------------------------------------------------------------------------------------

----ORIGINAL Temporary Cursor1

SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,
M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,
TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM,
ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,
Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
INTO #RJ_FORM_12
FROM PTACDET A 
INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

alter table #RJ_FORM_12 add recno int identity
----------------------------------------------------------------------------------------------------------

----Temporary Cursor1
--SELECT
--B.BHENT,B.INV_NO,B.Date,B.AC_NAME,B.AMT_TY,B.TAX_NAME,B.SET_APP,B.ST_TYPE,B.NET_AMT,B.GRO_AMT,B.TAXONAMT,B.PER,
--B.MTAXAMT,B.TAXAMT,B.FORM_NM,B.PARTY_NM,B.S_TAX,B.U_IMPORM,B.ADDRESS,B.TRAN_CD,B.VATONAMT,B.Dbname,B.ItemType,
--SI.ITEM
--INTO #RJ_FORM_12 
--FROM
--(SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,
--M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,
--TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM,
--ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,
--Dbname=space(20),ItemType=space(1)
----INTO #RJ_FORM_12
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)) AS B INNER JOIN SRITEM SI
--ON (B.BHENT = SI.ENTRY_TY AND B.TRAN_CD = SI.TRAN_CD)
--WHERE 1=2
--INNER JOIN SRITEM SI ON (BHENT = SI.ENTRY_TY)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #RJ_FORM_12 add recno int identity

---Temporary Cursor2

SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,
SR_INV_NO=M.INV_NO,
SR_DATE = M.DATE,
SR_ITEM = SPACE(100),
--SR_PARTY_NM=AC1.AC_NAME,
SR_PARTY_NM=AC1.CITY,
SR_AMT1=NET_AMT,
SR_AMT2=M.TAXAMT,
BHENT_SR = SPACE(5),

PR_INV_NO=M.INV_NO,
PR_DATE = M.DATE,
PR_ITEM = SPACE(100),
--PR_PARTY_NM=AC1.AC_NAME,
PR_PARTY_NM=AC1.CITY,
PR_AMT1=NET_AMT,
PR_AMT2=M.TAXAMT,
BHENT_PR = SPACE(5)                                         
INTO #RJ_FORM12
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

alter table #RJ_FORM12 add recno int identity
--------------------------------------------------------------------------------------------------------------
--Original 

--SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,M.INV_NO,M.DATE,
--PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
--INTO #RJ_FORM12
--FROM PTACDET A 
--INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2
--------------------------------------------------------------------------------------------------------------

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo  #RJ_FORM_12 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo  #RJ_FORM_12 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
        --SELECT * FROM #RJ_FORM_12
	End

-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''

--->PART 1-5 

SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,
       @AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

----------------------------------------------------------------------------------------------------------------

--SELECT RF.BHENT,RF.INV_NO,RF.Date,RF.ST_TYPE,RF.NET_AMT,RF.TAXAMT,RF.PARTY_NM,SI.ITEM
--FROM #RJ_FORM_12 RF INNER JOIN SRITEM SI
--ON (RF.BHENT = SI.ENTRY_TY AND RF.TRAN_CD = SI.TRAN_CD)
--WHERE RF.BHENT = 'SR'

 --SALES RETURNS

 DECLARE @BHENT VARCHAR(200),@INV_NO VARCHAR(200),@Date VARCHAR(200),@ST_TYPE VARCHAR(200),@CHAR INT,
         @NET_AMT VARCHAR(200),@PARTY_NM VARCHAR(200),@ITEM VARCHAR(200),@TAXAMT VARCHAR(200)

 SET @CHAR=65

 DECLARE #RJ_FORM_12 CURSOR FOR 
 SELECT RF.BHENT,RF.INV_NO,RF.Date,RF.ST_TYPE,RF.NET_AMT,RF.TAXAMT,RF.PARTY_NM,SI.ITEM
 FROM #RJ_FORM_12 RF INNER JOIN LITEM_VW SI
 ON (RF.BHENT = SI.ENTRY_TY AND RF.TRAN_CD = SI.TRAN_CD)
 WHERE RF.BHENT IN ('SR','CN') AND (RF.DATE BETWEEN @SDATE AND @EDATE)
 
 OPEN #RJ_FORM_12

 FETCH NEXT FROM #RJ_FORM_12 INTO @BHENT,@INV_NO,@Date,@ST_TYPE,@NET_AMT,@TAXAMT,@PARTY_NM,@ITEM

 WHILE (@@FETCH_STATUS=0)
 BEGIN 

 INSERT INTO #RJ_FORM12 (PART,PARTSR,SRNO,RATE,SR_INV_NO,SR_DATE,SR_ITEM,SR_PARTY_NM,SR_AMT1,SR_AMT2,BHENT_SR) 
                 VALUES (1,'1',CHAR(@CHAR),0,@INV_NO,@Date,@ITEM,@PARTY_NM,@NET_AMT,@TAXAMT,@BHENT)

 SET @CHAR = @CHAR + 1

 FETCH NEXT FROM #RJ_FORM_12 INTO @BHENT,@INV_NO,@Date,@ST_TYPE,@NET_AMT,@TAXAMT,@PARTY_NM,@ITEM

 END 

 CLOSE #RJ_FORM_12
 DEALLOCATE #RJ_FORM_12

----------------------------------------------------------------------------------------------------------------
--PURCHASE RETURNS

 DECLARE @DES_COUNT INT,@SRC_COUNT INT

 SET @DES_COUNT = 0
 SET @SRC_COUNT = 0

 SET @DES_COUNT =  (SELECT COUNT(*) FROM #RJ_FORM12)

 SELECT @BHENT = '' ,@INV_NO = '',@Date = '',@ST_TYPE = '',@CHAR = '',@NET_AMT = '',
        @PARTY_NM = '',@ITEM = '',@TAXAMT = '' 

 SET @CHAR=65

 DECLARE #RJ_FORM12 CURSOR FOR 
 SELECT RF.BHENT,RF.INV_NO,RF.Date,RF.ST_TYPE,RF.NET_AMT,RF.TAXAMT,RF.PARTY_NM,SI.ITEM
 FROM #RJ_FORM_12 RF INNER JOIN LITEM_VW SI
 ON (RF.BHENT = SI.ENTRY_TY AND RF.TRAN_CD = SI.TRAN_CD)
 WHERE RF.BHENT IN ('PR','DN') AND (RF.DATE BETWEEN @SDATE AND @EDATE)
 
 OPEN #RJ_FORM12

 FETCH NEXT FROM #RJ_FORM12 INTO @BHENT,@INV_NO,@Date,@ST_TYPE,@NET_AMT,@TAXAMT,@PARTY_NM,@ITEM
 
 SET @SRC_COUNT = 1

 WHILE (@@FETCH_STATUS=0)
 BEGIN

		 IF @DES_COUNT >= @SRC_COUNT
		  
		 BEGIN

          UPDATE #RJ_FORM12
          SET PR_INV_NO=@INV_NO,
              PR_DATE=@Date,
              PR_ITEM=@ITEM,
              PR_PARTY_NM=@PARTY_NM,
              PR_AMT1=@NET_AMT,
              PR_AMT2=@TAXAMT,
              BHENT_PR=@BHENT
           WHERE SRNO = CHAR(@CHAR)

		 END

         ELSE 
 
		 BEGIN

		 INSERT INTO #RJ_FORM12 (PART,PARTSR,SRNO,RATE,PR_INV_NO,PR_DATE,PR_ITEM,PR_PARTY_NM,PR_AMT1,PR_AMT2,BHENT_PR) 
						 VALUES (1,'1',CHAR(@CHAR),0,@INV_NO,@Date,@ITEM,@PARTY_NM,@NET_AMT,@TAXAMT,@BHENT)

		 END 

 SET @CHAR = @CHAR + 1
 SET @SRC_COUNT = @SRC_COUNT + 1

 FETCH NEXT FROM #RJ_FORM12 INTO @BHENT,@INV_NO,@Date,@ST_TYPE,@NET_AMT,@TAXAMT,@PARTY_NM,@ITEM

 END 

 CLOSE #RJ_FORM12
 DEALLOCATE #RJ_FORM12
----------------------------------------------------------------------------------------------------------------





--INSERT INTO #RJ_FORM12 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,Party_nm,ITEM,BHENT) 
--VALUES (1,'1','A',0,@AMTA1,0,0,'','','','')
--
--INSERT INTO #RJ_FORM12 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,AMT4,Party_nm,ITEM,BHENT) 
--VALUES (1,'1','B',0,@AMTA1,0,0,'','','','')

---1

 
--Update #RJ_FORM12 
--set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
--RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
-- AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
--PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
--FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),

SELECT * FROM #RJ_FORM12 
order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 
else 1 end) as int), partsr,SRNO
 
 END

set ANSI_NULLS OFF
--Print 'RJ VAT FORM 12'

