DROP PROCEDURE [USP_REP_ACMAST]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		
-- CREATE DATE: 
-- DESCRIPTION:	THIS STORED PROCEDURE IS USEFUL TO GENERATE Account Master Report.
-- Modification Date/By/Reason: 02/09/2009 Rupesh Prajapati. Add Filter Condition @fcon.
-- Modification Date/By/Reason: 06/02/2010 Rupesh Prajapati. Changes done for L2S-55. 
-- Remark: 
-- =============================================
Create PROCEDURE [USP_REP_ACMAST]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null

AS
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT ='',@VSPLCOND =''
,@VSDATE=null
 ,@VEDATE=null
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=null,@VEIT=null
,@VSAMT=null,@VEAMT=null
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='',@VITFILE='',@VACFILE=''
,@VDTFLD =''
,@VLYN =NULL
,@VEXPARA=''
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @AC_NAME AS VARCHAR(100),@AC_ID AS INT
DECLARE @VGACNM1 AS VARCHAR(100)
declare @VGACID1  AS INT,@VGACID2  AS INT,@LVL AS INT
DECLARE @ParmDefinition nvarchar(500)
SET @ParmDefinition = N'@VGACNM11 VARCHAR(100)'

DECLARE @GACNM1 AS VARCHAR(100),@GACID1  AS INT,@GACNM2 AS VARCHAR(100),@GACID2  AS INT,@GACNM3 AS VARCHAR(100),@GACID3  AS INT,@GACNM4 AS VARCHAR(100),@GACID4  AS INT,@GACNM5 AS VARCHAR(100),@GACID5  AS INT
DECLARE @GACNM6 AS VARCHAR(100),@GACID6  AS INT,@GACNM7 AS VARCHAR(100),@GACID7  AS INT,@GACNM8 AS VARCHAR(100),@GACID8  AS INT,@GACNM9 AS VARCHAR(100),@GACID9  AS INT,@GACNM10 AS VARCHAR(100),@GACID10  AS INT
DECLARE @GACNM11 AS VARCHAR(100),@GACID11  AS INT,@GACNM12 AS VARCHAR(100),@GACID12  AS INT,@GACNM13 AS VARCHAR(100),@GACID13  AS INT,@GACNM14 AS VARCHAR(100),@GACID14  AS INT,@GACNM15 AS VARCHAR(100),@GACID15  AS INT
DECLARE @GACNM16 AS VARCHAR(100),@GACID16  AS INT,@GACNM17 AS VARCHAR(100),@GACID17  AS INT,@GACNM18 AS VARCHAR(100),@GACID18  AS INT,@GACNM19 AS VARCHAR(100),@GACID19  AS INT,@GACNM20 AS VARCHAR(100),@GACID20  AS INT
DECLARE @GACNM21 AS VARCHAR(100),@GACID21  AS INT,@GACNM22 AS VARCHAR(100),@GACID22  AS INT,@GACNM23 AS VARCHAR(100),@GACID23  AS INT,@GACNM24 AS VARCHAR(100),@GACID24  AS INT,@GACNM25 AS VARCHAR(100),@GACID25  AS INT
DECLARE @GACNM26 AS VARCHAR(100),@GACID26  AS INT,@GACNM27 AS VARCHAR(100),@GACID27  AS INT,@GACNM28 AS VARCHAR(100),@GACID28  AS INT,@GACNM29 AS VARCHAR(100),@GACID29  AS INT,@GACNM30 AS VARCHAR(100),@GACID30  AS INT


SELECT AC_NAME,AC_ID=999999999
,GACNM1=[GROUP],GACID1=999999999 ,GACNM2=[GROUP],GACID2=999999999,GACNM3=[GROUP],GACID3=999999999,GACNM4=[GROUP],GACID4=999999999,GACNM5=[GROUP],GACID5=999999999
,GACNM6=[GROUP],GACID6=999999999 ,GACNM7=[GROUP],GACID7=999999999,GACNM8=[GROUP],GACID8=999999999,GACNM9=[GROUP],GACID9=999999999,GACNM10=[GROUP],GACID10=999999999
,GACNM11=[GROUP],GACID11=999999999 ,GACNM12=[GROUP],GACID12=999999999,GACNM13=[GROUP],GACID13=999999999,GACNM14=[GROUP],GACID14=999999999,GACNM15=[GROUP],GACID15=999999999
,GACNM16=[GROUP],GACID16=999999999 ,GACNM17=[GROUP],GACID17=999999999,GACNM18=[GROUP],GACID18=999999999,GACNM19=[GROUP],GACID19=999999999,GACNM20=[GROUP],GACID20=999999999
,GACNM21=[GROUP],GACID21=999999999 ,GACNM22=[GROUP],GACID22=999999999,GACNM23=[GROUP],GACID23=999999999,GACNM24=[GROUP],GACID24=999999999,GACNM25=[GROUP],GACID25=999999999
,GACNM26=[GROUP],GACID26=999999999 ,GACNM27=[GROUP],GACID27=999999999,GACNM28=[GROUP],GACID28=999999999,GACNM29=[GROUP],GACID29=999999999,GACNM30=[GROUP],GACID30=999999999

INTO #BALS1
 FROM AC_MAST  WHERE 1=2

--SELECT *  FROM #BALS1





DECLARE  C1BALS CURSOR FOR 
SELECT AC_NAME,AC_ID,[GROUP],AC_GROUP_ID FROM  AC_MAST WHERE AC_NAME<>'' ORDER BY AC_NAME
OPEN C1BALS
FETCH NEXT FROM C1BALS INTO @AC_NAME,@AC_ID,@VGACNM1,@VGACID1
WHILE @@FETCH_STATUS=0
BEGIN

	SELECT @GACNM1=' ',@GACID1=0,@GACNM2=' ',@GACID2=0,@GACNM3=' ',@GACID3=0,@GACNM4=' ',@GACID4=0,@GACNM5=' ',@GACID5=0
	SELECT @GACNM6=' ',@GACID6=0,@GACNM7=' ',@GACID7=0,@GACNM8=' ',@GACID8=0,@GACNM9=' ',@GACID9=0,@GACNM10=' ',@GACID10=0
	SELECT @GACNM11=' ',@GACID11=0,@GACNM12=' ',@GACID12=0,@GACNM13=' ',@GACID13=0,@GACNM14=' ',@GACID14=0,@GACNM15=' ',@GACID15=0
	SELECT @GACNM16=' ',@GACID16=0,@GACNM17=' ',@GACID17=0,@GACNM18=' ',@GACID18=0,@GACNM19=' ',@GACID19=0,@GACNM20=' ',@GACID20=0
	SELECT @GACNM21=' ',@GACID21=0,@GACNM22=' ',@GACID22=0,@GACNM23=' ',@GACID23=0,@GACNM24=' ',@GACID24=0,@GACNM25=' ',@GACID25=0
	SELECT @GACNM26=' ',@GACID26=0,@GACNM27=' ',@GACID27=0,@GACNM28=' ',@GACID28=0,@GACNM29=' ',@GACID29=0,@GACNM30=' ',@GACID30=0
	
	SELECT @GACNM1=(CASE WHEN @VGACNM1 IS NULL THEN ' ' ELSE @VGACNM1 END),@GACID1=(CASE WHEN @VGACID1 IS NULL THEN 0 ELSE @VGACID1 END)--,@LVL=(CASE WHEN @VGACID1 IS NULL THEN 0 ELSE 1 END)
	
	--SET @SQLCOMMAND=' SELECT @GACNM1='+'''ABCL'''
	--PRINT @SQLCOMMAND	--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	INSERT INTO #BALS1 (
	AC_NAME,AC_ID
	,GACNM1,GACID1 ,GACNM2,GACID2,GACNM3,GACID3,GACNM4,GACID4,GACNM5,GACID5
	,GACNM6,GACID6 ,GACNM7,GACID7,GACNM8,GACID8,GACNM9,GACID9,GACNM10,GACID10
	,GACNM11,GACID11,GACNM12,GACID12,GACNM13,GACID13,GACNM14,GACID14,GACNM15,GACID15
	,GACNM16,GACID16 ,GACNM17,GACID17,GACNM18,GACID18,GACNM19,GACID19,GACNM20,GACID20
	,GACNM21,GACID21 ,GACNM22,GACID22,GACNM23,GACID23,GACNM24,GACID24,GACNM25,GACID25
	,GACNM26,GACID26 ,GACNM27,GACID27,GACNM28,GACID28,GACNM29,GACID29,GACNM30,GACID30
	) VALUES
	 (@AC_NAME,@AC_ID
	,@GACNM1,@GACID1 ,@GACNM2,@GACID2,@GACNM3,@GACID3,@GACNM4,@GACID4,@GACNM5,@GACID5
	,@GACNM6,@GACID6 ,@GACNM7,@GACID7,@GACNM8,@GACID8,@GACNM9,@GACID9,@GACNM10,@GACID10
	,@GACNM11,@GACID11,@GACNM12,@GACID12,@GACNM13,@GACID13,@GACNM14,@GACID14,@GACNM15,@GACID15
	,@GACNM16,@GACID16,@GACNM17,@GACID17,@GACNM18,@GACID18,@GACNM19,@GACID19,@GACNM20,@GACID20
	,@GACNM21,@GACID21 ,@GACNM22,@GACID22,@GACNM23,@GACID23,@GACNM24,@GACID24,@GACNM25,@GACID25
	,@GACNM26,@GACID26 ,@GACNM27,@GACID27,@GACNM28,@GACID28,@GACNM29,@GACID29,@GACNM30,@GACID30
	)
	SET @LVL=1
	SET @VGACID2=0
	WHILE (@LVL>0)
	BEGIN
		SET @VGACID2=NULL	
		SET @LVL=@LVL+1
		SELECT @VGACID2=GAC_ID,@VGACNM1=[GROUP]  FROM AC_GROUP_MAST WHERE AC_GROUP_ID=@VGACID1 AND (AC_GROUP_ID<>GAC_ID)
		
		
		SET  @VGACNM1=(CASE WHEN @VGACID1 IS NULL THEN ' ' ELSE @VGACNM1 END)
		SET @VGACID1=(CASE WHEN @VGACID2 IS NULL   THEN 0  ELSE  @VGACID2  END)
		
--		SET @SQLCOMMAND=' UPDATE #BALS1 SET GACNM'+LTRIM(STR(@LVL))+'='+CHAR(39)+@VGACNM1+CHAR(39)+',GACID'+LTRIM(STR(@LVL))+'='+STR(@VGACID2)+' WHERE AC_ID='+STR(@AC_ID)
--		SET @LVL=(CASE WHEN @VGACID1= 0 THEN 0 ELSE @LVL END)
--		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND= N'UPDATE #BALS1 SET GACNM'+LTRIM(STR(@LVL))+'=@VGACNM11,GACID'+LTRIM(STR(@LVL))+'='+STR(@VGACID2)+' WHERE AC_ID='+STR(@AC_ID)
		print @SQLCOMMAND
		SET @LVL=(CASE WHEN @VGACID1= 0 THEN 0 ELSE @LVL END)
		EXECUTE SP_EXECUTESQL @SQLCOMMAND, @ParmDefinition,@VGACNM11=@VGACNM1
	END
	

	FETCH NEXT FROM C1BALS INTO @AC_NAME,@AC_ID,@VGACNM1,@VGACID1
END
CLOSE C1BALS
DEALLOCATE C1BALS
--SELECT *    FROM #BALS1 ORDER BY AC_NAME

SET @SQLCOMMAND='select ac_mast.ac_name as [Account Name],contact as [Contact Person],add1 as [Address1],add2 as [Address2] ,add3 as [Address3],city as [City],state,country,zip as [ZIP],phone as [Phone No.],Phoner as [Phone (Res.)],Fax,Email,cr_days as [Credit Days],typ as [Type]'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,i_tax as [Income Tax No.],s_tax as [Sales Tax No.],c_tax as [CST No.]' --commented for GST
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',Supp_type as [Supplier Type],District as [District],UID as [Unique ID],st_type as [GST Type]'--added for GST
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,GACNM1 AS [Group Level1],GACNM2 AS [Group Level2],GACNM3 AS [Group Level3],GACNM4 AS [Group Level4],GACNM5 AS [Group Level5]'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,GACNM6 AS [Group Level6],GACNM7 AS [Group Level7],GACNM8 AS [Group Level8],GACNM9 AS [Group Level9],GACNM5 AS [Group Level10]'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,GACNM11 AS [Group Level11],GACNM12 AS [Group Level12],GACNM13 AS [Group Level13],GACNM14 AS [Group Level14],GACNM15 AS [Group Level15]'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,GACNM16 AS [Group Level16],GACNM17 AS [Group Level17],GACNM18 AS [Group Level18],GACNM19 AS [Group Level19],GACNM20 AS [Group Level20]'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,GACNM21 AS [Group Level21],GACNM22 AS [Group Level22],GACNM23 AS [Group Level23],GACNM24 AS [Group Level24],GACNM25 AS [Group Level25]'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,GACNM26 AS [Group Level26],GACNM27 AS [Group Level27],GACNM28 AS [Group Level28],GACNM29 AS [Group Level29],GACNM30 AS [Group Level30],GSTIN As [GSTIN]'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' from ac_mast '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN #BALS1 AC1 ON (ac_mast.AC_ID=AC1.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
