DROP PROCEDURE [USP_REP_D3REG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [USP_REP_D3REG] 
	@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
	,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
	,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
	,@SAMT FLOAT,@EAMT FLOAT
	,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
	,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
	,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
	,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
	,@LYN VARCHAR(20)
	,@EXPARA  AS VARCHAR(60)= null

AS
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE
	,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='m',@VITFILE='it',@VACFILE=''
	,@VDTFLD ='DATE'
	,@VLYN =NULL
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

IF @FCON IS NOT NULL OR @FCON <> ''
BEGIN
	SET @FCON = @FCON + 'AND m.[RULE] = ''INDIGENIOUS'''
END

DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)

SET @SQLCOMMAND='SELECT it.TRAN_CD, it.ENTRY_TY, it.INV_NO, it.DATE, IT_MAST.IT_NAME as item, it_mast.rateunit,it.QTY, it.ITEM_NO, m.ARENO as U_AR3ANO,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'m.AREDATE as U_AR3ADATE,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'IT_DESC=(CASE WHEN ISNULL(IT_MAST.IT_ALIAS,'''')='''' THEN IT_MAST.IT_NAME ELSE IT_MAST.IT_ALIAS END),'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'MAILNAME=(CASE WHEN ISNULL(AC_MAST.MAILNAME,'''')='''' THEN AC_MAST.AC_NAME ELSE AC_MAST.MAILNAME END),'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'RINV_NO=case when isnull(it2.inv_no,'''') = '''' then it3.inv_no else it2.inv_no end,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'RINV_DT=case when isnull(it2.date,'''') = '''' then it3.date else it2.date end,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'ac_mast.add1,ac_mast.add2,ac_mast.add3,AC_MAST.ECCNO,AC_MAST.CITY,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'m.U_PINVNO, m.U_PINVDT,it.party_nm,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'it.EXAMT, it.U_CESSAMT, it.U_HCESAMT, it.CCDAMT, it.HCDAMT, it.U_CVDAMT,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'it.U_BASDUTY, it.U_CESSPER, it.U_HCESSPER, it.CCDPER, it.HCDPER, it.U_CVDPER,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'it.U_FREAMT, it.U_INSAMT,m.U_D3NO,m.U_D3DT,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'IT_MAST.P_UNIT, m.[RULE], it.U_ASSEAMT, it.RATE,it.itserial'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM PTITEM it INNER JOIN PTMAIN m ON (it.ENTRY_TY=m.ENTRY_TY AND it.TRAN_CD=m.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST ON (it.ITEM=IT_MAST.IT_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST ON (it.AC_ID=AC_MAST.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN PTITREF itr ON ( it.TRAN_CD=itr.TRAN_CD and itr.itserial=it.itserial)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN ARITEM it1 ON(itr.ITREF_TRAN=it1.TRAN_CD AND itr.RITSERIAL=it1.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN ARITREF m1 ON(it1.TRAN_CD=m1.TRAN_CD AND it1.ITSERIAL=m1.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN POITEM it2 ON(itr.ITREF_TRAN=it2.TRAN_CD AND itr.RITSERIAL=it2.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN POITEM it3 ON(m1.ITREF_TRAN=it3.TRAN_CD AND m1.RITSERIAL=it3.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND it.entry_ty = ''PT'''
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'ORDER BY it.DATE,it.inv_no'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
