IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_WB_CSTANNEXURE_F')
BEGIN
 DROP PROCEDURE USP_REP_WB_CSTANNEXURE_F
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXECUTE USP_REP_WB_CSTANNEXURE_F'','','','04/01/2011','03/31/2013','','','','',0,0,'','','','','','','','','2011-2013',''
*/
-- =============================================  
-- Author   :G.PRASHANTH REDDY
-- Create date: 14/06/2012
-- Description: This Stored procedure is useful to generate WB CST Form ANNEXURE-F
-- Modify date: 
-- Modified By: Sumit Gavate
-- Modify date: 31-05-2016
-- Remark     : Major changes done as per latest formate which issue by west benagal state government for bug - 27198
-- =============================================  

CREATE PROCEDURE [dbo].[USP_REP_WB_CSTANNEXURE_F]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2),@u_removdt SMALLDATETIME

---Temporary Cursor
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
STM.FORM_NM,AC1.S_TAX,Item=space(50),st_type=SPACE(20),Qty=9999999999999999999.9999,IT_TYPE=IT.P_UNIT,STATE=SPACE(20),M.u_removdt
INTO #FORMLP1
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STITEM I ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN IT_MAST IT ON (I.IT_CODE=IT.IT_CODE)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_LP1 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND

			SET @CHAR=65
			Declare cur_formLP1aa cursor for
--			SELECT	 DISTINCT PER=0,A.TAXONAMT,A.TAXAMT,ITEMAMT=E.GRO_AMT,INV_NO=H.U_PINVNO,DATE=H.U_PINVDT,E.DATE,ADDRESS=(RTRIM(PAC.MAILNAME)+' '+RTRIM(PAC.ADD1)+' '+RTRIM(PAC.ADD2)+' '+RTRIM(PAC.ADD3)),E.ITEM,h.FORM_NM,PAC.S_TAX,E.QTY,PAC.STATE            
--			FROM #FORM_LP1 A            
--			 INNER  JOIN  PTITEM E ON A.BHENT=E.ENTRY_TY AND A.TRAN_CD=E.TRAN_CD  AND A.ITSERIAL=E.ITSERIAL and a.DBNAME=B.DBNAME
--             INNER JOIN PTMAIN H ON H.ENTRY_TY=E.ENTRY_TY AND H.TRAN_CD=E.TRAN_CD   and a.DBNAME=B.DBNAME
--			 INNER JOIN AC_MAST PAC ON PAC.AC_ID =E.AC_ID  and a.DBNAME=B.DBNAME
--			WHERE  A.ST_TYPE = 'OUT OF STATE'   AND (A.DATE BETWEEN @SDATE AND @EDATE) 

		SELECT distinct A.PER,TAXONAMT=VATONAMT,A.TAXAMT,ITEMAMT=e.gro_amt,A.INV_NO,A.DATE,PARTY_NM=SAC.MAILNAME,ADDRESS=RTRIM (SAC.ADD1)+' '+RTRIM(SAC.ADD2)+'  '+RTRIM(SAC.ADD3),E.ITEM,H.FORM_NO,A.S_TAX,E.QTY,Sac.State
		FROM #FORM_LP1 A  
		INNER JOIN IT_MAST ON (A.IT_CODE=IT_MAST.IT_CODE) and a.DBNAME=B.DBNAME
		Inner Join VATITEM_VW e On(A.Bhent = e.Entry_ty And A.Tran_cd = e.Tran_cd and a.it_code=e.it_code and a.itserial=e.itserial) and a.DBNAME=B.DBNAME
		INNER JOIN VATMAIN_VW H ON A.BHENT=H.ENTRY_TY AND A.TRAN_CD=H.TRAN_cD  and a.DBNAME=B.DBNAME
		INNER JOIN AC_MAST SAC ON SAC.AC_ID =H.AC_ID  and a.DBNAME=B.DBNAME
		WHERE SAC.ST_TYPE='OUT OF STATE' AND A.BHENT='ST'  AND SAC.C_TAX <> ''  AND (A.DATE BETWEEN @SDATE AND @EDATE)
    	ORDER BY A.INV_NO

   End
else
	Begin ------Fetch Single Co. Data
		 --Code Modify By Sumit Gavate Dated on - 31-05-2015 for bug - 27198 - Start
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
		 SET @CHAR=65
		 Declare cur_formLP1aa cursor for

		 SELECT PER=0,TAXONAMT=VATONAMT,A.TAXAMT,ITEMAMT=A.VATONAMT + A.TAXAMT,A.INV_NO,A.DATE,PARTY_NM=A.AC_Name,A.ADDRESS,I.IT_Name,FORM_NO=stm.u_vehno,
		 A.S_TAX,E.QTY,Sac.State,IT_TYPE=I.P_UNIT,st_type=stm.u_deli,stm.u_removdt FROM VATTBL A INNER JOIN IT_MAST I ON (A.IT_CODE=I.IT_CODE)
		 INNER JOIN VATITEM_VW e On(A.Bhent = e.Entry_ty AND A.Tran_cd = e.Tran_cd AND a.it_code=e.it_code and a.itserial=e.itserial)
		 INNER JOIN VATMAIN_VW H ON A.BHENT=H.ENTRY_TY AND A.TRAN_CD=H.TRAN_cD INNER JOIN AC_MAST SAC ON SAC.AC_ID =H.AC_ID 
		 INNER JOIN stmain stm on (stm.ac_id=h.ac_id and stm.tran_cd=h.tran_cd)
		 WHERE SAC.ST_TYPE='OUT OF STATE' AND A.BHENT='ST' AND A.U_IMPORM in ('Consignment Transfer','BRANCH TRANSFER') AND A.S_TAX <> '' 
		 AND (A.DATE BETWEEN @SDATE AND @EDATE) AND LTRIM(RTRIM(REPLACE(REPLACE(A.RFORM_NM,'-',''),'FORM','')))='F' ORDER BY A.INV_NO
End
SET @CHAR=65
Declare @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(10),@DATE as smalldatetime,
		@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(30),@S_TAX as varchar(30),
		@QTY as numeric(18,4),@STATE as varchar(20),@IT_TYPE as varchar(20),@ST_TYPE as varchar(20)--U_REMOVDT as smalldatetime
SELECT @TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',
		@QTY=0,@state='',@IT_TYPE='',@ST_TYPE='',@U_REMOVDT=''
OPEN CUR_FORMLP1aa
FETCH NEXT FROM CUR_FORMLP1aa INTO @PER,@TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@ITEM,@FORM_NM,@S_TAX,@QTY,@STATE, @IT_TYPE,@ST_TYPE,@U_REMOVDT
WHILE (@@FETCH_STATUS=0)
BEGIN
	INSERT INTO #FORMLP1 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,ITEM,FORM_NM,S_TAX,Qty,STATE,IT_TYPE,ST_TYPE,U_REMOVDT)
    VALUES (1,'2',CHAR(@CHAR),ISNULL(@PER,0),ISNULL(@TAXONAMT,0),ISNULL(@TAXAMT,0),ISNULL(@ITEMAMT,0),ISNULL(@INV_NO,''),ISNULL(@DATE,''),ISNULL(@PARTY_NM,''),
    ISNULL(@ADDRESS,''),ISNULL(@ITEM,''),ISNULL(@FORM_NM,''),ISNULL(@S_TAX,''),ISNULL(@QTY,0),ISNULL(@State,''),ISNULL(@IT_TYPE,''),
    ISNULL(@ST_TYPE,''),ISNULL(@U_REMOVDT,''))
	
	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMLP1aa INTO @PER,@TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@ITEM,@FORM_NM,@S_TAX,@QTY,@STATE,@IT_TYPE,@ST_TYPE,@U_REMOVDT 
END
CLOSE CUR_FORMLP1aa
DEALLOCATE CUR_FORMLP1aa
--Code Modify By Sumit Gavate Dated on - 31-05-2015 for bug - 27198 - End

Update #formLP1 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,''),U_REMOVDT= isnull(U_REMOVDT,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),

SELECT * FROM #FORMLP1 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END

--Print 'WB CST FORM LP 01'