set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[USP_ENT_LTH_PAGENO] 
@ITCD AS INT ,@U_PAGENO VARCHAR(10) OUTPUT
AS
DECLARE @TU_PAGENO INT,@RG23_SRNO CHAR(1),@ITGRID AS INT

SELECT @RG23_SRNO=RG23_SRNO FROM MANUFACT


IF @RG23_SRNO='I'
BEGIN
	
	SELECT  @TU_PAGENO=MAX(CAST(U_PAGENO AS INT))  FROM STKL_VW_ITEM WHERE IT_CODE=@ITCD
END
ELSE 
BEGIN
	IF @RG23_SRNO='G'
	BEGIN
		SELECT @ITGRID=ITGRID FROM IT_MAST WHERE IT_CODE=@ITCD
		SELECT  @TU_PAGENO=MAX(CAST(A.U_PAGENO AS INT))  FROM STKL_VW_ITEM A INNER JOIN IT_MAST B ON (A.IT_CODE=B.IT_CODE) WHERE B.ITGRID=@ITGRID	
		
	END
	ELSE
	BEGIN
		SELECT  @TU_PAGENO=MAX(CAST(U_PAGENO AS INT))  FROM STKL_VW_ITEM
	END
END
SET @U_PAGENO=CAST(@TU_PAGENO+1 AS VARCHAR(10))
