IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_JH_CSTFORM01')
BEGIN
 DROP PROCEDURE USP_REP_JH_CSTFORM01
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
 -- Author:  Hetal L Patel
 -- Create date: 16/05/2007
 -- Description: This Stored procedure is useful to generate JH CST FORM 01
 -- Modify date: 16/05/2007 
 -- Modified By: Madhavi Penumalli
 -- Modify date:04/12/2009 (Updated)
 -- Modified By: G.Prashanth Reddy
 -- Modify date:07/03/2012 (Updated)
 -- =============================================
CREATE PROCEDURE [dbo].[USP_REP_JH_CSTFORM01]
 @TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
 ,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
 ,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
 ,@SAMT FLOAT,@EAMT FLOAT
 ,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
 ,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
 ,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
 ,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
 ,@LYN VARCHAR(20)
 ,@EXPARA  AS VARCHAR(60)= null
 AS
BEGIN
 Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
 EXECUTE   USP_REP_FILTCON 
 @VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
 ,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
 ,@VSAC =@SAC,@VEAC =@EAC
 ,@VSIT=@SIT,@VEIT=@EIT
 ,@VSAMT=@SAMT,@VEAMT=@EAMT
 ,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
 ,@VSCATE =@SCATE,@VECATE =@ECATE
 ,@VSWARE =@SWARE,@VEWARE  =@EWARE
 ,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
 ,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
 ,@VDTFLD ='DATE'
 ,@VLYN=NULL
 ,@VEXPARA=@EXPARA
 ,@VFCON =@FCON OUTPUT
 
 DECLARE @SQLCOMMAND NVARCHAR(4000)
 DECLARE @AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
 DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
 DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2)
 
SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

--Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)
------Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemTpye=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #FORM221_1
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #form221_1 add recno int identity

---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
INTO #FORM221
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo  #FORM221_1 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo  #FORM221_1 Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='Select * from '+@MCON
		--SET @SQLCOMMAND='Drop Table '+@MCON

		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----

--->PART 1-5 
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
--1) Gross Turnover received or receivable during the period, including
--  the State Turnovers, Branch Transfers / Sale outside the State /
--  Consignment Sales / Export Sales, and Inter-State Sales thereof .
select @AMTA1=SUM(VATONAMT) FROM VATTBL WHERE BHENT='ST'
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'1','A',0,@AMTA1,0,0,'')

--2) Deduct: Turnover under the State Law .
select @AMTA1 = 0
select @AMTA1=SUM(TAXAMT) FROM VATTBL WHERE BHENT='ST'
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'1','B',0,@AMTA1,0,0,'')

--3) Balance Turnover
select @AMTA1 = 0,@AMTA2 = 0
Select @AMTA1=Sum(Amt1) From #form221 Where Partsr = '1' and srno = 'A'
Select @AMTA2=Sum(Amt1) From #form221 Where Partsr = '1' and srno <> 'A'
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'1','C',0,@AMTA1-@AMTA2,0,0,'')

--4) Sales of goods outside the State / Consignment Sales outside the State (u/s 4 of the Act) / Branch Transfers (u/s 6A(1)) of the Act.
select @AMTA1 = 0,@AMTA2 = 0
select @AMTA1=SUM(VATONAMT) FROM VATTBL WHERE BHENT='ST' AND ST_TYPE IN ('OUT OF STATE')
select @AMTA2=SUM(VATONAMT) FROM VATTBL WHERE BHENT='ST'
AND u_imporm in ('Consignment Transfer u/s 4','Consignment Transfer Under Section 4','Branch Transfer u/s 6A(1)','Branch Transfer Under Section 6A(1)')
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'2','A',0,@AMTA1 + @AMTA2,0,0,'')

--5) Sales of goods in course of Export from India: (u/s 5(1) or 5(3) of the Act) .
select @AMTA1 = 0
select @AMTA1=SUM(VATONAMT) FROM VATTBL WHERE BHENT='ST' AND ST_TYPE IN ('OUT OF COUNTRY')
AND u_imporm in ('u/s 5(1)','Under Section 5(1)','u/s 5(3)','Under Section 5(3)')
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'2','B',0,@AMTA1,0,0,'')

--6) Less: Cash discount if any, cost of freight, delivery or installation charges; 
--  when such cost / charges is separately charged (refer section 2 (h) of the Act ).
select @AMTA1 = 0,@AMTA2 = 0
Select @AMTA1 = SUM(tot_add) FROM STMAIN
where entry_ty = 'ST' AND Inv_no in(Select Distinct inv_no from VATTBL) AND TRAN_CD in (Select Distinct Tran_cd from VATTBL)
Select @AMTA2 = SUM(tot_add) FROM STITEM
where entry_ty = 'ST' AND Inv_no in(Select Distinct inv_no from VATTBL) AND TRAN_CD in (Select Distinct Tran_cd from VATTBL)
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'2','C',0,@AMTA1 + @AMTA2,0,0,'')

--7) Less: Job work, labour & services charges for works contract; not
--  amounting to sales, but included in the Central Turnover (refer section 2 (h) of the Act ).
--- Modified by Sumit on Dated 26/08/2015 - Right Now we are not using Job work so it was blank
select @AMTA1 = 0,@AMTA2 = 0
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'2','D',0,@AMTA1,0,0,'')

--8) Less : Central Sales Tax Amount ; collected if any ( refer proviso of section 8A (1) (a) of the Act).
select @AMTA1 = 0
select @AMTA1=SUM(TaxAmt) FROM VATTBL WHERE BHENT='ST' AND ST_TYPE IN ('OUT OF STATE') 
AND LTRIM(RTRIM(REPLACE(REPLACE(Tax_name,'.',''),' ',''))) like '%CST%'
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'2','E',0,@AMTA1,0,0,'')

--9) Sale Price of Goods : returned by the purchaser; ( refer section 8(A)(1)(b) of the Act).
select @AMTA1 = 0
select @AMTA1=SUM(VATONAMT) FROM VATTBL WHERE BHENT='SR'
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'2','F',0,@AMTA1,0,0,'')

--10) Balance Turnover : Inter - State Sales
select @AMTA1 = 0,@AMTA2 = 0
Select @AMTA1=Sum(AMT1) From #form221 where Partsr = '1' And Srno = 'C'
Select @AMTA2=Sum(AMT1) From #form221 where Partsr = '2' And Srno in('A','B','C','D','E','F')
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
Set @AMTC1 = @AMTA1-@AMTA2
Set @AMTC1 = ISNULL(@AMTC1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'2','G',0,@AMTC1,0,0,'')

--11) Sales of goods u/s 6(2) read with u/s 3(b) of the Act and supported with the declarations / certificates u/s 8(4) (a) of the Act , read with
--   Rule 12 (1) and (4) of the Central Rules, but except turnover under section 9 (1) ; “proviso”, of the Act
select @AMTA1 = 0
Select @AMTA1 = sum(VATONAMT) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 6(2)','Under Section 6(2)') and A.BHENT = 'ST'
Set @AMTA1 = ISNULL(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'3','A',0,@AMTA1,0,0,'')

--12) Sales under Section 6(3) of the Act, subject to the restrictions specified in section 6(4) of the Act.
select @AMTA1 = 0
Select @AMTA1 = sum(VATONAMT) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 6(3)','Under Section 6(3)') and A.BHENT = 'ST'
Set @AMTA1 = ISNULL(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'3','B',0,@AMTA1,0,0,'')

--13) Sales of generally exempted goods, under the Sales Tax Law of the State ( refer section 8(2) (c) of the Act).
select @AMTA1 = 0
Select @AMTA1 = sum(VATONAMT) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 8(2)','Under Section 8(2)') and A.BHENT = 'ST' AND A.TAX_NAME in ('EXEMPTED','')
Set @AMTA1 = ISNULL(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'3','C',0,@AMTA1,0,0,'')

--14) Sales of goods notified under Section 8(5) of the Act, subject to the restrictions in Section 8(4) of the Act.
select @AMTA1 = 0
Select @AMTA1 = sum(VATONAMT) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 8(5)','Under Section 8(5)') and A.BHENT = 'ST'
Set @AMTA1 = ISNULL(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'3','D',0,@AMTA1,0,0,'')

--15) Sales of goods under Section 8(6) of the Act, subject to the restrictions specified in Section 8(8) 
--    of the Act and filing of declaration vide Subrule 11 of Rule 12 of the Central Rules.
select @AMTA1 = 0
Select @AMTA1 = sum(VATONAMT) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 8(6)','Under Section 8(6)') and A.BHENT = 'ST'
Set @AMTA1 = ISNULL(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'3','E',0,@AMTA1,0,0,'')

--16) Balance Taxable turn over
select @AMTA1 = 0,@AMTA2 = 0,@AMTB1 = 0
select @AMTA1=Sum(AMT1) FROM #FORM221 Where Partsr = '2' And SrNo = 'G'
select @AMTA2=Sum(AMT1) FROM #FORM221 Where Partsr = '3'
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
Set @AMTB1 = (@AMTA1 - @AMTA2)
Set @AMTB1 = isnull(@AMTB1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'3','F',0,@AMTB1,0,0,'')

--17) Sales liable to be taxed u/s 8(1) of the Act
select @AMTA1 = 0,@AMTA2 = 0
Select @AMTA1 = sum(A.VATONAMT),@AMTA2=Sum(A.TaxAMt) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 8(1)','Under Section 8(1)') and A.BHENT = 'ST'
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'4','A',0,@AMTA1,@AMTA2,0,'')

--18) Sales liable to be taxed u/s 8(2) of the Act
select @AMTA1 = 0,@AMTA2 = 0
Select @AMTA1 = sum(A.VATONAMT),@AMTA2=Sum(A.TaxAMt) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 8(2)','Under Section 8(2)') and A.BHENT = 'ST'
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'4','B',0,@AMTA1,@AMTA2,0,'')

--19) Sales liable to be taxed under section; “proviso” of sub section (1) of section 9 of the Act
select @AMTA1 = 0,@AMTA2 = 0
Select @AMTA1 = sum(A.VATONAMT),@AMTA2=Sum(A.TaxAMt) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 9(1)','Under Section 9(1)') and A.BHENT = 'ST'
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'4','C',0,@AMTA1,@AMTA2,0,'')

--20) Total Tax payable
select @AMTA1 = 0,@AMTA2 = 0
select @AMTA1=Sum(AMT1),@AMTA2=Sum(AMT2) FRom #form221 where Partsr = '4'
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'4','D',0,@AMTA1,@AMTA2,0,'')

--INSERT INTO #FORM221
-- (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES
-- (1,'4','E',0,@AMTA1,0,0,'')

--select @AMTA1=Sum(AMT1),@AMTA2=Sum(AMT2) FRom #form221 where Partsr = '4'
--Set @AMTA1 = isnull(@AMTA1,0)
--Set @AMTA2 = isnull(@AMTA2,0)
--INSERT INTO #FORM221
-- (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES
-- (1,'4','F',0,@AMTA1,@AMTA2,0,'')
--SET @AMTA1=0
--SET @AMTB1=0

--4
--5


--21) Add: Amount of interest: if any payable
select @AMTA1 = 0,@AMTA2 = 0
SELECT @AMTA1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = 'INTEREST'
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'5','A',0,@AMTA1,0,0,'')

--22) Add: Amount of penalty: if any payable
select @AMTA1 = 0,@AMTA2 = 0
SELECT @AMTA1=SUM(CASE WHEN A.BHENT='BP' THEN A.NET_AMT ELSE 0 END) 
FROM VATTBL A
Inner Join Bpmain B On(a.Bhent = B.Entry_ty And A.Tran_cd = B.Tran_cd)
Where B.U_NATURE = 'Penalty'
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'5','B',0,@AMTA1,0,0,'')

--23) Add: Amount of tax, interest and penalty : if any payable on account of filing of revised return (s)
select @AMTA1 = 0,@AMTA2 = 0
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'5','C',0,@AMTA1,0,0,'')

--24) Total Amount payable
select @AMTA1 = 0,@AMTA2 = 0
select @AMTA1=Sum(AMT2) FRom #form221 where Partsr = '4' and Srno = 'D'
select @AMTA2=Sum(AMT1) FRom #form221 where Partsr = '5'
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'5','D',0,@AMTA1+@AMTA2,0,0,'')

--25) Adjust  the  Amount  payable  in  Box  17 from  the  amount  as  Rs. shown  in  Box  53  of  Form  JVAT  -200,  of  Jharkhand  Value 
--    Added  Rules  2006  and;  for  the  purpose  of  annual  return Adjust  the  Amount  payable  in  Box  17:    from  the  amount  as 
--    shown  in  Box  12  (i)  of  Form  JVAT  -204,  of  Jharkhand  Value  Added Rules 2006
select @AMTA1 = 0,@AMTA2 = 0,@AMTB1 = 0,@AMTB2 = 0
--FOR 17
Select @AMTA1 = sum(A.VATONAMT),@AMTA2=Sum(A.TaxAMt) from VATTBl A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where B.u_imporm in ('u/s 8(1)','Under Section 8(1)') and A.BHENT = 'ST'
--FOR 53 From vat 200
SELECT @AMTA2=isnull(SUM(a.TAXAMT),0) FROM VATTBL a inner join IT_MAST b on (a.It_code =b.It_code)  where a.BHENT ='ST' AND a.U_IMPORM NOT IN('Branch Transfer','Consignment Transfer')
and a.TAX_NAME <> 'Exempted' and (a.date between @SDATE and @EDATE)  and a.ST_TYPE ='OUT OF STATE' AND a.S_TAX <> '' AND B.U_SHCODE NOT IN('Schedule-I','Schedule-II','Schedule I','Schedule II')
--FOR 12(i) From vat 204
SELECT @AMTB1=SUM(VATONAMT) FROM VATTBL  WHERE (st_type = 'Local') AND BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTB2 = @AMTA1 - (@AMTA2 - @AMTB1)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'5','E',0,@AMTB2,0,0,'')

--26) Balance Total net Amount payable
select @AMTA1 = 0,@AMTA2 = 0,@AMTB1 = 0
select @AMTA1=Sum(AMT1) FRom #form221 where Partsr = '5' And Srno = 'D'
select @AMTA2=Sum(AMT1) FRom #form221 where Partsr = '5' And Srno = 'E'
Set @AMTA1 = isnull(@AMTA1,0)
Set @AMTA2 = isnull(@AMTA2,0)
SET @AMTB1 = @AMTA1 - @AMTA2
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'5','F',0,@AMTB1,0,0,'')

--6                                     --ADDED BY PRASHANTHREDDY ON 7TH MARCH 2012

--27) Declaration of Inter-State Purchases/Arrivals by way of Transfer/Inter-state subsequent sales during
--    the quarter ending 30th June/30th September/31st December/31st March
--Declare @Count int,@Startmonth int,@Endmonth int
--SELECT @Count = 1,@Startmonth = 4,@Endmonth = 6
--WHILE (@Count <= 4)
--BEGIN
--	--(i) Details of Inter-State Purchases u/s 3(a)"
--	--SET @Startmonth = (CASE WHEN @COUNT =1 THEN 4 ELSE (CASE WHEN @COUNT = 2 THEN 7 ELSE (CASE WHEN @COUNT = 3 THEN 10 ELSE 1 END) END) END)
--	if @Count > 1
--	begin
--		SET @Startmonth = @Startmonth + 3
--		SET @Endmonth = @Endmonth + 3
--	end
--	if @Count = 4
--	BEGIn
--		SET @Startmonth = 1
--		SET @Endmonth = 3
--	END
--	select @AMTA1 = 0,@AMTA2 = 0	
--	select @AMTA1=Sum(A.VATONAMT),@AMTA2 = COUNT(A.Tax_Name) FRom VATTBL A INNER JOIN PTMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
--	where A.BHENT = 'PT' AND A.ST_TYPE IN ('OUT OF STATE') AND 
--	(MONTH(A.DATE) BETWEEN @Startmonth AND @Endmonth) AND A.Tax_Name in ('Form C','Form-C') AND B.u_imporm in ('u/s 3(a)','Under Section 3(a)')
--	Set @AMTA1 = isnull(@AMTA1,0)
--	INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'6','A',0,@AMTA1,@AMTA2,0,'')
--	SET @Count = @Count + 1
--END

--(i) Details of Inter-State Purchases u/s 3(a)"
select @AMTA1 = 0,@AMTA2 = 0
select @AMTA1=Sum(A.VATONAMT),@AMTA2 = COUNT(A.FORM_NM) FRom VATTBL A INNER JOIN PTMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where A.BHENT = 'PT' AND A.ST_TYPE IN ('OUT OF STATE') AND 
(A.DATE BETWEEN @SDATE AND @EDATE) AND LTRIM(RTRIM(REPLACE(REPLACE(A.FORM_NM,'-',''),'FORM','')))='C' AND B.u_imporm in ('u/s 3(a)','Under Section 3(a)')
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'6','A',0,@AMTA1,@AMTA2,0,'')

-- (ii) Details of Inter-State Purchases u/s 3(b)
select @AMTA1 = 0,@AMTA2 = 0
select @AMTA1=Sum(A.VATONAMT),@AMTA2 = COUNT(A.FORM_NM) FRom VATTBL A INNER JOIN PTMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where A.BHENT = 'PT' AND A.ST_TYPE IN ('OUT OF STATE') AND 
(A.DATE BETWEEN @SDATE AND @EDATE) AND LTRIM(RTRIM(REPLACE(REPLACE(A.FORM_NM,'-',''),'FORM','')))='C' AND B.u_imporm in ('u/s 3(b)','Under Section 3(b)')
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'6','B',0,@AMTA1,@AMTA2,0,'')

-- (iii) Details of subsequent sales by the sellers"
select @AMTA1 = 0,@AMTA2 = 0
select @AMTA1=Sum(A.VATONAMT),@AMTA2 = COUNT(A.RFORM_NM) FRom VATTBL A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where A.BHENT = 'ST' AND (A.DATE BETWEEN @SDATE AND @EDATE) AND LTRIM(RTRIM(REPLACE(REPLACE(A.RFORM_NM,'-',''),'FORM','')))='EI'
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'6','C',0,@AMTA1,@AMTA2,0,'')

-- (iv) Details of second subsequent sales"
select @AMTA1 = 0,@AMTA2 = 0
select @AMTA1=Sum(A.VATONAMT),@AMTA2 = COUNT(A.RFORM_NM) FRom VATTBL A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where A.BHENT = 'ST' AND (A.DATE BETWEEN @SDATE AND @EDATE) AND LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(A.RFORM_NM,'-',''),'FORM',''),' ','')))='EII'
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'6','D',0,@AMTA1,@AMTA2,0,'')

--(v) Detail of Inter-State arrivals by way of Stock Transfer from Outside the State"
select @AMTA1 = 0,@AMTA2 = 0
select @AMTA1=Sum(A.VATONAMT),@AMTA2 = COUNT(A.RFORM_NM) FRom VATTBL A INNER JOIN STMAIN B on (A.BHENT = B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
where A.BHENT = 'ST' AND (A.DATE BETWEEN @SDATE AND @EDATE) AND LTRIM(RTRIM(REPLACE(REPLACE(A.RFORM_NM,'-',''),'FORM','')))='F'
AND A.ST_TYPE IN ('OUT OF STATE') AND B.U_Imporm in('Consignment Transfer','Branch Transfer')
Set @AMTA1 = isnull(@AMTA1,0)
INSERT INTO #FORM221(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES(1,'6','E',0,@AMTA1,@AMTA2,0,'')

Update #form221 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),

 SELECT * FROM #FORM221 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int), partsr,SRNO
 
 END

set ANSI_NULLS OFF
--Print 'JH CST FORM 01'