set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 16/06/2007
-- Description:	This is useful to Generate AcDetAlloc Table Records for Service Tax.
-- Modification Date/By/Reason: 
-- Remark: 
-- =============================================
ALTER Procedure [dbo].[usp_Generate_AcDetalloc]
as

/*EP Entry--->*/
insert into acdetalloc(entry_ty,tran_cd,serty,amount,sabtper,sabtamt,seravail,serbamt,sercamt,serhamt,staxable) 
select m.entry_ty,m.tran_cd,m.serty,amount=m.gro_amt,m.sabtper,m.sabtamt,m.seravail
,serbamt=m.serbamt
,sercamt=m.sercamt
,serhamt=m.serhamt
,staxable=(m.gro_amt-m.sabtamt)
from epmain m
where m.entry_ty+cast(m.tran_cd as varchar) not in (select distinct entry_ty+cast(tran_cd as varchar) from acdetalloc)
and isnull(m.serty,'')<>''
/*<---EP*/
/*BP Advance--->*/
insert into acdetalloc(entry_ty,tran_cd,serty,amount,sabtper,sabtamt,seravail,serbamt,sercamt,serhamt,staxable) 
select m.entry_ty,m.tran_cd,m.serty,amount=m.gro_amt,m.sabtper,m.sabtamt,m.seravail
,serbamt=m.serbamt
,sercamt=m.sercamt
,serhamt=m.serhamt
,staxable=(m.gro_amt-m.sabtamt)
from bpmain m
where m.tdspaytype=2
and isnull(m.serty,'')<>''
and m.entry_ty+cast(m.tran_cd as varchar) not in (select distinct entry_ty+cast(tran_cd as varchar) from acdetalloc)
/*<---BP Advance*/
/*CP Advance--->*/
insert into acdetalloc(entry_ty,tran_cd,serty,amount,sabtper,sabtamt,seravail,serbamt,sercamt,serhamt,staxable) 
select m.entry_ty,m.tran_cd,m.serty,amount=m.gro_amt,m.sabtper,m.sabtamt,m.seravail
,serbamt=m.serbamt
,sercamt=m.sercamt
,serhamt=m.serhamt
,staxable=(m.gro_amt-m.sabtamt)
from cpmain m
where m.tdspaytype=2
and isnull(m.serty,'')<>''
and m.entry_ty+cast(m.tran_cd as varchar) not in (select distinct entry_ty+cast(tran_cd as varchar) from acdetalloc)
/*<---CP Advance*/

/*SB Entry--->*/
insert into acdetalloc(entry_ty,tran_cd,serty,amount,sabtper,sabtamt,seravail,serbamt,sercamt,serhamt,staxable) 
select m.entry_ty,m.tran_cd,m.serty,amount=m.gro_amt,m.sabtper,m.sabtamt,m.seravail
,serbamt=m.serbamt
,sercamt=m.sercamt
,serhamt=m.serhamt
,staxable=(m.gro_amt-m.sabtamt)
from SBmain m
where m.entry_ty+cast(m.tran_cd as varchar) not in (select distinct entry_ty+cast(tran_cd as varchar) from acdetalloc)
and isnull(m.serty,'')<>''
/*<---SB*/
/*BR Advance--->*/
insert into acdetalloc(entry_ty,tran_cd,serty,amount,sabtper,sabtamt,seravail,serbamt,sercamt,serhamt,staxable) 
select m.entry_ty,m.tran_cd,m.serty,amount=m.gro_amt,m.sabtper,m.sabtamt,m.seravail
,serbamt=m.serbamt
,sercamt=m.sercamt
,serhamt=m.serhamt
,staxable=(m.gro_amt-m.sabtamt)
from BRmain m
where m.tdspaytype=2
and isnull(m.serty,'')<>''
and m.entry_ty+cast(m.tran_cd as varchar) not in (select distinct entry_ty+cast(tran_cd as varchar) from acdetalloc)
/*<---BR Advance*/
/*CR Advance--->*/
insert into acdetalloc(entry_ty,tran_cd,serty,amount,sabtper,sabtamt,seravail,serbamt,sercamt,serhamt,staxable) 
select m.entry_ty,m.tran_cd,m.serty,amount=m.gro_amt,m.sabtper,m.sabtamt,m.seravail
,serbamt=m.serbamt
,sercamt=m.sercamt
,serhamt=m.serhamt
,staxable=(m.gro_amt-m.sabtamt)
from CRmain m
where m.tdspaytype=2
and isnull(m.serty,'')<>''
and m.entry_ty+cast(m.tran_cd as varchar) not in (select distinct entry_ty+cast(tran_cd as varchar) from acdetalloc)
/*<---CR Advance*/
--select * from acdetalloc


