IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_WB_CSTANNEXURE_E')
BEGIN
 DROP PROCEDURE USP_REP_WB_CSTANNEXURE_E
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXECUTE USP_REP_WB_CSTANNEXURE_E'','','','04/01/2011','03/31/2013','','','','',0,0,'','','','','','','','','2011-2013',''
*/
-- =============================================  
-- Author   :G.PRASHANTH REDDY
-- Create date: 14/06/2012
-- Description: This Stored procedure is useful to generate WB CST Form ANNEXURE-E
-- Modify date: 
-- Modified By: 
-- Modify date:   
-- Remark:  
-- =============================================  


CREATE PROCEDURE [dbo].[USP_REP_WB_CSTANNEXURE_E]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
--DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
--DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)
--SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
--INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
--Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)
------Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #FORM_LP1
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)
--alter table #FORM_LP1 add recno int identity
---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
STM.FORM_NM,AC1.S_TAX,Item=space(50),st_type=M.Date,Qty=9999999999999999999.9999,IT_TYPE=SPACE(10),STATE=SPACE(20)
INTO #FORMLP1
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STITEM I ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN IT_MAST IT ON (I.IT_CODE=IT.IT_CODE)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_LP1 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND

			SET @CHAR=65
			Declare cur_formLP1aa cursor for
--			SELECT	 DISTINCT PER=0,A.TAXONAMT,A.TAXAMT,ITEMAMT=E.GRO_AMT,INV_NO=H.U_PINVNO,DATE=H.U_PINVDT,E.DATE,ADDRESS=(RTRIM(PAC.MAILNAME)+' '+RTRIM(PAC.ADD1)+' '+RTRIM(PAC.ADD2)+' '+RTRIM(PAC.ADD3)),E.ITEM,h.FORM_NM,PAC.S_TAX,E.QTY,PAC.STATE            
--			FROM #FORM_LP1 A            
--			 INNER  JOIN  PTITEM E ON A.BHENT=E.ENTRY_TY AND A.TRAN_CD=E.TRAN_CD  AND A.ITSERIAL=E.ITSERIAL and a.DBNAME=B.DBNAME
--             INNER JOIN PTMAIN H ON H.ENTRY_TY=E.ENTRY_TY AND H.TRAN_CD=E.TRAN_CD   and a.DBNAME=B.DBNAME
--			 INNER JOIN AC_MAST PAC ON PAC.AC_ID =E.AC_ID  and a.DBNAME=B.DBNAME
--			WHERE  A.ST_TYPE = 'OUT OF STATE'   AND (A.DATE BETWEEN @SDATE AND @EDATE) 

--SELECT distinct A.PER,TAXONAMT=VATONAMT,A.TAXAMT,ITEMAMT=e.gro_amt,A.INV_NO,A.DATE,PARTY_NM=SAC.MAILNAME,ADDRESS=RTRIM (SAC.ADD1)+' '+RTRIM(SAC.ADD2)+'  '+RTRIM(SAC.ADD3),E.ITEM,H.FORM_NO,A.S_TAX,E.QTY,Sac.State
--FROM #FORM_LP1 A  
--INNER JOIN IT_MAST ON (A.IT_CODE=IT_MAST.IT_CODE)
--Inner Join VATITEM_VW e On(A.Bhent = e.Entry_ty And A.Tran_cd = e.Tran_cd and a.it_code=e.it_code and a.itserial=e.itserial)
--INNER JOIN VATMAIN_VW H ON A.BHENT=H.ENTRY_TY AND A.TRAN_CD=H.TRAN_cD 
--INNER JOIN AC_MAST SAC ON SAC.AC_ID =H.AC_ID 
--inner join stax_mas st on (st.tax_name=A.tax_name) 
--INNER  JOIN  PTITEM P ON A.BHENT=P.ENTRY_TY AND A.TRAN_CD=P.TRAN_CD  AND A.ITSERIAL=P.ITSERIAL 
--INNER JOIN PTMAIN PT ON PT.ENTRY_TY=P.ENTRY_TY AND PT.TRAN_CD=P.TRAN_CD   
--WHERE A.ST_TYPE='OUT OF STATE' AND A.BHENT='PT'  AND SAC.C_TAX <> ''  AND (A.DATE BETWEEN @SDATE AND @EDATE)
--ORDER BY A.INV_NO
--

SELECT distinct A.PER,TAXONAMT=VATONAMT,A.TAXAMT,ITEMAMT=e.gro_amt,A.INV_NO,A.DATE,PARTY_NM=SAC.MAILNAME,ADDRESS=RTRIM (SAC.ADD1)+' '+RTRIM(SAC.ADD2)+'  '+RTRIM(SAC.ADD3),E.ITEM,H.FORM_NO,A.S_TAX,E.QTY,Sac.State,IT_TYPE=PO.INV_NO,st_type=PO.DATE
FROM #FORM_LP1 A  
INNER JOIN IT_MAST ON (A.IT_CODE=IT_MAST.IT_CODE and a.DBNAME=B.DBNAME)
Inner Join VATITEM_VW e On(A.Bhent = e.Entry_ty And A.Tran_cd = e.Tran_cd and a.it_code=e.it_code and a.itserial=e.itserial and a.DBNAME=B.DBNAME)
INNER JOIN VATMAIN_VW H ON A.BHENT=H.ENTRY_TY AND A.TRAN_CD=H.TRAN_cD and a.DBNAME=B.DBNAME
INNER JOIN AC_MAST SAC ON SAC.AC_ID =H.AC_ID and a.DBNAME=B.DBNAME
inner join stax_mas st on (st.tax_name=A.tax_name and a.DBNAME=B.DBNAME)  
INNER  JOIN  PTITEM P ON A.BHENT=P.ENTRY_TY AND A.TRAN_CD=P.TRAN_CD  AND A.ITSERIAL=P.ITSERIAL and a.DBNAME=B.DBNAME
INNER JOIN PTMAIN PT ON PT.ENTRY_TY=P.ENTRY_TY AND PT.TRAN_CD=P.TRAN_CD and a.DBNAME=B.DBNAME
INNER JOIN POMAIN PO ON (PT.AC_ID=PO.AC_ID and a.DBNAME=B.DBNAME)  
WHERE SAC.ST_TYPE='OUT OF STATE' AND A.BHENT='PT'  AND  SAC.C_TAX <> ''  AND (A.DATE BETWEEN @SDATE AND @EDATE)
ORDER BY A.INV_NO


	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo #FORM_LP1 Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND

  

   			SET @CHAR=65

			Declare cur_formLP1aa cursor for
        
--			SELECT	 DISTINCT PER=0,A.TAXONAMT,A.TAXAMT,ITEMAMT=E.GRO_AMT,INV_NO=H.U_PINVNO,DATE=H.U_PINVDT,E.DATE,ADDRESS=(RTRIM(PAC.MAILNAME)+' '+RTRIM(PAC.ADD1)+' '+RTRIM(PAC.ADD2)+' '+RTRIM(PAC.ADD3)),E.ITEM,h.FORM_NM,PAC.S_TAX,E.QTY,PAC.STATE            
--			FROM #FORM_LP1 A            
--			 INNER  JOIN  PTITEM E ON A.BHENT=E.ENTRY_TY AND A.TRAN_CD=E.TRAN_CD  AND A.ITSERIAL=E.ITSERIAL 
--             INNER JOIN PTMAIN H ON H.ENTRY_TY=E.ENTRY_TY AND H.TRAN_CD=E.TRAN_CD   
--			 INNER JOIN AC_MAST PAC ON PAC.AC_ID =E.AC_ID 
--			WHERE  A.ST_TYPE = 'OUT OF STATE'   AND (A.DATE BETWEEN @SDATE AND @EDATE) 

--SELECT distinct A.PER,TAXONAMT=VATONAMT,A.TAXAMT,ITEMAMT=e.gro_amt,A.INV_NO,A.DATE,PARTY_NM=SAC.MAILNAME,ADDRESS=RTRIM (SAC.ADD1)+' '+RTRIM(SAC.ADD2)+'  '+RTRIM(SAC.ADD3),E.ITEM,H.FORM_NO,A.S_TAX,E.QTY,Sac.State,IT_TYPE=PT.U_PINVNO,st_type=PT.U_PINVDT
--FROM #FORM_LP1 A  
--INNER JOIN IT_MAST ON (A.IT_CODE=IT_MAST.IT_CODE)
--Inner Join VATITEM_VW e On(A.Bhent = e.Entry_ty And A.Tran_cd = e.Tran_cd and a.it_code=e.it_code and a.itserial=e.itserial)
--INNER JOIN VATMAIN_VW H ON A.BHENT=H.ENTRY_TY AND A.TRAN_CD=H.TRAN_cD 
--INNER JOIN AC_MAST SAC ON SAC.AC_ID =H.AC_ID 
--inner join stax_mas st on (st.tax_name=A.tax_name)  
--INNER  JOIN  PTITEM P ON A.BHENT=P.ENTRY_TY AND A.TRAN_CD=P.TRAN_CD  AND A.ITSERIAL=P.ITSERIAL 
--INNER JOIN PTMAIN PT ON PT.ENTRY_TY=P.ENTRY_TY AND PT.TRAN_CD=P.TRAN_CD   
--WHERE A.ST_TYPE='OUT OF STATE' AND A.BHENT='PT'  AND  A.S_TAX <> ''  AND (A.DATE BETWEEN @SDATE AND @EDATE)
--ORDER BY A.INV_NO

	SELECT TAXONAMT=A.VATONAMT,A.TAXAMT,ITEMAMT=A.VATONAMT + A.TAXAMT,A.INV_NO,A.DATE,PARTY_NM=A.Ac_name,A.ADDRESS,I.IT_name,A.FORM_NM,
	S_TAX=A.S_Tax,SAC.State,IT_TYPE=PT.u_pono,PT.u_podt as st_type FROM VATTBL A INNER JOIN IT_MAST I ON (A.IT_CODE=I.IT_CODE)
	INNER JOIN PTMAIN PT on (A.Tran_cd = PT.Tran_cd AND A.BHENT = PT.Entry_ty AND A.Inv_no = PT.Inv_no) 
	INNER JOIN AC_MAST SAC ON SAC.AC_ID = A.AC_ID WHERE A.ST_TYPE='OUT OF STATE' 
	AND A.BHENT='PT'  AND  A.S_Tax <> '' AND LTRIM(RTRIM(REPLACE(REPLACE(A.FORM_NM,'-',''),'FORM','')))='C' 
	AND (A.DATE BETWEEN @SDATE AND @EDATE) ORDER BY A.INV_NO
End
-----
--SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
--Part LP -1 
--SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SET @CHAR=65
Declare @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(10),@DATE as smalldatetime,
		@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(30),@S_TAX as varchar(30),
		@STATE as varchar(20),@IT_TYPE as varchar(10),@ST_TYPE as smalldatetime
SELECT  @TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',
	    @state='',@IT_TYPE='',@ST_TYPE=''

OPEN CUR_FORMLP1aa
FETCH NEXT FROM CUR_FORMLP1aa INTO @TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@ITEM,@FORM_NM,@S_TAX,@STATE, @IT_TYPE,@ST_TYPE
WHILE (@@FETCH_STATUS=0)
BEGIN
	INSERT INTO #FORMLP1 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,ITEM,FORM_NM,S_TAX,STATE,IT_TYPE,ST_TYPE,QTY)
	VALUES (1,'2',CHAR(@CHAR),0,ISNULL(@TAXONAMT,0),ISNULL(@TAXAMT,0),ISNULL(@ITEMAMT,0),ISNULL(@INV_NO,''),ISNULL(@DATE,''),ISNULL(@PARTY_NM,''),
	ISNULL(@ADDRESS,''),ISNULL(@ITEM,''),ISNULL(@FORM_NM,''),ISNULL(@S_TAX,''),ISNULL(@State,''),ISNULL(@IT_TYPE,''),ISNULL(@ST_TYPE,''),0)
	
	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMLP1aa INTO @TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@ITEM,@FORM_NM,@S_TAX,@STATE,@IT_TYPE,@ST_TYPE 
END
CLOSE CUR_FORMLP1aa
DEALLOCATE CUR_FORMLP1aa

Update #formLP1 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,''), Qty = isnull(Qty,0),  ITEM =isnull(item,'')

SELECT * FROM #FORMLP1 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END

--Print 'WB CST FORM LP 01'



















