DROP PROCEDURE [USP_REP_BALLIST]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate ACCOUNTS 1key Balance Listing  Report .
-- Modify date: 16/05/2007
-- Modified By: Satish Pal
-- Modify date: 26/11/2011
-- Remark:added and comment by satish pal for bug-284
-- =============================================

create PROCEDURE [USP_REP_BALLIST]  
--@SDATE AS SMALLDATETIME,@EDATE AS SMALLDATETIME, @SAC AS VARCHAR(100), @EAC AS VARCHAR(100)
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Declare @FCON as NVARCHAR(2000),@SQLCOMMAND as NVARCHAR(4000),@nilBal AS VARCHAR(50),@nilcreditBal AS VARCHAR(50),@nildebitBal AS VARCHAR(50),@FinalnilBal AS VARCHAR(50)

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=null,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='MN',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

----added by satish pal dt.26/11/2011 for bug-284
SET @nilBal=substring(@expara,1,charindex(',',@expara)-1)
print @nilBal
set @EXPARA=LTRIM(substring(@expara,charindex(',',@expara)+1,len(@EXPARA)))
--print @EXPARA
SET @nilcreditBal=substring(@expara,1,charindex(',',@expara)-1)
print @nilcreditBal
set @EXPARA=LTRIM(substring(@expara,charindex(',',@expara)+1,len(@EXPARA)))
--print @EXPARA
SET @nildebitBal=@EXPARA
print @nildebitBal
----end by satish pal dt.26/11/2011 for bug-284

SELECT 
AC.TRAN_CD,AC.ENTRY_TY,AC.DATE,AC.AMOUNT,AC.AMT_TY
,MN.L_YN
,AC_MAST.AC_ID,AC_MAST.AC_NAME
INTO #AC_BAL1
FROM LAC_VW AC
INNER JOIN AC_MAST  ON (AC.AC_ID = AC_MAST.AC_ID)
INNER JOIN LMAIN_VW MN ON (AC.TRAN_CD = MN.TRAN_CD AND AC.ENTRY_TY = MN.ENTRY_TY) 
WHERE 1=2


SET @SQLCOMMAND='INSERT INTO #AC_BAL1 SELECT '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AC.TRAN_CD,AC.ENTRY_TY,AC.DATE,AC.AMOUNT,AC.AMT_TY'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',MN.L_YN'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',AC_MAST.AC_ID,AC_MAST.AC_NAME'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM LAC_VW AC'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST  ON (AC.AC_ID = AC_MAST.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN LMAIN_VW MN ON (AC.TRAN_CD = MN.TRAN_CD AND AC.ENTRY_TY = MN.ENTRY_TY) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)


PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND


DELETE FROM #AC_BAL1 WHERE 
DATE < (SELECT TOP 1 DATE FROM #AC_BAL1 WHERE ENTRY_TY IN ('OB') AND L_YN = @LYN)
AND AC_NAME IN (SELECT AC_NAME FROM #AC_BAL1 WHERE ENTRY_TY IN ('OB') AND L_YN = @LYN GROUP BY AC_NAME) 

--select * from #AC_BAL1

SELECT AC_NAME,AC_ID
,OPBAL=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE<@SDATE) THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,DAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) AND AMT_TY='DR' THEN AMOUNT ELSE 0 END)
,CAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) AND AMT_TY='CR' THEN AMOUNT ELSE 0 END)
,BALAMT=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) into #AC_BAL
FROM #AC_BAL1
GROUP BY AC_NAME,AC_ID
ORDER BY AC_NAME,AC_ID

--added by satish pal dt.26/11/2011 for -284
select @FinalnilBal = ''
select @FinalnilBal=rtrim(@FinalnilBal)+CASE WHEN @nilBal=1 THEN ' and BALAMT<>0 ' ELSE '' END 
select @FinalnilBal=rtrim(@FinalnilBal)+CASE WHEN @nildebitBal=1 THEN ' AND BALAMT>=0' ELSE '' END   ----100<0
select @FinalnilBal=rtrim(@FinalnilBal)+CASE WHEN @nilcreditBal=1 THEN ' AND BALAMT<=0' ELSE '' END
SET @SQLCOMMAND='Select AC_NAME,AC_ID,OPBAL,DAMT,CAMT,BALAMT from #AC_BAL where Ac_id <> 0 '+@FinalnilBal
EXECUTE SP_EXECUTESQL @SQLCOMMAND
--end by satish pal dt.26/11/2011 for -284
--FOR BALANCE




--SELECT AC_NAME,AC_ID
--,OPBAL=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE<=@SDATE) THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
--,DAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<=@SDATE) AND AMT_TY='DR' THEN AMOUNT ELSE 0 END)
--,CAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<=@SDATE) AND AMT_TY='CR' THEN AMOUNT ELSE 0 END)
--,BALAMT=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END)
--FROM LAC_VW AC
--GROUP BY AC_NAME,AC_ID


--as [Account Name]
--Select AC.Ac_id
--,A.ac_name 
--,round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2) as [Op.Bal.(Dr)]
--,round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2) as [Op.Bal.(Cr)],round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) as [Debit Amt],round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) as [Credit Amt],(case when round(sum(case when AC.amt_ty = 'DR' and (AC.date <@SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  
--then Ac.amount else 0 end),2)>=0 then round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < getdate() or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' 
--and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) else 0 end) as [Balance (Dr)],(case when round(sum(case when AC.amt_ty = 'DR' and (AC.date >@SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)<0 then round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR'  and (AC.date < @SDATE or AC.entry_ty = 'OB')  then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) else 0 end)*(-1) as [Balance (Cr)] 
--,T.gname1 as [Group Level1],T.gname2 as [Group Level2],T.gname3 as [Group Level3]
--FROM LAC_VW AC 
--INNER JOIN #1JRTMP T ON (AC.AC_ID=T.AC_ID)
--inner join ac_mast a on (ac.ac_id=a.ac_id) 
--WHERE AC.DATE<=@EDATE AND (AC.AC_NAME BETWEEN @SAC AND @EAC)
--group by a.ac_name,a.[Group],AC.ac_id,T.gname1,T.gname2 ,T.gname3  order by a.Ac_name
GO
