If Exists(Select [name] From SysObjects Where xType='P' and [name]='USP_REP_PS_BILL_C1')
Begin
	Drop Procedure USP_REP_PS_BILL_C1
End
/****** Object:  StoredProcedure [dbo].[USP_REP_PS_BILL_C1]    Script Date: 12/10/2018 19:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--execute USP_REP_PS_BILL_C1 2
	Create PROCEDURE [dbo].[USP_REP_PS_BILL_C1] 
		--@TRANCD INT
		@TRANCD NVARCHAR(254)
	AS
	BEGIN

		SET NOCOUNT ON;

		DECLARE @SQLCOMMAND NVARCHAR(MAX), @DISCCHRGS NVARCHAR(MAX),@TBLCON NVARCHAR(max)
		DECLARE @V_DISC BIT, @I_DISC BIT, @STAX_TRAN BIT, @STAX_ITEM BIT

		SET @TBLCON=RTRIM(@TRANCD)
		print @tblcon
		
		SELECT @V_DISC=V_DISC, @I_DISC=I_DISC, @STAX_TRAN=STAX_TRAN, @STAX_ITEM=STAX_ITEM FROM LCODE WHERE ENTRY_TY='PS'
		SELECT @DISCCHRGS=''
		IF @V_DISC = 1
		BEGIN
			SELECT @DISCCHRGS=COALESCE(@DISCCHRGS,'')+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'A.'+LTRIM(RTRIM(FLD_NM))+ ' AS HD_'+LTRIM(RTRIM(FLD_NM)) + CASE WHEN PERT_NAME='' THEN '' ELSE ',A.'+LTRIM(RTRIM(PERT_NAME))+' AS HD_'+LTRIM(RTRIM(PERT_NAME)) END FROM DCMAST WHERE ENTRY_TY='PS' AND ATT_FILE=1
		END
		IF @I_DISC = 1
		BEGIN
			SELECT @DISCCHRGS=COALESCE(@DISCCHRGS,'')+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'B.'+LTRIM(RTRIM(FLD_NM))+ ' AS DT_'+LTRIM(RTRIM(FLD_NM)) + CASE WHEN PERT_NAME='' THEN '' ELSE ',B.'+LTRIM(RTRIM(PERT_NAME))+' AS DT_'+LTRIM(RTRIM(PERT_NAME)) END FROM DCMAST WHERE ENTRY_TY='PS' AND ATT_FILE=0
		END
		IF @STAX_TRAN = 1
		BEGIN
			SELECT @DISCCHRGS=@DISCCHRGS+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'A.TAX_NAME,A.TAXAMT'
		END
		IF @STAX_ITEM = 1
		BEGIN
			SELECT @DISCCHRGS=@DISCCHRGS+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'B.TAX_NAME,B.TAXAMT'
		END


		SET @SQLCOMMAND = 'SELECT A.ENTRY_TY, A.DATE, A.TRAN_CD, A.DEPT, A.CATE, A.PARTY_NM,A.CUST_NM, A.INV_NO, A.INV_SR, A.L_YN, A.GRO_AMT, '
		SET @SQLCOMMAND = @SQLCOMMAND+' A.NET_AMT, A.SYSDATE, A.AC_ID,A.GRO_AMT,B.ITEM_NO, B.ITEM, B.QTY,c.hsncode, B.RATE, B.GRO_AMT AS ITGRO_AMT, '
		SET @SQLCOMMAND = @SQLCOMMAND+' B.IT_CODE, B.U_ASSEAMT,B.SGST_PER,B.SGST_AMT,B.CGST_PER,B.CGST_AMT,A.BALAMT,c.rateunit,C.IT_DESC, A.TOTALPAID, A.ROUNDOFF '+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+@DISCCHRGS  --,B.itdiscamt
		SET @SQLCOMMAND = @SQLCOMMAND+' ,A.tot_fdisc' --Prajakta
		SET @SQLCOMMAND = @SQLCOMMAND+' FROM DCMAIN A '
		SET @SQLCOMMAND = @SQLCOMMAND+' INNER JOIN DCITEM B ON A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD '
		SET @SQLCOMMAND = @SQLCOMMAND+' INNER JOIN it_mast C ON b.it_code=C.it_code'
		SET @SQLCOMMAND = @SQLCOMMAND+' WHERE ' +@TBLCON
	print 	@SQLCOMMAND
		
		EXECUTE SP_EXECUTESQL @SQLCOMMAND 
				
	END


