DROP PROCEDURE [USP_REP_CNREG_SERVICE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	Prajakta B.
-- Create date: 27/03/2017
-- Description:	This Strored procedure is useful for Credit Note Service Register
-- Remark:
-- =============================================

create PROCEDURE [USP_REP_CNREG_SERVICE] 
	@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
	@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
	@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),
	@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
	@SAMT NUMERIC,@EAMT NUMERIC,
	@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
	@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
	@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
	@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
	@FINYR NVARCHAR(20),@expara NVARCHAR(1000)
	AS

Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000)

EXECUTE USP_REP_FILTCON 
		@VTMPAC=@TMPAC,@VTMPIT=@TMPIT,@VSPLCOND=@SPLCOND, 
		@VSDATE=@SDATE,@VEDATE=@EDATE,    --Added @sdate para. by sandeep for bug-18638 on 26-Aug-13
		@VSAC =@SNAME,@VEAC =@ENAME, --Added @SNAME & @ENAME para. by sandeep for bug-18638 on 26-Aug-13  
		@VSIT=@SITEM,@VEIT=@EITEM,
		@VSAMT=@SAMT,@VEAMT=@EAMT, --Added @SAMT & @EAMT para. by sandeep for bug-18638 on 26-Aug-13  
		@VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
		@VSCATE =@SCAT,@VECATE =@ECAT,
		@VSWARE =@SWARE,@VEWARE  =@EWARE,
		@VSINV_SR =@SINVSR,@VEINV_SR =@EINVSR,
		@VMAINFILE='CNMAIN',@VITFILE=null,@VACFILE=null,
		@VDTFLD = 'DATE',@VLYN=null,@VEXPARA=@expara,
		@VFCON =@FCON OUTPUT

	declare @RuleCondition varchar(1000)
	set @RuleCondition=''
	if charindex('$>Rule',@expara)<>0
	begin
		set @RuleCondition=@expara
		SET @RuleCondition=REPLACE(@RuleCondition, '`','''')
		set @RuleCondition=substring(@RuleCondition,charindex('$>Rule',@RuleCondition)+6,len(@RuleCondition)-(charindex('$>Rule',@RuleCondition)+5))
		set @RuleCondition=substring(@RuleCondition,1,charindex('<$Rule',@RuleCondition)-1)
	end
--added By Prajakta B. on 24-06-17

	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT CNITEM.[DATE],CNITEM.inv_no,CNITEM.ITEM,CNITEM.qty,CNITEM.rate,CNITEM.U_ASSEAMT,CNITEM.tot_add,CNITEM.tot_deduc,CNITEM.tot_tax,CNITEM.tot_examt,CNITEM.tot_nontax,CNITEM.tot_fdisc
	,CNITEM.SBILLNO,CNITEM.SBDATE,CNITEM.CGST_AMT,CNITEM.SGST_AMT,CNITEM.IGST_AMT,CNITEM.GRO_AMT,CNITEM.PARTY_NM,CNMAIN.AGAINSTGS,CNITEM.cgst_per,CNITEM.sgst_per,CNITEM.igst_per,AcdetAlloc.amount
	,cnitem.cgsrt_amt,cnitem.sgsrt_amt,cnitem.igsrt_amt FROM CNMAIN
	LEFT JOIN CNITEM ON CNMAIN.TRAN_CD=CNITEM.TRAN_CD
	inner join AcdetAlloc on (CNITEM.entry_ty=AcdetAlloc.Entry_ty and CNITEM.Tran_cd=AcdetAlloc.Tran_cd and CNITEM.itserial=AcdetAlloc.itserial)
	INNER JOIN AC_MAST ON CNMAIN.AC_ID=AC_MAST.AC_ID'
	SET @SQLCOMMAND =RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)+' '+@RuleCondition +'AND CNITEM.entry_ty=''C6'' '
	SET @SQLCOMMAND =RTRIM(@SQLCOMMAND)+' ORDER BY CNITEM.DATE,CNITEM.INV_NO'
	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
