
If Exists(Select [Name] from Sysobjects where xType='P' and Id=Object_Id(N'USP_REP_HR_FORMLP6'))
Begin
	Drop Procedure USP_REP_HR_FORMLP6
End
Go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go





/*
EXECUTE USP_REP_HR_FORMLP6'','','','04/01/2010','03/31/2011','','','','',0,0,'','','','','','','','','2010-2011',''
*/

-- =============================================
-- Author:		Hetal L Patel
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate HR VAT FORM LP 06
-- Modify date: 
-- Modified By: Sandeep Shah
-- Modify date: 30/11/2010
-- Remark:     Modified store procedure with valid Data of the formate for TKT-5092
-- =============================================
CREATE PROCEDURE [dbo].[USP_REP_HR_FORMLP6]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

----Temporary Cursor1
SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
INTO #FORM_LP6
FROM PTACDET A 
INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

alter table #FORM_LP6 add recno int identity

---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
Item=space(50),STM.FORM_NM,AC1.S_TAX,Qty=9999999999999999999.9999,st_type=space(20),IT_TYPE=IT.[TYPE],address1=SPACE(100),sqty=9999999999999999999.9999,sVal=9999999999999999999.9999
INTO #FORMLP6
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STITEM I ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN IT_MAST IT ON (I.IT_CODE=IT.IT_CODE)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_LP6 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND

        Declare cur_formLP6aa cursor for
		SELECT  distinct Per=0,TAXONAMT=E.GRO_AMT-(E.TAXAMT+E.TOT_NONTAX),TAXAMT=E.TAXAMT,ITEMAMT=E.GRO_AMT,E.INV_NO,E.DATE,E.PARTY_NM,ADDRESS=RTRIM(PAC.MAILNAME)+char(13)+' '+RTRIM(PAC.ADD1)+' '+RTRIM(PAC.ADD2)+' '+RTRIM(PAC.ADD3),ADDRESS1=RTRIM(SAC.MAILNAME)+char(13)+RTRIM(SAC.ADD1)+' '+RTRIM(SAC.ADD2)+' '+RTRIM(SAC.ADD3),E.ITEM,a.st_type,H.U_TPODATE ,A.S_TAX,E.QTY,IT_TYPE='',SQTY=G.QTY,SVAL=G.GRO_AMT
		FROM  #FORM_LP6 A
		 LEFT JOIN  PTITEM E ON A.BHENT=E.ENTRY_TY AND A.TRAN_CD=E.TRAN_CD  AND A.ITSERIAL=E.ITSERIAL AND A.DBNAME=E.DBNAME
		 LEFT JOIN PTITREF D ON D.ENTRY_TY=E.ENTRY_TY AND D.TRAN_CD=E.TRAN_cD AND D.ITSERIAL=E.ITSERIAL  AND D.DBNAME=E.DBNAME
		 LEFT JOIN ARITEM C ON C.ENTRY_TY=D.RENTRY_TY  AND C.TRAN_CD=D.ITREF_TRAN AND C.ITSERIAL=D.ITSERIAL  AND C.DBNAME=D.DBNAME
		 LEFT JOIN LITEMALL LL ON LL.RENTRY_TY=C.ENTRY_TY AND LL.RTRAN_CD=C.TRAN_CD AND LL.RITSERIAL=C.ITSERIAL  AND LL.DBNAME=C.DBNAME
		 LEFT JOIN DCITEM B ON LL.ENTRY_TY=B.ENTRY_TY AND LL.TRAN_CD=B.TRAN_CD AND LL.ITSERIAL=B.ITSERIAL  AND LL.DBNAME=B.DBNAME
		 LEFT JOIN DCMAIN H ON H.ENTRY_TY=B.ENTRY_TY AND H.TRAN_CD=B.TRAN_CD  AND H.DBNAME=B.DBNAME
		 LEFT  JOIN STITREF F ON B.ENTRY_TY=F.RENTRY_TY AND B.TRAN_CD=F.ITREF_TRAN AND B.ITSERIAL=F.ITSERIAL  AND B.DBNAME=F.DBNAME
		 LEFT JOIN  STITEM G ON G.ENTRY_TY=F.ENTRY_TY AND G.TRAN_CD=F.TRAN_CD AND G.ITSERIAL=F.ITSERIAL  AND G.DBNAME=F.DBNAME
		 LEFT JOIN  STMAIN M ON G.ENTRY_TY=M.ENTRY_TY AND G.TRAN_CD=M.TRAN_CD  AND G.DBNAME=M.DBNAME
		 LEFT JOIN AC_MAST SAC ON SAC.AC_NAME =B.PARTY_NM  AND SAC.DBNAME=B.DBNAME
		 LEFT JOIN AC_MAST PAC ON PAC.AC_NAME =E.PARTY_NM  AND PAC.DBNAME=E.DBNAME
		 WHERE A.BHENT='PT' AND  sac.sT_TYPE='LOCAL' AND Pac.sT_TYPE='LOCAL' AND (A.DATE BETWEEN @SDATE AND @EDATE)



	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_LP6 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND

        Declare cur_formLP6aa cursor for
		SELECT  distinct Per=0,TAXONAMT=E.GRO_AMT-(E.TAXAMT+E.TOT_NONTAX),TAXAMT=E.TAXAMT,ITEMAMT=E.GRO_AMT,E.INV_NO,E.DATE,E.PARTY_NM,ADDRESS=RTRIM(PAC.MAILNAME)+char(13)+' '+RTRIM(PAC.ADD1)+' '+RTRIM(PAC.ADD2)+' '+RTRIM(PAC.ADD3),ADDRESS1=RTRIM(SAC.MAILNAME)+char(13)+RTRIM(SAC.ADD1)+' '+RTRIM(SAC.ADD2)+' '+RTRIM(SAC.ADD3),E.ITEM,a.st_type,A.S_TAX,E.QTY,IT_TYPE='',SQTY=G.QTY,SVAL=G.GRO_AMT
		FROM  #FORM_LP6 A
		 LEFT JOIN  PTITEM E ON A.BHENT=E.ENTRY_TY AND A.TRAN_CD=E.TRAN_CD  AND A.ITSERIAL=E.ITSERIAL
		 LEFT JOIN PTITREF D ON D.ENTRY_TY=E.ENTRY_TY AND D.TRAN_CD=E.TRAN_cD AND D.ITSERIAL=E.ITSERIAL
		 LEFT JOIN ARITEM C ON C.ENTRY_TY=D.RENTRY_TY  AND C.TRAN_CD=D.ITREF_TRAN AND C.ITSERIAL=D.ITSERIAL
		 LEFT JOIN LITEMALL LL ON LL.RENTRY_TY=C.ENTRY_TY AND LL.RTRAN_CD=C.TRAN_CD AND LL.RITSERIAL=C.ITSERIAL 
		 LEFT JOIN DCITEM B ON LL.ENTRY_TY=B.ENTRY_TY AND LL.TRAN_CD=B.TRAN_CD AND LL.ITSERIAL=B.ITSERIAL 
		 LEFT JOIN DCMAIN H ON H.ENTRY_TY=B.ENTRY_TY AND H.TRAN_CD=B.TRAN_CD 
		 LEFT  JOIN STITREF F ON B.ENTRY_TY=F.RENTRY_TY AND B.TRAN_CD=F.ITREF_TRAN AND B.ITSERIAL=F.ITSERIAL
		 LEFT JOIN  STITEM G ON G.ENTRY_TY=F.ENTRY_TY AND G.TRAN_CD=F.TRAN_CD AND G.ITSERIAL=F.ITSERIAL 
		 LEFT JOIN  STMAIN M ON G.ENTRY_TY=M.ENTRY_TY AND G.TRAN_CD=M.TRAN_CD 
		 LEFT JOIN AC_MAST SAC ON SAC.AC_ID =B.AC_ID 
		 LEFT JOIN AC_MAST PAC ON PAC.AC_ID =E.AC_ID 
		 WHERE A.BHENT='PT' AND  sac.sT_TYPE='LOCAL' AND Pac.sT_TYPE='LOCAL' AND (A.DATE BETWEEN @SDATE AND @EDATE)
	End
-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----

--select a.* FROM  #FORM_LP6 A


SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

--Part LP6 -1 

SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SET @CHAR=65

Declare @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(10),@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ADDRESS1 as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(100),@S_TAX as varchar(30),@QTY as numeric(18,4),@IT_TYPE AS VARCHAR(20),@ST_TYPE VARCHAR (20),@SQTY as numeric(18,4),@SVAL as numeric(18,4)

SELECT @TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ADDRESS1='',@ITEM ='',@ST_TYPE='',@FORM_NM='',@S_TAX ='',@QTY=0,@IT_TYPE='',@SQTY=0,@SVAL=0


OPEN CUR_FORMLP6aa
FETCH NEXT FROM CUR_FORMLP6aa INTO @PER,@TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@ADDRESS1,@ITEM,@ST_TYPE,@S_TAX,@QTY,@IT_TYPE,@SQTY,@SVAL  
WHILE (@@FETCH_STATUS=0)
BEGIN

	SET @PER=CASE WHEN @PER IS NULL THEN 0 ELSE @PER END
	SET @TAXONAMT=CASE WHEN @TAXONAMT IS NULL THEN 0 ELSE @TAXONAMT END
	SET @TAXAMT1=CASE WHEN @TAXAMT1 IS NULL THEN 0 ELSE @TAXAMT1 END
	SET @ITEMAMT=CASE WHEN @ITEMAMT IS NULL THEN 0 ELSE @ITEMAMT END
	SET @QTY=CASE WHEN @QTY IS NULL THEN 0 ELSE @QTY END
	SET @PARTY_NM=CASE WHEN @PARTY_NM IS NULL THEN '' ELSE @PARTY_NM END
	SET @INV_NO=CASE WHEN @INV_NO IS NULL THEN '' ELSE @INV_NO END
	SET @DATE=CASE WHEN @DATE IS NULL THEN '' ELSE @DATE END
	SET @ADDRESS=CASE WHEN @ADDRESS IS NULL THEN '' ELSE @ADDRESS END
	SET @ADDRESS1=CASE WHEN @ADDRESS1 IS NULL THEN '' ELSE @ADDRESS1 END	
	SET @ITEM=CASE WHEN @ITEM IS NULL THEN '' ELSE @ITEM END
	SET @ST_TYPE=CASE WHEN @ST_TYPE IS NULL THEN '' ELSE @ST_TYPE END
	SET @S_TAX=CASE WHEN @S_TAX IS NULL THEN '' ELSE @S_TAX END	
	SET @IT_TYPE=CASE WHEN @IT_TYPE IS NULL THEN '' ELSE @IT_TYPE END
	SET @SQTY=CASE WHEN @SQTY IS NULL THEN 0 ELSE @SQTY END
	SET @SVAL=CASE WHEN @SVAL IS NULL THEN 0 ELSE @SVAL END


	INSERT INTO #FORMLP6 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,ADDRESS1,ITEM,ST_TYPE,S_TAX,Qty,IT_TYPE,SQTY,SVAL) VALUES (1,'1',CHAR(@CHAR),@PER,@TAXONAMT,@TAXAMT1,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@ADDRESS1,@ITEM,@ST_TYPE,@S_TAX,@QTY,@IT_TYPE,@SQTY,@SVAL)
	
	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMLP6aa INTO @PER,@TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@ADDRESS1,@ITEM,@ST_TYPE,@S_TAX,@QTY,@IT_TYPE,@SQTY,@SVAL
END
CLOSE CUR_FORMLP6aa
DEALLOCATE CUR_FORMLP6aa

Update #FORMLP6 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''), st_type = isnull(st_type,''),ADDRESS1 = isnull(Address1,''),
					  S_TAX = isnull(S_tax,''), SQty = isnull(SQty,0), SVAL = isnull(SVAL,0) -- ITEM =isnull(item,''),
	                         

SELECT * FROM #FORMLP6 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END
--Print 'HR VAT FORM LP 06'





















