IF EXISTS(SELECT NAME,XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND NAME='USP_REP_HP_FORMLP1' )
BEGIN
	DROP PROCEDURE USP_REP_HP_FORMLP1
END
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXECUTE USP_REP_HP_FORMLP1 '','','','04/01/2014','03/31/2015','','','','',0,0,'','','','','','','','','2014-2015',''
*/

CREATE PROCEDURE [dbo].[USP_REP_HP_FORMLP1]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2),@ITEMTYPE VARCHAR(1)

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

----Temporary Cursor1
SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
INTO #FORM_HPLP1
FROM PTACDET A 
INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

alter table #FORM_HPLP1 add recno int identity

---Temporary Cursor2

SELECT PART=3,PARTSR='AAA',SRNO='AAA',AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
PARTY_NM=AC1.AC_NAME,ITEMTYPE=SPACE(1),AC1.S_TAX,ADDRESS=SPACE(100)
INTO #FORMHPLP1
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_RJ7 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 ---EXECUTE USP_REP_SINGLE_CO_DATA  /* COMMENTED BY SURAJ on 07-01-2015 FOR BUG-25052 */
		 SET @EXPARA ='PT' /* Added BY SURAJ k. on 07-01-2015 FOR BUG-25052 */
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT  /*Commented by Suraj K. on Date 07-01-2015 for Bug-25052*/
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
		/*Commented by Suraj K. on Date 07-01-2015 for Bug-25052 Start*/
		--SET @SQLCOMMAND='Select * from '+@MCON
		--SET @SQLCOMMAND='Insert InTo #FORM_HPLP1 Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		-----Drop Temp Table 
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		/*Commented by Suraj K. on Date 07-01-2015 for Bug-25052 End*/
	End
/* Commented by Suraj K. on 07-01-2015 FOR BUG-25052 Start */
--SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

----Part -1 

--SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
--SET @CHAR=65

--Declare @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(10),@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(30),@S_TAX as varchar(30),@QTY as numeric(18,4),@ITEM_TYPE AS VARCHAR(1)

--SELECT @TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',@QTY=0,@ITEMTYPE=''

--Declare cur_formHPLP1aa cursor for
--SELECT DISTINCT TAXONAMT=SUM(A.VATONAMT) ,TAXAMT=SUM(B.TAXAMT),ITEMAMT=SUM(B.GRO_AMT),PAC.MAILNAME,A.ITEMTYPE,A.S_TAX,ADDRESS=RTRIM(PAC.ADD1)+' '+RTRIM(PAC.ADD2)+' '+RTRIM(PAC.ADD3)
--FROM #FORM_HPLP1 A
--Inner Join VATITEM_vW B On(A.Bhent = B.Entry_ty And A.Tran_cd = b.Tran_cd and a.it_code=b.it_code and a.itserial=b.itserial)
--INNER JOIN AC_MAST PAC on (B.ac_id=pac.ac_id)
--WHERE  A.BHENT='PT'  AND (A.DATE BETWEEN @SDATE AND @EDATE)
--GROUP BY A.PARTY_NM,A.ITEMTYPE,A.BHENT,A.S_TAX,PAC.MAILNAME,PAC.ADD1,PAC.ADD2,PAC.ADD3
--OPEN CUR_FORMHPLP1aa
--FETCH NEXT FROM CUR_FORMHPLP1aa INTO @TAXONAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS
--WHILE (@@FETCH_STATUS=0)
--BEGIN
	

--	SET @TAXONAMT=CASE WHEN @TAXONAMT IS NULL THEN 0 ELSE @TAXONAMT END
--	SET @TAXAMT=CASE WHEN @TAXAMT IS NULL THEN 0 ELSE @TAXAMT END
--	SET @ITEMAMT=CASE WHEN @ITEMAMT IS NULL THEN 0 ELSE @ITEMAMT END
--	SET @PARTY_NM=CASE WHEN @PARTY_NM IS NULL THEN '' ELSE @PARTY_NM END
--	SET @ITEMTYPE=CASE WHEN @ITEMTYPE IS NULL THEN '' ELSE @ITEMTYPE END
--	SET @S_TAX=CASE WHEN @S_TAX IS NULL THEN '' ELSE @S_TAX END
--	SET @ADDRESS=CASE WHEN @ADDRESS IS NULL THEN '' ELSE @ADDRESS END

--	INSERT INTO #FORMHPLP1 (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,PARTY_NM,ITEMTYPE,S_TAX,ADDRESS) VALUES (1,'2',CHAR(@CHAR),@TAXONAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS )
	
--	SET @CHAR=@CHAR+1
--	FETCH NEXT FROM CUR_FORMHPLP1aa INTO @TAXONAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS  
--END
--CLOSE CUR_FORMHPLP1aa
--DEALLOCATE CUR_FORMHPLP1aa




--Update #FORMHPLP1 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
--		             AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
--					 AMT3 = isnull(AMT3,0), PARTY_NM = isnull(Party_nm,''), ITEMTYPE = isnull(ITEMTYPE,''),S_TAX = isnull(S_TAX,'')
--					 ,ADDRESS = isnull(ADDRESS,'')--FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),



--SELECT * FROM #FORMHPLP1 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
/* Commented by Suraj K. on 07-01-2015 FOR BUG-25052 end */

/* Added By Suraj K. on 07-01-2015 for Bug-25052 Start */
	SELECT PART=1,PARTSR='2',SRNO=' ',AMT1=SUM(GRO_AMT),AMT2=SUM(TAXAMT),AMT3=0,
	PARTY_NM=AC_NAME,ITEMTYPE=SPACE(1),S_TAX,ADDRESS FROM VATTBL  WHERE BHENT='PT' GROUP BY AC_NAME,ADDRESS,S_TAX
/* Added By Suraj K. on 07-01-2015 for Bug-25052 End */

END

