DROP PROCEDURE [Usp_Ent_SetDescriptionOfColumn]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Usp_Ent_SetDescriptionOfColumn]
@tblName Varchar(20),@ColumnNm Varchar(20),@ColumnDesc Varchar(50) 
as 
If Exists ( SELECT [ObjName] FROM ::fn_listextendedproperty (NULL, 'user', 'dbo', 'table', @tblName,'column', default) Where ObjName=@ColumnNm and [Name]='MS_Description' )
Begin
	EXEC sp_dropextendedproperty 'MS_Description', 'user', dbo, 'table', @tblName, 'column', @ColumnNm
End
if Exists(select [name] from sys.columns where object_id=object_id(@tblName) and [Name]=@ColumnNm)
Begin
	EXEC sp_addextendedproperty 'MS_Description', @ColumnDesc, 'user',dbo, 'table', @tblName, 'column', @ColumnNm
End
GO
