IF EXISTS(SELECT NAME,TYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name='USP_REP_RJ_VATFORM48')
BEGIN
	DROP PROCEDURE USP_REP_RJ_VATFORM48
END
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_REP_RJ_VATFORM48]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
BEGIN
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT
DECLARE @SQLCOMMAND NVARCHAR(4000),@Quarter1 VARCHAR(150)
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
,bank_nm=SPACE(250),LSTDTPAY=M.DATE,BK_CITY=SPACE(50),BK_BRANCH=SPACE(50)
INTO #HPFORM2
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID) WHERE 1=2
Declare @MultiCo	VarChar(3),@MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo  #HPFORM2_1 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT 
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
	End
	SELECT @Quarter1=( CASE
         WHEN MONTH(@SDATE) BETWEEN 4 AND 6 THEN 'First Quarter'
         WHEN MONTH(@Sdate) BETWEEN 7 AND 9 THEN 'Second Quarter'
         WHEN MONTH(@Sdate) BETWEEN 10 AND 12 THEN 'Third Quarter'
         WHEN MONTH(@Sdate) BETWEEN 1 AND 3 THEN 'Fourth Quarter'
     END ) 

	 select VT.AC_NAME,VT.ADDRESS,VT.S_TAX,VT.INV_NO,VT.DATE,IT.IT_NAME,VALUE=VT.GRO_AMT,SRNO=SPACE(20),FORM_STAT=SPACE(20)
	,@Quarter1 AS Quarter1 INTO ##RJ_VATFROM48 
     from vattbl VT INNER JOIN IT_MAST IT ON IT.It_code=VT.It_code where 1=2

   --- EXPENSES PURCHASE RECORDS
	INSERT INTO ##RJ_VATFROM48 select VT.AC_NAME,VT.ADDRESS,VT.S_TAX,VT.INV_NO,VT.DATE,IT.IT_NAME,VALUE=VT.GRO_AMT,SRNO=pt.form_nm,FORM_STAT=(case when isnull(pt.form_nm,'')<>''  then 'Used' when isnull(pt.form_nm,'')=''  then 'Cancelled' end)
		,@Quarter1 AS Quarter1
		 from vattbl VT INNER JOIN IT_MAST IT ON IT.It_code=VT.It_code  
		 inner join ptmain pt on (pt.tran_cd =VT.TRAN_CD  and pt.entry_ty =VT.BHENT)  where VT.BHENT='P1' AND (VT.Date BETWEEN @SDATE AND @EDATE) AND VT.FORM_NM IN('VAT47','VAT 47','VAT-47','FORM VAT47','FORM VAT-47')
---  PURCHASE RECORDS
	INSERT INTO ##RJ_VATFROM48 select VT.AC_NAME,VT.ADDRESS,VT.S_TAX,VT.INV_NO,VT.DATE,IT.IT_NAME,VALUE=VT.GRO_AMT,SRNO=pt.form_nm,FORM_STAT=(case when isnull(pt.form_nm,'')<>''  then 'Used' when isnull(pt.form_nm,'')=''  then 'Cancelled' end)
		,@Quarter1 AS Quarter1
		 from vattbl VT INNER JOIN IT_MAST IT ON IT.It_code=VT.It_code  
		 inner join ptmain pt on (pt.tran_cd =VT.TRAN_CD  and pt.entry_ty =VT.BHENT)  where VT.BHENT='PT'  AND ST_TYPE='OUT OF COUNTRY' AND (VT.Date BETWEEN @SDATE AND @EDATE) AND VT.FORM_NM IN('VAT47','VAT 47','VAT-47','FORM VAT47','FORM VAT-47')


IF NOT EXISTS(select  TOP 1 AC_NAME from ##RJ_VATFROM48 )
	BEGIN --this code will  insert blank record
     INSERT INTO ##RJ_VATFROM48(AC_NAME,ADDRESS,S_TAX,INV_NO,DATE,IT_NAME,VALUE,SRNO,FORM_STAT,Quarter1)VALUES ('','','','',NULL,'',0,'','',@Quarter1)	
    END 


SELECT * FROM ##RJ_VATFROM48  ORDER BY DATE					

DROP TABLE ##RJ_VATFROM48

end
