set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

/*
-- =============================================
-- AUTHOR:		RUEPESH PRAJAPATI.
-- CREATE DATE: 24/07/2009
-- DESCRIPTION:	THIS STORED PROCEDURE IS USEFUL TO GENERATE EXCISE CAPITAL GOODS 50% DUTY CREDIT TO BE TAKEN REPORT.
-- MODIFICATION DATE/BY/REASON:
-- MODIFICATION DATE/BY/REASON: 
-- REMARK: 
-- =============================================
*/

ALTER PROCEDURE  [dbo].[USP_REP_RG23C_CREDIT_PENDING]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS 
SET QUOTED_IDENTIFIER OFF
DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(2000),@FDATE VARCHAR(10),@FCON NVARCHAR(2000)
SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE='IT',@VACFILE=' '
,@VDTFLD =@FDATE
,@VLYN=@LYN
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SET @SQLCOMMAND='SELECT' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'M.ENTRY_TY,M.TRAN_CD,PARTY_NM=AC_MAST.AC_NAME'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',M.INV_NO,M.DATE,M.U_PINVNO,M.U_PINVDT,M.U_RG23CPAY,M.BCDPAY,M.U_RGCESPAY,M.U_HCESPAY,M.CVDPAY,IT_MAST.PRIN_IN'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IT_MAST.IT_NAME,IT.QTY,IT.U_ASSEAMT,M.U_CLDT,M.U_RG23CNO'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM PTMAIN M '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN PTITEM IT ON (M.ENTRY_TY=IT.ENTRY_TY AND M.TRAN_CD=IT.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST ON (M.AC_ID=AC_MAST.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST ON (IT.IT_CODE=IT_MAST.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND ISNULL(M.U_RG23CNO,'''')<>'''' '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'ORDER BY M.U_CLDT,M.TRAN_CD,M.U_RG23CNO'
PRINT  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
