DROP PROCEDURE [USP_REP_FORMA1CB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Priyanka Himane
-- Create date: 23/12/2011
-- Description:	This Stored procedure is useful to Generate data for FORM A1 CB report in Letter to Bank transaction.
-- =============================================

CREATE PROCEDURE    [USP_REP_FORMA1CB]
@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)

	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		SET @TBLCON=RTRIM(@ENTRYCOND)
PRINT @ENT
PRINT @TRN

SELECT 
AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.PHONE,AC_MAST.FAX,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,AC_MAST.COUNTRY,AC_MAST.ZIP,
POMAIN.INV_NO,POMAIN.PINVNO,POMAIN.DATE,POMAIN.TRAN_CD,POMAIN.U_QTY,POMAIN.U_RATE,
POMAIN.U_LCINVAMT,POMAIN.U_LCINV,POMAIN.U_LCINVDT,POMAIN.U_BLNO,POMAIN.u_BLDT,POMAIN.u_terms,
CURR_MAST.CURRENCYCD as u_corren,POMAIN.U_CORIGIN,POMAIN.u_mode,
MAILNAME=(CASE WHEN ISNULL(AC_MAST.MAILNAME,'')='' THEN AC_MAST.AC_NAME ELSE AC_MAST.MAILNAME END),POMAIN.U_BANK,
AC_MAST1.ADD1 AS ADD11 ,AC_MAST1.ADD2 AS ADD12 ,AC_MAST1.CITY AS CITY1 ,AC_MAST1.ZIP AS ZIP1 ,AC_MAST1.COUNTRY AS BCOUNTRY,
--Dbo.[Fun_Get_Item_desc](PO1.Entry_ty,PO1.Tran_cd) as Item_desc1,
POMAIN.U_FBANK,POMAIN.U_FADDR,
It_Desc=(CASE WHEN ISNULL(it_mast.it_alias,'')='' THEN it_mast.it_name ELSE it_mast.it_alias END),
IT_MAST.HSNCODE,IT_MAST.RATEUNIT 
FROM POMAIN 
INNER JOIN AC_MAST ON (POMAIN.AC_ID=AC_MAST.AC_ID)
INNER join POMAIN PO1 on (pomain.u_ptran_cd=po1.tran_cd) 
LEFT JOIN AC_MAST AC_MAST1 ON (POMAIN.U_BANK=AC_MAST1.AC_NAME)
LEFT JOIN POITEM ON PO1.TRAN_CD=POITEM.TRAN_CD 
LEFT JOIN IT_MAST ON IT_MAST.IT_CODE=POITEM.IT_CODE
LEFT JOIN CURR_MAST ON (PO1.FCID=CURR_MAST.CURRENCYID)
--LEFT Join Poitem b ON (b.Entry_ty = PO1.Entry_ty AND b.Tran_cd = PO1.Tran_cd)
--LEFT Join It_Mast c ON (b.It_code = c.It_code) 
WHERE POMAIN.ENTRY_TY='LB' and POMAIN.tran_cd=@TRN 



-- EXECUTE USP_REP_FORMA1CB 'POMAIN.ENTRY_TY = ''LB'' AND POMAIN.TRAN_CD = 31'
GO
