set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Excise Cenvat Credit Delayed Report.
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================

ALTER PROCEDURE [dbo].[USP_REP_ANNE7D]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
SET QUOTED_IDENTIFIER OFF
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)


DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(2000),@FDATE VARCHAR(10)

SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT

SELECT PTMAIN.ENTRY_TY,STKL_VW_MAIN.DATE,PTMAIN.U_CLDT,PTMAIN.INV_NO,PTMAIN.DOC_NO,PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,STKL_VW_MAIN.U_RG23NO,AC_MAST.AC_NAME,PTITEM.U_ASSEAMT,PTITEM.EXAMT,PTITEM.U_CESSAMT,PTMAIN.U_CVDAMT,PTITEM.U_HCESAMT,PTITEM.TRAN_CD,PTMAIN.NARR,RG23NO=SPACE(10) INTO #ANNEIR7 FROM PTMAIN INNER JOIN PTITEM  ON (PTMAIN.TRAN_CD=PTITEM.TRAN_CD) INNER JOIN STKL_VW_MAIN ON(PTMAIN.TRAN_CD=STKL_VW_MAIN.TRAN_CD) INNER JOIN IT_MAST ON (PTITEM.ITEM=IT_MAST.IT_NAME) INNER JOIN AC_MAST ON (PTMAIN.AC_ID=AC_MAST.AC_ID)  WHERE 1=2

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='PTMAIN',@VITFILE='PTTEM',@VACFILE=' '
,@VDTFLD =@FDATE
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SET @SQLCOMMAND=' INSERT INTO #ANNEIR7 SELECT PTMAIN.ENTRY_TY,STKL_VW_MAIN.DATE,PTMAIN.U_CLDT,PTMAIN.INV_NO,PTMAIN.DOC_NO,PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,STKL_VW_MAIN.U_RG23NO,AC_MAST.AC_NAME,PTITEM.U_ASSEAMT,PTITEM.EXAMT,PTITEM.U_CESSAMT,PTITEM.U_CVDAMT,PTITEM.U_HCESAMT,PTITEM.TRAN_CD,PTMAIN.NARR,RG23NO=RTRIM(ISNULL(PTMAIN.U_RG23NO,''))+RTRIM(ISNULL(PTMAIN.U_RG23CNO,'')) FROM PTMAIN INNER JOIN PTITEM  ON (PTMAIN.TRAN_CD=PTITEM.TRAN_CD) INNER JOIN STKL_VW_MAIN ON(PTMAIN.TRAN_CD=STKL_VW_MAIN.TRAN_CD) INNER JOIN IT_MAST ON (PTITEM.ITEM=IT_MAST.IT_NAME) INNER JOIN AC_MAST ON (PTMAIN.AC_ID=AC_MAST.AC_ID)  '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='SRMAIN',@VITFILE='SRTEM',@VACFILE=' '
,@VDTFLD =@FDATE
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT SRMAIN.ENTRY_TY,STKL_VW_MAIN.DATE,SRMAIN.U_CLDT,SRMAIN.INV_NO,SRMAIN.DOC_NO,SRMAIN.U_PINVNO,SRMAIN.U_PINVDT,STKL_VW_MAIN.U_RG23NO,AC_MAST.AC_NAME,SRITEM.U_ASSEAMT,SRMAIN.EXAMT,SRMAIN.U_CESSAMT,SRMAIN.U_CVDAMT,SRMAIN.U_HCESAMT,SRITEM.TRAN_CD,SRMAIN.NARR,RG23NO=RTRIM(ISNULL(SRMAIN.U_RG23NO,''))+RTRIM(ISNULL(PTMAIN.U_RG23CNO,'')) FROM SRMAIN INNER JOIN SRITEM  ON (SRMAIN.TRAN_CD=SRITEM.TRAN_CD) INNER JOIN STKL_VW_MAIN ON(SRMAIN.TRAN_CD=STKL_VW_MAIN.TRAN_CD) INNER JOIN IT_MAST ON (SRITEM.ITEM=IT_MAST.IT_NAME) INNER JOIN AC_MAST ON (SRMAIN.AC_ID=AC_MAST.AC_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SELECT ENTRY_TY,DATE,U_CLDT,INV_NO,DOC_NO,U_PINVNO,U_PINVDT,U_RG23NO,RG23NO,AC_NAME,CONVERT(VARCHAR(200),NARR) AS NARR,SUM(U_ASSEAMT) AS ASSEAMT,SUM(EXAMT) AS EXAMT,SUM(U_CESSAMT) AS CESSAMT,SUM(U_CVDAMT) AS CVDAMT,SUM(U_HCESAMT) AS HCESAMT,TRAN_CD ,CAST ((U_CLDT-DATE)AS INT) AS DELAYDT FROM #ANNEIR7  WHERE NOT ISNULL(U_RG23NO,' ')=' ' GROUP BY ENTRY_TY,DATE,U_CLDT,INV_NO,DOC_NO,U_PINVNO,U_PINVDT,U_RG23NO,AC_NAME,TRAN_CD,CONVERT(VARCHAR(200),NARR),RG23NO ORDER BY U_CLDT,CAST(U_RG23NO AS INT),DATE,TRAN_CD

DROP TABLE #ANNEIR7
SET QUOTED_IDENTIFIER ON



