DROP PROCEDURE [USP_REP_118ISSUEIMP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [USP_REP_118ISSUEIMP] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@RULE  AS VARCHAR(25)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE
	,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='IPMAIN',@VITFILE='IPITEM',@VACFILE='IPACDET'
	,@VDTFLD ='DATE'
	,@VLYN =NULL
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

IF @FCON IS NOT NULL OR @FCON <> ''
BEGIN
	SET @FCON = @FCON + 'AND IPMAIN.[RULE]=''IMPORTED'' OR IRMAIN.[RULE]=''IMPORTED'''
END

DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)
SET @SQLCOMMAND='SELECT IPITEM.TRAN_CD,IPITEM.ENTRY_TY,IPITEM.INV_NO,IPITEM.DATE,IT_MAST.IT_NAME,IPITEM.QTY,'
SET @SQLCOMMAND=@SQLCOMMAND+'IPITEM.BCDAMT,IPITEM.CCDAMT,IPITEM.HCDAMT,IPITEM.U_CVDAMT,'--IPITEM.U_CESSAMT,IPITEM.U_HCESAMT'
--SET @SQLCOMMAND=@SQLCOMMAND+'IPITEM.BCDPER,IPITEM.U_CESSPER,IPITEM.U_HCESSPER,IPITEM.CCDPER,IPITEM.HCDPER,IPITEM.U_CVDPER,' Changes done by Ajay Jaiswal on 02/12/2010
SET @SQLCOMMAND=@SQLCOMMAND+'IPITEM.U_CUSTAMT,IPITEM.U_CUSTPER,IPITEM.BCDPER,IPITEM.CCDPER,IPITEM.HCDPER,IPITEM.U_CVDPER,'--,IPITEM.U_CESSPER,IPITEM.U_HCESSPER'
SET @SQLCOMMAND=@SQLCOMMAND+'IT_MAST.P_UNIT,IPITEM.U_ASSEAMT,PTMAIN.[RULE],IPITEM.U_INSAMT,IPITEM.U_FREAMT,'
SET @SQLCOMMAND=@SQLCOMMAND+'IPITREF.RINV_NO FROM IPITEM '
SET @SQLCOMMAND=@SQLCOMMAND+'INNER JOIN IPMAIN ON (IPITEM.ENTRY_TY=IPMAIN.ENTRY_TY AND IPITEM.TRAN_CD=IPMAIN.TRAN_CD)'
SET @SQLCOMMAND=@SQLCOMMAND+'INNER JOIN IT_MAST ON (IPITEM.IT_CODE=IT_MAST.IT_CODE)'
SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN IPITREF ON (IPITEM.ENTRY_TY=IPITREF.ENTRY_TY  AND IPITEM.TRAN_CD=IPITREF.TRAN_CD AND IPITEM.ITSERIAL=IPITREF.ITSERIAL)'
SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN PTITEM ON (PTITEM.ENTRY_TY=IPITREF.RENTRY_TY AND PTITEM.TRAN_CD=IPITREF.ITREF_TRAN AND PTITEM.ITSERIAL=IPITREF.RITSERIAL)'
SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN PTMAIN ON (PTMAIN.ENTRY_TY=IPITREF.RENTRY_TY AND PTMAIN.TRAN_CD=IPITREF.ITREF_TRAN)'
SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN IRMAIN ON (IRMAIN.ENTRY_TY=IPITREF.RENTRY_TY AND IRMAIN.TRAN_CD=IPITREF.ITREF_TRAN)'
SET @SQLCOMMAND=@SQLCOMMAND+RTRIM(@FCON)
SET @SQLCOMMAND=@SQLCOMMAND+' ORDER BY IPITEM.DATE'

EXECUTE SP_EXECUTESQL @SQLCOMMAND
  

-- Changed By Sachin N. S. on 11/08/2010 for EOU
--SET @SQLCOMMAND=@SQLCOMMAND+'INNER JOIN IT_MAST ON (IPITEM.ITEM=IT_MAST.IT_NAME)'
--SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN IPITREF ON (IPITEM.ENTRY_TY=IPITREF.ENTRY_TY  AND IPITEM.DATE=IPITREF.DATE AND IPITEM.DOC_NO=IPITREF.DOC_NO AND IPITEM.ITSERIAL=IPITREF.ITSERIAL)'
--SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN PTITEM ON (PTITEM.ENTRY_TY=IPITREF.RENTRY_TY AND PTITEM.INV_NO=IPITREF.RINV_NO AND PTITEM.ITEM_NO=IPITREF.ITEM_NO)'
--SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN PTMAIN ON (PTMAIN.ENTRY_TY=IPITREF.RENTRY_TY AND PTMAIN.INV_SR=IPITREF.RINV_SR AND PTMAIN.INV_NO=IPITREF.RINV_NO AND PTMAIN.L_YN=IPITREF.RL_YN)'
--SET @SQLCOMMAND=@SQLCOMMAND+'LEFT JOIN IRMAIN ON (IRMAIN.ENTRY_TY=IPITREF.RENTRY_TY AND IRMAIN.INV_SR=IPITREF.RINV_SR AND IRMAIN.INV_NO=IPITREF.RINV_NO AND IRMAIN.L_YN=IPITREF.RL_YN)'
GO
