if exists (select [name] from sysobjects where [name]='USP_REP_ANNECR7' AND XTYPE='P')
BEGIN 
	DROP PROCEDURE USP_REP_ANNECR7
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Excise Proforma For Monthly Return Under Rule-7 (Capital Goods) Report.
-- Modification Date/By/Reason: 29/04/2009 Rupesh Prajapati. Part-II Capital Goods Remaining 50% Entry.
-- Modification Date/By/Reason: 15/06/2009 Rupesh Prajapati. Modified for Consignor Details.
--Modified By Kishor A for Bug-28695 on 23-09-2016
-- Remark: 
-- =============================================
Create PROCEDURE [dbo].[USP_REP_ANNECR7]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS 
SET QUOTED_IDENTIFIER OFF

DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(2000),@FDATE VARCHAR(10),@FCON NVARCHAR(2000)
SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT

SELECT PTMAIN.ENTRY_TY,STKL_VW_MAIN.DATE,PTMAIN.U_CLDT, PTMAIN.DOC_NO,PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,STKL_VW_MAIN.U_RG23CNO,PTMAIN.AC_ID,PTMAIN.NET_AMT,PTITEM.QTY,PTITEM.GRO_AMT,PTITEM.U_ASSEAMT,PTITEM.EXAMT,PTITEM.U_CESSAMT,PTITEM.U_HCESAMT,PTITEM.BCDAMT,PTITEM.U_CVDAMT,IT_MAST.IT_NAME,IT_MAST.CHAPNO,PTITEM.TRAN_CD,PTMAIN.CONS_ID,PTMAIN.SCONS_ID INTO #ANNEIR7 FROM PTMAIN INNER JOIN PTITEM  ON (PTMAIN.TRAN_CD=PTITEM.TRAN_CD) INNER JOIN STKL_VW_MAIN ON(PTMAIN.TRAN_CD=STKL_VW_MAIN.TRAN_CD and ptmain.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY) INNER JOIN IT_MAST ON (PTITEM.ITEM=IT_MAST.IT_NAME) INNER JOIN AC_MAST ON (PTMAIN.AC_ID=AC_MAST.AC_ID)  WHERE 1=2

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='PTMAIN',@VITFILE='PTTEM',@VACFILE=' '
,@VDTFLD =@FDATE
,@VLYN=@LYN
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


SET @SQLCOMMAND=' INSERT INTO #ANNEIR7 '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT PTMAIN.ENTRY_TY,STKL_VW_MAIN.DATE,PTMAIN.U_CLDT, PTMAIN.DOC_NO,PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,STKL_VW_MAIN.U_RG23CNO,PTMAIN.AC_ID,PTMAIN.NET_AMT,PTITEM.QTY,PTITEM.GRO_AMT,PTITEM.U_ASSEAMT,PTMAIN.EXAMT,PTMAIN.U_CESSAMT,PTMAIN.U_HCESAMT,PTMAIN.BCDAMT,PTMAIN.U_CVDAMT,IT_MAST.IT_NAME,IT_MAST.CHAPNO,PTITEM.TRAN_CD,PTMAIN.CONS_ID,PTMAIN.SCONS_ID  FROM PTMAIN INNER JOIN PTITEM  ON (PTMAIN.TRAN_CD=PTITEM.TRAN_CD) INNER JOIN STKL_VW_MAIN ON(PTMAIN.TRAN_CD=STKL_VW_MAIN.TRAN_CD and ptmain.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY) INNER JOIN IT_MAST ON (PTITEM.ITEM=IT_MAST.IT_NAME) INNER JOIN AC_MAST ON (PTMAIN.CONS_ID=AC_MAST.AC_ID)  '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
print  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='SRMAIN',@VITFILE='SRTEM',@VACFILE=' '
,@VDTFLD =@FDATE
,@VLYN=@LYN
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SET @SQLCOMMAND=' INSERT INTO #ANNEIR7 '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT SRMAIN.ENTRY_TY,STKL_VW_MAIN.DATE,SRMAIN.U_CLDT, SRMAIN.DOC_NO,SRMAIN.U_PINVNO,SRMAIN.U_PINVDT,STKL_VW_MAIN.U_RG23CNO,SRMAIN.AC_ID,SRMAIN.NET_AMT,SRITEM.QTY,SRITEM.GRO_AMT,SRITEM.U_ASSEAMT,SRMAIN.EXAMT,SRMAIN.U_CESSAMT,SRMAIN.U_HCESAMT,BCDAMT=0,SRMAIN.U_CVDAMT,IT_MAST.IT_NAME,IT_MAST.CHAPNO,SRITEM.TRAN_CD,SRMAIN.CONS_ID,SRMAIN.SCONS_ID FROM SRMAIN INNER JOIN SRITEM  ON (SRMAIN.TRAN_CD=SRITEM.TRAN_CD AND SRMAIN.ENTRY_TY=SRITEM.ENTRY_TY) INNER JOIN STKL_VW_MAIN ON(SRMAIN.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND SRMAIN.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY) INNER JOIN IT_MAST ON (SRITEM.ITEM=IT_MAST.IT_NAME) INNER JOIN AC_MAST ON (SRMAIN.CONS_ID=AC_MAST.AC_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
print  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='IRMAIN',@VITFILE='IRTEM',@VACFILE=' '
,@VDTFLD =@FDATE
,@VLYN=@LYN
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SET @SQLCOMMAND=' INSERT INTO #ANNEIR7 '
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT IRMAIN.ENTRY_TY,STKL_VW_MAIN.DATE,IRMAIN.U_CLDT, IRMAIN.DOC_NO,IRMAIN.U_PINVNO,IRMAIN.U_PINVDT,STKL_VW_MAIN.U_RG23CNO,IRMAIN.AC_ID,IRMAIN.NET_AMT,IRITEM.QTY,IRITEM.GRO_AMT,IRITEM.U_ASSEAMT,IRMAIN.EXAMT,IRMAIN.U_CESSAMT,IRMAIN.U_HCESAMT,BCDAMT=0,IRMAIN.U_CVDAMT,IT_MAST.IT_NAME,IT_MAST.CHAPNO,IRITEM.TRAN_CD,IRMAIN.CONS_ID,IRMAIN.SCONS_ID FROM IRMAIN LEFT JOIN IRITEM  ON (IRMAIN.TRAN_CD=IRITEM.TRAN_CD AND IRMAIN.ENTRY_TY=IRITEM.ENTRY_TY) INNER JOIN STKL_VW_MAIN ON(IRMAIN.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND IRMAIN.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY) LEFT JOIN IT_MAST ON (IRITEM.ITEM=IT_MAST.IT_NAME) INNER JOIN AC_MAST ON (IRMAIN.CONS_ID=AC_MAST.AC_ID) ' --Commented By Kishor A for Bug-28695 on 23-09-2016
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT IRMAIN.ENTRY_TY,STKL_VW_MAIN.DATE,IRMAIN.U_CLDT, IRMAIN.DOC_NO,IRMAIN.U_PINVNO,IRMAIN.U_PINVDT,STKL_VW_MAIN.U_RG23CNO,IRMAIN.AC_ID,IRMAIN.NET_AMT,IRITEM.QTY,IRITEM.GRO_AMT,IRITEM.U_ASSEAMT,IRMAIN.EXAMT,IRMAIN.U_CESSAMT,IRMAIN.U_HCESAMT,BCDAMT=IRMAIN.BCDAMT,IRMAIN.U_CVDAMT,IT_MAST.IT_NAME,IT_MAST.CHAPNO,IRITEM.TRAN_CD,IRMAIN.CONS_ID,IRMAIN.SCONS_ID FROM IRMAIN LEFT JOIN IRITEM  ON (IRMAIN.TRAN_CD=IRITEM.TRAN_CD AND IRMAIN.ENTRY_TY=IRITEM.ENTRY_TY) INNER JOIN STKL_VW_MAIN ON(IRMAIN.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND IRMAIN.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY) LEFT JOIN IT_MAST ON (IRITEM.ITEM=IT_MAST.IT_NAME) INNER JOIN AC_MAST ON (IRMAIN.CONS_ID=AC_MAST.AC_ID) ' --Added By Kishor A for Bug-28695 on 23-09-2016
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
print  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

Declare @CGOODSPER NUMERIC(5,2)
SELECT @CGOODSPER=CGOODSPER/100 FROM MANUFACT

SELECT 
A.ENTRY_TY,A.DATE,A.U_CLDT,A.DOC_NO,A.U_PINVNO,A.U_PINVDT,A.U_RG23CNO,A.AC_ID,A.NET_AMT,A.QTY,A.GRO_AMT,A.U_ASSEAMT,A.EXAMT,A.U_CESSAMT,A.U_HCESAMT,A.BCDAMT,U_CVDAMT,A.IT_NAME,A.CHAPNO,A.TRAN_CD,A.CONS_ID,A.SCONS_ID
,AC_NAME=(CASE WHEN ISNULL(s.shipto_id,0)=0 then B.ac_name else s.location_id end)
,ECCNO=(CASE WHEN ISNULL(s.shipto_id,0)=0 then b.[ECCNO] else s.[ECCNO] end)
,VEND_TYPE=(CASE WHEN ISNULL(s.shipto_id,0)=0 then b.[VEND_TYPE] else s.[VEND_TYPE] end)
FROM #ANNEIR7 A
INNER JOIN AC_MAST B ON (B.AC_ID=A.CONS_ID)
left JOIN SHIPTO S ON  (A.SCONS_ID=S.SHIPTO_ID)
ORDER BY DATE,TRAN_CD



DROP TABLE #ANNEIR7
SET QUOTED_IDENTIFIER ON













