DROP PROCEDURE [USP_STKL_VW_MAIN]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [USP_STKL_VW_MAIN] AS


DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @WHCOND NVARCHAR(250)
SET @WHCOND = ' WHERE (PMKEY='+CHAR(39)+'+' +CHAR(39)+ 'OR PMKEY='+CHAR(39)+'-'+CHAR(39)+') AND DC_NO='+CHAR(39)+' ' +CHAR(39)

SET @SQLCOMMAND='CREATE VIEW STKL_VW_MAIN AS '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM STMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM PTMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM STMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM ARMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM OBMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM BPMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM BRMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM CNMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM CPMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM IIMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM PCMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM POMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM SOMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM SQMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM SRMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM DCMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM CRMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM DNMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM EPMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM ESMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM IPMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM IRMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM JVMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM OPMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM PRMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM SSMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM EQMAIN ' 
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' UNION '
SET @SQLCOMMAND =RTRIM(@SQLCOMMAND) +' SELECT TRAN_CD,DATE,AC_ID,NET_AMT,GRO_AMT,DEPT,CATE,INV_SR,[RULE],U_GCSSR,U_PINVNO,U_PINVDT,INV_NO FROM TRMAIN ' 

EXEC SP_EXECUTESQL @SQLCOMMAND

PRINT  @SQLCOMMAND
GO
