DROP PROCEDURE [USP_REP_CHEQUEDETAILS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [USP_REP_CHEQUEDETAILS]
@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),
@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
@SAMT NUMERIC,@EAMT NUMERIC,
@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
@FINYR NVARCHAR(20), @EXTPAR NVARCHAR(60)
AS
Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000)

EXECUTE USP_REP_FILTCON 
		@VTMPAC=@TMPAC,@VTMPIT=null,@VSPLCOND=@SPLCOND,
		@VSDATE=@SDATE,@VEDATE=@EDATE,
		@VSAC =@SNAME,@VEAC =@ENAME,
		@VSIT=null,@VEIT=null,
		@VSAMT=@SAMT,@VEAMT=@EAMT,
		@VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
		@VSCATE =@SCAT,@VECATE =@ECAT,
		@VSWARE =null,@VEWARE  =null,
		@VSINV_SR =@SINVSR,@VEINV_SR =@EINVSR,
		@VMAINFILE='a',@VITFILE=null,@VACFILE='b',
		@VDTFLD = 'DATE',@VLYN=null,@VEXPARA=@EXTPAR,
		@VFCON =@FCON OUTPUT

Select a.Date,a.Party_nm,a.cheq_no,a.bank_nm,b.amount,b.amt_ty,b.cl_date,b.clause,a.inv_no,a.Entry_ty Into #cheque_det  From 
Bpmain a
Inner Join Bpacdet b On (a.Tran_cd=b.Tran_cd and a.bank_nm=b.ac_name)
Where 1=2

--print @SPLCOND
--print @FCON
set @SQLCOMMAND=''
set @SQLCOMMAND='Insert Into #cheque_det Select a.Date,a.Party_nm,a.cheq_no,a.bank_nm,b.amount,b.amt_ty,isnull(b.cl_date,0),b.clause,a.inv_no,a.Entry_ty From '
set @SQLCOMMAND=@SQLCOMMAND+' '+'Bpmain a'
set @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join Bpacdet b On (a.Tran_cd=b.Tran_cd )'
set @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join Ac_Mast on (b.ac_name=ac_mast.ac_name)'
set @SQLCOMMAND=@SQLCOMMAND+@FCON
set @SQLCOMMAND=@SQLCOMMAND+' '+' and a.Entry_ty=''BP'''
set @SQLCOMMAND=@SQLCOMMAND+' '+'Union all'
set @SQLCOMMAND=@SQLCOMMAND+' '+'Select a.Date,a.Party_nm,a.cheq_no,a.bank_nm,b.amount,b.amt_ty,isnull(b.cl_date,0),b.clause,a.inv_no,a.Entry_ty From '
set @SQLCOMMAND=@SQLCOMMAND+' '+'Brmain a'
set @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join Bracdet b On (a.Tran_cd=b.Tran_cd)'
set @SQLCOMMAND=@SQLCOMMAND+' '+'Inner Join Ac_Mast on (b.ac_name=ac_mast.ac_name	)'
set @SQLCOMMAND=@SQLCOMMAND+@FCON
set @SQLCOMMAND=@SQLCOMMAND+' '+' and a.Entry_ty=''BR'''
--print @SQLCOMMAND
execute sp_executesql @SQLCOMMAND

Select * From #cheque_det Order by Bank_nm,Date,Inv_no
GO
