DROP PROCEDURE [USP_REP_INV_ANAL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [USP_REP_INV_ANAL]
@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),@SWARE NVARCHAR(60),@EWARE NVARCHAR(60)
AS
	SET NOCOUNT ON

	DECLARE @v_EWR NVARCHAR(60)
	SET @v_EWR=(CASE WHEN @EWARE='' THEN @EWARE ELSE 'zzzzzzzzzzzzzzzzzzzzzzzz' END)
	
	IF @TMPIT<>''
	BEGIN
		DECLARE @strQ NVARCHAR(1000)
		SET @strQ='SELECT ITNAME FROM '+@TMPIT

		SELECT IT_NAME AS ITNAME INTO #ITNAMES FROM IT_MAST A WHERE 1=2

		INSERT #ITNAMES EXECUTE (@strQ)

		SELECT B.ITEM,
			AddQty=isnull((CASE WHEN B.ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE INV_STK='+') AND
						B.DATE BETWEEN CAST('04/01/'+CAST((CASE WHEN month(@SDATE)>3 THEN year(@SDATE) ELSE year(@SDATE)+1 END) AS VARCHAR) AS SMALLDATETIME) AND @SDATE
					THEN B.QTY END),0),
			LessQty=isnull((CASE WHEN B.ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE INV_STK='-') AND
						B.DATE BETWEEN CAST('04/01/'+CAST((CASE WHEN month(@SDATE)>3 THEN year(@SDATE) ELSE year(@SDATE)+1 END) AS VARCHAR) AS SMALLDATETIME) AND @SDATE
					THEN B.QTY END),0)
		INTO #OS2
		FROM UVW_ITEM B
		WHERE B.ITEM IN (SELECT ITNAME FROM #ITNAMES)
		ORDER BY B.ITEM

		SELECT VW.ITEM,
			---OP STOCK
			OS=isnull((SELECT sum(QTY) FROM OSITEM WHERE ITEM LIKE VW.ITEM AND DATE <@SDATE),0)
				+isnull((SELECT sum(AddQty) FROM #OS2 WHERE ITEM LIKE VW.ITEM),0)
				-isnull((SELECT sum(LessQty) FROM #OS2 WHERE ITEM LIKE VW.ITEM),0),
			---PURCHASES
			PT=isnull((CASE WHEN ENTRY_TY='PT' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='PT') THEN QTY END),0),
			---SALES
			ST=isnull((CASE WHEN ENTRY_TY='ST' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='ST') THEN QTY END),0),
			---SALES RETURN
			SR= isnull((CASE WHEN ENTRY_TY='SR' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='SR') THEN QTY END),0),
			---PUR RETURN
			PR=isnull((CASE WHEN ENTRY_TY='PR' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='PR') THEN QTY END),0),
			---  ODS RECEIPT
			AR=isnull((CASE WHEN ENTRY_TY='AR' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='AR') THEN QTY END),0),
			---DEL CHALLAN
			DC=isnull((CASE WHEN ENTRY_TY='DC' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='DC') THEN QTY END),0),
			---INTER-DEPT RECEIPT
			IR=isnull((CASE WHEN ENTRY_TY='IR' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='IR') THEN QTY END),0),
			---INTER_DEPT ISSUE
			II=isnull((CASE WHEN ENTRY_TY='II' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='II') THEN QTY END),0),
			---O/P FR PROD
			OP=isnull((CASE WHEN ENTRY_TY='OP' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='OP') THEN QTY END),0),
			---I/P TO PROD
			IP=isnull((CASE WHEN ENTRY_TY='IP' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='IP') THEN QTY END),0),
			---EXCESS STOCK
			ES=isnull((CASE WHEN ENTRY_TY='ES' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='ES') THEN QTY END),0),
			---SHORTAGE STOCK
			SS=isnull((CASE WHEN ENTRY_TY='SS' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='SS') THEN QTY END),0)
		INTO #INV_ANAL1
		FROM UVW_ITEM VW
		WHERE VW.ITEM IN (SELECT ITNAME FROM #ITNAMES) AND
			DATE BETWEEN @SDATE AND @EDATE 	AND 
			WARE_NM BETWEEN @SWARE AND @EWARE
		ORDER BY VW.ITEM

		SELECT ITEM,OS=sum(OS),PT=sum(PT),ST=sum(ST),SR=sum(SR),PR=sum(PR),AR=sum(AR),DC=sum(DC),
			IR=sum(IR),II=sum(II),OP=sum(OP),IP=sum(IP),ES=sum(ES),SS=sum(SS)
		FROM #INV_ANAL1
		GROUP BY ITEM
		ORDER BY ITEM
	END
	ELSE
	BEGIN
		SELECT B.ITEM,
			AddQty=isnull((CASE WHEN B.ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE INV_STK='+') AND
						B.DATE BETWEEN CAST('04/01/'+CAST((CASE WHEN month(@SDATE)>3 THEN year(@SDATE) ELSE year(@SDATE)+1 END) AS VARCHAR) AS SMALLDATETIME) AND @SDATE
					THEN B.QTY END),0),
			LessQty=isnull((CASE WHEN B.ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE INV_STK='-') AND
						B.DATE BETWEEN CAST('04/01/'+CAST((CASE WHEN month(@SDATE)>3 THEN year(@SDATE) ELSE year(@SDATE)+1 END) AS VARCHAR) AS SMALLDATETIME) AND @SDATE
					THEN B.QTY END),0)
		INTO #OS1
		FROM UVW_ITEM B
		WHERE ITEM BETWEEN @SITEM AND @EITEM
		ORDER BY B.ITEM

		SELECT VW.ITEM,
			---OP STOCK
			OS=isnull((SELECT sum(QTY) FROM OSITEM WHERE ITEM LIKE VW.ITEM AND DATE <@SDATE),0)
				+isnull((SELECT sum(AddQty) FROM #OS1 WHERE ITEM LIKE VW.ITEM),0)
				-isnull((SELECT sum(LessQty) FROM #OS1 WHERE ITEM LIKE VW.ITEM),0),
			---PURCHASES
			PT=isnull((CASE WHEN ENTRY_TY='PT' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='PT') THEN QTY END),0),
			---SALES
			ST=isnull((CASE WHEN ENTRY_TY='ST' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='ST') THEN QTY END),0),
			---SALES RETURN
			SR= isnull((CASE WHEN ENTRY_TY='SR' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='SR') THEN QTY END),0),
			---PUR RETURN
			PR=isnull((CASE WHEN ENTRY_TY='PR' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='PR') THEN QTY END),0),
			---  ODS RECEIPT
			AR=isnull((CASE WHEN ENTRY_TY='AR' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='AR') THEN QTY END),0),
			---DEL CHALLAN
			DC=isnull((CASE WHEN ENTRY_TY='DC' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='DC') THEN QTY END),0),
			---INTER-DEPT RECEIPT
			IR=isnull((CASE WHEN ENTRY_TY='IR' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='IR') THEN QTY END),0),
			---INTER_DEPT ISSUE
			II=isnull((CASE WHEN ENTRY_TY='II' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='II') THEN QTY END),0),
			---O/P FR PROD
			OP=isnull((CASE WHEN ENTRY_TY='OP' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='OP') THEN QTY END),0),
			---I/P TO PROD
			IP=isnull((CASE WHEN ENTRY_TY='IP' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='IP') THEN QTY END),0),
			---EXCESS STOCK
			ES=isnull((CASE WHEN ENTRY_TY='ES' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='ES') THEN QTY END),0),
			---SHORTAGE STOCK
			SS=isnull((CASE WHEN ENTRY_TY='SS' OR
				ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM='SS') THEN QTY END),0)
		INTO #INV_ANAL
		FROM UVW_ITEM VW
		WHERE VW.ITEM BETWEEN @SITEM AND @EITEM	AND
			DATE BETWEEN @SDATE AND @EDATE 	AND 
			WARE_NM BETWEEN @SWARE AND @EWARE
		ORDER BY VW.ITEM

		SELECT ITEM,OS=sum(OS),PT=sum(PT),ST=sum(ST),SR=sum(SR),PR=sum(PR),AR=sum(AR),DC=sum(DC),
			IR=sum(IR),II=sum(II),OP=sum(OP),IP=sum(IP),ES=sum(ES),SS=sum(SS)
		FROM #INV_ANAL
		GROUP BY ITEM
		ORDER BY ITEM
	END
GO
