DROP PROCEDURE [USP_ENT_EMAILCLIENT_INSERTUPDATE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [USP_ENT_EMAILCLIENT_INSERTUPDATE]
@action varchar(10),
@id varchar(20),
@desc varchar(1000)='',
@tran_typ varchar(1000)='',
@hasattachment bit=0,
@attachment_typ varchar(20)='',
@rep_nm varchar(1000)='',
@to varchar(1000)='',
@cc varchar(1000)='',
@bcc varchar(1000)='',
@subject varchar(1000)='',
@body varchar(3000)='',
@query varchar(3000)='',
@reportquery varchar(3000)='',
@parameters varchar(2000)='',
@separator varchar(2)='',
@encoding varchar(20)='',
@isFirstrow bit=0,
@reportquerytype varchar(2)='',
@exportpath varchar(1000)='',
@exportprefixname varchar(100)='',
@removefiles bit=0,
@emaillogfiles bit=0,
@logemailid varchar(1000)='',
-- Added by Sachin N. S. on 15-01-2014 for Bug-20211 -- Start
@repgroup varchar(60)='',
@repDesc varchar(60)='',
@repRep_Nm varchar(20)='',
-- Added by Sachin N. S. on 15-01-2014 for Bug-20211 -- End
@digsign bit=0 -- Added by Pankaj B. on 18-05-2015 for Bug-26156
As
Begin
	If rtrim(upper(@action)) = 'INSERT'
	Begin
--		Insert into eMailClient(id,[desc],tran_typ,hasattachment,attachment_typ,rep_nm,[to],cc,bcc,[subject],body,query,reportquery,[parameters],separator,encoding,isFirstrow,reportquerytype,exportpath,exportprefixname,removefiles,emaillogfiles,logemailid)
--		values(@id,@desc,@tran_typ,@hasattachment,@attachment_typ,@rep_nm,@to,@cc,@bcc,@subject,@body,@query,@reportquery,@parameters,@separator,@encoding,@isFirstrow,@reportquerytype,@exportpath,@exportprefixname,@removefiles,@emaillogfiles,@logemailid)

-- Commented by Pankaj B. on 18-05-2015 for Bug-26156
--		Insert into eMailClient(id,[desc],tran_typ,hasattachment,attachment_typ,rep_nm,[to],cc,bcc,[subject],body,query,reportquery,[parameters],separator,encoding,isFirstrow,reportquerytype,exportpath,exportprefixname,removefiles,emaillogfiles,logemailid,repgroup,repdesc,reprep_nm)		-- Changed by Sachin N. S. on 15/01/2014 for Bug-20211 
--		values(@id,@desc,@tran_typ,@hasattachment,@attachment_typ,@rep_nm,@to,@cc,@bcc,@subject,@body,@query,@reportquery,@parameters,@separator,@encoding,@isFirstrow,@reportquerytype,@exportpath,@exportprefixname,@removefiles,@emaillogfiles,@logemailid,@repgroup,@repdesc,@reprep_nm)	-- Changed by Sachin N. S. on 15/01/2014 for Bug-20211
-- Commented by Pankaj B. on 18-05-2015 for Bug-26156
		
		-- Added by Pankaj B. on 18-05-2015 for Bug-26156 Start
		Insert into eMailClient(id,[desc],tran_typ,hasattachment,attachment_typ,rep_nm,[to],cc,bcc,[subject],body,query,reportquery,[parameters],separator,encoding,isFirstrow,reportquerytype,exportpath,exportprefixname,removefiles,emaillogfiles,logemailid,repgroup,repdesc,reprep_nm,digsign)		-- Changed by Sachin N. S. on 15/01/2014 for Bug-20211
		values(@id,@desc,@tran_typ,@hasattachment,@attachment_typ,@rep_nm,@to,@cc,@bcc,@subject,@body,@query,@reportquery,@parameters,@separator,@encoding,@isFirstrow,@reportquerytype,@exportpath,@exportprefixname,@removefiles,@emaillogfiles,@logemailid,@repgroup,@repdesc,@reprep_nm,@digsign)	-- Changed by Sachin N. S. on 15/01/2014 for Bug-20211
		-- Added by Pankaj B. on 18-05-2015 for Bug-26156 End

	End
	
	If rtrim(upper(@action)) = 'UPDATE'
	Begin
		Update eMailClient set [desc]=@desc,tran_typ=@tran_typ,hasattachment=@hasattachment,attachment_typ=@attachment_typ,
			rep_nm=@rep_nm,[to]=@to,cc=@cc,bcc=@bcc,[subject]=@subject,body=@body,query=@query,reportquery=@reportquery,[parameters]=@parameters,
			separator=@separator,encoding=@encoding,isFirstrow=@isFirstrow,reportquerytype=@reportquerytype,exportpath=@exportpath,exportprefixname=@exportprefixname,
			removefiles=@removefiles,emaillogfiles=@emaillogfiles,logemailid=@logemailid,
			repgroup=@repgroup,repdesc=@repdesc,reprep_nm=@reprep_nm	-- Added by Sachin N. S. on 15/01/2014 for Bug-20211
			,digsign=@digsign-- Added by Pankaj B. on 18-05-2015 for Bug-26156
		Where id=@id
	End
End
GO
