DROP PROCEDURE [USP_REP_LBK_BOTH]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [USP_REP_LBK_BOTH]
@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
@SAMT NUMERIC,@EAMT NUMERIC,@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),@FINYR NVARCHAR(20), @EXTPAR NVARCHAR(60)
AS
	--------STORED PROC FOR BANK RECEIPTS & PAYMENTS REPORT----------------

	DECLARE @QueryStr NVARCHAR(4000)

	SET @QueryStr = 'SELECT VW.*,BPMAIN.CHEQ_NO,BPMAIN.NARR FROM BPMAIN JOIN UVW_ACDET VW ON BPMAIN.TRAN_CD = VW.TRAN_CD WHERE BPMAIN.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+
			' AND VW.AMT_TY = '+CHAR(39)+'CR'+CHAR(39)+
			' AND BPMAIN.BANK_NM BETWEEN '+CHAR(39)+@SNAME+CHAR(39)+' AND '+CHAR(39)+@ENAME+CHAR(39)

	IF len(@EDEPT)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.DEPT BETWEEN '+CHAR(39)+@SDEPT+CHAR(39)+' AND '+CHAR(39)+@EDEPT+CHAR(39)
	END	
	IF len(@ECAT)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.CATE BETWEEN '+CHAR(39)+@SCAT+CHAR(39)+' AND '+CHAR(39)+@ECAT+CHAR(39)
	END
	IF len(@EWARE)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.WARE_NM BETWEEN '+CHAR(39)+@SWARE+CHAR(39)+' AND '+CHAR(39)+@EWARE+CHAR(39)
	END
	IF len(@EINVSR)<>0
	BEGIN
		SET @QueryStr=@QueryStr+N' AND VW.INV_SR BETWEEN '+CHAR(39)+@SINVSR+CHAR(39)+' AND '+CHAR(39)+@EINVSR+CHAR(39)
	END

	SET @QueryStr=@QueryStr+' UNION ALL SELECT VW.*,BRMAIN.CHEQ_NO,BRMAIN.NARR FROM BRMAIN JOIN UVW_ACDET VW ON BRMAIN.TRAN_CD = VW.TRAN_CD WHERE BRMAIN.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+
			' AND '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+
			' AND VW.AMT_TY = '+CHAR(39)+'DR'+CHAR(39)+
			' AND BRMAIN.BANK_NM BETWEEN '+CHAR(39)+@SNAME+CHAR(39)+' AND '+CHAR(39)+@ENAME+CHAR(39)

	IF len(@EDEPT)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.DEPT BETWEEN '+CHAR(39)+@SDEPT+CHAR(39)+' AND '+CHAR(39)+@EDEPT+CHAR(39)
	END	
	IF len(@ECAT)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.CATE BETWEEN '+CHAR(39)+@SCAT+CHAR(39)+' AND '+CHAR(39)+@ECAT+CHAR(39)
	END
	IF len(@EWARE)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.WARE_NM BETWEEN '+CHAR(39)+@SWARE+CHAR(39)+' AND '+CHAR(39)+@EWARE+CHAR(39)
	END
	IF len(@EINVSR)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.INV_SR BETWEEN '+CHAR(39)+@SINVSR+CHAR(39)+' AND '+CHAR(39)+@EINVSR+CHAR(39)
	END

	SELECT A.TRAN_CD,A.DATE,A.DOC_NO,A.ENTRY_TY,B.INV_NO,A.AC_NAME,A.DEPT,A.CATE,A.INV_SR AS INVSR,A.AMOUNT,A.AMT_TY,
		A.NARR AS EXTNARR,B.CHEQ_NO,B.NARR INTO #BKBOTH FROM ACDET A,MAIN B WHERE 1=2

	INSERT #BKBOTH EXECUTE (@QueryStr)

	SELECT * FROM #BKBOTH ORDER BY DATE
GO
