DROP PROCEDURE [Usp_Rep_LACP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Priyanka Himane
-- Create date: 17/12/2011
-- Description:	This Stored procedure is useful to Generate data for Letter of Acceptance report in Letter To Bank transaction.
-- =============================================

CREATE PROCEDURE    [Usp_Rep_LACP]
@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)
	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		SET @TBLCON=RTRIM(@ENTRYCOND)
PRINT @ENT
PRINT @TRN

SELECT 
POMAIN.DATE,POMAIN.TRAN_CD,POMAIN.U_QTY,POMAIN.U_RATE,pomain.U_LCNO,pomain.U_LCDT,
POMAIN.U_LCINVAMT,POMAIN.u_BLDT,POMAIN.U_DAYS,pomain.U_IMCDDT,pomain.U_IMCDNO,pomain.U_LCNO,POMAIN.U_BANK,
AC_MAST1.ADD1 AS ADD11 ,AC_MAST1.ADD2 AS ADD12 ,AC_MAST1.CITY AS CITY1 ,AC_MAST1.ZIP AS ZIP1,
cast(Dbo.[Fun_Get_Item_desc](PO1.Entry_ty,PO1.Tran_cd) as varchar(200)) as Item_desc,CURR_MAST.CURRDESC as u_corren,
MAILNAME=(CASE WHEN ISNULL(AC_MAST.MAILNAME,'')='' THEN AC_MAST.AC_NAME ELSE AC_MAST.MAILNAME END)
FROM POMAIN 
LEFT JOIN AC_MAST ON (POMAIN.AC_ID=AC_MAST.AC_ID)
LEFT join POMAIN PO1 on (pomain.u_ptran_cd=po1.tran_cd)
INNER JOIN AC_MAST AC_MAST1 ON (POMAIN.U_BANK=AC_MAST1.AC_NAME)
INNER JOIN CURR_MAST ON (PO1.FCID=CURR_MAST.CURRENCYID)
WHERE POMAIN.ENTRY_TY='LB' and POMAIN.tran_cd=@TRN
GO
