If Exists(Select [name] From SysObjects Where xType='P' and [name]='Usp_Rep_Pharma_MIS_PRRETSUP')
Begin
	Drop Procedure Usp_Rep_Pharma_MIS_PRRETSUP
End
GO
/****** Object:  StoredProcedure [dbo].[Usp_Rep_Pharma_MIS_PRRETSUP]    Script Date: 2019-03-18 11:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Usp_Rep_Pharma_MIS_PRRETSUP]
(@FrmDate SMALLDATETIME,@Todate SMALLDATETIME)
AS
DECLARE @SQLCOMMAND NVARCHAR(4000)


SET @SQLCOMMAND='SELECT iiitem.DATE,iiitem.PARTY_NM,iiitem.INV_NO,iiitem.GRO_AMT,iiitem.TOT_DEDUC,iiitem.TOT_TAX'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',iiitem.TOT_ADD,iiitem.TAXAMT,iiitem.TOT_NONTAX,iiitem.TOT_FDISC,iiitem.u_asseamt,iimain.NET_AMT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',iiitem.QTY,iiitem.RATE'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',iiitem.WARE_NM,CAST(ISNULL(IT_DESC,'''') AS VARCHAR(200)) AS IT_DESC,CAST(ISNULL(it_name,'''') AS VARCHAR(200)) AS it_name'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',IT_MAST.[GROUP],IT_MAST.hsncode,IT_MAST.RATEPER,IT_MAST.RATEUNIT,IT_MAST.[TYPE],iiitem.CGST_AMT,iiitem.SGST_AMT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',iiitem.IGST_AMT,iiitem.sbdate,iiitem.SBILLNO,iiitem.CGSRT_AMT,iiitem.SGSRT_AMT,iiitem.IGSRT_AMT,iiitem.batchno,iiitem.MFGDT,iiitem.EXPDT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM iimain '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN iiitem ON (iimain.TRAN_CD=iiitem.TRAN_CD AND iimain.ENTRY_TY=iiitem.ENTRY_TY) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (iiitem.IT_CODE=IT_MAST.IT_CODE)' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (iimain.AC_ID=AC_MAST.AC_ID) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+' WHERE (iimain.DATE BETWEEN '+CHAR(39)+cast(@FrmDate as varchar)+CHAR(39)+' AND '+CHAR(39)+cast(@Todate as varchar)+CHAR(39)+') '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND iimain.ENTRY_TY=''RA'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'ORDER BY iimain.DATE,iimain.INV_NO'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND



