DROP PROCEDURE [USP_REP_DBK2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR     :	AJAY JAISWAL
-- CREATE DATE: 07/07/2011
-- DESCRIPTION:	THIS STORE PROCEDURE IS USED TO GENERATE STATEMENT DBK2 REPORTS.
-- MODIFIED DATE : FURTHER ENHANCED BY PRIYANKA.H FOR EXIM ON 28/12/2011.
-- MODIFIED REMARK:
-- =============================================

create PROCEDURE      [USP_REP_DBK2]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS
DECLARE @FCON AS NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='PTMAIN',@VITFILE='PTITEM',@VACFILE=''
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)

SET @SQLCOMMAND='DECLARE @BOMSERIAL AS VARCHAR(MAX)
SELECT PTMAIN.INV_NO,PTITEM.IT_CODE,PTMAIN.DATE,IT_DESC=(CASE WHEN ISNULL(IT_MAST.IT_ALIAS,'''')='''' THEN IT_MAST.IT_NAME ELSE IT_MAST.IT_ALIAS END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',PTMAIN.BENO,PTMAIN.BEDT,PTMAIN.U_ISASSFL,PTMAIN.U_CHANAME,PTITEM.QTY,IT_MAST.RATEUNIT,PTITEM.RATE
,PTITEM.BCDAMT,PTITEM.BCDPER'
--,PTITEM.U_CESSAMT,PTITEM.U_CESSPER,PTITEM.U_HCESAMT,PTITEM.U_HCESSPER,PTITEM.CCDAMT,PTITEM.CCDPER,PTITEM.HCDAMT,PTITEM.HCDPER,PTITEM.U_CVDAMT,PTITEM.U_CVDPER,PTITEM.U_CUSTAMT,PTITEM.U_CUSTPER
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IT_MAST.EIT_NAME
,AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.COUNTRY'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',AC_MAST1.AC_NAME AS AC_NAME1,AC_MAST1.ADD1 AS ADD11,AC_MAST1.ADD2 AS ADD12,AC_MAST1.ADD3 AS ADD13,AC_MAST1.COUNTRY AS COUNTRY1
,@BOMSERIAL AS BOMSERIAL'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INTO #TBL1 FROM PTITEM INNER JOIN PTMAIN ON (PTITEM.TRAN_CD=PTMAIN.TRAN_CD) INNER JOIN IT_MAST ON (PTITEM.IT_CODE=IT_MAST.IT_CODE) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST ON (PTMAIN.AC_ID=AC_MAST.AC_ID)
INNER JOIN AC_MAST AC_MAST1 ON (PTMAIN.CONS_ID=AC_MAST1.AC_ID)WHERE PTMAIN.ENTRY_TY = ''P1'''
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT DISTINCT A.BOMID,C.IT_CODE,(rtrim(A.Bomid)+''-''+rtrim(B.BOMDETID)) as bomdetid
INTO #Tmp2	FROM BOMHEAD A INNER JOIN BOMDET B ON (A.BOMID=B.BOMID AND A.BOMLEVEL=B.BOMLEVEL) INNER JOIN #TBL1 C ON (B.RMITEMID=C.IT_CODE) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'Declare @It_code int Declare TCursor Cursor for select Distinct It_code from #TBL1 Open TCursor
fetch next from TCursor into @It_code while @@fetch_status=0 Begin	SELECT @Bomserial = (SELECT Rtrim([Bomdetid])+'','' FROM #Tmp2
		   Where It_code = @It_code FOR XML PATH('''') )'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'Select @Bomserial = ISNULL(@Bomserial,'''')IF @Bomserial <> '''' BEGIN	SELECT @Bomserial = Left(@Bomserial,Len(@Bomserial)-1)
	END	Update #Tbl1 SET Bomserial = @Bomserial Where It_code = @It_code fetch next from TCursor into @It_code'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'End close TCursor deallocate TCursor Select * FROM #Tbl1 Drop table #Tbl1 Drop table #Tmp2'
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

--EXECUTE USP_REP_DBK2 '','','','04/01/2011','03/31/2012','','','','',0,0,'','','','','','','','','2011-2012',''
GO
