DROP PROCEDURE [USP_REP_ILEDGER_G]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 04/06/2010
-- Description:	This Stored procedure is useful to generate Groupwise Stock Ledger Report.
-- Modification Date/By/Reason: 
-- Remark:
-- =============================================
Create    PROCEDURE [USP_REP_ILEDGER_G]
	@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
	@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
	@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),
	@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
	@SAMT NUMERIC,@EAMT NUMERIC,
	@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
	@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
	@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
	@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
	@FINYR NVARCHAR(20),@expara NVARCHAR(1000)
	AS
begin		
	Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000)
	
	EXECUTE USP_REP_FILTCON 
		@VTMPAC=null,@VTMPIT=@TMPIT,@VSPLCOND=@SPLCOND,
		@VSDATE=null,@VEDATE=@EDATE,
		@VSAC =null,@VEAC =null,
		@VSIT=@SITEM,@VEIT=@EITEM,
		@VSAMT=null,@VEAMT=null,
		@VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
		@VSCATE =@SCAT,@VECATE =@ECAT,
		@VSWARE =@SWARE,@VEWARE  =@EWARE,
		@VSINV_SR =@SINVSR,@VEINV_SR =@EINVSR,
		@VMAINFILE='MVW',@VITFILE='IVW',@VACFILE=null,
		@VDTFLD = 'DATE',@VLYN=null,@VEXPARA=@expara,
		@VFCON =@FCON OUTPUT
		
		SELECT IVW.TRAN_CD,IVW.ENTRY_TY,IVW.DATE,IVW.ITSERIAL,
		IVW.QTY,IVW.DC_NO,IVW.WARE_NM,
		MVW.INV_NO,LCODE.INV_STK,
		AC_MAST.AC_ID,AC_MAST.AC_NAME,
		IT_MAST.IT_CODE,IT_NAME=IT_MAST.[group],IT_MAST.RATEUNIT
		,bcode_nm=ivw.entry_ty
		into #table1
		FROM STKL_VW_ITEM IVW (NOLOCK)
		INNER JOIN AC_MAST (NOLOCK) ON IVW.AC_ID = AC_MAST.AC_ID
		INNER JOIN IT_MAST (NOLOCK) ON IVW.IT_CODE = IT_MAST.IT_CODE
		INNER JOIN STKL_VW_MAIN MVW (NOLOCK) 
		ON IVW.TRAN_CD = MVW.TRAN_CD AND IVW.ENTRY_TY = MVW.ENTRY_TY
		INNER JOIN LCODE (NOLOCK) 
		ON IVW.ENTRY_TY = LCODE.ENTRY_TY AND LCODE.INV_STK IN ('+','-') where 1=2
		/*Rup 09/06/2010 TKT-1690--->*/
		declare @RuleCondition varchar(1000)
		set @RuleCondition=''
		if charindex('$>Rule',@expara)<>0
		begin
			set @RuleCondition=@expara
			SET @RuleCondition=REPLACE(@RuleCondition, '`','''')
			set @RuleCondition=substring(@RuleCondition,charindex('$>Rule',@RuleCondition)+6,len(@RuleCondition)-(charindex('$>Rule',@RuleCondition)+5))
			set @RuleCondition=substring(@RuleCondition,1,charindex('<$Rule',@RuleCondition)-1)
		end
		/*<---Rup 09/06/2010 TKT-1690*/

	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'insert into #table1 SELECT IVW.TRAN_CD,IVW.ENTRY_TY,IVW.DATE,IVW.ITSERIAL,
		IVW.QTY,IVW.DC_NO,IVW.WARE_NM,
		MVW.INV_NO,LCODE.INV_STK,
		AC_MAST.AC_ID,AC_MAST.AC_NAME,
		IT_MAST.IT_CODE,IT_NAME=IT_MAST.[group],IT_MAST.RATEUNIT
		,bcode_nm=(case when ext_vou=1 then LCODE.bcode_nm else LCODE.entry_ty end)
		FROM STKL_VW_ITEM IVW (NOLOCK)
		INNER JOIN AC_MAST (NOLOCK) ON IVW.AC_ID = AC_MAST.AC_ID
		INNER JOIN IT_MAST (NOLOCK) ON IVW.IT_CODE = IT_MAST.IT_CODE
		INNER JOIN STKL_VW_MAIN MVW (NOLOCK) 
			ON IVW.TRAN_CD = MVW.TRAN_CD AND IVW.ENTRY_TY = MVW.ENTRY_TY
		INNER JOIN LCODE (NOLOCK) 
			ON IVW.ENTRY_TY = LCODE.ENTRY_TY AND LCODE.INV_STK IN (''+'',''-'')'
		SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
		--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IT_MAST.NONSTK='+CHAR(39)+'Stockable'+CHAR(39) --check it from Special Condition
		SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND MVW.APGEN='+CHAR(39)+'YES'+CHAR(39)
		SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IVW.DC_NO='+CHAR(39)+' '+CHAR(39)
		SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+@RuleCondition /*Rup 09/06/2010 TKT-1690*/

	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	
		SELECT TRAN_CD=0,ENTRY_TY=' ',
		DATE=@SDATE,
		QTY=IsNull(sum(CASE WHEN TVW.INV_STK = '+' AND IsNull(TVW.DC_NO,' ') = ' ' THEN TVW.QTY END),0)
		   -IsNull(sum(CASE WHEN TVW.INV_STK = '-' AND IsNull(TVW.DC_NO,' ') = ' ' THEN TVW.QTY END),0),
		ITSERIAL=' ',WARE_NM=' ',INV_NO=' ',AC_ID=0,AC_NAME='Balance B/f',INV_STK=' ',
		TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT
		INTO #table2 
		FROM #table1 TVW
		WHERE (TVW.DATE < @SDATE) OR TVW.bcode_nm IN ('OS') 
		GROUP BY TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT
		UNION ALL
		SELECT TVW.TRAN_CD,TVW.ENTRY_TY,TVW.DATE,
		QTY=IsNull(CASE WHEN TVW.INV_STK = '+' AND IsNull(TVW.DC_NO,' ') = ' ' THEN TVW.QTY END,0)
		   -IsNull(CASE WHEN TVW.INV_STK = '-' AND IsNull(TVW.DC_NO,' ') = ' ' THEN TVW.QTY END,0),
		TVW.ITSERIAL,TVW.WARE_NM,TVW.INV_NO,TVW.AC_ID,TVW.AC_NAME,TVW.INV_STK,
		TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT
		FROM #table1 TVW
		WHERE (TVW.DATE BETWEEN @SDATE AND @EDATE) 
		AND  TVW.bcode_nm NOT IN ('OS')


		SELECT TVW.* FROM #table2 TVW
		WHERE TVW.QTY <> 0
		--ORDER BY TVW.IT_NAME,TVW.rateunit,(case when inv_stk='+' then 0 else 1 end) ,tvw.tran_cd,TVW.INV_STK  -- Commented By Prajakta B. on 05102017 for Bug 30691
		ORDER BY TVW.IT_NAME,TVW.DATE,TVW.INV_STK,TVW.TRAN_CD  -- Modified By Prajakta B. on 05102017 for Bug 30691
	

	DROP TABLE #table1
	
	DROP TABLE #table2
	
end
GO
