DROP PROCEDURE [Usp_Rep_Emp_Monthly_Attendance_Pending_For_Approval]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Amrendra Kumar Singh	
-- Create date: 07/07/2012
-- Description:	
-- Modification Date/By/Reason: 
-- Remark:
-- =============================================

CREATE procedure [Usp_Rep_Emp_Monthly_Attendance_Pending_For_Approval]
@P_year varchar(12),@p_month int,@UserNm Varchar(60)

as

begin

	declare @vMonthDays int,@vCounter int,@vBlankCount int,@vCurDay varchar(50),@sqlCmd nVarchar(4000),@tEmpCode varchar(20)
	Declare @UserName Varchar(100)
	Declare @ExpFileNm varchar(60),@EMailSub varchar(1000),@EmailBody varchar(8000),@Table_Name as varchar(100),@TBLNM as Varchar(50)
	Select @ExpFileNm=ExpFileNm,@EMailSub=EMailSub,@EmailBody=EmailBody From R_Status where Rep_Nm='AttPenApM'

	Select @UserName=(case when isnull([User_Name],'')<>'' then [User_Name] else @UserNm end) From vudyog..[user] where [user]=rtrim(@UserNm)
	
	SELECT @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
		+ (DATEPART(ss, GETDATE()) * 1000 )+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
	
	Set @Table_Name='##Temp'+@TBLNM
	
	Set @sqlCmd='select att_nm,att_code into '+@Table_Name+' from emp_attendance_setting 
	union
	select h_att_nm,h_att_code from emp_attendance_setting '
	print @sqlCmd
	execute sp_executesql @sqlCmd

 if len(rtrim(@P_year)) <= 0 Set @P_year = '0'

set @sqlCmd='select part=2
,EmployeeName=(Case when isnull(e.pMailName,'''')='''' then e.EmployeeName else e.pMailName end)
,a.EmployeeCode,e.Department
,a.approve
,Att_Nm='''',Att_Code='''',Tot=0,CurMonth='+cast(@p_month as varchar(2))+',CurYear='+@P_year+',nTotalBlank=-1
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day1),'''') day1 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day2),'''') day2 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day3),'''') day3 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day4),'''') day4 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day5),'''') day5 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day6),'''') day6 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day7),'''') day7 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day8),'''') day8 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day9),'''') day9 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day10),'''') day10 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day11),'''') day11 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day12),'''') day12 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day13),'''') day13 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day14),'''') day14 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day15),'''') day15 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day16),'''') day16 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day17),'''') day17 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day18),'''') day18 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day19),'''') day19 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day20),'''') day20 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day21),'''') day21 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day22),'''') day22 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day23),'''') day23
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day24),'''') day24 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day25),'''') day25 
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day26),'''') day26
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day27),'''') day27
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day28),'''') day28
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day29),'''') day29
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day30),'''') day30
,isnull((select att_nm from '+@Table_Name+' where att_code=a.day31),'''') day31
,Supervisor=e1.EmployeeName
,EmailId=e1.Emailoff
,ExpFileNm='+char(39)+@ExpFileNm+char(39)+' ,EMailSub=cast('''' as varchar(1000)),EmailBody=cast('''' as varchar(8000))
into ##Emp1
from emp_daily_muster a 
   inner join employeemast e on a.employeecode=e.employeecode
   inner join employeeMast e1 on e1.employeeCode=e.RepCode	
where a.pay_year='+ @P_Year +' and a.Pay_Month=' + cast(@p_month as varchar(2))+' and approve=0'

print @sqlCmd
	execute sp_executesql @sqlCmd

--declare @vMonthDays int,@vCounter int,@vBlankCount int,@vCurDay varchar(50),@sqlCmd nVarchar(4000),@tEmpCode varchar(20)
/* Finding Total Month in the processing Month ----> */
select top 1 @vMonthDays=monthdays from emp_monthly_Muster where Pay_Year=@P_Year and Pay_Month=@P_Month
/* Finding Total Month in the processing Month <---- */
set @vBlankCount=0

set @sqlCmd=''
declare @vInt int,@nOut int
set @vInt=0

/* Finding and Counting the Blank or Not Available Attendance 
   and Storing in nTotalBlank Column for Each Employee         ----> */

declare blankDayFind Cursor for select employeeCode from ##Emp1 
open blankDayFind
fetch next from blankDayFind into @tEmpCode
while (@@fetch_status=0)
	begin
	print @tEmpCode
	set @vCounter=1
	set @vInt=0
		while (@vCounter<=@vMonthDays)
		begin		
			set @vCurDay='Day'+rtrim(Cast(@vCounter as varchar))
			set @sqlCmd='select @Att_CodeOut=(case when len('+@vCurDay+')=0 or '+@vCurDay+'=''Not Available'' then 1 else 0 end)  from ##Emp1  where employeeCode='+char(39)+@tEmpCode+Char(39)
			print @sqlCmd
			
--			EXECUTE sp_executesql @SqlCommand,@ParmDefinition,@Att_CodeOut=@nOut OUTPUT
			execute sp_executesql @sqlCmd,N' @Att_CodeOut int OUTPUT ',@Att_CodeOut=@nOut OUTPUT
			set @vInt=@vInt+isnull(@nOut,0)
			set @vCounter=@vCounter+1
		end
		update ##Emp1 set nTotalBlank=@vInt where employeeCode=@tEmpCode
		fetch next from blankDayFind into @tEmpCode
	end 
close blankDayFind
deallocate blankDayFind

/* Finding and Counting the Blank or Not Available Attendance 
   and Storing in nTotalBlank Column for Each Employee         <---- */


/* Removing record whose attendance are complete ----> */
delete From ##Emp1 where nTotalBlank>0
/* Removing record whose attendance are complete <---- */

--select * from #Emp1

---
Select Part=3
,EmployeeName=(Case when isnull(b.pMailName,'')='' then b.EmployeeName else b.pMailName end)
,b.EmployeeCode,b.Department
,approve=0
,a.Att_Nm,a.Att_Code,Tot=cast(0 as Decimal(10,3)),CurMonth=@p_month,CurYear=@P_year
,Day1='',Day2='',Day3='',Day4='',Day5='',Day6='',Day7='',Day8='',Day9='',Day10='',Day11='',Day12='',Day13='',Day14='',Day15='',Day16='',Day17='',Day18='',Day19='',Day20='',Day21='',Day22='',Day23='',Day24='',Day25='',Day26='',Day27='',Day28='',Day29='',Day30='',Day31='',Supervisor=''
,EmailId=''
,@ExpFileNm as  ExpFileNm,@EMailSub as EMailSub,@EmailBody as EmailBody
into #EmpAtt From Emp_Attendance_Setting a,EmployeeMast b  where b.ActiveStatus=1 and EmployeeCode in (Select distinct EmployeeCode From ##Emp1)
Declare @EmployeeCode Varchar(15),@Att_Code Varchar(10)
Declare @SqlCommand nVarchar(4000),@Cnt int,@ParmDefinition nvarchar(500),@Att_CodeOut Varchar(10)
Declare CurEmp cursor for Select EmployeeCode From EmployeeMast where ActiveStatus=1

open CurEmp
Fetch Next From CurEmp into @EmployeeCode
while(@@Fetch_Status=0)
begin
	SET @ParmDefinition = N' @Att_CodeOut varchar(10) OUTPUT '
	Set @Att_Code=''
	set @Cnt=1
	while(@Cnt<=31)
	begin
		set @SqlCommand = 'Select @Att_CodeOut=Day'+Cast(@Cnt as VarChar)+' From Emp_Daily_Muster where EmployeeCode='+char(39)+rtrim(@EmployeeCode)+char(39)
		EXECUTE sp_executesql @SqlCommand,@ParmDefinition,@Att_CodeOut=@Att_Code OUTPUT
		print @SqlCommand
		set @SqlCommand =' update #EmpAtt set tot=tot+1 where Att_Code='+char(39)+rtrim(@Att_Code)+char(39)+' and EmployeeCode='+char(39)+rtrim(@EmployeeCode)+char(39)
		EXECUTE sp_executesql @SqlCommand
		print @SqlCommand
		set @Cnt=@Cnt+1
	end
	Fetch Next From CurEmp into @EmployeeCode
end
close CurEmp
DeAllocate CurEmp
delete From #EmpAtt where (tot=0 or Att_Code='NA')
--Select * From #EmpAtt order by EmployeeCode

---
--update #MonthlyPayroll set EMailSub=replace(EMailSub,'@@Month',DateName( month , DateAdd( month , cast(Lv_Month as int), 0 )-1  )),EmailBody=replace(EmailBody,'@@Month',DateName( month , DateAdd( month , cast(Lv_Month as int), 0 )-1  ))  
--update #MonthlyPayroll set EMailSub=replace(EMailSub,'@@Year',Lv_Year),EmailBody=replace(EmailBody,'@@Year',Lv_Year)

update ##Emp1 set emailsub=@emailsub
update ##Emp1 set EmailBody=@EmailBody
update ##emp1 set emailsub=replace(emailsub,'@@Month',DateName( month , DateAdd( month , cast(CurMonth as int), 0 )-1  )),EmailBody=replace(EmailBody,'@@Month',DateName( month , DateAdd( month , cast(CurMonth as int), 0 )-1  ))  
update ##emp1 set EMailSub=replace(EMailSub,'@@Year',CurYear),EmailBody=replace(EmailBody,'@@Year',CurYear)

update ##Emp1 set EmailBody=replace(EmailBody,'@@Supervisor',Rtrim(Supervisor)+','+char(13))
update ##Emp1 set EmailBody=replace(EmailBody,'@@UserName',@UserNm)
update #EmpAtt set emailsub=replace(emailsub,'@@Month',DateName( month , DateAdd( month , cast(CurMonth as int), 0 )-1  )),EmailBody=replace(EmailBody,'@@Month',DateName( month , DateAdd( month , cast(CurMonth as int), 0 )-1  ))  
update #EmpAtt set EMailSub=replace(EMailSub,'@@Year',CurYear),EmailBody=replace(EmailBody,'@@Year',CurYear)
update #EmpAtt set EmailBody=replace(EmailBody,'@@Supervisor',Rtrim(Supervisor)+','+char(13))
update #EmpAtt set EmailBody=replace(EmailBody,'@@UserName',@UserNm)

--Select a.*,b.Department,b.Att_Nm,b.Att_Code,b.Tot From #Emp1 a inner join #EmpAtt b on (a.EmployeeCode=b.EmployeeCode) order by a.EmployeeCode
Select Part,ltrim(rtrim(EmployeeName)) EmployeeName,ltrim(rtrim(EmployeeCode)) EmployeeCode,Department,approve
,Att_Nm,Att_Code,Tot
,Day1,Day2,Day3,Day4,Day5,Day6,Day7,Day8,Day9,Day10,Day11,Day12,Day13,Day14,Day15,Day16,Day17,Day18,Day19,Day20,Day21,Day22,Day23,Day24,Day25,Day26,Day27,Day28,Day29,Day30,Day31
,Supervisor,CurMonth,CurYear
,EmailId,ExpFileNm,EMailSub,EmailBody
from ##Emp1
union 
Select Part,ltrim(rtrim(EmployeeName)) EmployeeName,ltrim(rtrim(EmployeeCode)) EmployeeCode,Department,approve
,Att_Nm,Att_Code,Tot
,Day1,Day2,Day3,Day4,Day5,Day6,Day7,Day8,Day9,Day10,Day11,Day12,Day13,Day14,Day15,Day16,Day17,Day18,Day19,Day20,Day21,Day22,Day23,Day24,Day25,Day26,Day27,Day28,Day29,Day30,Day31
,Supervisor,CurMonth,CurYear
,EmailId,ExpFileNm,EMailSub,EmailBody
From #EmpAtt
order by EmployeeName,part

set @sqlcmd='drop table '+@Table_Name
execute sp_executesql @sqlCmd

drop table ##emp1
--Usp_Rep_Emp_Monthly_Attendance_Pending_For_Approval '2012',9,'Admin'
end
GO
