DROP PROCEDURE [USP_REP_STKRESRN_SRINV_DET_TRACKER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************--
-- Procedure Name :	USP_REP_STOCKRESERVATION_DET_TRACKER
-- Description	  : Procedure to get the Inward details of the Stock reserved Qty
-- Created By/On/For : Sachin N. S. on 02/04/2014 for Bug-22207
--****************************************************************************--
CREATE PROCEDURE [USP_REP_STKRESRN_SRINV_DET_TRACKER]
AS
DECLARE @SQLCOMMAND NVARCHAR(4000)

SET @SQLCOMMAND='SELECT D.CODE_NM,C.DATE,C.PARTY_NM,C.INV_NO,C.ITEM,B.ALLOCQTY,B.ENTRY_TY,B.TRAN_CD,B.ITSERIAL,A.ENTRY_TY+LTRIM(RTRIM(CAST(A.TRAN_CD AS VARCHAR)))+A.ITSERIAL AS FORG_KEY'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM STKRESRVSUM A '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN STKRESRVDET B ON A.ENTRY_TY=B.RENTRY_TY AND A.TRAN_CD=B.RTRAN_CD AND A.ITSERIAL=B.RITSERIAL '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN LITEM_VW C ON B.ENTRY_TY=C.ENTRY_TY AND B.TRAN_CD=C.TRAN_CD AND B.ITSERIAL=C.ITSERIAL '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN LCODE D ON C.ENTRY_TY=D.ENTRY_TY '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'ORDER BY C.DATE,C.INV_NO '


PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
