IF EXISTS(SELECT XTYPE,NAME FROM SYSOBJECTS WHERE XTYPE='P' AND name='USP_REP_HP_FORMXXVIA')
BEGIN
	DROP PROCEDURE USP_REP_HP_FORMXXVIA
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_REP_HP_FORMXXVIA]
@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
AS
BEGIN
DECLARE @SQLCOMMAND NVARCHAR(4000)
----Temporary Cursor1
	SELECT GRNNO=M.u_chalno,VEHICALNO=M.U_VEHNO,PONO=M.U_PONO,TRNS_NATURE=U_NT,TRANSPORT_NM=M.U_TRANSNM ,TRANSPORT_ADD=M.U_TRANSADD 
	,BILLNO=M.INV_NO,BILLDATE=M.DATE,D.QTY,D.GRO_AMT
	,GDS_BREIF=CASE WHEN ISNULL(CAST(IT.IT_DESC AS NVARCHAR(MAX)),'')=CAST('' AS NVARCHAR(MAX)) THEN CAST(IT.IT_NAME AS NVARCHAR(MAX)) ELSE CAST(IT.IT_DESC AS NVARCHAR(MAX)) END  ,IT.TYPE,UNIT=IT.S_UNIT
	,CNSNEE_NM =(CASE WHEN ISNULL(AC.mailname,'')='' THEN AC.ac_name ELSE AC.mailname END)
	,CNSNEE_ADD= AC.ADD1 +'' +AC.ADD2 +''+AC.ADD3
	,CNSNEE_TIN= AC.S_TAX
	,CNSNEE_CITY= AC.CITY,CNSNEE_STATE= AC.STATE
	,CNSNOR_NM =CO.co_name 
	,CNSNOR_ADD= CO.ADD1 +''+CO.ADD2+''+CO.ADD3
	,CNSNOR_CITY= CO.CITY ,CNSNOR_STATE= CO.STATE
	,CNSNOR_TINNO=SPACE(150) 
	,CHKPOST_NM=SPACE(250)
	,OTHERS=SPACE(250)
	,entry_ty=M.entry_ty 
	INTO #RPT_HP_FORM_XXVIA FROM STMAIN M
	 INNER JOIN STITEM D ON (M.TRAN_CD = D.TRAN_CD)
	 INNER JOIN IT_MAST IT ON (D.IT_CODE=IT.IT_CODE)
	 INNER JOIN AC_MAST AC ON (M.cons_id=AC.Ac_id)
	 INNER JOIN Vudyog.dbo.CO_MAST CO ON (M.COMPID=CO.COMPID)
	WHERE 1=2 
	alter table #RPT_HP_FORM_XXVIA add recno int identity

	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'INSERT INTO #RPT_HP_FORM_XXVIA '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+'SELECT GRNNO=M.u_chalno,VEHICALNO=M.U_VEHNO,PONO=M.U_PONO,TRNS_NATURE=U_NT,TRANSPORT_NM=M.u_TRANSNM,TRANSPORT_ADD=M.u_TRANSADD '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',BILLNO=M.INV_NO,BILLDATE=M.DATE,D.QTY,D.GRO_AMT '
	--SET @SQLCOMMAND = @SQLCOMMAND + ''+',GDS_BREIF=CASE WHEN ISNULL(CAST(IT.IT_DESC AS NVARCHAR(MAX)),'''')=CAST('''' AS NVARCHAR(MAX)) THEN CAST(IT.IT_NAME AS NVARCHAR(MAX)) ELSE CAST(IT.IT_DESC AS NVARCHAR(MAX)) END  ,IT.TYPE,UNIT=IT.S_UNIT'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',GDS_BREIF=IT.IT_NAME,IT.TYPE,UNIT=IT.S_UNIT'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNEE_NM =(CASE WHEN ISNULL(AC.mailname,'''')='''' THEN AC.ac_name ELSE AC.mailname END)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNEE_ADD= RTRIM(AC.ADD1) +'' '' +RTRIM(AC.ADD2) +'' ''+RTRIM(AC.ADD3)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNEE_TIN= AC.S_TAX '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNEE_CITY= AC.CITY,CNSNEE_STATE= AC.STATE '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNOR_NM =CO.co_name '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNOR_ADD= RTRIM(CO.ADD1) +'' ''+RTRIM(CO.ADD2)+'' ''+RTRIM(CO.ADD3)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNOR_CITY= CO.CITY ,CNSNOR_STATE= CO.STATE'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNOR_TINNO= (SELECT TOP 1 ISNULL(VSTAX_NO,'''') FROM MANUFACT)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CHKPOST_NM=M.U_CHKPST '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',OTHERS=CASE WHEN ISNULL(CAST(IT.IT_DESC AS NVARCHAR(MAX)),'''')=CAST('''' AS NVARCHAR(MAX)) THEN CAST(IT.IT_NAME AS NVARCHAR(MAX)) ELSE CAST(IT.IT_DESC AS NVARCHAR(MAX)) END  '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',ENTRY_TY=M.ENTRY_TY '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' FROM STMAIN M'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' INNER JOIN STITEM D ON (M.TRAN_CD = D.TRAN_CD)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' INNER JOIN IT_MAST IT ON (D.IT_CODE=IT.IT_CODE)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' INNER JOIN AC_MAST AC ON (M.cons_id=AC.Ac_id)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' INNER JOIN Vudyog.dbo.CO_MAST CO ON (M.COMPID=CO.COMPID)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' where  m.u_imporm in(''Export Out of India'',''High Sea Sales'') and m.date between '+ char(39)+CONVERT(VARCHAR(50),@SDATE)+CHAR(39)+ '  and '  + char(39)+CONVERT(VARCHAR(50),@EDATE)+CHAR(39)
	---added by suraj K on 21-01-2015 
	print @SQLCOMMAND
	EXEC SP_EXECUTESQL @SQLCOMMAND
	print 'sssss'
	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'INSERT INTO #RPT_HP_FORM_XXVIA '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+'SELECT GRNNO=M.u_chalno,VEHICALNO=M.U_VEHNO,PONO=M.U_PONO,TRNS_NATURE=U_NT,TRANSPORT_NM=M.u_TRANSNM,TRANSPORT_ADD=M.u_TRANSADD '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',BILLNO=M.INV_NO,BILLDATE=M.DATE,D.QTY,D.GRO_AMT '
	--SET @SQLCOMMAND = @SQLCOMMAND + ''+',GDS_BREIF=CASE WHEN ISNULL(CAST(IT.IT_DESC AS NVARCHAR(MAX)),'''')=CAST('''' AS NVARCHAR(MAX)) THEN CAST(IT.IT_NAME AS NVARCHAR(MAX)) ELSE CAST(IT.IT_DESC AS NVARCHAR(MAX)) END  ,IT.TYPE,UNIT=IT.S_UNIT'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',GDS_BREIF=IT.IT_NAME,IT.TYPE,UNIT=IT.S_UNIT'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNEE_NM =(CASE WHEN ISNULL(AC.mailname,'''')='''' THEN AC.ac_name ELSE AC.mailname END)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNEE_ADD= RTRIM(AC.ADD1) +'' '' +RTRIM(AC.ADD2) +'' ''+RTRIM(AC.ADD3)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNEE_TIN= AC.S_TAX '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNEE_CITY= AC.CITY,CNSNEE_STATE= AC.STATE '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNOR_NM =CO.co_name '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNOR_ADD= RTRIM(CO.ADD1) +'' ''+RTRIM(CO.ADD2)+'' ''+RTRIM(CO.ADD3)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNOR_CITY= CO.CITY ,CNSNOR_STATE= CO.STATE'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CNSNOR_TINNO= (SELECT TOP 1 ISNULL(VSTAX_NO,'''') FROM MANUFACT)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',CHKPOST_NM=M.U_CHKPST'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',OTHERS=CASE WHEN ISNULL(CAST(IT.IT_DESC AS NVARCHAR(MAX)),'''')=CAST('''' AS NVARCHAR(MAX)) THEN CAST(IT.IT_NAME AS NVARCHAR(MAX)) ELSE CAST(IT.IT_DESC AS NVARCHAR(MAX)) END  '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+',ENTRY_TY=M.ENTRY_TY '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' FROM PTMAIN M '
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' INNER JOIN PTITEM D ON (M.TRAN_CD = D.TRAN_CD)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' INNER JOIN IT_MAST IT ON (D.IT_CODE=IT.IT_CODE)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' INNER JOIN AC_MAST AC ON (M.cons_id=AC.Ac_id)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' INNER JOIN Vudyog.dbo.CO_MAST CO ON (M.COMPID=CO.COMPID)'
	SET @SQLCOMMAND = @SQLCOMMAND + ''+' where  m.u_imporm in(''Import from Outside India'',''High Seas Purchases'') and m.date between '+ char(39)+CONVERT(VARCHAR(50),@SDATE)+CHAR(39)+ '  and '  + char(39)+CONVERT(VARCHAR(50),@EDATE)+CHAR(39)
	PRINT @SQLCOMMAND
	EXEC SP_EXECUTESQL @SQLCOMMAND
	
	--SELECT GRNNO,VEHICALNO,PONO,TRNS_NATURE,TRANSPORT_NM,TRANSPORT_ADD=ISNULL(CAST(TRANSPORT_ADD AS NVARCHAR(MAX)),''),BILLNO,BILLDATE,GDS_BREIF,TYPE,UNIT,CNSNEE_NM,CNSNEE_ADD,CNSNEE_TIN,CNSNEE_CITY,CNSNEE_STATE,CNSNOR_NM,CNSNOR_ADD,CNSNOR_CITY,CNSNOR_STATE,CNSNOR_TINNO,CHKPOST_NM,OTHERS,QTY=ISNULL(SUM(QTY),0),GRO_AMT=ISNULL(SUM(GRO_AMT),0)  FROM #RPT_HP_FORM_XXVIA GROUP BY GRNNO,VEHICALNO,PONO,TRNS_NATURE,TRANSPORT_NM,ISNULL(CAST(TRANSPORT_ADD AS NVARCHAR(MAX)),''),BILLNO,BILLDATE,GDS_BREIF,TYPE,UNIT,CNSNEE_NM,CNSNEE_ADD,CNSNEE_TIN,CNSNEE_CITY,CNSNEE_STATE,CNSNOR_NM,CNSNOR_ADD,CNSNOR_CITY,CNSNOR_STATE,CNSNOR_TINNO,CHKPOST_NM,OTHERS ORDER BY GRNNO

SELECT CNSNEE_TIN,CNSNEE_NM,CNSNEE_ADD,CNSNEE_STATE,CNSNEE_CITY,CNSNOR_TINNO,CNSNOR_NM,CNSNOR_ADD,CNSNOR_STATE,CNSNOR_CITY,CHKPOST_NM,VEHICALNO
,TRANSPORT_NM,TRANSPORT_ADD=ISNULL(CAST(TRANSPORT_ADD AS NVARCHAR(MAX)),''),TRNS_NATURE,GRNNO,BILLNO,BILLDATE
,GDS_BREIF,OTHERS,QTY=ISNULL(SUM(QTY),0),UNIT,GRO_AMT=ISNULL(SUM(GRO_AMT),0) FROM #RPT_HP_FORM_XXVIA  GROUP BY CNSNEE_TIN,CNSNEE_NM,CNSNEE_ADD,CNSNEE_STATE,CNSNEE_CITY,CNSNOR_TINNO,CNSNOR_NM,CNSNOR_ADD,CNSNOR_STATE,CNSNOR_CITY,CHKPOST_NM,VEHICALNO ,TRANSPORT_NM,ISNULL(CAST(TRANSPORT_ADD AS NVARCHAR(MAX)),''),TRNS_NATURE,GRNNO,BILLNO,BILLDATE,GDS_BREIF,OTHERS,UNIT,ENTRY_TY ORDER BY GRNNO
 DROP TABLE #RPT_HP_FORM_XXVIA
END








