DROP PROCEDURE [Usp_It_Rate_Report]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE procedure [Usp_It_Rate_Report]
as 
	SELECT  a.it_name,
		a.rateunit,
		a.rateper,
		c.Ac_Name
		FROM IT_MAST A,It_rate b,Ac_Mast c
	        where a.It_Code = b.It_Code
		And b.Ac_id = C.Ac_Id
GO
