IF EXISTS(SELECT NAME ,XTYPE FROM SYSOBJECTS WHERE XTYPE = 'p' AND name = 'USP_REP_GLEDGER')
BEGIN
	DROP PROCEDURE [USP_REP_GLEDGER]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Created by  :
-- Date        : 
-- Modified by : Sandeep Shah on 08/07/2010 for TKT-2062
-- Modified by : Ajay Jaiswal on 14/07/2010 for TKT-1679
-- Modified By : Sandeep S. on 25 Mar, 2011 for TKT-6828
-- Modified By : AMRENDRA ON 30/05/2011 FOR TKT-7541
-- Modified By Vasant on 12/09/2012 as per Bug-6238 (Trial Balance zoom in Report Showing wrong opening & Closing). - Check for Comment Bug6238
-- Modification Date/By/Reason: 10/01/2018 Suraj K. : for Bug-30954
Create PROCEDURE [USP_REP_GLEDGER]
	@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
	@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
	@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),
	@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
	@SAMT NUMERIC,@EAMT NUMERIC,
	@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
	@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
	@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
	@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
	@FINYR NVARCHAR(20), @EXTPAR NVARCHAR(60)
	AS
Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000)
	Declare @OPENTRIES as VARCHAR(50),@OPENTRY_TY as VARCHAR(50)
	Declare @TBLNM as VARCHAR(50),@TBLNAME1 as VARCHAR(50),@TBLNAME2 as VARCHAR(50),@TBLNAME3 as VARCHAR(50), @TBLNAME4 as VARCHAR(50), @TBLNAME5 as VARCHAR(50)
	
	Set @OPENTRY_TY = '''OB'''
	Set @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
					+ (DATEPART(ss, GETDATE()) * 1000 )
					+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
	Set @TBLNAME1 = '##TMP1'+@TBLNM
	Set @TBLNAME2 = '##TMP2'+@TBLNM
	Set @TBLNAME3 = '##TMP3'+@TBLNM --&& Added by Shrikant S. by on 05 Feb, 2010
	Set @TBLNAME4 = '##TMP4'+@TBLNM --&& FOR BUG-30954
	Set @TBLNAME5 = '##TMP5'+@TBLNM --&& FOR BUG-30954
	
	DECLARE openingentry_cursor CURSOR FOR
		SELECT entry_ty FROM lcode
		WHERE bcode_nm = 'OB'
	OPEN openingentry_cursor
	FETCH NEXT FROM openingentry_cursor into @opentries
	WHILE @@FETCH_STATUS = 0
	BEGIN
	   Set @OPENTRY_TY = @OPENTRY_TY +','''+@opentries+''''
	   FETCH NEXT FROM openingentry_cursor into @opentries
	END
	CLOSE openingentry_cursor
	DEALLOCATE openingentry_cursor

	EXECUTE USP_REP_FILTCON 
		@VTMPAC=@TMPAC,@VTMPIT=null,@VSPLCOND=@SPLCOND,
		@VSDATE=null,@VEDATE=@EDATE,
		@VSAC =@SNAME,@VEAC =@ENAME,
		@VSIT=null,@VEIT=null,
		@VSAMT=@SAMT,@VEAMT=@EAMT,
		@VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
		@VSCATE =@SCAT,@VECATE =@ECAT,
		@VSWARE =null,@VEWARE  =null,
		@VSINV_SR =@SINVSR,@VEINV_SR =@EINVSR,
		@VMAINFILE='MVW',@VITFILE=null,@VACFILE='AVW',
		@VDTFLD = 'DATE',@VLYN=null,@VEXPARA=@EXTPAR,
		@VFCON =@FCON OUTPUT


	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT AVW.TRAN_CD,AVW.ENTRY_TY,AVW.DATE,AVW.AMOUNT,AVW.AMT_TY,AVW.ACSERIAL,
		MVW.INV_NO,MVW.L_YN,MVW.CHEQ_NO,MVW.CHEQ_DT,MNARR=CAST(MVW.NARR AS NVARCHAR(4000)),ANARR=CAST(AVW.NARR AS NVARCHAR(4000)),
		AC_MAST.AC_ID,AC_MAST.AC_NAME,
		AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,'+ --- Added by Ajay Jaiswal on 14/07/2010 for TKT-1679  
		'isnull(AC_MAST.gstin,'''') as gstin,AC_MAST.city,AC_MAST.State,AC_MAST.DEFA_AC,AC_MAST.[GROUP]AS AC_GROUP,'+ ---Added by Suraj K. for Bug-30954
		'AC_MAST.i_TAX,AC_MAST.[TYPE],AC_MAST.POSTING,OAC_NAME=SUBSTRING(AVW.OAC_NAME,1,4000),MVW.PINVNO ,MVW.DRAWN_ON,LCODE.SERIAL,LCODE.CODE_NM
		INTO '+@TBLNAME1+' FROM LAC_VW AVW (NOLOCK)
		INNER JOIN AC_MAST (NOLOCK) ON AVW.AC_ID = AC_MAST.AC_ID
		INNER JOIN LCODE (NOLOCK) ON AVW.ENTRY_TY = LCODE.ENTRY_TY
		INNER JOIN LMAIN_VW MVW (NOLOCK) 
		ON AVW.TRAN_CD = MVW.TRAN_CD AND AVW.ENTRY_TY = MVW.ENTRY_TY'+RTRIM(@FCON) --Added Posting & Code_nm Column by Sandeep S. on 08 Jul, 2010 for TKT-2062
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT ENTRY_TY,TRAN_CD,COUNT(ENTRY_TY) AS TOTREC 
		INTO '+@TBLNAME2+' FROM LAC_VW AVW (NOLOCK)
		GROUP BY ENTRY_TY,TRAN_CD'
	EXECUTE SP_EXECUTESQL @SQLCOMMAND



	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'DELETE FROM '+@TBLNAME1+' WHERE 
		L_YN != '''+@FINYR+''' AND [TYPE] != '+'''B'''
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	SET @SQLCOMMAND = ''

 /*      -- COMMENTED BY AMRENDRA ON 30/05/2011 FOR TKT-7541
	SET @SQLCOMMAND = 'DELETE FROM '+@TBLNAME1+' WHERE 
		DATE < (SELECT TOP 1 DATE FROM '+@TBLNAME1+ ' WHERE ENTRY_TY IN ('+@OPENTRY_TY+') AND L_YN = '''+@FINYR+''' )
		AND AC_NAME IN (SELECT AC_NAME FROM '+@TBLNAME1+ ' WHERE ENTRY_TY IN ('+@OPENTRY_TY+') AND L_YN = '''+@FINYR+''' GROUP BY AC_NAME) ' 
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
*/     


/*Start Bug6238
-- ADDED BY AMRENDRA ON 30/05/2011 FOR TKT-7541    ** START
SET @SQLCOMMAND = 'DECLARE @OPTRAN_CD as INT,@OPDATE as DATETIME,@OPACNAME as varchar(250) DECLARE openingentry_cursor CURSOR FOR
	SELECT TRAN_CD,AC_NAME,DATE FROM '+@TBLNAME1+' WHERE 
	ENTRY_TY IN ('+@OPENTRY_TY+') 
	OPEN openingentry_cursor
	FETCH NEXT FROM openingentry_cursor into @OPTRAN_CD,@OPACNAME,@OPDATE
	WHILE @@FETCH_STATUS = 0
	BEGIN
	   DELETE FROM '+@TBLNAME1+' WHERE ENTRY_TY IN ('+@OPENTRY_TY+') AND TRAN_CD = @OPTRAN_CD
			AND AC_NAME IN (SELECT AC_NAME FROM '+@TBLNAME1+' WHERE AC_NAME = @OPACNAME AND DATE < @OPDATE )
	   FETCH NEXT FROM openingentry_cursor into @OPTRAN_CD,@OPACNAME,@OPDATE
	END
CLOSE openingentry_cursor
DEALLOCATE openingentry_cursor'
EXECUTE SP_EXECUTESQL @SQLCOMMAND
-- ADDED BY AMRENDRA ON 30/05/2011 FOR TKT-7541    ** END
*/

SET @SQLCOMMAND = 'DECLARE @OPTRAN_CD as INT,@OPDATE as DATETIME,@OPACNAME as varchar(250) DECLARE openingentry_cursor CURSOR FOR
	SELECT TRAN_CD,AC_NAME,DATE FROM '+@TBLNAME1+' WHERE 
	ENTRY_TY IN ('+@OPENTRY_TY+') 
	OPEN openingentry_cursor
	FETCH NEXT FROM openingentry_cursor into @OPTRAN_CD,@OPACNAME,@OPDATE
	WHILE @@FETCH_STATUS = 0
	BEGIN
	   DELETE FROM '+@TBLNAME1+' WHERE DATE < @OPDATE
			AND AC_NAME IN (SELECT AC_NAME FROM '+@TBLNAME1+' WHERE AC_NAME = @OPACNAME AND ENTRY_TY IN (''OB'') AND TRAN_CD = @OPTRAN_CD )
	   FETCH NEXT FROM openingentry_cursor into @OPTRAN_CD,@OPACNAME,@OPDATE
	END
CLOSE openingentry_cursor
DEALLOCATE openingentry_cursor'
EXECUTE SP_EXECUTESQL @SQLCOMMAND
--End Bug6238

	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT SERIAL=0,TRAN_CD=0,ENTRY_TY='' '',
		DATE=CONVERT(SMALLDATETIME,'''+CONVERT(VARCHAR(50),@SDATE)+'''),
		AMOUNT=IsNull(sum(CASE WHEN TVW.AMT_TY = ''DR'' THEN TVW.AMOUNT ELSE -TVW.AMOUNT END),0),ACSERIAL='''',TVW.AC_ID,TVW.AC_NAME,
		TVW.ADD1,TVW.ADD2,TVW.ADD3,'+ --- Added by Ajay Jaiswal on 14/07/2010 for TKT-1679  
		'isnull(TVW.gstin,'''') as gstin,TVW.city,TVW.State,TVW.DEFA_AC,TVW.AC_GROUP,'+ ---Added by Suraj K. for Bug-30954
		'TVW.i_TAX,OAC_NAME=space(1),PINVNO=space(1),
		AMT_TY=''A'',INV_NO='' '',CHEQ_NO='' '',CHEQ_DT='' '',MNARR='' '',ANARR='' '',
		AC_NAME1=''Balance B/f'',AMOUNT1=0 ,AMT_TY1 = '' '',TOTREC=1,DRAWN_ON='' '',TVW.POSTING,'' '' as CODE_NM,'' '' as postord '+ --Bug-22246
		'INTO '+@TBLNAME3+' FROM '+@TBLNAME1+' TVW 
		WHERE (TVW.DATE <  '''+CONVERT(VARCHAR(50),@SDATE)+''' OR TVW.ENTRY_TY IN ('+@OPENTRY_TY+')) ' +	
--		GROUP BY TVW.AC_ID,TVW.AC_NAME,TVW.ADD1,TVW.ADD2,TVW.ADD3,TVW.i_TAX,TVW.POSTING,TVW.CODE_NM '+ --Added in Group Posting & Code_nm column by Sandeep S. on 25 Mar, 2011 for TKT-6828    	   
		'GROUP BY TVW.AC_ID,TVW.AC_NAME,TVW.ADD1,TVW.ADD2,TVW.ADD3,TVW.i_TAX,TVW.POSTING '+ -- removed TVW.CODE_NM (Above) by Amrendra for TKT-7541 on 30/05/2011 
		' ,TVW.gstin,TVW.city,TVW.State,TVW.DEFA_AC,TVW.AC_GROUP '+ ---Added by Suraj K. for Bug-30954
		' UNION ALL
		SELECT TVW.SERIAL,TVW.TRAN_CD,TVW.ENTRY_TY,TVW.DATE,
		AMOUNT=(CASE WHEN TVW.AMT_TY=''DR'' THEN TVW.AMOUNT ELSE -TVW.AMOUNT END),TVW.ACSERIAL,TVW.AC_ID,TVW.AC_NAME,
		TVW.ADD1,TVW.ADD2,TVW.ADD3,'+ --- Added by Ajay Jaiswal on 14/07/2010 for TKT-1679  
		'isnull(TVW.gstin,'''') as gstin,TVW.city,TVW.State,TVW.DEFA_AC,TVW.AC_GROUP,'+ ---Added by Suraj K. for Bug-30954
		'TVW.i_TAX,TVW.OAC_NAME,TVW.PINVNO,
		TVW.AMT_TY,TVW.INV_NO,TVW.CHEQ_NO,TVW.CHEQ_DT,TVW.MNARR,TVW.ANARR,
		AC_NAME1=LVW.AC_NAME,AMOUNT1 = LVW.AMOUNT,AMT_TY1 = LVW.AMT_TY,T1VW.TOTREC,TVW.DRAWN_ON,TVW.POSTING,TVW.CODE_NM,lvw.postord '+ --Bug-22246
		'FROM '+@TBLNAME1+' TVW
		LEFT JOIN LAC_VW LVW (NOLOCK) '	+
			--ON TVW.TRAN_CD = LVW.TRAN_CD AND TVW.ENTRY_TY = LVW.ENTRY_TY AND TVW.ACSERIAL != LVW.ACSERIAL && shrikant S. on 05 Feb, 2010
			' ON TVW.TRAN_CD = LVW.TRAN_CD AND TVW.ENTRY_TY = LVW.ENTRY_TY AND TVW.AC_ID != LVW.AC_ID '+
		' LEFT JOIN '+@TBLNAME2+' T1VW (NOLOCK)  '+ --Added by Shrikant S. on 05 Feb, 2010
			' ON TVW.TRAN_CD = T1VW.TRAN_CD AND TVW.ENTRY_TY = T1VW.ENTRY_TY ' + --Added by Shrikant S. on 05 Feb, 2010
		' WHERE (TVW.DATE BETWEEN '''+CONVERT(VARCHAR(50),@SDATE)+''' AND '''+CONVERT(VARCHAR(50),@EDATE) +''' AND '+
		' TVW.ENTRY_TY NOT IN ('+@OPENTRY_TY+'))'
          
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	SET @SQLCOMMAND = ''
	---SET @SQLCOMMAND = 'SELECT TVW.* FROM '+@TBLNAME3+' TVW  /*Commented by Suraj K. for bug-30954*/   
	SET @SQLCOMMAND = 'SELECT TVW.* INTO '+@TBLNAME4+' FROM '+@TBLNAME3+' TVW /*Added  by Suraj K. for bug-30954*/   
		WHERE TVW.AMOUNT <> 0 
		ORDER BY TVW.AC_NAME,TVW.DATE,TVW.SERIAL,TVW.INV_NO,TVW.ACSERIAL,TVW.TRAN_CD,TVW.POSTORD,TVW.AC_NAME1'	--Bug-22246
EXECUTE SP_EXECUTESQL @SQLCOMMAND

/*Added  by Suraj K. for bug-30954 Start*/   
SET @SQLCOMMAND = ''
SET @SQLCOMMAND =  'SELECT AC_ID,AC_NAME,AC_GROUP INTO '+@TBLNAME5+' FROM  '+@TBLNAME4+' WHERE DEFA_AC = 0  AND AC_GROUP NOT IN(''SUNDRY CREDITORS'',''SUNDRY DEBTORS'') GROUP BY AC_ID,AC_NAME,AC_GROUP '
EXECUTE SP_EXECUTESQL @SQLCOMMAND
SET @SQLCOMMAND = ''
SET @SQLCOMMAND =  @SQLCOMMAND  + 'DECLARE @reccount int,@AC_ID INT,@AC_NAME VARCHAR(200),@AC_GROUP VARCHAR(200) '+ CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  +  'DECLARE CUR_GRUPUPDATE CURSOR FOR SELECT AC_ID,AC_NAME,AC_GROUP FROM  '+@TBLNAME5+' '+ CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	OPEN CUR_GRUPUPDATE ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	FETCH NEXT FROM CUR_GRUPUPDATE INTO   @AC_ID ,@AC_NAME, @AC_GROUP '+ CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	 WHILE(@@FETCH_STATUS = 0)'+ CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	BEGIN ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	select cast(0 as int) as ac_group_id, gac_id, ac_group_name into #groups from ac_group_mast where 1=2  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	select cast(0 as int) as ac_group_id, gac_id, ac_group_name into #group1 from ac_group_mast where 1=2  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	insert into #groups ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	select ac_group_id, gac_id, ac_group_name from ac_group_mast where (ac_group_name = RTRIM(@AC_GROUP))'+ CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	insert into #group1 select * from #groups ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	set  @reccount = 1  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	while  @reccount  >0  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	begin  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	select ac_group_id, gac_id, ac_group_name into #group2 from ac_group_mast   ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	where ac_group_id in (select gac_id from #group1)' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	insert into #groups select * from #group2   ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	delete from #group1  WHERE ac_group_name NOT IN('''')' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	insert into #group1 select * from #group2 where gac_id != ac_group_id  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	 set @reccount  = @@rowcount  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	 drop table #group2  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	end  '+ CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	drop table #group1  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	DELETE FROM #groups WHERE ac_group_name NOT IN(''SUNDRY CREDITORS'',''SUNDRY DEBTORS'')' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	update '+@TBLNAME4+' SET AC_GROUP= CASE WHEN ISNULL((SELECT TOP 1 ac_group_name FROM #groups ),'''') <> '''' THEN  ISNULL((SELECT TOP 1 ac_group_name FROM #groups ),'''') ELSE AC_GROUP END  WHERE AC_ID = @AC_ID ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	drop table #groups  ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	FETCH NEXT FROM CUR_GRUPUPDATE INTO @AC_ID ,@AC_NAME,@AC_GROUP ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	END ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	close CUR_GRUPUPDATE ' + CHAR(13)
SET @SQLCOMMAND = @SQLCOMMAND  + '	DEALLOCATE CUR_GRUPUPDATE '  + CHAR(13)
PRINT  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
SET @SQLCOMMAND = ''
SET @SQLCOMMAND = @SQLCOMMAND  + '	SELECT  * FROM '+@TBLNAME4+'  ORDER BY AC_NAME,DATE,SERIAL,INV_NO,ACSERIAL,TRAN_CD,POSTORD,AC_NAME1 '
PRINT  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
/*Added  by Suraj K. for bug-30954 Start*/   
SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME1
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME2
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME3
EXECUTE SP_EXECUTESQL @SQLCOMMAND

/*Added  by Suraj K. for bug-30954 Start*/   
SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME4
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME5
EXECUTE SP_EXECUTESQL @SQLCOMMAND
/*Added  by Suraj K. for bug-30954 End*/   

GO
