DROP PROCEDURE [USP_REP_SERVICETAX_AVAILABLE_MultiService]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 22/05/2010
-- Description:	This Stored procedure is useful to generate Service Tax Input Credit Available Report.
-- Modification Date/By/Reason: Birendra on 7 july for TKT-2834
-- Modification Date/By/Reason: Rupesh. 26/07/2010. TKT-794 GTA. Service Tax Receipt Entry.
-- Remark:
-- =============================================

CREATE procedure [USP_REP_SERVICETAX_AVAILABLE_MultiService]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Begin
	Declare @FCON as NVARCHAR(2000),@SQLCOMMAND as NVARCHAR(4000)
	
	select m.entry_ty,m.tran_cd,m.ac_id,m.serty,pdate=m.date,m.cheq_no,m.bank_nm
	,taxable_amt=m.net_amt
	,bSrTax=m.net_amt
	,bESrTax=m.net_amt
	,bHSrTax=m.net_amt
	,astaxableamt=m.net_amt
	,aSrTax=m.net_amt
	,aESrTax=m.net_amt
	,aHSrTax=m.net_amt
	into #serava
	from EPacdet ac 
	inner join bPmain m on (ac.entry_ty=m.entry_ty and ac.tran_cd=m.tran_cd) 
	WHERE 1=2
	
	/*Normal EP Entry with Bannk Payment Allocation---->*/	
	EXECUTE USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='m',@VITFILE=Null,@VACFILE='AC'
	,@VDTFLD ='DATE'
	,@VLYN=Null
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

	set @sqlcommand='insert into #serava (entry_ty,tran_cd,ac_id,serty,pdate,cheq_no,bank_nm'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt,bSrTax,bESrTax,bHSrTax'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt,aSrTax,aESrTax,aHSrTax)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'select' 
	set @sqlcommand=rtrim(@sqlcommand)+' '+'isd.aentry_ty,isd.atran_cd,m.ac_id,isd.serty,m.date,m.cheq_no,m.bank_nm'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt=acl.staxable,bSrTax=acl.serbamt,bESrTax=acl.sercamt,bHSrTax=acl.serhamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt=sum(isd.staxable),aSrTax=sum(isnull(isd.serbamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aESrTax=sum(isnull(isd.sercamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aHSrTax=sum(isnull(isd.serhamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' from isdallocation isd '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join SerTaxMain_vw m on (isd.entry_ty=m.entry_ty and isd.tran_cd=m.tran_cd)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join lcode l on (m.entry_ty=l.entry_ty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join acdetalloc acl on (isd.aentry_ty=acl.entry_ty and isd.atran_cd=acl.tran_cd  and isd.serty=acl.serty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty in (''BP'',''CP'') or l.bcode_nm in (''BP'',''CP''))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty NOT in (''B1'',''C1'',''B2''))'	
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and acl.seravail=''SERVICES'' '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'group by isd.aentry_ty,isd.atran_cd,m.ac_id,isd.serty,m.date,m.cheq_no,m.bank_nm'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',acl.staxable,acl.serbamt,acl.sercamt,acl.serhamt'
	print  @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	/*<---Normal EP Entry with Bannk Payment Allocation*/
	
	/*Advance BP,CP Entry---->*/
	EXECUTE USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='m',@VITFILE=Null,@VACFILE='AC'
	,@VDTFLD ='DATE'
	,@VLYN=Null
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

	set @sqlcommand='insert into #serava (entry_ty,tran_cd,ac_id,serty,pdate,cheq_no,bank_nm'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt,bSrTax,bESrTax,bHSrTax'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt,aSrTax,aESrTax,aHSrTax)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'select' 
	set @sqlcommand=rtrim(@sqlcommand)+' '+'acl.entry_ty,acl.tran_cd,m.ac_id,acl.serty,m.date,m.cheq_no,m.bank_nm'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt=acl.staxable,bSrTax=0,bESrTax=0,bHSrTax=0'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt=acl.staxable,aSrTax=sum(isnull(acl.serbamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aESrTax=sum(isnull(acl.sercamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aHSrTax=sum(isnull(acl.serhamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' from acdetalloc acl '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join SerTaxMain_vw m on (acl.entry_ty=m.entry_ty and acl.tran_cd=m.tran_cd)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join lcode l on (m.entry_ty=l.entry_ty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty in (''BP'',''CP'') or l.bcode_nm in (''BP'',''CP''))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty NOT in (''B1'',''C1'',''B2''))'	
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and acl.seravail=''SERVICES'''
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and m.tdspaytype=2'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'group by acl.entry_ty,acl.tran_cd,m.ac_id,acl.serty,m.date,m.cheq_no,m.bank_nm,acl.staxable,acl.staxable'
	print  @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	/*<---Advance BP,CP Entry*/
	/*--->Service Tax Receipt Entry*/
	set @sqlcommand='insert into #serava (entry_ty,tran_cd,ac_id,serty,pdate,cheq_no,bank_nm'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt,bSrTax,bESrTax,bHSrTax'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt,aSrTax,aESrTax,aHSrTax)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'select' 
	set @sqlcommand=rtrim(@sqlcommand)+' '+'m.entry_ty,m.tran_cd,m.cons_id,m.serty,m.SerPayDt,cheq_no='''',bank_nm='''' '
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt=m.staxable,bSrTax=m.SerBlBAmt,bESrTax=m.SerBlCAmt,bHSrTax=m.SerBlHAmt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt=m.SerPAmt,aSrTax=m.serbamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aESrTax=m.sercamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aHSrTax=serhamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' from JvMain m '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join lcode l on (m.entry_ty=l.entry_ty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty in (''J3''))'
	print  @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND	
	/*<---Service Tax Receipt Entry*/
	
	set @sqlcommand='insert into #serava select m.entry_ty,m.tran_cd,m.u_pinvdt,m.date,m.inv_no,m.u_pinvno,m.serty'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',m.SerPayDt ,a.ac_name,a.add1,a.add2,a.add3,a.SREGN,m.net_amt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt,taxable_amt=m.gro_amt+m.tot_deduc+m.tot_tax '
	set @sqlcommand=rtrim(@sqlcommand)+' '+',bSrTax=0'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',bESrTax=0'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',bHSrTax=0'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aSrTax=sum(case when aa.typ='+'''Service Tax Available'''+' then amount else 0 end)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aESrTax=sum(case when aa.typ='+'''Service Tax Available-Ecess'''+' then amount else 0 end)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aHSrTax=sum(case when aa.typ='+'''Service Tax Available-Hcess'''+' then amount else 0 end)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'from jvacdet ac '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join jvmain m on (ac.entry_ty=m.entry_ty and ac.tran_cd=m.tran_cd) '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join ac_mast a on (m.ac_id=a.ac_id) inner join ac_mast aa on (ac.ac_id=aa.ac_id) '
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+'and aa.typ like '+'''%Service%Available%'''
	set @sqlcommand=rtrim(@sqlcommand)+' '+'and ac.amt_ty='+'''DR'''
	set @sqlcommand=rtrim(@sqlcommand)+' '+'group by m.entry_ty,m.tran_cd,m.date,m.inv_no,m.u_pinvdt,m.u_pinvno,m.serty ,a.ac_name,a.add1,a.add2,a.add3,a.SREGN,m.net_amt,m.gro_amt,m.tot_deduc,m.tot_tax,m.date '
	print  @SQLCOMMAND
	/*EXECUTE SP_EXECUTESQL @SQLCOMMAND Don't activate this Line*/
	/*<---Service Tax Receipt Entry*/
	---select * from #serava

	select a.*
	,m.u_pinvdt,m.date,m.inv_no,m.u_pinvno
	,Net_Amt=(case when a.entry_ty='J3' then jm.SerBlAmt else m.net_amt end)
	,ac_mast.ac_name,ac_mast.add1,ac_mast.add2,ac_mast.add3,ac_mast.SREGN
	,ac_mast.MailName  --added by Birendra on 7 July 2010 for TKT-2834
	from #serava a
	inner join SerTaxMain_vw m on (a.entry_ty=m.entry_ty and a.tran_cd=m.tran_cd)
	inner join ac_mast  on (ac_mast.ac_id=a.ac_id)
	left join jvmain jm on (m.entry_ty=jm.entry_ty and m.tran_cd=jm.tran_cd)
	where asrtax > 0 order by m.date,m.entry_ty,m.tran_cd,m.serty

	DROP TABLE #serava
	
END
GO
