set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author:		Hetal L Patel
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate MH VAT FORM 232
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_MHFORM232]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
BEGIN
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''

----Temporary Cursor1
SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),itemtype=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
INTO #FORM221_1
FROM PTACDET A 
INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

alter table #form221_1 add recno int identity

---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),STM.FORM_NM,AC1.S_TAX
INTO #FORM221
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo  #FORM221_1 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo  #FORM221_1 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----

--->PART 1-6 ST_TYPE='LOCAL','OUT OF STATE'
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

---Total Turnover of Sales
-->sanjay 12.11.09
---SELECT @AMTA1=SUM(NET_AMT),@AMTA2=SUM(TAXAMT) FROM #FORM221_1 WHERE BHENT In('ST','SR') AND (DATE BETWEEN @SDATE AND @EDATE)
--SELECT @AMTA1=round(SUM(NET_AMT),0),@AMTA2=round(SUM(TAXAMT),0) FROM #FORM221_1 WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE)
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--<sanjay 12.11.09
SELECT @AMTA1=Round(SUM(NET_AMT),0) FROM #FORM221_1 WHERE BHENT in ('ST')  AND (DATE BETWEEN @SDATE AND @EDATE)  and ac_name not like '%Rece%'
 Select @AMTA2=Round(SUM(NET_AMT),0) From #form221_1 Where bhent = 'ST' AND (DATE BETWEEN @SDATE AND @EDATE) and ac_name not like '%Rece%' and U_imporm = 'Purchase Return'
 SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
 SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
 SET @AMTB1=@AMTA1-@AMTA2

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES
(1,'6','A',0,@AMTB1,0,0,'')

--Less Composition Sales
--SELECT @AMTA1=SUM(NET_AMT),@AMTB2=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND BHENT='SR' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,party_nm) VALUES
(1,'6','B',0,0,0,0,'')


--Less Sales Retrun
--SELECT @AMTA1=round(SUM(NET_AMT),0) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND BHENT='SR' AND (DATE BETWEEN @SDATE AND @EDATE)
SELECT @AMTA1=Round(SUM(NET_AMT),0)   FROM #FORM221_1 where bhent in('SR','CN') AND (DATE BETWEEN @SDATE AND @EDATE) --ST_TYPE='LOCAL' AND 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES
(1,'6','C',0,@AmtA1,0,0,'')

--Total Deduction B+C
SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='6') AND SRNO IN ('B','C')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

--Net Turnover Sales A-D
SELECT @AMTA2=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='6') AND SRNO IN ('A')
SET @AMTA2=(CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END)-@AMTA1
--->PART 1-6 


-->---PART 7
---Total Turnover of Sales --Restaurant
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTA1=SUM(NET_AMT),@AMTA2=SUM(TAXAMT) FROM #FORM221_1 WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--<---PART 7
-->---PART 8
---Total Turnover of Sales --Bakers
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTA1=SUM(NET_AMT),@AMTA2=SUM(TAXAMT) FROM #FORM221_1 WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--<---PART 8
--->PART 9
---Total Turnover of Sales --Vehicle Dealer
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

SELECT @AMTA1=SUM(NET_AMT),@AMTA2=SUM(TAXAMT) FROM #FORM221_1 WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
---Less Total Deduction Sales Returns
SELECT @AMTA2=SUM(NET_AMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND BHENT='SR' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END

---Net Turnover of Sales A-B
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA1=0
SET @AMTA2=0
---<--PART 9
--->PART 10
--Total Turnover of sales liable of Tax (6(E)+7(A)+8(A)+9(C)
SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (  ((PARTSR='6') AND SRNO IN ('E')) OR ((PARTSR='7') AND SRNO IN ('A')) OR ((PARTSR='8') AND SRNO IN ('A')) OR ((PARTSR='9') AND SRNO IN ('C'))  ) 
SET @AMTA1=(CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END)
---<--PART 10
--->PART 11
--Rate wise VAT details for Sales
Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SET @CHAR=65
DECLARE  CUR_FORM221 CURSOR FOR 
select distinct level1 from stax_mas where ST_TYPE='LOCAL'--CHARINDEX('VAT',TAX_NAME)>0
OPEN CUR_FORM221
FETCH NEXT FROM CUR_FORM221 INTO @PER
WHILE (@@FETCH_STATUS=0)
BEGIN
--	SELECT @AMTA1=SUM(TAXONAMT),@AMTB1=SUM(TAXAMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE)
	if @per = 0
		Begin
		SELECT @AMTA1=round(SUM(NET_AMT),0),@AMTB1=round(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%'
		SELECT @AMTC1=round(SUM(NET_AMT),0),@AMTD1=round(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='SR' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%'
		End
	else
	Begin
	SELECT @AMTA1=round(SUM(NET_AMT),0),@AMTB1=round(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE)
	SELECT @AMTC1=round(SUM(NET_AMT),0),@AMTD1=round(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='SR' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE)
	
End
	
	--Sales Invoices
	SET @AMTA1=ISNULL(@AMTA1,0)
	SET @AMTB1=ISNULL(@AMTB1,0)
	--Return Invoices
	SET @AMTC1=ISNULL(@AMTC1,0)
	SET @AMTD1=ISNULL(@AMTD1,0)
	--Net Effect
	Set @NetEFF = @AMTA1-(@AMTB1+(@AMTC1-@AMTD1))
	Set @NetEFF = (@AMTA1-@AMTB1)-(@AMTC1-@AMTD1)
	Set @NetTAX = (@AMTB1)-(@AMTD1)



  if @nettax <> 0
	  begin
		INSERT INTO #FORM221
		(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES
		(1,'11',CHAR(@CHAR),@PER,@NETEFF,@NETTAX,0,'')
		--(1,'11',CHAR(@CHAR),@PER,@AMTA1-@AMTB1,@AMTB1,0)

		--SET @AMTJ1=@AMTJ1+@AMTA1 --TOTAL TAXABLE AMOUNT
		--SET @AMTK1=@AMTK1+@AMTB1 --TOTAL TAX
		SET @AMTJ1=@AMTJ1+@NETEFF --TOTAL TAXABLE AMOUNT
		SET @AMTK1=@AMTK1+@NETTAX --TOTAL TAX

		SET @CHAR=@CHAR+1
   end

   FETCH NEXT FROM CUR_FORM221 INTO @PER
END
CLOSE CUR_FORM221
DEALLOCATE CUR_FORM221

---Total of Ratewise VAT details
--(1,'11','Z',0,@AMTJ1-@AMTK1,@AMTK1,0)
--<--PART 11
--<--PART 12
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

---Total Turnover of Purchases
SELECT @AMTA1=round(SUM(NET_AMT),0) FROM #FORM221_1 WHERE BHENT in('PT','EP','CN') AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

-- ,Raw Material Sale,Branch Transfer,Purchase Return
--SELECT @AMTA1=round(SUM(NET_AMT),0) FROM #FORM221_1 WHERE (BHENT='PR') AND (DATE BETWEEN @SDATE AND @EDATE) 
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,NET_AMT,dbname from #form221_1 where (DATE BETWEEN @SDATE AND @EDATE) And (BHENT in('PR','DN') or (Bhent='ST' And U_Imporm = 'Purchase Return'))) b
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

--Direct Import
--SELECT @AMTA1=round(SUM(NET_AMT),0) FROM #FORM221_1 WHERE ST_TYPE='OUT OF COUNTRY' AND U_IMPORM='Direct Imports' AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,NET_AMT,dbname from #form221_1 where (DATE BETWEEN @SDATE AND @EDATE) And (BHENT in ('PT','EP','CN')) AND U_IMPORM='Direct Imports') b
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

--High Seas Purchases
--SELECT @AMTA1=round(SUM(NET_AMT),0) FROM #FORM221_1 WHERE ST_TYPE='OUT OF COUNTRY' AND U_IMPORM='High Seas Purchases' AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,NET_AMT,dbname from #form221_1 where (DATE BETWEEN @SDATE AND @EDATE) AND (BHENT in ('PT','EP','CN')) And U_IMPORM='High Seas Purchases') b
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

--Inter State Purchases - CST
--SELECT @AMTA1=round(SUM(NET_AMT),0) FROM #FORM221_1  WHERE ST_TYPE='OUT OF STATE'  AND LEN(RTRIM(U_IMPORM))=0 AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,NET_AMT,dbname from #form221_1    where (DATE BETWEEN @SDATE AND @EDATE) AND (BHENT in ('PT','EP','CN') ) And ST_TYPE='OUT OF STATE' and tax_name <> '' AND U_IMPORM <>'Branch Transfer' ) b
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Inter State Branch Tranfer
--SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='OUT OF STATE'  AND U_IMPORM='Branch Transfer' AND  (CHARINDEX('FORM F',TAX_NAME)>0) AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
--SELECT @AMTA1=round(SUM(NET_AMT),0) FROM #FORM221_1 WHERE ST_TYPE='OUT OF STATE'  AND U_IMPORM='Branch Transfer' AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,NET_AMT,dbname from #form221_1 where ST_TYPE='OUT OF STATE'  AND U_IMPORM='Branch Transfer' AND (BHENT in ('PT','EP','CN')) AND (DATE BETWEEN @SDATE AND @EDATE) And Tax_name in(' ','NO-TAX')) b
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Local Branch Transfer
--SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND U_IMPORM='Branch Transfer' AND (CHARINDEX('FORM F',TAX_NAME)>0) AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
--SELECT @AMTA1=round(SUM(NET_AMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND U_IMPORM='Branch Transfer' AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) And Tax_name <> ' '
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,NET_AMT,dbname from #form221_1 where ST_TYPE='LOCAL'  AND U_IMPORM='Branch Transfer' AND (BHENT in ('PT','EP','CN')) AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name <> ' ') b
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

--Unregistered Purchases - Without TIN No.
--SELECT * FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
--SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name <> ' '
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,NET_AMT,dbname from #form221_1 where ST_TYPE='LOCAL'  AND TAX_NAME <> ''  AND (ISNULL(S_TAX,' ')=' ') AND (BHENT in ('PT','EP','CN')) AND (DATE BETWEEN @SDATE AND @EDATE) AND TAX_NAME <> '') b
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

--Purchase not eligible to Set off
---SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND 1=2
--Select @AmtA1=sum(net_amt) from #form221_1 where Bhent in('EP','PT') and (Date Between @Sdate and @Edate) and St_type = 'LOCAL' and Set_App = 0  and len(rtrim(u_imporm)) = 0 and TAX_NAME <>'EXEMPTED'
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SELECT @AMTA1=Round(SUM(VATONAMT),0) from (select distinct tran_cd,bhent,VATONAMT,dbname from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = '') b
SELECT @AMTB1=Round(SUM(NET_AMT),0) from (select distinct tran_cd,bhent,Net_Amt,dbname from #form221_1 where (Date Between @Sdate and @Edate) and isnull(tax_name,'') in('','NO-TAX' ) and (Bhent in('PR','DN') or (Bhent='ST' And U_Imporm = 'Purchase Return'))) b
SET @AMTB1= ISNULL(@AMTB1,0)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Purchases of Exempted Goods
--SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND 1=2
--SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND TAX_NAME='EXEMPTED' AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,Net_Amt,dbname from #form221_1 where  (DATE BETWEEN @SDATE AND @EDATE) And BHENT in ('PT','EP','CN') AND isnull(tax_name,'')='EXEMPTED') b 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Purchases of Agricultrue goods
--SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND TAX_NAME='EXEMPTED'
SELECT @AMTA1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,Net_Amt,dbname from #form221_1 where  (DATE BETWEEN @SDATE AND @EDATE) And BHENT in ('PT','EP','CN') AND isnull(tax_name,'')='TAX FREE') b 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Any Other Deduction from Purchase 
---Branch Transfer Sale (Local) without Tax within the State
--Select @AMTA2=sum(Net_amt) from #form221_1 where (Date between @Sdate and @Edate) and set_app = 0 and st_type = 'Local' and Bhent = 'PT' and u_imporm = 'Branch Transfer' and Tax_name = ' '
SELECT @AMTB1=SUM(Round(NET_AMT,0)) from (select distinct tran_cd,bhent,Net_Amt,dbname from #form221_1 where (DATE BETWEEN @SDATE AND @EDATE) And BHENT in ('PT','EP','CN') AND tax_name='Labour Charg') b
select @AMTB2=sum( Round(((QTY*RATE)*(100-u_vatonp))/100,0) ) from epitem i where (date between @sdate and @edate) and (u_vatonp>0 and u_vatonp<100) --7L 2.1 
 SET @AMTB1=CASE WHEN @AMTB1 IS NULL THEN 0 ELSE @AMTB1 END
 SET @AMTB2=CASE WHEN @AMTB2 IS NULL THEN 0 ELSE @AMTB2 END
 SET @AMTC1=@AMTB1+@AMTB2
 SET @AMTC1=CASE WHEN @AMTC1 IS NULL THEN 0 ELSE @AMTC1 END


---Total of Deduction (B to L)
SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='12') AND SRNO IN ('B','C','D','E','F','G','H','I','J','K','L')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END


--Net Turnover of Purchase eligible for set off

SELECT @AMTA2=ROUND(SUM(AMT1),0) FROM #FORM221  WHERE (PART=1) AND (PARTSR='12') AND SRNO IN ('A')

SET @AMTA2=(CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END)-@AMTA1

--<---PART 12

-->---PART 13
--Ratewise VAT details for Purchases
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
Set @NETEFF = 0
Set @NETTAX = 0
SET @CHAR=65
DECLARE  CUR_FORM221 CURSOR FOR 
select distinct level1 from stax_mas where ST_TYPE='LOCAL'--CHARINDEX('VAT',TAX_NAME)>0
OPEN CUR_FORM221
FETCH NEXT FROM CUR_FORM221 INTO @PER
WHILE (@@FETCH_STATUS=0)
BEGIN
  if @per = 0
	Begin
--		SELECT @AMTA1=ROUND(SUM(NET_AMT),0),@AMTB1=ROUND(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PT' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%'
--		SELECT @AMTC1=ROUND(SUM(NET_AMT),0),@AMTD1=ROUND(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PR' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%'
--		SELECT @AMTE1=ROUND(SUM(NET_AMT),0),@AMTF1=ROUND(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='EP' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%'
		SELECT @AMTA1=Round(SUM(VATONAMT),0) FROM (select distinct tran_cd,bhent,vatonamt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PT' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> '') b
		SELECT @AMTB1=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PT' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> '' 
		SELECT @AMTC1=Round(SUM(VATONAMT),0) FROM (select distinct tran_cd,bhent,vatonamt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PR' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> '') b
		SELECT @AMTD1=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PR' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> ''
		SELECT @AMTF1=Round(SUM(VATONAMT),0) FROM (select distinct tran_cd,bhent,vatonamt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='EP' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> '') b
		SELECT @AMTF2=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='EP' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> ''
		SELECT @AMTG1=Round(SUM(VATONAMT),0) FROM (select distinct tran_cd,bhent,vatonamt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='DN' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> '') b
		SELECT @AMTG2=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='DN' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> ''
		SELECT @AMTH1=Round(SUM(NET_AMT),0) FROM (select distinct tran_cd,bhent,net_amt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> '' AND U_IMPORM = 'Purchase Return') b
		SELECT @AMTH2=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) and Tax_name like '%Margin%' And S_tax <> '' AND U_IMPORM = 'Purchase Return'
	End
  else
	Begin
--		SELECT @AMTA1=ROUND(SUM(NET_AMT),0),@AMTB1=ROUND(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PT' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE)  
--		SELECT @AMTC1=ROUND(SUM(NET_AMT),0),@AMTD1=ROUND(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PR' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE)  
--		SELECT @AMTE1=ROUND(SUM(NET_AMT),0),@AMTF1=ROUND(SUM(TAXAMT),0) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='EP' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE)  
		SELECT @AMTA1=Round(SUM(Net_AMT),0) FROM (select distinct tran_cd,bhent,net_amt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PT' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '') b
		SELECT @AMTB1=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PT' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '' 
		SELECT @AMTC1=Round(SUM(VATONAMT),0) FROM (select distinct tran_cd,bhent,vatonamt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PR' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '') b
		SELECT @AMTD1=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PR' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '' 
		SELECT @AMTF1=Round(SUM(VATONAMT),0) FROM (select distinct tran_cd,bhent,vatonamt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='EP' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '') b
		SELECT @AMTF2=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='EP' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '' 
		SELECT @AMTG1=Round(SUM(VATONAMT),0) FROM (select distinct tran_cd,bhent,vatonamt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='DN' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '') b
		SELECT @AMTG2=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='DN' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '' 
		SELECT @AMTH1=Round(SUM(NET_AMT),0) FROM (select distinct tran_cd,bhent,net_amt,dbname from #form221_1 WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '' AND U_IMPORM = 'Purchase Return') b
		SELECT @AMTH2=Round(SUM(TAXAMT),0)   FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE) And S_tax <> '' AND U_IMPORM = 'Purchase Return' 
	End

  --Purchase Invoice
  SET @AMTA1=ISNULL(@AMTA1,0)
  SET @AMTB1=ISNULL(@AMTB1,0)
  --Return Invoice
  SET @AMTC1=ISNULL(@AMTC1,0)
  SET @AMTD1=ISNULL(@AMTD1,0)
  --Expense Purchase Invoice
  SET @AMTE1=ISNULL(@AMTE1,0)
  SET @AMTF1=ISNULL(@AMTF1,0)
--  --Debit Note Invoice
--  SET @AMTG1=ISNULL(@AMTG1,0)
--  SET @AMTG2=ISNULL(@AMTG2,0)
--  --Sales Invoice Where U_imporm = 'Purchase Return'
--  SET @AMTH1=ISNULL(@AMTH1,0)
--  SET @AMTH2=ISNULL(@AMTH2,0)

  --Net Effect
 Set @NetEFF = ((@AMTA1 - @AMTB1) + (@AMTE1 - @AMTF1) - (@AMTC1 - @AMTD1)) 
	--Set @NetEFF = ((@AMTA1 - @AMTB1) + (@AMTF1 ) - (@AMTC1 - @AMTD1) - (@AMTG1 - @AMTG2) - (@AMTH1 - @AMTH2)) 
---Set @NetEFF = ((@AMTA1 - @AMTB1) + (@AMTE1 - @AMTF1)) - (@AMTC1 - @AMTD1)
  Set @NetTAX = (@AMTB1 + @AMTF1) - @AMTD1
	--Set @NetTAX = (@AMTB1 + @AMTF2) - @AMTD1 - @AMTG2 - @AMTH2

  if @nettax <> 0
	  begin
		INSERT INTO #FORM221
		(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,Party_nm) VALUES
		(1,'13',CHAR(@CHAR),@PER,@NETEFF,@NETTAX,0,'')
		---(1,'13',CHAR(@CHAR),@PER,@AMTA1-@AMTB1,@AMTB1,0)

		--	SET @AMTM1=@AMTM1+@AMTA1 --TOTAL TAXABLE AMOUNT
		--	SET @AMTO1=@AMTO1+@AMTB1 --TOTAL TAX
		SET @AMTM1=@AMTM1+@NETEFF --TOTAL TAXABLE AMOUNT
		SET @AMTO1=@AMTO1+@NETTAX --TOTAL TAX
		SET @CHAR=@CHAR+1
   End

   FETCH NEXT FROM CUR_FORM221 INTO @PER
END
CLOSE CUR_FORM221
DEALLOCATE CUR_FORM221
---Total of Ratewise VAT Purchases Detials
---(1,'13','Z',0,@AMTM1-@AMTO1,@AMTO1,0)
--<---PART 13
-->---PART 14
SET @AMTA1=@AMTM1 --DONT CHANGE POSITION
SET @AMTA2=@AMTO1 --DONT CHANGE POSITION

SELECT @AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTB2=0,@AMTC2=0,@AMTD2=0,@AMTE2=0,@AMTF2=0,@AMTG2=0,@AMTH2=0,@AMTI2=0,@AMTJ2=0,@AMTK2=0,@AMTL2=0,@AMTM2=0,@AMTN2=0,@AMTO2=0 
--Purchases Local

--Deduction Amount
SELECT @AMTA1=SUM(TAXONAMT),@AMTE2=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND (SET_APP=0)  AND (BHENT='PT') AND (PER=4 or PER=1) AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTE1 IS NULL THEN 0 ELSE @AMTE1 END
SET @AMTA2=CASE WHEN @AMTE2 IS NULL THEN 0 ELSE @AMTE2 END


--Deduction Amount if any other,
--SELECT @AMTA1=SUM(TAXONAMT),@AMTE2=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND (SET_APP=0)  AND (BHENT='PT') AND (PER=1) AND (DATE BETWEEN @SDATE AND @EDATE)
--SET @AMTA1=CASE WHEN @AMTE1 IS NULL THEN 0 ELSE @AMTE1 END
--SET @AMTA2=CASE WHEN @AMTE2 IS NULL THEN 0 ELSE @AMTE2 END

--Deduction Amount
SELECT @AMTA1=SUM(TAXONAMT),@AMTE2=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND (SET_APP=0)  AND (BHENT='PT') AND (PER NOT IN (1,4)) AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTE1 IS NULL THEN 0 ELSE @AMTE1 END
SET @AMTA2=CASE WHEN @AMTE2 IS NULL THEN 0 ELSE @AMTE2 END

---Total Deduction B-C
SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='14') AND SRNO IN ('B','BA','C')
SET @AMTA1=CASE WHEN @AMTE1 IS NULL THEN 0 ELSE @AMTE1 END
SET @AMTA2=CASE WHEN @AMTE2 IS NULL THEN 0 ELSE @AMTE2 END

---Net Set off (A-D)
SELECT @AMTB1=AMT1,@AMTB2=AMT2 FROM #FORM221  WHERE (PART=1) AND (PARTSR='14') AND SRNO IN ('A')
SET @AMTB1=(CASE WHEN @AMTB1 IS NULL THEN 0 ELSE @AMTB1 END)-@AMTA1
SET @AMTB2=(CASE WHEN @AMTB2 IS NULL THEN 0 ELSE @AMTB2 END)-@AMTA2
SET @AMTB1=0 --for Mehta/Abhiman

---Add Adjustment if any,

---Less Adjustment if any,
SET @AMTA1=0
SET @AMTA2=0

---Net Set off Available (E+F)-G
SELECT @AMTB1=SUM(AMT1),@AMTB2=SUM(AMT2) FROM #FORM221  WHERE (PART=1) AND (PARTSR='14') AND SRNO IN ('E','F')
SET @AMTB1=(CASE WHEN @AMTB1 IS NULL THEN 0 ELSE @AMTB1 END)-0--@AMTA1
SET @AMTB2=(CASE WHEN @AMTB2 IS NULL THEN 0 ELSE @AMTB2 END)-0--@AMTA2
--<---PART 14
-->---PART 15A
---Set Available from 14 (F)

---Credit Brought forward from previos return
SELECT @AMTA1=SUM(CASE WHEN AMT_TY='CR' THEN -TAXAMT ELSE TAXAMT END) FROM #FORM221_1 WHERE NOT (DATE BETWEEN @SDATE AND @EDATE) AND SET_APP=1 AND ST_TYPE='LOCAL'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA1=CASE WHEN @AMTA1<0 THEN 0 ELSE @AMTA1 END

---Ammount Already Paid

---Adjustment ET Maharashtra

---Refund Adjustments if any

---Total Credit (A+B+C+D+E)
SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='15A') AND SRNO IN ('A','B','C','D','E')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--<---PART 15A
-->---PART 15B
---Sales Tax Payable From Box 11
SELECT @AMTA1=AMT2 FROM #FORM221 WHERE PART=1 AND PARTSR='11' AND SRNO='Z'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END


---CST Payable 
--select @AmtA1=Sum(TaxAmt) from #Form221_1 where St_type = 'Out of State' and len(rtrim(U_imporm)) = 0 and Bhent = 'PT'

---Adjustment ET Maharashtra 

---Interest Payable if any

---Total (A+B+C+D)
SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='15B') AND SRNO IN ('A','B','C','D')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Balance Excess Tax
Select @AMTA1=Amt1 from #form221 where partsr = '15A' and srno = 'F'
Select @AMTA2=Amt1 from #form221 where partsr = '15B' and srno = 'E'
SET @AMTB1=CASE WHEN @AMTA1>@AMTA2 THEN @AMTA1-@AMTA2 ELSE 0 END

----print 'rup'

--- Balance Tax Payabale 
--SET @AMTB1=CASE WHEN @AMTA2>@AMTA1 THEN 0 ELSE @AMTA1-@AMTA2 END
--SET @AMTB1=CASE WHEN @AMTA1>@AMTA2 THEN @AMTA1-@AMTA2 ELSE 0 END
Select @AMTA1=Amt1 from #form221 where partsr = '15A' and srno = 'F'
Select @AMTA2=Amt1 from #form221 where partsr = '15B' and srno = 'E'
SET @AMTB1=CASE WHEN @AMTA1<@AMTA2 THEN @AMTA2-@AMTA1 ELSE 0 END
-->---PART 15B

-->---PART 15C
--Excess Credit Carreid Forward 15B (F)
SELECT @AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTA2=0,@AMTB2=0,@AMTC2=0,@AMTD2=0,@AMTE2=0,@AMTF2=0,@AMTG2=0,@AMTH2=0,@AMTI2=0,@AMTJ2=0,@AMTK2=0,@AMTL2=0,@AMTM2=0,@AMTN2=0,@AMTO2=0 

SELECT @AMTA1=AMT1 FROM #FORM221 WHERE PART=1 AND PARTSR='15B' AND SRNO='F'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Excess Credit Claimed Refund Box 15B(F)-15C(A)

-->---PART 15C
-->---PART 15D
---Total Amount Payable 15B(G)
SELECT @AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTA2=0,@AMTB2=0,@AMTC2=0,@AMTD2=0,@AMTE2=0,@AMTF2=0,@AMTG2=0,@AMTH2=0,@AMTI2=0,@AMTJ2=0,@AMTK2=0,@AMTL2=0,@AMTM2=0,@AMTN2=0,@AMTO2=0 

SELECT @AMTA1=AMT1 FROM #FORM221  WHERE PART=1 AND PARTSR='15B' AND SRNO='G'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Amount paid along return challan

---Amount paid as per fresh/Revised challan
--<---PART 15D

---Challan details
/*
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'15E','A',0,0,0,0)
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'15E','Z',0,@AMTM1,@AMTO1,0)
*/
Declare @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(10),@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(30),@S_TAX as varchar(30),@QTY as numeric(18,4)


SELECT @TAXONAMT=0,@TAXAMT =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',@QTY=0

SET @CHAR=65

SET @PER = 0
declare Cur_VatPay cursor  for
select Taxonamt,Gro_amt,taxamt,inv_no,Date,Party_nm,Address='',Form_nm,S_tax--,Qty,item,Itemamt
from #form221_1 where BHENT = 'BP' And Date Between @sdate and @edate
open Cur_VatPay
FETCH NEXT FROM Cur_VatPay INTO @TAXONAMT,@ITEMAMT,@TAXAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX--,@item,@QTY,,@ITEMAMT
 WHILE (@@FETCH_STATUS=0)
 BEGIN

	SET @Per=CASE WHEN @Per IS NULL THEN 0 ELSE @Per END
	SET @TAXONAMT=CASE WHEN @TAXONAMT IS NULL THEN 0 ELSE @TAXONAMT END
	SET @TAXAMT=CASE WHEN @TAXAMT IS NULL THEN 0 ELSE @TAXAMT END
	SET @ITEMAMT=CASE WHEN @ITEMAMT IS NULL THEN 0 ELSE @ITEMAMT END
	SET @QTY=CASE WHEN @QTY IS NULL THEN 0 ELSE @QTY END
	SET @PARTY_NM=CASE WHEN @PARTY_NM IS NULL THEN '' ELSE @PARTY_NM END
	SET @INV_NO=CASE WHEN @INV_NO IS NULL THEN '' ELSE @INV_NO END
	SET @DATE=CASE WHEN @DATE IS NULL THEN '' ELSE @DATE END
	SET @ADDRESS=CASE WHEN @ADDRESS IS NULL THEN '' ELSE @ADDRESS END
	SET @ITEM=CASE WHEN @ITEM IS NULL THEN '' ELSE @ITEM END
	SET @S_TAX=CASE WHEN @S_TAX IS NULL THEN '' ELSE @S_TAX END
	SET @FORM_NM=CASE WHEN @FORM_NM IS NULL THEN '' ELSE @FORM_NM END
	
--	INSERT INTO #FORM221 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,PARTY_NM,ADDRESS,ITEM,FORM_NM,S_TAX,Qty) VALUES (1,'10E',CHAR(@CHAR),@PER,@TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@ITEM,@FORM_NM,@S_TAX,@QTY)

 SET @CHAR=@CHAR+1
 FETCH NEXT FROM CUR_VatPay INTO @TAXONAMT,@TAXAMT,@ITEMAMT,@INV_NO,@DATE,@PARTY_NM,@ADDRESS,@FORM_NM,@S_TAX--,@ITEM,@QTY
END
CLOSE CUR_VatPay
DEALLOCATE CUR_VatPay

 set @AMTA1 = 0
 select @AMTA1=Sum(AMT1) from #form221 where Partsr = '15E'
 SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END

---Other detials

Update #form221 set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''), 
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0), ITEM =isnull(item,'')


SELECT * FROM #FORM221 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
--SELECT * FROM #FORM221_1 --order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)

END
--Print 'MH VAT FORM 232'

