DROP PROCEDURE [USP_ENT_EMAILCLIENT_DELETE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [USP_ENT_EMAILCLIENT_DELETE]
@id varchar(20)
As
Begin
	Delete From eMailClient Where id=@id
End
GO
