set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
 -- Author:  Hetal L. Patel
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate RJ VAT FORM 48
-- Modify date: 16/05/2007
-- Modified By: Rakesh Varma
-- Modify date: 10-Feb-2010
-- Remark:
-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_RJVAT48]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='PTMAIN',@VITFILE='PTITEM',@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


DECLARE @SQLCOMMAND NVARCHAR(4000),@SQLCOMMAND1 NVARCHAR(4000),@SQLCOMMAND2 NVARCHAR(4000)

DECLARE @MYFCON1 AS NVARCHAR(2000),@MYFCON2 AS NVARCHAR(2000)

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		Set @MultiCo = 'YES'

		SET @MYFCON1 = @FCON
		SET @MYFCON2 = @FCON

	    SET @MYFCON1 = Replace(@MYFCON1,'PTMAIN.DATE','EPMAIN.DATE')
	    SET @MYFCON2 = Replace(@MYFCON2,'PTMAIN.DATE','CNMAIN.DATE')

----------------------------------------------------------------------------------------------------------------

--		SET @SQLCOMMAND='SELECT PTMAIN.ENTRY_TY,PTMAIN.TRAN_CD,PTITEM.ITSERIAL,PTMAIN.INV_NO,PTMAIN.DATE,PTITEM.ITEM,PTITEM.QTY,PTITEM.RATE,PTITEM.GRO_AMT,PTMAIN.FORM_NO,PTMAIN.FORMIDT,PTMAIN.FORMRDT,'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,PTITEM.TAX_NAME,PTITEM.TAXAMT,AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.S_TAX,'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'IT_MAST.[IT_DESC],IT_MAST.IT_CODE,PARTY_NM=AC_MAST.AC_NAME'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM PTMAIN'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN PTITEM ON (PTMAIN.ENTRY_TY=PTITEM.ENTRY_TY AND PTMAIN.TRAN_CD=PTITEM.TRAN_CD AND PTMAIN.DBNAME=PTITEM.DBNAME)'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (PTMAIN.AC_ID=AC_MAST.AC_ID AND PTMAIN.DBNAME=AC_MAST.DBNAME)'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=PTITEM.IT_CODE AND IT_MAST.DBNAME=PTITEM.DBNAME)'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON
--		---SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND PTITEM.BCDAMT > 0 '
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.ST_TYPE =''OUT OF COUNTRY'''
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'ORDER BY PTMAIN.DATE,AC_MAST.AC_NAME,IT_MAST.IT_NAME'

----------------------------------------------------------------------------------------------------------------


		SET @SQLCOMMAND='SELECT PTMAIN.ENTRY_TY,PTMAIN.TRAN_CD,PTITEM.ITSERIAL,PTMAIN.INV_NO,PTMAIN.DATE,PTITEM.ITEM,PTITEM.QTY,PTITEM.RATE,PTITEM.GRO_AMT,PTMAIN.FORM_NO,PTMAIN.FORMIDT,PTMAIN.FORMRDT,'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,PTITEM.TAX_NAME,PTITEM.TAXAMT,AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.S_TAX,'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'cast(IT_MAST.[IT_DESC] as varchar(200)),IT_MAST.IT_CODE,PARTY_NM=AC_MAST.AC_NAME,PTMAIN.NET_AMT'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM PTMAIN'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN PTITEM ON (PTMAIN.ENTRY_TY=PTITEM.ENTRY_TY AND PTMAIN.TRAN_CD=PTITEM.TRAN_CD AND PTMAIN.DBNAME=PTITEM.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (PTMAIN.AC_ID=AC_MAST.AC_ID AND PTMAIN.DBNAME=AC_MAST.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=PTITEM.IT_CODE AND IT_MAST.DBNAME=PTITEM.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON
		---SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND PTITEM.BCDAMT > 0 '
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.ST_TYPE =''OUT OF COUNTRY'''
		--SET @SQLCOMMAND=@SQLCOMMAND+' '+'ORDER BY PTMAIN.DATE,AC_MAST.AC_NAME,IT_MAST.IT_NAME'

        SET @SQLCOMMAND=@SQLCOMMAND+' '+'UNION' 

		SET @SQLCOMMAND=@SQLCOMMAND+' '+'SELECT EPMAIN.ENTRY_TY,EPMAIN.TRAN_CD,EPITEM.ITSERIAL,EPMAIN.INV_NO,EPMAIN.DATE,EPITEM.ITEM,EPITEM.QTY,EPITEM.RATE,EPITEM.GRO_AMT,EPMAIN.FORM_NO,FORMIDT=''1900-01-01 00:00:00.000'',FORMRDT=''1900-01-01 00:00:00.000'','
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'EPMAIN.U_PINVNO,EPMAIN.U_PINVDT,EPITEM.TAX_NAME,EPITEM.TAXAMT,AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.S_TAX,'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'cast(IT_MAST.[IT_DESC] as varchar(200)),IT_MAST.IT_CODE,PARTY_NM=AC_MAST.AC_NAME,EPMAIN.NET_AMT'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM EPMAIN'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN EPITEM ON (EPMAIN.ENTRY_TY=EPITEM.ENTRY_TY AND EPMAIN.TRAN_CD=EPITEM.TRAN_CD AND EPMAIN.DBNAME=EPITEM.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (EPMAIN.AC_ID=AC_MAST.AC_ID AND EPMAIN.DBNAME=AC_MAST.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=EPITEM.IT_CODE AND IT_MAST.DBNAME=EPITEM.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+@MYFCON1
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.ST_TYPE =''OUT OF COUNTRY'''
		--SET @SQLCOMMAND=@SQLCOMMAND+' '+'ORDER BY EPMAIN.DATE,AC_MAST.AC_NAME,IT_MAST.IT_NAME'

		SET @SQLCOMMAND=@SQLCOMMAND+' '+'UNION'


		SET @SQLCOMMAND=@SQLCOMMAND+' '+'SELECT CNMAIN.ENTRY_TY,CNMAIN.TRAN_CD,CNITEM.ITSERIAL,CNMAIN.INV_NO,CNMAIN.DATE,CNITEM.ITEM,CNITEM.QTY,CNITEM.RATE,CNITEM.GRO_AMT,CNMAIN.FORM_NO,FORMIDT=''1900-01-01 00:00:00.000'',FORMRDT=''1900-01-01 00:00:00.000'','
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'CNMAIN.U_PINVNO,CNMAIN.U_PINVDT,CNITEM.TAX_NAME,CNITEM.TAXAMT,AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.S_TAX,'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'cast(IT_MAST.[IT_DESC] as varchar(200)),IT_MAST.IT_CODE,PARTY_NM=AC_MAST.AC_NAME,CNMAIN.NET_AMT'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM CNMAIN'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN CNITEM ON (CNMAIN.ENTRY_TY=CNITEM.ENTRY_TY AND CNMAIN.TRAN_CD=CNITEM.TRAN_CD AND CNMAIN.DBNAME=CNITEM.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (CNMAIN.AC_ID=AC_MAST.AC_ID AND CNMAIN.DBNAME=AC_MAST.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=CNITEM.IT_CODE AND IT_MAST.DBNAME=CNITEM.DBNAME)'
		SET @SQLCOMMAND=@SQLCOMMAND+' '+@MYFCON2
		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.ST_TYPE =''OUT OF COUNTRY'''


	END
ELSE
	Begin	------Fetch Records from Single Co. Data
		Set @MultiCo = 'NO'


----------------------------------------------------------------------------------------------------------------

--		SET @SQLCOMMAND='SELECT PTMAIN.ENTRY_TY,PTMAIN.TRAN_CD,PTITEM.ITSERIAL,PTMAIN.INV_NO,PTMAIN.DATE,PTITEM.ITEM,PTITEM.QTY,PTITEM.RATE,PTITEM.GRO_AMT,PTMAIN.FORM_NO,PTMAIN.FORMIDT,PTMAIN.FORMRDT,'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,PTITEM.TAX_NAME,PTITEM.TAXAMT,AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.S_TAX,'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'IT_MAST.[IT_DESC],IT_MAST.IT_CODE,PARTY_NM=AC_MAST.AC_NAME'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM PTMAIN'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN PTITEM ON (PTMAIN.ENTRY_TY=PTITEM.ENTRY_TY AND PTMAIN.TRAN_CD=PTITEM.TRAN_CD)'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (PTMAIN.AC_ID=AC_MAST.AC_ID)'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=PTITEM.IT_CODE)'
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON
--		---SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND PTITEM.BCDAMT > 0 '
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.ST_TYPE =''OUT OF COUNTRY'''
--		SET @SQLCOMMAND=@SQLCOMMAND+' '+'ORDER BY PTMAIN.DATE,AC_MAST.AC_NAME,IT_MAST.IT_NAME'

----------------------------------------------------------------------------------------------------------------
 
 SET @MYFCON1 = @FCON
 SET @MYFCON2 = @FCON

 SET @MYFCON1 = Replace(@MYFCON1,'PTMAIN.DATE','EPMAIN.DATE')
 SET @MYFCON2 = Replace(@MYFCON2,'PTMAIN.DATE','CNMAIN.DATE')

SET @SQLCOMMAND='SELECT PTMAIN.ENTRY_TY,PTMAIN.TRAN_CD,PTITEM.ITSERIAL,PTMAIN.INV_NO,PTMAIN.DATE,PTITEM.ITEM,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'PTITEM.QTY,PTITEM.RATE,PTITEM.GRO_AMT,PTMAIN.FORM_NO,PTMAIN.FORMIDT,PTMAIN.FORMRDT,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,PTITEM.TAX_NAME,PTITEM.TAXAMT,AC_MAST.AC_ID,AC_MAST.AC_NAME,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AC_MAST.MAILNAME,AC_MAST.S_TAX,cast(IT_MAST.[IT_DESC] as varchar(200)),IT_MAST.IT_CODE,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'PARTY_NM=AC_MAST.AC_NAME,PTMAIN.NET_AMT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM PTMAIN' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN PTITEM ON (PTMAIN.ENTRY_TY=PTITEM.ENTRY_TY AND PTMAIN.TRAN_CD=PTITEM.TRAN_CD)' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (PTMAIN.AC_ID=AC_MAST.AC_ID)' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=PTITEM.IT_CODE)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+@FCON 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.ST_TYPE = ''OUT OF COUNTRY''' 

SET @SQLCOMMAND=@SQLCOMMAND+' '+'UNION'

SET @SQLCOMMAND=@SQLCOMMAND+' '+'SELECT EPMAIN.ENTRY_TY,EPMAIN.TRAN_CD,EPITEM.ITSERIAL,EPMAIN.INV_NO,EPMAIN.DATE,EPITEM.ITEM,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'EPITEM.QTY,EPITEM.RATE,EPITEM.GRO_AMT,EPMAIN.FORM_NO,FORMIDT = ''1900-01-01 00:00:00.000'','
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FORMRDT = ''1900-01-01 00:00:00.000'',EPMAIN.U_PINVNO,EPMAIN.U_PINVDT,EPITEM.TAX_NAME,EPITEM.TAXAMT,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.S_TAX,cast(IT_MAST.[IT_DESC] as varchar(200)),'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'IT_MAST.IT_CODE,PARTY_NM=AC_MAST.AC_NAME,EPMAIN.NET_AMT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM EPMAIN' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN EPITEM ON (EPMAIN.ENTRY_TY=EPITEM.ENTRY_TY AND EPMAIN.TRAN_CD=EPITEM.TRAN_CD)' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (EPMAIN.AC_ID=AC_MAST.AC_ID) INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=EPITEM.IT_CODE)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+@MYFCON1
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.ST_TYPE =''OUT OF COUNTRY'''

--SET @SQLCOMMAND1 = 'select replace(''+@fcon+'',''PT'',''CN'')'
--execute @SQLCOMMAND1

SET @SQLCOMMAND=@SQLCOMMAND+' '+'union'

SET @SQLCOMMAND=@SQLCOMMAND+' '+'SELECT CNMAIN.ENTRY_TY,CNMAIN.TRAN_CD,CNITEM.ITSERIAL,CNMAIN.INV_NO,CNMAIN.DATE,CNITEM.ITEM,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'CNITEM.QTY,CNITEM.RATE,CNITEM.GRO_AMT,CNMAIN.FORM_NO,FORMIDT = ''1900-01-01 00:00:00.000'','
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FORMRDT = ''1900-01-01 00:00:00.000'',CNMAIN.U_PINVNO,CNMAIN.U_PINVDT,CNITEM.TAX_NAME,CNITEM.TAXAMT,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.S_TAX,cast(IT_MAST.[IT_DESC] as varchar(200)),'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'IT_MAST.IT_CODE,PARTY_NM=AC_MAST.AC_NAME,CNMAIN.NET_AMT' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM CNMAIN' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN CNITEM ON (CNMAIN.ENTRY_TY=CNITEM.ENTRY_TY AND CNMAIN.TRAN_CD=CNITEM.TRAN_CD)' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (CNMAIN.AC_ID=AC_MAST.AC_ID)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=CNITEM.IT_CODE)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+@MYFCON2
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND AC_MAST.ST_TYPE =''OUT OF COUNTRY'''

END

--PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

END
--Print 'RJ VAT FORM 48'

