DROP PROCEDURE [USP_REP_DUTYAVAILABLE_MIS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Excise Proforma For Duty Available MIS Report.
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Modified By Sachin N. S. on 10/05/2010 for TKT-1487 -- u_cldt > 1900
-- Remark:
-- =============================================
CREATE PROCEDURE [USP_REP_DUTYAVAILABLE_MIS]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null

AS
SET QUOTED_IDENTIFIER OFF

DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(2000),@FDATE VARCHAR(10),@FCON NVARCHAR(2000)
SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT

--SELECT AC_NAME,OPENING=AMOUNT,CREDIT=AMOUNT,DEBIT=AMOUNT,CLOSING=AMOUNT INTO #DUTYMIS FROM STACDET WHERE 1=2
SELECT ENTRY_TY,AC_NAME,EXDATE=DATE,AMOUNT,AMT_TY,CURAC=0,SRNO=3 INTO #DUTYMIS FROM STACDET WHERE 1=2

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='',@VITFILE='',@VACFILE='LAC_VW'
,@VDTFLD =@FDATE
,@VLYN=''
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

--SELECT AC_NAME,EXDATE=DATE,AMOUNT,AMT_TY INTO #DUTYMIS FROM STACDET WHERE 1=2
SET @SQLCOMMAND=' INSERT INTO #DUTYMIS SELECT ENTRY_TY,LAC_VW.AC_NAME,'+@FDATE+',AMOUNT,AMT_TY,CURAC=0,SRNO=0 FROM LAC_VW'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST ON (LAC_VW.AC_ID=AC_MAST.AC_ID)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN ER_EXCISE ON (AC_MAST.AC_NAME=ER_EXCISE.AC_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'   AND (YEAR(LAC_VW.'+@FDATE+')>1900 )'		-- Added By Sachin N. S. on 10/05/2010 for TKT-1487
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND AC_MAST.AC_NAME IN(SELECT AC_NAME FROM ER_EXCISE WHERE ISNULL(AC_NAME,SPACE(1))<>SPACE(1))'
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

--SELECT 'A',* FROM #DUTYMIS WHERE AC_NAME='BALANCE WITH EXCISE PLA' ORDER BY AC_NAME,year(exdate),month(exdate) 



declare @sdate1 smalldatetime,@edate1 smalldatetime,@strdt varchar(10)
declare @c int,@cnt int
set @c=0
set @cnt=0

set @sdate1=@sdate
set @edate1=@sdate1

SELECT #DUTYMIS.AC_NAME,ER_EXCISE.CURAC,ER_EXCISE.SRNO,mnth=month(exdate),yr=year(exdate)
,OPBAL=SUM(CASE WHEN (EXDATE<@SDATE OR ENTRY_TY='OB') THEN (CASE WHEN (AMT_TY='DR') THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,CREDIT=SUM(CASE WHEN NOT (EXDATE<@SDATE OR ENTRY_TY='OB') THEN (CASE WHEN (AMT_TY='DR') THEN AMOUNT ELSE 0 END) ELSE 0 END)
,DEBIT=SUM(CASE WHEN NOT (EXDATE<@SDATE OR ENTRY_TY='OB') THEN (CASE WHEN (AMT_TY='CR') THEN AMOUNT ELSE 0 END) ELSE 0 END)
,BALANCE=SUM(CASE WHEN (AMT_TY='DR') THEN AMOUNT ELSE -AMOUNT END)
INTO #DUTYMIS1
FROM #DUTYMIS
INNER JOIN ER_EXCISE ON (#DUTYMIS.AC_NAME=ER_EXCISE.AC_NAME)
WHERE 1=2
GROUP BY #DUTYMIS.AC_NAME ,ER_EXCISE.CURAC,ER_EXCISE.SRNO,month(exdate),year(exdate)
ORDER BY year(exdate),month(exdate),(CASE WHEN (ER_EXCISE.CURAC=1) THEN 'A' ELSE (CASE WHEN (#DUTYMIS.AC_NAME LIKE '%RG23A%') THEN 'B' ELSE (CASE WHEN (#DUTYMIS.AC_NAME LIKE '%RG23C%') THEN 'C' ELSE 'D' END) END) END),ER_EXCISE.SRNO


while (@c=0)
begin
	if(month(@sdate1) in (1,3,5,7,8,10,12))
	begin
		
		set @strdt=cast( year(@sdate1) as varchar(4)  )+'/'+cast( month(@sdate1) as varchar(4)  )+'/31'
		set @edate1=cast( @strdt as smalldatetime)
	end
	ELSE
	BEGIN
		if(month(@sdate1) in (4,6,9,11))
		begin
			set @strdt=cast( year(@sdate1) as varchar(4)  )+'/'+cast( month(@sdate1) as varchar(4)  )+'/30'
			set @edate1=cast( @strdt as smalldatetime)
		end
	END
	if(month(@sdate1) in (2))
	begin
		set @strdt=cast( year(@sdate1) as varchar(4)  )+'/'+cast( month(@sdate1) as varchar(4)  )+'/29'
		if isdate(@strdt)=1
		begin
			set @edate1=cast(@strdt as smalldatetime)	
		end
		else
		begin
			set @strdt=cast( year(@sdate1) as varchar(4)  )+'/'+cast( month(@sdate1) as varchar(4)  )+'/28'
			set @edate1=cast( @strdt as smalldatetime)	
		end	
	end
	
	INSERT INTO #DUTYMIS1
	SELECT #DUTYMIS.AC_NAME,ER_EXCISE.CURAC,ER_EXCISE.SRNO,mnth=month(@edate1),yr=year(@edate1)
	,OPBAL=SUM(CASE WHEN (EXDATE<@SDATE1 OR ENTRY_TY='OB') THEN (CASE WHEN (AMT_TY='DR') THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
	,CREDIT=SUM(CASE WHEN NOT (EXDATE<@SDATE1 OR ENTRY_TY='OB') THEN (CASE WHEN (AMT_TY='DR') THEN AMOUNT ELSE 0 END) ELSE 0 END)
	,DEBIT=SUM(CASE WHEN NOT (EXDATE<@SDATE1 OR ENTRY_TY='OB') THEN (CASE WHEN (AMT_TY='CR') THEN AMOUNT ELSE 0 END) ELSE 0 END)
	,BALANCE=SUM(CASE WHEN (AMT_TY='DR') THEN AMOUNT ELSE -AMOUNT END)
	FROM #DUTYMIS
	INNER JOIN ER_EXCISE ON (#DUTYMIS.AC_NAME=ER_EXCISE.AC_NAME)
	WHERE EXDATE<=@EDATE1
	GROUP BY #DUTYMIS.AC_NAME,ER_EXCISE.CURAC,ER_EXCISE.SRNO
	ORDER BY year(@edate1),month(@edate1),(CASE WHEN (ER_EXCISE.CURAC=1) THEN 'A' ELSE (CASE WHEN (#DUTYMIS.AC_NAME LIKE '%RG23A%') THEN 'B' ELSE (CASE WHEN (#DUTYMIS.AC_NAME LIKE '%RG23C%') THEN 'C' ELSE 'D' END) END) END),ER_EXCISE.SRNO
	
	

	print 'c'
	print @sdate1	
	print @edate1
	
	set @sdate1=dateadd(day,1,@edate1)
	set @cnt=@cnt+1
	if(@edate1>=@edate)
	begin
		set @c=1--exit from the loop
	end
end

SELECT #DUTYMIS1.* 
FROM #DUTYMIS1
INNER JOIN ER_EXCISE ON (#DUTYMIS1.AC_NAME=ER_EXCISE.AC_NAME)
ORDER BY yr,mnth,(CASE WHEN (ER_EXCISE.CURAC=1) THEN 'A' ELSE (CASE WHEN (#DUTYMIS1.AC_NAME LIKE '%RG23A%') THEN 'B' ELSE (CASE WHEN (#DUTYMIS1.AC_NAME LIKE '%RG23C%') THEN 'C' ELSE 'D' END) END) END),ER_EXCISE.SRNO
GO
