If Exists(Select [name] From SysObjects Where xType='P' and [name]='Usp_Rep_Pharma_MIS_PRMPURRET')
Begin
	Drop Procedure Usp_Rep_Pharma_MIS_PRMPURRET
End
GO
/****** Object:  StoredProcedure [dbo].[Usp_Rep_Pharma_MIS_PRMPURRET]    Script Date: 2019-03-19 10:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Usp_Rep_Pharma_MIS_PRMPURRET]
(@FrmDate SMALLDATETIME,@Todate SMALLDATETIME,@FrmParty VARCHAR(50),@ToParty VARCHAR(50))
AS
DECLARE @SQLCOMMAND NVARCHAR(4000)


SET @SQLCOMMAND='SELECT PRITEM.DATE,PRITEM.PARTY_NM,PRITEM.INV_NO,PRITEM.GRO_AMT,PRITEM.TOT_DEDUC,PRITEM.TOT_TAX'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',PRITEM.TOT_ADD,PRITEM.TAXAMT,PRITEM.TOT_NONTAX,PRITEM.TOT_FDISC,PRITEM.u_asseamt,PRMAIN.NET_AMT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',PRITEM.QTY,PRITEM.RATE'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',PRITEM.WARE_NM,CAST(ISNULL(IT_DESC,'''') AS VARCHAR(200)) AS IT_DESC,CAST(ISNULL(it_name,'''') AS VARCHAR(200)) AS it_name'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',IT_MAST.[GROUP],IT_MAST.hsncode,IT_MAST.RATEPER,IT_MAST.RATEUNIT,IT_MAST.[TYPE],PRITEM.CGST_AMT,PRITEM.SGST_AMT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+',PRITEM.IGST_AMT,PRITEM.sbdate,PRITEM.SBILLNO,PRITEM.CGSRT_AMT,PRITEM.SGSRT_AMT,PRITEM.IGSRT_AMT,PRITEM.batchno,PRITEM.MFGDT,PRITEM.EXPDT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'FROM PRMAIN '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN PRITEM ON (PRMAIN.TRAN_CD=PRITEM.TRAN_CD AND PRMAIN.ENTRY_TY=PRITEM.ENTRY_TY) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST ON (PRITEM.IT_CODE=IT_MAST.IT_CODE)' 
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN AC_MAST ON (PRMAIN.AC_ID=AC_MAST.AC_ID) '
SET @SQLCOMMAND=@SQLCOMMAND+' '+' WHERE (PRMAIN.DATE BETWEEN '+CHAR(39)+cast(@FrmDate as varchar)+CHAR(39)+' AND '+CHAR(39)+cast(@Todate as varchar)+CHAR(39)+') '
SET @SQLCOMMAND=@SQLCOMMAND+' '+' AND (AC_MAST.AC_NAME BETWEEN '+CHAR(39)+cast(@FrmParty as varchar)+CHAR(39)+' AND '+CHAR(39)+cast(@ToParty as varchar)+CHAR(39)+') '
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND PRMAIN.ENTRY_TY=''PU'''
SET @SQLCOMMAND=@SQLCOMMAND+' '+'ORDER BY PRMAIN.DATE,PRMAIN.INV_NO'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND



