DROP PROCEDURE [USP_REP_LST_STAP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---<<    USP_REP_LST_STAP This Stored useful to generate Excise Chapter wise Stock Ledger Report   >>
CREATE     PROCEDURE  [USP_REP_LST_STAP]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=NULL
,@VFCON =@FCON OUTPUT

DECLARE @ORDER NVARCHAR (500),@SFLDNM VARCHAR(10),@FLDNM VARCHAR(10),@SQLCOMMAND NVARCHAR(1000),@SSFLDNM NVARCHAR(10)

SET  @SFLDNM='CHAPNO'


IF  @SFLDNM='IT_CODE'
BEGIN
	SET @SSFLDNM='IT_CODE'
END
ELSE
BEGIN
	IF  @SFLDNM='ITGRID'
	BEGIN
		SET @SSFLDNM='ITGRID'
	END
	ELSE
	BEGIN
		IF  @SFLDNM='CHAPNO'
		BEGIN
			SET @SSFLDNM='CHAPNO'
		END
		ELSE
		BEGIN
			SET @SSFLDNM='TYPE'
		END
	END
END


SET  @ORDER= 'ORDER BY A.'+@SSFLDNM+',A.DATE,'+' '+'(CASE WHEN A.ENTRY_TY='+CHAR(39)+'OS'+CHAR(39)+' THEN '+CHAR(39)+'A'+CHAR(39)+'ELSE (CASE WHEN A.PMKEY='+CHAR(39)+'+'+CHAR(39)+' THEN '+CHAR(39)+'B'+CHAR(39)+' ELSE '+CHAR(39)+'C'+CHAR(39)+ ' END) END)'

DECLARE @VCOND NVARCHAR(4000)
SELECT  STKL_VW_ITEM.ENTRY_TY,BEH=(CASE WHEN LCODE.BCODE_NM IS NOT NULL AND LCODE.BCODE_NM<>' ' THEN LCODE.BCODE_NM ELSE STKL_VW_ITEM.ENTRY_TY END),STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT, STKL_VW_ITEM.TRAN_CD
INTO #TITEM FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD)
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)
INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)
WHERE 1=2



SET @SQLCOMMAND='INSERT INTO  #TITEM SELECT  STKL_VW_ITEM.ENTRY_TY,BEH=(CASE WHEN LCODE.BCODE_NM IS NOT NULL AND LCODE.BCODE_NM<>'+ CHAR(39)+' '+CHAR(39)+' THEN LCODE.BCODE_NM ELSE STKL_VW_ITEM.ENTRY_TY END),STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT, STKL_VW_ITEM.TRAN_CD '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  FROM STKL_VW_ITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD  AND  STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)'


SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
---select  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SELECT BPITEM.ENTRY_TY,BPITEM.DATE ,BPITEM.DOC_NO,BPITEM.AC_ID ,BPITEM.IT_CODE,OPBAL =BPITEM.QTY,RECEIPT=BPITEM.QTY,ISSUE=BPITEM.QTY,BALANCE=BPITEM.QTY,LOPBAL=BPITEM.QTY ,LRECEIPT=BPITEM.QTY ,LISSUE=BPITEM.QTY,LBALANCE=BPITEM.QTY,BPITEM.ITSERIAL,PMKEY,IT_MAST.ITGRID,CHAPNO,IT_MAST.TYPE, BPITEM.TRAN_CD INTO #LSTEXC FROM BPITEM INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=BPITEM.IT_CODE) WHERE 1=2

DECLARE @OPBAL DECIMAL(15,4),@LOPBAL DECIMAL(15,4),@MIT_CODE NUMERIC(10),@MITGRID INT,@MCHAPNO VARCHAR(15),@MTYPE VARCHAR (50),@RECEIPT DECIMAL(15,4),@ISSUE DECIMAL(15,4),@LRECEIPT DECIMAL(15,4),@LISSUE DECIMAL(15,4),@BALANCE  DECIMAL(15,4),@LBALANCE  DECIMAL(15,4),@V DECIMAL(15,4),@V1 DECIMAL(15,4),@TRAN_CD INT
DECLARE @ENTRY_TY CHAR(2),@DATE DATETIME,@DOC_NO VARCHAR(5),@AC_ID VARCHAR(100),@IT_CODE NUMERIC(10),@QTY DECIMAL(15,4),@U_LQTY DECIMAL(15,4),@ITSERIAL  CHAR(20),@CURRDT SMALLDATETIME,@ITGRID INT,@CHAPNO VARCHAR(15),@TYPE VARCHAR (50), @PMKEY CHAR(1),@TFCOND CHAR (1),@TFCOND1 CHAR (1)


SET @V=0
SET @V1=0		

SET @SQLCOMMAND='DECLARE STKLI_CURSOR CURSOR FOR SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,QTY,U_LQTY,ITSERIAL,PMKEY,ITGRID,CHAPNO,TYPE, TRAN_CD FROM #TITEM A '+RTRIM(@ORDER) 

--select  @SQLCOMMAND
EXEC SP_EXECUTESQL @SQLCOMMAND

SET @V1=0
SET @OPBAL=0
SET @RECEIPT=0
SET @ISSUE=0
SET @BALANCE=0

SET @LOPBAL=0
SET @LRECEIPT=0
SET @LISSUE=0
SET @LBALANCE=0
SET @TFCOND='F'

SET @CURRDT =@SDATE

OPEN STKLI_CURSOR
FETCH NEXT FROM STKLI_CURSOR INTO 
@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@QTY,@U_LQTY,@ITSERIAL,@PMKEY,@ITGRID,@CHAPNO,@TYPE,@TRAN_CD
	
	SET @MIT_CODE=@IT_CODE
	SET @MITGRID=@ITGRID
	SET @MCHAPNO=@CHAPNO
	SET @MTYPE=@TYPE

	
	
WHILE @@FETCH_STATUS = 0
BEGIN
	IF  (@SFLDNM='IT_CODE') AND (@MIT_CODE=@IT_CODE)
	BEGIN
		SET @TFCOND='T'
	END
	ELSE
	BEGIN
		IF   (@SFLDNM='ITGRID') AND (@MITGRID=@ITGRID)
		BEGIN
			SET @TFCOND='T'
		END
		ELSE
		BEGIN
			IF (@SFLDNM='CHAPNO') AND (@MCHAPNO=@CHAPNO)
			BEGIN
				SET @TFCOND='T'
			END
			ELSE
			BEGIN
				IF (@SFLDNM='TYPE') AND (@MTYPE=@TYPE)
				BEGIN
					SET @TFCOND='T'
				END
			END
		END
	END
	
	
	
	IF @TFCOND='T'
	BEGIN
		SET @TFCOND='F'		
		SET @V1=@V1+1
		
	END
	ELSE	
	BEGIN 
		SET @MIT_CODE=@IT_CODE
		SET @MITGRID=@ITGRID
		SET @MCHAPNO=@CHAPNO
		SET @MTYPE=@TYPE

		SET @V1=0
		SET @OPBAL=0
		SET @BALANCE=0
		
		SET @LOPBAL=0
		SET @LBALANCE=0
	END

	SET @RECEIPT=0
	SET @ISSUE=0
	
	SET @LRECEIPT=0
	SET @LISSUE=0	
	IF @PMKEY='+'
	BEGIN
		
		SET @RECEIPT=@QTY
		SET @LRECEIPT=@U_LQTY
		
	END
	IF @PMKEY='-'
	BEGIN
		SET @ISSUE=@QTY
		SET @LISSUE=@U_LQTY
	END
	
	IF (@DATE<@SDATE AND @ENTRY_TY<>'OS') OR (@DATE<=@SDATE AND @ENTRY_TY='OS')

	BEGIN
		SET @BALANCE=@BALANCE+@RECEIPT-@ISSUE
		SET @LBALANCE=@LBALANCE+@LRECEIPT-@LISSUE

		SET @OPBAL=@BALANCE
		SET @LOPBAL=@LBALANCE
		
		
		SET @TFCOND1='F'
		IF  @SFLDNM='IT_CODE'
		BEGIN
			IF EXISTS(SELECT  * FROM #LSTEXC WHERE IT_CODE=@MIT_CODE)
			BEGIN
				UPDATE #LSTEXC SET OPBAL=@OPBAL,BALANCE=@BALANCE,LOPBAL=@LOPBAL,LBALANCE=@LBALANCE WHERE IT_CODE=@MIT_CODE
				SET @TFCOND1='T'
			END
		END
		ELSE
		BEGIN
			IF  @SFLDNM='ITGRID'
			BEGIN
				IF EXISTS(SELECT  * FROM #LSTEXC WHERE ITGRID=@MITGRID)
				BEGIN
					UPDATE #LSTEXC SET OPBAL=@OPBAL,BALANCE=@BALANCE,LOPBAL=@LOPBAL,LBALANCE=@LBALANCE WHERE ITGRID=@MITGRID
					SET @TFCOND1='T'
				END
			END
			ELSE
			BEGIN
				IF  @SFLDNM='CHAPNO'
				BEGIN
					IF EXISTS(SELECT  * FROM #LSTEXC WHERE CHAPNO=@MCHAPNO)
					BEGIN
						UPDATE #LSTEXC SET OPBAL=@OPBAL,BALANCE=@BALANCE,LOPBAL=@LOPBAL,LBALANCE=@LBALANCE WHERE CHAPNO=@MCHAPNO
						SET @TFCOND1='T'
					END
				END
				ELSE
				BEGIN
					IF (@SFLDNM='TYPE') 
					BEGIN
						IF EXISTS(SELECT  * FROM #LSTEXC WHERE TYPE=@MTYPE)
						BEGIN
							UPDATE #LSTEXC SET OPBAL=@OPBAL,BALANCE=@BALANCE,LOPBAL=@LOPBAL,LBALANCE=@LBALANCE WHERE TYPE=@MTYPE
							SET @TFCOND1='T'
						END
					END
				END
			END
		END

		
		
		IF @TFCOND1='F'
		BEGIN
			INSERT INTO #LSTEXC(ENTRY_TY,DATE ,DOC_NO,AC_ID ,IT_CODE ,OPBAL ,RECEIPT ,ISSUE,BALANCE,LOPBAL ,LRECEIPT ,LISSUE,LBALANCE,ITSERIAL,PMKEY,ITGRID,CHAPNO,TYPE,TRAN_CD)  VALUES('OS',@SDATE,@DOC_NO,32,@MIT_CODE,@OPBAL,0,0,@BALANCE,@LOPBAL,0,0,@LBALANCE,' ',' ',@MITGRID,@MCHAPNO,@MTYPE,0)
		END
	END
	
	
	
	
	IF (@DATE>=@SDATE  AND @ENTRY_TY<>'OS')
	BEGIN
		
		SET @BALANCE=@BALANCE+@RECEIPT-@ISSUE
		SET @LBALANCE=@LBALANCE+@LRECEIPT-@LISSUE
		
		INSERT INTO #LSTEXC(ENTRY_TY,DATE ,DOC_NO,AC_ID ,IT_CODE,OPBAL ,RECEIPT ,ISSUE,BALANCE,LOPBAL ,LRECEIPT ,LISSUE,LBALANCE,ITSERIAL,PMKEY,ITGRID,CHAPNO,TYPE,TRAN_CD)  VALUES(@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@MIT_CODE,@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL,@LRECEIPT,@LISSUE,@LBALANCE,@ITSERIAL,@PMKEY,@MITGRID,@MCHAPNO,@MTYPE,@TRAN_CD)	
		
		SET @OPBAL=@BALANCE
		SET @LOPBAL=@LBALANCE
	END
	
	FETCH NEXT FROM STKLI_CURSOR INTO 
	@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@QTY,@U_LQTY,@ITSERIAL,@PMKEY,@ITGRID,@CHAPNO,@TYPE,@TRAN_CD
	
END--WHILE
CLOSE STKLI_CURSOR
DEALLOCATE STKLI_CURSOR

SET  @ORDER= 'ORDER BY '+
+' CASE '
+' WHEN '+CHAR(39)+RTRIM(@SSFLDNM)+CHAR(39)+'= '+CHAR(39)+'IT_CODE'+CHAR(39)+ ' THEN C.IT_NAME ' 
+' WHEN '+CHAR(39)+RTRIM(@SSFLDNM)+CHAR(39)+'= '+CHAR(39)+'CHAPNO'+CHAR(39)+ ' THEN C.CHAPNO '
+' WHEN '+CHAR(39)+RTRIM(@SSFLDNM)+CHAR(39)+'= '+CHAR(39)+'TYPE'+CHAR(39)+ ' THEN C.TYPE '
+' ELSE C.[GROUP]  END'
+',A.DATE,'+' '
+'(CASE WHEN A.ENTRY_TY='+CHAR(39)+'OS'+CHAR(39)+' THEN '+CHAR(39)+'A'+CHAR(39)+'ELSE (CASE WHEN A.PMKEY='+CHAR(39)+'+'+CHAR(39)+' THEN '+CHAR(39)+'B'+CHAR(39)+' ELSE '+CHAR(39)+'C'+CHAR(39)+ ' END) END)'

SET @SQLCOMMAND='SELECT C.IT_NAME,A.OPBAL, A.RECEIPT,A.ISSUE,A.BALANCE,A.LRECEIPT,A.LISSUE,A.LOPBAL,A.LBALANCE,A.ENTRY_TY,A.DATE,A.DOC_NO,PARTY_NM=D.AC_NAME,A.IT_CODE,B.INV_NO,A.ITGRID,C.[GROUP],A.CHAPNO,A.TYPE,B.U_PINVNO,B.U_PINVDT,A.TRAN_CD FROM #LSTEXC A LEFT JOIN STKL_VW_MAIN B ON (A.TRAN_CD=B.TRAN_CD AND A.ENTRY_TY=B.ENTRY_TY) LEFT JOIN IT_MAST C ON (A.IT_CODE=C.IT_CODE) LEFT JOIN AC_MAST D ON (A.AC_ID=D.AC_ID) '+RTRIM(@ORDER)

EXEC SP_EXECUTESQL @SQLCOMMAND
DROP TABLE #TITEM
DROP TABLE #LSTEXC
GO
