set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Maharashtra VAT 231 Report.
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_FORM231]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
BEGIN
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME3,2,CHARINDEX('"',SUBSTRING(AC_NAME3,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"') AND AC_NAME3 NOT IN ('"PURCHASES"') AND ISNULL(AC_NAME1,'')<>'' AND ISNULL(AC_NAME3,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1)  FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"') AND AC_NAME3 NOT IN ('"PURCHASES"') AND ISNULL(AC_NAME1,'')<>'' AND ISNULL(AC_NAME3,'')<>''

--SELECT BHENT='ST',M.ENTRY_TY,M.TRAN_CD,M.DATE,M.GRO_AMT,M.TOT_DEDUC,M.TOT_TAX,M.TOT_EXAMT,M.TOT_ADD,M.TAX_NAME,PER=STM.LEVEL1,M.TAXAMT,M.TOT_NONTAX,M.TOT_FDISC,NET_AMT,STM.SET_APP,STM.ST_TYPE,STM.FORM_NM 

------------RUP
SELECT BHENT='PT',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
INTO #FORM221_1
FROM PTACDET A 
INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=TAXAMT,AMT3=TAXAMT INTO #FORM221 FROM STMAIN WHERE 1=2

SET @SQLCOMMAND='INSERT INTO #FORM221_1' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTACDET A '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''ST'''+',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STACDET A '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''SR'''+',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,U_IMPORM=SPACE(1)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRACDET A '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PR'''+',A.DATE,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,U_IMPORM=SPACE(1)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRACDET A '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

--->PART 1-5 ST_TYPE='LOCAL','OUT OF STATE'
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

SELECT @AMTA1=SUM(NET_AMT),@AMTA2=SUM(TAXAMT) FROM #FORM221_1 WHERE BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','A',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT),@AMTB2=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND BHENT='SR' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','B',0,@AMTA1,0,0)

--SELECT @AMTA1=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (DATE BETWEEN @SDATE AND @EDATE)
--SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
--INSERT INTO #FORM221
--(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
--(1,'5','B',0,@AMTA1,0,0)
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
SET @AMTB2=CASE WHEN @AMTB2 IS NULL THEN 0 ELSE @AMTB2 END

SET @AMTA1=@AMTA2-@AMTB2
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','C',0,@AMTA1,0,0)

SET @AMTA2=0
SET @AMTB2=0

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND U_IMPORM='Branch Transfer'  AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','D',0,@AMTA1,0,0)


SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1  WHERE ST_TYPE='OUT OF STATE' AND BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','E',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1  WHERE ST_TYPE='OUT OF COUNTRY' AND BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','EA',0,@AMTA1,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','EB',0,0,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1  WHERE TAXAMT=0 AND BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','F',0,@AMTA1,0,0)


SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1  WHERE TAX_NAME='EXEMPTED' AND BHENT='ST' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','G',0,@AMTA1,0,0)


INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','H',0,0,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND BHENT='SR' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','I',0,0,0,0)

SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='5') AND SRNO IN ('B','C','D','E','EA','EB','F','G','H')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','J',0,@AMTA1,0,0)

SELECT @AMTA2=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='5') AND SRNO IN ('A')

SET @AMTA2=(CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END)-@AMTA1

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'5','K',0,@AMTA2,0,0)


--->PART 1-5 ST_TYPE='LOCAL','OUT OF STATE'
-->---PART 6
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SET @CHAR=65
DECLARE  CUR_FORM221 CURSOR FOR 
select distinct level1 from stax_mas where ST_TYPE='LOCAL'--CHARINDEX('VAT',TAX_NAME)>0
OPEN CUR_FORM221
FETCH NEXT FROM CUR_FORM221 INTO @PER
WHILE (@@FETCH_STATUS=0)
BEGIN
	SELECT @AMTA1=SUM(TAXONAMT),@AMTB1=SUM(TAXAMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='ST' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE)
	
	SET @AMTA1=ISNULL(@AMTA1,0)
	SET @AMTB1=ISNULL(@AMTB1,0)

	INSERT INTO #FORM221
	(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
	(1,'6',CHAR(@CHAR),@PER,@AMTA1,@AMTB1,0)
	
	SET @AMTJ1=@AMTJ1+@AMTA1 --TOTAL TAXABLE AMOUNT
	SET @AMTK1=@AMTK1+@AMTB1 --TOTAL TAX
	
	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORM221 INTO @PER
END
CLOSE CUR_FORM221
DEALLOCATE CUR_FORM221

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'6','Z',0,@AMTJ1,@AMTK1,0)

--<---PART 6
-->---PART 7
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE (BHENT='PT') AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','A',0,@AMTA1,0,0)

-- ,Raw Material Sale,Branch Transfer,Purchase Return
SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE (BHENT='PT') AND U_IMPORM='Purchase Return' AND (DATE BETWEEN @SDATE AND @EDATE) 
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','B',0,@AMTA1,0,0)


SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='OUT OF COUNTRY' AND U_IMPORM='Direct Imports' AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','C',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='OUT OF COUNTRY' AND U_IMPORM='High Seas Purchases' AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','D',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1  WHERE ST_TYPE='OUT OF STATE'  AND LEN(RTRIM(U_IMPORM))=0 AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','E',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='OUT OF STATE'  AND U_IMPORM='Branch Transfer' AND  (CHARINDEX('FORM F',TAX_NAME)>0) AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','F',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND U_IMPORM='Branch Transfer' AND (CHARINDEX('FORM F',TAX_NAME)>0) AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','G',0,@AMTA1,0,0)

--SELECT * FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','H',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND 1=2
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','I',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND 1=2
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','J',0,@AMTA1,0,0)

SELECT @AMTA1=SUM(NET_AMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL'  AND NOT (CHARINDEX('FORM F',TAX_NAME)>0) AND (ISNULL(S_TAX,' ')=' ') AND BHENT='PT' AND (DATE BETWEEN @SDATE AND @EDATE) AND TAX_NAME='EXEMPTED'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','K',0,@AMTA1,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','L',0,0,0,0)

SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='7') AND SRNO IN ('B','C','D','E','F','G','H','I','K','L')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','M',0,@AMTA1,0,0)

SELECT @AMTA2=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='7') AND SRNO IN ('A')

SET @AMTA2=(CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END)-@AMTA1

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'7','N',0,@AMTA2,0,0)
--<---PART 7
-->---PART 8
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SET @CHAR=65
DECLARE  CUR_FORM221 CURSOR FOR 
select distinct level1 from stax_mas where ST_TYPE='LOCAL'--CHARINDEX('VAT',TAX_NAME)>0
OPEN CUR_FORM221
FETCH NEXT FROM CUR_FORM221 INTO @PER
WHILE (@@FETCH_STATUS=0)
BEGIN
	SELECT @AMTA1=SUM(TAXONAMT),@AMTB1=SUM(TAXAMT) FROM #FORM221_1 WHERE ST_TYPE='LOCAL' AND BHENT='PT' AND PER=@PER AND (DATE BETWEEN @SDATE AND @EDATE)		
	SET @AMTA1=ISNULL(@AMTA1,0)
	SET @AMTB1=ISNULL(@AMTB1,0)

	INSERT INTO #FORM221
	(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
	(1,'8',CHAR(@CHAR),@PER,@AMTA1,@AMTB1,0)
	
	SET @AMTM1=@AMTM1+@AMTA1 --TOTAL TAXABLE AMOUNT
	SET @AMTO1=@AMTO1+@AMTB1 --TOTAL TAX
	
	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORM221 INTO @PER
END
CLOSE CUR_FORM221
DEALLOCATE CUR_FORM221

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'8','Z',0,@AMTM1,@AMTO1,0)
--<---PART 8
-->---PART 9
SET @AMTA1=@AMTM1 --DONT CHANGE POSITION
SET @AMTA2=@AMTO1 --DONT CHANGE POSITION

SELECT @AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTB2=0,@AMTC2=0,@AMTD2=0,@AMTE2=0,@AMTF2=0,@AMTG2=0,@AMTH2=0,@AMTI2=0,@AMTJ2=0,@AMTK2=0,@AMTL2=0,@AMTM2=0,@AMTN2=0,@AMTO2=0 

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','A',0,@AMTA1,@AMTA2,0)


SELECT @AMTA1=SUM(TAXONAMT),@AMTE2=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND (SET_APP=0)  AND (BHENT='PT') AND (PER=4 or PER=1) AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTE1 IS NULL THEN 0 ELSE @AMTE1 END
SET @AMTA2=CASE WHEN @AMTE2 IS NULL THEN 0 ELSE @AMTE2 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','B',0,@AMTE1,@AMTE2,0)

--SELECT @AMTA1=SUM(TAXONAMT),@AMTE2=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND (SET_APP=0)  AND (BHENT='PT') AND (PER=1) AND (DATE BETWEEN @SDATE AND @EDATE)
--SET @AMTA1=CASE WHEN @AMTE1 IS NULL THEN 0 ELSE @AMTE1 END
--SET @AMTA2=CASE WHEN @AMTE2 IS NULL THEN 0 ELSE @AMTE2 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','BA',0,0,0,0)

SELECT @AMTA1=SUM(TAXONAMT),@AMTE2=SUM(TAXAMT) FROM #FORM221_1  WHERE ST_TYPE='LOCAL' AND (SET_APP=0)  AND (BHENT='PT') AND (PER NOT IN (1,4)) AND (DATE BETWEEN @SDATE AND @EDATE)
SET @AMTA1=CASE WHEN @AMTE1 IS NULL THEN 0 ELSE @AMTE1 END
SET @AMTA2=CASE WHEN @AMTE2 IS NULL THEN 0 ELSE @AMTE2 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','C',0,@AMTE1,@AMTE2,0)


SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='9') AND SRNO IN ('B','BA','C')
SET @AMTA1=CASE WHEN @AMTE1 IS NULL THEN 0 ELSE @AMTE1 END
SET @AMTA2=CASE WHEN @AMTE2 IS NULL THEN 0 ELSE @AMTE2 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','D',0,@AMTA1,@AMTA2,0)

SELECT @AMTB1=AMT1,@AMTB2=AMT2 FROM #FORM221  WHERE (PART=1) AND (PARTSR='9') AND SRNO IN ('A')
SET @AMTB1=(CASE WHEN @AMTB1 IS NULL THEN 0 ELSE @AMTB1 END)-@AMTA1
SET @AMTB2=(CASE WHEN @AMTB2 IS NULL THEN 0 ELSE @AMTB2 END)-@AMTA2
SET @AMTB1=0 --for Mehta/Abhiman
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','E',0,@AMTB1,@AMTB2,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','F',0,0,0,0)

SET @AMTA1=0
SET @AMTA2=0
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','G',0,0,0,0)


SELECT @AMTB1=SUM(AMT1),@AMTB2=SUM(AMT2) FROM #FORM221  WHERE (PART=1) AND (PARTSR='9') AND SRNO IN ('E','F')
SET @AMTB1=(CASE WHEN @AMTB1 IS NULL THEN 0 ELSE @AMTB1 END)-0--@AMTA1
SET @AMTB2=(CASE WHEN @AMTB2 IS NULL THEN 0 ELSE @AMTB2 END)-0--@AMTA2
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'9','H',0,@AMTB1,@AMTB2,0)
--<---PART 9
-->---PART 10A
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10A','A',0,@AMTB2,0,0)

SELECT @AMTA1=SUM(CASE WHEN AMT_TY='CR' THEN -TAXAMT ELSE TAXAMT END) FROM #FORM221_1 WHERE NOT (DATE BETWEEN @SDATE AND @EDATE) AND SET_APP=1 AND ST_TYPE='LOCAL'
--SELECT AMTA1=(CASE WHEN AMT_TY='CR' THEN -TAXAMT ELSE TAXAMT END),* FROM #FORM221_1 WHERE NOT (DATE BETWEEN @SDATE AND @EDATE) AND SET_APP=1 AND ST_TYPE='LOCAL'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
SET @AMTA1=CASE WHEN @AMTA1<0 THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10A','B',0,@AMTA1,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10A','C',0,0,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10A','D',0,0,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10A','E',0,0,0,0)


INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10A','F',0,0,0,0)


SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='10A') AND SRNO IN ('A','B','C','D','E','F')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10A','G',0,@AMTA1,0,0)
--<---PART 1-10A
-->---PART 10A
SELECT @AMTA1=AMT2 FROM #FORM221 WHERE PART=1 AND PARTSR='6' AND SRNO='Z'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','A',0,@AMTA1,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','B',0,0,0,0)


INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','C',0,0,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','D',0,0,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','E',0,0,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','F',0,0,0,0)

SELECT @AMTA1=SUM(AMT1) FROM #FORM221  WHERE (PART=1) AND (PARTSR='10B') AND SRNO IN ('A','B','C','D','E','F')
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','G',0,@AMTA1,0,0)

SELECT @AMTA2=AMT1 FROM #FORM221 WHERE PART=1 AND PARTSR='10A' AND SRNO='G'
SET @AMTA2=CASE WHEN @AMTA2 IS NULL THEN 0 ELSE @AMTA2 END
SET @AMTB1=CASE WHEN @AMTA2>@AMTA1 THEN @AMTA2-@AMTA1 ELSE 0 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','H',0,@AMTB1,0,0)

SET @AMTB1=CASE WHEN @AMTA2>@AMTA1 THEN 0 ELSE @AMTA2-@AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10B','I',0,@AMTB1,0,0)
-->---PART 10B

-->---PART 10C
SELECT @AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTA2=0,@AMTB2=0,@AMTC2=0,@AMTD2=0,@AMTE2=0,@AMTF2=0,@AMTG2=0,@AMTH2=0,@AMTI2=0,@AMTJ2=0,@AMTK2=0,@AMTL2=0,@AMTM2=0,@AMTN2=0,@AMTO2=0 

SELECT @AMTA1=AMT1 FROM #FORM221 WHERE PART=1 AND PARTSR='10B' AND SRNO='H'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10C','A',0,@AMTA1,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10C','B',0,0,0,0)

-->---PART 10C
-->---PART 10D
SELECT @AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
SELECT @AMTA2=0,@AMTB2=0,@AMTC2=0,@AMTD2=0,@AMTE2=0,@AMTF2=0,@AMTG2=0,@AMTH2=0,@AMTI2=0,@AMTJ2=0,@AMTK2=0,@AMTL2=0,@AMTM2=0,@AMTN2=0,@AMTO2=0 

SELECT @AMTA1=AMT1 FROM #FORM221  WHERE PART=1 AND PARTSR='10B' AND SRNO='I'
SET @AMTA1=CASE WHEN @AMTA1 IS NULL THEN 0 ELSE @AMTA1 END
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10D','A',0,@AMTA1,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10D','B',0,0,0,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10D','C',0,0,0,0)
--<---PART 1-10D

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10E','A',0,0,0,0)
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10E','Z',0,@AMTM1,@AMTO1,0)

INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10F','A',0,0,0,0)
INSERT INTO #FORM221
(PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3) VALUES
(1,'10F','Z',0,@AMTM1,@AMTO1,0)


SELECT * FROM #FORM221 order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
--SELECT * FROM #FORM221_1 --order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)

END




