DROP PROCEDURE [USP_REP_BILL_OF_LADING]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Priyanka Himane
-- Create date: 02/12/2011
-- Description:	This Stored procedure is useful in generating data for Bill of Lading report.
-- Modify date: 
-- Modified By: 
-- Modify date: 
-- Remark: 
-- =============================================

Create PROCEDURE    [USP_REP_BILL_OF_LADING]
@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)

	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		SET @TBLCON=RTRIM(@ENTRYCOND)
PRINT @ENT
PRINT @TRN

		SELECT STMAIN.INV_SR,STMAIN.TRAN_CD,STMAIN.ENTRY_TY,STMAIN.INV_NO,STMAIN.DATE,STMAIN.PARTY_NM,STMAIN.U_TIMEP,
		STMAIN.U_TIMEP1,STMAIN.U_REMOVDT,STMAIN.U_DELIVER,CONVERT(VARCHAR(2000),STMAIN.NARR) AS NARR,
		STMAIN.DUE_DT,STMAIN.U_PONO,STMAIN.U_PODT,STMAIN.U_LRNO,STMAIN.U_LRDT,STMAIN.U_DELI,stmain.u_bldate,
		STMAIN.U_VEHNO,STMAIN.GRO_AMT,STMAIN.u_exchange,
		STMAIN.U_CORREN,STMAIN.U_OTHREF,STMAIN.U_PRECARRI,STMAIN.U_RECEIPT,STMAIN.U_VESSELNO,STMAIN.U_LOADING, STMAIN.u_TMODE,
		STMAIN.U_PORT,STMAIN.TAX_NAME,STMAIN.fcexrate,STMAIN.TAXAMT,STMAIN.NET_AMT,
		stmain.u_blno,stmain.u_bldt,stmain.u_notify,
		STMAIN.U_QADINV,STMAIN.U_CONTNO,STMAIN.U_PKGNO,STMAIN.U_CSEAL,STMAIN.U_CSEAL2,
		STMAIN.U_TSEAL,STMAIN.U_TSEAL2,
		STMAIN.u_vessel,STMAIN.U_CUSMATNM,STMAIN.U_CUSMATNO,STMAIN.U_SCHEDULE,STMAIN.U_CEROFORI,
		AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.MAILNAME,
		AC_MAST.CITY,AC_MAST.ZIP,AC_MAST.COUNTRY,AC_MAST.PHONE,S_TAX='',AC_MAST.I_TAX,ECCNO='',AC_MAST.FAX,AC_MAST1.ADD1 ADD11,
		AC_MAST1.ADD2 ADD22,AC_MAST1.ADD3 ADD33,AC_MAST1.CITY CITY1,AC_MAST1.ZIP ZIP1,AC_MAST1.COUNTRY COUNTRY1,AC_MAST1.CONTACT contact1,
		AC_MAST1.PHONE PHONE1,S_TAX1='',AC_MAST1.I_TAX I_TAX1,
		ECCNO1='',AC_MAST1.MAILNAME MAILNAME11,CURR_MAST.CURRENCYCD,
		AC_MAST2.MAILNAME MAILNAME91,AC_MAST2.ADD1 ADD91, AC_MAST2.ADD2 ADD92 ,AC_MAST2.ADD3 ADD93 ,
		AC_MAST2.CITY CITY9 ,AC_MAST2.COUNTRY COUNTRY9 ,AC_MAST2.CONTACT contact9,AC_MAST2.PHONE PHONE91,
		AC_MAST3.MAILNAME MAILNAME81,AC_MAST3.ADD1 ADD81, AC_MAST3.ADD2 ADD82 ,AC_MAST3.ADD3 ADD83 ,
		AC_MAST3.CITY CITY8 ,AC_MAST3.COUNTRY COUNTRY8 ,AC_MAST3.CONTACT contact8,AC_MAST3.PHONE PHONE81,
		STMAIN.U_GWT,COUNTRY.COUNTRY as U_fdesti,STMAIN.U_COUNTAIN,STMAIN.U_COUNTAI2,STMAIN.U_TWEIGHT
		INTO #TBL1
		FROM STMAIN
		LEFT JOIN AC_MAST ON (AC_MAST.AC_ID=STMAIN.AC_ID) 
		LEFT JOIN AC_MAST AC_MAST1 ON (AC_MAST1.AC_ID=STMAIN.CONS_ID)
		LEFT JOIN CURR_MAST ON (STMAIN.FCID=CURR_MAST.CURRENCYID)
		LEFT JOIN COUNTRY ON STMAIN.U_FDESTI=COUNTRY.CODE
		LEFT JOIN AC_MAST AC_MAST2 ON RTRIM(LTRIM(AC_MAST2.AC_NAME))=RTRIM(LTRIM(STMAIN.U_NOTIFY)) 
		LEFT JOIN AC_MAST AC_MAST3 ON RTRIM(LTRIM(AC_MAST3.AC_NAME))=RTRIM(LTRIM(STMAIN.u_repre)) 
		WHERE STMAIN.ENTRY_TY= @ENT  AND STMAIN.TRAN_CD=@TRN
		ORDER BY STMAIN.INV_SR,STMAIN.INV_NO
--SELECT * FROM #TBL1

		SELECT STITEM.ENTRY_TY,STITEM.TRAN_CD,STITEM.ITEM,STITEM.RATE,STITEM.FCRATE,IT_MAST.IT_NAME,IT_MAST.EIT_NAME,
		IT_MAST.IT_ALIAS,(CAST(IT_MAST.IT_DESC AS VARCHAR(200))) AS [DESC],
		QTY = (SUM(STITEM.QTY)), GROAMT = CAST('0' AS NUMERIC(15,2)), STITEM.U_EXPNWT,
		IT_MAST.U_CNAME,IT_MAST.CHAPNO,STITEM.U_CORRU
		INTO #TBL2
		FROM STITEM
		INNER JOIN IT_MAST ON (STITEM.IT_CODE=IT_MAST.IT_CODE)
		WHERE STITEM.ENTRY_TY= @ENT  AND STITEM.TRAN_CD=@TRN
		GROUP BY STITEM.ENTRY_TY,STITEM.TRAN_CD,STITEM.ITEM,STITEM.RATE,STITEM.FCRATE,IT_MAST.IT_NAME,IT_MAST.EIT_NAME,
		IT_MAST.IT_ALIAS,(CAST(IT_MAST.IT_DESC AS VARCHAR(200))),STITEM.U_EXPNWT,
		IT_MAST.U_CNAME,IT_MAST.CHAPNO,STITEM.U_CORRU
		
		UPDATE #TBL2 SET GROAMT = QTY*FCRATE

	SELECT A.*,B.IT_NAME,B.EIT_NAME,B.IT_ALIAS,B.[DESC],B.ITEM,B.RATE,B.FCRATE,
	B.QTY,B.GROAMT,B.U_EXPNWT,A.U_GWT,B.U_CNAME,B.CHAPNO
	FROM #TBL1 A INNER JOIN #TBL2 B ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
GO
