IF EXISTS(SELECT XTYPE,NAME FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_UP_ANNEXURE_C')
BEGIN
	DROP PROCEDURE USP_REP_UP_ANNEXURE_C
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
/*EXECUTE USP_REP_UP_ANNEXURE_c'','','','04/01/2015','03/31/2016','','','','',0,0,'','','','','','','','','2015-2016',''*/
-- Author:		Suraj Kumawat
-- Create date: 29-08-2015
-- Description:	. FOR Bug 26737 - UP VAT reports - Annexure C,D,E & F are required
-- Remark:
-- =============================================
CREATE PROCEDURE [dbo].[USP_REP_UP_ANNEXURE_C]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
	DECLARE @FCON AS NVARCHAR(2000)
	EXECUTE   USP_REP_FILTCON 

	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=NULL,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
	,@VDTFLD ='DATE'
	,@VLYN=Null
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

	DECLARE @SQLCOMMAND NVARCHAR(4000)
	Declare @MultiCo	VarChar(3)
	Declare @MCON as NVARCHAR(2000)
	Set @MultiCo = 'NO'

	EXECUTE USP_REP_SINGLE_CO_DATA_VAT
	  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
	 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
	 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
	 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
	 ,@MFCON = @MCON OUTPUT

	SELECT VT.AC_NAME,VT.S_TAX,VT.ADDRESS,AC.STATE,PTM.U_PONO,PTM.U_PODT,PTM.INV_NO,PTM.DATE
	,it_name=(CASE WHEN CAST(IT.it_desc AS VARCHAR(250)) = '' THEN IT.it_NAME ELSE CAST(IT.it_desc AS VARCHAR(250)) END),vt.VATONAMT,vt.taxamt,vt.GRO_AMT,PTM.form_nm
	,PURPOSE=(case 
					when ptm.u_nt='FOR RESALE' then  '1'
					when ptm.u_nt='FOR USE IN MANUFACTURE/ PROCESSING OF GOODS FOR SALE' then  '2'
					when ptm.u_nt='FOR MINING' then  '3'
					when ptm.u_nt='FOR USE IN GENERATION/ DISTRIBUTION OF POWER' then  '4'
					when ptm.u_nt='FOR USE IN PACKING OF GOODS FOR SALE/RESALE' then  '5'
					when ptm.u_nt='FOR USE IN TELECOMMUNICATION NETWORK' then  '6'
					else ''
				end )
	FROM VATTBL VT INNER JOIN
	PTMAIN PTM ON (VT.BHENT =PTM.entry_ty AND VT.TRAN_CD =PTM.Tran_cd)
	inner join it_mast it on (vt.it_code =it.it_code)
	LEFT OUTER join AC_MAST AC on (AC.AC_ID =PTM.AC_ID)
	where vt.BHENT in('PT','P1','EP') AND (VT.Date BETWEEN @SDATE AND @EDATE)  AND LTRIM(RTRIM(REPLACE(REPLACE(VT.FORM_NM,'-',''),'FORM','')))='C' 
	ORDER BY VT.INV_NO,VT.Date --AND VT.FORM_NM IN('FORM C','FORM-C','C-FORM','C FORM')

END
