DROP PROCEDURE [USP_REP_CHEQUE_PRINT]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************
	-- Modified on 06 jan 2010
	-- Modified By Sachin N. S. on 12/03/2010 for L2S-109
	-- Modified By Birendra on 31/05/2012 for Bug-4347
*************/

CREATE procedure [USP_REP_CHEQUE_PRINT]
	@ENTRYCOND NVARCHAR(4000)
	AS
Declare @SQLCOMMAND as NVARCHAR(4000),@TBLCON as NVARCHAR(4000)

	SET @TBLCON=' INNER JOIN '+RTRIM(@ENTRYCOND)+' B ON A.ENTRY_TY = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD '		-- Added By Sachin N. S. on 12/03/2010 for L2S-109
	
	Declare @TBLNM as VARCHAR(50),@TBLNAME1 as VARCHAR(50),@TBLNAME2 as VARCHAR(50),@TBLNAME3 as VARCHAR(50),@TBLNAME4 as VARCHAR(50),@TBLNAME5 as VARCHAR(50),@TBLNAME6 as VARCHAR(50)
	
	Set @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
					+ (DATEPART(ss, GETDATE()) * 1000 )
					+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
	Set @TBLNAME1 = '##TMP1'+@TBLNM
	Set @TBLNAME2 = '##TMP2'+@TBLNM
	Set @TBLNAME3 = '##TMP3'+@TBLNM
	Set @TBLNAME4 = '##TMP4'+@TBLNM
	Set @TBLNAME5 = '##TMP5'+@TBLNM
	Set @TBLNAME6 = '##TMP6'+@TBLNM		-- Added By Sachin N. S. on 12/03/2010 for L2S-109

	-- Added By Sachin N. S. on 12/03/2010 for L2S-109 ---- Start
	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT A.*
		INTO '+@TBLNAME6+' FROM BPMAIN A '+RTRIM(@TBLCON)
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	-- Added By Sachin N. S. on 12/03/2010 for L2S-109 ----- End

	SET @SQLCOMMAND = ''
--	SET @SQLCOMMAND = 'SELECT 1 as GRP,A.TRAN_CD,A.ENTRY_TY,A.DATE,A.INV_NO,A.PARTY_NM,A.BANK_NM,A.INV_SR,A.CHEQ_NO,A.NET_AMT,U_PINVNO='' '',U_PINVDT='' '',
--		CONVERT(VARCHAR(254),A.NARR) AS NARR, B.AC_NAME,B.AMT_TY, B.AMOUNT, C.AC_ID ,C.ADD1,C.ADD2,C.ADD3,C.CITY,C.ZIP,D.C_TAX,CONVERT(VARCHAR(50),B.NARR) AS AC_NARR
--		INTO '+@TBLNAME1+' FROM '+@TBLNAME6+' A		
--		LEFT JOIN BPACDET B ON A.ENTRY_TY = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD 
--		LEFT JOIN AC_MAST C ON B.AC_ID=C.AC_ID 
--		LEFT JOIN AC_MAST D ON A.BANK_NM=D.AC_NAME	'
--Birendra: Bug-4347 on 29/05/2012:start: :Net_amt1 added:
	SET @SQLCOMMAND = 'SELECT 1 as GRP,A.TRAN_CD,A.ENTRY_TY,A.DATE,A.INV_NO,A.PARTY_NM,A.BANK_NM,A.INV_SR,A.CHEQ_NO,A.NET_AMT ,U_PINVNO='' '',U_PINVDT='' '',
		CONVERT(VARCHAR(254),A.NARR) AS NARR, B.AC_NAME,B.AMT_TY, B.AMOUNT, C.AC_ID ,C.ADD1,C.ADD2,C.ADD3,C.CITY,C.ZIP,C_TAX='''',CONVERT(VARCHAR(50),B.NARR) AS AC_NARR,
		(A.NET_AMT-A.TDSAMT) as NET_AMT1
		INTO '+@TBLNAME1+' FROM '+@TBLNAME6+' A		
		LEFT JOIN BPACDET B ON A.ENTRY_TY = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD 
		LEFT JOIN AC_MAST C ON B.AC_ID=C.AC_ID 
		LEFT JOIN AC_MAST D ON A.BANK_NM=D.AC_NAME	'
--Birendra: Bug-4347 on 29/05/2012:End:

		-- Commented By Sachin N. S. on 12/03/2010 for L2S-109 ---- Start
		--INTO '+@TBLNAME1+' FROM BPMAIN A				
		--WHERE '+RTRIM(@TBLCON)
		-- Commented By Sachin N. S. on 12/03/2010 for L2S-109 ---- End
PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND


	SET @SQLCOMMAND=' '
	SET @SQLCOMMAND= 'SELECT 2 as GRP,A.TRAN_CD,A.ENTRY_TY,
		A.DATE,B.INV_NO,A.PARTY_NM,BANK_NM='' '',
		INV_SR='' '',CHEQ_NO='' '',A.NET_AMT,U_PINVNO=C.PINVNO,U_PINVDT=C.PINVDT,NARR='' '',D.AC_NAME,AMT_TY='' '',
		AMOUNT=ISNULL(B.NEW_ALL,0)+ISNULL(B.TDS,0)+ISNULL(B.DISC,0),AC_ID=0,ADD1='' '', ADD2='' '',ADD3='' '',CITY='' '',ZIP='' '',C_TAX='''',AC_NARR='' ''
		,A.NET_AMT as NET_AMT1
	    INTO '+@TBLNAME2 +' FROM '+@TBLNAME1+' A 
	    INNER JOIN MAINALL_VW B ON (A.entry_ty=B.entry_all and A.tran_cd =B.main_tran and A.AC_ID=B.AC_ID) 
		LEFT JOIN  LMAIN_VW C ON (C.ENTRY_TY=B.ENTRY_TY AND C.TRAN_CD=B.TRAN_CD )
		INNER JOIN AC_MAST D ON (D.AC_ID=B.AC_ID)'
PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND


	SET @SQLCOMMAND=' '
	SET @SQLCOMMAND= 'SELECT 2 as GRP,A.TRAN_CD,A.ENTRY_TY,
		A.DATE,B.INV_NO,A.PARTY_NM,BANK_NM='' '',
		INV_SR='' '',CHEQ_NO='' '',A.NET_AMT,U_PINVNO=C.PINVNO,U_PINVDT=C.PINVDT,A.NARR ,D.AC_NAME,AMT_TY='' '',
		AMOUNT=ISNULL(B.NEW_ALL,0),AC_ID=0,ADD1='' '', ADD2='' '',ADD3='' '',CITY='' '',ZIP='' '',C_TAX='''',AC_NARR='' ''
		,A.NET_AMT as NET_AMT1	    
		INTO '+@TBLNAME3 +' FROM '+@TBLNAME1+' A 
	    INNER JOIN MAINALL_VW B ON (A.entry_ty=B.entry_ty and A.tran_cd =B.tran_cd and A.AC_ID=B.AC_ID ) 
		LEFT JOIN  LMAIN_VW C ON (C.ENTRY_TY=B.ENTRY_ALL AND C.TRAN_CD=B.MAIN_TRAN  )
		INNER JOIN AC_MAST D ON (D.AC_ID=B.AC_ID)'

PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND


	
	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT * INTO '+ @TBLNAME4+' FROM '+@TBLNAME1+' A UNION ALL SELECT * FROM '+@TBLNAME2+' B  UNION ALL SELECT * FROM '+@TBLNAME3+' C '
	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND = ''
SET @SQLCOMMAND = 'INSERT INTO '+@TBLNAME4+' SELECT 3 as GRP,A.TRAN_CD,A.ENTRY_TY,'
SET @SQLCOMMAND =@SQLCOMMAND +' '+' A.DATE,INV_NO='''',A.PARTY_NM,BANK_NM='' '','
SET @SQLCOMMAND =@SQLCOMMAND +' '+'INV_SR='' '',CHEQ_NO='' '',A.NET_AMT,'''' AS U_PINVNO,U_PINVDT=A.DATE,NARR='''' ,AC_NAME,AMT_TY='' '','
SET @SQLCOMMAND =@SQLCOMMAND +' '+'AMOUNT=SUM(CASE WHEN AMT_TY=''DR'' THEN AMOUNT ELSE -AMOUNT END ) '
SET @SQLCOMMAND =@SQLCOMMAND +' '+',AC_ID=0,ADD1='' '', ADD2='' '',ADD3='' '',CITY='' '',ZIP='' '',C_TAX='''',AC_NARR='' '''
SET @SQLCOMMAND =@SQLCOMMAND +' '+',A.NET_AMT as NET_AMT1'--Biru
SET @SQLCOMMAND =@SQLCOMMAND +' '+'FROM '+@TBLNAME4+' A WHERE A.AMT_TY<>''CR'' '
SET @SQLCOMMAND =@SQLCOMMAND +' '+'GROUP BY TRAN_CD,ENTRY_TY,AC_NAME,DATE,PARTY_NM,NET_AMT'
SET @SQLCOMMAND =@SQLCOMMAND +' '+'HAVING SUM(CASE WHEN AMT_TY=''DR'' THEN AMOUNT ELSE -AMOUNT END )<>0'
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND


SET @SQLCOMMAND = 'SELECT DISTINCT ENTRY_TY,TRAN_CD INTO '+@TBLNAME5+' FROM '+@TBLNAME4+' WHERE PARTY_NM=AC_NAME AND NET_AMT=AMOUNT GROUP BY ENTRY_TY,TRAN_CD'
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND = 'delete from '+@TBLNAME4+' from '+@TBLNAME4+' a inner join '+@TBLNAME5+' b on (a.entry_ty=b.entry_ty and a.tran_cd=b.tran_cd ) where a.grp=3 '
EXECUTE SP_EXECUTESQL @SQLCOMMAND

--SET @SQLCOMMAND = ''
--SET @SQLCOMMAND = 'INSERT INTO '+@TBLNAME4+' SELECT 3 as GRP,A.TRAN_CD,A.ENTRY_TY,'
--SET @SQLCOMMAND =@SQLCOMMAND +' '+' A.DATE,A.INV_NO,A.PARTY_NM,BANK_NM='' '','
--SET @SQLCOMMAND =@SQLCOMMAND +' '+'		INV_SR='' '',CHEQ_NO='' '',A.NET_AMT,''Advance'' AS U_PINVNO,A.DATE AS U_PINVDT,A.NARR ,AC_NAME='' '',AMT_TY='' '','
--SET @SQLCOMMAND =@SQLCOMMAND +' '+'0 AS AMOUNT '
--SET @SQLCOMMAND =@SQLCOMMAND +' '+',AC_ID=0,ADD1='' '', ADD2='' '',ADD3='' '',CITY='' '',ZIP='' '',A.C_TAX,AC_NARR='' '''
--SET @SQLCOMMAND =@SQLCOMMAND +' '+'FROM '+@TBLNAME4+' A WHERE AMT_TY=''DR'''
--SET @SQLCOMMAND =@SQLCOMMAND +' '+'GROUP BY TRAN_CD,ENTRY_TY,DATE,INV_NO,PARTY_NM,NET_AMT,NARR,C_TAX,AMT_TY'
--PRINT @SQLCOMMAND
--EXECUTE SP_EXECUTESQL @SQLCOMMAND

--SET @SQLCOMMAND = ''
--SET @SQLCOMMAND = 'UPDATE '+@TBLNAME4+' SET AMOUNT=(SELECT SUM(AMOUNT) FROM '+@TBLNAME4+'  WHERE AMT_TY=''DR'' )-(SELECT SUM(AMOUNT) FROM '+@TBLNAME4+' WHERE AMT_TY='' '' ) WHERE U_PINVNO=''Advance''  '
--EXECUTE SP_EXECUTESQL @SQLCOMMAND

--SET @SQLCOMMAND = ''
--SET @SQLCOMMAND = 'SELECT ENTRY_TY,TRAN_CD,AMOUNT=SUM(CASE WHEN AMT_TY=''DR'' THEN AMOUNT ELSE (CASE WHEN AMT_TY='' '' THEN -AMOUNT ELSE 0 END) END ) INTO '+@TBLNAME5+' FROM '+@TBLNAME4+' GROUP BY TRAN_CD,ENTRY_TY '
--EXECUTE SP_EXECUTESQL @SQLCOMMAND
--
--
--SET @SQLCOMMAND = ''
--	SET @SQLCOMMAND = 'UPDATE '+@TBLNAME4+' SET AMOUNT=A.AMOUNT FROM '+@TBLNAME5+' A INNER JOIN '+@TBLNAME4+' B  ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD) WHERE B.U_PINVNO=''Advance''  '
--EXECUTE SP_EXECUTESQL @SQLCOMMAND

--PRINT 'S2'
--SET @SQLCOMMAND = ''
--SET @SQLCOMMAND = 'UPDATE '+@TBLNAME4+' SET ADD1=(SELECT ADD1 FROM '+@TBLNAME4+' WHERE AMT_TY =''DR'' AND ADD1!='''' ),ADD2=(SELECT ADD2 FROM '+@TBLNAME4+' WHERE AMT_TY =''DR'' AND ADD2!='''' ),ADD3=(SELECT ADD3 FROM '+@TBLNAME4+' WHERE AMT_TY =''DR'' AND ADD3!='''' ),CITY=(SELECT CITY FROM '+@TBLNAME4+' WHERE AMT_TY =''DR'' AND CITY!='''' ),ZIP=(SELECT ZIP FROM '+@TBLNAME4+' WHERE AMT_TY =''DR'' AND ZIP!='''' ) '
----SET @SQLCOMMAND = 'UPDATE '+@TBLNAME4+' SET U_PINVNO=ISNULL((SELECT CASE WHEN A.AC_NARR<>'' ''  THEN  CONVERT(VARCHAR(30),A.AC_NARR) ELSE ''Advance'' END AS U_PINVNO FROM '+@TBLNAME4+' A LEFT JOIN AC_MAST ON (A.AC_ID=AC_MAST.AC_ID) WHERE A.AMT_TY=''DR'' AND A.PARTY_NM=A.AC_NAME   AND AC_MAST.[GROUP] IN (''SUNDRY CREDITORS'',''SUNDRY DEBTORS'')),''Advance '')  WHERE GRP=3'
--EXECUTE SP_EXECUTESQL @SQLCOMMAND

	
	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT * FROM '+@TBLNAME4+' ORDER BY date,TRAN_CD,GRP'
	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME1
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME2
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME3
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME4
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME5
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

	-- Added By Sachin N. S. on 12/03/2010 for L2S-109 ---- Start
	SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME6
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	-- Added By Sachin N. S. on 12/03/2010 for L2S-109 ---- End
GO
