DROP PROCEDURE [USP_REP_LJLEDGER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Excise Annexure IV for Labour Job Report.
-- Modification Date/By/Reason: 10/08/2009 Rupesh Prajapati. Modified for order.
-- Modification Date/By/Reason: Shrikant S. on 13 Apr, 2010 for TKT-968
-- Modified By: sandeep on 01/01/2014 for Bug-20807 (Procwaste column added)
-- Remark:
-- =============================================
create PROCEDURE [USP_REP_LJLEDGER] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)
AS
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=NULL
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='IIMAIN',@VITFILE='IIITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=Null --Changed by Shrikant S. on 13 Apr, 2010 for TKT-968
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

PRINT @FCON
print @EXPARA
SELECT IIITEM.DATE,IIMAIN.INV_NO,IIITEM.ITSERIAL,IIITEM.ENTRY_TY,IIITEM.TRAN_CD,IIITEM.PARTY_NM,IIITEM.QTY,IIITEM.INV_SR,IIITEM.AC_ID
,QTY_USED=IIITEM.QTY,WASTAGE=IIITEM.QTY,PROCWASTE=IIITEM.QTY
--,AC_MAST.RANGE,AC_MAST.DIVISION			--Commented by Shrikant S. on 24/04/2017 for GST
,AC_MAST.GSTIN					--Added by Shrikant S. on 24/04/2017 for GST
,IT_MAST.CHAPNO,IT_MAST.P_UNIT,IT_MAST.IT_NAME ---chnaged by sandeep on 01/01/2014 for bug-20807
--->Added by Ajay Jaiswal on 10/07/2010 for TKT-2864 -- Start
,It_Desc=(CASE WHEN ISNULL(it_mast.it_alias,'')='' THEN it_mast.it_name ELSE it_mast.it_alias END)
,MailName=(CASE WHEN ISNULL(Ac_mast.MailName,'')='' THEN Ac_mast.ac_name ELSE Ac_mast.mailname END)
--->Added by Ajay Jaiswal on 10/07/2010 for TKT-2864 -- End
,IRITEM.IT_CODE LR_ITCODE,IRITEM.QTY LR_QTY, IRITEM.DATE LR_DATE,BALQTY=IIITEM.QTY-(isnull(IRRMDET.QTY_USED,0)+isnull(IRRMDET.WASTAGE,0)+isnull(IRRMDET.PROCWASTE,0)),LR_ACMAST.AC_NAME ---changed by sandeep on 01/01/2014 for bug-20807
--,FITEM=LR_ITMAST.IT_NAME --- Changed by Ajay Jaiswal on 10/07/2010 for TKT-2864
,FITEM=(CASE WHEN ISNULL(LR_ITMAST.it_alias,'')='' THEN LR_ITMAST.it_name ELSE LR_ITMAST.it_alias END)
,FQTY=IRITEM.QTY
,PDAYS=DATEDIFF(DAY,IIITEM.DATE,'Oct  8 2009 12:00AM' )
INTO #PENDCHALL
FROM IIITEM  
INNER JOIN IIMAIN ON  (IIITEM.TRAN_CD=IIMAIN.TRAN_CD)  
INNER JOIN AC_MAST ON (AC_MAST.AC_ID=IIITEM.AC_ID)  
INNER JOIN IT_MAST ON (IIITEM.IT_CODE=IT_MAST.IT_CODE)  
LEFT JOIN IRRMDET ON (IIITEM.TRAN_CD=IRRMDET.LI_TRAN_CD AND IIITEM.ENTRY_TY=IRRMDET.LIENTRY_TY AND IIITEM.ITSERIAL=IRRMDET.LI_ITSER)  
LEFT JOIN IRMAIN ON (IRRMDET.TRAN_CD=IRMAIN.TRAN_CD)  
LEFT JOIN IRITEM ON (IRRMDET.TRAN_CD=IRITEM.TRAN_CD AND IRITEM.ENTRY_TY=IRRMDET.ENTRY_TY AND IRRMDET.ITSERIAL=IRITEM.ITSERIAL)  
LEFT JOIN AC_MAST LR_ACMAST ON (LR_ACMAST.AC_ID=IRITEM.AC_ID)  
LEFT JOIN IT_MAST LR_ITMAST ON (LR_ITMAST.IT_CODE=IRITEM.IT_CODE)  
WHERE 1=2


DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(1000)
SET @SQLCOMMAND=' INSERT INTO #PENDCHALL SELECT IIITEM.DATE,IIMAIN.INV_NO,IIITEM.ITSERIAL,   IIITEM.ENTRY_TY,IIITEM.TRAN_CD,PARTY_NM=AC_MAST.AC_NAME,IIITEM.QTY,IIITEM.INV_SR,IIITEM.AC_ID,'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' QTY_USED=isnull(IRRMDET.QTY_USED,0),WASTAGE=isnull(IRRMDET.WASTAGE,0), ' --Commented by Shrikant S. on 13 Apr, 2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' QTY_USED=CASE WHEN IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IRRMDET.QTY_USED,0) ELSE 0 END,WASTAGE=CASE WHEN IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IRRMDET.WASTAGE,0) ELSE 0 END, ' --Added by Shrikant S. on 13 Apr, 2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' PROCWASTE=CASE WHEN IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IRRMDET.PROCWASTE,0) ELSE 0 END,'  --Added by sandeep on 01/01/2014 for bug-20807
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AC_MAST.RANGE,AC_MAST.DIVISION, '		--Commented by Shrikant S. on 24/04/2017 for GST
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AC_MAST.GSTIN,'					--Added by Shrikant S. on 24/04/2017 for GST
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' IT_MAST.CHAPNO,IT_MAST.P_UNIT, IT_MAST.IT_NAME,'
--->Added by Ajay Jaiswal on 10/07/2010 for TKT-2864 -- Start
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' It_Desc=(CASE WHEN ISNULL(it_mast.it_alias,'''')='''' THEN it_mast.it_name ELSE it_mast.it_alias END),'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' MailName=(CASE WHEN ISNULL(Ac_mast.MailName,'''')='''' THEN Ac_mast.ac_name ELSE Ac_mast.mailname END),'
--->Added by Ajay Jaiswal on 10/07/2010 for TKT-2864 -- End
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' IRITEM.IT_CODE LR_ITCODE,LR_QTY=CASE WHEN IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN ISNULL(IRITEM.QTY,0) ELSE 0 END , IRITEM.DATE LR_DATE,'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' BALQTY=IIITEM.QTY-(isnull(IRRMDET.QTY_USED,0)+isnull(IRRMDET.WASTAGE,0)),' --Commented by Shrikant S. on 13 Apr, 2010 for TKT-968
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LR_ACMAST.AC_NAME,FITEM=LR_ITMAST.IT_NAME,FQTY=ISNULL(IRITEM.QTY,0) ' --Commented by Shrikant S. on 13 Apr, 2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' BALQTY=IIITEM.QTY-(CASE WHEN IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IRRMDET.QTY_USED,0) ELSE 0 END+CASE WHEN IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IRRMDET.WASTAGE,0) ELSE 0 END+CASE WHEN IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IRRMDET.PROCWASTE,0) ELSE 0 END),' --Added by Shrikant S. on 13 Apr, 2010 for TKT-968,---changed by sandeep on 01/01/2014 for bug-20807
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LR_ACMAST.AC_NAME,'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FITEM=LR_ITMAST.IT_NAME,' -- Changed by Ajay Jaiswal on 10/07/2010 for TKT-2864
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FITEM=(CASE WHEN ISNULL(LR_ITMAST.it_alias,'''')='''' THEN LR_ITMAST.it_name ELSE LR_ITMAST.it_alias END),'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FQTY=CASE WHEN IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN ISNULL(IRITEM.QTY,0) ELSE 0 END ' --Added by Shrikant S. on 13 Apr, 2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,PDAYS=DATEDIFF(DAY,IIITEM.DATE,'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' )'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM IIITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IIMAIN ON  (IIITEM.TRAN_CD=IIMAIN.TRAN_CD) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST ON (AC_MAST.AC_ID=IIITEM.AC_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST ON (IIITEM.IT_CODE=IT_MAST.IT_CODE) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IRRMDET ON (IIITEM.TRAN_CD=IRRMDET.LI_TRAN_CD AND IIITEM.ENTRY_TY=IRRMDET.LIENTRY_TY AND IIITEM.ITSERIAL=IRRMDET.LI_ITSER AND IRRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IRMAIN ON (IRRMDET.TRAN_CD=IRMAIN.TRAN_CD) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IRITEM ON (IRRMDET.TRAN_CD=IRITEM.TRAN_CD AND IRITEM.ENTRY_TY=IRRMDET.ENTRY_TY AND IRRMDET.ITSERIAL=IRITEM.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN AC_MAST LR_ACMAST ON (LR_ACMAST.AC_ID=IRITEM.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IT_MAST LR_ITMAST ON (LR_ITMAST.IT_CODE=IRITEM.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY AC_MAST.AC_NAME,IIITEM.DATE,IIMAIN.INV_NO,IIITEM.ITSERIAL ' Changed by Ajay Jaiswal on 10/07/2010 for TKT-2864
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY Mailname,IIITEM.DATE,IIMAIN.INV_NO,IIITEM.ITSERIAL ' 
print @SQLCOMMAND
EXEC SP_EXECUTESQL  @SQLCOMMAND

--SELECT 'A',* FROM #PENDCHALL

SELECT QTY,LIENTRY_TY,LI_TRAN_CD,LI_ITSER,QTY_USED=SUM(QTY_USED+WASTAGE+PROCWASTE) ---changed by sandeep on 01/01/2014 for bug-20807
INTO #QTYUSED
FROM IRRMDET 
WHERE LI_DATE<=@SDATE 
AND DATE<=@SDATE --Added by Shrikant S. on 13 Apr, 2010 for TKT-968
GROUP BY LIENTRY_TY,LI_TRAN_CD,LI_ITSER,QTY

DELETE FROM #QTYUSED WHERE QTY<>QTY_USED
--SELECT 'B',* FROM #QTYUSED
DELETE FROM #PENDCHALL WHERE ENTRY_TY+RTRIM(CAST(TRAN_CD AS VARCHAR))+ITSERIAL IN (SELECT LIENTRY_TY+RTRIM(CAST(LI_TRAN_CD AS VARCHAR))+LI_ITSER FROM #QTYUSED)

--SELECT *,Cond_days=@EXPARA FROM #PENDCHALL where PDAYS>=@EXPARA ORDER BY PARTY_NM,DATE,INV_NO,IT_NAME,ITSERIAL -- Changed by Ajay Jaiswal on 10/07/2010 for TKT-2864
SELECT *,Cond_days=@EXPARA FROM #PENDCHALL where PDAYS>=@EXPARA ORDER BY MailName,DATE,INV_NO,It_Desc,ITSERIAL


DROP TABLE #PENDCHALL
DROP TABLE #QTYUSED
GO
