DROP PROCEDURE [USP_REP_ANNEIR7A]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Excise Abstract For Input Goods Report.
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Modified By Sachin N. S. on 10/05/2010 for TKT-1487 -- u_cldt > 1900
-- Remark:
-- =============================================
CREATE PROCEDURE [USP_REP_ANNEIR7A]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

SET QUOTED_IDENTIFIER OFF

DECLARE @FDATE CHAR(10),@OBACID INT
SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT
SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING BALANCES '

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE='EX_VW_ACDET '
,@VDTFLD =@FDATE
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

IF  CHARINDEX('STKL_VW_MAIN.U_CLDT', @FCON)<>0
BEGIN
	SET @FCON=REPLACE(@FCON, 'STKL_VW_MAIN.U_CLDT','EX_VW_ACDET.U_CLDT')
END


DECLARE @ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@DOC_NO CHAR(5),@AC_ID INT,@AMOUNT NUMERIC(15,5),@AMT_TY CHAR(2),@U_CLDT SMALLDATETIME,@U_RG23NO CHAR(10),@U_RG23CNO CHAR(10),@U_PLASR CHAR(10),@TRAN_CD INT,@TTRAN_CD INT,@OPBAL1 NUMERIC(15,5),@RECEIPT1 NUMERIC(15,5),@ISSUE1 NUMERIC(15,5),@BALANCE1 NUMERIC(15,5),@OPBAL2 NUMERIC(15,5),@RECEIPT2 NUMERIC(15,5),@ISSUE2 NUMERIC(15,5),@BALANCE2 NUMERIC(15,5),@OPBAL3 NUMERIC(15,5),@RECEIPT3 NUMERIC(15,5),@ISSUE3 NUMERIC(15,5),@BALANCE3 NUMERIC(15,5),@OPBAL4 NUMERIC(15,5),@RECEIPT4 NUMERIC(15,5) ,@ISSUE4 NUMERIC(15,5),@BALANCE4 NUMERIC(15,5),@AC_ID5 NUMERIC(15,5),@OPBAL5 NUMERIC(15,5),@RECEIPT5 NUMERIC(15,5) ,@ISSUE5 NUMERIC(15,5),@BALANCE5 NUMERIC(15,5),@OPBAL6 NUMERIC(15,5),@RECEIPT6 NUMERIC(15,5) ,@ISSUE6 NUMERIC(15,5),@BALANCE6 NUMERIC(15,5),@OPBAL7 NUMERIC(15,5),@RECEIPT7 NUMERIC(15,5) ,@ISSUE7 NUMERIC(15,5),@BALANCE7 NUMERIC(15,5),@OPBAL8 NUMERIC(15,5),@RECEIPT8 NUMERIC(15,5) ,@ISSUE8 NUMERIC(15,5),@BALANCE8 NUMERIC(15,5),@OPBAL9 NUMERIC(15,5),@RECEIPT9 NUMERIC(15,5) ,@ISSUE9 NUMERIC(15,5),@BALANCE9 NUMERIC(15,5),@EXDATE SMALLDATETIME
DECLARE @MAC_ID INT,@MDATE SMALLDATETIME,@OPBAL NUMERIC(15,2),@RECEIPT NUMERIC(15,2),@ISSUE NUMERIC(15,2),@BALANCE NUMERIC(15,2),@V1 NUMERIC(10)
DECLARE @FINAC NVARCHAR(500)
DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @FCOND CHAR(1)
DECLARE @CACID INT,@ACID1 INT,@ACID2 INT,@ACID3 INT,@ACID4 INT,@ACID5 INT,@ACID6 INT,@ACID7 INT,@ACID8 INT,@ACID9 INT,@ACID10 INT, @TRAW NUMERIC(10),@CAC_NAME VARCHAR(60),@AC_NAME1 VARCHAR(60),@AC_NAME2 VARCHAR(60),@AC_NAME3 VARCHAR(60),@AC_NAME4 VARCHAR(60),@AC_NAME5 VARCHAR(60),@AC_NAME6 VARCHAR(60),@AC_NAME7 VARCHAR(60),@AC_NAME8 VARCHAR(60),@AC_NAME9 VARCHAR(60)
DECLARE @EAC_NAME1 VARCHAR(60),@EAC_NAME2 VARCHAR(60),@EAC_NAME3 VARCHAR(60),@EAC_NAME4 VARCHAR(60),@EAC_NAME5 VARCHAR(60),@EAC_NAME6 VARCHAR(60),@EAC_NAME7 VARCHAR(60),@EAC_NAME8 VARCHAR(60),@EAC_NAME9 VARCHAR(60)
DECLARE @VCOND VARCHAR(1000),@VST INT,@VEND INT,@FACNM VARCHAR(500),@I INT 

SET @SPLCOND=REPLACE(@SPLCOND, '`','''')
SET @VCOND=@SPLCOND
SET @VST= CHARINDEX(RTRIM('AC_ID IN'), @VCOND ,1)
SET @FACNM=SUBSTRING(@VCOND,@VST,2000)
SET @VST= CHARINDEX(RTRIM('('), @FACNM ,1)+1
SET @VEND= CHARINDEX(RTRIM(')'), @FACNM ,1)
SET @FACNM=SUBSTRING(@FACNM,@VST,@VEND-@VST)
SET @FACNM= LTRIM(RTRIM(@FACNM))+', '


SET @FINAC=CHAR(39)+@FACNM+CHAR(39)


SELECT EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.U_RG23NO,EX_VW_ACDET.U_RG23CNO,EX_VW_ACDET.U_PLASR,AC_ID=EX_VW_ACDET.AC_ID,AC_ID1=EX_VW_ACDET.AC_ID,OPBAL1 =EX_VW_ACDET.AMOUNT,RECEIPT1=EX_VW_ACDET.AMOUNT,ISSUE1=EX_VW_ACDET.AMOUNT,BALANCE1=EX_VW_ACDET.AMOUNT,AC_ID2=EX_VW_ACDET.AC_ID,OPBAL2 =EX_VW_ACDET.AMOUNT,RECEIPT2=EX_VW_ACDET.AMOUNT,ISSUE2=EX_VW_ACDET.AMOUNT,BALANCE2=AMOUNT,AC_ID3=EX_VW_ACDET.AC_ID,OPBAL3 =EX_VW_ACDET.AMOUNT,RECEIPT3=EX_VW_ACDET.AMOUNT,ISSUE3=EX_VW_ACDET.AMOUNT,BALANCE3=EX_VW_ACDET.AMOUNT,AC_ID4=EX_VW_ACDET.AC_ID,OPBAL4 =EX_VW_ACDET.AMOUNT,RECEIPT4=EX_VW_ACDET.AMOUNT,ISSUE4=EX_VW_ACDET.AMOUNT,BALANCE4=EX_VW_ACDET.AMOUNT,AC_ID5=EX_VW_ACDET.AC_ID,OPBAL5 =EX_VW_ACDET.AMOUNT,RECEIPT5=EX_VW_ACDET.AMOUNT,ISSUE5=EX_VW_ACDET.AMOUNT,BALANCE5=EX_VW_ACDET.AMOUNT,AC_ID6=EX_VW_ACDET.AC_ID,OPBAL6 =EX_VW_ACDET.AMOUNT,RECEIPT6=EX_VW_ACDET.AMOUNT,ISSUE6=EX_VW_ACDET.AMOUNT,BALANCE6=EX_VW_ACDET.AMOUNT,AC_ID7=EX_VW_ACDET.AC_ID,OPBAL7 =EX_VW_ACDET.AMOUNT,RECEIPT7=EX_VW_ACDET.AMOUNT,ISSUE7=EX_VW_ACDET.AMOUNT,BALANCE7=EX_VW_ACDET.AMOUNT,AC_ID8=EX_VW_ACDET.AC_ID,OPBAL8 =EX_VW_ACDET.AMOUNT,RECEIPT8=EX_VW_ACDET.AMOUNT,ISSUE8=EX_VW_ACDET.AMOUNT,BALANCE8=EX_VW_ACDET.AMOUNT,AC_ID9=EX_VW_ACDET.AC_ID,OPBAL9 =EX_VW_ACDET.AMOUNT,RECEIPT9=EX_VW_ACDET.AMOUNT,ISSUE9=EX_VW_ACDET.AMOUNT,BALANCE9=EX_VW_ACDET.AMOUNT,TRAN_CD=EX_VW_ACDET.TRAN_CD,TTRAN_CD=EX_VW_ACDET.TRAN_CD,EXDATE=EX_VW_ACDET.DATE  INTO  #ACDET FROM EX_VW_ACDET JOIN STKL_VW_MAIN ON (EX_VW_ACDET.TRAN_CD=STKL_VW_MAIN.TRAN_CD) WHERE 1=2

SELECT EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AC_ID,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.U_RG23NO,EX_VW_ACDET.U_RG23CNO,EX_VW_ACDET.U_PLASR,STKL_VW_MAIN.U_INT,AC_MAST.AC_NAME,TRAN_CD=EX_VW_ACDET.TRAN_CD,EXDATE=EX_VW_ACDET.DATE  INTO #ANNEIR7A  FROM EX_VW_ACDET JOIN STKL_VW_MAIN ON (EX_VW_ACDET.TRAN_CD=STKL_VW_MAIN.TRAN_CD)  JOIN AC_MAST ON (AC_MAST.AC_ID =EX_VW_ACDET.AC_ID) WHERE 1=2


SET @SQLCOMMAND=' INSERT INTO #ANNEIR7A SELECT EX_VW_ACDET.ENTRY_TY,EX_VW_ACDET.DATE,EX_VW_ACDET.DOC_NO,EX_VW_ACDET.AC_ID,EX_VW_ACDET.AMOUNT,EX_VW_ACDET.AMT_TY,EX_VW_ACDET.U_CLDT,EX_VW_ACDET.U_RG23NO,EX_VW_ACDET.U_RG23CNO,EX_VW_ACDET.U_PLASR,STKL_VW_MAIN.U_INT,AC_MAST.AC_NAME,EX_VW_ACDET.TRAN_CD,EX_VW_ACDET.'+@FDATE+' FROM EX_VW_ACDET '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ ' JOIN STKL_VW_MAIN ON (EX_VW_ACDET.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND EX_VW_ACDET.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY)   JOIN AC_MAST ON (AC_MAST.AC_ID =EX_VW_ACDET.AC_ID) '

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'   AND (YEAR(EX_VW_ACDET.'+@FDATE+')>1900 )'		-- Added By Sachin N. S. on 10/05/2010 for TKT-1487
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' ORDER BY EX_VW_ACDET.'+ @FDATE+',EX_VW_ACDET.U_RG23CNO '

EXEC SP_EXECUTESQL  @SQLCOMMAND

SET @TTRAN_CD=0

SET  @ACID1=0
SET  @ACID2=0
SET  @ACID3=0
SET  @ACID4=0
SET  @ACID5=0
SET  @ACID6=0
SET  @ACID7=0
SET  @ACID8=0
SET  @ACID9=0


SET @FACNM=REPLACE(@FACNM,'''',' ')
PRINT @FACNM
SET @VST=1
SET @I=0
SET @VEND= CHARINDEX(',',@FACNM,1)

WHILE CHARINDEX(',',@FACNM,1)<>0
BEGIN
	SET @I=@I+1
	IF @I=1
	BEGIN
		 -- SET @ACID1=CAST(SUBSTRING(@FACNM,@VST,@VEND-@VST) AS INT)
   	              --SELECT  @AC_NAME1 =AC_NAME FROM AC_MAST WHERE AC_ID=@ACID1
		SET @AC_NAME1= LTRIM(RTRIM(SUBSTRING(@FACNM,@VST,@VEND-@VST)))
		SELECT  @ACID1 =A.AC_ID,@EAC_NAME1=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME1))
		
	END
	IF @I=2
	BEGIN
		
		SET @AC_NAME2= LTRIM(RTRIM(SUBSTRING(@FACNM,@VST,@VEND-@VST)))
		SELECT  @ACID2 =A.AC_ID,@EAC_NAME2=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME2))
	END
	IF @I=3
	BEGIN
		SET @AC_NAME3= LTRIM(RTRIM(SUBSTRING(@FACNM,@VST,@VEND-@VST)))
		SELECT  @ACID3 =A.AC_ID,@EAC_NAME3=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME3))
	END
	IF @I=4
	BEGIN
		SET @AC_NAME4= LTRIM(RTRIM(SUBSTRING(@FACNM,@VST,@VEND-@VST)))
		SELECT  @ACID4 =A.AC_ID,@EAC_NAME4=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME4))
	END
	IF @I=5
	BEGIN
          		SET @AC_NAME5= LTRIM(RTRIM(SUBSTRING(@FACNM,@VST,@VEND-@VST)))
		SELECT  @ACID5 =A.AC_ID,@EAC_NAME5=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME5))
	END
	IF @I=6
	BEGIN
		SET @AC_NAME6= LTRIM(RTRIM(SUBSTRING(@FACNM,@VST,@VEND-@VST)))
		SELECT  @ACID6 =A.AC_ID,@EAC_NAME6=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME6))

	END
	IF @I=7
	BEGIN
                           SET @AC_NAME7= LTRIM(RTRIM(SUBSTRING(@FACNM,@VST,@VEND-@VST)))
		SELECT  @ACID7 =A.AC_ID,@EAC_NAME7=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME7))

	END
	IF @I=8
	BEGIN
		SET @AC_NAME8= SUBSTRING(@FACNM,@VST,@VEND-@VST)
		SELECT  @ACID8 =A.AC_ID,@EAC_NAME8=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME8))

	END
	IF @I=9
	BEGIN
		 SET @AC_NAME9= LTRIM(RTRIM(SUBSTRING(@FACNM,@VST,@VEND-@VST)))
		SELECT  @ACID9 =A.AC_ID,@EAC_NAME9=E.SHORTNM FROM AC_MAST A LEFT JOIN ER_EXCISE E ON (A.AC_NAME=E.AC_NAME) WHERE LTRIM(RTRIM(A.AC_NAME))=LTRIM(RTRIM(@AC_NAME9))
	END
	
	SET @FACNM=SUBSTRING(@FACNM,@VEND+1,500)
	SET @VEND= CHARINDEX(',',@FACNM,1)
END


SELECT 
A.AC_NAME,EAC_NAME=E.SHORTNM,SRNO='A'
,OPBAL     =SUM(CASE WHEN  (A.ENTRY_TY='OB' OR A.EXDATE<@SDATE) THEN (CASE WHEN A.AMT_TY='DR' THEN A.AMOUNT ELSE -A.AMOUNT END ) ELSE 0 END)
,RECEIPT =SUM(CASE WHEN  (A.EXDATE>= @SDATE AND A.ENTRY_TY<>'OB') AND A.AMT_TY='DR'  THEN A.AMOUNT ELSE 0 END)
,ISSUE     = SUM(CASE WHEN  (A.EXDATE>= @SDATE AND A.ENTRY_TY<>'OB') AND A.AMT_TY='CR'  THEN A.AMOUNT ELSE 0 END)
,CLBAL     =SUM(CASE WHEN  (A.ENTRY_TY='OB' OR A.EXDATE<@SDATE) THEN (CASE WHEN A.AMT_TY='DR' THEN A.AMOUNT ELSE -A.AMOUNT END ) ELSE 0 END)
	+ SUM(CASE WHEN  (A.EXDATE>= @SDATE AND A.ENTRY_TY<>'OB') AND A.AMT_TY='DR'  THEN A.AMOUNT ELSE 0 END)
	-SUM(CASE WHEN  (A.EXDATE>= @SDATE AND A.ENTRY_TY<>'OB') AND A.AMT_TY='CR'  THEN A.AMOUNT ELSE 0 END)
INTO #ANNEIR7A1
FROM #ANNEIR7A A LEFT JOIN ER_EXCISE E ON(A.AC_NAME=E.AC_NAME) WHERE A.EXDATE<=@EDATE AND A.AC_NAME IN(@AC_NAME1,@AC_NAME2,@AC_NAME3,@AC_NAME4,@AC_NAME5,@AC_NAME6,@AC_NAME7,@AC_NAME8,@AC_NAME9)
GROUP BY A.AC_NAME,E.SHORTNM


UPDATE #ANNEIR7A1 SET SRNO=CASE 
				             WHEN AC_NAME=@AC_NAME1 THEN 'A' 
				             WHEN AC_NAME=@AC_NAME2 THEN 'B' 	
				             WHEN AC_NAME=@AC_NAME3 THEN 'C' 	
					WHEN AC_NAME=@AC_NAME4 THEN 'D'
					WHEN AC_NAME=@AC_NAME5 THEN 'E'
					WHEN AC_NAME=@AC_NAME6 THEN 'F'
					WHEN AC_NAME=@AC_NAME7 THEN 'G'
					WHEN AC_NAME=@AC_NAME8 THEN 'H'
					WHEN AC_NAME=@AC_NAME9 THEN 'I'	
					ELSE 'F'		
                        				END
SELECT * FROM #ANNEIR7A1 ORDER BY SRNO


DROP TABLE #ANNEIR7A 
SET QUOTED_IDENTIFIER ON
GO
