If Exists(Select [name] From SysObjects Where xtype='P' and [Name]='USP_REP_UA_FORMVAT3_ANNEXURE8_DADOS')
Begin
	Drop Procedure USP_REP_UA_FORMVAT3_ANNEXURE8_DADOS
End
Go
      
CREATE PROCEDURE [dbo].[USP_REP_UA_FORMVAT3_ANNEXURE8_DADOS]
@SDATE SMALLDATETIME,@EDATE SMALLDATETIME            
AS        
BEGIN           
--INTER-STATE SALES TO INTERNATIONAL BODY
select A.PARTY_NM,AC.STATE,A.inv_no,A.date,VATONAMT=A.NET_AMT FROM STMAIN A
INNER JOIN AC_MAST AC ON(AC.AC_ID=A.AC_ID)
inner join STITEM ST ON(ST.TRAN_CD=A.TRAN_CD)
INNER JOIN STAX_MAS STM ON(ST.TAX_NAME=STM.TAX_NAME AND STM.ENTRY_TY=ST.ENTRY_TY)
WHERE AC.S_TAX<>''  AND AC.ST_TYPE in ('OUT OF STATE','OUT OF COUNTRY') AND STM.RFORM_NM IN ('J FORM','FORM J') and (A.DATE BETWEEN @SDATE AND @EDATE)      
END  
