DROP PROCEDURE [USP_REP_ANNEX19C_LUT]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---<<    USP_REP_ANNEX19C  This Stored useful to generate Export ARE.1 NOT BEEN RECEIVED BY EXPORTER           -III (ANNE-19)  Report   >>
create  PROCEDURE [USP_REP_ANNEX19C_LUT] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

SET QUOTED_IDENTIFIER OFF
DECLARE @FDATE CHAR(10),@OBACID INT
SELECT @FDATE=CASE WHEN DBDATE=1 THEN 'DATE' ELSE 'U_CLDT' END FROM MANUFACT
SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING BALANCES '

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STMAIN',@VITFILE='STITEM',@VACFILE='STACDET '
,@VDTFLD =@FDATE
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

--IF  CHARINDEX('STKL_VW_MAIN.U_CLDT', @FCON)<>0
--BEGIN
--	SET @FCON=REPLACE(@FCON, 'STKL_VW_MAIN.U_CLDT','EX_VW_ACDET.U_CLDT')
--END

--DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(2000)
--SELECT DISTINCT ENTRY_TY,DATE EXDT,DOC_NO,U_EXARE1,L_YN,TOT_EXAMT,U_B1NO INTO #ANNEX191 FROM STMAIN WHERE 1=2
--SET @SQLCOMMAND=' INSERT INTO #ANNEX191 SELECT DISTINCT ENTRY_TY,DATE EXDT,DOC_NO,U_EXARE1,L_YN,TOT_EXAMT,U_B1NO  FROM STMAIN'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
--EXEC SP_EXECUTESQL  @SQLCOMMAND

--SELECT DISTINCT U_EXARE1 INTO #ANNEX192 FROM STMAIN WHERE (U_EXARE1<>' ' AND ENTRY_TY='BC') 

--SELECT A.ENTRY_TY,A.U_EXARE1 EX1,A.L_YN ,A.TOT_EXAMT,A.EXDT,@SDATE DATE,A.U_B1NO,B.U_EXARE1 EX2 
--INTO #ANNEX193
--FROM #ANNEX191 A
--LEFT JOIN #ANNEX192 B ON (A.U_EXARE1=B.U_EXARE1) 
--SELECT * FROM #ANNEX193 WHERE EX2 IS NULL

--DROP TABLE #ANNEX191
--DROP TABLE #ANNEX192
--DROP TABLE #ANNEX193

SELECT STMAIN.TRAN_CD,STMAIN.ARENO,STMAIN.AREDATE
,U_EXBAMT=STMAIN.TOT_EXAMT,STMAIN.U_SBDT
,STMAIN.DATE, STMAIN.INV_NO,AC_MAST.AC_NAME,B.U_POED  --Changes by sandeep to added u_poed,tot_examt for bug-1582,1587 on 10/03/2012
FROM STMAIN INNER JOIN AC_MAST ON (STMAIN.AC_ID=AC_MAST.AC_ID) 
INNER JOIN (SELECT ARENO,AREDATE,U_POED FROM STMAIN WHERE ENTRY_TY='ST') B ON (STMAIN.ARENO=B.ARENO AND STMAIN.DATE=B.AREDATE)
--INNER JOIN (SELECT ARENO,AREDATE,U_POED FROM BPMAIN WHERE ENTRY_TY='BC') B ON (STMAIN.ARENO=B.ARENO AND STMAIN.DATE=B.AREDATE) --Commented by sandeep on 10/03/2012 for the bug-1582_1587
AND DATEADD(M,3,STMAIN.AREDATE) < @SDATE AND  B.U_POED='' 
--WHERE (STMAIN.AREDESC='A.R.E.1') AND (STMAIN.AREDATE BETWEEN @SDATE AND @EDATE) 
--AND B.U_POED<= DATEADD(M,6,B.AREDATE) 
ORDER BY STMAIN.AREDATE,STMAIN.TRAN_CD
GO
