DROP PROCEDURE [USP_REP_PROCREG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [USP_REP_PROCREG] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
 

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='POMAIN',@VITFILE='POITEM',@VACFILE=''
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)

 SET @SQLCOMMAND='SELECT POITEM.TRAN_CD,POITEM.ENTRY_TY,POITEM.INV_NO,POITEM.DATE,AC_MAST.AC_NAME,IT_MAST.IT_NAME,POITEM.QTY,POITEM.RE_QTY,POITEM.ITSERIAL AS ITEM_NO ,'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'ARQTY = isnull(ARITREF.RQTY,0),PTQTY = isnull(PTITREF1.RQTY,0) ,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,AC_MAST.RANGE,AC_MAST.DIVISION,AC_MAST.CITY,AC_MAST.COLL ,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'ARQTY = isnull(ARITREF.RQTY,0),PTQTY = isnull(PTITREF1.RQTY,0) ,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,RANGE=AC_MAST.GSTIN,DIVISION=AC_MAST.STATE,AC_MAST.CITY,COLL=AC_MAST.STATECODE ,'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'IT_MAST.CHAPNO,IT_MAST.RATEUNIT,'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'PTMAIN.ARENO,PTMAIN.AREDATE,PTMAIN.PINVNO,PTMAIN.PINVDT,PTMAIN.GRO_AMT,PTMAIN.NET_AMT,'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'ARITEM.INV_NO as ARINVNO,ARITEM.DATE as ARDATE'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM POITEM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN POMAIN ON(POITEM.TRAN_CD=POMAIN.TRAN_CD AND POITEM.ENTRY_TY=POMAIN.ENTRY_TY)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST ON (POITEM.IT_CODE=IT_MAST.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST ON (POMAIN.AC_ID=AC_MAST.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN ARITREF ON (POITEM.ENTRY_TY=ARITREF.RENTRY_TY AND POITEM.INV_NO=ARITREF.RINV_NO AND POITEM.INV_SR=ARITREF.RINV_SR AND POITEM.ITSERIAL=ARITREF.RITSERIAL) AND (ARITREF.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN ARITEM  ON (ARITEM.ENTRY_TY=ARITREF.ENTRY_TY AND ARITEM.DATE=ARITREF.DATE AND ARITEM.DOC_NO=ARITREF.DOC_NO AND ARITEM.ITSERIAL=ARITREF.ITSERIAL)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN ARMAIN ON (ARITEM.TRAN_CD=ARMAIN.TRAN_CD AND ARITEM.ENTRY_TY=ARMAIN.ENTRY_TY)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN PTITREF PTITREF1 ON (POITEM.ENTRY_TY=PTITREF1.RENTRY_TY AND POITEM.INV_NO=PTITREF1.RINV_NO AND POITEM.INV_SR=PTITREF1.RINV_SR AND POITEM.ITSERIAL=PTITREF1.RITSERIAL) AND (PTITREF1.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN PTITEM PTITEM1  ON (PTITEM1.ENTRY_TY=PTITREF1.ENTRY_TY AND PTITEM1.DATE=PTITREF1.DATE AND PTITEM1.DOC_NO=PTITREF1.DOC_NO AND PTITEM1.ITSERIAL=PTITREF1.ITSERIAL)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN PTMAIN PTMAIN1 ON (PTITEM1.TRAN_CD=PTMAIN1.TRAN_CD AND PTITEM1.ENTRY_TY=PTMAIN1.ENTRY_TY)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN PTITREF ON (ARITEM.ENTRY_TY=PTITREF.RENTRY_TY AND ARITEM.INV_NO=PTITREF.RINV_NO AND ARITEM.INV_SR=PTITREF.RINV_SR AND ARITEM.ITSERIAL=PTITREF.RITSERIAL)AND (PTITREF.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+')'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN PTMAIN ON (PTITREF.TRAN_CD=PTMAIN.TRAN_CD AND PTITREF.ENTRY_TY=PTMAIN.ENTRY_TY) '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'and POITEM.ENTRY_TY=''PH'''
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY POITEM.TRAN_CD,POITEM.ITEM_NO'
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
