DROP PROCEDURE [USP_REP_SERVICETAX_PAYABLE_MultiService]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 11/07/2008
-- Description:	This Stored procedure is useful to generate Service Tax Input Credit Available Report .
-- Modification Date/By/Reason:
-- Remark:
-- =============================================
CREATE procedure [USP_REP_SERVICETAX_PAYABLE_MultiService]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Begin
	Declare @FCON as NVARCHAR(2000),@SQLCOMMAND as NVARCHAR(4000)

	select m.entry_ty,m.tran_cd,m.serty,pdate=m.date,m.cheq_no,m.bank_nm,m.serrule
	,taxable_amt=m.net_amt
	,bSrTax=m.net_amt
	,bESrTax=m.net_amt
	,bHSrTax=m.net_amt
	,astaxableamt=m.net_amt
	,aSrTax=m.net_amt
	,aESrTax=m.net_amt
	,aHSrTax=m.net_amt
	into #serava
	from EPacdet ac 
	inner join bPmain m on (ac.entry_ty=m.entry_ty and ac.tran_cd=m.tran_cd) 
	WHERE 1=2
	
	/*Normal SB Entry with Bannk Receipt Allocation---->*/	
	EXECUTE USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='m',@VITFILE=Null,@VACFILE='AC'
	,@VDTFLD ='DATE'
	,@VLYN=Null
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

	set @sqlcommand='insert into #serava (entry_ty,tran_cd,serty,pdate,cheq_no,bank_nm,serrule'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt,bSrTax,bESrTax,bHSrTax'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt,aSrTax,aESrTax,aHSrTax)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'select' 
	set @sqlcommand=rtrim(@sqlcommand)+' '+'isd.aentry_ty,isd.atran_cd,isd.serty,m.date,m.cheq_no,m.bank_nm,m.serrule'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt=acl.staxable,bSrTax=acl.serbamt,bESrTax=acl.sercamt,bHSrTax=acl.serhamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt=sum(isd.staxable),aSrTax=sum(isnull(isd.serbamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aESrTax=sum(isnull(isd.sercamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aHSrTax=sum(isnull(isd.serhamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' from isdallocation isd '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join SerTaxMain_vw m on (isd.entry_ty=m.entry_ty and isd.tran_cd=m.tran_cd)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join lcode l on (m.entry_ty=l.entry_ty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join acdetalloc acl on (isd.aentry_ty=acl.entry_ty and isd.atran_cd=acl.tran_cd  and isd.serty=acl.serty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty in (''BR'',''CR'') or l.bcode_nm in (''BR'',''CR''))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'group by isd.aentry_ty,isd.atran_cd,isd.serty,m.date,m.cheq_no,m.bank_nm,m.serrule'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',acl.staxable,acl.serbamt,acl.sercamt,acl.serhamt'
	print  @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	/*<---Normal SB Entry with Bannk Receiptt Allocation*/
	
	/*Advance BR,CR Entry---->*/
	EXECUTE USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='m',@VITFILE=Null,@VACFILE='AC'
	,@VDTFLD ='DATE'
	,@VLYN=Null
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

	set @sqlcommand='insert into #serava (entry_ty,tran_cd,serty,pdate,cheq_no,bank_nm,m.serrule'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt,bSrTax,bESrTax,bHSrTax'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt,aSrTax,aESrTax,aHSrTax)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'select' 
	set @sqlcommand=rtrim(@sqlcommand)+' '+'acl.entry_ty,acl.tran_cd,acl.serty,m.date,m.cheq_no,m.bank_nm,m.serrule'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt=acl.staxable,bSrTax=0,bESrTax=0,bHSrTax=0'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt=acl.staxable,aSrTax=sum(isnull(acl.serbamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aESrTax=sum(isnull(acl.sercamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aHSrTax=sum(isnull(acl.serhamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' from acdetalloc acl '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join SerTaxMain_vw m on (acl.entry_ty=m.entry_ty and acl.tran_cd=m.tran_cd)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join lcode l on (m.entry_ty=l.entry_ty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty in (''EP''))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and m.serrule=''IMPORT'' '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'group by acl.entry_ty,acl.tran_cd,acl.serty,m.date,m.cheq_no,m.bank_nm,acl.staxable,m.serrule'
	print  @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	/*<---Advance BR,CR Entry*/
	
	/*Imported EP Entry---->*/
	EXECUTE USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='m',@VITFILE=Null,@VACFILE='AC'
	,@VDTFLD ='DATE'
	,@VLYN=Null
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

	set @sqlcommand='insert into #serava (entry_ty,tran_cd,serty,pdate,cheq_no,bank_nm,m.serrule'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt,bSrTax,bESrTax,bHSrTax'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt,aSrTax,aESrTax,aHSrTax)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'select' 
	set @sqlcommand=rtrim(@sqlcommand)+' '+'acl.entry_ty,acl.tran_cd,acl.serty,m.date,m.cheq_no,m.bank_nm,m.serrule'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',taxable_amt=acl.staxable,bSrTax=0,bESrTax=0,bHSrTax=0'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',astaxableamt=acl.staxable,aSrTax=sum(isnull(acl.serbamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aESrTax=sum(isnull(acl.sercamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',aHSrTax=sum(isnull(acl.serhamt,0))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' from acdetalloc acl '
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join SerTaxMain_vw m on (acl.entry_ty=m.entry_ty and acl.tran_cd=m.tran_cd)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join lcode l on (m.entry_ty=l.entry_ty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty in (''BR'',''CR'') or l.bcode_nm in (''BR'',''CR''))'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and m.tdspaytype=2'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'group by acl.entry_ty,acl.tran_cd,acl.serty,m.date,m.cheq_no,m.bank_nm,acl.staxable,m.serrule'
	print  @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	/*<---Imported EP Entry*/

	select a.*
	,m.u_pinvdt,m.date,m.inv_no,m.u_pinvno
	,ac_mast.ac_name,ac_mast.add1,ac_mast.add2,ac_mast.add3,ac_mast.SREGN,m.net_amt
	from #serava a
	inner join SerTaxMain_vw m on (a.entry_ty=m.entry_ty and a.tran_cd=m.tran_cd)
	inner join ac_mast  on (ac_mast.ac_id=m.ac_id)
	where asrtax > 0 order by m.date,m.entry_ty,m.tran_cd,m.serty

	DROP TABLE #serava
	
END
GO
