DROP PROCEDURE [USP_REP_EXCESS_STOCK]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lokesh.
-- Create date: 25/04/2012
-- Description:	This Stored procedure is useful to generate Sales vs Purchase details.
-- Modify date: 
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================

--EXECUTE USP_REP_EXCESS_STOCK '','','','04/01/2012','03/31/2013','','','','',0,0,'','','','','','','','','2012-2013',''

create procedure [USP_REP_EXCESS_STOCK]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Begin

SELECT esmain.TRAN_CD,esmain.DATE,esmain.INV_NO,esmain.[rule],AC_MAST.MAILNAME,
IT_MAST.[GROUP],esitem.QTY,
esitem.RATE,esitem.GRO_AMT,esitem.ITEM,esitem.batchno,ESITEM.MFGDT,esITEM.EXPDT FROM esmain INNER JOIN esitem ON 
(esmain.TRAN_CD=esitem.TRAN_CD)INNER JOIN AC_MAST ON (AC_MAST.AC_ID=esmain.AC_ID)
INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=esitem.IT_CODE)   
ORDER BY esmain.DATE,esmain.INV_NO
End

--set ANSI_NULLS Off
--go
--set QUOTED_IDENTIFIER Off
--go
--
--EXECUTE USP_REP_EXCESS_STOCK '','','','04/01/2012','03/31/2013','','','','',0,0,'','','','','','','','','2012-2013',''
GO
