IF EXISTS(SELECT XTYPE FROM SYSOBJECTS WHERE XTYPE='P' AND name ='USP_REP_WB_ANNEXURE_B')
BEGIN
 DROP PROCEDURE USP_REP_WB_ANNEXURE_B
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXECUTE USP_REP_WB_ANNEXURE_B'','','','04/01/2011','04/30/2015','','','','',0,0,'','','','','','','','','2011-2015',''
*/

-- =============================================
-- Author:		Sandeep S.
-- Create date: 23/04/2011
-- Description:	This Stored procedure is useful to generate WB VAT FOR ANNEXURE_B
-- Modify date/By/resson: 12/07/12/sandeep
-- Modify date/By/resson: 16/12/13/sandeep/bug-18327 
-- Modify By  : Sumit Gavate for Bug - 27105
-- Modify date: 10/03/2016
-- Remark:    : 
-- =============================================
CREATE  PROCEDURE [dbo].[USP_REP_WB_ANNEXURE_B]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)
DECLARE @AMTA2 NUMERIC(12,2),@AMTA3 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2),@AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2),@ITEMTYPE VARCHAR(1),@InvCount NUMERIC(12)
DECLARE @AMTA11 NUMERIC(12,2),@AMTA22 NUMERIC(12,2),@AMTA33 NUMERIC(12,2),@AMTA44 NUMERIC(12,2)
SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

----Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,NETAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #FORM_WBANN_B
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #FORM_WBANN_B add recno int identity

---Temporary Cursor2
--SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
--M.INV_NO,M.DATE,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
--STM.FORM_NM,AC1.S_TAX,Item=space(50),Qty=9999999999999999999.9999,ITEMTYPE=SPACE(1)

SELECT PART=3,PARTSR='AAA',SRNO='AAA'/*,RATE=99.99,*/,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=GRO_AMT,AMT4=M.TAXAMT
,PARTY_NM=AC1.AC_NAME,ITEMTYPE=SPACE(1),AC1.S_TAX,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3)
,M.INV_NO,COMMODITY=SPACE(50)--,EIT_NAME=SPACE(50)

INTO #FORMWBANN_B
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORM_WB7 Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo #FORM_WBANN_B Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----
--SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 
--Part -1
--SELECT  * FROM #FORM_WBANN_B a where bhent='PT'--  AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE='LOCAL' 
SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0
       ,@AMTA11=0,@AMTA22=0,@AMTA33=0,@AMTA44=0
SET @CHAR=65
print 'autoupdater11.0.8'
Declare @NETAMT AS NUMERIC (12,2) , @TAXONAMT as numeric(12,2),@TAXAMT1 as numeric(12,2),@ITEMAMT as numeric(12,2),@INV_NO as varchar(20	),@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),@FORM_NM as varchar(30),@S_TAX as varchar(30),@QTY as numeric(18,4),@ITEM_TYPE AS VARCHAR(1),@COMMODITY AS VARCHAR(50)

SELECT @NETAMT=0,@TAXONAMT=0,@TAXAMT1 =0,@ITEMAMT =0,@INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@FORM_NM='',@S_TAX ='',@QTY=0,@ITEMTYPE='',@COMMODITY=''
 

SELECT NETAMT=ISNULL(SUM(case when bhent in('PT','EP') then + a.vatonamt else -a.vatonamt end),0),
TAXAMT= ISNULL(SUM(case when bhent in('PT','EP') then + a.TAXAMT else -a.TAXAMT end),0)
,ITEMAMT = ISNULL(SUM(case when bhent in('PT','EP') then + a.vatonamt else -a.vatonamt end + case when bhent in('PT','EP') then + a.TAXAMT else -a.TAXAMT end),0)
,A.AC_NAME,'' as ITEMTYPE,A.S_TAX,A.ADDRESS,INV_NO=COUNT(distinct p.inv_no) ,COMMODITY=IT.EIT_NAME INTO #1 FROM VATTBL A
INNER Join LITEM_VW B On(A.BHENT = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD AND A.IT_CODE=B.IT_CODE AND A.ITSERIAL=B.ITSERIAL)
INNER JOIN IT_MAST IT ON (B.IT_CODE=IT.IT_CODE)
INNER JOIN VATMAIN_VW P ON (B.TRAN_cD=P.TRAN_cD AND B.ENTRY_tY=P.ENTRY_TY)
INNER JOIN AC_MAST AC1 ON (AC1.AC_ID=P.AC_ID)  
WHERE  A.BHENT IN ('EP','PT','CN','PR') AND A.ST_TYPE='LOCAL' and p.U_IMPORM not in ('Consignment Transfer','Branch Transfer')
AND (a.DATE BETWEEN @SDATE AND @EDATE) --and (NETAMT) > 50000-- AND B.DC_NO=''
GROUP BY A.S_TAX,A.Ac_Name,A.ADDRESS,IT.EIT_NAME 
ORDER BY INV_NO

--SELECT * FROM #1 where (NETAMT) > 50000

Declare cur_formWBANN_Baa cursor for

SELECT * FROM #1 where (NETAMT) > 50000

OPEN CUR_FORMWBANN_Baa
FETCH NEXT FROM CUR_FORMWBANN_Baa INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS,@INV_NO,@COMMODITY
WHILE (@@FETCH_STATUS=0)
BEGIN  
	INSERT INTO #FORMWBANN_B (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,PARTY_NM,ITEMTYPE,S_TAX,ADDRESS,INV_NO,COMMODITY) 
	VALUES (1,'1',CHAR(@CHAR),ISNULL(@NETAMT,0),ISNULL(@TAXAMT,0),ISNULL(@ITEMAMT,0),0,ISNULL(@PARTY_NM,''),
			ISNULL(@ITEMTYPE,''),ISNULL(@S_TAX,''),ISNULL(@ADDRESS,''),ISNULL(@INV_NO,''),ISNULL(@COMMODITY,''))
	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMWBANN_Baa INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS,@INV_NO,@COMMODITY
END
CLOSE CUR_FORMWBANN_Baa
DEALLOCATE CUR_FORMWBANN_Baa


SELECT @AMTA1 = ISNULL(SUM(AMT1),0),@AMTA2 = ISNULL(SUM(AMT2),0),@InvCount = ISNULL(SUM(CAST(INV_NO as int)),0) FROM #FORMWBANN_B WHERE  PARTSR='1'
INSERT INTO #FORMWBANN_B  (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,party_nm,inv_no,COMMODITY) VALUES (1,'1','X',@AMTA1,@AMTA2,0,0,'Total',cast(@InvCount as CHAR),'')


--Purchase of goods for direct use in business not exceeding rupees fifty thousand during the return period
--Total purchase of goods for direct use in business
--(i)Register dealer 
--(ii)Unregister dealer 

--Select sum(NET_AMT)  FROM #FORM_WBANN_B WHERE BHENT In('PT')/*,'EP','CN')*/ AND (DATE BETWEEN @SDATE AND @EDATE)  and st_type='Local'  AND S_TAX <>'' and  sum(net_amt)< 50000 
--SELECT * FROM #1 where (NETAMT) < 50000
SELECT * into #rg11 FROM #1 where  S_TAX <>'' and  NETAMT < 50000
--select * from #rg11
--select * from #urg111
select @AMTA11 = ISNULL(sum(netamt),0),@AMTA22 = ISNULL(sum(taxamt),0) from #rg11 
drop table #rg11

SELECT * into #urg111 FROM #1 where S_TAX ='' and  NETAMT < 50000
select @AMTA33 = ISNULL(sum(netamt),0),@AMTA44 = ISNULL(sum(taxamt),0) from #urg111
drop table #urg111
INSERT INTO #FORMWBANN_B  (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,AMT4,party_nm,COMMODITY) VALUES (1,'1','1A',@AMTA11,@AMTA22,@AMTA33,@AMTA44,'','')

--Part -II :Details of sales effected by dealer in excess of rupees fifty thousand to registered
--dealers within West Bengal during return period

SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0 

--Part -II
--SELECT  * FROM #FORM_WBANN_B a where bhent='PT'--  AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE='LOCAL' 

--->

SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0
       ,@AMTA11=0,@AMTA22=0,@AMTA33=0

SET @CHAR=65

SELECT NETAMT=SUM(A.VATONAMT) ,TAXAMT=SUM(A.TAXAMT),ITEMAMT=SUM(A.VATONAMT + A.TAXAMT),B.PARTY_NM,'' as ITEMTYPE
,A.S_TAX,A.ADDRESS,inv_no=count(distinct p.INV_NO),COMMODITY=IT.EIT_NAME into #2 FROM VATTBL A
INNER Join LITEM_VW B On(A.BHENT = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD AND A.IT_CODE=B.IT_CODE AND A.ITSERIAL=B.ITSERIAL)
INNER JOIN IT_MAST IT ON (B.IT_CODE=IT.IT_CODE)
INNER JOIN VATMAIN_VW P ON (B.TRAN_cD=P.TRAN_cD AND B.ENTRY_tY=P.ENTRY_tY)
INNER JOIN AC_MAST AC1 ON (AC1.AC_ID=P.AC_ID)  
WHERE  A.BHENT IN ('ST')  AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE='LOCAL' AND 
p.U_IMPORM not in ('Consignment Transfer','Branch Transfer') AND A.S_TAX<>''
GROUP BY A.S_TAX,B.PARTY_NM,A.Address,IT.EIT_NAME
ORDER BY b.party_nm


Declare cur_formWBANN_Bbb cursor for

select * from #2 where  (netamt) > 50000

OPEN CUR_FORMWBANN_Bbb
FETCH NEXT FROM CUR_FORMWBANN_Bbb INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS,@INV_NO,@COMMODITY
WHILE (@@FETCH_STATUS=0)
BEGIN
	INSERT INTO #FORMWBANN_B (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,PARTY_NM,ITEMTYPE,S_TAX,ADDRESS,INV_NO,COMMODITY) 
	VALUES (1,'2',CHAR(@CHAR),ISNULL(@NETAMT,0),ISNULL(@TAXAMT,0),ISNULL(@ITEMAMT,0),ISNULL(@PARTY_NM,''),ISNULL(@ITEMTYPE,'')
			,ISNULL(@S_TAX,''),ISNULL(@ADDRESS,''),ISNULL(@INV_NO,''),ISNULL(@COMMODITY,''))
	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMWBANN_Bbb INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS,@INV_NO,@COMMODITY  
END
CLOSE CUR_FORMWBANN_Bbb
DEALLOCATE CUR_FORMWBANN_Bbb

SELECT @AMTA1 = ISNULL(SUM(AMT1),0),@AMTA2 = ISNULL(SUM(AMT2),0),@InvCount = ISNULL(SUM(CAST(INV_NO as int)),0) FROM #FORMWBANN_B WHERE  PARTSR='2'
INSERT INTO #FORMWBANN_B  (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,party_nm,inv_no,COMMODITY) VALUES (1,'2','X',@AMTA1,@AMTA2,0,'Total',cast(@InvCount as CHAR),'')

--Purchase of goods for direct use in business not exceeding rupees fifty thousand during the return period
--Total purchase of goods for direct use in business
--(i)Register dealer 
SELECT * into #rg22 FROM #2 where  S_TAX <>'' and  NETAMT < 50000
--SELECT * into #111 FROM #1 where S_TAX ='' and  NETAMT < 50000
select @AMTA11 = ISNULL(sum(netamt),0),@AMTA22 = ISNULL(sum(taxamt),0) from #rg22
--select @AMTA33=sum(netamt),@AMTA44=sum(taxamt) from #111 

drop table #rg22
--drop table #111 

--SELECT @AMTA11=SUM(NET_AMT),@AMTA22=SUM(TAXAMT) from (Select Distinct Tran_cd,NET_AMT,TAXAMT  FROM #FORM_WBANN_B WHERE BHENT In('ST')/*,'EP','CN')*/ AND (DATE BETWEEN @SDATE AND @EDATE)  and st_type='Local'  AND S_TAX <>'' and (NET_AMT)< 50000 ) b
--SET @AMTA4=CASE WHEN @AMTA4 IS NULL THEN 0 ELSE @AMTA4 END

INSERT INTO #FORMWBANN_B  (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,party_nm,COMMODITY) VALUES (1,'2','2A',@AMTA11,@AMTA22,0,'','')


--Part -III
--SELECT  * FROM #FORM_WBANN_B a where bhent='PT'--  AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE='LOCAL' 


SELECT @AMTA1=0,@AMTB1=0,@AMTC1=0,@AMTD1=0,@AMTE1=0,@AMTF1=0,@AMTG1=0,@AMTH1=0,@AMTI1=0,@AMTJ1=0,@AMTK1=0,@AMTL1=0,@AMTM1=0,@AMTN1=0,@AMTO1=0
       ,@AMTA11=0,@AMTA22=0,@AMTA33=0

SET @CHAR=65


SELECT NETAMT=SUM(a.VATONAMT) ,TAXAMT=SUM(A.TAXAMT),ITEMAMT=SUM(A.VATONAMT),B.PARTY_NM,'' as ITEMTYPE
,A.S_TAX,A.ADDRESS,inv_no=count(distinct p.INV_NO),COMMODITY=IT.EIT_NAME into #3 FROM VATTBL A
INNER Join LITEM_VW B On(A.BHENT = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD AND A.IT_CODE=B.IT_CODE AND A.ITSERIAL=B.ITSERIAL)
INNER JOIN IT_MAST IT ON (B.IT_CODE=IT.IT_CODE) INNER JOIN VATMAIN_VW P ON (B.TRAN_cD=P.TRAN_cD AND B.ENTRY_tY=P.ENTRY_tY)
INNER JOIN AC_MAST AC1 ON (AC1.AC_ID=P.AC_ID) WHERE  A.BHENT IN ('ST')  AND (A.DATE BETWEEN @SDATE AND @EDATE) AND A.ST_TYPE='LOCAL' 
AND A.S_TAX = '' AND p.U_IMPORM not in ('Consignment Transfer','Branch Transfer') 
GROUP BY A.S_TAX,B.PARTY_NM,A.ADDRESS,IT.EIT_NAME
ORDER BY b.party_nm

Declare cur_formWBANN_Bcc cursor for
select * from #3 where  (netamt) > 50000

OPEN CUR_FORMWBANN_Bcc
FETCH NEXT FROM CUR_FORMWBANN_Bcc INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS,@INV_NO,@COMMODITY
WHILE (@@FETCH_STATUS=0)
BEGIN
	INSERT INTO #FORMWBANN_B (PART,PARTSR,SRNO,AMT1,AMT2,AMT3,PARTY_NM,ITEMTYPE,S_TAX,ADDRESS,INV_NO,COMMODITY) 
	VALUES (1,'3',CHAR(@CHAR),ISNULL(@NETAMT,0),ISNULL(@TAXAMT,0),ISNULL(@ITEMAMT,0),ISNULL(@PARTY_NM,''),
	ISNULL(@ITEMTYPE,''),ISNULL(@S_TAX,''),ISNULL(@ADDRESS,''),ISNULL(@INV_NO,''),ISNULL(@COMMODITY,''))

	SET @CHAR=@CHAR+1
	FETCH NEXT FROM CUR_FORMWBANN_Bcc INTO @NETAMT,@TAXAMT,@ITEMAMT,@PARTY_NM,@ITEMTYPE,@S_TAX,@ADDRESS,@INV_NO,@COMMODITY  
END
CLOSE CUR_FORMWBANN_Bcc
DEALLOCATE CUR_FORMWBANN_Bcc

SELECT @AMTA1 = ISNULL(SUM(AMT1),0),@AMTA2 = ISNULL(SUM(AMT2),0),@InvCount = ISNULL(SUM(CAST(INV_NO as int)),0) FROM #FORMWBANN_B WHERE  PARTSR='3'

--Purchase of goods for direct use in business not exceeding rupees fifty thousand during the return period
--Total purchase of goods for direct use in business
--(i)UnRegister dealer 

SELECT * into #urg33 FROM #3 where  S_TAX ='' and  NETAMT < 50000
--SELECT * into #111 FROM #1 where S_TAX ='' and  NETAMT < 50000
--select @AMTA33=sum(netamt),@AMTA44=sum(taxamt) from #111 

drop table #urg33
--drop table #111 

--SELECT @AMTA11=SUM(VATONAMT),@AMTA22=SUM(TAXAMT) from (Select Distinct Tran_cd,VATONAMT,TAXAMT  FROM #FORM_WBANN_B WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE)  and st_type='Local'  AND S_TAX ='' and (NET_AMT) < 50000 ) b
--SET @AMTA4=CASE WHEN @AMTA4 IS NULL THEN 0 ELSE @AMTA4 END



--PART - IV - Aggregate amount of goods despatched outside the State of West Bengal otherwise than by way of sale
-- and aggregate amount of goods despatched within West Bengal otherwise than by way of sale

--(i)Amount of goods despatched outside the State of West Bengal otherwise than by way of sale 

SELECT @AMTA11 = ISNULL(SUM(VATONAMT),0),@AMTA22 = ISNULL(SUM(TAXAMT),0) from (Select Distinct Tran_cd,VATONAMT,TAXAMT  FROM VATTBL 
WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE)  and st_type='OUT OF STATE'  AND U_IMPORM in ('Consignment Transfer','Branch Transfer'))b

--(ii)Amount of goods despatched within West Bengal otherwise than by way of sale 

SELECT @AMTA11 = ISNULL(SUM(VATONAMT),0),@AMTA22 = ISNULL(SUM(TAXAMT),0) from (Select Distinct Tran_cd,VATONAMT,TAXAMT  FROM VATTBL 
WHERE BHENT In('ST') AND (DATE BETWEEN @SDATE AND @EDATE)  and st_type='LOCAL'  AND U_IMPORM in ('Consignment Transfer','Branch Transfer')) b
Update #FORMWBANN_B set  PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,'')--,RATE = isnull(RATE,0),
		             ,AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), AMT4 = isnull(AMT4,0), PARTY_NM = isnull(Party_nm,''), ITEMTYPE = isnull(ITEMTYPE,''),
					 S_TAX = isnull(S_TAX,''),ADDRESS = ISNULL(ADDRESS,''),INV_NO = ISNULL(INV_NO,''),COMMODITY = ISNULL(COMMODITY,'')
					 --FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,'')--, Qty = isnull(Qty,0),  ITEM =isnull(item,''),


SELECT * FROM #FORMWBANN_B order by cast(substring(partsr,1,case when (isnumeric(substring(partsr,1,2))=1) then 2 else 1 end) as int)
END

drop table #1 
drop table #2
drop table #3