if EXISTS (SELECT * FROM SYSOBJECTS WHERE XTYPE = 'P' AND [NAME] ='USP_REP_VATCOMPUTATION')
begin
drop procedure USP_REP_VATCOMPUTATION
end

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



-- =============================================
-- AUTHOR:		RUPESH 
-- CREATE DATE: 07/05/2011
-- DESCRIPTION:	THIS STORED PROCEDURE IS USEFUL TO GENERATE VAT COMPUTATION
-- MODIFY DATE: 
-- MODIFIED BY: 
-- MODIFY DATE: 
-- REMARK:
-- =============================================
Create PROCEDURE [dbo].[USP_REP_VATCOMPUTATION]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

BEGIN
DECLARE @FCON AS NVARCHAR(2000),@FCON1 AS NVARCHAR(2000)
EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE=NULL,@VITFILE='A',@VACFILE=NULL
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

EXECUTE   USP_REP_FILTCON 

@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE=NULL,@VITFILE='A',@VACFILE=NULL
,@VDTFLD ='U_CLDT'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON1 OUTPUT
PRINT  @FCON
PRINT  @FCON1
DECLARE @SQLCOMMAND NVARCHAR(4000)
SET @SQLCOMMAND=''
Declare @TBLNM as VARCHAR(50),@TBLNAME1 as VARCHAR(50),@TBLNAME2 as VARCHAR(50)
Set @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
				+ (DATEPART(ss, GETDATE()) * 1000 )
				+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
Set @TBLNAME1 = '##TMP1'+@TBLNM
Set @TBLNAME2 = '##TMP2'+@TBLNM


SELECT ENTRY_TY,BCODE=(CASE WHEN EXT_VOU=1 THEN BCODE_NM ELSE ENTRY_TY END)  INTO #LCODE FROM LCODE

SET @SQLCOMMAND=@SQLCOMMAND + 'SELECT PART=1,A.TAX_NAME,TAXONAMT=SUM(A.GRO_AMT+A.TOT_FDISC-A.TOT_NONTAX-A.TAXAMT) '
SET @SQLCOMMAND=@SQLCOMMAND + ',OPAMT=SUM(CASE WHEN (L.BCODE=''OB'' OR A.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN TAXAMT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',TAXAMT=SUM(CASE WHEN (L.BCODE<>''OB'' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN TAXAMT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',SRNO1=1 '  --'OUTPUT'    
SET @SQLCOMMAND=@SQLCOMMAND + 'INTO ' + @TBLNAME1 
SET @SQLCOMMAND=@SQLCOMMAND + ' FROM VAT_ITEM_VW A '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN #LCODE L ON (A.ENTRY_TY=L.ENTRY_TY) ' 
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN STAX_MAS S ON A.TAX_NAME=S.TAX_NAME and a.Entry_ty=s.Entry_ty'
SET @SQLCOMMAND=@SQLCOMMAND + @FCON
SET @SQLCOMMAND=@SQLCOMMAND + ' AND UPPER(A.VATTYPE)=''OUTPUT'' AND A.TAXAMT<>0 AND S.ST_TYPE='+char(39)+'LOCAL'+char(39)
SET @SQLCOMMAND=@SQLCOMMAND + ' GROUP BY A.TAX_NAME '

SET @SQLCOMMAND= @SQLCOMMAND + ' UNION ' 

SET @SQLCOMMAND=@SQLCOMMAND + 'SELECT PART=1,AC.TAX_NAME,TAXONAMT=0 '
SET @SQLCOMMAND=@SQLCOMMAND + ',OPAMT=SUM(CASE WHEN (L.BCODE=''OB'' OR A.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN A.AMOUNT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',TAXAMT=SUM(CASE WHEN (L.BCODE<>''OB'' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN A.AMOUNT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',SRNO1=2 ' --'ADJUSTED' 
SET @SQLCOMMAND=@SQLCOMMAND + 'FROM JVACDET A INNER JOIN AC_MAST AC ON(A.AC_ID=AC.AC_ID) '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN #LCODE L ON (A.ENTRY_TY=L.ENTRY_TY)  '
SET @SQLCOMMAND=@SQLCOMMAND + @FCON
SET @SQLCOMMAND=@SQLCOMMAND + 'AND  UPPER(AC.TYP)=''OUTPUT VAT'' AND A.AMT_TY=''DR'' AND ISNULL(AC.TAX_NAME,'''')<>'''' '
SET @SQLCOMMAND=@SQLCOMMAND + 'GROUP BY AC.TAX_NAME  '

SET @SQLCOMMAND= @SQLCOMMAND + ' UNION ' 

SET @SQLCOMMAND=@SQLCOMMAND + 'SELECT PART=2,A.TAX_NAME,TAXONAMT=SUM(A.GRO_AMT+A.TOT_FDISC-A.TOT_NONTAX-A.TAXAMT- ADDLVAT1)   '
SET @SQLCOMMAND=@SQLCOMMAND + ',OPAMT=SUM(CASE WHEN (L.BCODE=''OB'' OR A.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN TAXAMT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',TAXAMT=SUM(CASE WHEN (L.BCODE<>''OB'' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN TAXAMT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',SRNO1=3 '--'INPUT' 
SET @SQLCOMMAND=@SQLCOMMAND + 'FROM VAT_ITEM_VW A  '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN #LCODE L ON (A.ENTRY_TY=L.ENTRY_TY)  '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN STAX_MAS S ON A.TAX_NAME=S.TAX_NAME and a.Entry_ty=s.Entry_ty'
SET @SQLCOMMAND=@SQLCOMMAND + @FCON
SET @SQLCOMMAND=@SQLCOMMAND + 'AND  UPPER(A.VATTYPE)=''INPUT'' AND A.TAXAMT<>0 AND S.ST_TYPE='+char(39)+'LOCAL'+char(39)
SET @SQLCOMMAND=@SQLCOMMAND + 'GROUP BY A.TAX_NAME  '

SET @SQLCOMMAND= @SQLCOMMAND + ' UNION ' 

SET @SQLCOMMAND=@SQLCOMMAND + 'SELECT PART=2,AC.TAX_NAME,TAXONAMT=0 '
SET @SQLCOMMAND=@SQLCOMMAND + ',OPAMT=SUM(CASE WHEN (L.BCODE=''OB'' OR A.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN A.AMOUNT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',TAXAMT=SUM(CASE WHEN (L.BCODE<>''OB'' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN A.AMOUNT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',SRNO1=4 '--'UTILIZED' 
SET @SQLCOMMAND=@SQLCOMMAND + 'FROM JVACDET A INNER JOIN AC_MAST AC ON(A.AC_ID=AC.AC_ID)  '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN #LCODE L ON (A.ENTRY_TY=L.ENTRY_TY)  '
SET @SQLCOMMAND=@SQLCOMMAND + @FCON
SET @SQLCOMMAND=@SQLCOMMAND + 'AND UPPER(AC.TYP)=''INPUT VAT'' AND A.AMT_TY=''CR'' AND ISNULL(AC.TAX_NAME,'''')<>'''' '
SET @SQLCOMMAND=@SQLCOMMAND + ' GROUP BY AC.TAX_NAME '

SET @SQLCOMMAND= @SQLCOMMAND + ' UNION ' 

SET @SQLCOMMAND=@SQLCOMMAND + 'SELECT PART=3,TAX_NAME= '''',TAXONAMT=0 '
SET @SQLCOMMAND=@SQLCOMMAND + ',OPAMT=SUM(CASE WHEN (L.BCODE=''OB'' OR A.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN A.AMOUNT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',TAXAMT=SUM(CASE WHEN (L.BCODE<>''OB'' AND A.DATE>= '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN A.AMOUNT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',SRNO1=5 ' --'PAYABLE' 
SET @SQLCOMMAND=@SQLCOMMAND + 'FROM LAC_VW A  '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN AC_MAST AC ON(A.AC_ID=AC.AC_ID) '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN #LCODE L ON (A.ENTRY_TY=L.ENTRY_TY) '
SET @SQLCOMMAND=@SQLCOMMAND + @FCON
SET @SQLCOMMAND=@SQLCOMMAND + 'AND UPPER(AC.TYP) = ''VAT PAYABLE'' AND AMT_TY = ''CR'' '

SET @SQLCOMMAND= @SQLCOMMAND + ' UNION ' 

SET @SQLCOMMAND=@SQLCOMMAND + 'SELECT PART=3,TAX_NAME= '''',TAXONAMT=0 '
SET @SQLCOMMAND=@SQLCOMMAND + ',OPAMT=SUM(CASE WHEN L.BCODE=''OB'' OR A.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.AMOUNT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',TAXAMT=SUM(CASE WHEN L.BCODE<>''OB'' AND A.DATE>= '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.AMOUNT ELSE 0 END) '
SET @SQLCOMMAND=@SQLCOMMAND + ',SRNO1=6 ' --'PAID' 
SET @SQLCOMMAND=@SQLCOMMAND + 'FROM LAC_VW A  '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN AC_MAST AC ON(A.AC_ID=AC.AC_ID)  '
SET @SQLCOMMAND=@SQLCOMMAND + 'INNER JOIN #LCODE L ON (A.ENTRY_TY=L.ENTRY_TY)  '
SET @SQLCOMMAND=@SQLCOMMAND + @FCON1
SET @SQLCOMMAND=@SQLCOMMAND + 'AND UPPER(AC.TYP) = ''VAT PAYABLE'' AND AMT_TY= ''DR'' '

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND


SET @SQLCOMMAND='SELECT PART,TAX_NAME,TAXONAMT,OPBAL=TAXAMT,RECEIPT=TAXAMT,ISSUE=TAXAMT,BALANCE=TAXAMT INTO '+ @TBLNAME2+' FROM '+ @TBLNAME1 +' WHERE 1=2'
-- PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND


SET @SQLCOMMAND='INSERT INTO '+@TBLNAME2+' (PART,TAX_NAME,TAXONAMT,OPBAL,RECEIPT,ISSUE,BALANCE)
SELECT PART,TAX_NAME
,TAXONAMT=SUM(CASE WHEN SRNO1=1 THEN TAXONAMT ELSE 0 END)  
,OPBAL=SUM(CASE WHEN SRNO1=1 THEN OPAMT ELSE -OPAMT END)
,RECEIPT=SUM(CASE WHEN SRNO1=1 THEN TAXAMT ELSE 0 END)
,ISSUE=SUM(CASE WHEN SRNO1=1 THEN 0 ELSE TAXAMT END)
,BALANCE=SUM(CASE WHEN SRNO1=1 THEN OPAMT ELSE -OPAMT END)+ SUM(CASE WHEN SRNO1=1 THEN TAXAMT ELSE -TAXAMT END)
FROM '+@TBLNAME1+' WHERE PART=1
GROUP BY TAX_NAME,PART'  --Output
EXECUTE SP_EXECUTESQL @SQLCOMMAND


SET @SQLCOMMAND='INSERT INTO '+@TBLNAME2+' (PART,TAX_NAME,TAXONAMT,OPBAL,RECEIPT,ISSUE,BALANCE)
SELECT PART,TAX_NAME
,TAXONAMT=SUM(CASE WHEN SRNO1=3 THEN TAXONAMT ELSE 0 END)
,OPBAL=SUM(CASE WHEN SRNO1=3 THEN OPAMT ELSE -OPAMT END)
,RECEIPT=SUM(CASE WHEN SRNO1=3 THEN TAXAMT ELSE 0 END)
,ISSUE=SUM(CASE WHEN SRNO1=3 THEN 0 ELSE TAXAMT END)
,BALANCE=SUM(CASE WHEN SRNO1=3 THEN OPAMT ELSE -OPAMT END) + SUM(CASE WHEN SRNO1=3 THEN TAXAMT ELSE -TAXAMT END)
FROM '+@TBLNAME1+' WHERE PART=2
GROUP BY TAX_NAME,PART' --'Input' 
EXECUTE SP_EXECUTESQL @SQLCOMMAND


SET @SQLCOMMAND='INSERT INTO '+@TBLNAME2+' (PART,TAX_NAME,TAXONAMT,OPBAL,RECEIPT,ISSUE,BALANCE)
SELECT PART,TAX_NAME
,TAXONAMT=SUM(CASE WHEN SRNO1=5 THEN TAXONAMT ELSE 0 END)
,OPBAL=SUM(CASE WHEN SRNO1=5 THEN OPAMT ELSE -OPAMT END)
,RECEIPT=SUM(CASE WHEN SRNO1=5 THEN TAXAMT ELSE 0 END)
,ISSUE=SUM(CASE WHEN SRNO1=5 THEN 0 ELSE TAXAMT END)
,BALANCE=SUM(CASE WHEN SRNO1=5 THEN OPAMT ELSE -OPAMT END) + SUM(CASE WHEN SRNO1=5 THEN TAXAMT ELSE -TAXAMT END)
FROM '+@TBLNAME1+' WHERE PART=3
GROUP BY TAX_NAME,PART'  --'Payable
EXECUTE SP_EXECUTESQL @SQLCOMMAND

--SET @SQLCOMMAND='SELECT * FROM '+@TBLNAME1+' ORDER BY PART,TAX_NAME'
--print @SQLCOMMAND
SET @SQLCOMMAND='SELECT * FROM '+@TBLNAME2+' ORDER BY PART,TAX_NAME'
print @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

 --SELECT * FROM #VAT1 ORDER BY PART,SRNO1,TAX_NAME 

SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME1
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND=' '
SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME2
EXECUTE SP_EXECUTESQL @SQLCOMMAND
END 