If Exists(Select [name] From SysObjects Where xType='P' and [name]='USP_REP_PoSCashOut')
Begin
	Drop Procedure USP_REP_PoSCashOut
End
GO
/****** Object:  StoredProcedure [dbo].[USP_REP_PoSCashOut]    Script Date: 12/18/2018 12:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Procedure [dbo].[USP_REP_PoSCashOut]
@UserName Varchar(50),@Date varchar(15),@CompID int,@Trancd varchar(10)
as 
DECLARE @SQLSTR nvarchar(4000)
Begin			
	SET @SQLSTR =''
	SET @SQLSTR =	'	SELECT ROW_NUMBER() OVER(ORDER BY INV_NO) AS Rownm, Inv_no,Date,Cash1x,cash2x,cash5x,cash10x,cash20x,cash50x,cash100x,cash200x,cash500x,
						cash1000x,cash2000x,totcashamt AS CashAmt,UserName,PayMode=SPACE(20),TotaLValue=0,RoundOff INTO ##cashhandover
						FROM POSCashOut WHERE USERNAME='''+@UserName+''' AND Tran_cd='''+@Trancd+'''
						UNION
						SELECT Rownm=0,Inv_no=''PSPAY'',DC.Date,Cash1x=0,cash2x=0,cash5x=0,cash10x=0,cash20x=0,cash50x=0,cash100x=0,cash200x=0,cash500x=0,
						cash1000x=0,cash2000x=0,totcashamt=0,UserName=SPACE(15),PayMode,SUM(ISNULL(TotaLValue,0)) AS TOTALVALUE, roundoff=0
						FROM PSPAYDETAIL PS INNER JOIN DCMAIN DC ON PS.Tran_cd = DC.Tran_cd
						WHERE ISNULL(DC.POSOUTTRAN,0)='+@Trancd+' AND DC.ENTRY_TY in (''PS'',''HS'') AND dc.[user_name]='''+@UserName+'''
						group by PayMode,DC.Date,PS.Entry_ty'		
	print @SQLSTR														
	EXEC SP_EXECUTESQL  @SQLSTR	
	
	SET @SQLSTR =''
	SET @SQLSTR =   'SELECT ROW_NUMBER() OVER(ORDER BY USER_NAME) as Row ,ItemGrosAmt = SUM(ISNULL(A.gro_amt,0)),ItemTaxAmt=sum(ISNULL(A.taxamt,0)),
					ItemDiscount=SUM(ISNULL(A.tot_fdisc,0)),ItemTotal=SUM(ISNULL(A.gro_amt,0))-sum(ISNULL(A.taxamt,0))-SUM(ISNULL(A.tot_fdisc,0))
					INTO ##TmpDcItem FROM DCITEM A INNER JOIN DCMAIN B ON A.TRAN_CD=B.TRAN_CD 
					WHERE ISNULL(POSOUTTRAN,0)='+@Trancd+' AND B.entry_ty in (''PS'',''HS'') AND B.[user_name]='''+@UserName+''' and Convert(Varchar,B.[date],103)='''+@Date+'''
					GROUP BY B.[USER_NAME]'
	print @SQLSTR
	EXEC SP_EXECUTESQL  @SQLSTR	
	
	SET @SQLSTR =''
	SET @SQLSTR =   'SELECT ROW_NUMBER() OVER(ORDER BY USER_NAME) as Row,MainTaxAmt=SUM(ISNULL(taxamt,0)),
					MainDiscount=SUM(ISNULL(tot_fdisc,0)), ISNULL(Count(*),0) as Bills
					INTO ##TmpDcMain FROM DCMAIN WHERE ISNULL(POSOUTTRAN,0)='+@Trancd+' AND entry_ty in (''PS'',''HS'') AND [user_name]='''+@UserName+''' and Convert(Varchar,[date],103)='''+@Date+'''
					GROUP BY [USER_NAME]' 
					print 1
	print @SQLSTR
	EXEC SP_EXECUTESQL  @SQLSTR	
	
	SET @SQLSTR =''
	SET @SQLSTR =   'Select ROW_NUMBER() over(order by bills) as ROWNM,Bills,GrosAmount=SUM(ItemTotal),TaxAmount=Sum(ItemTaxAmt)+Sum(MainTaxAmt),DiscountAmt=Sum(ItemDiscount)-Sum(MainDiscount),
					NetAmount=Sum(ItemTotal)+Sum(ItemTaxAmt)+Sum(MainTaxAmt)+Sum(ItemDiscount)-Sum(MainDiscount) into ##totaldc FROM ##TmpDcMain A INNER JOIN ##TmpDcItem B
					ON A.Row=B.Row GROUP BY Bills'
	print @SQLSTR
	EXEC SP_EXECUTESQL  @SQLSTR						
	
	select a.*,Bills,GrosAmount,TaxAmount,Discountamt,NetAmount from ##cashhandover a
	left join ##totaldc b on (a.RowNM=b.rownm)
	ORDER BY A.INV_NO
		
	Drop Table ##TmpDcItem
	Drop Table ##TmpDcMain
	drop table ##totaldc
	Drop table ##cashhandover	
end


--EXECUTE USP_REP_POS_RPT 'ADMIN','30/01/2016',1,'32'