DROP PROCEDURE [USP_REP_SALES_VS_PURCHASE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lokesh.
-- Create date: 25/04/2012
-- Description:	This Stored procedure is useful to generate Sales vs Purchase details.
-- Modify date: 
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================

--EXECUTE USP_REP_SALES_VS_PURCHASE '','','','04/01/2012','03/31/2013','','','','',0,0,'','','','','','','','','2012-2013',''

CREATE procedure [USP_REP_SALES_VS_PURCHASE]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Begin
SELECT DCI.[DATE],DCM.INV_NO AS [Excise Inv],DCM.U_COMINV AS [Commercial Inv],DCM.U_CUSTCODE AS [Customer Code]
,DCM.PARTY_NM AS [Customer Name]
,LTRIM(RTRIM(ACM1.AC_NAME))+', '+LTRIM(RTRIM(ACM1.ADD1))+', '+LTRIM(RTRIM(ACM1.ADD2))+', '+LTRIM(RTRIM(ACM1.ADD3))+', '+LTRIM(RTRIM(ACM1.CITY))+', '+LTRIM(RTRIM(ACM1.ZIP))+', '+LTRIM(RTRIM(ACM1.PHONE)) AS [Delivery Address]
,DCM.U_TPONO AS [PO No],DCM.U_TPODATE AS [PO Date],ACM.I_TAX AS [TIN No],ACM.C_TAX AS [CST No]
,DCI.ITEM AS [Product Description],CAST(ROUND(DCI.QTY,2) AS DECIMAL(18,2)) AS [Qty Sold in KG],DCI.U_NUMOFPKG AS [No of Packages],DCI.U_BASICPRC AS [Basic Price / KG]
,CAST(ROUND(((DCI.EXAMT+DCI.U_CESSAMT+DCI.U_HCESAMT+DCI.U_CVDAMT)/DCI.QTY),2) AS DECIMAL(10,2)) AS [CVD/KG],CAST(ROUND(DCI.RATE,2) AS DECIMAL(18,2)) AS [Unit Price Incl.Duties in INR / KG]
,DCI.U_ASSEAMT AS [Total Inv Value(ExclSalesTax)]
,(CASE WHEN DCI.TAX_NAME LIKE 'V%' THEN DCI.TAXAMT ELSE 0 END) AS VAT
,(CASE WHEN DCI.TAX_NAME LIKE 'C%' THEN DCI.TAXAMT ELSE 0 END) AS CST
,(DCI.U_ASSEAMT+DCI.TAXAMT) AS [Total Inv Value(InclSalesTax)]
,DCM.U_SUPTERMS AS [Supply terms]
,DCM.U_PAYTERMS AS [Payment Terms]
,ARM.U_PINVNO AS [Bill of Entry No],ARM.U_PINVDT AS [BE Date], ITM.CHAPNO AS [Tariff No],CAST(ROUND(DCI.EXAMT,2) AS DECIMAL(18,2)) AS [Total Amount of Excise]
,DCI.U_CESSAMT AS [Total Amount of Cess], (DCI.U_HCESAMT+DCI.U_CVDAMT) AS [Total Amount of Spl.CVD S&H Cess]
,CAST(ROUND((DCI.EXAMT+DCI.U_CESSAMT+DCI.U_HCESAMT+DCI.U_CVDAMT),2) AS DECIMAL(18,2)) AS [TOTAL]
,CAST(ROUND(((DCI.U_ASSEAMT) -(DCI.EXAMT+DCI.U_CESSAMT+DCI.U_HCESAMT+DCI.U_CVDAMT)),2) AS DECIMAL(18,2)) AS [Net Basic(Excl CVD)]
,ARI.U_CNSINVRE AS [Purchase consignment Inv.no ref]
,ARI.U_CNSINVDT AS [Purchase consignment Inv.no.date]
,ARI.ITEM AS [Description],CAST(ROUND(ARI.QTY,2)AS DECIMAL(18,2)) AS [Qty Purchased],CAST(ROUND(ARI.TOT_EXAMT,2) AS DECIMAL(18,2)) AS [Total Duty]
FROM LITEMALL LIA
INNER JOIN DCMAIN DCM ON (DCM.TRAN_CD=LIA.TRAN_CD)
INNER JOIN DCITEM DCI ON (DCI.TRAN_CD=LIA.TRAN_CD AND DCI.ITSERIAL=LIA.ITSERIAL)
INNER JOIN AC_MAST ACM ON (ACM.AC_ID=DCM.AC_ID)
INNER JOIN AC_MAST ACM1 ON (ACM1.AC_ID=DCM.CONS_ID)
INNER JOIN ARMAIN ARM ON (ARM.TRAN_CD=LIA.PTRAN_CD)
INNER JOIN ARITEM ARI ON (ARI.TRAN_CD=ARM.TRAN_CD AND ARI.ITSERIAL=LIA.PITSERIAL)
INNER JOIN IT_MAST ITM ON (ITM.IT_CODE=DCI.IT_CODE)
WHERE DCI.DATE>=@SDATE AND DCI.DATE<=@EDATE
ORDER BY DCM.INV_NO,DCM.U_COMINV
End

--set ANSI_NULLS Off
--go
--set QUOTED_IDENTIFIER Off
--go
--
--EXECUTE USP_REP_SALES_VS_PURCHASE '','','','04/01/2012','03/31/2013','','','','',0,0,'','','','','','','','','2012-2013',''
GO
