If Exists (Select [name] From SysObjects Where xType='P' and [name]='USP_REP_ER6')
Begin
	Drop Procedure USP_REP_ER6
End
Go
-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 16/05/2007
-- Description:	This is useful for Excise Er-6 report.
-- Modified By: Rupesh
-- Modify date: 10/11/2008 Modified for Principal Input. and 0 Finished Goods qty for Multiple record for the same Finished Goods
-- Modification Date/By/Reason: 08/10/2009 Rupesh Prajapati. Modified for part 5 for scrap item type.
-- Modification Date/By/Reason : 17/12/12 - Vasant - Added Chapter No. Field for eFiling. - Bug-229
-- Modification Date/By/Reason : 13/01/2014 by Shrikant S. for Bug-20752
-- Modification Date/By/Reason : 28/12/2014 by Shrikant S. for Bug-24966
-- Remark:
-- =============================================
Create PROCEDURE [dbo].[USP_REP_ER6]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE='EX_VW_ACDET '
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT



DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(4000)

SELECT  PRIN_IN,STKL_VW_ITEM.ENTRY_TY,BEH=(CASE WHEN LCODE.BCODE_NM IS NOT NULL AND LCODE.BCODE_NM<>' ' THEN LCODE.BCODE_NM ELSE STKL_VW_ITEM.ENTRY_TY END),STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,STKL_VW_MAIN.[RULE],IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.EXRATEUNIT,STKL_VW_MAIN.L_YN 
INTO #TITEM FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD )
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)
INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)
WHERE 1=2

SET @SQLCOMMAND='INSERT INTO  #TITEM SELECT  IT_MAST.PRIN_IN,STKL_VW_ITEM.ENTRY_TY,BEH=(CASE WHEN LCODE.BCODE_NM IS NOT NULL AND LCODE.BCODE_NM<>'+ CHAR(39)+' '+CHAR(39)+' THEN LCODE.BCODE_NM ELSE STKL_VW_ITEM.ENTRY_TY END),STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,STKL_VW_MAIN.[RULE],IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,EXRATEUNIT=(CASE WHEN IT_MAST.EXRATEUNIT<>'+CHAR(39)+' '+CHAR(39)+ ' THEN IT_MAST.EXRATEUNIT ELSE IT_MAST.RATEUNIT END),STKL_VW_MAIN.L_YN'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  FROM STKL_VW_ITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_MAIN.APGEN='+CHAR(39)+'YES'+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND STKL_VW_ITEM.DC_NO='+CHAR(39)+' '+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' AND '+'(  (IT_MAST.[TYPE] IN ('+'''Raw Material'''+','+'''Packing Material'''+') AND PRIN_IN=1) OR (IT_MAST.[TYPE] NOT IN ('+'''Raw Material'''+','+'''Packing Material'''+'))  )'
print @SQLCOMMAND

EXECUTE SP_EXECUTESQL @SQLCOMMAND

SELECT A.IT_NAME,A.IT_CODE,A.EXRATEUNIT,A.CHAPNO,L_YN,		--> ,A.CHAPNO	Bug-229
--OPBAL =sum(CASE WHEN A.BEH ='OS' AND  A.DATE<=@SDATE THEN A.QTY ELSE 0 END)+sum(CASE WHEN A.BEH NOT IN('OB') AND (A.PMKEY='+')AND  A.DATE<@SDATE THEN A.QTY ELSE 0 END)-sum(CASE WHEN A.BEH NOT IN('OB') AND (A.PMKEY='-')AND  A.DATE<@SDATE THEN A.QTY ELSE 0 END),	--Commented by Shrikant S. on 13/01/2014 for Bug-20752
OPBAL =SUM(CASE WHEN (A.BEH ='OS' OR A.DATE<@SDATE ) THEN (CASE WHEN A.PMKEY='+' THEN A.QTY ELSE -A.QTY END) ELSE 0 END),		--	Added by Shrikant S. on 13/01/2014 for Bug-20752
--RQTY =sum(CASE WHEN  not(A.BEH ='OS' AND  A.DATE<=@SDATE) AND A.PMKEY='+' THEN A.QTY ELSE 0 END),			--Commented by Shrikant S. on 28/12/2014 for Bug-24966
RQTY =sum(CASE WHEN  not(A.BEH ='OS') AND  A.DATE>=@SDATE AND A.PMKEY='+' THEN A.QTY ELSE 0 END),			--Added by Shrikant S. on 28/12/2014 for Bug-24966
IQTY_ST =sum(CASE WHEN A.BEH ='ST' AND A.PMKEY='-' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END),
IQTY_IP =sum(CASE WHEN A.BEH<>'ST' AND A.PMKEY='-' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END),
CLBAL =sum(CASE WHEN  A.PMKEY='+' THEN A.QTY ELSE 0 END)-sum(CASE WHEN  A.PMKEY='-' THEN A.QTY ELSE 0 END)
INTO #TER61
FROM #TITEM A 
INNER JOIN IT_MAST IT ON (IT.IT_CODE=A.IT_CODE)			--Added by Shrikant S. on 13/01/2014 for Bug-20752
WHERE A.TYPE='RAW MATERIAL'  AND (A.IT_NAME NOT LIKE '%WAST%' or A.IT_NAME NOT LIKE '%SCRAP%')		--Changed by Shrikant S. on 13/01/2014 for Bug-20752 (for alias A. Added)
AND IT.IsScrap <>1									--Added by Shrikant S. on 13/01/2014 for Bug-20752
GROUP BY A.IT_NAME,A.IT_CODE,A.EXRATEUNIT,A.CHAPNO,L_YN	--> ,A.CHAPNO	Bug-229

SELECT DISTINCT
ITEMID,FIN_NM=IT_MAST.IT_NAME 
,RMITEMID,RM_NAME=IT_MAST1.IT_NAME 
INTO #RAW_IT
FROM BOMHEAD 
INNER JOIN IT_MAST ON (BOMHEAD.ITEMID=IT_MAST.IT_CODE)
INNER JOIN BOMDET ON (BOMHEAD.BOMID=BOMDET.BOMID AND BOMHEAD.BOMLEVEL=BOMDET.BOMLEVEL)
INNER JOIN IT_MAST IT_MAST1 ON (BOMDET.RMITEMID=IT_MAST1.IT_CODE)

--	Added by Shrikant S. on 11/01/2014			--Start
SELECT DISTINCT A.IT_CODE,A.AIT_CODE,RM_ITEM=C.IT_NAME,FIN_ITEM=B.IT_NAME INTO #PROJITREF FROM PROJECTITREF A 
	INNER JOIN IT_MAST B ON (A.IT_CODE=B.IT_CODE) 
		INNER JOIN IT_MAST C ON (A.AIT_CODE=C.IT_CODE)
--	Added by Shrikant S. on 11/01/2014			--End


SELECT DISTINCT A.* 
--,B.FIN_NM			--Commented by Shrikant S. on 13/01/2014 for Bug-20752
,FIN_NM=ISNULL(ISNULL(B.FIN_NM,C.FIN_ITEM),'')		--Added by Shrikant S. on 13/01/2014 for Bug-20752
INTO #TER62
FROM #TER61 A
LEFT JOIN #RAW_IT B ON (A.IT_NAME=B.RM_NAME)
LEFT JOIN #PROJITREF C ON (A.IT_CODE=C.AIT_CODE)		--	Added by Shrikant S. on 13/01/2014 for Bug-20752


SELECT A.IT_NAME,FOPQTY=SUM(CASE WHEN A.BEH ='OP' AND A.PMKEY='+' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END) ,EXRATEU1=A.EXRATEUNIT,CHAPU1=A.CHAPNO,L_YN		--> ,CHAPU1=A.CHAPNO	Bug-229
INTO #TER63
FROM #TITEM A 
GROUP BY A.IT_NAME,A.EXRATEUNIT,A.CHAPNO,A.L_YN	--> ,A.CHAPNO	Bug-229

SELECT A.*
--,B.FOPQTY,QM=4,B.EXRATEU1,B.CHAPU1	--> ,B.CHAPU1	Bug-229			--Commented By Shrikant S. on 13/01/2014	for Bug-20752
,FOPQTY=isnull(B.FOPQTY,0),QM=4,EXRATEU1=isnull(B.EXRATEU1,''),CHAPU1=isnull(B.CHAPU1,'')	--> ,B.CHAPU1	Bug-229				--Added By Shrikant S. on 13/01/2014	for Bug-20752
INTO #TER64
FROM #TER62 A LEFT JOIN #TER63 B ON(A.FIN_NM=B.IT_NAME)


INSERT INTO  #TER64  (IT_NAME,IT_CODE,EXRATEUNIT,CHAPNO,OPBAL,RQTY,IQTY_ST,IQTY_IP,CLBAL,FIN_NM,FOPQTY,QM,EXRATEU1,CHAPU1,L_YN)	--> ,CHAPNO		,CHAPU1	Bug-229
SELECT A.IT_NAME,A.IT_CODE,A.EXRATEUNIT,A.CHAPNO,OPBAL=0,RQTY=0,IQTY_ST=0,IQTY_IP =sum(CASE WHEN  A.PMKEY='-' AND A.DATE>=@SDATE THEN A.QTY ELSE 0 END),CLBAL=0,FIN_NM=' ',FOPQTY=0,QM=5,EXRATEU1=' ',CHAPU1=' ',L_YN	--> ,A.CHAPNO	,CHAPU1=' '	Bug-229
FROM #TITEM A 
INNER JOIN IT_MAST IT ON (IT.IT_CODE=A.IT_CODE)			--Added by Shrikant S. on 13/01/2014 for Bug-20752
WHERE  (A.IT_NAME LIKE '%WAST%' or A.IT_NAME LIKE '%SCRAP%') --A.TYPE='RAW MATERIAL' AND
OR IT.IsScrap =1									--Added by Shrikant S. on 13/01/2014 for Bug-20752
GROUP BY A.IT_NAME,A.IT_CODE,A.EXRATEUNIT,A.CHAPNO,A.L_YN	--> ,A.CHAPNO'	Bug-229



IF NOT EXISTS (SELECT QM FROM #TER64 WHERE QM=4)
BEGIN
	INSERT INTO  #TER64  (IT_NAME,IT_CODE,EXRATEUNIT,CHAPNO,OPBAL,RQTY,IQTY_ST,IQTY_IP,CLBAL,FIN_NM,EXRATEU1,CHAPU1,FOPQTY,QM)	--> ,CHAPNO	,CHAPU1'	Bug-229
	                          VALUES(' ',0,' ',' ',0,0,0,0,0,' ',' ',' ',0,4)
END
delete from #ter64 where iqty_st+iqty_ip = 0 and qm=5
IF NOT EXISTS (SELECT QM FROM #TER64 WHERE QM=5)
BEGIN
	INSERT INTO  #TER64  (IT_NAME,IT_CODE,EXRATEUNIT,CHAPNO,OPBAL,RQTY,IQTY_ST,IQTY_IP,CLBAL,FIN_NM,EXRATEU1,CHAPU1,FOPQTY,QM)		--> ,CHAPNO	,CHAPU1'	Bug-229
	                          VALUES(' ',0,' ',' ',0,0,0,0,0,' ',' ',' ',0,5)
END

declare @it_name varchar(100),@fin_nm varchar(100),@mfin_nm varchar(100),@cnt numeric(10)

set @cnt=0
declare cur_er6_1 cursor for select distinct it_name,fin_nm FROM #TER64  where fopqty<>0 order by fin_nm
open cur_er6_1
fetch next from cur_er6_1 into @it_name,@fin_nm 
set @mfin_nm=''--@fin_nm
while(@@fetch_status=0)
begin
	if (@mfin_nm<>@fin_nm)
	begin
		--set @cnt=1
		set @mfin_nm=@fin_nm
	end
	else
	begin
		print @it_name+'<-->'+@fin_nm+'<->'+@mfin_nm	
		update #TER64 set fopqty=0 where it_name=@it_name and fin_nm=@fin_nm
		--set @cnt=@cnt+1
	end	
		
	--print '@cnt--' +cast(@cnt as varchar)
	--print @fin_nm+'<->'+@mfin_nm	
	
	fetch next from cur_er6_1 into @it_name,@fin_nm
end
close cur_er6_1
deallocate cur_er6_1
SELECT * FROM #TER64 ORDER BY QM,IT_NAME


