IF EXISTS(SELECT XTYPE,NAME FROM SYSOBJECTS WHERE XTYPE='P' AND name = 'USP_REP_GA_VATCH')
	BEGIN
		DROP PROCEDURE USP_REP_GA_VATCH
	END
GO
set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go
-- =============================================
-- Author:		Hetal L Patel
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate GA VAT CHALLAN
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================
CREATE PROCEDURE [dbo].[USP_REP_GA_VATCH]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
BEGIN
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT
		 
		  SELECT A.U_CHALNO, A.U_CHALDT, A.BANK_NM, M.S_TAX AS BRANCH, M.BSRCODE, A.PARTY_NM,
	 	 (
	 	 SELECT IsNull(Sum(B.GRO_AMT),0) FROM BPMAIN B
	 	 INNER JOIN AC_MAST A1 ON (A1.AC_NAME = B.BANK_NM)
		 WHERE A.U_CHALNO = B.U_CHALNO AND A.U_CHALDT = B.U_CHALDT AND A.BANK_NM = B.BANK_NM  AND A1.S_TAX = M.S_TAX
		 AND (B.U_NATURE in ('')) AND A.PARTY_NM = B.PARTY_NM   --AND (B.U_NATURE in ('','CST')) AND A.PARTY_NM = B.PARTY_NM
		 ) AS TAXAMT,
		 (
		 SELECT IsNull(Sum(C.GRO_AMT),0) FROM BPMAIN C
		 INNER JOIN AC_MAST A2 ON (A2.AC_NAME = C.BANK_NM)
		 WHERE A.U_CHALNO = C.U_CHALNO AND A.U_CHALDT = C.U_CHALDT AND A.BANK_NM = C.BANK_NM AND A2.S_TAX = M.S_TAX
		 AND C.U_NATURE = 'Composition Money' AND A.PARTY_NM = C.PARTY_NM
		 ) AS COMPAMT,
		 (
		 SELECT IsNull(Sum(D.GRO_AMT),0) FROM BPMAIN D
		 INNER JOIN AC_MAST A3 ON (A3.AC_NAME = D.BANK_NM)
		 WHERE A.U_CHALNO = D.U_CHALNO AND A.U_CHALDT = D.U_CHALDT AND A.BANK_NM = D.BANK_NM AND A3.S_TAX = M.S_TAX
		 AND D.U_NATURE = 'Registration Fees' AND A.PARTY_NM = D.PARTY_NM
		 ) AS REGIAMT,
		 (
		 SELECT IsNull(Sum(E.GRO_AMT),0) FROM BPMAIN E
		 INNER JOIN AC_MAST A4 ON (A4.AC_NAME = E.BANK_NM)
		 WHERE A.U_CHALNO = E.U_CHALNO AND A.U_CHALDT = E.U_CHALDT AND A.BANK_NM = E.BANK_NM AND A4.S_TAX = M.S_TAX
		 AND E.U_NATURE = 'INTEREST' AND A.PARTY_NM = E.PARTY_NM
		 ) AS INTAMT,
		 (
		 SELECT IsNull(Sum(G.GRO_AMT),0) FROM BPMAIN G
		 INNER JOIN AC_MAST A6 ON (A6.AC_NAME = G.BANK_NM)
		 WHERE A.U_CHALNO = G.U_CHALNO AND A.U_CHALDT = G.U_CHALDT AND A.BANK_NM = G.BANK_NM AND  A6.S_TAX = M.S_TAX
		 AND G.U_NATURE Not in ('','CST','Composition Money', 'Registration Fees','INTEREST')  AND A.PARTY_NM = G.PARTY_NM
		 ) AS OTHERAMT		 
		 FROM BPMAIN A
		 INNER JOIN AC_MAST M ON (A.BANK_NM = M.AC_NAME)
		 WHERE A.PARTY_NM in ('VAT Payable') AND (A.DATE BETWEEN @SDATE AND @EDATE)
		 --WHERE A.PARTY_NM in ('VAT Payable', 'CST Payable') AND (A.DATE BETWEEN @SDATE AND @EDATE)
		 GROUP BY A.U_CHALNO, A.U_CHALDT, A.BANK_NM, M.S_TAX, M.BSRCODE, A.PARTY_NM
	End


END
--Print 'GA VAT CHALLAN'
