If Exists (Select [Name] From Sysobjects Where xType='P' and [Name]='USP_REP_ILEDGER_ZOOM')
Begin
	DROP PROCEDURE [USP_REP_ILEDGER_ZOOM]
End
GO
-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 16/05/2007
-- Description:	This is useful for zoom in stock ledger report.
-- Modify date: 12/03/2008
-- Modified By: 
-- Modify date: 
-- Remark:
-- Updated By Sachin N. S. on 17/08/2010 for TKT-3663
-- Updated By Sachin N. S. on 30/05/2011 for TKT-7837 -- if same item taken in IP multiple times then shown line-wise with total qty in all
-- Changed By/On/For : Changed by nilesh for bug 23895 on 03-09-14
-- Modified By Kishor Agarwal on 01/06/2015 for Bug-26254
-- =============================================
CREATE PROCEDURE [USP_REP_ILEDGER_ZOOM]
	@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
	@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
	@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),
	@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
	@SAMT NUMERIC,@EAMT NUMERIC,
	@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
	@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
	@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
	@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
	@FINYR NVARCHAR(20),
	--	@EXTPAR NVARCHAR(60),					 --Commented by nilesh for bug 23895 on 03-09-14
	@EXTPAR  AS VARCHAR(2000)= null,		 --Added by nilesh for bug 23895 on 03-09-14
	@XTRAFLDS VARCHAR(8000)		-- Added By Sachin N. S. on 17/08/2010 for TKT-3663
	AS
Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000)
	Declare @OPENTRIES as VARCHAR(50),@OPENTRY_TY as VARCHAR(50)
	Declare @TBLNM as VARCHAR(50),@TBLNAME1 as VARCHAR(50),@TBLNAME2 as VARCHAR(50)
	Declare @XTRAFLDS1 as VARCHAR(8000)	-- Added By Sachin N. S. on 30/08/2010 for TKT-3663
	
	EXECUTE USP_REP_FILTCON 
		@VTMPAC=null,@VTMPIT=@TMPIT,@VSPLCOND=@SPLCOND,
		@VSDATE=null,@VEDATE=@EDATE,
		@VSAC =null,@VEAC =null,
		@VSIT=@SITEM,@VEIT=@EITEM,
		@VSAMT=null,@VEAMT=null,
		@VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
		@VSCATE =@SCAT,@VECATE =@ECAT,
		@VSWARE =@SWARE,@VEWARE  =@EWARE,
		@VSINV_SR =@SINVSR,@VEINV_SR =@EINVSR,
		@VMAINFILE='MVW',@VITFILE='IVW',@VACFILE=null,
		@VDTFLD = 'DATE',@VLYN=null,@VEXPARA=@EXTPAR,
		@VFCON =@FCON OUTPUT

	----- Added By Sachin N. S. on 18/08/2010 for TKT-3663 ----- Start
	Set @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
					+ (DATEPART(ss, GETDATE()) * 1000 )
					+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
	Set @TBLNAME1 = '##TMP1'+@TBLNM
	Set @TBLNAME2 = '##TMP2'+@TBLNM
	SET @XTRAFLDS = ISNULL(@XTRAFLDS,'')	--CASE WHEN ISNULL(@XTRAFLDS,'')='' THEN '' ELSE ',' END+
	SET @XTRAFLDS1 = REPLACE(REPLACE(@XTRAFLDS,'MAIN','MVW'),'ITEM','IVW') 
	----- Added By Sachin N. S. on 18/08/2010 for TKT-3663 ----- End

	print @EXTPAR		 --Added by nilesh for bug 23895 on 03-09-14 

	--Added by nilesh for bug 23895	on 03-09-14		 --start
		declare @RuleCondition varchar(1000)
			set @RuleCondition=''
			
			if charindex('$>Rule',@EXTPAR)<>0
			begin
				set @RuleCondition=@EXTPAR
				SET @RuleCondition=REPLACE(@RuleCondition, '`','''')
				set @RuleCondition=substring(@RuleCondition,charindex('$>Rule',@RuleCondition)+6,len(@RuleCondition)-(charindex('$>Rule',@RuleCondition)+5))
				set @RuleCondition=substring(@RuleCondition,1,charindex('<$Rule',@RuleCondition)-1)
			end
	--Added by nilesh for bug 23895	on 03-09-14			--End

	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = '	SELECT IVW.TRAN_CD,IVW.ENTRY_TY,IVW.DATE,IVW.ITSERIAL,IVW.QTY,IVW.DC_NO,IVW.WARE_NM,MVW.INV_NO,LCODE.INV_STK
	,AC_MAST.AC_ID,AC_MAST.AC_NAME,IT_MAST.IT_CODE,IT_MAST.IT_NAME,IT_MAST.RATEUNIT
	,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END)'+@XTRAFLDS1 +'
	INTO '+@TBLNAME1+' FROM STKL_VW_ITEM IVW (NOLOCK)
	INNER JOIN AC_MAST (NOLOCK) ON IVW.AC_ID = AC_MAST.AC_ID
	INNER JOIN IT_MAST (NOLOCK) ON IVW.IT_CODE = IT_MAST.IT_CODE
	INNER JOIN STKL_VW_MAIN MVW (NOLOCK) 
		ON IVW.TRAN_CD = MVW.TRAN_CD AND IVW.ENTRY_TY = MVW.ENTRY_TY	
	INNER JOIN LCODE (NOLOCK) 
	ON IVW.ENTRY_TY = LCODE.ENTRY_TY AND LCODE.INV_STK IN ('+CHAR(39)+'+'+CHAR(39)+','+CHAR(39)+'-'+CHAR(39)+')
	WHERE 1=2'
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
		
--IVW.DC_NO,IVW.WARE_NM,INV_NO=MVW.ENTRY_TY+SPACE(1)+MVW.INV_NO,LCODE.INV_STK		--Commented by Shrikant S. on 26/04/2017 for GST
	SET @SQLCOMMAND = 'INSERT INTO '+@TBLNAME1+' SELECT IVW.TRAN_CD,IVW.ENTRY_TY,IVW.DATE,IVW.ITSERIAL,IVW.QTY,
		IVW.DC_NO,IVW.WARE_NM,INV_NO=MVW.INV_NO,LCODE.INV_STK
		,AC_MAST.AC_ID,AC_MAST.AC_NAME,IT_MAST.IT_CODE,IT_MAST.IT_NAME,IT_MAST.RATEUNIT
		,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END)'+@XTRAFLDS1+' 
		FROM STKL_VW_ITEM IVW (NOLOCK)
		INNER JOIN AC_MAST (NOLOCK) ON IVW.AC_ID = AC_MAST.AC_ID
		INNER JOIN IT_MAST (NOLOCK) ON IVW.IT_CODE = IT_MAST.IT_CODE
		INNER JOIN STKL_VW_MAIN MVW (NOLOCK) 
		ON IVW.TRAN_CD = MVW.TRAN_CD AND IVW.ENTRY_TY = MVW.ENTRY_TY
		INNER JOIN LCODE (NOLOCK) 
		ON IVW.ENTRY_TY = LCODE.ENTRY_TY AND LCODE.INV_STK IN ('+CHAR(39)+'+'+CHAR(39)+','+CHAR(39)+'-'+CHAR(39)+')'+RTRIM(@FCON)

	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IT_MAST.NONSTK='+CHAR(39)+'Stockable'+CHAR(39)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND MVW.APGEN='+CHAR(39)+'YES'+CHAR(39)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IVW.DC_NO='+CHAR(39)+' '+CHAR(39)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+@RuleCondition			--Added by nilesh for bug 23895	on 03-09-14
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	SET @SQLCOMMAND = 'SELECT TRAN_CD,ENTRY_TY,DATE,QTY,WARE_NM,INV_NO,AC_ID,AC_NAME
			,INV_STK,IT_CODE,IT_NAME,RATEUNIT,OPBAL=QTY,RQTY=QTY,IQTY=QTY,BALQTY=QTY,ITSERIAL
	INTO '+@TBLNAME2+'
	FROM '+@TBLNAME1+' TVW WHERE 1=2'
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

--	,INV_STK,IT_CODE,IT_NAME,RATEUNIT,OPBAL=QTY,RQTY=QTY,IQTY=QTY,BALQTY=QTY	&& Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL

	SET @SQLCOMMAND = 'INSERT INTO '+@TBLNAME2+'
			(TRAN_CD,ENTRY_TY,DATE,QTY,WARE_NM,INV_NO,AC_ID,AC_NAME
			,INV_STK,IT_CODE,IT_NAME,RATEUNIT,OPBAL,RQTY,IQTY,BALQTY,ITSERIAL) 
	SELECT 
	0,''OS'','+CHAR(39)+CAST(@SDATE AS VARCHAR(20))+CHAR(39)+',0,'' '','' '',0,''Balance B/f'','' '',TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT
	,OPBAL=IsNull(sum(CASE WHEN TVW.INV_STK = ''+'' THEN TVW.QTY ELSE -TVW.QTY END),0)
	,0,0
	,BALQTY=IsNull(sum(CASE WHEN TVW.INV_STK = ''+'' THEN TVW.QTY ELSE -TVW.QTY END),0),''''
	FROM  '+@TBLNAME1+' TVW
	WHERE ((TVW.DATE < '+CHAR(39)+CAST(@SDATE AS VARCHAR(20))+CHAR(39)+') OR TVW.BEH IN (''OS'')) AND IsNull(TVW.DC_NO,'' '') = '' ''	
	GROUP BY TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT '
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
 
--	,INV_STK,IT_CODE,IT_NAME,RATEUNIT,OPBAL,RQTY,IQTY,BALQTY)							&& Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL
--	,BALQTY=IsNull(sum(CASE WHEN TVW.INV_STK = ''+'' THEN TVW.QTY ELSE -TVW.QTY END),0)	&& Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL

	DECLARE @TRAN_CD INT,@ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@QTY NUMERIC(16,3),@WARE_NM VARCHAR(60),	
			@INV_NO VARCHAR(20),@AC_ID INT,@AC_NAME VARCHAR(100),@INV_STK CHAR(1),@IT_CODE INT,
			@IT_NAME VARCHAR(100),@RATEUNIT VARCHAR(5), @ITSERIAL VARCHAR(5)			-- Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL	
	DECLARE @OPBAL NUMERIC(16,3),@RQTY NUMERIC(16,3),@IQTY NUMERIC(16,3),@BALQTY NUMERIC(16,3)
	DECLARE @OPBAL1 NUMERIC(16,3)

	SET @OPBAL=0
	SET @SQLCOMMAND = 'SELECT @OPBAL=ISNULL(OPBAL,0) FROM '+@TBLNAME2
	EXECUTE SP_EXECUTESQL @SQLCOMMAND,N'@OPBAL NUMERIC(16,3) OUT',@OPBAL1 OUT
	
	--SET @OPBAL=@OPBAL1										-- Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL -- commented for Bug-26254
	SET @OPBAL=ISNULL(@OPBAL1,0)--added for Bug-26254


	SET @SQLCOMMAND = 'DECLARE CUR_STKLAN CURSOR FOR 
	SELECT TVW.TRAN_CD,TVW.ENTRY_TY,TVW.DATE
	,QTY=SUM(TVW.QTY)
	,TVW.WARE_NM,TVW.INV_NO,TVW.AC_ID,TVW.AC_NAME,TVW.INV_STK
	,TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT, TVW.ITSERIAL
	FROM '+@TBLNAME1+' TVW
	WHERE ((TVW.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR(20))+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE AS VARCHAR(20))+CHAR(39)+') AND TVW.BEH NOT IN (''OS'')) AND IsNull(TVW.DC_NO,'' '') = '' ''			--Added by Shrikant S. on 27/11/2018 for Installer 2.1.0
	GROUP BY TVW.TRAN_CD,TVW.ENTRY_TY,TVW.DATE,TVW.WARE_NM,TVW.INV_NO,TVW.AC_ID,TVW.AC_NAME,TVW.INV_STK
	,TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT,TVW.ITSERIAL
	ORDER BY TVW.IT_CODE,DATE,TVW.INV_STK,TVW.INV_NO'
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	--WHERE ((TVW.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR(20))+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE AS VARCHAR(20))+CHAR(39)+') AND TVW.ENTRY_TY NOT IN (''OS'')) AND IsNull(TVW.DC_NO,'' '') = '' ''		--Commented by Shrikant S. on 27/11/2018 for Installer 2.1.0
	-- ,TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT, TVW.ITSERIAL		-- Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL

	OPEN CUR_STKLAN
	FETCH NEXT FROM CUR_STKLAN INTO @TRAN_CD,@ENTRY_TY,@DATE,@QTY,@WARE_NM,@INV_NO,@AC_ID,@AC_NAME,@INV_STK,@IT_CODE,@IT_NAME,@RATEUNIT,@ITSERIAL
	--FETCH NEXT FROM CUR_STKLAN INTO @TRAN_CD,@ENTRY_TY,@DATE,@QTY,@WARE_NM,@INV_NO,@AC_ID,@AC_NAME,@INV_STK,@IT_CODE,@IT_NAME,@RATEUNIT	-- Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL
	WHILE (@@FETCH_STATUS=0)
	BEGIN
		
		SET @RQTY=0
		SET @IQTY=0

		IF (@INV_STK='+')
		BEGIN
			SET @RQTY=@QTY
		END	
		ELSE 
		BEGIN
			SET @IQTY=@QTY
		END
		
		--SET @BALQTY=@OPBAL+@RQTY-@IQTY Commented By pankaj B. on 25-03-2015 for Bug-25365
		SET @BALQTY=ISNULL(@OPBAL,0)+ISNULL(@RQTY,0)-ISNULL(@IQTY,0) --Commented By pankaj B. on 25-03-2015 for Bug-25365
		SET @SQLCOMMAND = 'INSERT INTO '+@TBLNAME2+'
			(TRAN_CD,ENTRY_TY,DATE,QTY,WARE_NM,INV_NO,AC_ID,AC_NAME
			,INV_STK,IT_CODE,IT_NAME,RATEUNIT,OPBAL,RQTY,IQTY,BALQTY,ITSERIAL) 
		VALUES (@TRAN_CD,@ENTRY_TY,@DATE,@QTY,@WARE_NM,@INV_NO,@AC_ID,@AC_NAME
				,@INV_STK,@IT_CODE,@IT_NAME,@RATEUNIT,@OPBAL,@RQTY,@IQTY,@BALQTY,@ITSERIAL)'
		EXECUTE SP_EXECUTESQL @SQLCOMMAND,N'@TRAN_CD INT,@ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@QTY NUMERIC(16,3),
				@WARE_NM VARCHAR(60),@INV_NO VARCHAR(20),@AC_ID INT,@AC_NAME VARCHAR(100),@INV_STK CHAR(1),
				@IT_CODE INT,@IT_NAME VARCHAR(100),@RATEUNIT VARCHAR(5),@OPBAL NUMERIC(16,3),@RQTY NUMERIC(16,3),
				@IQTY NUMERIC(16,3),@BALQTY NUMERIC(16,3),@ITSERIAL VARCHAR(5)',@TRAN_CD, @ENTRY_TY, @DATE, @QTY, @WARE_NM, @INV_NO,
				@AC_ID, @AC_NAME, @INV_STK, @IT_CODE, @IT_NAME, @RATEUNIT, @OPBAL, @RQTY, @IQTY, @BALQTY, @ITSERIAL

------- Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL	------- Start
--		,INV_STK,IT_CODE,IT_NAME,RATEUNIT,OPBAL,RQTY,IQTY,BALQTY)
--		,@INV_STK,@IT_CODE,@IT_NAME,@RATEUNIT,@OPBAL,@RQTY,@IQTY,@BALQTY)'
--		@IQTY NUMERIC(16,3),@BALQTY NUMERIC(16,3)',@TRAN_CD, @ENTRY_TY, @DATE, @QTY, @WARE_NM, @INV_NO,
--		@AC_ID, @AC_NAME, @INV_STK, @IT_CODE, @IT_NAME, @RATEUNIT, @OPBAL, @RQTY, @IQTY, @BALQTY
------- Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL	------- End

		SET @OPBAL=@BALQTY
		FETCH NEXT FROM CUR_STKLAN INTO @TRAN_CD,@ENTRY_TY,@DATE,@QTY,@WARE_NM,@INV_NO,@AC_ID,@AC_NAME,@INV_STK,@IT_CODE,@IT_NAME,@RATEUNIT,@ITSERIAL	
--		FETCH NEXT FROM CUR_STKLAN INTO @TRAN_CD,@ENTRY_TY,@DATE,@QTY,@WARE_NM,@INV_NO,@AC_ID,@AC_NAME,@INV_STK,@IT_CODE,@IT_NAME,@RATEUNIT		-- Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL
	END	
	CLOSE CUR_STKLAN
	DEALLOCATE CUR_STKLAN	

SET @XTRAFLDS1 = REPLACE(REPLACE(REPLACE(REPLACE(@XTRAFLDS,'MVW','AVW'),'IVW','AVW'),'AC_MAST','AVW'),'IT_MAST','AVW')

--SELECT TVW.* FROM #TITEM2 TVW ORDER BY TVW.IT_CODE,DATE,TVW.INV_STK,TVW.INV_NO
--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	SET @SQLCOMMAND = 'SELECT TVW.*'+@XTRAFLDS1+' FROM '+@TBLNAME2+' TVW
	LEFT OUTER JOIN '+@TBLNAME1+' AVW ON TVW.ENTRY_TY = AVW.ENTRY_TY AND TVW.TRAN_CD=AVW.TRAN_CD AND TVW.IT_CODE=AVW.IT_CODE AND TVW.ITSERIAL = AVW.ITSERIAL
	ORDER BY TVW.IT_CODE,TVW.DATE,TVW.INV_STK,TVW.INV_NO'
	EXECUTE SP_EXECUTESQL @SQLCOMMAND

--INNER JOIN '+@TBLNAME1+' AVW ON TVW.ENTRY_TY = AVW.ENTRY_TY AND TVW.TRAN_CD=AVW.TRAN_CD AND TVW.IT_CODE=AVW.IT_CODE -- Added By Sachin N. S. on 30/05/2011 for TKT-7837 ITSERIAL

--DROP TABLE #TITEM1
--DROP TABLE #TITEM2

SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME1
EXECUTE SP_EXECUTESQL @SQLCOMMAND
SET @SQLCOMMAND = 'DROP TABLE '+@TBLNAME2
EXECUTE SP_EXECUTESQL @SQLCOMMAND
GO
