If Exists(Select [name] From SysObjects Where xtype='P' and [Name]='USP_REP_UA_FORMVAT3_ANNEXURE2')
Begin
	Drop Procedure USP_REP_UA_FORMVAT3_ANNEXURE2
End
GO

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go
-- EXECUTE USP_REP_UA_FORMVAT3_ANNEXURE2'','','','04/01/2015','03/31/2016','','','','',0,0,'','','','','','','','','2015-2016',''
-- =============================================        
-- Author   : Hetal L Patel
-- Create date: 16/05/2007        
-- Description: This Stored procedure is useful to generate UK FORM VAT - 3 Annexure 2 Report.        
-- Modify date: 16/05/2007        
-- Modified By: Sumit Gavate
-- Modify date: 14-03-2016
-- Remark:        
-- =============================================        
CREATE PROCEDURE [dbo].[USP_REP_UA_FORMVAT3_ANNEXURE2]        
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME        
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)        
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)        
,@SAMT FLOAT,@EAMT FLOAT        
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)        
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)        
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)        
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)        
,@LYN VARCHAR(20)        
,@EXPARA  AS VARCHAR(60)= null        
AS        
BEGIN        
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)        
EXECUTE   USP_REP_FILTCON         
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND        
,@VSDATE=NULL        
,@VEDATE=@EDATE        
,@VSAC =@SAC,@VEAC =@EAC        
,@VSIT=@SIT,@VEIT=@EIT        
,@VSAMT=@SAMT,@VEAMT=@EAMT        
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT        
,@VSCATE =@SCATE,@VECATE =@ECATE        
,@VSWARE =@SWARE,@VEWARE  =@EWARE        
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR        
,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL        
,@VDTFLD ='DATE'        
,@VLYN=NULL        
,@VEXPARA=@EXPARA        
,@VFCON =@FCON OUTPUT        
        
DECLARE @SQLCOMMAND NVARCHAR(4000)        
DECLARE @RATE NUMERIC(12,2),@AMTA1 NUMERIC(12,2),@AMTB1 NUMERIC(12,2),@AMTC1 NUMERIC(12,2),@AMTD1 NUMERIC(12,2),@AMTE1 NUMERIC(12,2),@AMTF1 NUMERIC(12,2),@AMTG1 NUMERIC(12,2),@AMTH1 NUMERIC(12,2),@AMTI1 NUMERIC(12,2),@AMTJ1 NUMERIC(12,2),@AMTK1 NUMERIC(12
  
,2),@AMTL1 NUMERIC(12,2),@AMTM1 NUMERIC(12,2),@AMTN1 NUMERIC(12,2),@AMTO1 NUMERIC(12,2)        
DECLARE @AMTA2 NUMERIC(12,2),@AMTB2 NUMERIC(12,2),@AMTC2 NUMERIC(12,2),@AMTD2 NUMERIC(12,2),@AMTE2 NUMERIC(12,2),@AMTF2 NUMERIC(12,2),@AMTG2 NUMERIC(12,2),@AMTH2 NUMERIC(12,2),@AMTI2 NUMERIC(12,2),@AMTJ2 NUMERIC(12,2),@AMTK2 NUMERIC(12,2)  
DECLARE @AMTL2 NUMERIC(12,2),@AMTM2 NUMERIC(12,2),@AMTN2 NUMERIC(12,2),@AMTO2 NUMERIC(12,2)        
DECLARE @PER NUMERIC(12,2),@TAXAMT NUMERIC(12,2),@CHAR INT,@LEVEL NUMERIC(12,2)        
        
SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
 

Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

----Temporary Cursor1
--SELECT BHENT='PT',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--,ADDRESS=LTRIM(AC1.ADD1)+ ' ' + LTRIM(AC1.ADD2) + ' ' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=99999999999.99,Dbname=space(20),ItemType=space(1),It_code=999999999999999999-999999999999999999,ItSerial=Space(5)
--INTO #FORMVAT3_A
--FROM PTACDET A 
--INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--WHERE 1=2 --A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST)

--alter table #FORMVAT3_A add recno int identity

---Temporary Cursor2
SELECT PART=3,PARTSR='AAA',SRNO='AAA',RATE=99.999,AMT1=NET_AMT,AMT2=M.TAXAMT,AMT3=M.TAXAMT,
M.INV_NO,M.DATE,M.DATE as Bill_Date,PARTY_NM=AC1.AC_NAME,ADDRESS=Ltrim(AC1.Add1)+' '+Ltrim(AC1.Add2)+' '+Ltrim(AC1.Add3),
STM.FORM_NM,AC1.S_TAX,ITEM=space(50)
INTO #FORMVAT3
FROM PTACDET A 
INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
WHERE 1=2

Declare @MultiCo	VarChar(3)
Declare @MCON as NVARCHAR(2000)
IF Exists(Select A.ID From SysObjects A Inner Join SysColumns B On(A.ID = B.ID) Where A.[Name] = 'STMAIN' And B.[Name] = 'DBNAME')
	Begin	------Fetch Records from Multi Co. Data
		 Set @MultiCo = 'YES'
		 EXECUTE USP_REP_MULTI_CO_DATA
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		SET @SQLCOMMAND='Insert InTo #FORMVAT3_A Select * from '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		SET @SQLCOMMAND='Drop Table '+@MCON
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
else
	Begin ------Fetch Single Co. Data
		 Set @MultiCo = 'NO'
		 EXECUTE USP_REP_SINGLE_CO_DATA_VAT
		  @TMPAC, @TMPIT, @SPLCOND, @SDATE, @EDATE
		 ,@SAC, @EAC, @SIT, @EIT, @SAMT, @EAMT
		 ,@SDEPT, @EDEPT, @SCATE, @ECATE,@SWARE
		 ,@EWARE, @SINV_SR, @EINV_SR, @LYN, @EXPARA
		 ,@MFCON = @MCON OUTPUT

		--SET @SQLCOMMAND='Select * from '+@MCON
		---EXECUTE SP_EXECUTESQL @SQLCOMMAND
		--SET @SQLCOMMAND='Insert InTo #FORMVAT3_A Select * from '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
		---Drop Temp Table 
		--SET @SQLCOMMAND='Drop Table '+@MCON
		--EXECUTE SP_EXECUTESQL @SQLCOMMAND
	End
-----
-----SELECT * from #form221_1 where (Date Between @Sdate and @Edate) and Bhent in('EP','PT','CN') and TAX_NAME In('','NO-TAX') and U_imporm = ''
-----
Declare @INV_NO as varchar(10),@DATE as smalldatetime,@PARTY_NM as varchar(50),@ADDRESS as varchar(100),@ITEM as varchar(50),
		@S_TAX as varchar(30),@Mat_type as BIT,@PARTSR as varchar(2),@BILL_DATE as smalldatetime

SELECT @INV_NO ='',@DATE ='',@PARTY_NM ='',@ADDRESS ='',@ITEM ='',@S_TAX ='',@Mat_type = 0,@PARTSR = '',@BILL_DATE = ''

Set @CHAR=65
Declare Cur_Purc cursor for
Select ISNULL(P.U_pinvno,'') as Inv_no,ISNULL(A.Date,'') as date,ISNULL(P.u_pinvdt,'') as Bill_date,A.ac_name,A.Address,A.S_tax,
CASE WHEN CAST(I.IT_DESC AS VARCHAR(150)) <> '' THEN CAST(I.IT_DESC AS VARCHAR(150)) ELSE I.IT_NAME END As it_name,A.VATONAMT,A.Taxamt,A.Gro_Amt,
A.Per,RTRIM(Ltrim(AC.Add1))+' '+RTRIM(Ltrim(AC.Add2))+' '+RTRIM(Ltrim(AC.Add3)) as Address,I.VATCAP FROM VATTBL A 
INNER JOIN Litem_vw B On(A.BHENT = B.ENTRY_TY AND A.TRAN_CD = B.TRAN_CD AND A.It_Code = B.It_Code AND A.ItSerial = B.ItSerial)
INNER JOIN It_mast I On(B.It_code = I.It_code) Inner Join ac_mast AC On(A.ac_id = AC.Ac_id)
INNER JOIN PTMAIN P ON (A.bhent = P.Entry_ty AND A.Tran_Cd = P.Tran_cd) Where A.Date Between @sdate and @edate AND A.Bhent in('PT','EP')
AND A.St_type = 'LOCAL' AND A.S_Tax <> ' ' AND A.Tax_Name LIKE '%VAT%'
Order By A.Inv_no,A.Date,A.Party_nm,I.Type
Open Cur_Purc
 FETCH NEXT FROM Cur_Purc INTO @INV_NO,@DATE,@BILL_DATE,@PARTY_NM,@ADDRESS,@S_TAX,@ITEM,@AMTA1,@AMTB1,@AMTC1,@PER,@Address,@Mat_type
 WHILE (@@FETCH_STATUS=0)
 BEGIN
	SET @PARTSR = '1'
	if @Mat_type = 1
	BEGIN
		SET @PARTSR = '2'
	END
	INSERT INTO #FORMVAT3 (PART,PARTSR,SRNO,RATE,AMT1,AMT2,AMT3,INV_NO,DATE,Bill_Date,PARTY_NM,ADDRESS,S_TAX,ITEM) 
	VALUES (1,@PARTSR,'A',ISNULL(@PER,0),ISNULL(@AMTA1,0),ISNULL(@AMTB1,0),ISNULL(@AMTC1,0),ISNULL(@INV_NO,''),ISNULL(@DATE,''),
			ISNULL(@BILL_DATE,''),ISNULL(@PARTY_NM,''),ISNULL(@ADDRESS,''),ISNULL(@S_TAX,''),ISNULL(@ITEM,''))
SET @CHAR=@CHAR+1
FETCH NEXT FROM CUR_Purc INTO @INV_NO,@DATE,@BILL_DATE,@PARTY_NM,@ADDRESS,@S_TAX,@ITEM,@AMTA1,@AMTB1,@AMTC1,@PER,@Address,@Mat_type
END
CLOSE CUR_Purc
DEALLOCATE CUR_Purc


Update #FORMVAT3 set PART = isnull(Part,0) , Partsr = isnull(PARTSR,''), SRNO = isnull(SRNO,''),
		             RATE = isnull(RATE,0), AMT1 = isnull(AMT1,0), AMT2 = isnull(AMT2,0), 
					 AMT3 = isnull(AMT3,0), INV_NO = isnull(INV_NO,''), DATE = isnull(Date,''), 
					 PARTY_NM = isnull(Party_nm,''), ADDRESS = isnull(Address,''),
					 FORM_NM = isnull(form_nm,''), S_TAX = isnull(S_tax,''), ITEM =isnull(item,'')

        
SELECT * FROM #FORMVAT3 ORDER BY PART,Partsr,DATE,Bill_DATE,PARTY_NM,S_TAX,ITEM,Rate
      
        
END        
--Print 'UA VAT FORM 3 ANNX B'

