If Exists(Select [Name] From SysObjects Where xType='P' and [Name]='USP_REP_FINSTKRG1_HSN')
Begin
	Drop Procedure USP_REP_FINSTKRG1_HSN
End
Go

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:Rupesh Ghosalkar		
-- Create date: 28/12/2017
-- Description:	This Stored procedure is useful to generate Excise Chapterwise RG-1 Register Report.
-- Modification Date/By/Reason: 
-- Remark:
-- =============================================
create PROCEDURE [dbo].[USP_REP_FINSTKRG1_HSN] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
SET QUOTED_IDENTIFIER OFF
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='STKL_VW_MAIN',@VITFILE='STKL_VW_ITEM',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,STKL_VW_ITEM.IT_CODE,OPBAL=QTY,RECEIPT=QTY,ISSUE=QTY,BALANCE=QTY,LOPBAL=U_LQTY,LRECEIPT=U_LQTY,LISSUE=U_LQTY,LBALANCE=U_LQTY,ITSERIAL,PMKEY,hsncode,ITGRID,TRAN_CD INTO #LSTEXC FROM  STKL_VW_ITEM INNER JOIN IT_MAST ON(IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) WHERE 1=2
DECLARE @ENTRY_TY CHAR(2),@DATE SMALLDATETIME,@DOC_NO CHAR(5),@AC_ID INT,@IT_CODE NUMERIC(10),@QTY DECIMAL(17,4),@U_LQTY DECIMAL(17,4),@ITSERIAL CHAR(5),@PMKEY CHAR(1),@CHAPNO CHAR(10),@ITGRID INT,@TRAN_CD INT
DECLARE @OPBAL DECIMAL(17,4),@LOPBAL DECIMAL(17,4),@RECEIPT DECIMAL(17,4),@LRECEIPT DECIMAL(17,4),@ISSUE DECIMAL(17,4),@LISSUE DECIMAL(17,4),@BALANCE DECIMAL(17,4),@LBALANCE DECIMAL(17,4),@CURRDT SMALLDATETIME, @V1 NUMERIC(8)
DECLARE @MIT_CODE NUMERIC(10),@MITGRID INT,@MCHAPNO CHAR(10),@OBACID INT,@TFCOND CHAR(1) ,@TFCOND1 CHAR(1),@MOPBAL DECIMAL(17,4),@MLOPBAL DECIMAL(17,4)

SELECT @OBACID=AC_ID FROM AC_MAST WHERE AC_NAME='OPENING STOCK'


SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.HSNCODE,IT_MAST.ITGRID,STKL_VW_ITEM.TRAN_CD
INTO #LSTEXC1
FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD)
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE) 
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_ITEM.AC_ID) 
WHERE  1=2


DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)

SET @SQLCOMMAND='INSERT INTO #LSTEXC1 SELECT STKL_VW_ITEM.ENTRY_TY,STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,qty=(case when isnull(stkl_vw_item.dc_no,'+''''''+')<>'+'''DI'''+' then STKL_VW_ITEM.QTY else 0 end)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,U_LQTY=(case when isnull(stkl_vw_item.dc_no,'+''''''+')<>'+'''DI'''+' then STKL_VW_ITEM.U_LQTY else 0 end)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.hsncode,IT_MAST.ITGRID,STKL_VW_ITEM.TRAN_CD'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STKL_VW_ITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD AND STKL_VW_ITEM.ENTRY_TY=STKL_VW_MAIN.ENTRY_TY) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)  '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_ITEM.AC_ID) ' 


SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
PRINT  @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND


SET @V1=0
SET @OPBAL=0
SET @RECEIPT=0
SET @ISSUE=0
SET @BALANCE=0

SET @LOPBAL=0
SET @LRECEIPT=0
SET @LISSUE=0
SET @LBALANCE=0
SET @CURRDT =@SDATE

SELECT HSNCODE
INTO #LSTEXC2
FROM #LSTEXC1 
GROUP BY HSNCODE
HAVING (
SUM(CASE WHEN DATE<@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE 0 END) ELSE 0 END) -SUM(CASE WHEN DATE<@SDATE THEN (CASE WHEN PMKEY='-' THEN QTY ELSE 0 END) ELSE 0 END) <>0
OR  SUM(CASE WHEN DATE>=@SDATE THEN (CASE WHEN PMKEY='+' THEN QTY ELSE 0 END) ELSE 0 END)<>0
OR SUM(CASE WHEN DATE>=@SDATE THEN (CASE WHEN PMKEY='-' THEN QTY ELSE 0 END) ELSE 0 END)<>0
)

DECLARE RG1_DC_CURSOR CURSOR FOR 
SELECT ENTRY_TY,DATE,DOC_NO,AC_ID,#LSTEXC1.IT_CODE,QTY,U_LQTY,ITSERIAL,PMKEY,#LSTEXC1.hsncode,#LSTEXC1.ITGRID,#LSTEXC1.TRAN_CD 
FROM #LSTEXC1 
INNER JOIN #LSTEXC2 ON #LSTEXC2.hsncode=#LSTEXC1.hsncode
ORDER BY #LSTEXC1.hsncode,DATE,(CASE WHEN ENTRY_TY='OS' THEN 'A' ELSE (CASE WHEN PMKEY='+' THEN 'B' ELSE 'C' END) END),TRAN_CD,ITSERIAL

OPEN  RG1_DC_CURSOR
FETCH NEXT FROM RG1_DC_CURSOR INTO 
@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@QTY,@U_LQTY,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD

SET @MCHAPNO='-1'

WHILE @@FETCH_STATUS=0
BEGIN
	IF @MCHAPNO=@CHAPNO
	BEGIN
		SET @V1=@V1+1
	END
	ELSE	
	BEGIN 
		SET @V1=0
			IF @MCHAPNO<>'-1'
			BEGIN
				print 'Blank Record '				
			END			
		SET @MIT_CODE=@IT_CODE
		SET @MCHAPNO=@CHAPNO
		SET @MITGRID=@ITGRID
		
		SET @CURRDT =@SDATE
		SET @V1=0
		SET @MOPBAL=0
		SET @MLOPBAL=0
		
		
		SELECT @MOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN QTY ELSE -QTY END),@MLOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN U_LQTY ELSE -U_LQTY END)  FROM #LSTEXC1 WHERE ((DATE<@SDATE AND ENTRY_TY<>'OS') OR (ENTRY_TY='OS')) AND @MCHAPNO=HSNCODE 
		SET @BALANCE=CASE WHEN @MOPBAL IS NOT NULL  THEN @MOPBAL ELSE 0 END
		SET @LBALANCE=CASE WHEN @MLOPBAL IS NOT NULL  THEN @MLOPBAL ELSE 0 END

		SET @OPBAL=@BALANCE
		SET @LOPBAL=@LBALANCE
		
		IF @OPBAL+@LOPBAL<>0
		BEGIN
			INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,HSNCODE,ITGRID,TRAN_CD) VALUES ('OS',@SDATE,' ',@OBACID,@IT_CODE,@OPBAL,0,0,@BALANCE,@LOPBAL,0,0,@LBALANCE,' ','+',@CHAPNO,@ITGRID,0)
			SET @CURRDT=@CURRDT+1
		END	
	END

	SET @RECEIPT=0
	SET @ISSUE=0
	
	SET @LRECEIPT=0
	SET @LISSUE=0
	
	IF @PMKEY='+'
	BEGIN
		SET @RECEIPT=@QTY
		SET @LRECEIPT=@U_LQTY
	END
	IF @PMKEY='-'
	BEGIN
		SET @ISSUE=@QTY
		SET @LISSUE=@U_LQTY
	END

	IF (@DATE>=@SDATE  AND @ENTRY_TY<>'OS')
	BEGIN
		SET @V1=0		
		WHILE @CURRDT<@DATE
		BEGIN			
			SET @CURRDT=@CURRDT+1
		END		
		SET @CURRDT=@DATE+1

		SET @BALANCE=@BALANCE+@RECEIPT-@ISSUE
		SET @LBALANCE=@LBALANCE+@LRECEIPT-@LISSUE
		
		INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,HSNCODE,ITGRID,TRAN_CD) VALUES (@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@OPBAL,@RECEIPT,@ISSUE,@BALANCE,@LOPBAL,@LRECEIPT,@LISSUE,@LBALANCE,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD)

		SET @OPBAL=@BALANCE
		SET @LOPBAL=@LBALANCE
	END
	
	FETCH NEXT FROM RG1_DC_CURSOR INTO 
	@ENTRY_TY,@DATE,@DOC_NO,@AC_ID,@IT_CODE,@QTY,@U_LQTY,@ITSERIAL,@PMKEY,@CHAPNO,@ITGRID,@TRAN_CD

END 


CLOSE RG1_DC_CURSOR
DEALLOCATE RG1_DC_CURSOR

IF @V1>0
BEGIN
		SET @MIT_CODE=@IT_CODE
		SET @MCHAPNO=@CHAPNO
		SET @MITGRID=@ITGRID
		SET @CURRDT =@SDATE
		SET @V1=0
		SET @MOPBAL=0
		SET @MLOPBAL=0
		
		SELECT @MOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN QTY ELSE -QTY END),@MLOPBAL=SUM(CASE WHEN (PMKEY='+' ) THEN U_LQTY ELSE -U_LQTY END)  FROM #LSTEXC1 WHERE ((DATE<@SDATE AND ENTRY_TY<>'OS') OR (ENTRY_TY='OS')) AND @MCHAPNO=HSNCODE 
		SET @BALANCE=CASE WHEN @MOPBAL IS NOT NULL  THEN @MOPBAL ELSE 0 END
		SET @LBALANCE=CASE WHEN @MLOPBAL IS NOT NULL  THEN @MLOPBAL ELSE 0 END

		SET @OPBAL=@BALANCE
		SET @LOPBAL=@LBALANCE
		IF @OPBAL+@LOPBAL<>0
		BEGIN				
			INSERT INTO #LSTEXC (ENTRY_TY,DATE,DOC_NO,AC_ID,IT_CODE,OPBAL,RECEIPT,ISSUE,BALANCE,LOPBAL,LRECEIPT,LISSUE,LBALANCE,ITSERIAL,PMKEY,HSNCODE,ITGRID,TRAN_CD) VALUES ('OS',@SDATE,' ',@OBACID,@IT_CODE,@OPBAL,0,0,@BALANCE,@LOPBAL,0,0,@LBALANCE,' ','+',@CHAPNO,@ITGRID,0)
			SET @CURRDT=@CURRDT+1
		END		
		WHILE @CURRDT<=@EDATE
		BEGIN						
			SET @CURRDT=@CURRDT+1
		END

END	
ELSE
BEGIN
	
	
	WHILE @CURRDT<=@EDATE
	BEGIN				
		SET @CURRDT=@CURRDT+1
	END

END		


DELETE FROM #LSTEXC WHERE HSNCODE='-1'
SELECT A.HSNCODE,A.ITGRID,b.EXPOTYPE,A.IT_CODE,C.IT_NAME,A.OPBAL, A.RECEIPT,A.ISSUE,A.BALANCE,A.LRECEIPT,A.LISSUE,A.LOPBAL,A.LBALANCE,A.ENTRY_TY,A.DATE,A.DOC_NO,D.AC_NAME AS PARTY_NM,A.TRAN_CD,A.ITSERIAL,
B.TAX_NAME,VWM.[RULE],U_CHOICE=isnull(B.U_CHOICE,0),B.INV_SR,B.GRO_AMT GRO_AMT1,U_173H=0,C.TYPE,C.[GROUP],A.hsncode,C.EIT_NAME,E.U_ASSEAMT,e.cgst_amt as EXAMT,E.cgst_per as U_BASDUTY,E.sgst_per as U_CESSPER,E.sgst_amt as U_CESSAMT,E.igst_amt as U_HCESAMT,E.igst_per as U_HCESSPER,U_EXAMT=0,E.GRO_AMT,
U_CAMT=0,U_LEXAMT=0,U_CLRATE=0,U_CRATE=0,U_MCOSTAMT=0,U_MCOSTRT=0,NARR=' '
,OPINVNO=VWM.INV_NO,VWM.INV_NO
,bond_no=isnull(b.bond_no,'')
,C.It_desc 
FROM #LSTEXC A
LEFT JOIN STKL_VW_MAIN VWM ON (A.TRAN_CD=VWM.TRAN_CD    AND A.ENTRY_TY=VWM.ENTRY_TY)
LEFT JOIN STITEM E ON (A.TRAN_CD=E.TRAN_CD  AND A.ITSERIAL=E.ITSERIAL  AND A.ENTRY_TY=E.ENTRY_TY)
LEFT JOIN STMAIN B ON (A.TRAN_CD=B.TRAN_CD AND A.ENTRY_TY=B.ENTRY_TY)
LEFT JOIN IT_MAST C ON (A.IT_CODE=C.IT_CODE)
LEFT JOIN AC_MAST D ON (A.AC_ID=D.AC_ID)
LEFT JOIN STKL_VW_ITEM SI ON(A.TRAN_CD=SI.TRAN_CD AND A.ENTRY_TY=SI.ENTRY_TY AND A.ITSERIAL=SI.ITSERIAL)
ORDER BY A.hsncode,A.DATE,(CASE WHEN A.ENTRY_TY='OS' THEN 'A' ELSE (CASE WHEN a.PMKEY='+' THEN 'B' ELSE 'C' END) END),A.TRAN_CD,A.ITSERIAL
		
DROP TABLE #LSTEXC
DROP TABLE #LSTEXC1
DROP TABLE #LSTEXC2
SET QUOTED_IDENTIFIER ON


